<div class="fixed-table-container">
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">发布媒体</th>
                <th class="text-center">广告名称</th>
                <th class="text-center">广告类别</th>
                <th class="text-center">发布时间</th>
                <th class="text-center">发布类型</th>
                <th class="text-center">违法类型</th>
                <th class="text-center">发布时长（秒）</th>
                <th class="text-center">创建人</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="tvissueList" item="tvissue">
                <tr class="mediaTr">
                    <td class="text-center">{$tvissue.k}</td>
                    <td class="text-center">{$tvissue.fmedianame}</td>
                    <td class="text-center" title="点击查看广告详情">
                        <span class="adname">{$tvissue.fadname}-{$tvissue.fversion}</span>
                    </td>
                    <td class="text-center">{$tvissue.adclass_code}</td>
                    <td class="text-center">{$tvissue.fstarttime}</td>
                    <td class="text-center">{$tvissue.fissuetype}</td>
                    <td class="text-center">{$tvissue.fillegaltype}</td>
                    <td class="text-center">{$tvissue.flength}</td>
                    <td class="text-center">{$tvissue.fcreator}</td>
                    <td class="text-center">{$tvissue.fcreatetime}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-xs btn-primary issVideo" issid="{$tvissue.ftvissueid}"><i class="fa fa-video-camera"></i> 播放</button>
                        <button type="button" class="btn btn-xs btn-primary mediaName" id="{$tvissue.ftvissueid}"><i class="fa fa-info"></i> 详情</button>
                    </td>
                </tr>
            </foreach>
            <empty name="tvissueList">
                <tr class="h5 text-center text-primary">
                    <td colspan="9">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
