<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>客户媒体抽取</title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <style>
    .el-input.is-disabled .el-input__inner,.el-textarea.is-disabled .el-textarea__inner{
      color: #000;
    }
    .el-button+.el-button{
      margin: 0;
    }
    .mediaBtn{
      margin: 5px!important;
    }
    body{
      background-color: #fff;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-form :inline="true">
      <el-form-item label="创建人">
        <el-autocomplete v-model="where.wx_id" :fetch-suggestions="searchAlias" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="where.state" placeholder="" filterable clearable>
          <el-option label="尚未开始" value="0"></el-option>
          <el-option label="正在进行" value="1"></el-option>
          <el-option label="完成" value="2"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="抽取日期">
        <el-date-picker v-model="where.task_date" type="daterange" placeholder="选择日期" format="yyyy 年 MM 月 dd 日"
          value-format="yyyy-MM-dd" clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item label="备注">
        <el-input v-model="where.remark"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getTable">搜索</el-button>
        <el-button @click="resetWhere">重置搜索条件</el-button>
        <el-button @click="addTask" type="success">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table border stripe height="80vh" :data="table">
      <el-table-column label="创建人">
        <template slot-scope="scope">
          <span v-html="scope.row.wx_id"></span>
        </template>
      </el-table-column>
      <el-table-column label="创建日期" prop="create_date">
      </el-table-column>
      <el-table-column label="抽取日期" prop="task_date">
      </el-table-column>
      <el-table-column label="媒体列表">
        <template slot-scope="scope">
          <el-popover placement="right" width="400" trigger="click" @show="getMediaList(scope.row)">
            <div style="height: 300px;overflow: auto;">
              <el-button v-for="(item, index) in scope.row.mediaList" style="margin: 5px;">{{item}}</el-button>
            </div>
            <el-button slot="reference">查看</el-button>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="备注" prop="remark">
      </el-table-column>
      <el-table-column label="状态" prop="state">
      </el-table-column>
      <el-table-column label="进度">
        <template slot-scope="scope">
          <el-progress :percentage="isNaN(scope.row.progress) ? 0 : +scope.row.progress" @click.native="checkProgress(scope.row)"></el-progress>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @size-change="pageSizeChange" @current-change="pageChange" :current-page="page" :page-sizes="[10 ,50, 100, 200, 400]"
      :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>
    <el-dialog title="详情" :visible.sync="showTaskInfo" width="80%">
      <task :id="currentId" ref="taskInfo" @success="updateSuccess" @error="updateField"></task>
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script>
    let mediaLabelList = {$mediaLabelList};
    let regionTree = {$regionTree};
    let mediaClassTree = {$mediaClassTree};
  </script>
  <script src="/Application/TaskInput/View/CustomerAdIssueTask/js/task.js?3112"></script>
  <script src="/Application/TaskInput/View/CustomerAdIssueTask/js/index.js?1221123"></script>
</body>

</html>