<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>配置管理</title>
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="wrapper" id="app">
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>配置键</th>
        <th>配置值</th>
        <th>说明</th>
        <th width="100">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(item, index) in table">
        <td>
            <span v-if="item.type === 'show'">{{item.fkey}}</span>
            <input v-else type="text" class="form-control" v-model="item.fkey" placeholder="请输入键名,不可更改" :disabled="item.type === 'edit'">
        </td>
        <td>
            <span v-if="item.type === 'show'">{{item.fvalue}}</span>
            <input v-else type="text" class="form-control" v-model="item.fvalue" placeholder="请输入键值, 可更改">
        </td>
        <td>
            <span v-if="item.type === 'show'">{{item.fremark}}</span>
            <input v-else type="text" class="form-control" v-model="item.fremark" placeholder="请输入说明">
        </td>
        <td>
            <button class="btn btn-primary" v-if="item.type === 'show'" @click="item.type = 'edit'">修改</button>
            <button class="btn btn-primary" v-else @click="save(index)">保存</button>
        </td>
    </tr>
    </tbody>
</table>
    <button class="btn btn-primary" @click="addItem">添加</button>
</div>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/layer/3.1.0/layer.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: function () {
            return{
                table: []
            }
        },
        created: function () {
            this.getTable()
        },
        methods:{
            getTable: function () {
                $.post('').then((res) => {
                    this.table = res.table
                })
            },
            addItem: function () {
                this.table.push({type: 'add'})
            },
            save: function (index) {
                const data = this.table[index]
                layer.confirm('确认保存?', (index) => {
                    $.post('postSysConfig', data).then((res) => {
                        if (res.code != 0){
                            layer.msg(res.msg)
                        }else{
                            this.getTable()
                        }
                    })
                    layer.close(index)
                })
            }
        }
    })
</script>
</body>
</html>