<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公证列表</title>
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/Admin/View/Fapplicant/css/index.min.css">
  <link rel="stylesheet" href="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.css">
</head>
<body>
  <div id="app">
    <el-form :model="form" ref="sform" inline>
    </el-form>
    <el-radio-group v-model="form.fstatus" @change="getList()">
      <el-radio-button :label="key" v-for="(value,key) in fstatus" :key="key">{{value.label}}</el-radio-button>
    </el-radio-group>
    <el-table :data="tableData" border stripe :height="tableHeight" v-loading="loading" @row-click="openDetail">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column prop="" label="公证类型" width="130">
        <template slot-scope="scope">
          <el-tag :type="ftype[scope.row.ftype].type">{{ftype[scope.row.ftype].label}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="fentname" label="机构名称/申办人">
        <template slot-scope="scope">
          {{ Number(scope.row.ftype) === 0 ? scope.row.fentname : scope.row.fusername }}
        </template>
      </el-table-column>
      <el-table-column prop="fcreditid" label="统一社会信用代码/身份证">
        <template slot-scope="scope">
          {{ Number(scope.row.ftype) === 0 ? scope.row.fcreditid : scope.row.fidcard }}
        </template>
      </el-table-column>
      <el-table-column prop="fpostusername" label="收件人"></el-table-column>
      <el-table-column prop="fcreatetime" label="下单时间"></el-table-column>
      <el-table-column prop="" label="公证费/实付费">
        <template slot-scope="scope">
          {{scope.row.fmoney}} / {{scope.row.fzkmoney}}
        </template>
      </el-table-column>
      <el-table-column prop="" label="操作" width="220px" v-if="form.fstatus === '1'">
        <template slot-scope="scope">
          <el-button type="text" class="warning" @click.stop="getTrack(scope.row.fapplicantid)">追加日志</el-button>
          <el-button type="text" class="success" @click.stop="getEvidence(scope.row)">确认收货</el-button>
          <el-button type="text" @click.stop="changeInfo(scope.row)">修改</el-button>
          <el-button type="text" class="danger" @click.stop="deleteEvidence(scope.row)">删除</el-button>
          <!-- <el-popover
            placement="left"
            width="400"
            trigger="hover"
            style="margin-left:10px;"
            v-if="scope.row.flog != ''">
            <div style="max-height: 300px; overflow: auto;">
              <p v-for="(item,index) in scope.row.flog" :key="index">{{item}}</p>
            </div>
            <el-button slot="reference" type="text" class="warning" @click.stop>日志</el-button>
          </el-popover> -->
        </template>
      </el-table-column>
    </el-table>
    <div style="text-align: right;margin-top: 8px;">
      <el-pagination background @size-change="pageSizeChange" @current-change="getList" :current-page="page.pageIndex" :page-sizes="[20, 50, 100, 200, 500]"
        :page-size="page.pageSize" layout="total, prev, pager, next, sizes" :total="total">
      </el-pagination>
    </div>
    <el-drawer
      title="公证信息"
      :visible.sync="detailVisible"
      v-if="detailVisible"
      direction="ltr"
      size="1000px"
      :before-close="handleClose">
      <div class="info-drawer" style="padding: 0 10px;overflow: auto;height: calc(100vh - 88px)">
        <el-col :span="24">
          <el-col :span="24">
            <div style="margin-bottom: 10px;height: 100%;display: flex;">
              <!-- 基本信息 -->
              <div style="width: 49.5%">
                <el-card :body-style="{ padding: '10px' }" shadow="never" style="height: 100%">
                  <div slot="header">
                    <span>基本信息</span>
                  </div>
                  <el-form label-width="100px">
                    <el-form-item label="类型：">{{ftype[details.ftype].label}}</el-form-item>
                    <el-form-item label="是否邮寄：">{{fispost[details.fispost].label}}</el-form-item>
                    <el-form-item label="公证书数量：">{{details.fnotarials}}</el-form-item>
                    <el-form-item label="用途：">{{details.fusage}}</el-form-item>
                  </el-form>
                </el-card>
              </div>
              <div style="width: 1%"></div>
              <!-- 收件人信息 -->
              <div style="width: 49.5%">
                <el-card :body-style="{ padding: '10px' }" shadow="never" style="height: 100%">
                  <div slot="header">
                    <span>收件人信息</span>
                  </div>
                  <el-form label-width="90px">
                    <el-form-item label="收件人：">{{details.fpostusername}}</el-form-item>
                    <el-form-item label="手机号码：">{{details.fpostmobile}}</el-form-item>
                    <el-form-item label="地址：">{{details.fpostaddress}}</el-form-item>
                    <el-form-item label="备注：">{{details.fremark}}</el-form-item>
                  </el-form>
                </el-card>
              </div>
            </div>
          </el-col>

          <el-col :span="24">
            <!-- 申办人信息 -->
            <el-card :body-style="{ padding: '10px' }" shadow="never" v-if="details.ftype === '1'">
              <div slot="header">
                <span>申办人信息</span>
              </div>
              <el-form label-width="120px">
                <el-form-item label="申办人：">{{details.fusername}}</el-form-item>
                <el-form-item label="手机号码：">{{details.fmobile}}</el-form-item>
                <el-form-item label="身份证：">{{details.fidcard}}</el-form-item>
                <el-form-item label="申办人身份证：">
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fidcardurl" alt="图片加载失败">
                    <p>身份证正面</p>
                  </div>
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fidcardurl2" alt="图片加载失败">
                    <p>身份证反面</p>
                  </div>
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fidcardfeelurl" alt="图片加载失败">
                    <p>手持身份证</p>
                  </div>
                </el-form-item>
              </el-form>
            </el-card>
            <!-- 机构信息 -->
            <el-card :body-style="{ padding: '10px' }" shadow="never" v-if="details.ftype === '0'">
              <div slot="header">
                <span>机构信息</span>
              </div>
              <el-form label-width="120px">
                <el-form-item label="机构名称：">{{details.fentname}}</el-form-item>
                <el-form-item label="负责人：">{{details.fegalperson}}</el-form-item>
                <el-form-item label="统一社会信用代码：" label-width="140px">{{details.fcreditid}}</el-form-item>
                <el-form-item label="负责人身份证：" label-width="140px">{{details.fegalidcard}}</el-form-item>
                <el-form-item label="身份证照片：">
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fegalidcardurl" alt="图片加载失败">
                    <p>法人身份证正面</p>
                  </div>
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fegalidcardurl2" alt="图片加载失败">
                    <p>法人身份证反面</p>
                  </div>
                </el-form-item>
                <el-form-item label="营业执照：">
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fenturl" alt="图片加载失败">
                    <p>营业执照</p>
                  </div>
                </el-form-item>
              </el-form>
            </el-card>
            <!-- 代办人信息 -->
            <el-card :body-style="{ padding: '10px' }" shadow="never" v-if="details.ftype === '0'">
              <div slot="header">
                <span>代办人信息</span>
              </div>
              <el-form label-width="120px">
                <el-form-item label="代办人：">{{details.fusername}}</el-form-item>
                <el-form-item label="职务：">{{details.fposition}}</el-form-item>
                <el-form-item label="手机：">{{details.fmobile}}</el-form-item>
                <el-form-item label="身份证：">{{details.fidcard}}</el-form-item>
                <el-form-item label="身份证照片：">
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fidcardurl" alt="图片加载失败">
                    <p>身份证正面</p>
                  </div>
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fidcardurl2" alt="图片加载失败">
                    <p>身份证反面</p>
                  </div>
                  <div class="card-item" v-viewer="{'toolbar': false,'navbar': false, 'zIndex': 4004}">
                    <img :src="details.fidcardfeelurl" alt="图片加载失败">
                    <p>手持身份证照片</p>
                  </div>
                </el-form-item>
              </el-form>
            </el-card>
          </el-col>
        </el-col>

        <el-col :span="24">
          <el-card :body-style="{ padding: '10px' }" shadow="never" style="height: 100%">
            <div slot="header">
              <span>存证信息</span>
            </div>
            <el-card :body-style="cardBody"
              shadow="never"
              v-for="(item,index) in detailData"
              :key="index">
              <div class="card-row">
                <div class="card-image card-image-row">
                  <img :src="item.screenshot">
                </div>
                <div class="card-info card-info-box">
                  <p>存证码：{{item.rid}}</p>
                  <p>MD5码：{{item.md5}}</p>
                  <p>存证时间：{{item.cdate}}</p>
                  <p class="link-url" @click="urlLink(item.url)">
                  {{item.url}}
                  </p>
                </div>
                <div class="card-operating card-operating-box">
                  <el-row>
                    <a :href="item.screenshot"
                      target="_blank">
                      <el-button type="text">快照</el-button>
                    </a>
                  </el-row>
                  <el-row>
                    <el-button type="text" @click="download(item.rid)">下载资源包</el-button>
                  </el-row>
                  <el-row>
                    <el-button type="text" @click="downloadPdf(item.rid)">下载存管涵</el-button>
                  </el-row>
                </div>
              </div>
            </el-card>
          </el-card>
        </el-col>

        <el-col :span="24">
          <!-- 跟踪信息 -->
          <el-card :body-style="{ padding: '10px' }" shadow="never">
            <div slot="header">
              <span>跟踪信息</span>
            </div>
            <div style="color:#666;"  v-if="details.flog">
              <p v-for="(item,index) in splitObj(details.flog)" :key="index">{{item}}</p>
            </div>
            <p v-else style="font-size: 14px;padding-left:10px">暂无信息</p>
            </el-card>
        </el-col>
      </div>
    </el-drawer>
    <el-drawer
      title="修改信息"
      :visible.sync="changeVisible"
      direction="ltr"
      :close-on-press-escape="false"
      :wrapper-closable="false"
      :before-close="handleClose">
      <div style="padding: 20px">
        <el-form :model="changeForm" ref="changeForm" label-width="80px">
          <el-form-item label="实付款：">
            <el-input v-model="changeForm.fzkmoney"></el-input>
          </el-form-item>
          <el-form-item label="收件人：">
            <el-input v-model="changeForm.fpostusername"></el-input>
          </el-form-item>
          <el-form-item label="手机：">
            <el-input v-model="changeForm.fpostmobile"></el-input>
          </el-form-item>
          <el-form-item label="地址：">
            <el-input v-model="changeForm.fpostaddress" type="textarea"></el-input>
          </el-form-item>
          <el-form-item label="备注：">
            <el-input v-model="changeForm.fremark" type="textarea"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">提 交</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-drawer>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/v-viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
  <script src="/Application/Admin/View/Fapplicant/js/index.js"></script>
</body>
</html>