<template>
  <div class="recheckapproval-list main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记表：">
            <el-input v-model="form.fname"
              placeholder="请输入登记表名称关键字"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.fmodifytime"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      :data="tableData.list"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column label="登记表名称">
        <template slot-scope="scope">
          <el-tag type="info"
            v-if="Number(scope.row.freminderstate)">催办</el-tag>
          <el-tag type="warning"
            v-if="Number(scope.row.fsupervisestate)">监督</el-tag>
          <el-tag type="danger"
            v-if="Number(scope.row.fenforcementstate)">执法监督</el-tag>
          {{scope.row.fname}}
        </template>
      </el-table-column>
      <el-table-column prop="fregistercontents"
        label="登记摘要"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregisterpersonname"
        label="签批人">
      </el-table-column>
      <el-table-column prop="fcreatetime"
        label="签批日期">
      </el-table-column>
      <el-table-column label="状态"
        min-width="80">
        <template slot-scope="scope">
          {{ fstate[scope.row.fstate] }}
        </template>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80">
        <template slot-scope="scope">
          <el-button @click.native.prevent="_details(scope.row)"
            type="text"
            icon="el-icon-info">
            详情
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(tableData.count)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <tz-form :back="true"
      :fid="fid"
      v-if="showDialog"
      @close="_closeDialog">
    </tz-form>
  </div>
</template>
<script>
import tzForm from './tzForm'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    tzForm
  },
  created() {
    this._getList()
  },
  data() {
    return {
      //搜索条件
      form: {
        page: 1,
        fmodifytime: ''
      },
      tableData: {},
      loading: false,
      showDialog: false,
      registrationForm: {},
      fid: '',
      fstate: {
        '0': '待登记',
        '10': '草稿箱',
        '11': '登记待签批',
        '12': '登记签批退回',
        '13': '处置退回',
        '20': '线索待处置',
        '21': '处置待签批',
        '22': '处置签批退回',
        '23': '反馈退回',
        '28': '线索承办',
        '30': '线索待反馈',
        '31': '反馈待签批',
        '32': '反馈签批退回',
        '40': '处理完成',
        '50': '线索待办结',
        '51': '办结待签批',
        '52': '办结签批退回',
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    /**
     * 获取列表
     */
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + '/Agp/Fxsgenzong/getledger', qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.tableData.list.map(item => {
              if (item.fcreatetime) {
                item.fcreatetime = item.fcreatetime.substring(0, 10)
              }
              return item
            })
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$message.error('获取列表失败')
          this.loading = false
        })
    },
    _closeDialog() {
      this.showDialog = false
      setTimeout(() => {
        this._getList()
      }, 500)
    },
    _details(item) {
      this.showDialog = true
      this.fid = item.fid
    }
  }
}
</script>