<template>
  <div class="clue-feedback main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记表：">
            <el-input v-model="form.fname"
              placeholder="请输入登记表名称关键字"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.fmodifytime"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="来源：">
            <el-select v-model="form.status"
              style="width:99%">
              <el-option label="全部"
                value="0">全部</el-option>
              <el-option label="提交"
                value="1"></el-option>
              <el-option label="退回"
                value="2"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      :data="tableData"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column label="登记表名称"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <el-tag type="info"
            v-if="Number(scope.row.freminderstate)">催办</el-tag>
          <el-tag type="warning"
            v-if="Number(scope.row.fsupervisestate)">监督</el-tag>
          <el-tag type="danger"
            v-if="Number(scope.row.fenforcementstate)">执法监督</el-tag>
          {{scope.row.fname}}
        </template>
      </el-table-column>
      <el-table-column prop="fregistercontents"
        label="登记摘要"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregisterpersonname"
        label="登记人"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregistertime"
        label="登记日期">
      </el-table-column>
      <el-table-column label="状态"
        width="80">
        <template slot-scope="scope">
          <el-button type="text">
            <el-tag type="danger"
              v-if="Number(scope.row.fback)">退 回</el-tag>
            <el-tag v-if="!Number(scope.row.fback)">提 交</el-tag>
          </el-button>
        </template>
      </el-table-column>
      <el-table-column prop="date"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_feedBack(scope.row)">
            详 情
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <fb-form wstype="10"
      ref="firstTrial"
      :back="true"
      :fid="fid"
      v-if="showDialog"
      @close="_closeDialog">
    </fb-form>
  </div>
</template>
<script>
import fbForm from './fbForm'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    fbForm
  },
  data() {
    return {
      // 搜索表单数据
      form: {
        page: 1,
        fmodifytime: '',
        status: '全部'
      },
      // 列表及session数据
      tableData: [],
      loading: false,
      registrationdata: {},
      formData: {},
      countAll: '0',
      fid: '',
      showDialog: false
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + '/Agp/Fxsfankui/index', qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.fregistertime) {
                item.fregistertime = item.fregistertime.substring(0, 10)
              }
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _feedBack(item) {
      this.fid = item.fid;
      this.showDialog = true;
    },
    _closeDialog() {
      this.showDialog = false;
      setTimeout(() => {
        this._getList()
      }, 500)
    },
  }
}
</script>
