<template>
  <div class="registration-list main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记表：">
            <el-input v-model="form.fname"
              placeholder="请输入登记表名称关键字"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.fmodifytime"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记来源：">
            <el-select v-model="form.status"
              style="width:100%">
              <el-option label="全部"
                value="0"></el-option>
              <el-option label="待登记"
                value="1"></el-option>
              <el-option label="退回"
                value="2"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      :data="tableData.list"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column label="登记表名称"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fname}}
        </template>
      </el-table-column>
      <el-table-column prop="fregistercontents"
        label="登记摘要"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="来源"
        min-width="80">
        <template slot-scope="scope">
          <el-button type="text">
            <el-tag v-if="scope.row.fstate === '10'">保 存</el-tag>
            <el-tag type="danger"
              v-if="scope.row.fstate === '12'">退 回</el-tag>
          </el-button>
        </template>
      </el-table-column>
      <el-table-column prop="fcreatetime"
        label="登记日期"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="date"
        fixed="right"
        label="操作"
        width="80">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_registration(scope.row)">
            继续登记
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(tableData.count)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <registration-form ref="registrationForm"
      @close="_closeDialog"
      v-if="showDialog"
      :registrationdata="registrationdata"
      :isregistration="false">
    </registration-form>
  </div>
</template>
<script>
import registrationForm from '../clue/common/registrationForm'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    registrationForm
  },
  created() {
    this._getList()
  },
  data() {
    return {
      // 搜索表单
      form: {
        page: 1,
        fmodifytime: '',
        status: '全部'
      },
      // 列表数据
      tableData: {},
      loading: false,
      showDialog: false,
      registrationdata: {}
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    // 获取列表
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + '/Agp/Fxsdengji/get_registerlist', qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.tableData.list.map(item => {
              if (item.fcreatetime) {
                item.fcreatetime = item.fcreatetime.substring(0, 10)
              }
              return item
            })
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.loading = false
          this.$func._error('获取列表失败')
        })
    },
    // 关闭弹窗
    _closeDialog() {
      this.showDialog = false
      setTimeout(() => {
        this._getList()
      }, 500)
    },
    // 显示弹窗
    _registration(item) {
      this.showDialog = true
      setTimeout(() => {
        this.$refs.registrationForm._getRegDetails(item.fid)
      })
    }
  }
}
</script>
