<template>
  <div class="upload">
    <el-upload
      :multiple="multiple"
      :action="upOptions.up_server"
      :data="uploadOptions"
      :before-upload="_setKey"
      auto-upload
      :on-success="_uploadSuccess"
      :on-progress="_uploadProgress"
      :show-file-list="showFileList"
      :on-error="_uploadError">
      <el-button
        type="primary"
        @click="_getToken"
        :loading="uploading">点击上传</el-button>
      </el-upload>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    multiple: {
      default: true,
      type: Boolean
    },
    showFileList: {
      default: false,
      type: Boolean
    }
  },
  data() {
    return {
      uploading: false,
      uploadOptions: {},
      upOptions: {
        up_server: ""
      },
    }
  },
  created() {
    // _getToken()
  },
  methods: {
    /**
     * 获取上传七牛服务器和token
     */
    _getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _setKey(file) {
      const extArr = file.name.split('.')
      const ext = extArr.length > 1 ? extArr.pop() : ''
      this.uploadOptions.key = `${file.uid}.${ext}`
    },
    _uploadSuccess(response, file, fileList) {
      this.uploading = false
      this.$emit('uploadSuccess', { file: file, url: this.bucket_url })
      this.$message.success('文件上传完成！')
    },
    _uploadError() {
      this.uploading = false
      this.$message.error('上传出错！')
      this.$emit('uploadError')
    },
    _uploadProgress() {
      this.uploading = true
      this.$emit('uploadProgress')
    },
  }
}
</script>

<style scoped>
.upload {
  margin-bottom: 10px;
}
</style>