<template>
  <div class="g-search">
    <el-form :model="form"
      inline
      label-width="90px">
      <el-form-item label="选择年：">
        <el-select v-model="form.years"
          placeholder="请选择"
          @change="$store.commit('_setSvalue',form)">
          <el-option label="全部"
            value="0"></el-option>
          <el-option v-for="item in years"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="时间段：">
        <el-select v-model="form.timetypes"
          placeholder="请选择"
          @change="_selectType"
          :disabled="form.years === '0'">
          <el-option v-for="item in timetypes"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="选择时间：">
        <el-select v-model="form.timeval"
          v-if="!isday"
          placeholder="请选择"
          @change="$store.commit('_setSvalue',form)"
          :disabled="form.years === '0'">
          <el-option v-for="item in commonData"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
        <el-date-picker :editable="false"
          v-else
          style="width:220px"
          v-model="searchDate"
          :picker-options="pickerOptions"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          align="right"
          :clearable="false"
          value-format="yyyy-MM-dd"
          @change="dayChange">
        </el-date-picker>
      </el-form-item>
      <el-form-item class="pull-right">
        <el-button type="primary"
          @click="_search"
          icon="el-icon-search"
          v-if="button">查询</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  props: {
    button: {
      default: false,
      type: Boolean
    }
  },
  data() {
    return {
      years: [],
      timetypes: [],
      weeks: [],
      halfmounth: [],
      months: [],
      season: [],
      halfyears: [],
      fullyear: [],
      commonData: [],
      keyvalue: {
        0: 'days',
        10: 'weeks',
        20: 'halfmounth',
        30: 'months',
        40: 'season',
        50: 'halfyears',
        60: 'fullyear',
      },
      form: {
        years: new Date().getFullYear(),
        timetypes: 30,
        timeval: 1
      },
      searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  computed: {
    isday() {
      return Number(this.form.timetypes) === 0
    }
  },
  created() {
    this._setYear()
    this._timetypes()
    this._setWeeks()
    this._setHalfMounth()
    this._setMonth()
    this._setSeason()
    this._setHalfYear()
    this._setFullYear()
    let years = this.$store.state.Gsearch.years
    let timetypes = this.$store.state.Gsearch.timetypes
    let timeval = this.$store.state.Gsearch.timeval
    if (this.$route.params.year) {
      this.form.years = this.$route.params.year
    } else {
      this.form.years = years
    }
    this.form.timetypes = timetypes
    this.form.timeval = timeval
    this.commonData = this[this.keyvalue[timetypes]]
    this.$store.commit('_setSvalue', this.form)
  },
  methods: {
    _selectType(val) {
      if (Number(val) === 0) {
        this.form.timeval = this.searchDate.join(',')
        this.$store.commit('_setSvalue', this.form)
      } else {
        this.commonData = this[this.keyvalue[val]]
        this.form.timeval = this.commonData[0]['value']
        this.$store.commit('_setSvalue', this.form);
      }
    },
    dayChange(val) {
      this.form.timeval = val.join(',')
      this.$store.commit('_setSvalue', this.form)
    },
    _setYear() {
      let date = new Date()
      let year = date.getFullYear()
      this.form.years = year
      for (let i = 0; i < 3; i++) {
        let obj = {}
        obj.label = year - i + '年'
        obj.value = year - i
        this.years.push(obj)
      }
    },
    _timetypes() {
      let arr = ['天', '周', '半月', '月', '季度', '半年', '年']
      arr.forEach((item, index) => {
        let obj = {}
        obj.label = item
        obj.value = index * 10
        this.timetypes.push(obj)
      })
    },
    _setWeeks() {
      for (let i = 1; i < 54; i++) {
        let obj = {}
        obj.label = `第${i}周`
        obj.value = i
        this.weeks.push(obj)
      }
    },
    _setHalfMounth() {
      let arr = ['月下半月', '月上半月']
      for (let i = 1; i < 25; i++) {
        let obj = {}
        obj.label = Math.ceil(i / 2) + arr[i % 2]
        obj.value = i
        this.halfmounth.push(obj)
      }
    },
    _setMonth() {
      for (let i = 1; i < 13; i++) {
        let obj = {}
        obj.label = `${i}月`
        obj.value = i
        this.months.push(obj)
      }
    },
    _setSeason() {
      for (let i = 1; i < 5; i++) {
        let obj = {}
        obj.label = `第${i}季度`
        obj.value = i
        this.season.push(obj)
      }
    },
    _setHalfYear() {
      let obj = {
        label: '上半年',
        value: 1
      }
      let obj2 = {
        label: '下半年',
        value: 2
      }
      this.halfyears.push(obj, obj2)
    },
    _setFullYear() {
      this.fullyear.push({
        label: '全年',
        value: 1
      })
    },
    _search() {
      this.$emit('search')
    }
  }
}
</script>