.mediaLabel {
    border: 1px solid #1ab394;
    padding: 3px 5px;
    border-radius: 3px;
    display: inline-block;
    margin: 8px 8px;
    cursor: pointer;
    -moz-user-select: none;
}

.mediaLabelActive {
    background-color: #1ab394;
    color: #fff;
}

.mediaLabel>input {
    display: none;
}

#Sstart,
#Send {
    width: 45%;
    display: inline-block;
}
#Send{
    margin-left:20px;
}