html{
  height: 100%;
  overflow: auto;
  background-color: #fff;
  body{
    margin: 0;
    height: 100%;
    overflow: auto;
    #app{
      opacity: 0;
      padding: 10px;
      .el-radio-group{
        margin-bottom: 10px;
      }
      .card-item{
        width: 200px;
        text-align: center;
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
        img{
          width: 200px;
          height: 120px;
        }
        p{
          margin: 0;
        }
      }
      .card-row {
        font-size: 14px;
        color: #606266;
        font-weight: bold;
        display: flex;
        .card-box {
          width: 70px;
        }
        .card-image {
          flex-shrink:0;
          width: 160px;
          padding: 0px 10px;
          img {
            width: 100%;
          }
        }
        .card-image-row {
          overflow: hidden;
          height: 130px;
          border: 1px solid #ccc;
        }
        .card-info {
          flex-grow: 1;
          padding: 0px 10px;
          p {
            margin: 8px 0;
            font-weight: bold;
          }
          .price{
            margin-left: 20px;
            color: #00C1DE;
          }
          .link-url{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #0000ee;
            cursor:pointer;
          }
        }
        .card-info-box {
          width: 60%;
          color: #666;
          p:nth-child(1) {
            font-size: 16px;
          }
        }
        .card-operating {
          width: 80px;
          text-align: center;
        }
        .card-operating-box {
          padding: 20px 0px;
        }
      }
      &/deep/.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
          margin-bottom: 10px;
      }






      .primary{
        color: #1AB394!important;
      }
      .danger{
        color: #F56C6C!important;
      }
      .warning{
        color: #E6A23C!important;
      }
      .info{
        color: #909399!important;
      }
      .success{
        color: #67C23A!important;
      }
    }
    .info-drawer{
      .el-card{
        margin-bottom: 10px;
      }
    }
  }
}