html {
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

html body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

html body #app {
  opacity: 0;
  padding: 10px;
}

html body #app .el-radio-group {
  margin-bottom: 10px;
}

html body #app .card-item {
  width: 200px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

html body #app .card-item img {
  width: 200px;
  height: 120px;
}

html body #app .card-item p {
  margin: 0;
}

html body #app .card-row {
  font-size: 14px;
  color: #606266;
  font-weight: bold;
  display: flex;
}

html body #app .card-row .card-box {
  width: 70px;
}

html body #app .card-row .card-image {
  flex-shrink: 0;
  width: 160px;
  padding: 0px 10px;
}

html body #app .card-row .card-image img {
  width: 100%;
}

html body #app .card-row .card-image-row {
  overflow: hidden;
  height: 130px;
  border: 1px solid #ccc;
}

html body #app .card-row .card-info {
  flex-grow: 1;
  padding: 0px 10px;
}

html body #app .card-row .card-info p {
  margin: 8px 0;
  font-weight: bold;
}

html body #app .card-row .card-info .price {
  margin-left: 20px;
  color: #00C1DE;
}

html body #app .card-row .card-info .link-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0000ee;
  cursor: pointer;
}

html body #app .card-row .card-info-box {
  width: 60%;
  color: #666;
}

html body #app .card-row .card-info-box p:nth-child(1) {
  font-size: 16px;
}

html body #app .card-row .card-operating {
  width: 80px;
  text-align: center;
}

html body #app .card-row .card-operating-box {
  padding: 20px 0px;
}

html body #app/deep/.el-form-item--mini.el-form-item, html body #app .el-form-item--small.el-form-item {
  margin-bottom: 10px;
}

html body #app .primary {
  color: #1AB394 !important;
}

html body #app .danger {
  color: #F56C6C !important;
}

html body #app .warning {
  color: #E6A23C !important;
}

html body #app .info {
  color: #909399 !important;
}

html body #app .success {
  color: #67C23A !important;
}

html body .info-drawer .el-card {
  margin-bottom: 10px;
}
