﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>行政区划管理</title>
	<link href="/Application/Admin/View/Region/css/index.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
</head>
<body>
	<div id="app">
		<el-row :gutter="10">
			<el-col :span="8">
				<el-card :body-style="{ padding: '10px', height: 'calc(100vh - 40px)', }" shadow="never">
					<div class="search">
						<el-input
							placeholder="输入关键字或编号进行过滤"
							v-model="filterText">
						</el-input>
					</div>
					<div class="tree-wrap" style="overflow: auto">
						<el-tree
							ref="tree"
							:data="regionTree"
							:props="props"
							:filter-node-method="filterNode"
							@node-click="nodeClick">
							<span class="custom-tree-node" slot-scope="{ node, data }">
								<span> <el-tag type="primary" size="mini">{{data.value}}</el-tag> {{ node.label }} </span>
								<span>
									<el-button
										type="text"
										size="mini"
										@click.stop="add(data)">
										添 加
									</el-button>
									<el-button
										type="text"
										size="mini"
										@click.stop="edit(data)">
										修 改
									</el-button>
									<el-button
										type="text"
										size="mini"
										@click.stop="deleteR(data)">
										删 除
									</el-button>
								</span>
							</span>
						</el-tree>
					</div>
				</el-card>
			</el-col>
			<el-col :span="12">
				<el-card :body-style="{ padding: '10px' }" shadow="never">
					<el-form label-width="120px">
						<el-form-item label="行政区划编码：">{{activeRow.fid}}</el-form-item>
						<el-form-item label="上级编码：">{{activeRow.fpid}}</el-form-item>
						<el-form-item label="行政区划名称：">{{activeRow.fname}}</el-form-item>
						<el-form-item label="行政区划简拼：">{{activeRow.fspell}}</el-form-item>
						<el-form-item label="行政区划全名：">{{activeRow.ffullname}}</el-form-item>
						<el-form-item label="创建人：">{{activeRow.fcreator}}</el-form-item>
						<el-form-item label="创建时间：">{{activeRow.fcreatetime}}</el-form-item>
						<el-form-item label="修改人：">{{activeRow.fmodifier}}</el-form-item>
						<el-form-item label="修改时间：">{{activeRow.fmodifytime}}</el-form-item>
					</el-form>
				</el-card>
			</el-col>
		</el-row>
		<el-drawer
			:title="isEdit ? '编 辑' : '添 加'"
			:visible.sync="drawer"
			direction="rtl"
			:modal="false"
			:before-close="handleClose"
			:wrapper-closable="false">
			<div class="drawer-content">
				<el-alert v-if="!isEdit" :title="`正在添加【${activeRow.fname}】的下级行政区划`" type="warning" :closable="false"></el-alert>
				<br>
				<el-form :model="form" ref="form" :rules="rules" label-width="120px">
					<el-form-item label="上级代码" prop="fpid">
						<el-input v-model="form.fpid" disabled></el-input>
					</el-form-item>
					<el-form-item label="行政区划代码" prop="fid">
						<el-input v-model="form.fid" :disabled="isEdit"></el-input>
					</el-form-item>
					<el-form-item label="名称" prop="fname">
						<el-input v-model="form.fname"></el-input>
					</el-form-item>
					<el-form-item label="全名" prop="ffullname">
						<el-input v-model="form.ffullname"></el-input>
					</el-form-item>
					<el-form-item label="级别" prop="flevel">
						<el-radio-group v-model="form.flevel">
							<el-radio-button :label="key" v-for="(value,key) in flevel" :key="key">{{value.label}}</el-radio-button>
						</el-radio-group>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="onSubmit">提 交</el-button>
					</el-form-item>
				</el-form>
			</div>
		</el-drawer>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
	<script src="/Application/Admin/View/Region/js/index.js"></script>
</body>
</html>