<table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
  <thead>
    <tr>
      <th class="text-center">序号</th>
      <th class="text-center">广告名称</th>
      <th class="text-center">版本说明</th>
      <th class="text-center">广告内容类别</th>
      <th class="text-center">发布媒介</th>
      <th class="text-center">发布日期</th>
      <th class="text-center">违法类型</th>
      <th class="text-center">复审结果</th>
      <th class="text-center">操作</th>
    </tr>
  </thead>
  <tbody>
    {//:var_dump($samList)}
    <foreach name="samList" item="sam">
      <tr>
        <td class="text-center">{$sam.k}</td>
        <td class="text-center" title="点击查看广告详情">{:r_highlight($sam['fadname'],I('keyword'),'red')}</td>
        <td class="text-center">{:r_highlight($sam['fversion'],I('keyword'),'red')}</td>
        <td class="text-center">{:r_highlight($sam['adclass_fullname'],I('keyword'),'red')}</td>
        <td class="text-center">{:r_highlight($sam['fmedianame'],I('keyword'),'red')}</td>
        <td class="text-center">{:substr($sam['fissuedate'],0,10)}</td>
        <td class="text-center"><neq name="sam.finspectstate" value="1">{$sam.fillegaltype}</neq></td>
        <td class="text-center">
          <eq name="sam.finputstate" value="2">未处理</eq>
          <eq name="sam.finputstate" value="4"><span class="text-primary">通过</span></eq>
          <eq name="sam.finputstate" value="5"><span class="text-danger">不通过</span></eq>
        </td>
        <td>
            <button class="mediaTr J_menuItem2 btn btn-xs btn-primary" href="{:U('Gongshang/Adrecheck/tvsample_edit',array('fid'=>$sam['fid']))}" title2="{$sam.fadname}">详情</button>
        </td>
      </tr>
    </foreach>
    <empty name="samList">
      <tr class="h5 text-center text-primary">
        <td colspan="10">没有找到您想要的数据！</td>
      </tr>
    </empty>
  </tbody>
</table>