html {
  overflow: hidden;
  height: 100vh;
}

html body {
  height: 100%;
}

html body #app .custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}

html body #app .tree-wrap {
  height: calc(100% - 40px);
  margin-top: 10px;
}

.drawer-content {
  padding: 20px;
}
