﻿
	<foreach name="regulatorList" item="regulator" >
	
		<li style="height:25px;">
			<i class="click-expand fa fa-plus ent_org" fid="{$regulator.fid}"></i>
			<span style="cursor:pointer;color:<eq name='regulator.fkind' value='2'>#1ab394</eq><eq name='regulator.fkind' value='1'>#1c84c6</eq>;" class="org_details" fid="{$regulator.fid}">{$regulator.fname} <span class="label label-primary pull-right">{$regulator.fcode}</span></span>
			
			
		</li>
		
		<ul id="{$regulator.fid}" style="margin-left: 20px;">
			 
		</ul>

	</foreach>
						