﻿<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>客户机构管理</title>

	<!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

	<link rel="shortcut icon" href="favicon.ico">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
	<link href="/Application/Admin/View/Public/org.css" rel="stylesheet">
	<link href="/Application/Admin/View/Public/common.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
	<style>
		.el-transfer-panel{
			width: 40%;
			height: 500px;
		}
		.transfer-footer{
			margin-left: 20px;
    	padding: 6px 5px;
		}
		.disabled{
			color:#FDA529;
		}
		.transfer-item{
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
		}
		.el-transfer-panel__list.is-filterable{
			padding-bottom: 40px;
			height: 395px;
		}
	</style>
</head>
<body class="gray-bg">
	<div id="app">
		<div class="wrapper wrapper-content">
			<div class="row">
				<div class="col-sm-4">
					<el-card class="box-card">
						<div slot="header" class="clearfix">
							<h3 class="pull-left">组织机构列表</h3>
						</div>
						<div>
							<div class="input-group" id="SEARCH">
								<input type="text" class="form-control input-sm" id="Org" placeholder="请输入机构名称">
								<div class="input-group-btn">
									<button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
								</div>
							</div>
							<br />
							<ul class="list-group" id="LIST" style="overflow-x:auto;overflow-y:auto;height:540px">
								<foreach name="regulatorList" item="regulator">
									<li style="height:25px">
										<i class="click-expand fa fa-plus ent_org" fid="{$regulator.fid}"></i>
										<span style="cursor:pointer" class="org_details" fid="{$regulator.fid}">{$regulator.fname} <span class="label label-primary pull-right">{$regulator.code}</span></span>
									</li>
									<ul id="{$regulator.fid}" style="margin-left: 20px;">
									</ul>
								</foreach>
							</ul>
						</div>
					</el-card>
				</div>
				<div class="col-sm-8">
					<el-card class="box-card">
						<div slot="header" class="clearfix">
							<h3 class="pull-left">组织机构详情</h3>
							<div class="pull-right">
								<el-button v-if="currentRegionid && ( permission.deleteOrgMedia || permission.addOrgMedia )" type="primary" @click="handleOrgPermission">媒介管理</el-button>
								<el-button v-if="permission.addOrg" type="primary" @click="handleOrgAddEdit()">新 增</el-button>
								<el-button v-if="currentRegionid && permission.editOrg" type="primary"  @click="handleOrgAddEdit(true)">修 改</el-button>
								<el-button  v-if="currentRegionid" type="primary" @click="showMenuDialog(null,true)">菜单管理</el-button>
							</div>
						</div>
						<table class="table table-striped table-hover table-bordered">
							<tbody>
								<tr>
									<td><a data-toggle="tab" href="#contact-1" class="client-link">组织机构名称</a></td>
									<td><span id="org_fname">{{regulatorDetails.fname}}</span></td>
								</tr>
								<tr>
									<td><a data-toggle="tab" href="#contact-1" class="client-link">组织机构全称</a></td>
									<td><span id="org_ffullname">{{regulatorDetails.ffullname}}</span></td>
								</tr>
								<tr>
									<td><a data-toggle="tab" href="#contact-1" class="client-link">所属行政区划</a></td>
									<td><span id="region_fullname">{{regulatorDetails.region_fullname}}</span></td>
								</tr>
								<tr>
									<td><a data-toggle="tab" href="#contact-1" class="client-link">组织机构类型</a></td>
									<td><span id="org_type">{{regulatorDetails.fkind ? (regulatorDetails.fkind === '1' ? '机构' : '部门') : ''}}</span></td>
								</tr>
								<tr>
									<td style="width:50%"><a data-toggle="tab" href="#contact-1" class="client-link">组织机构编码</a></td>
									<td><span id="org_fcode">{{regulatorDetails.fcode}}</span></td>
								</tr>
								<tr>
									<td style="width:50%"><a data-toggle="tab" href="#contact-1" class="client-link">个性化品牌</a></td>
									<td><span id="special_brand">{{regulatorDetails.special_brand}}</span></td>
								</tr>
								<tr>
									<td style="width:50%"><a data-toggle="tab" href="#contact-1" class="client-link">个性化首页</a></td>
									<td><span id="special_home_page">{{regulatorDetails.special_home_page}}</span></td>
								</tr>
								<tr>
									<td style="width:50%"><a data-toggle="tab" href="#contact-1" class="client-link">个性化LOGO</a></td>
									<td><span id="special_logo">{{regulatorDetails.special_logo}}</span></td>
								</tr>
								<tr>
									<td style="width:50%"><a data-toggle="tab" href="#contact-1" class="client-link">个性化网站标题</a></td>
									<td><span id="special_web_title">{{regulatorDetails.special_web_title}}</span></td>
								</tr>
								<tr style="display:none;">
									<td style="width:50%"><a data-toggle="tab" href="#contact-1" class="client-link">组织机构ID</a></td>
									<td><span id="org_fid">{{regulatorDetails.fid}}</span></td>
								</tr>
								<tr style="display:none;">
									<td><a data-toggle="tab" href="#contact-1" class="client-link">上级组织机构ID</a></td>
									<td><span id="org_fpid">{{regulatorDetails.fpid}}</span></td>
								</tr>
								<tr>
									<td><a data-toggle="tab" href="#contact-1" class="client-link">组织机构说明</a></td>
									<td>
										<pre id="org_fdescribe">{{regulatorDetails.fdescribe}}</pre>
									</td>
								</tr>
							</tbody>
						</table>
					</el-card>
				</div>
				<div class="col-sm-8">
					<!-- 组织机构人员 -->
					<el-card class="box-card">
							<div slot="header" class="clearfix">
								<h3 class="pull-left">组织机构人员</h3>
								<el-button v-if="permission.addPeople && currentRegionid" class="pull-right" type="primary" icon="el-icon-plus" @click="peopleEdit = true">新增</el-button>
							</div>
							<el-table :data="regulatorpersonList" border stripe height="300">
									<el-table-column type="index" width="50"></el-table-column>
									<el-table-column label="用户名">
										<template slot-scope="scope">
											<el-tag type="danger" size="mini" v-if="scope.row.fstate == 0">冻结</el-tag>
											<el-button type="text" @click="handleEditPeople(scope.row)">{{ scope.row.fname }}</el-button>
										</template>
									</el-table-column>
									<el-table-column prop="fmobile" label="手机"></el-table-column>
									<el-table-column prop="fcode" label="编码"></el-table-column>
									<el-table-column label="管理员" width="60">
										<template slot-scope="scope">{{ scope.row.fisadmin === '0' ? '否' : '是' }}</template>
									</el-table-column>
									<el-table-column prop="fdescribe" label="说明"></el-table-column>
									<el-table-column label="操作" width="215">
										<template slot-scope="scope">
											<el-button type="primary" @click="showMenuDialog(scope.row,false)">菜单</el-button>
											<el-button type="primary" @click="handlePermission(scope.row)">媒介</el-button>
											<el-popover
												v-if="permission.deletePeople"
												placement="left"
												width="200"
												v-model="scope.row.visible">
												<p>确认删除 <span class="text-danger">{{scope.row.fname}}</span>？</p>
												<div style="text-align: right; margin: 0">
													<el-button size="mini" type="text" @click="scope.row.visible = false">取消</el-button>
													<el-button type="primary" size="mini" @click="handleDeleteConfirm(scope.row.fid)">确定</el-button>
												</div>
												<el-button slot="reference" type="danger">删除</el-button>
											</el-popover>
										</template>
									</el-table-column>
								</el-table>
						</el-card>
				</div>
			</div>
		</div>
		<!-- 人员/机构菜单权限 -->
		<el-dialog
			center
			:title="(currentPeople.fname || regulatorDetails.fname) + ' 菜单权限'"
			:close-on-click-modal="false"
			:close-on-press-escape="false"
			:visible.sync="menuDialog"
			width="900px">
			<el-form inline>
				<el-form-item label="菜单">
					<el-radio-group v-model="menutype" @change="menuChange">
						<el-radio-button :label="item.me_id" :key="item.me_id" v-for="item in menuTypeList">{{ item.me_name }}</el-radio-button>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="客户" v-if="showCustomer">
					<el-radio-group v-model="fregionid" @change="handleMenuCustomerChange">
						<el-radio-button :label="item.fid" v-for="item in customerList" :key="item.fid">{{ item.fname }}</el-radio-button>
					</el-radio-group>
				</el-form-item>
			</el-form>
			<el-tree
				ref="tree"
				:data="menuList"
				show-checkbox
				node-key="menu_id"
				@check="checkChange"
				:default-checked-keys="personMenuList">
				<span class="custom-tree-node" slot-scope="{ node, data }">
					<span>{{ data.menu_name }}{{ data.menu_content? `（${data.menu_content}）` : '' }}</span>
				</span>
			</el-tree>
		</el-dialog>
		<!-- 机构媒介权限 -->
		<el-dialog
			:title="regulatorDetails.fname"
			center
			:close-on-click-modal="false"
			:close-on-press-escape="false"
			width="1000px"
			:visible.sync="orgMediaPermission"
			:before-close="handleDialogClose">
			<el-form inline>
				<el-form-item label="客户">
					<el-radio-group v-model="fregionid" @change="handleCustomerChange">
						<el-radio-button :label="item.fid" v-for="item in customerList" :key="item.fid">{{ item.fname }}</el-radio-button>
					</el-radio-group>
				</el-form-item>
			</el-form>
			<el-form inline>
				<el-form-item>
					<el-input v-model="mediaQuery.s_media" placeholder="搜索媒介"></el-input>
				</el-form-item>
				<el-form-item>
						<el-cascader
							placeholder="请选择地域"
							:options="areaTree"
							:props="props"
							change-on-select
							v-model="s_regionid">
						</el-cascader>
				</el-form-item>
				<el-form-item>
						<el-checkbox v-model="mediaQuery.this_region_id">仅本级</el-checkbox>
				</el-form-item>
				<el-form-item>
					<el-input v-model="mediaQuery.medialabel" placeholder="媒介标签"></el-input>
				</el-form-item>
				<el-form-item>
					<el-select v-model="mediaQuery.s_media_class" placeholder="">
						<el-option value="" label="媒介类型"></el-option>
						<foreach name="mediaclassList" item="mediaclass" >
							<el-option  value="{$mediaclass.fid}" label="{$mediaclass.fclass}"></el-option>
						</foreach>
					</el-select>
					<el-button type="primary" @click="handleSearchMedia" icon="el-icon-search"></el-button>
				</el-form-item>
			</el-form>
			<div v-loading="loading">
				<el-transfer @change="handleTransferChange" v-model="selectedOrgMedia" :data="orgMediaList" filterable :filter-method="filterMethod" filter-placeholder="搜索" :props="{key: 'fid',label: 'fmedianame'}" :titles="['搜索结果', '已关联媒介']" @right-check-change="rightCheckChange">
					<div slot-scope="{ option }" :class="(!Number(option.fstate) && option.fstate) ? 'disabled' : ''">
						<div :title="option.fmedianame + ((Number(option.fstate) || !option.fstate) ? '' : '（失效）')" class="transfer-item">
							{{ option.fmedianame }}【{{option.regionname}}，{{option.fclass}}】 {{(Number(option.fstate) || !option.fstate) ? '' : '（失效）'}}{{option.fisoutmedia === '1' ? '⭕' : ''}}
						</div>
					</div>
					<el-button class="transfer-footer" slot="right-footer" type="primary" @click="handleStatusUpdate('1')">启用</el-button>
					<el-button class="transfer-footer" slot="right-footer" type="warning" @click="handleStatusUpdate('0')">禁用</el-button>
					<el-button class="transfer-footer" slot="right-footer" type="info" @click="handleIsoutmediaUpdate('1')">外部媒体</el-button>
					<el-button class="transfer-footer" slot="right-footer" type="info" @click="handleIsoutmediaUpdate('0')">内部媒体</el-button>
				</el-transfer>
			</div>
		</el-dialog>
		<!-- 人员媒介权限 -->
		<el-dialog
			:title="currentPeople.fname"
			center
			:close-on-click-modal="false"
			:close-on-press-escape="false"
			width="1000px"
			:visible.sync="mediaPermission"
			:before-close="handleDialogClose">
			<el-form inline>
				<el-form-item label="客户">
					<el-radio-group v-model="fregionid" @change="getMediaList">
						<el-radio-button :label="item.fid" v-for="item in customerList" :key="item.fid">{{ item.fname }}</el-radio-button>
					</el-radio-group>
				</el-form-item>
			</el-form>
			<div v-loading="loading">
					<el-transfer v-model="selectedMedia" :data="mediaList" filterable :filter-method="filterMethod" filter-placeholder="搜索" :props="{key: 'fid',label: 'fmedianame'}" :titles="['未授权', '已授权']"></el-transfer>
			</div>
			<span slot="footer">
				<el-button type="primary" @click="handleConfirmPermission">确 定</el-button>
			</span>
		</el-dialog>
		<!-- 添加/编辑人员 -->
		<el-dialog
			:title="currentPeople.fid ? '编辑人员' : '添加人员'"
			center
			:close-on-click-modal="false"
			:close-on-press-escape="false"
			width="550px"
			:visible.sync="peopleEdit"
			:before-close="handleEditDialogClose">
			<el-form :model="peopleInfo" ref="peopleInfoForm" label-width="90px" :rules="rules">
				<el-form-item label="姓名" prop="fname">
					<el-input v-model="peopleInfo.fname"></el-input>
				</el-form-item>
				<el-form-item label="人员编码" prop="fcode">
					<el-input v-model="peopleInfo.fcode"></el-input>
				</el-form-item>
				<el-form-item label="角色" prop="fisadmin">
					<el-radio-group v-model="peopleInfo.fisadmin">
						<el-radio label="1">管理员</el-radio>
						<el-radio label="0">普通用户</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="职务">
					<el-input v-model="peopleInfo.fduties"></el-input>
				</el-form-item>
				<el-form-item label="联系手机">
					<el-input v-model="peopleInfo.fmobile"></el-input>
				</el-form-item>
				<el-form-item label="密码">
					<el-input v-model="peopleInfo.fpassword" type="password" autocomplete="off"></el-input>
				</el-form-item>
				<el-form-item label="人员说明">
					<el-input v-model="peopleInfo.fdescribe" type="textarea"></el-input>
				</el-form-item>
				<el-form-item label="客户">
					<el-checkbox-group v-model="peopleInfo.fcustomers">
						<el-checkbox :label="item.fid" v-for="item in customerList" :key="item.fid">{{item.fname}}</el-checkbox>
					</el-checkbox-group>
					<span style="font-size:12px;color: #f56c6c;">不选等同于全选</span>
				</el-form-item>
			</el-form>
			<span slot="footer">
				<el-button type="primary" @click="handleConfirmPeople">确 定</el-button>
			</span>
		</el-dialog>
		<!--修改信息弹窗-->
		<el-dialog
			:title="currentPeople.fid ? '编辑机构' : '添加机构'"
			center
			:close-on-click-modal="false"
			:close-on-press-escape="false"
			width="550px"
			:visible.sync="orgEdit"
			:before-close="handleEditDialogClose">
			<el-form :model="orgInfo" ref="orgInfoForm" label-width="110px" :rules="rules">
				<el-form-item label="组织机构名称" prop="fname">
					<el-input v-model="orgInfo.fname"></el-input>
				</el-form-item>
				<el-form-item label="组织机构类型" prop="fkind">
					<el-radio-group v-model="orgInfo.fkind">
						<el-radio label="1">机构</el-radio>
						<el-radio label="2">部门</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="组织机构编码" prop="fcode">
					<el-input v-model="orgInfo.fcode" type="number"></el-input>
				</el-form-item>
				<el-form-item label="所属行政区划">
					<el-cascader
						clearable
						placeholder="不选默认全国"
						:options="areaTree"
						:props="props"
						change-on-select
						v-model="regionid">
					</el-cascader>
				</el-form-item>
				<el-form-item label="授权品牌数据">
					<el-input v-model="orgInfo.special_brand" placeholder="多个品牌请使用“,”分隔"></el-input>
				</el-form-item>
				<el-form-item label="个性化首页">
						<el-input v-model="orgInfo.special_home_page" placeholder="不填将使用默认首页"></el-input>
				</el-form-item>
				<el-form-item label="个性化LOGO">
						<el-input v-model="orgInfo.special_logo" placeholder="推荐尺寸172*122"></el-input>
				</el-form-item>
				<el-form-item label="个性化网站标题">
						<el-input v-model="orgInfo.special_web_title" placeholder="网页标题"></el-input>
				</el-form-item>
				<el-form-item label="组织机构说明">
					<el-input v-model="orgInfo.fdescribe" type="textarea"></el-input>
				</el-form-item>
			</el-form>
			<span slot="footer">
				<el-button type="primary" @click="handleOrgAddEditConfirm">确 定</el-button>
			</span>
		</el-dialog>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
	<script src="/Application/Admin/View/Public/common.js"></script>
	<script>
		const AREA = {:json_encode($regionList)}
		;const DELETE_PEOPLE = {:A('Admin/Authority','Model')->authority('200178')} // 删除用户权限
		const EDIT_PEOPLE = {:A('Admin/Authority','Model')->authority('200177')} // 修改用户权限
		const ADD_PEOPLE = {:A('Admin/Authority','Model')->authority('200176')} // 添加用户权限
		const EDIT_ORG = {:A('Admin/Authority','Model')->authority('200175')} // 修改组织机构权限
		const ADD_ORG = {:A('Admin/Authority','Model')->authority('200174')} // 添加组织机构权限
		const DELETE_ORG_MEDIA = {:A('Admin/Authority','Model')->authority('200173')} // 删除客户媒介权限
		const ADD_ORG_MEDIA = {:A('Admin/Authority','Model')->authority('200172')} // 关联客户媒介权限
	</script>
	<script src="/Application/Admin/View/Regulator/js/script.js"></script>
	<script>
		"use strict";
		function getList(data,fcode){
			var i = 0;
			var length = data.length;
			function addList(){
				if(i < length){
					$.ajax({
						url:"{:U('Admin/Regulator/ajax_regulator_list')}",
						type:'POST',
						data:{'fid':data[i]},
						async:true,
						success:function(req2){
							$("#" + data[i]).html(req2);
							$("#" + data[i]).prev().find('.fa-plus').removeClass('fa-plus').addClass('fa-minus');
							$("#" + fcode).prev().find('span:nth(0)').css('color','red');
							if(i+1 == length){
								$('#LIST').scrollTop($("#" + fcode).prev().offset().top - 200)
							}
							i++;
							addList();
						}
					});
				}else{
					return false
				}
			}
			addList()
		}
		$(function () {
			// 自动补全
			var bsSuggest = $("#Org").bsSuggest({
					url: "/index.php?m=Admin&c=Regulator&a=get_regulator_list&fname=",				//URL请求地址
					getDataMethod: "url",		//URL方式请求
					idField: "fcode",           //每组数据的哪个字段作为 data-id，优先级高于 indexId 设置（推荐）
					keyField: "fname",        //每组数据的哪个字段作为输入框内容，优先级高于 indexKey 设置（推荐）
					allowNoKeyword: true,     //是否允许无关键字时请求数据
					showBtn: false,           //是否显示下拉按钮
					effectiveFields: ['fname'],            //有效显示于列表中的字段，非有效字段都会过滤，默认全部，对自定义getData方法无效
					// effectiveFieldsAlias: { fname: "设备名称", fcode: "设备编号" },//有效字段的别名对象，用于 header 的显示
					showHeader: false, //显示 header
			})
			$("#Org").on('onDataRequestSuccess', function (event, result) {
				//当 AJAX 请求数据成功时触发，并传回结果到第二个参数
				}).on('onSetSelectValue', function (e, keyword) {
				//当从下拉菜单选取值时触发，并传回设置的数据到第二个参数
				$.post('{:U("Admin/Regulator/get_pid_list")}',{'fcode':keyword.id},function(req){
					if(req.code == 0){
						getList(req.fpid,keyword.id);
					}
				})
			}).on('onUnsetSelectValue', function (e) {
					//当设置了 idField，且自由输入内容时触发（与背景警告色显示同步）
			})
			$('#Org').change(function(){
				$('#Org').attr({'data-id':'','alt':''});
				$('#LIST').find('li').find('.fa-minus').removeClass('fa-minus').addClass('fa-plus');
				$('#LIST').find('ul').empty();
			})
		})
		$('.confirmInput').click(function(){
			var data = {
				fcustomer: vm.fregionid,
				fregulatorcode: vm.currentRegionid
			}
			var fmediaid = $('#addMedia').attr('data-id');
			$('#inputid').modal('hide')
			$('#addMediaModal').modal('show')
			getMediaList(data,fmediaid)
		})
		$(function () {
			$(document).on('click', '.ent_org', function () {
				var fid = $(this).attr("fid");//获取点击的地区ID
				var that = $(this);
				if ($(this).hasClass('fa-plus')) {
					$(this).removeClass('fa-plus').addClass('fa-minus');//移除加号添加减号
					$.post("{:U('Admin/Regulator/ajax_regulator_list')}", { "fid": fid }, function (req) {
						if (req.code == -1) {
							that.removeClass('fa-minus').removeClass('fa-plus').addClass('fa-square')
						} else {
							$("#" + fid).html(req);
						}
					});
				} else if ($(this).hasClass('fa-minus')) {
					$(this).removeClass('fa-minus').addClass('fa-plus');//移除减号添加加号
					$("#" + fid).html('');
				}
			});
			$(document).on('click', '.org_details', function () {
				var fid = $(this).attr("fid");//获取点击的地区ID
				$('.list-group').find('.org_active').removeClass('org_active');
				$(this).addClass('org_active')
				vm.$set(vm,'currentRegionid',fid)
				vm.getRegulatorDetails(fid)
				vm.getRegulatorpersonList(fid)
			})
		})
	</script>
</body>

</html>