html {
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

html body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

html body #app {
  opacity: 0;
  padding: 10px;
}

html body #app .text-right {
  text-align: right;
}

html body #app .el-pagination {
  margin-top: 10px;
}

html body #app .days {
  padding: 4px 8px;
}

html body #app .green {
  color: #1AB394;
  font-weight: bold;
}

html body #app .copy {
  color: #1AB394;
}

html body #app .copy:hover {
  cursor: pointer;
  font-weight: bold;
  color: #146656;
}

html body #app .content {
  display: flex;
  overflow-y: auto;
}

html body #app .content .left {
  width: 350px;
  flex-shrink: 0;
}

html body #app .content .right {
  flex-grow: 1;
}

html body #app .tips {
  display: flex;
}

html body #app .tips .tip-item {
  margin-left: 10px;
}

html body #app .tips .tip-item .color-block {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
}

.archive-99 {
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #FFFFFF !important;
}

.archive-1 {
  background-color: #BFBFBF !important;
}

.archive0 {
  background-color: #FFEFD5 !important;
}

.archive1 {
  background-color: #FF8C00 !important;
}

.archive2 {
  background-color: #71C671 !important;
}

.archive99 {
  background-color: #53A7E3 !important;
}








html body #app .tips ._overtime {


  background-color: black !important;
}
