.timecontainer {
  overflow: hidden;
  .swrap {
    overflow: hidden;
  }
  .mainbox {
    vertical-align: middle;
    overflow: hidden;
    user-select:none;
  }
  .boxlist {
    overflow: hidden;
    height: 36px;
    box-sizing: border-box;
    border-right: 1px solid #EBEEF5;
    display: flex;
    flex-wrap: nowrap;
    &:hover{
      background-color: #F5F7FA;
    }
    .list {
      height: 36px;
      width: 35px;
      cursor: pointer;
      font-size: 12px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #EBEEF5;
      box-sizing: border-box;
      line-height: 36px;
      text-align: center;
      position: relative;
      overflow: hidden;
      .dayNum{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        .source_collect_intact{
          position: absolute;
          bottom: 0px;
          height: 2px;
          left: 0;
          background-color: #000;
          z-index: 3;
        }
      }
      &:hover{
        background-color: #eee;
        color: #000!important;
      }
      &.hover{
        background-color: #F5F7FA;
      }
      &.selected {
        -webkit-text-stroke: 2px #000;
        font-size: 14px;
        .dayNum{
          background-color: rgba($color: #fff, $alpha: 0.7);
        }
      }
      &.overtime::after{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        background-color: black;
      }
    }
  }
  ._boxlist {
    overflow: hidden;
    white-space:nowrap;
    height: 37px;
    box-sizing: border-box;
    border-bottom: 1px solid #EBEEF5;
    border-right: 1px solid #EBEEF5;
    border-top: 1px solid #EBEEF5;
    display: flex;
    ._list{
      height: 36px;
      width: 35px;
      border-right: 1px solid #EBEEF5;
      box-sizing: border-box;
      font-size: 14px;
      text-align: center;
      line-height: 36px;
      font-weight: bold;
    }
    .tips{
      float: right;
      display: flex;
      .tip-item{
        margin-left: 10px;
        .color-block{
          width: 14px;
          height: 14px;
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
  }
  .archive0{
  }
  .archive1{
    background-color: #1AB394!important;
  }
  .archive-1{
    background-color: #E6A23C!important;
  }
  .archive99{
    background-color: #53A7E3!important;
  }
}

.select-box-dashed {
  position: absolute;
  display: none;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border: 1px dashed #0099ff;
  background-color: #c3d5ed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 0px;
  z-index: 99999;
}
.info-dialog{
  .el-dialog__header{
    display: none;
  }
}