<template>
  <div class="c-list-dialog">
    <el-dialog :title="title"
      :visible.sync="show"
      width="90%"
      center
      @close="$emit('close')">
      <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
      <el-table :data="showLists"
        v-loading="loading"
        height="397px"
        border>
        <el-table-column label="#"
          width="60">
          <template slot-scope="scope">
            {{((Number(pageIndex) - 1) * 10) + Number(scope.$index) + 1}}
          </template>
        </el-table-column>
        <el-table-column label="媒体分类"
          width="80">
          <template slot-scope="scope">
            {{$store.state.allmediatype[scope.row.fmedia_class]}}
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fad_name"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column show-overflow-tooltip
          width="100"
          prop="fcount"
          label="播出总条次">
        </el-table-column>
        <el-table-column width="80"
          prop="diffweek"
          label="播出周数">
        </el-table-column>
        <el-table-column show-overflow-tooltip
          width="180px"
          label="播出时间段">
          <template slot-scope="scope">
            {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
          </template>
        </el-table-column>
        <el-table-column width="140"
          label="涉嫌违法代码">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column width="60"
          fixed="right"
          label="详情">
          <template slot-scope="scope">
            <el-button type="text"
              @click="adDetails(scope.row)">详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="tableData.length"
        :page-size="10"
        :current-page="pageIndex"
        @current-change="_changeData">
      </el-pagination>
    </el-dialog>
  </div>
</template>

<script>
import viewVideo from '../../Investigation/components/viewVideo'
export default {
  components: { viewVideo },
  props: {
    tableData: {
      default: [],
      type: Array
    },
    title: {
      default: '广告列表',
      type: String
    }
  },
  data() {
    return {
      show: true,
      loading: true,
      pageIndex: 1,
      details: {},
      showVideo: false
    }
  },
  methods: {
    toggleLoading() {
      this.loading = !this.loading
    },
    _changeData(index) {
      this.pageIndex = index
    },
    adDetails(obj) {
      this.details = obj
      this.showVideo = true
    }
  },
  computed: {
    showLists() {
      if (this.tableData.length) {
        return [].concat(this.tableData).splice((this.pageIndex - 1) * 10, (this.pageIndex - 1) * 10 + 10)
      }
    }
  }
}
</script>
