<template>
  <div class="no-data">
    {{text}}
  </div>
</template>
<script>
export default {
  props: {
    text: {
      default: '暂无数据'
    }
  }
}
</script>
<style scoped>
.no-data {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 0.5em;
  color: #dcdfe6;
  line-height: 300px;
  height: 300px;
  user-select: none;
}
</style>