<template>
  <div class="pie-chart">
    <div ref="chart"
      style="height: 500px"></div>
  </div>
</template>

<script>
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
export default {
  props: {
    title: {
      default: '',
      type: String,
    },
    xdata: {
      default: () => [],
      type: Array,
    },
    ydata: {
      default: () => [],
      type: Array,
    },
  },
  data() {
    return {
      chart: null,
      option: {
        title: {
          text: this.title,
          x: 'center'
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          orient: 'vertical',
          left: 'left',
          data: this.xdata,
        },
        series: {
          name: '广告类别',
          type: 'pie',
          radius: '70%',
          center: ['50%', '60%'],
          label: {
          },
          data: this.ydata,
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      }
    }
  },
  watch: {
    ydata() {
      this.option.series.data = this.ydata
      this.option.xAxis.data = this.xdata
      this.option.title.text = this.title
      this.chart.setOption(this.option, true)
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.chart = echarts.init(this.$refs.chart, 'macarons')
      this.chart.setOption(this.option)
      window.addEventListener("resize", this.chart.resize)
    },
  }
}
</script>

<style scoped>
.line-chart {
  height: 500px;
  margin-top: 28px;
}
</style>