<template>
  <div class="niss-dialog">
    <el-dialog :title="titles"
      center
      :before-close="_colse"
      :visible.sync="show"
      width="90%">
      <el-table :data="gridData"
        height="400"
        border
        v-loading="loading">
        <el-table-column label="序号"
          type="index"
          width="50">
        </el-table-column>
        <el-table-column label="媒体分类"
          width="80">
          <template slot-scope="scope">
            {{$store.state.allmediatype[scope.row.fmedia_class]}}
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告分类"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fad_name"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fissue_date"
          label="播出日期"
          width="110">
        </el-table-column>
        <el-table-column prop="fstarttime"
          label="开始时间"
          width="110">
        </el-table-column>
        <el-table-column prop="fendtime"
          label="结束时间"
          width="110">
        </el-table-column>
        <el-table-column label="时长/版面"
          width="110px">
          <template slot-scope="scope">
            {{ (scope.row.fmedia_class === '3' ? scope.row.fpage : (scope.row.difftime ? `${scope.row.difftime}秒` : '/')) || '/' }}
          </template>
        </el-table-column>
        <el-table-column width="140"
          label="涉嫌违法代码">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        style="display:inline-block;"
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="10"
        :current-page="Number(dataDetail.page)"
        @current-change="dataDetails">
      </el-pagination>
      <a :href="durl" target="_blank" v-if="durl"><el-button class="pull-right" type="success">下载</el-button></a>
      <el-button v-else class="pull-right" type="primary" @click="dataDetails(data.page, 'xls')" :loading="outloading">导出</el-button>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
export default {
  props: ['data', 'posturl'],
  data() {
    return {
      show: true,
      dataDetail: {
        page: 1,
      },
      loading: false,
      countAll: "0",
      gridData: [],
      title: '违法条数',
      durl: '',
      outloading: false
    }
  },
  computed: {
    ...mapState(['userOptions', 'Customer']),
    isgj(){
      return Number(this.Customer) === 100000 ? 1 : 0
    },
    userInfo(){
      return this.userOptions[this.Customer] || {}
    },
  },
  created() {
    this.dataDetails();
  },
  methods: {
    _colse() {
      this.$emit('close')
    },
    dataDetails(page,type) {
      if(!type){
        this.loading = true
      }else{
        this.outloading = true
      }
      let longad = this.data.is_show_fsend === '1' ? '含待确认广告' : '不含待确认广告'
      this.titles = this.isgj === 1 && this.userInfo.fregulatorlevel === 30 ? `违法条次(${longad})` : "违法条次"
      this.data.page = page || 1
      this.data.fstate = '-1'
      if(type) this.data.outtype = type
      axios.post(this.$_ + this.posturl, qs.stringify(this.data))
        .then(res => {
          if(type){
            this.durl = res.data.data
            this.outloading = false
          } else{
            this.gridData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime ? (item.fstarttime.length > 10 ? item.fstarttime.substring(11) : item.fendtime) : '/'
              item.fendtime = item.fendtime ? (item.fendtime.length > 10 ? item.fendtime.substring(11) : item.fendtime) : '/'
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    }
  }
}
</script>
<style>
.niss-dialog .el-dialog--center {
  max-height: 700px;
  overflow-y: auto;
}
</style>
