<template>
  <div class="table-view">
    <el-table :data="tableData"
      style="width: 100%;text-align:center"
      header-align="center"
      border
      height="500">
      <el-table-column fixed
        label="排名"
        width="80">
        <template slot-scope="scope">
          <span v-if="page">{{
            ((pageIndex - 1) * 100 + 1 + scope.$index)
            ===
            (allCount + 1)
            ?
            '合计'
            :
            (pageIndex - 1) * 100 + scope.$index + 1
            }}</span>
          <span v-else>{{(scope.$index + 1) === (allCount + 1) ? '合计' : scope.$index + 1}}</span>
        </template>
      </el-table-column>
      <el-table-column label="所属地区"
        prop="tregion_name"
        v-if="tag === '3'">
      </el-table-column>
      <el-table-column :label="title"
        fixed
        width="150">
        <template slot-scope="scope">
          <!-- 如果是统计行 -->
          <span v-if="userInfo.regionname1 ==='全国' || scope.row.titlename === '全部'">
            {{scope.row[colvalue] || '全部'}}
          </span>
          <span v-else>
            <!-- 在线索汇总页面时 -->
            <span v-if="$route.name !== 'jchuizong'">
              <span
                :class="scope.row.fad_illegal_times && scope.row.tregion_name ? 'text-red' : ''">
                {{scope.row[colvalue]}}
              </span>
            </span>
            <span v-else>
              <!-- 在监测汇总页面时 -->
              <span :class="scope.row[colvalue] === userInfo.regionname1 ? 'text-red' : ''">
                {{scope.row[colvalue]}}
              </span>
            </span>
          </span>
        </template>
      </el-table-column>
      <el-table-column prop="tmediaowner_name"
        v-if="tag === '4'"
        label="媒介机构名称"
        width="150"
        fixed>
        <template slot-scope="scope">
          {{scope.row.tmediaowner_name || '全部'}}
        </template>
      </el-table-column>
      <el-table-column prop="tmediaclass_name"
        v-if="tag === '4'"
        width="140"
        label="媒介机构类型">
        <template slot-scope="scope">{{scope.row.tmediaclass_name === undefined?'全部':scope.row.tmediaclass_name}}</template>
      </el-table-column>
      <!-- 国家局或淄博有广告条数 -->
      <el-table-column label="广告条数"
        v-if="
					Number(userInfo.is_show_count) === 2 && Number(userInfo.tregionlevel)===(Number(userInfo.fregulatorlevel)+10) ||
          Number(userInfo.is_show_count) === 1
				 ">
        <el-table-column prop="fad_count"
          label="总条数">
        </el-table-column>
        <el-table-column prop="fad_illegal_count"
          label="违法条数"
          width="150">
          <template slot-scope="scope">
            <div v-if="scope.row.titlename==='全部'">
              <span>{{scope.row.fad_illegal_count}}</span>
              <span v-html="scope.row.prv_fad_illegal_count || '(0.00%)'"></span>
            </div>
            <div v-else>
              <!-- 只有总局或者线索汇总页面可点击 -->
              <span v-if="isgj === 1 && userInfo.flevel==='0' || $route.name === 'wfchachu'">
                <span v-if="tsclick(scope.row)">
                  <span>{{scope.row.fad_illegal_count || 0}}</span>
                  <span v-html="scope.row.prv_fad_illegal_count || '(0.00%)'"></span>
                </span>
                <el-button type="text"
                  v-else
                  @click="_showModal(scope.row,'fad_illegal_count')">
                  <span>{{scope.row.fad_illegal_count || 0}}</span>
                  <span v-html="scope.row.prv_fad_illegal_count || '(0.00%)'"></span>
                </el-button>
              </span>
              <span v-else>
                <span>{{scope.row.fad_illegal_count || 0}}</span>
                <span v-html="scope.row.prv_fad_illegal_count || '(0.00%)'"></span>
              </span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="counts_illegal_rate"
          label="条数违法率"
          width="100">
          <template slot-scope="scope">
            {{scope.row.counts_illegal_rate===0?'0.0%':scope.row.counts_illegal_rate+'%'}}
          </template>
          >
        </el-table-column>
      </el-table-column>
      <el-table-column label="广告条次">
        <el-table-column prop="fad_times"
          label="总条次">
        </el-table-column>
        <el-table-column prop="fad_illegal_times"
          label="违法条次"
          width="150">
          <template slot-scope="scope">
            <div v-if="scope.row.titlename==='全部'">
              <span>{{scope.row.fad_illegal_times}}</span>
              <span v-html="scope.row.prv_fad_illegal_times || '(0.00%)'"></span>
            </div>
            <div v-else>
              <span v-if="isgj===1 && userInfo.flevel==='0' || $route.name === 'wfchachu'">
                <span v-if="tcclick(scope.row)">
                  <span>{{scope.row.fad_illegal_times || 0}}</span>
                  <span v-html="scope.row.prv_fad_illegal_times || '(0.00%)'"></span>
                </span>
                <el-button type="text"
                  v-else
                  @click="_showModal(scope.row,'fad_illegal_times')">
                  <span>{{scope.row.fad_illegal_times || 0}}</span>
                  <span v-html="scope.row.prv_fad_illegal_times || '(0.00%)'"></span>
                </el-button>
              </span>
              <span v-else>
                <span>{{scope.row.fad_illegal_times || 0}}</span>
                <span v-html="scope.row.prv_fad_illegal_times || '(0.00%)'"></span>
              </span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="times_illegal_rate"
          width="120"
          label="条次违法率">
          <template slot-scope="scope">
            {{scope.row.times_illegal_rate===0?'0.0%':scope.row.times_illegal_rate+'%'}}
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="广告时长(单位:秒)">
        <el-table-column prop="fad_play_len"
          label="总时长">
        </el-table-column>
        <el-table-column prop="fad_illegal_play_len"
          label="违法时长"
          width="150">
          <template slot-scope="scope">
            {{scope.row.fad_illegal_play_len}}
            <span v-html="scope.row.prv_fad_illegal_play_len===undefined?'(0.00%)':scope.row.prv_fad_illegal_play_len"></span>
          </template>
        </el-table-column>
        <el-table-column prop="lens_illegal_rate"
          width="120"
          label="时长违法率">
          <template slot-scope="scope">
            {{scope.row.lens_illegal_rate===0?'0.0%':scope.row.lens_illegal_rate+'%'}}
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="线索查看及处理情况">
        <el-table-column prop="ck_count"
          label="查看量">
          <template slot-scope="scope">
            {{scope.row.fad_illegal_times === 0 ? '/' : (scope.row.ck_count || '/')}}
          </template>
        </el-table-column>
        <el-table-column prop="ckl"
          label="查看率">
          <template slot-scope="scope">
            {{scope.row.fad_illegal_times === 0 ? '/' : (scope.row.ckl || '/')}}
          </template>
        </el-table-column>
        <el-table-column prop="cl_count"
          label="处理量">
          <template slot-scope="scope">
            {{scope.row.fad_illegal_times === 0 ? '/' : (scope.row.cl_count || '/')}}
          </template>
        </el-table-column>
        <el-table-column prop="cll"
          label="处理率">
          <template slot-scope="scope">
            {{scope.row.fad_illegal_times === 0 ? '/' : (scope.row.cll || '/')}}
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="立案" v-if="showAj">
        <el-table-column prop="yla"
          label="已立案">
        </el-table-column>
        <el-table-column prop="yja"
          label="已结案">
        </el-table-column>
      </el-table-column>
      <el-table-column label="线索处理方式" v-if="showAj">
        <el-table-column prop="tzfb"
          label="责令停止发布" width="100">
        </el-table-column>
        <el-table-column prop="lian"
          label="立案">
        </el-table-column>
        <el-table-column prop="yjsf"
          label="移交司法机关" width="100">
        </el-table-column>
        <el-table-column prop="others"
          label="其他">
        </el-table-column>
      </el-table-column>
    </el-table>
    <el-pagination v-if="page"
      background
      layout="prev, pager, next, total"
      :total="allCount"
      :page-size="100"
      :current-page="Number(pageIndex)"
      @current-change="_changeData">
    </el-pagination>
    <currencydialog v-if="illCount"
      :posturl="isouttype ? '/Agp/StatisticalData/tiaoshu_list' : '/Agp/GjzStatisticalData/tiaoshu_list'"
      :data="dataDetail"
      @close="_close">
    </currencydialog>
    <stripedialog v-if="illTimes"
      :posturl="formdata.year >= 2018 ? (isouttype ? '/Agp/StatisticalData/tiaoci_list' : '/Agp/GjzStatisticalData/tiaoci_list') : '/Agp/GjzStatisticalData/zsgl_ill_list'"
      :data="dataDetail"
      @close="_close">
    </stripedialog>

    <!-- 媒体排名 -->
    <div class="media-dialog">
      <el-dialog title="媒体排名"
        center
        :visible.sync="mediaShow"
        width="90%">
        <el-table
          :data="mediaData"
          v-loading="loading"
          height="400"
          border>
          <el-table-column label="排名"
            fixed
            type="index"
            width="50">
            <template slot-scope="scope">
              <span>{{(scope.$index + 1) === (mediaCount + 1) ? '合计' : scope.$index + 1}}</span>
            </template>
          </el-table-column>
          <el-table-column label="媒体名称"
            fixed
            prop="tmedia_name"
            width="140">
            <template slot-scope="scope">
              <span style="cursor:pointer;color:#00C1DE;">{{scope.row.tmedia_name}}</span>
            </template>
          </el-table-column>

          <!-- 国家局或淄博有广告条数 -->
          <el-table-column prop="fad_count"
            label="总条数">
          </el-table-column>
          <el-table-column prop="fad_illegal_count"
            label="违法条数">
            <template slot-scope="scope">
              <span>
                <span>{{scope.row.fad_illegal_count || 0}}</span>
                <span v-html="scope.row.prv_fad_illegal_count || '(0.00%)'"></span>
              </span>
            </template>
          </el-table-column>
          <el-table-column prop="counts_illegal_rate"
            label="条数违法率"
            width="100">
             <template slot-scope="scope">
            {{scope.row.counts_illegal_rate}}%
            </template>
          </el-table-column>

          <el-table-column prop="fad_times"
            label="总条次">
          </el-table-column>
          <el-table-column prop="fad_illegal_times"
            label="违法条次">
          </el-table-column>
          <el-table-column prop="times_illegal_rate"
            label="条次违法率">
            <template slot-scope="scope">
            {{scope.row.times_illegal_rate}}%
            </template>
          </el-table-column>

          <el-table-column prop="fad_play_len"
            label="总时长">
          </el-table-column>
          <el-table-column prop="fad_illegal_play_len"
            label="违法时长">
          </el-table-column>
          <el-table-column prop="lens_illegal_rate"
            label="时长违法率">
            <template slot-scope="scope">
            {{scope.row.lens_illegal_rate}}%
            </template>
          </el-table-column>

        </el-table>
        <div style="display: flex;justify-content: flex-end;">
          <el-button type="primary" @click="mediaShow = false" size="mini" style="margin-right: 10px;">关 闭</el-button>
        </div>
      </el-dialog>

    </div>


  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import currencydialog from './currencydialog'
import stripedialog from './stripedialog'
export default {
  props: {
    title: {
      default: '',
      type: String
    },
    tabledata: {
      default: () => [],
      type: Array
    },
    formdata: {
      default: () => { },
      type: Object
    },
    tag: {
      default: '',
      type: String
    },
    page: {
      default: false,
      type: Boolean
    }
  },
  components: {
    currencydialog,
    stripedialog,
  },
  computed: {
    ...mapState(['Adata', 'Gtime', 'selection', 'userOptions', 'Customer']),
    isgj(){
      return Number(this.Customer) === 100000 ? 1 : 0
    },
    userInfo(){
      return this.userOptions[this.Customer] || {}
    },
    isjc() {
      return this.$route.name === 'jchuizong'
    },
    isouttype(){
      return !this.isjc && this.selection.datatype === '2' && this.userInfo.isoutdata == 1
    },
    tableData() {
      let arr = [].concat(this.tabledata)
      if (!this.page) {
        return arr
      } else {
        return arr.splice((this.pageIndex - 1) * 100, 100)
      }
    },
    allCount() {
      return Number(this.tabledata.length - 1)
    },
    mediaCount() {
      return Number(this.mediaData.length - 1)
    },
    showAj(){
      return this.userInfo.is_show_clue === 1 && this.$route.name === 'wfchachu' && this.tag === '1'
    },
    colvalue() {
      let data = ''
      switch (this.tag) {
        case "1":
          data = 'tregion_name'
          break
        case "2":
          data = 'tadclass_name'
          break
        case "3":
          data = 'tmedia_name'
          break
        case "4":
          data = 'tregion_name'
          break
      }
      return data
    },
    isday() {
      return this.formdata.times_table === 'tbn_ad_summary_day'
    },
    // 同级地区无法点击查看违法记录
    istj() {
      return ['2', '3', '4'].includes(this.userInfo.flevel) && (this.formdata.region2 === '4') && (this.tag === '1') && (this.$route.name === 'wfchachu')
    },
    // 非权限内的媒体无法点击查看违法记录
    inpermissionmedia() {
      return (this.userInfo.regionid === '370300') && (this.$route.name === 'wfchachu')
    },
  },
  data() {
    return {
      illCount: false,
      illTimes: false,
      dataDetail: {},
      pageIndex: 1,
      mediaShow: false,
      mediaData: [],
      loading: false,
    }
  },
  methods: {
    _showModal(item, type) {
      // 时间段
      const timetypesArr = Object.keys(this.Gtime.times_table)
      const timetypes = timetypesArr.indexOf(this.formdata.times_table) + 1
      // 具体时间
      let timeval = ''
      if (this.isday) {
        timeval = this.formdata.table_condition
      } else {
        const timevalArr = Object.keys(this.Gtime[this.formdata.times_table])
        timeval = timevalArr.indexOf(this.formdata.table_condition) + 1
      }
      this.dataDetail = {
        ...this.formdata,
        flevel: this.tag === '1' ? item.flevel : (this.formdata.region === '0' ? '0' : (this.formdata.region || this.formdata.region2)),
        mclass: this.formdata.media_class,
        fad_class_code2: this.formdata.ad_class,
        page: 1,
        system_num: this.Customer
      }
      switch (this.tag) {
        case '1':
          this.dataDetail.area = item.fregionid
          break
        case '2':
          delete this.dataDetail.fad_class_code2
          this.dataDetail.fad_class_code = item.fad_class_code
          break
        case '3':
          this.dataDetail.fmediaid = item.fmediaid
          break
        case '4':
          this.dataDetail.fmediaownerid = item.fmediaownerid
          break
      }
      if (this.formdata.region === '0') {
        this.dataDetail.flevel = '1,2,3'
      }
      if (this.$route.name === 'jchuizong') {
        delete this.dataDetail.is_have_self
      }
      if (type === "fad_illegal_count") {
        this.illCount = true
      } else {
        this.illTimes = true
      }
      if (this.formdata.year < 2018) {
        this.dataDetail.flevel = this.formdata.region
        this.dataDetail.years = this.formdata.year
        delete this.dataDetail.year
      }
    },
    _changeData(index) {
      this.pageIndex = index
    },
    _close() {
      this.illTimes = false
      this.illCount = false
      this.dataDetail = null
    },
    // 判断条数是否可点击
    tsclick(row) {
      return (!row.fad_illegal_count || this.istj || this.inpermissionmedia || (this.$route.name === 'jchuizong' && this.formdata.region === '6'))
    },
    // 判断条次是否可点击
    tcclick(row) {
      return (!row.fad_illegal_times || this.istj || this.inpermissionmedia || (this.$route.name === 'jchuizong' && this.formdata.region === '6'))
    }
  }
}
</script>