body{
    padding-bottom: 54px;
}
#banner,#banner img{
    width: 100%;
}
#task{
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.taskBlock{
    width: 49.5%;
    display: inline-block;
    box-sizing: border-box;
}
.taskBlock .icon{
    display: block;
    width: 45px;
    margin: 0 auto;
}
.taskBlock .taskImg{
    width: 100%;
    height: 100%;
}
.taskBlock p{
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}
.taskBlock a{
    display: block;
    margin: 0 auto;
    width: 72px;
    height: 19px;
}
.taskBlock:first-child{
    border-right: 1px solid #eee;
}
.num{
    color: red;
}
.infoPrice{
    color: #fff;
    background-color: #F87A74;
    padding:2px;
}
.taskPrice{
    color: #fff;
    background-color: #6DC1EA;
    padding:2px;
}
#taskList{
    margin-top: 5px;
    list-style: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
#taskList li{
    padding: 10px 15px;
    display: flex;
}
#taskList li img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: block;
}
#taskList li .liFont{
    color: #888;
    line-height: 20px;
}
#video{
    margin-top: 5px;
    background-image: url('../img/findbg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px 15px;
    display: flex;
}
.videoImg{
    flex-grow: 1;
    width: 32%;
    height: 90px;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.videoImg:first-child{
    margin-right: 2%;
}
.videoImg:last-child{
    margin-left: 2%;
}
.videoImg img{
    width: 100%;
    height: 100%;
}
.play-btn{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.play-btn i{
    line-height: 42px;
}