body {
    padding-bottom: 54px;
}

#info .input {
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    box-sizing: border-box;
}

#info input[type=text] {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
}

#info label {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    box-sizing: border-box;
}

#button {
    padding: 10px 15px;
}

#button button {
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 5px;
}

.send {
    border: 1px solid #14D212;
    color: #14D212;
    background-color: #fff;
    margin: 0 auto;
    width: 40%
}

.sendcontinue {
    border: 1px solid #14D212;
    color: #fff;
    background-color: #14D212;
    margin: 0 auto;
    width: 50%;
    float: right;
}

#adowner_name,
#fadname,
#fexpression {
    background-color: rgba(0, 0, 0, 0)!important;
}

#Video {
    overflow: hidden;
    position: relative;
}

#Video #ViewVideo {
    position: absolute;
    top: 0;
    z-index: 999;
}

#playBtn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    z-index: 1000;
    font-size: 30px;
}

#playBtn i {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fexpression {
    padding: 10px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

#fexpression {
    margin: 10px auto;
}

#fexpressionList textarea {
    margin-top: 15px;
    border-radius: 3px;
}

#send {
    display: block;
    border: 1px solid #14D212;
    color: #fff;
    background-color: #14D212;
    margin: 0 auto;
    width: 80%;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto;
}
#Paper{
    height: 240px;
    overflow: hidden;
    width: 100;
}
#viewPaper{
    width: 100%
}