body {
    background-color: #fbf9fe;
    padding-bottom: 54px;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#userInfo {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    background-color: #fff;
    font-size: 14px;
}

.avatar {
    float: left;
}

#Info {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 8px
}

.avatar img {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

.status {
    color: #8f8f8f;
    position: relative;
    height: 20px;
}

.status img {
    position: absolute;
    top: 0;
}

.status span {
    line-height: 20px;
    margin-right: 5px;
    margin-left: 22px;
}

#userInfo .right {
    line-height: 68px;
}

.right {
    float: right;
    color: #D9D9D9;
    font-size: 20px;
}

.modal {
    margin-top: 15px;
    background-color: #fff;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.modal li {
    padding: 10px 15px 10px 0px;
}

.modal a {
    margin-left: 15px;
    display: block;
    border-top: 1px solid #D9D9D9;
}

.modal a:first-child {
    border-top: none;
}

.modal li i {
    padding-left: 7%;
    font-size: 17px;
    width: 18px;
}

.modal li span {
    padding-left: 3%;
    font-size: 14px;
}

.fa-calendar {
    color: #EB4F38;
}

.modal .right i {
    line-height: 18px;
    width: inherit;
}

.fa-clock-o {
    color: #EC8D29;
}

.fa-cog {
    color: #00BB9C;
}

.fa-money {
    color: #EB4F38;
}

.fa-truck {
    color: #00BB9C;
}

.fa-credit-card {
    color: #EC8D29;
}

.fa-hand-o-right {
    color: #9D55B8;
}

.infohead {
    float: right;
}

.infoContent {
    float: right;
    color: #888;
    width: 50%;
    text-align: right;
}

#myTaskmodal a {
    margin: 0;
}

#myTaskmodal li {
    padding: 10px 15px;
}

#myTaskmodal .deadline {
    color: red;
    font-size: 14px;
    line-height: 30px;
    float: right
}

#myTaskmodal .time span {
    line-height: 19px;
}

#myTaskmodal img {
    margin-top: 4px;
    margin-right: 6px;
}

#section_rule {
    padding: 20px 15px;
}

#section_rule h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    /* color:#92cddc; */
}

#section_rule h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

#section_rule p {
    font-size: 12px;
    margin-bottom: 8px;
}

#preference {
    margin-top: 15px;
    padding-left: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

#preference select {
    width: 80%;
    border: none;
    margin: 0;
    height: 44px;
    font-size: 14px;
}

#preference .right {
    line-height: 44px;
    padding-right: 15px;
}

#set {
    display: block;
    width: 80%;
    background-color: #04BE02;
    color: #fff;
    margin: 15px auto;
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 16px;
    border: none;
}

#tips {
    padding: 20px 15px 0px 15px;
    color: #888;
    font-size: 14px;
}

#moneyImg {
    display: inline-block;
}

#myMoney {
    padding-top: 40px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

#myMoney p {
    font-size: 30px;
    font-weight: bold;
}

#moneyHistory {
    background-color: #F7F7F7;
    color: #454545;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 10px 14px;
    font-size: 16px;
    margin-top: 20px;
}