<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>任务管理</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
	<link rel="stylesheet" href="/Application/Admin/View/FixedMediaData/css/index.min.css?v=12">
	<link rel="stylesheet" href="/Application/Admin/View/FixedMediaData/css/timeSelect.min.css?v=12">
</head>
<style>
#rightMenu { cursor:default; width:180px; background:#CDC9C9; border:1px solid black; position:absolute; display:none;margin:0; padding:0;z-index:55}
#rightMenu li{list-style:none}
.rightMenuList span {margin-left:20px;}
.rml_se {background:#7D9EC0;}
.u_1 { text-decoration:underline; }
</style>

<body>
	<div id="app" v-loading="loading">
		<el-form :model="form" ref="sform" inline @keyup.native.enter="getList()">
			<el-form-item label="媒介名称：" >
				<el-input v-model="form.keyword" clearable ></el-input>
			</el-form-item>
			<el-form-item label="地区">
				<el-cascader
					v-model="form.region_id"
					:props="props"
					:options="regionTree" clearable></el-cascader>
				<el-switch v-model="form.this_region_id" active-value="1" inactive-value="0" active-text="仅本级" inactive-text=""></el-switch>
			</el-form-item>
			<el-form-item label="媒介标签：">
				<el-autocomplete
					v-model="form.medialabel"
					:fetch-suggestions="getTag"
					clearable
				></el-autocomplete>
			</el-form-item>
			<el-form-item label="媒介类型：">
				<el-select v-model="form.mediaclass" clearable>
					<el-option v-for="(value,key) in mediaType"
						:key="key"
						:label="value.label"
						:value="key">
					</el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="月份：">
				<el-date-picker
					:clearable="false"
					v-model="form.month"
					value-format="yyyy-MM"
					type="month"
					placeholder="选择月">
				</el-date-picker>
			</el-form-item>
			<el-form-item label="状态：">
				<el-select v-model="fixedState" multiple placeholder="请选择" collapse-tags @change="stateChange">
					<el-option label="未归档" value="0"></el-option>
					<el-option label="已归档" value="1"></el-option>
					<el-option label="逾期未归档" value="-1"></el-option>
					<el-option label="特殊" value="99"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="getList()">搜 索</el-button>
			</el-form-item>
			<!-- <el-form-item>
				<el-dropdown type="primary" @command="handleCommand" size="small">
					<el-button type="primary">修改状态<i class="el-icon-arrow-down el-icon--right"></i></el-button>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item v-for="(value,key) in state" :key="key" :command="key">{{value.label}}</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
			</el-form-item> -->
			
			<!-- <el-form-item>
				<el-button type="primary" @click="change_inspect_type()">修改生产方式</el-button>
			</el-form-item> -->
			
		</el-form>
		<div>
			<div class="tips">
				<div v-for="(value,key) in state" class="tip-item" :key="key">
					<div :class="value.class" class="color-block"></div>{{value.label}}
				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div id="zzgd"> </div>
			</div>

		</div>
		<div class="content" :style="{height: tableHeight}">
			<div class="left">
				<el-table :data="tableData" border stripe>
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column label="ID" width="150" show-overflow-tooltip>
						<template slot-scope="scope">
							<span v-clipboard="scope.row.fid" title="点击复制" class="copy">{{scope.row.fid}}</span>
						</template>
					</el-table-column>
					<el-table-column label="名称" show-overflow-tooltip>
						<template slot-scope="scope">
							<span v-clipboard="scope.row.fmedianame" title="点击复制" class="copy">{{scope.row.fmedianame}}</span>
						</template>
					</el-table-column>
				</el-table>
			</div>
			<div class="right">
				<time-select ref="timeSelect" :table-head="tableHead" :table-data="tableData" v-if="tableData.length" @triggertime="val => selectedData = val"></time-select>
			</div>
		</div>
		<div class="text-right">
			<el-pagination background @size-change="pageSizeChange" @current-change="getList" :current-page="page.pageIndex" :page-sizes="[15, 50, 100, 200, 500]"
				:page-size="page.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
			</el-pagination>
		</div>
	</div>

	

	
	
	<script>
		const REGIONTREE = {:json_encode($getRegionTree,true)} || [];
	</script>
	<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
	<script src="/Application/Admin/View/FixedMediaData/js/timeSelect.js?v=1113"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/dayjs/dayjs.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}vue-clipboard/vue-clipboard.min.js"></script>
	<script src="/Application/Admin/View/FixedMediaData/js/index.js?v=12"></script>


	<script>
		function zzgd(){ // 获取正在归档的数量
			$.get('/Admin/FixedMediaData/zzgd', { }, function (data) {
				sti = 5000
				if(data.zzgd > 0){
					$('#zzgd').html('正在归档:'+data.zzgd)
					sti = 3000
				}else{
					$('#zzgd').html('')
					sti = 10000
				}
				setTimeout(() => {
					zzgd()
				},sti)
			})
		}
		zzgd() // 获取正在归档的数量
		


		document.onclick=function ()
		{
			var oUl=document.getElementById('rightMenu');
				
			oUl.style.display='none';
		};
		

		
		//$('.rightMenuList').hover(function() {
			//$(this).addClass('rml_se')
		//},function(){
			//$(this).removeClass('rml_se')
		//});
		


	</script>
	
	
</body>

</html>