<div class="fixed-table-container">
    <audio src="" id="Audio">
        音频播放失败
    </audio>
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center" rowspan="2">序号</th>
                <th class="text-center" rowspan="2">发布媒体</th>
                <th class="text-center" rowspan="2">媒体地区</th>
                <th class="text-center" rowspan="2">广告名称</th>
                <th class="text-center" rowspan="2">广告类别</th>
                <th class="text-center" rowspan="2">发布时间</th>
                <th class="text-center" rowspan="2">发布类型</th>
                <th class="text-center" rowspan="2">违法类型</th>
                <th class="text-center" rowspan="2">发布时长（秒）</th>
                <th class="text-center" colspan="2">生产批准文号</th>
                <th class="text-center" colspan="2">广告批准文号</th>
                <th class="text-center" colspan="2">生产企业名称 <i class="fa fa-info-circle" title="（证件持有人）"></i></th>
                <th class="text-center" rowspan="2">生产企业所在地区 <i class="fa fa-info-circle" title="（证件持有人）"></i></th>
                <th class="text-center" rowspan="2">研判依据</th>
                <th class="text-center" rowspan="2">操作</th>
            </tr>
            <tr>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="bcissueList" item="bcissue">
                <tr class="mediaTr">
                    <td class="text-center">{$bcissue.k}</td>
                    <td class="text-center">{$bcissue.fmedianame}</td>
                    <td class="text-center">{$bcissue.region_name}</td>
                    <td class="text-center" title="点击查看广告详情">
                        <i class="fa fa-play-circle-o viewAudio" src="{$bcissue.favifilename}" aria-hidden="true" title="点击预览视频"></i>
                        <span class="">{$bcissue.fadname}</span>
                    </td>
                    <td class="text-center">{$bcissue.adclass_code}</td>
                    <td class="text-center">{$bcissue.fstarttime}</td>
                    <td class="text-center">{$bcissue.fissuetype}</td>
                    <td class="text-center">{$bcissue.fillegaltype}</td>
                    <td class="text-center">{$bcissue.flength}</td>
                    <td class="text-center">{$bcissue.fadmanuno}<eq name="bcissue.fadmanuno" value="">/</eq></td>
                    <td class="text-center">{$bcissue.fmanuno}<eq name="bcissue.fmanuno" value="">/</eq></td>
                    <td class="text-center">{$bcissue.fadapprno}<eq name="bcissue.fadapprno" value="">/</eq></td>
                    <td class="text-center">{$bcissue.fapprno}<eq name="bcissue.fapprno" value="">/</eq></td>
                    <td class="text-center">{$bcissue.fadent}<eq name="bcissue.fadent" value="">/</eq></td>
                    <td class="text-center">{$bcissue.fent}<eq name="bcissue.fent" value="">/</eq></td>
                    <td class="text-center">{$bcissue.fentzone}<eq name="bcissue.fentzone" value="">/</eq></td>
                    <td class="text-center">
                        <neq name="bcissue.fexpressioncodes" value="">
                            <div class="tooltip-demo">
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="left" title="{$bcissue.fexpressions}">
                                {$bcissue.fexpressioncodes}</button>
                            </div>
                        </neq>
                        <eq name="bcissue.fexpressioncodes" value="">/</eq>
                    </td>
                    <td><button class="btn btn-primary btn-xs mediaName" id="{$bcissue.fbcissueid}"><i class="fa fa-info"></i> 详情</button></td>
                </tr>
            </foreach>
            <empty name="bcissueList">
                <tr class="h5 text-center text-primary">
                    <td colspan="18">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
