
<div class="content">
    <div class="tittle" style="height:38px;line-height:38px;text-align: center;font-size: 24px;font-weight: bold;">
        {$Think.session.name}<br />
        <span>责令改正通知书</span>

    </div>
    <div style="font-size:14px;text-align: center;line-height:6px;">
        <span>{$name}工商{$type}字〔{$year}〕{$number}号</span>
    </div>
    <div class="text" style="font-size:14px;">
        {$params['media_name']}：
        <div class="text2">
            <span>经查，你（单位）在《{$params['channel_name']}》{$params['ad_time_range']}期间发布了{$params['ad_play_num']}则广告（明细表附后）。违反了《中华人民共和国广告法》、《广告管理条例》的规定，根据《中华人民共和国法广告》、《广告管理条例施行细则》的规定，现责令你单位在即日起改正上述违法行为。</span>
            <span>如果对本责令改正通知不服，可以在收到本通知之日起{$long_time1}日内向{$gov_name}工商行政管理局或者{$area}人民政府申请复议；也可以在{$long_time2}日（月）内依法向人民法院提起诉讼。</span>
        </div>
        <table border='8' width='100%' style="margin:40px 0px;">
            <tr>
                <td style="width:340px;overflow:hidden">asdfasdf</td>
                <td>ajsdkfjksadjfls</td>
            </tr>
        </table>
        <div style="height:40px;">

            <div class="text2" style="margin:40px 0px;">
                {$params['text2']}
            </div>
            <table border='0' width='100%'>
                <tr>

                    <td style="width:340px;overflow:hidden"><img src="{$params['echars3']}" style="width:340px;height:260px;"/></td>
                    <td><div style="height:80px;"></div><img src="{$params['echars4']}"  style="width:180px;height:200px"/></td>
                </tr>
            </table>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从监测中发现主要广告投放为<span>地市州级媒体</span>，<span>省级媒体</span>投放量偏小，分别为<span>8442条次</span>和<span>4926条次</span> -->
            <div id="Histogram_chart">

            </div>



        </div>
    </div>
