<template>
  <div class="admin-login">
    <el-dialog title="获取临时密码"
      :visible.sync="show"
      center
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      width="537px">
      <el-form :model="form"
        ref="form"
        label-width="90px">
        <el-form-item label="验证码：">
          <el-input v-model="form.verify"
            style="width:300px;float:left;"
            placeholder="请输入验证码(点击刷新验证码)"></el-input>
          <img :src="$_ + '/Agp/Login/verify/' + tstring"
            height="30px"
            alt="验证码加载失败"
            class="pull-right"
            @click="_changeVerify">
        </el-form-item>
        <el-form-item label="手机号码：">
          <el-input v-model="form.phone"
            placeholder="请输入手机号">
            <template slot="append">
              <el-tooltip effect="dark"
                v-if="!form.verify"
                content="输入验证码后才能获取临时密码"
                placement="top-start">
                <el-button type="primary">获取临时密码</el-button>
              </el-tooltip>
              <el-button type="primary"
                v-else
                :disabled="time !== 0"
                @click="_getMsgVerify">{{time === 0 ? `获取临时密码`:`重新获取(${time})`}}</el-button>
            </template>
          </el-input>
        </el-form-item>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      show: true,
      form: {
        verify: '',
        phone: '',
      },
      tstring: '',
      timer: null,
      time: 0
    }
  },
  methods: {
    // 刷新验证码
    _changeVerify() {
      this.tstring = new Date().getTime()
    },
    // 获取短信验证码
    _getMsgVerify() {
      if (!this.$func._verifyPhone(this.form.phone)) {
        this.$func._error('请输入正确的手机号')
        return false
      }
      let data = {
        phone: this.form.phone,
        verify: this.form.verify
      }
      axios.post(this.$_ + '/Agp/Zcore/agp_adminsmssend', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success('临时密码已发送')
            this._reVerify()
          } else {
            this.$func._error(res.data)
            this._changeVerify()
          }
        })
        .catch(e => {
          this.$func._error(res.data)
          this._changeVerify()
        })
    },
    // 重发验证码
    _reVerify() {
      this.time = 60
      this.timer = setInterval(() => {
        if (this.time !== 0) {
          this.time -= 1
        } else {
          clearInterval(this.timer)
        }
      }, 1000)
    },
  }
}
</script>

<style scoped>
</style>