<template>
  <div class="aliplayer">
    <div class="prism-player" :id="id" ref="playercon"></div>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      default: '',
      type: String
    },
    width: {
      default: '560px',
      type: String
    },
    height: {
      default: '400px',
      type: String
    },
    autoplay: {
      default: false,
      type: Boolean
    }
  },
  data(){
    let hash = + new Date()
    return {
      player: null,
      timer: null,
      id: `player-con${hash}`
    }
  },
  mounted() {
    this.$refs.playercon.style.height = this.height
    if(this.url){
      this.player = new Aliplayer({
        "id": this.id,
        "source": this.url,
        "width": this.width,
        "height": this.height,
        "autoplay": this.autoplay,
        "isLive": false,
        "rePlay": false,
        "playsinline": true,
        "preload": true,
        "controlBarVisibility": "hover",
        "useH5Prism": true,
        "skinLayout": [
          {
            "name": "bigPlayButton",
            "align": "blabs",
            "x": 30,
            "y": 80
          },
          {
            "name": "H5Loading",
            "align": "cc"
          },
          {
            "name": "errorDisplay",
            "align": "tlabs",
            "x": 0,
            "y": 0
          },
          {
            "name": "infoDisplay"
          },
          {
            "name": "tooltip",
            "align": "blabs",
            "x": 0,
            "y": 56
          },
          {
            "name": "thumbnail"
          },
          {
            "name": "controlBar",
            "align": "blabs",
            "x": 0,
            "y": 0,
            "children": [
              {
                "name": "progress",
                "align": "blabs",
                "x": 0,
                "y": 44
              },
              {
                "name": "playButton",
                "align": "tl",
                "x": 15,
                "y": 12
              },
              {
                "name": "timeDisplay",
                "align": "tl",
                "x": 10,
                "y": 7
              },
              {
                "name": "fullScreenButton",
                "align": "tr",
                "x": 10,
                "y": 12
              },
              {
                "name": "setting",
                "align": "tr",
                "x": 15,
                "y": 12
              },
              {
                "name": "volume",
                "align": "tr",
                "x": 5,
                "y": 10
              }
            ]
          }
        ]
      })
      this.player.on('ready',() => {
        this.$emit('success')
      })
      this.player.on('play',() => {
        this.$emit('start')
      })
      this.player.on('pause',() => {
        this.$emit('stop')
      })
      this.player.on('completeSeek',() => {
        this.$emit('completeSeek')
      })
      this.player.on('error',e => {
        this.$emit('error',e)
      })
    }

  },
  beforeDestroy() {
    if(this.player) this.player.dispose()
  },
  methods: {
    _play(){
      if(this.player) this.player.play()
    },
    _stop(){
      if(this.player) this.player.pause()
    },
    _seek(time){
      if(this.player) this.player.seek(time)
    },
    _getCurrentTime(){
      return this.player.getCurrentTime()
    },
    _changeUrl(){
      if(this.player) this.player.loadByUrl(this.url)
    }
  },
  watch: {
    url() {
      this.player.loadByUrl(this.url)
    }
  }
}
</script>

<style scoped>
</style>