<template>
    <div class="choice-illeagal">
      <el-dialog
        title="选择违法表现"
        center
        top="6vh"
        :visible.sync="show"
        width="840px"
        append-to-body
        :close-on-click-modal="false"
        :close-on-press-escape="false">
        <div class="main">
          <el-input placeholder="关键字"  suffix-icon="el-icon-search"  class="input-with-select" v-model="keyword">
          </el-input>	  
          <br>
          <br>
          <el-collapse>
            <el-collapse-item v-for="rawtype in $store.state.IllegalList" :key="rawtype.fcode" :title="rawtype.fexpression">
              <template slot="title">
                {{rawtype.fexpression}}
              </template>
              <el-checkbox-group v-model="choose">
                <label v-for="item in rawtype.list_2 " :key="item.fcode">
                  <div v-if="_rawitemshow(item.fexpression)">
                    <el-checkbox :label="item.fcode">{{''}}</el-checkbox> 
                    <a v-html="_rawitemtext(item.fexpression)" class="c_point">
                      {{_rawitemtext(item.fexpression)}}
                    </a>
                  </div>
                </label>
              </el-checkbox-group>
            </el-collapse-item>
          </el-collapse>
        </div>
        <div class="footer">
          <el-button slot="append" @click="_reselect">重新选择</el-button>
          <el-button slot="append" type="primary"  @click="_completeselect">完成选择</el-button>
        </div>
      </el-dialog>
     <div>
    </div>
    </div>
</template>
<script>
export default {
  props:['data'],
  data() {
    return {
      choose: [],
      show: false,
      keyword: "",
    };
  },
  methods: {
    _reselect() {
      this.choose = []
      this.keyword = ''
    },
    _completeselect() {
      let data = []
      this.choose.forEach(item => {
        this.$store.state.IllegalList.forEach(obj => {
          let arr = obj.list_2.filter( obj2 => {
              return obj2.fcode === item
          } )
          data = data.concat(arr)
        })
      })
      this.$emit("selected", data)
      this.show = false
    },
    _rawitemshow(item) {
      if (this.keyword === "") {
        return true
      }
      var index = item.indexOf(this.keyword);
      if (index >= 0) {
        return true
      } else {
        return false
      }
    },
    _rawitemtext(item) {
      if (this.keyword === "") {
        return item
      }
      var strs = item.split(this.keyword)
      return strs.join('<font color="red">' + this.keyword + "</font> ")
    },
    _showDalog(){
      this.show = true
    },
    _setChoose(){
      this.choose = this.data
    }
  }
}
</script>
<style lang="scss" scoped>
.main{
  height: 600px;
  overflow: auto;
}
.footer {
  margin-top: 30px;
  text-align: right;
}
.el-checkbox-group{
  font-size: 13px;
}
</style>

