<template>
  <div v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="素材名称：">
            <el-input v-model="form.source_name"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="16"
          :xl="18">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              plain=""
              @click="showDialog = true"
              icon="el-icon-circle-plus-outline">生 成</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :height="$store.state.GTableHeight"
      border
      :data="tableData">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column property="source_name"
        label="素材名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="200"
        property="fmedianame"
        label="发布媒介"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="start_time"
        width="170"
        label="素材开始时间"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="end_time"
        width="170"
        label="素材结束时间"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="170"
        property="create_time"
        label="创建时间"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="160px"
        fixed="right"
        label="操作">
        <template slot-scope="scope">
          <el-button v-if="scope.row.source_state === '1'"
            :loading="true"
            type="text"
            icon="el-icon-download">生成中</el-button>
          <a :href="scope.row.source_url + '?attname='">
            <el-button v-if="scope.row.source_state === '2'"
              :loading="scope.row.loading"
              type="text"
              icon="el-icon-download">下载</el-button>
          </a>
          <el-button v-if="scope.row.source_state === '-1'"
            type="text"
            @click="_create(scope.row.source_id)"
            icon="el-icon-refresh">重新生成</el-button>
          <el-button type="text"
            @click="_delete(scope.row.source_id)"
            icon="el-icon-delete">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog v-if="showDialog"
      title="生成素材"
      center
      :visible.sync="show"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-form label-width="80px"
        v-model="addForm">
        <el-form-item label="媒介类型">
          <el-select v-model="addForm.mclass"
            placeholder="请选择"
            style="width:100%"
            @change="_getMediaList">
            <el-option v-for="item in Mediatype"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="媒介">
          <el-select style="width:100%"
            v-model="addForm.media_id"
            @change="_getMediaName">
            <el-option v-for="item in mediaList"
              :value="item.fid"
              :label="item.value"
              :key="item.fid">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="时间段">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="duringTime"
            @change="_setTime"
            :value-format="valueFormat"
            :type="dateType"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
          <span class="text-danger"
            v-if="notpaper && showText">时长不得小于 5 秒且不得超过 120 分钟</span>
        </el-form-item>
        <el-form-item label="素材名称">
          <el-input v-model="addForm.source_name"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          :disabled="showText"
          :loading="$store.state.bloading"
          @click="_create()">{{$store.state.bloading?'正在提交':'提 交'}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      form: {
        page: 1
      },
      addForm: {
        media_id: '',
        source_name: '',
        Sstart: '',
        Send: '',
        mclass: '1'
      },
      duringTime: [],
      mediaList: [],
      tableData: [],
      loading: false,
      countAll: '0',
      show: true,
      showDialog: false,
      creating: [],
      timer: null,
      timer2: null,
      mediaName: '',
      duringtime: '',
      notpaper: true,
      dateType: 'datetimerange',
      valueFormat: 'yyyy-MM-dd HH:mm:ss',
      showText: false
    }
  },
  created() {
    this._getList()
    this._getMediaList(this.addForm.mclass)
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      clearInterval(this.timer)
      clearInterval(this.timer2)
      this.timer = null
      this.timer2 = null
      this.creating = []
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + '/Agp/Fmonitoring/source_make_list', qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.loading = false
              if (item.source_state === '1') {
                this.creating.push(item.source_id)
              }
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
            if (this.creating.length) {
              this.timer = setInterval(() => {
                this._checkCreated(this.creating)
              }, 3000)
              this.timer2 = setInterval(() => {
                this._checkCreated2()
              }, 60000)
            } else {
              clearInterval(this.timer)
              clearInterval(this.timer2)
              this.timer = null
              this.timer2 = null
            }
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _download(obj) {
      obj.loading = true
      fetch(obj.source_url).then(res => res.blob().then(blob => {
        switch (res.status) {
          case 200:
            let a = document.createElement('a')
            let url = window.URL.createObjectURL(blob)
            a.href = url
            a.download = obj.source_name
            a.click()
            window.URL.revokeObjectURL(url)
            obj.loading = false
            this.$message.success('下载成功')
            break
          case 404:
            this.$message.error('下载出错')
            obj.loading = false
            break
        }
      }))
    },
    _delete(id) {
      this.$confirm('确认删除该素材?', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Fmonitoring/source_make_del', qs.stringify({ source_id: id }))
          .then(res => {
            if (res.data.code === 0) {
              this._getList()
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      })
        .catch(() => {
          this.$message.info('操作已取消')
        })
    },
    _create(id) {
      let data = {}
      if (id) {
        data = {
          source_id: id
        }
      } else {
        data = this.addForm
      }
      data.source_type = 0
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + '/Api/M3u8Rec/add_source_make', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success('正在生成')
            this.showDialog = false
            this._getList()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _getMediaList(val) {
      this.addForm.source_name = ''
      this.duringTime = []
      this.duringtime = ''
      this.addForm.media_id = ''
      this.addForm.Send = ''
      this.addForm.Sstart = ''
      this.notpaper = val !== '3' ? true : false
      this.dateType = val !== '3' ? 'datetimerange' : 'daterange'
      this.valueFormat = val !== '3' ? 'yyyy-MM-dd HH:mm:ss' : 'yyyy-MM-dd'
      axios.post(this.$_ + '/Agp/Core/get_user_media', qs.stringify({ mclass: val }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaList = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getMediaName(val) {
      let mArr = this.mediaList.filter(item => {
        return item.fid === val
      })
      this.mediaName = mArr[0]['value']
      this.addForm.source_name = `${this.mediaName}${this.duringtime}`
    },
    _setTime(val) {
      if (this.notpaper) {
        if (new Date(val[1]).getTime() - new Date(val[0]).getTime() > 7200000 || new Date(val[1]).getTime() - new Date(val[0]).getTime() < 5000) {
          this.showText = true
        } else {
          this.showText = false
        }
      }
      this.addForm.Sstart = val[0]
      this.addForm.Send = val[1]
      if (this.notpaper) {
        let s = this.$dayjs(new Date(val[0])).format('YYYY-MM-DD HH：mm：ss')
        let e = this.$dayjs(new Date(val[1])).format('HH：mm：ss')
        this.duringtime = `${s}-${e}`
      } else {
        this.duringtime = this.duringTime.join('-')
      }
      this.addForm.source_name = `${this.mediaName}${this.duringtime}`
    },
    _checkCreated(arr) {
      axios.post(this.$_ + '/Api/M3u8Rec/get_source_make_state', qs.stringify({ selsource_id: arr }))
        .then(res => {
          if (res.data.code === 0) {
            this._getList(this.form.page)
          }
        })
    },
    _checkCreated2() {
      axios.post(this.$_ + '/Api/M3u8Rec/get_source_make_state2')
    },
    _close() {
      this.form = { page: 1 }
      this.addForm.source_name = ''
      this.duringTime = []
      this.duringtime = ''
      this.addForm.media_id = ''
      this.addForm.Send = ''
      this.addForm.Sstart = ''
      this.showDialog = false
      this.showText = false
    }
  },
  beforeDestroy(to, from, next) {
    clearInterval(this.timer)
    clearInterval(this.timer2)
    this.timer = null
    this.timer2 = null
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType3
    }
  }
}
</script>
