<template>
  <div class="during-time">
    <div class="timeChoise">
      <el-button type="primary" @click="preduring" :disabled="activeTime2 <= 0">上一段</el-button>
      <el-select v-model="activeTime" @change="change">
        <el-option v-for="(item,index) in timeDate"
          :key="index"
          :label="item.start + ' - ' + item.end"
          :value="index">
        </el-option>
        <el-option label="自定义" :value="100"></el-option>
      </el-select>
      <el-button type="primary" @click="nextduring" :disabled="activeTime2 >= (timeDate.length - 1)">下一段</el-button>
      <span v-if="iscustomize">
        <el-time-picker
          is-range
          v-model="customize"
          value-format="yyyy-MM-dd HH:mm:ss"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围">
        </el-time-picker>
        <el-button type="primary" icon="el-icon-check" @click="customizeTime"></el-button>
      </span>
    </div>
    <div class="timeChoise pull-right">
      <el-button type="primary" @click="() => $emit('back',jump_time)">后 退</el-button>
      <el-input-number v-model="jump_time" :min="1" :max="1800"></el-input-number>
      <el-button type="primary"  @click="() => $emit('up',jump_time)">前 进</el-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
  export default {
    props: {
      date: {
        type: String,
        required: true
      }
    },
    data() {
      let customize = [`${this.date} 00:00:00`, `${this.date} 23:59:59`]
      return {
        activeTime: 0,
        activeTime2: 0,
        customize: customize,
        iscustomize: false,
        jump_time: 5,
      }
    },
    computed: {
      ...mapState(['timeDate']),
    },
    methods: {
      nextduring(){
        this.activeTime += 1
        this.activeTime2 = this.activeTime
        this.$emit('nextduring',this.activeTime2)
      },
      preduring(){
        this.activeTime -= 1
        this.activeTime2 = this.activeTime
        this.$emit('preduring',this.activeTime2)
      },
      change(val){
        if(val !== 100){
          this.iscustomize = false
          this.$emit('change', val)
        }else{
          this.iscustomize = true
        }
      },
      customizeTime(){
        let [start, end] = this.customize
        let _start = start.substring(11)
        let _end = end.substring(11)
        let data = {
          start: _start,
          end: _end,
          starttime: _start,
          endtime: _end,
        }
        this.$store.commit('pushTimeDate', data)
        this.change(this.timeDate.length - 1)
      },
    },
  }
</script>

<style lang="scss" scoped>
.during-time{
  .timeChoise {
    display: inline-block;
    margin:2px 0;
  }
  .pull-right{
    float: right;
  }
}
</style>