<template>
  <div class="edit-pwd">
    <el-dialog
      title="修改密码"
      :visible.sync="show"
      width="600px"
      :before-close="_close">
      <el-form :model="form" ref="form" label-width="80px" >
        <el-form-item label="原密码">
          <el-input v-model="form.fpassword1" type="password"></el-input>
        </el-form-item>
        <el-form-item label="新密码">
          <el-input v-model="form.fpassword2" type="password"></el-input>
        </el-form-item>
        <el-form-item label="确认密码">
          <el-input v-model="form.fpassword3" type="password"></el-input>
        </el-form-item>
        <el-form-item label="验证码">
          <el-input v-model="form.verify" style="width:50%;float:left;"></el-input>
          <img :src="$_ + '/Agp/Login/verify/' + tstring" width="45%" height="40px" alt="验证码加载失败" class="pull-right" @click="_changeVerify">
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_changPwd" :loading="$store.state.bloading">修 改</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import { encrypt } from '@/until/rsa.js'
  export default {
    data(){
      return {
        show: true,
        form: {
          fpassword1: '',
          fpassword2: '',
          fpassword3: '',
          verify: ''
        },
        tstring: ''
      }
    },
    methods: {
      _close(){
        this.$emit('close')
      },
      _changeVerify(){
        this.tstring = new Date().getTime()
      },
      _changPwd(){
        let b = (this.form.fpassword2.length >= 6) && (this.form.fpassword2 === this.form.fpassword3)
        if(b){
          this.$store.commit('_bloading',true)
          let data = {
            verify: this.form.verify,
            fpassword1: encrypt(this.form.fpassword1),
            fpassword2: encrypt(this.form.fpassword2),
            fpassword3: encrypt(this.form.fpassword3),
          }
          axios.post(this.$_ + '/Agp/Base/edit_mima',qs.stringify(data))
          .then(res => {
            if(res.data.code === 0){
              this.$message.success(res.data.msg)
              this.$emit('success')
            }else{
              this.$func._error(res.data)
            }
            this.$store.commit('_bloading',false)
          })
          .catch(() => {
            this.$func._error()
            this.$store.commit('_bloading',false)
          })
        }else{
          this.$func._error('密码长度小于6，或新密码与就密码不一致')
        }
      }
    }
  }
</script>