<template>
  <div>
    <el-dialog  title="法规库" :visible.sync="showIllegal" center :close-on-click-modal="false" top="6vh"
      :before-close="() => $emit('close')"
      :close-on-press-escape="false" width="1000px">
      <div class="card-box">
        <el-card shadow="hover" class="cardStyle">
          <span @click="illexpress" style="color: #00c1de;">违法表现</span>
        </el-card>
        <div v-for="(item, index) in list" :key="index">
          <a :href="item.link" target="_blank">
            <el-card shadow="hover" class="cardStyle">
              {{ item.name }}
            </el-card>
          </a>
        </div>
      </div>
    </el-dialog>
    <el-dialog  title="涉嫌违法表现" :visible.sync="showIllegalDetail" center :close-on-click-modal="false"
      :before-close="() => showIllegalDetail = false"
      :close-on-press-escape="false" width="950px">
      <el-input placeholder="关键字搜索" v-model="filterText" clearable>
      </el-input>
      <div class="tree-block">
        <el-tree node-key="fcode" ref="tree" :data="IllegalList" :props="treeProps"
          :filter-node-method="filterNode">
          <div slot-scope="{ node, data }">
            <el-tooltip  effect="dark" :content="'点击复制代码' + node.label" placement="top-start">
              <div class="tree-node-slot" v-clipboard="data.fcode" title="点击复制代码">{{ node.label }}</div>
            </el-tooltip>
          </div>
        </el-tree>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filterText: '',
      showIllegal: true,
      showIllegalDetail: false,
      treeProps: {
        label: 'fexpression',
        children: 'list_2'
      },
      list: [
        {
          name: '中华人民共和国广告法',
          link: '/Public/Word/中华人民共和国广告法.pdf',
        },
        {
          name: '互联网广告管理暂行办法',
          link: '/Public/Word/互联网广告管理暂行办法.pdf',
        },
        {
          name: '药品广告审查发布标准',
          link: '/Public/Word/药品广告审查发布标准.pdf',
        },
        {
          name: '医疗广告管理办法',
          link: '/Public/Word/医疗广告管理办法.pdf',
        },
        {
          name: '医疗器械广告审查发布标准',
          link: '/Public/Word/医疗器械广告审查发布标准.pdf',
        },
        {
          name: '食品广告发布暂行规定',
          link: '/Public/Word/食品广告发布暂行规定.pdf',
        },
         {
          name: '房地产广告发布规定',
          link: '/Public/Word/房地产广告发布规定.pdf',
        },
        {
          name: '农药广告审查发布标准',
          link: '/Public/Word/农药广告审查发布标准.pdf',
        },
        {
          name: '兽药广告审查发布标准',
          link: '/Public/Word/兽药广告审查发布标准.pdf',
        },
        {
          name: '广告语言文字管理暂行规定',
          link: '/Public/Word/广告语言文字管理暂行规定.pdf',
        },
      ],
    }
  },
  computed: {
    IllegalList(){
      return JSON.parse(JSON.stringify(this.$store.state.IllegalList)).map(i => {
        if(i.list_2){
          i.list_2.map(v => {
            v.fexpression = `【${v.fcode}】${v.fexpression}`
            return v
          })
        }
        return i
      })
    },
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val)
    },
  },
  methods: {
    illexpress() {
      this.showIllegalDetail = true
    },
     // 搜索节点处理函数
    filterNode(value, data) {
      if (!value) return true
      return data.fexpression.indexOf(value) !== -1
    },
  },
}
</script>

<style lang="scss" scoped>
.tree-block{
  max-height: 350px;
  overflow: auto;
}
.card-box{
  height: 600px;
  overflow: auto;
}
.cardStyle{
  margin-bottom: 8px;
  cursor: pointer;
  font-weight: 600;
  color: #00c1de;
}
</style>