<template>
  <el-dialog :title="params.title"
    width="70%"
    center
    :visible.sync="show"
    :before-close="() => $emit('close')">
    <iss-dialog v-if="issDialog"
      :posturl="infoUrl"
      :data="detailsData"
      :download="true"
      :area="searchForm.area"
      @close="_close">
    </iss-dialog>
    <niss-dialog :posturl="infoUrl"
      v-if="nissDialog"
      :data="detailsData"
      :area="searchForm.area"
      @close="_close">
    </niss-dialog>
    <el-table border
      v-loading="loading"
      height="400px"
      ref="multipleTable"
      @sort-change="_sortChange"
      :data="tableData">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column prop="fadname"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80px"
        prop="fillegaltype"
        label="违法类型">
      </el-table-column>
      <el-table-column label="发布时间"
        width="160"
        sortable="custom"
        prop="fissuedate"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="时长（秒）"
        width="100"
        prop="flength"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80px">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_issDetails(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
  </el-dialog>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import issDialog from '@/components/monitoringdata/common/issDialog'
import nissDialog from '@/components/monitoringdata/common/nissDialog'
export default {
  props: ['params'],
  components: { issDialog, nissDialog },
  data() {
    return {
      show: true,
      countAll: 0,
      tableData: [],
      nissDialog: false,
      issDialog: false,
      searchForm: {
        iscontain: this.$store.state.FJiscontain || '0',
        fadname: '',
        fadclasscode: [],
        fmedianame: '',
        media: [],
        fillegaltypecode: '-1',
        mclass: 'tv',
        page: '1',
        area: '',
        pxtype: '',
        pxval: '',
        version: '',
      },
      area: '',
      loading: false,
      detailsData: {},
    }
  },
  computed: {
    useOpenSearch(){
      return this.$store.state.userInfo.use_open_search !== 0
    },
    infoUrl(){
      return this.useOpenSearch ? '/Agp/Fmonitoring2/getmonitoringview' : '/Agp/Fmonitoring/getmonitoringview'
    },
    listUrl(){
      return this.useOpenSearch ? '/Agp/Fmonitoring2/index' : '/Agp/Fmonitoring/index'
    }
  },
  created() {
    this.searchForm.mclass = this.useOpenSearch ? '01' : 'tv'
    // this.searchForm.area = this.$store.state.mediaArea[0]['fid']
    const num = String(this.$store.state.userInfo.system_num).substring(0,2) + '0000'
    this.searchForm.area = Number(num)
    this._getList()
  },
  methods: {
    _issDetails(item) {
      this.detailsData = item
      if (item.mclass !== 'net' && item.mclass !== '13') {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    _getList(page) {
      if(page) this.searchForm.page = page
      let fissuedatest = null
      let fissuedateed = null
      if(this.params.fillegaltypecode === '-1' || this.params.fillegaltypecode === ''){
        fissuedatest = this.$dayjs().subtract(7, 'days').format('YYYY-MM-DD')
        fissuedateed = this.$dayjs().subtract(1, 'days').format('YYYY-MM-DD')
      }else{
        fissuedatest = this.$dayjs().startOf('month').format('YYYY-MM-DD')
        fissuedateed = this.$dayjs().format('YYYY-MM-DD')
      }
      let data = {
        fissuedatest,
        fissuedateed,
        ...this.searchForm,
        ...this.params,
      }
      this.loading = true
      axios.post(this.$_ + this.listUrl, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.mclass === 'paper' || item.mclass === 'net' || item.mclass === '03' || item.mclass === '13') {
                item.fissuedate = item.fissuedate.substring(0, 10)
                item.flength = '-'
              }
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '1'
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '2'
          break
        case null:
          this.searchForm.pxtype = ''
          this.searchForm.pxval = '0'
          break
      }
      this._getList(1)
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
  },
}
</script>

<style lang="scss" scoped>
</style>