<template>
  <!-- 使用说明 -->
  <!--
    dalog默认显示，通过 v-if 控制 outFile 组件的显示与隐藏
    durl：下载地址，默认为空
    @close: 有一个关闭弹窗的回调
   -->
  <el-dialog
    class="out-file"
    title=""
    :visible.sync="show"
    width="700px"
    :show-close="false"
    modal-append-to-body
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    center>
    <div
      v-show="!Boolean(durl)"
      style="height:250px;"
      v-loading="true"
      element-loading-text="文件生成中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(255, 255, 255, 1)">
    </div>
    <div
      v-show="Boolean(durl)"
      class="text-center">
      <div>
        <i class="el-icon-circle-check-outline"></i>
      </div>
      <a :href="durl" target="_blank">
        <el-button type="text">生成成功，点击下载</el-button>
      </a>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button  type="primary" @click="_close">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    props: {
      durl: {
        default: '',
        type: String
      }
    },
    data(){
      return {
        show: true
      }
    },
    methods: {
      _close(){
        this.$emit('close')
      }
    }
  }
</script>

<style scoped lang="scss">
.out-file{
  .el-icon-circle-check-outline{
    font-size: 40px;
    color: #67C23A;
  }
}

</style>