<template>
	<div class="sms">
		<el-button type="primary"
			v-if="verify"
			class="pull-right"
			:disabled="time !== 0"
			@click="_getMsgVerify"
			>
			{{time === 0 ? `获取验证码`:`重新获取(${time})`}}
		</el-button>
		<el-tooltip effect="dark"
			v-else
			content="输入验证码后才能获取短信验证码"
			placement="top-start"
			class="pull-right">
			<el-button type="primary">获取验证码</el-button>
		</el-tooltip>
		
	</div>
</template>

<script>
	export default {
		props:{
			verify:{
				type: String,
				default: ''
			},
		},
		data(){
			return{
				timer: null,
				time: 0,
			}
		},
		methods:{
			// 获取短信验证码
			_getMsgVerify() {
				this.$emit('getsms')
			},
			// 重发验证码
			_reVerify() {
				this.time = 60
				this.timer = setInterval(() => {
					if (this.time !== 0) {
						this.time -= 1
					} else {
						clearInterval(this.timer)
					}
				}, 1000)
			},
		}
	}
</script>

<style scoped>

</style>
