<template>
  <el-upload :action="upOptions.up_server"
    ref="upload"
    :data="uploadOptions"
    :before-upload="beforeUpload"
    auto-upload
    :file-list="fileList"
    :on-success="uploadSuccess"
    :on-progress="uploadProgress"
    :show-file-list="true"
    :on-preview="downloadFile"
    :on-error="uploadError">
    <el-button type="primary"
      :loading="uploading">点击上传</el-button>
  </el-upload>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props:{
    fileList:{
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      uploadOptions: {},
      upOptions: {
        up_server: '',
      },
      bucket_url: '',
      uploading: false,
      uploadList: [],
    }
  },
  created() {
    this.getToken()
  },
  methods: {
    getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    downloadFile(file){
      const a = document.createElement('a')
      a.href = file.url
      a.target = '_blank'
      a.click()
    },
    beforeUpload(file) {
      const extArr = file.name.split('.')
      const ext = extArr.length > 1 ? extArr.pop() : ''
      this.uploadOptions.key = ext ? `warning/${file.uid}.${ext}` : file.uid
    },
    uploadSuccess(response, file, fileList) {
      const result = {
        ...file,
        url: `${this.bucket_url}${file.response.key}?attname=${file.name}`
      }
      this.uploading = !this.uploading
      this.$refs.upload.uploadFiles = [result]
      this.$emit('uploadSuccess', result)
    },
    uploadProgress() {
      this.uploading = !this.uploading
      this.$emit('uploadProgress')
    },
    uploadError() {
      this.uploading = !this.uploading
      this.$emit('uploadError')
    },
  },
}
</script>

<style scoped>
</style>