.issueList {
  max-height: 400px;
  overflow: auto;
}
.video-js{
  width: 100%;
}
.ad-sample img{

}
.issueContent{
  display: flex;
  flex-grow: initial;
  .viewer-container{
    margin-top: 50px;
  }
  .ad-sample img{
    margin-top: 50px;
    max-width: 300px;
    height: 300px;
  }
}
.adInfo{
  border: 1px solid #E4E7ED;
  padding: 5px 0;
  margin-left: 10px;
  border-radius: 5px;
  .el-row{
    margin-bottom: 10px;
    .el-col{
      &:first-child{
        text-align: right;
        padding-right: 10px;
      }
    }
  }
}
.el-dialog{
  margin-top:5vh!important;
  .el-dialog__header{
    display: flex;
    justify-content: space-between;
  }
  .el-dialog__title{
    font-weight: bold;
    &:before{
      content: '';
    }
  }
}