.issueList {
  max-height: 400px;
  overflow: auto;
}
.video-js {
  width: 100%;
}
.issueContent {
  display: flex;
  flex-grow: initial;
}
.issueContent .viewer-container {
  margin-top: 50px;
}
.issueContent .ad-sample img {
  margin-top: 50px;
  max-width: 300px;
  height: 300px;
}
.adInfo {
  border: 1px solid #E4E7ED;
  padding: 5px 0;
  margin-left: 10px;
  border-radius: 5px;
}
.adInfo .el-row {
  margin-bottom: 10px;
}
.adInfo .el-row .el-col:first-child {
  text-align: right;
  padding-right: 10px;
}
.el-dialog {
  margin-top: 5vh!important;
}
.el-dialog .el-dialog__header {
  display: flex;
  justify-content: space-between;
}
.el-dialog .el-dialog__title {
  font-weight: bold;
}
.el-dialog .el-dialog__title:before {
  content: '';
}
/*# sourceMappingURL=adInfo.css.map */