<div class="fixed-table-container">
    <audio src="" id="Audio">
        音频播放失败
    </audio>
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">发布媒体</th>
                <th class="text-center">广告名称</th>
                <th class="text-center">广告类别</th>
                <th class="text-center">发布时间</th>
                <th class="text-center">发布类型</th>
                <th class="text-center">违法类型</th>
                <th class="text-center">发布时长（秒）</th>
                <th class="text-center">创建人</th>
                <th class="text-center">创建时间</th>
                <!-- <th class="text-center">操作</th> -->
            </tr>
        </thead>
        <tbody>
            <foreach name="bcissueList" item="bcissue">
                <tr class="mediaTr mediaName" id="{$bcissue.fbcissueid}">
                    <td class="text-center">{$bcissue.k}</td>
                    <td class="text-center">{$bcissue.fmedianame}</td>
                    <td class="text-center" title="点击查看广告详情">
                        <i class="fa fa-play-circle-o viewAudio" src="{$bcissue.favifilename}" aria-hidden="true" title="点击预览视频"></i>
                        <span class="">{$bcissue.fadname}</span>
                    </td>
                    <td class="text-center">{$bcissue.adclass_code}</td>
                    <td class="text-center">{$bcissue.fstarttime}</td>
                    <td class="text-center">{$bcissue.fissuetype}</td>
                    <td class="text-center">{$bcissue.fillegaltype}</td>
                    <td class="text-center">{$bcissue.flength}</td>
                    <td class="text-center">{$bcissue.fcreator}</td>
                    <td class="text-center">{$bcissue.fcreatetime}</td>
                    <!-- <td class="text-center">
                        <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> 编辑</button>
                    </td> -->
                </tr>
            </foreach>
            <empty name="bcissueList">
                <tr class="h5 text-center text-primary">
                    <td colspan="10">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
