<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>人员权限</title>
  <link rel="shortcut icon" href="favicon.ico">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/iCheck/custom.css" rel="stylesheet">
  <link rel="stylesheet" href="{:C('PUBLIC_RESOURCE')}Jstree/themes/default/style.min.css">
  <link href="/Application/Gongshang/View/public/common.css" rel="stylesheet">
</head>
<body class="gray-bg">
	<div id="app" class="wrapper wrapper-content">
    <div class="ibox-content">
      <div class="row animated fadeInRight">
        <div class="col-md-6">
          <table class="table infoBlock">
            <tr>
              <td colspan="2"><div class="h4 text-center">人员信息</div></td>
            </tr>
            <tr>
              <th style="width:100px;"><i class="text-danger">*</i> 姓名：</th>
              <td><input placeholder="请输入姓名" type="text" class="form-control input-sm fname" value="{$regulatorpersonDetails.fname}"></td>
            </tr>
            <tr>
              <th><i class="text-danger">*</i> 人员编码：</th>
              <td><input placeholder="请输入编码" type="text" class="form-control input-sm fcode" value="{$regulatorpersonDetails.fcode}"></td>
            </tr>
            <tr>
              <th>职务：</th>
              <td><input placeholder="请输入职务" type="text" class="form-control input-sm fduties" value="{$regulatorpersonDetails.fduties}"></td>
            </tr>
            <tr>
              <th>联系手机：</th>
              <td><input placeholder="请输入联系手机" type="text" class="form-control input-sm fmobile" value="{$regulatorpersonDetails.fmobile}"></td>
            </tr>
            <tr>
              <th>密码：</th>
              <td>
                <input placeholder="请输入密码" type="text" autocomplete="off" class="form-control input-sm fpassword">
              </td>
            </tr>
            <tr>
              <th>人员说明：</th>
              <td><textarea rows="" cols="" class="form-control input-sm fdescribe" placeholder="请输入人员说明">{$regulatorpersonDetails.fdescribe}</textarea></td>
            </tr>
            <notempty name="regulatorpersonDetails.fid">
            <tr>
              <th>人员菜单：</th>
              <td>
                <foreach name="menutypelist" item="c">
                  <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;" @click="getmenu({$c.me_id})">{$c.me_name}</button>
                </foreach>
              </td>
            </tr>
            </notempty>
            <tr>
              <td colspan="2" class="text-center">
                <button type="button" class="btn btn-primary savePeople">保存</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6" style="border-left:1px solid #e7eaec;">
          <h4 class="h4 text-center">媒体权限
            <button class="btn btn-primary btn-xs pull-right" @click="checkaLL">{{checkState ? '全选' : '不选'}}</button>
            <button class="btn btn-primary btn-xs pull-right" @click="dcheck" style="margin-right: 10px;">反选</button>
          </h4>
          <label>
            <div class="row">
              <foreach name="medialist" item="a">
                <div class="col-md-4">
                  <div class="checkbox i-checks">
                    <label style="padding:0px;"><input type="checkbox" value="{$a.fid}" name="medialist"> {$a.fmedianame}</label>
                  </div>
                </div>
              </foreach>
            </div>
          </label>
        </div>
        <div class="col-md-6" style="border-left:1px solid #e7eaec;">
          <table class="table infoBlock menuTable">
            <tr>
              <td colspan="2"><div class="h4 text-center">菜单权限</div></td>
            </tr>
            <foreach name="menu" item="fmenu">
              <tr>
                <th 
                  style="width:120px;" 
                  class="fmenu" 
                  menuid="{$fmenu.menu_id}" 
                  menuname="{$fmenu.menu_name}" 
                  menuurl="{$fmenu.menu_url}" 
                  parentid="{$fmenu.parent_id}" 
                  menusort="{$fmenu.menu_sort}" 
                  menustate="{$fmenu.menu_state}" 
                  icon="{$fmenu.icon}" 
                  parameter="{$fmenu.parameter}"
                  >
                  <div class="checkbox i-checks">
                    <label style="padding:0px;"><input type="checkbox" name="checkAll">&nbsp;{$fmenu.menu_name}：</label>&nbsp;
                  </div>
                </th>
                <td>
                  <foreach name="fmenu.menulist" item="smenu">
                    <div class="checkbox i-checks">
                      <label>
                        <input 
                          class="smenu" 
                          menuurl="{$smenu.menu_url}" 
                          menuid="{$smenu.menu_id}" 
                          parentid="{$smenu.parent_id}" 
                          menuname="{$smenu.menu_name}" 
                          menusort="{$smenu.menu_sort}" 
                          menustate="{$smenu.menu_state}" 
                          icon="{$smenu.icon}" 
                          parameter="{$smenu.parameter}" 
                          type="checkbox" 
                          value="1"
                        >
                        &nbsp;{$smenu.menu_name}
                      </label>
                    </div>
                  </foreach>
                </td>
              </tr>
            </foreach>
          </table>
        </div>
      </div>
    </div>
    <!-- 编辑菜单 -->
    <div id="menuChange" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">菜单权限</h3>
          </div>
          <div class="modal-body">
            <div id="jstree"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}Vue/vue.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}Jstree/jstree.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data(){
        return {
          list: [],
          checkState: true,
          menutype: ''
        }
      },
      mounted(){
        $('#menuChange').on('hidden.bs.modal', function (e) {
          $('#jstree').jstree('destroy')
          $('#jstree').empty()
        })
        var personmedialist = JSON.parse('{$personmedialist}').length ? JSON.parse('{$personmedialist}') : [];
        personmedialist.forEach(function(item){
          $('input[name="medialist"][value='+item+']').iCheck('check')
        })
      },
      methods: {
        checkaLL(){
          this.checkState = !this.checkState
          this.checkState ? $('input[name=medialist]').iCheck('uncheck') : $('input[name=medialist]').iCheck('check')
        },
        dcheck(){
          $('input[name=medialist]').iCheck('toggle');
        },
        getmenu(val){
          this.menutype = val
          var _this = this
          var data = {
            menutype: val,
            fid: '{$Think.get.fregulatorid}',
            personid: '{$Think.get.fid}'
          }
          $.post('{:U("Admin/Regulatorperson/get_personmenulist")}',data,function(res){
            if(res.code === 0){
              _this.treeInit(res.menulist,res.personmenulist)
            }
          })
        },
        // 初始化菜单树
        treeInit(data,selected){
          $('#jstree').empty()
          var _this = this
          var menu = data
          if(menu){
            var data = menu.map(function(item){
              item.id = item.menu_id
              item.text = item.menu_content ? item.menu_name + '（'+item.menu_content+'）' : item.menu_name
              if(item.children){
                item.children.map(function(item2){
                  item2.id = item2.menu_id
                  item2.text = item2.menu_content ? item2.menu_name + '（'+item2.menu_content+'）' : item2.menu_name
                  return item2
                })
              }
              return item
            })
          }else{
            var data = []
          }
          $('#jstree').jstree({
            'core': {
              'data': data,
              "themes": {
                "theme": "default-dark",
                "dots": true,
                "icons": false
              },
              'check_callback': true
            },
            "plugins" : ['wholerow','checkbox']
          }).on('loaded.jstree', function() {
            $('#menuChange').modal('show')
            var select = selected.length ? selected : []
            select.map(function(item){
              $('#jstree').jstree('select_node', item,true)
            })
          }).on('changed.jstree',function(e,data){
            if(data.action === 'ready') return false
            var isParent = data.node.original.parent_id === '0' ? 1 : 0
            var selstate = data.action === "select_node" ? 1 : 0
            var nodes = []
            if(isParent){
              var array = data.node.children.concat([])
              array.push(data.node.id)
              nodes = []
              array.forEach(function(item){
                var obj = {}
                var node = $('#jstree').jstree('get_node',item)
                obj.fmenuid = node.original.id
                obj.fmenupid = node.original.parent_id
                obj.selstate = selstate
                nodes.push(obj)
              })
            }else{
              nodes = []
              var parentNode = $('#jstree').jstree('get_node',data.node.original.parent_id)
              var obj = {},obj2 = {}
              obj.fmenuid = parentNode.original.menu_id
              obj.fmenupid = parentNode.original.parent_id
              obj.selstate = parentNode.state.selected ? 1 : 0
              nodes.push(obj)
              obj2.fmenuid = data.node.original.menu_id
              obj2.fmenupid = data.node.original.parent_id
              obj2.selstate = selstate
              nodes.push(obj2)
            }
            var _data = {
              menutype: _this.menutype,
              selid: nodes,
              fpersonid: '{$Think.get.fid}'
            }
            $.post('{:U("Admin/Regulatorperson/updatepersonmenu")}',_data,function(res){

            })
          })
        }
      }
    })
  </script>
  <script>
    "use strict";
      $(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });
      function savePeople() {
        var fmenuLength = $('.fmenu').length;
        var menuList = [];
        for(var i=0;i<fmenuLength;i++){
          var smenu = $('.fmenu').eq(i).next().find('.smenu:checked');
          var fmenuObj = {
            "menu_id":$('.fmenu').eq(i).attr('menuId'),
            "menu_name":$('.fmenu').eq(i).attr('menuName'),
            "menu_url":$('.fmenu').eq(i).attr('menuUrl'),
            "parent_id":$('.fmenu').eq(i).attr('parentId'),
            "menu_sort":$('.fmenu').eq(i).attr('menuSort'),
            "menu_state":$('.fmenu').eq(i).attr('menuState'),
            "icon":$('.fmenu').eq(i).attr('icon'),
            "parameter":$('.fmenu').eq(i).attr('parameter'),
            "menulist":[]
          }
          if(smenu.length > 0){
            for(var k=0;k<smenu.length;k++){
              var smenuObj = {
                "menu_id":smenu.eq(k).attr('menuId'),
                "menu_name":smenu.eq(k).attr('menuName'),
                "menu_url":smenu.eq(k).attr('menuUrl'),
                "parent_id":smenu.eq(k).attr('parentId'),
                "menu_sort":smenu.eq(k).attr('menuSort'),
                "menu_state":smenu.eq(k).attr('menuState'),
                "icon":smenu.eq(k).attr('icon'),
                "parameter":smenu.eq(k).attr('parameter'),
                "menulist":[]
              }
              fmenuObj.menulist.push(smenuObj);
            }
            menuList.push(fmenuObj);
          }
        }
        var medialist = [];
        $('input[name=medialist]:checked').each(function(item){
          medialist.push($(this).val())
        })
        var fname = $('.fname').val();//姓名
        var fcode = $('.fcode').val();//编码
        var fduties = $('.fduties').val();//职务
        var fpassword = $('.fpassword').val();//密码
        var fmobile = $('.fmobile').val();//手机
        var fdescribe = $('.fdescribe').val();//说明
        var data = {
          "fid": '{$Think.get.fid}',
          "fregulatorid": '{$Think.get.fregulatorid}',
          'fcode': fcode,
          'fduties': fduties,
          "fname": fname,
          "fmobile": fmobile,
          "fpassword": fpassword,
          "fdescribe": fdescribe,
          "menu": menuList,
          "medialist": medialist
        }
        var url='{:U("Admin/Regulatorperson/add_edit_regulatorperson")}';
          if (fname && fcode) {
            $.post(url, data, function (req) {
              if (req.code == 0) {
                alertMSG(req.msg,'info',2000,function(){
                  tagJump('/Admin/Regulator/index.html');
                });
              } else {
                alertMSG(req.msg,'danger',2000);
              }
            })
          } else {
            alertMSG('请填写完整信息！','danger',2000);
          }
      }
      $(function(){
        $('input[name=checkAll]').on('ifChanged',function(){
          if($(this).prop('checked')){
            $(this).closest('th').next().find('.smenu').iCheck('check');
          }else{
            $(this).closest('th').next().find('.smenu').iCheck('uncheck');
          }
        })

        <neq name="special_menu_list" value="">
          var menuList = {:json_encode($special_menu_list)};
          if(menuList.length){
            for(var i=0;i<menuList.length;i++){
                $('input[menuid='+menuList[i]+']').iCheck('check');
            }
          }
        </neq>

        $('.savePeople').click(function(){
          savePeople()
        })
      })
  </script>
</body>
</html>