body{
  padding: 5px;
}
.el-form{
  background: #fff;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  .el-form-item{
    margin: 0;
    padding: 5px 0;
  }
}
table{
  text-align: center;
  thead{
    th{
      .cell{
        text-align: center;
      }
    }
  }
}
.el-table{
  .errorTask{
    background: #F56C6C;
    color: #000;
  }

}
.v-modal{
  display: none;
}
.el-dialog{
  min-height: 500px;
  overflow: hidden;
}
.taskInfo{
  .el-row{
    margin: 10px 0 ;
    padding-bottom: 5px;
  }
  .adInfo{
    .el-row{
      border-bottom: #DCDFE6 solid 1px;
    }
  }
  ol{
    li{
      margin-bottom: 10px;
    }
  }
}
.el-dialog__wrapper{
  min-height: 80vh;
}

.table{
  background: #EBEEF5;
  .isChecked{
    background: #f6ff9e!important;
  }
}
.regionWrapper{
  display: flex;
  flex-wrap: wrap;
  .item{
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    background: #409EFF;
    margin: 3px;
    color: #fff;
    border-radius: 5px;
    box-shadow: #817e79 2px 2px 8px;
    cursor: pointer;
  }
}
.regionSearch{
  display: flex!important;
  .el-form-item__content{
    display: flex;
    .el-checkbox{
      margin-left: 10px;
    }
  }
}
th{
  text-align: center!important;
}
.el-tree{
  >.el-tree-node{
    >.el-tree-node__content{
      >.el-checkbox{
        display: none;
      }
    }
  }
}
.v-modal{
  display: none!important;
}
.illegalExpression{
  height: auto!important;
}