.memberList {
  overflow: auto;
  height: 95vh;
  background: #fff;
  padding: 10px;
}
.memberList .item {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #E4E7ED;
  border-radius: 5px;
  cursor: pointer;
}
.memberList .active {
  background: #409EFF;
  color: #fffdef;
}
.manager {
  background: #fff;
  padding: 10px;
}
.mediaBtn {
  margin: 0 5px 5px 0!important;
}
.mediaBtn,
.mediaBtn .el-button--success {
  color: #F2F6FC;
}
/*# sourceMappingURL=mediaPrefer.css.map */