.net-ad{
  height: 100vh;
  display: flex;
  flex-direction: column;
  *[disabled="disabled"]{
    color: #606266!important;
  }
  .is-disabled{
    color: #606266!important;
  }
  .h3{
    margin-bottom: 11px;
  }
  .header{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding-left: 5px;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
    .h3{
      margin-right: 20px;
    }
    .timer{
      border: 1px solid #f4d5a6;
      display: flex;
      border-radius: 5px;
      padding: 5px;
      .left{
        display: flex;
        align-items: center;
        font-size: 35px;
        color: #E6A23C;
        padding-right: 5px;
      }
      .right{
        color: #000;
        div:last-child{
          color: #E6A23C;
        }
      }
    }
    .button-area{
      
    }
  }
  .content-wrapper{
    flex: 1;
    display: flex;
    overflow: auto;
  }
  .content {
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #E4E7ED;
    &:first-child{
      padding: 0 10px;
      margin-right: 6px;
      width: 400px;
      .sample1-wrapper{
        overflow: hidden;
        width: 100%;
        img{
          max-height: 300px;
          max-width: 350px;
          margin-bottom: 10px;
        }
      }
    }
    &:last-child{
      display: flex;
      flex-direction: column;
      flex: 1;
      .h3{
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
      }
      .iframe-wrapper{
        flex: 1;
      }
      iframe{
        height: 100%;
        width: 100%;
      }
    }
  }
}
