.net-ad {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.net-ad *[disabled="disabled"] {
  color: #606266!important;
}
.net-ad .is-disabled {
  color: #606266!important;
}
.net-ad .h3 {
  margin-bottom: 11px;
}
.net-ad .header {
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding-left: 5px;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
}
.net-ad .header .h3 {
  margin-right: 20px;
}
.net-ad .header .timer {
  border: 1px solid #f4d5a6;
  display: flex;
  border-radius: 5px;
  padding: 5px;
}
.net-ad .header .timer .left {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: #E6A23C;
  padding-right: 5px;
}
.net-ad .header .timer .right {
  color: #000;
}
.net-ad .header .timer .right div:last-child {
  color: #E6A23C;
}
.net-ad .content-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.net-ad .content {
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #E4E7ED;
}
.net-ad .content:first-child {
  padding: 0 10px;
  margin-right: 6px;
  width: 400px;
}
.net-ad .content:first-child .sample1-wrapper {
  overflow: hidden;
  width: 100%;
}
.net-ad .content:first-child .sample1-wrapper img {
  max-height: 300px;
  max-width: 350px;
  margin-bottom: 10px;
}
.net-ad .content:last-child {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.net-ad .content:last-child .h3 {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}
.net-ad .content:last-child .iframe-wrapper {
  flex: 1;
}
.net-ad .content:last-child iframe {
  height: 100%;
  width: 100%;
}
input[type=file] {
  display: none;
}
/*# sourceMappingURL=netAdTask.css.map */