.outdoor-ad-check{
  display: flex;
  height: 100%;
  .left-block{
    width: 500px;
    overflow: auto;
  }
  .right-block{
    flex-grow: 1;
    overflow: auto;
  }
  .card-title{
    display: inline-block;
    color: #409EFF;
    padding-left: 10px;
    border-left: 4px solid #409EFF;
    font-size: 16px;
    margin: 15px 0;
  }
  .line-box{
    margin-bottom: 10px;
    display: flex;
    .box-title{
      width: 100px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #666;
      line-height: 90px;
    }
    .video-box{
      width: 500px;
      display: inline-block;
      vertical-align: middle;
    }
    .img-box{
      display: inline-block;
      width: 90px;
      height: 90px;
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;
      padding: 4px;
      margin-right: 10px;
      vertical-align: middle;
      &:hover{
        cursor: pointer;
        opacity: 0.7;
      }
      img{
        width: 100%;
        height: 100%;
        vertical-align: baseline;
      }
    }
  }
  .tree-block{
    margin-top: 10px;
    max-height: 400px;
    overflow: auto;
    .tree-node-slot{
      width: 60em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .alert-box{
    max-height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    padding: 8px 8px 0px;
    &::-webkit-scrollbar {
      display: none;
    }
    .el-alert{
      margin-bottom: 8px;
      .alert-title{
        width: 15em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}