.outdoor-ad-check {
  display: flex;
  height: 100%;
}

.outdoor-ad-check .left-block {
  width: 500px;
  overflow: auto;
}

.outdoor-ad-check .right-block {
  flex-grow: 1;
  overflow: auto;
}

.outdoor-ad-check .card-title {
  display: inline-block;
  color: #409EFF;
  padding-left: 10px;
  border-left: 4px solid #409EFF;
  font-size: 16px;
  margin: 15px 0;
}

.outdoor-ad-check .line-box {
  margin-bottom: 10px;
  display: flex;
}

.outdoor-ad-check .line-box .box-title {
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  line-height: 90px;
}

.outdoor-ad-check .line-box .video-box {
  width: 500px;
  display: inline-block;
  vertical-align: middle;
}

.outdoor-ad-check .line-box .img-box {
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  padding: 4px;
  margin-right: 10px;
  vertical-align: middle;
}

.outdoor-ad-check .line-box .img-box:hover {
  cursor: pointer;
  opacity: 0.7;
}

.outdoor-ad-check .line-box .img-box img {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}

.outdoor-ad-check .tree-block {
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
}

.outdoor-ad-check .tree-block .tree-node-slot {
  width: 60em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.outdoor-ad-check .alert-box {
  max-height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  padding: 8px 8px 0px;
}

.outdoor-ad-check .alert-box::-webkit-scrollbar {
  display: none;
}

.outdoor-ad-check .alert-box .el-alert {
  margin-bottom: 8px;
}

.outdoor-ad-check .alert-box .el-alert .alert-title {
  width: 15em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
