body {
  padding: 5px;
}
.el-form {
  background: #fff;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
}
.el-form .el-form-item {
  margin: 0;
  padding: 5px 0;
}
table {
  text-align: center;
}
table thead th .cell {
  text-align: center;
}
.el-table .errorTask {
  color: #F56C6C;
}
.el-table .illegalTask {
  color: #E6A23C;
}
.v-modal {
  display: none;
}
.el-dialog {
  min-height: 500px;
  overflow: hidden;
}
.taskInfo .el-row {
  margin: 10px 0 ;
  padding-bottom: 5px;
}
.taskInfo .adInfo .el-row {
  border-bottom: #DCDFE6 solid 1px;
}
.taskInfo ol li {
  margin-bottom: 10px;
}
.el-dialog__wrapper {
  min-height: 80vh;
}
.viewer-container {
  min-height: 300px;
}
.errorCount .el-row {
  margin-bottom: 15px;
  font-size: 14px;
}
/*# sourceMappingURL=qualityList.css.map */