
/* ::-webkit-scrollbar{
    width: 10px!important;
    height: 10px!important;
} */
body {
  padding: 5px;
  overflow: auto!important;
}
.el-form {
  background: #fff;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
}
.el-form .el-form-item {
  margin: 0;
  padding: 5px 0;
}
table {
  /* text-align: center; */
}
table thead th .cell {
  /* text-align: center; */
}
.el-table .errorTask {
  color: #F56C6C;
}
.el-table .illegalTask {
  color: #E6A23C;
}
.el-dialog {
  /* min-height: 500px; */
  overflow: hidden;
}
.taskInfo .el-row {
  margin: 10px 0 ;
  padding-bottom: 5px;
}
.taskInfo .adInfo .el-row {
  border-bottom: #DCDFE6 solid 1px;
}
.taskInfo ol li {
  margin-bottom: 10px;
}
.el-dialog__wrapper {
  min-height: 95vh;
}
.el-dialog {
  margin-top: 5vh!important;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
  background: #fff;
  padding: 20px;
}
.grid-content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  line-height: 1;
}
.grid-content .ad-content {
  padding: 0 20px 20px;
}
.grid-content .ad-content div {
  width: 100%;
}
.grid-content .ad-content img {
  width: 100%;
  max-height: 500px;
}
.grid-content .sampleInfo {
  padding: 15px 0 15px 50px;
}
.grid-content .sampleInfo .row {
  display: flex;
  margin: 0;
}
.grid-content .sampleInfo .row .item {
  flex: 1;
}
.viewer-container {
  min-height: 300px;
}
.el-dialog .btnArea {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.el-dialog .el-dialog__body {
  padding: 10px 20px;
}
.regionWrapper {
  display: flex;
  flex-wrap: wrap;
}
.regionWrapper .item {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  background: #409EFF;
  margin: 3px;
  color: #fff;
  border-radius: 5px;
  box-shadow: #817e79 2px 2px 8px;
  cursor: pointer;
}
.regionSearch {
  display: flex!important;
}
.regionSearch .el-form-item__content {
  display: flex;
}
.regionSearch .el-form-item__content .el-checkbox {
  margin-left: 10px;
}
/*# sourceMappingURL=taskList.css.map */