body{
  padding: 5px;
  overflow: auto!important;
}
.el-form{
  background: #fff;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  .el-form-item{
    margin: 0;
    padding: 5px 0;
  }
}
table{
  text-align: center;
  thead{
    th{
      .cell{
        text-align: center;
      }
    }
  }
}
.el-table{
  .errorTask{
    color: #F56C6C;
  }
  .illegalTask{
    color: #E6A23C;
  }
}
.el-dialog{
  min-height: 500px;
  overflow: hidden;
}
.taskInfo{
  .el-row{
    margin: 10px 0 ;
    padding-bottom: 5px;
  }
  .adInfo{
    .el-row{
      border-bottom: #DCDFE6 solid 1px;
    }
  }
  ol{
    li{
      margin-bottom: 10px;
    }
  }
}
.el-dialog__wrapper{
  min-height: 95vh;
}
.el-dialog{
  margin-top: 5vh!important;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
  background: #fff;
  padding: 20px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    line-height: 1;
  }
  .ad-content{
    padding: 0 20px 20px;
    div{
      width: 100%;
    }
    img{
      width: 100%;
      max-height: 500px;
    }
  }
  .sampleInfo{
    padding: 15px 0 15px 50px;
    .row{
      display: flex;
      margin: 0;
      .item{
        flex: 1;
      }
    }
  }
}
.viewer-container{
  min-height: 300px;
}
.el-dialog{
  .btnArea{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  .el-dialog__body{
    padding: 10px 20px;
  }
}
.regionWrapper{
  display: flex;
  flex-wrap: wrap;
  .item{
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    background: #409EFF;
    margin: 3px;
    color: #fff;
    border-radius: 5px;
    box-shadow: #817e79 2px 2px 8px;
    cursor: pointer;
  }
}
.regionSearch{
  display: flex!important;
  .el-form-item__content{
    display: flex;
    .el-checkbox{
      margin-left: 10px;
    }
  }
}