.task-info {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
.task-info .ad-text{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50%;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.task-info audio {
  width: 100%;
}
.task-info .subTaskInfo > .el-dialog {
  margin-top: 20px!important;
}
.task-info .el-tabs__content {
  min-height: 350px;
}
.task-info .sameAdNameTaskList .el-button {
  margin-top: 5px;
}
.task-info .el-row {
  margin-bottom: 15px;
}
.task-info .sample-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-info .task-back .describe {
  color: #F56C6C;
  margin-right: 50px;
}
.task-info .sample-content {
  min-height: 300px;
}
.task-info .sample-content img {
  width: 100%;
  max-height: 500px;
}
.task-info .el-popover {
  max-height: 500px;
  overflow: auto;
}
.task-info .el-tree-node {
  white-space: normal;
}
.task-info .el-tree-node__content {
  height: auto;
  margin: 5px 0;
}
.task-info .el-card {
  max-height: 270px;
  overflow: auto;
}
.task-info .el-form-item__label {
  font-size: 12px;
}
.task-info .el-form-item {
  margin-bottom: 20px;
  /* height: 25px; */
}
.task-info .el-form-item .el-input input {
  /* height: 25px; */
}
.task-info .is-error {
  height: auto;
}
.task-info .illegalExpression {
  height: auto!important;
}
.task-info .viewer-container {
  min-height: 300px;
}
.task-info .rate > span {
  vertical-align: text-bottom;
}
.task-info .el-tabs__content {
  padding-bottom: 10px;
  overflow: auto;
}
.task-info *[disabled="disabled"] {
  color: #606266!important;
}
.task-info .is-disabled {
  color: #606266!important;
}
.task-info .cutErrorForm .el-form-item {
  height: auto;
}
.task-info .cutErrorForm .el-checkbox {
  margin-left: 10px;
}
.el-tree > .el-tree-node > .el-tree-node__content > .el-checkbox {
  display: none;
}
.el-tree .jcsb {
  display: flex;
  justify-content: space-between;
}
.el-popover {
  max-height: 90vh;
  overflow: auto;
}
.el-autocomplete,
.el-cascader {
  width: 100%;
}
.el-autocomplete-suggestion {
  width: auto!important;
  max-width: 500px;
}
video,
audio {
  width: 95%!important;
}
/*# sourceMappingURL=taskInfo.css.map */