html{
  height: 100%;
  overflow: auto;
}
body{
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
#app{
  opacity: 0;
  .box{
    .el-card{
      height: 100%;
    }
    .el-form{
      overflow: hidden;
      .shut,.target{
        a{
          color: #337ab7;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }
  .page-link{
    display: inline-block;
    white-space: nowrap;
    width: 26em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & /deep/ .el-tag{
    margin-right: 6px;
  }
  .tree-block{
    margin-top: 10px;
    max-height: 400px;
    overflow: auto;
    .tree-node-slot{
      width: 60em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .el-tree > .el-tree-node > .el-tree-node__content > .el-checkbox {
      display: none;
    }
  }
  .imgView{
    img{
      display: none;
    }
  }
  .list-box{
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        padding: 10px 6px;
        border: 1px solid #eee;
        margin-bottom: 4px;
        border-radius: 4px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        &.active{
          background-color: #f5f5f5;
          color: #409EFF;
        }
        &:hover{
          cursor: pointer;
          background-color: #f5f5f5;
        }
      }
    }
  }
  .el-autocomplete, .el-select, .el-cascader{
    display: block;
  }
  .video-wrap{
    height: 100%;
    #video{
      width: 100%;
      max-height: calc(100% - 40px);
      margin-top: 10px;
      outline: none;
    }
  }
  .iframe-wrapper{
    height: 100%;
    box-sizing: border-box;
    #iframe{
      height: calc(100% - 40px);
      width: 100%;
      overflow: auto;
    }
  }
  .check-wrap{
    position: relative;
    height: 100%;
    overflow: hidden;
    .form-wrap{
      height: 100%;
      overflow: auto;
      padding-bottom: 48px;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }
    .subbutton{
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 0 0 0;
      background-color: #fff;
      text-align: center;
      border-top: 1px solid #eee;
    }
  }
  #list-wrap{
    height: 100%;
    overflow: auto;
  }
  .searchList{
    .searchIf{
      position: absolute;
      top: 0;
      background-color: #fff;
      width: 100%;
    }
  }
}