@danger: #F56C6C;
.task-info{
  audio{
    width: 100%;
  }
  .subTaskInfo{
    >.el-dialog{
      margin-top: 20px!important;
    }
  }
  .el-tabs__content{
    min-height: 350px;
  }
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  .sameAdNameTaskList{
    .el-button{
      margin-top: 5px;
    }
  }
  .el-row{
    margin-bottom: 15px;
  }
  .sample-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task-back{
    .describe{
      color: @danger;
      margin-right: 50px;
    }
  }
  .sample-info{

  }
  .sample-content{
    min-height: 300px;
    img{
      width: 100%;
      max-height: 500px;
    }
  }
  .el-popover{
    max-height: 500px;
    overflow: auto;
  }
  .el-tree-node{
    white-space:normal;
  }
  .el-tree-node__content{
    height: auto;
    margin: 5px 0;
  }
  .el-card{
    max-height: 270px;
    overflow: auto;
  }
  .el-form-item__label{
    font-size: 12px;
  }
  .el-form-item{
    margin-bottom: 20px;
    height: 25px;
    .el-input{
      input{
        height: 25px;
      }
    }
  }
  .is-error{
    height: auto;
  }
  .illegalExpression{
    height: auto!important;
  }
  .viewer-container{
    min-height: 300px;
  }
  .rate{
    >span{
      vertical-align: text-bottom;
    }
  }
  .el-tabs__content{
    padding-bottom: 10px;
    overflow: auto;
  }
  *[disabled="disabled"]{
    color: #606266!important;
  }
  .is-disabled{
    color: #606266!important;
  }
  .cutErrorForm{
    .el-form-item {
      height: auto;
    }
    .el-checkbox{
      margin-left: 10px;
    }
  }
}
.el-tree{
  >.el-tree-node{
    >.el-tree-node__content{
      >.el-checkbox{
        display: none;
      }
    }
  }
  .jcsb{
    display: flex;
    justify-content: space-between;
  }
}
.el-popover{
  max-height: 90vh;
  overflow: auto;
}
.el-autocomplete, .el-cascader{
  width: 100%;
}
.el-autocomplete-suggestion{
  width: auto!important;
  max-width: 500px;
}
video, audio{
  width: 95%!important;
}