<template>
  <div class="ajxsxq main-bg">
    <el-button type="primary"
      @click="$router.push({path:from})"
      icon="el-icon-arrow-left">返回</el-button>
    <h2>案件线索交办信息</h2>
    <table class="col-table">
      <tr>
        <th style="width:400px">交办案件机构：</th>
        <td>{{infoData.fsend_regname}}</td>
      </tr>
      <tr>
        <th>标题：</th>
        <td>{{infoData.fad_name}}</td>
      </tr>
      <tr v-if="iszb">
        <th>广告类别：</th>
        <td>{{infoData.ffullname}}</td>
      </tr>
      <tr v-if="iszb">
        <th>投诉人/单位：</th>
        <td>{{infoData.fplaint_person}}</td>
      </tr>
      <tr v-if="iszb">
        <th>投诉方联系方式：</th>
        <td>{{infoData.fplaint_phone}}</td>
      </tr>
      <tr v-if="iszb">
        <th>被投诉人/单位：</th>
        <td>{{infoData.fcplaintt_media}}</td>
      </tr>
      <tr v-if="iszb">
        <th>违法广告内容：</th>
        <td>{{infoData.fillegal_content}}</td>
      </tr>
      <tr v-if="iszb">
        <th>投诉日期：</th>
        <td>{{infoData.fplaint_time || '未交办'}}</td>
      </tr>
      <tr>
        <th>案件线索类型：</th>
        <td>
          {{infoData.fill_type}}
        </td>
      </tr>
      <tr>
        <th>交办时间：</th>
        <td>{{infoData.fsend_time || '未交办'}}</td>
      </tr>
      <tr>
        <th>附件：</th>
        <td>
          <a :href="item.fattach_url + '?attname=' + item.fattach"
            v-for="item in filedata"
            target="_blank"
            :key="item.fattach_url">
            <el-button type="text">{{item.fattach}}</el-button>
          </a>
        </td>
      </tr>
      <tr>
        <th>备注：</th>
        <td>
          <el-input type="textarea"
            v-model="infoData.fill_content"
            :rows="5"
            disabled
            style="width:50%"
            placeholder="备注信息"></el-input>
        </td>
      </tr>
      <tr>
        <th>查办案件机构：</th>
        <td>{{infoData.fget_regname}}</td>
      </tr>
    </table>
    <h2>案件处理情况</h2>
    <table class="col-table">
      <tr>
        <th style="width:400px">上报时间：</th>
        <td>{{infoData.fresult_datetime}}</td>
      </tr>
      <tr>
        <th>案件线索处理情况：</th>
        <td>{{infoData.fresult}}</td>
      </tr>
      <tr>
        <th>案件线索处理凭证：</th>
        <td>
          <a :href="item.fattach_url + '?attname=' + item.fattach"
            v-for="item in filedata2"
            target="_blank"
            :key="item.fattach_url">
            <el-button type="text">{{item.fattach}}</el-button>
          </a>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      infoData: {},
      filedata: [],
      filedata2: [],
      from: ''
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.from = from.name
      vm._getInfo(vm.$route.query)
    })
  },
  computed: {
    iszb() {
      return this.$store.state.userInfo.regionid === '370300'
    }
  },
  methods: {
    _getInfo(obj) {
      let data = {
        fid: obj.fid
      }
      let data2 = {
        fid: obj.fid,
        types: 0
      }
      let data3 = {
        fid: obj.fid,
        types: 10
      }
      let url = ''
      let aurl = ''
      let type = obj.type
      switch (type) {
        case '1':
          url = '/Agp/Gckzdanjian/view_jszdanjian'
          aurl = '/Agp/Gckzdanjian/attach_zdanjian'
          break
        case '2':
          url = '/Agp/Gckzdanjian/view_jbzdanjian'
          aurl = '/Agp/Gckzdanjian/attach_jbzdanjian'
          break
        case '3':
          url = '/Agp/Gckkdyzdanjian/view_jbzdanjian'
          aurl = '/Agp/Gckkdyzdanjian/attach_jbzdanjian'
          break
        case '4':
          url = '/Agp/Gkdyzdajjieguo/view_jszdanjian'
          aurl = '/Agp/Gkdyzdajjieguo/attach_zdanjian'
          break
      }
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.infoData = res.data.data
          }
        })
      axios.post(this.$_ + aurl, qs.stringify(data2))
        .then(res => {
          if (res.data.code === 0) {
            this.filedata = res.data.filedata
          }
        })
      axios.post(this.$_ + aurl, qs.stringify(data3))
        .then(res => {
          if (res.data.code === 0) {
            this.filedata2 = res.data.filedata
          }
        })
    }
  }
}
</script>

<style scoped>
</style>