<template>
  <div class="anjiancgx main-bg"
    v-loading="loading">
    <el-table :data="tableData" class="new-tabel" size="small"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="fad_name"
        label="线索名称">
      </el-table-column>
      <el-table-column label="线索类型" prop="fill_type"></el-table-column>
      <el-table-column prop="fcreate_time"
        label="保存时间">
      </el-table-column>
      <el-table-column width="130"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-edit"
            @click="_view(scope.row)">编辑</el-button>
          <el-button type="text"
            icon="el-icon-delete"
            @click="_delete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      tableData: [],
      searchForm: {
        page: 1
      },
      countAll: '0',
      loading: false
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 162)
    })
  },
   computed: {
    isTz() {
      return this.$route.path == '/tanjiancgx'
    }
  },
  watch:{
    '$route.path': {
      handler(){
        this._getList()
      },
      deep: true
    }
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.page = page || 1
      const data = {
        ...this.searchForm,
      }
       if(this.isTz) data.model = 1
      axios.post(this.$_ + '/Agp/Gjbzdanjian/cgxzdanjian_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _view(obj) {
      if(this.isTz) {
        this.$router.push({ path: 'tjbanjian?fid=' + obj.fid })
      } else {
        this.$router.push({ path: 'jbanjian?fid=' + obj.fid })
      }
    },
    _delete(obj) {
      this.$confirm('确认删除改条记录?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let data = {
          fid: obj.fid
        }
        if(this.isTz) data.model = 1
        axios.post(this.$_ + '/Agp/Gjbzdanjian/del_jbzdanjian', qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._getList()
            } else {
              this.$func._error(res.data)
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      });
    }
  },
}
</script>

<style scoped>
</style>