<template>
  <div class="jbanjian main-bg">
    <el-button type="primary"
      @click="$router.push({path:from})"
      icon="el-icon-arrow-left"
      v-if="$route.query.fid">返回</el-button>
    <div style="width:700px;margin:0 auto;">
      <el-form :model="form"
        ref="form"
        label-width="120px">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item label="线索名称: ">
              <el-input type="text"
                v-model="form.fad_name"
                :style="widthStyle"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="线索类型: ">
              <el-select v-model="form.fill_type"
                placeholder="请选择"
                :style="widthStyle">
                <el-option :label="item"
                  v-for="(item,index) in $store.state.userInfo.illadTypes"
                  :key="index"
                  :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="附件材料: ">
              <upload @uploadSuccess="_uploadSuccess">
              </upload>
              <el-tag class="right-margin"
                v-for="item in form.attachinfo"
                :key="item.fattachurl"
                closable
                size="small"
                @close="_removeTag(item)"
                type="priamry">
                {{item.fattachname}}
              </el-tag>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-if="isTz">
            <el-form-item label="选择违法表现: ">
              <el-button type="primary" @click="_showList">选 择</el-button>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-if="chooseObj.length > 0 && isTz">
            <el-form-item label="违法代码/表现: ">
              <div class="ill-box" v-for="(item,index) in chooseObj" :key="index">
                  <strong style="color: red;"> {{ item.fcode }} </strong>&nbsp;{{ item.fexpression }}
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="涉嫌违法内容: ">
              <el-input type="textarea"
                :rows="5"
                :style="widthStyle"
                v-model="form.fill_content"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="查办机构: ">
              <div v-if="!$route.query.fid">
                <el-cascader placeholder="请选择接收局"
                  :options="$store.state.userInfo.isgj ? $store.state.GList : $store.state.GData"
                  change-on-select
                  :props="$store.state.areaOptions"
                  v-model="area"
                  clearable></el-cascader>
                <el-button type="primary"
                  @click="_addOrg">
                  添加
                </el-button>
                <el-button type="text"
                  @click="_clear">
                  清空
                </el-button>
              </div>
              <br>
              <el-input type="textarea"
                v-model="form.tregionname"
                :style="widthStyle"
                disabled
                :rows="5">
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="是否需要反馈: ">
              <el-checkbox v-model="fisresult" :true-label="'10'" :false-label="'0'">是否需要反馈</el-checkbox>
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="反馈结束时间: "
              v-if="fisresult == '10'">
              <el-date-picker :editable="false"
                v-model="form.fresult_endtime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item>
              <el-button type="primary"
                @click="_tijiao(10)">交办</el-button>
              <el-button @click="_tijiao(0)">保存草稿</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <!-- 选择违法表现 -->
    <choiceillegal
      ref="choiceillegal"
      @selected="_select"
      :data="choose">
    </choiceillegal>
  </div>
</template>

<script>
import choiceillegal from '../../common/choiceillegal'
import upload from "../common/upload"
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    upload,
    choiceillegal
  },
  data() {
    let time = this.$dayjs().add(1, 'month').format('YYYY-MM-DD')
    return {
      widthStyle: { width: '100%' },
      tableData: [],
      form: {
        fill_type: '投诉举报',
        fad_name: '',
        attachinfo: [],
        tregionname: '',
        tregionids: [],
        fresult_endtime: time,
        fill_content: '',
        illegal_content: ''
      },
      area: [],
      fisresult: '10',
      from: '',
      choose:[],
      chooseObj:[],
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (vm.$route.query.fid) {
        vm._getview(vm.$route.query.fid, vm)
        vm.from = from.name
      }
    })
  },
  computed: {
    isTz() {
      return this.$route.path == '/tjbanjian'
    }
  },
  watch:{
    '$route.path': {
      handler(){
        this._clearForm()
      },
      deep: true
    }
  },
  methods: {
    _getview(fid) {
      let data = {
        fid: fid
      }
      axios.post(this.$_ + '/Agp/Gjbzdanjian/view_jbzdanjian', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let data = res.data.data
            this.form.fill_type = data.fill_type
            this.form.fad_name = data.fad_name
            this.form.illegal_content = data.fillegal_content
            if(data.fresult_endtime){
              this.form.fresult_endtime = new Date(data.fresult_endtime)
            }
            if(this.isTz && data.fexpressioncodes){
              const fcodeArr = data.fexpressioncodes.split(';')
              const fexpressionArr = data.fexpressions.split(';')
              this.choose = fcodeArr
              const arr = []
              for(let i = 0; i < fcodeArr.length; i++) {
                let obj = {}
                obj.fcode = fcodeArr[i]
                obj.fexpression = fexpressionArr[i]
                arr.push(obj)
              }
              this.chooseObj = arr
            }
            if (res.data.filedata.length) {
              res.data.filedata.forEach(item => {
                let obj = {}
                obj.fattachname = item.fattach
                obj.fattachurl = item.fattach_url + '?attname=' + item.fattach
                this.form.attachinfo.push(obj)
              })
            }
            this._getregName(data.fregion_getid)
            this.form.fill_content = data.fill_content
            this.fisresult = data.fisresult
          }
        })
    },
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = Obj.url + file.response.key + '?attname=' + file.name
      this.form.attachinfo.push(obj)
    },
    _addOrg() {
      let val = this.area
      let org = val[val.length - 1]
      if (!org) {
        this.$message.error('请选择接收局！')
        return false
      }
      if (this.form.tregionids.indexOf(org) === -1) {
        this._getregName(org)
      } else {
        this.$message.warning('请勿重复添加！')
      }
      this.area = []
    },
    _getregName(id) {
      axios.post(this.$_ + '/Agp/Gcore/tregion_tregulator', qs.stringify({ tregionid: id }))
        .then(res => {
          if (res.data.code === 0) {
            this.form.tregionids.push(id)
            this.form.tregionname += res.data.data.fname + '，\n'
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _tijiao(type) {
      if (!this.form.fad_name) {
        this.$message.error('请填写信息主题！')
        return false
      }
      if (!this.form.tregionids.length) {
        this.$message.error('请选择查办机构！')
        return false
      }
      if (this.fisresult == '10' && !this.form.fresult_endtime) {
        this.$message.error('请选择反馈日期！')
        return false
      }
      let url = this.$route.query.fid ? '/Agp/Gjbzdanjian/edit_jbzdanjian' : '/Agp/Gjbzdanjian/jbzdanjian'
      let data = { ...this.form }
      data.fstatus = type
      data.fisresult = this.fisresult
      if (this.$route.query.fid) {
        data.fid = this.$route.query.fid
      }
      if(this.isTz) {
        data.model = 1
        const fcode = this.chooseObj.map(i => {
          return i.fcode
        })
        const fexpressions = this.chooseObj.map(i => {
          return i.fexpression
        })
        data.fexpressioncodes = fcode.join(';')
        data.fexpressions = fexpressions.join(';')
      }
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._clearForm()
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _showList(){
      this.$refs.choiceillegal._showDalog()
      this.$refs.choiceillegal._setChoose()
    },
    _select(val){
      this.chooseObj = val
      this.choose = []
      this.chooseObj.forEach(item => {
        this.choose.push(item.fcode)
      })
    },
    _clearForm() {
      this.form = {
        fill_type: '投诉举报',
        fad_name: '',
        attachinfo: [],
        tregionname: '',
        tregionids: [],
        fresult_endtime: this.$dayjs().add(1, 'month').format('YYYY-MM-DD'),
        fill_content: '',
        illegal_content: ''
      }
      this.chooseObj = []
      this.choose = []
      this.fisresult = '10'
      this.area = []
    },
    _clear() {
      this.form.tregionids = []
      this.form.tregionname = ""
    },
    _removeTag(obj) {
      this.form.attachinfo = this.form.attachinfo.filter(item => {
        return obj.fattachurl !== item.fattachurl
      })
    },
  }
}
</script>
<style lang="scss"scoped >
  .ill-box{
    font-size: 13px;
    padding: 4px 8px;
    margin-bottom: 8px;
    background-color: #fef0f0;
    border: 1px solid #d9ecff;
    border-color: #fde2e2;
    color: #f56c6c;
    border-radius: 4px;
  }
</style>