<template>
  <div class="kdyanjian main-bg"
    v-loading="loading">
    <g-search></g-search>
    <el-form inline
      label-width="90px">
      <el-form-item label="选择地域：">
        <el-cascader placeholder="请选择接收局"
          :options="$store.state.allArea2"
          change-on-select
          :props="$store.state.areaOptions"
          v-model="area">
        </el-cascader>
        <el-button type="primary"
          @click="_getList(1);_getList2(1)"
          icon="el-icon-search">查询</el-button>
      </el-form-item>
    </el-form>
    <el-tabs v-model="activeTab"
      type="card">
      <el-tab-pane label="跨地域案件接收列表"
        name="1"
        v-loading="loading">
        <el-table :data="tableData"
          :height="$store.state.GTableHeight"
          border>
          <el-table-column label="序号"
            type="index"
            width="50">
          </el-table-column>
          <el-table-column prop="fad_name"
            show-overflow-tooltip
            label="案件名称">
          </el-table-column>
          <el-table-column width="110" prop="fill_type"
            label="案件类型">
          </el-table-column>
          <el-table-column prop="fsend_time"
            label="交办日期"
            width="120px"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column width="120"
            prop="fresult_endtime"
            label="截止日期">
          </el-table-column>
          <el-table-column prop="fsend_regname"
            width="150"
            label="交办案件机构"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column width="80"
            label="是否查看">
            <template slot-scope="scope">
              <span v-if="scope.row.fview_status === '0'">否</span>
              <span v-else>是</span>
            </template>
          </el-table-column>
          <el-table-column prop="fresult"
            width="110"
            label="处理情况">
          </el-table-column>
          <el-table-column width="130"
            label="处理凭证">
            <template slot-scope="scope">
              <el-button type="text"
                icon="el-icon-view"
                v-if="scope.row.fstatus === '30'"
                @click="_fujian(scope.row,1)">附件</el-button>
            </template>
          </el-table-column>
          <el-table-column prop="fresult_datetime"
            label="反馈日期"
            width="120px"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column width="80"
            fixed="right"
            label="查看详情">
            <template slot-scope="scope">
              <el-button type="text"
                icon="el-icon-view"
                @click="_jbinfo(scope.row,1)">详情</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination background
          layout="prev, pager, next, total"
          :total="Number(countAll)"
          :page-size="20"
          :current-page="Number(searchForm.page)"
          @current-change="_getList">
        </el-pagination>
      </el-tab-pane>
      <el-tab-pane label="跨地域案件交办列表"
        name="2">
        <el-table :data="tableData2"
          :height="$store.state.GTableHeight"
          border>
          <el-table-column label="序号"
            type="index"
            width="50">
          </el-table-column>
          <el-table-column prop="fad_name"
            show-overflow-tooltip
            label="案件名称">
          </el-table-column>
          <el-table-column width="110" prop="fill_type"
            label="案件类型">
          </el-table-column>
          <el-table-column prop="fsend_time"
            label="交办日期"
            width="120px"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column width="120"
            prop="fresult_endtime"
            label="截止日期">
          </el-table-column>
          <el-table-column prop="fget_regname"
            width="150"
            label="查办案件机构"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column width="80"
            label="是否查看">
            <template slot-scope="scope">
              <span v-if="scope.row.fview_status === '0'">否</span>
              <span v-else>是</span>
            </template>
          </el-table-column>
          <el-table-column prop="fresult"
            width="110"
            label="处理情况">
          </el-table-column>
          <el-table-column width="130"
            label="处理凭证">
            <template slot-scope="scope">
              <el-button type="text"
                icon="el-icon-view"
                v-if="scope.row.fstatus === '30'"
                @click="_fujian(scope.row,1)">附件</el-button>
            </template>
          </el-table-column>
          <el-table-column prop="fresult_datetime"
            label="反馈日期"
            width="120px"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column width="80"
            fixed="right"
            label="查看详情">
            <template slot-scope="scope">
              <el-button type="text"
                icon="el-icon-view"
                @click="_jbinfo(scope.row,1)">详情</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination background
          layout="prev, pager, next, total"
          :total="Number(countAll)"
          :page-size="20"
          :current-page="Number(searchForm.page)"
          @current-change="_getList">
        </el-pagination>
      </el-tab-pane>
    </el-tabs>
    <file-dialog v-if="showFiles"
      @close="showFiles = false"
      :data="filedata" />
    <ajxsxq v-if="showDetails"
      :data="details"
      @close="showDetails = false" />
  </div>
</template>

<script>
import GSearch from "../common/GSearch";
import axios from 'axios'
import qs from 'qs'
import ajxsxq from './common/ajxsxq'
import fileDialog from './common/fileDialog'
export default {
  components: {
    GSearch,
    ajxsxq,
    fileDialog
  },
  data() {
    return {
      activeTab: '1',
      tableData: [],
      tableData2: [],
      searchForm: {
        page: 1
      },
      searchForm2: {
        page: 1
      },
      countAll: '0',
      countAll2: '0',
      loading: false,
      loading2: false,
      filedata: [],
      showFiles: false,
      area: [],
      details: {},
      showDetails: false
    }
  },
  created() {
    let timer = setInterval(() => {
      if (this.$store.state.allArea[0]['fid']) {
        this.area = Array.of(this.$store.state.allArea[0]['fid'])
        this.searchForm.area = this.$store.state.allArea[0]['fid']
        this._getList()
        this._getList2()
        clearInterval(timer)
      }
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 312)
    })
  },
  methods: {
    _search() {
      if (this.activeTab === '1') {
        this._getList()
      } else {
        this._getList2()
      }
    },
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
      this.searchForm2.years = this.$store.state.Gsearch.years
      this.searchForm2.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm2.timeval = this.$store.state.Gsearch.timeval
    },
    _getList(page) {
      this.loading = true
      this._setGvalue()
      this.searchForm.area = this.area[this.area.length - 1]
      this.searchForm.page = page || 1
      axios.post(this.$_ + '/Agp/Gckkdyzdanjian/jszdanjian_list', qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fsend_time = item.fsend_time ? item.fsend_time.substring(0, 10) : '/'
              item.fresult_datetime = item.fresult_datetime ? item.fresult_datetime.substring(0, 10) : '/'
              item.fresult_endtime = item.fresult_endtime ? item.fresult_endtime.substring(0, 10) : '/'
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getList2(page) {
      this.loading2 = true
      this._setGvalue()
      this.searchForm2.page = page || 1
      axios.post(this.$_ + '/Agp/Gckkdyzdanjian/jbzdanjian_list', qs.stringify(this.searchForm2))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData2 = res.data.data.list.map(item => {
              item.fsend_time = item.fsend_time ? item.fsend_time.substring(0, 10) : '/'
              item.fresult_datetime = item.fresult_datetime ? item.fresult_datetime.substring(0, 10) : '/'
              item.fresult_endtime = item.fresult_endtime ? item.fresult_endtime.substring(0, 10) : '/'
              return item
            })
            this.countAll2 = res.data.data.count
            this.loading = false
          } else {
            this.tableData2 = []
            this.$func._error(res.data)
            this.loading2 = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _jbinfo(obj) {
      this.details = {
        fid: obj.fid,
        type: 3
      }
      this.showDetails = true
    },
    _fujian(obj, type) {
      let data = {
        fid: obj.fid,
        types: 10
      }
      axios.post(this.$_ + '/Agp/Gckkdyzdanjian/view_jbzdanjian', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let files = res.data.data.files
            if (files.clfiles.length) {
              this.showFiles = true
              this.filedata = files.clfiles.map(item => {
                if (item.fattach_url.indexOf('?') === -1) {
                  item.fattach_url = item.fattach_url + '?attname=' + item.fattach
                }
                return item
              })
            } else {
              this.$message.warning('无附件！')
            }
          } else {
            this.$func._error(res.data)
          }
        })
    }
  },
}
</script>

<style scoped>
</style>