<template>
  <div class="lbanjian main-bg">
    <g-search></g-search>
    <el-form inline
      label-width="90px">
      <el-form-item label="处理机构：">
        <el-cascader placeholder="请选择处理机构地区"
          :options="$store.state.GData"
          change-on-select
          :props="$store.state.areaOptions"
          v-model="area"
          clearable
          @change="areaChange">
        </el-cascader>
      </el-form-item>
      <el-form-item label="状态：">
        <el-select v-model="searchData.fstate" placeholder="">
          <el-option label="全部" value="-1"></el-option>
          <el-option label="未处理" value="0"></el-option>
          <el-option label="已处理" value="30"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="() => $refs.getsendlist._getList()"
          icon="el-icon-search">查询</el-button>
      </el-form-item>
    </el-form>
    <el-tabs v-model="activeTab"
      @tab-click="changeActive"
      type="card">
      <el-tab-pane label="全部线索"
        name="1">
        <keep-alive>
          <getsend-list ref="getsendlist"
            :search-data="searchData"
            @setArea="setArea"
            v-if="activeTab == '1'"
            :isgetlist="false" />
        </keep-alive>
      </el-tab-pane>
      <el-tab-pane label="交办列表"
        name="2">
        <keep-alive>
          <getsend-list ref="getsendlist"
            @setArea="setArea"
            :search-data="searchData"
            v-if="activeTab === '2'"
            :isgetlist="true" />
        </keep-alive>
      </el-tab-pane>
      <!-- <el-tab-pane
        v-if="Number($store.state.userInfo.ischazheng)"
        name="3">
        <span slot="label">
          {{
          `查证列表 ` + (ActiveTab[$route.name+'3'] ? `(${ActiveTab[$route.name+'3']})` : '')
          }}
        </span>
        <keep-alive>
          <ajczlb ref="getsendlist" v-if="activeTab === '3'" :search-data="searchData" @setArea="setArea" />
        </keep-alive>
      </el-tab-pane> -->
    </el-tabs>
    <ajxsxq v-if="showDetails"
      :data="details"
      @close="showDetails = false" />
  </div>
</template>

<script>
import GSearch from "../common/GSearch";
import axios from 'axios'
import qs from 'qs'
import ajczlb from './common/ajczlb'
import { mapState } from 'vuex'
import ajxsxq from './common/ajxsxq'
import getsendList from './common/getsendList'
export default {
  components: {
    GSearch,
    ajxsxq,
    getsendList,
    ajczlb
  },
  data() {
    return {
      activeTab: '1',
      filedata: [],
      showFiles: false,
      area: [],
      showDetails: false,
      details: {},
      searchData: {
        area: '',
        fstate: '-1',
      },
    }
  },
  created() {
    this.activeTab = this.$route.params.activeTab || '1'
  },
  computed: {
    ...mapState(['ActiveTab']),
  },
   watch:{
    '$route.path': {
      handler(){
        this.activeTab = '1'
      },
      deep: true
    },
  },
  methods: {
    setArea(area){
      this.area = area
      this.searchData.area = area[area.length - 1]
    },
    areaChange(val){
      this.searchData.area = val[val.length - 1] || ''
    },
    changeActive(val) {
      if(val == this.activeTab) return
      this.$nextTick(() => {
        this.$refs.getsendlist._getList()
      })
    },
  },
}
</script>