html, body {
  margin: 0;
  padding: 10px;
  background-color: #fff;
}

html #app .text-right, body #app .text-right {
  text-align: right;
}

html #app .text-danger, body #app .text-danger {
  color: #f56c6c;
}

html #app .copy-text:hover, body #app .copy-text:hover {
  color: cornflowerblue;
  cursor: pointer;
}

html #app .el-select, body #app .el-select {
  display: block;
}
