html,body{
  margin: 0;
  padding: 10px;
  background-color: #fff;
  #app{
    .text-right{
      text-align: right;
    }
    .text-danger{
      color: #f56c6c;
    }
    .copy-text:hover{
      color: cornflowerblue;
      cursor: pointer;
    }
    .el-select{
      display: block;
    }
  }
}