html {
  height: 100%;
  overflow: auto;
}

html body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

html body #app {
  opacity: 0;
  padding: 10px;
}

html body #app a:hover {
  color: #1AB394;
  cursor: pointer;
  opacity: 0.8;
}

html body #app .el-pagination {
  margin-top: 10px;
  text-align: right;
}

html body #app .el-card:nth-child(1) {
  margin-bottom: 10px;
}

html body #app .length {
  font-size: 12px;
  line-height: 28px;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  background-color: #FFF;
  transition: .3s;
  overflow: hidden;
  width: 213px;
  display: flex;
}

html body #app .length div {
  width: 50%;
}

html body #app .length div input {
  display: inline-block;
  border: none;
  height: 28px;
  line-height: 28px;
  outline: none;
  padding-left: 15px;
  color: #606266;
  width: 100%;
  box-sizing: border-box;
}

html body #app .length div input::-webkit-input-placeholder {
  color: #C0C4CC;
}

html body #app .length div input:-moz-placeholder {
  color: #C0C4CC;
}

html body #app .length div input:-ms-input-placeholder {
  color: #C0C4CC;
}

html body #app .length .activeSampleRow {
  color: #1AB394;
}

.activeSampleRow {
  color: #1AB394;
}

.el-cascader, .el-select, .el-input, .el-date-editor {
  width: 100% !important;
}

.el-image {
  height: 100%;
  width: 100%;
}

.el-image .image-slot {
  font-size: 30px;
  background: #f5f7fa;
  color: #909399;
  text-align: center;
  line-height: 360px;
  height: 100%;
}
