<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <style>
  html, body{
    height: 100%;
    margin: 0;
  }
  body{
    display: none;
  }
  #app{
    padding: 10px;
  }
  #wx-content{
    height: calc(100% - 20px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  #wx-content img{
    width: 100%!important;
  }
  </style>
</head>

<body>
  <div id="app">
    <div v-if="DATA !== null" ref="image">
      <el-tabs v-model="ad" v-if="!adData.article_content">
        <el-tab-pane label="广告图片" name="1">
          <div class="imgBlock" v-if="adData.ftype === 'image'">
            <a :href="adData.thumb_url_true" v-if="adData.thumb_url_true" target="_blank">
              <img :src="adData.thumb_url_true" width="100%" alt="图片加载失败">
            </a>
            <img :src="adData.thumb_url_true" alt="图片加载失败" v-else>
          </div>
          <div v-if="adData.ftype === 'swf'">
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
              width="100%">
              <param name="movie" :value="adData.thumb_url_true">
              <param name="quality" value="high">
              <param name="wmode" value="transparent">
              <embed :src="adData.thumb_url_true" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                type="application/x-shockwave-flash" width="100%">
            </object>
          </div>
          <div v-if="adData.ftype === 'text'">
            <a :href="adData.thumb_url_true" target="_blank">{{adData.fadname}}</a>
          </div>
        </el-tab-pane>
        <el-tab-pane label="快照图片" name="2" v-if="adData.net_snapshot">
          <div class="imgBlock2">
            <a :href="adData.net_snapshot" target="_blank" v-if="adData.net_snapshot">
              <img :src="adData.net_snapshot" width="100%" alt="图片加载失败">
            </a>
            <img :src="adData.net_snapshot" width="100%" alt="图片加载失败" v-else>
          </div>
        </el-tab-pane>
        <el-tab-pane label="落地页" name="3" v-if="adData.net_target_url">
          <iframe ref="netIframe" style="width:100%;min-height: 250px;" :src="adData.net_target_url" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="基本信息" name="4">
          <el-form label-width="120px">
            <el-form-item label="品牌：">
              {{ adData.fbrand || '暂无' }}
            </el-form-item>
            <el-form-item label="广告主：">
              {{ adData.fadowner_name || '暂无' }}
            </el-form-item>
            <el-form-item label="发布媒体：">
              {{ adData.fmedianame || '暂无' }}
            </el-form-item>
            <el-form-item label="媒体机构：">
              {{ adData.fmediaownername || '暂无' }}
            </el-form-item>
            <el-form-item label="广告主域名：">
              {{ adData.net_advertiser || '暂无' }}
            </el-form-item>
            <el-form-item label="广告类别：">
              {{ adData.fadclass || '暂无' }}
            </el-form-item>
            <el-form-item label="广告发布页面：" v-if="adData.net_platform === '1'">
              <a :href="adData.net_original_url" target="_blank">
                <el-button type="text">广告发布页面</el-button>
              </a>
            </el-form-item>
            <el-form-item label="广告落地页：">
              <a :href="adData.net_target_url" target="_blank">
                <el-button type="text">广告落地页</el-button>
              </a>
            </el-form-item>
          </el-form>
        </el-tab-pane>
      </el-tabs>
      <div id="wx-content" class="article"
        v-if="adData.article_content"
        v-html="adData.article_content.replace(/mmbiz.qpic.cn/g,'hz-weixin-img.oss-cn-hangzhou.aliyuncs.com')"></div>
    </div>
    <div v-else>无数据</div>
  </div>
  <script>
    var DATA = {$data};
    document.title = DATA.fadname || '无数据'
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="/Application/Api/View/NetAd/js/net_ad_sample.js"></script>
</body>

</html>