<div class="fixed-table-container">
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">发布媒体</th>
					<th class="text-center adName">广告名称</th>
					<th class="text-center">发布时间</th>
					<th class="text-center">广告类别</th>
					<th class="text-center">违法类型</th>
					<th class="text-center">发布时长（秒）</th>
					<th class="text-center">创建人</th>
					<th class="text-center">创建时间</th>
					<th class="text-center">操作</th>
				
				</if>
            </tr>
        </thead>
        <tbody>
            <foreach name="tvissueList" item="tvissue">
                <tr class="mediaTr">
                    <td class="text-center">{$tvissue.k}</td>
                    <td class="text-center">{$tvissue.fmedianame}</td>
					<td class="text-center" title=""><i class="fa fa-video-camera viewVideo" src="{$tvissue.favifilename}" aria-hidden="true" title="点击预览视频"></i>
						<span>{:r_highlight($tvissue['fadname'],I('fadname'))}<neq name="tvissue.fversion" value="">-{$tvissue.fversion}</neq></span>
					</td>
					<td class="text-center">{:date('Y-m-d H:i:s',$tvissue['fstarttime'])}</td>
					<td class="text-center">{$tvissue.fadclassfullname}</td>
					<td class="text-center">{$tvissue.fillegaltype}</td>
					<td class="text-center">{$tvissue.flength}</td>
					<td class="text-center">{$tvissue.fcreator}</td>
					<td class="text-center" title="{:date('Y-m-d H:i:s',$tvissue['fcreatetime'])}" >{:date('Y-m-d H:i',$tvissue['fcreatetime'])}</td>
					<td class="text-center operation" ad_name="{$tvissue.fadname}<neq name="tvissue.fversion" value="">-{$tvissue.fversion}</neq>"  table_name="{$tvissue.table_name}" issueid="{$tvissue.fid}">
						<button type="button" class="btn btn-xs btn-primary issVideo" ><i class="fa fa-video-camera"></i> 发布场景</button>
						<button type="button" class="btn btn-xs btn-primary mediaName"><i class="fa fa-info"></i> 详情</button>
						<button type="button" class="btn btn-xs btn-danger deleteiss"><i class="fa fa-trash"></i> 删除</button>
					</td>
					</if>
                </tr>
            </foreach>
            <empty name="tvissueList">
                <tr class="h5 text-center text-primary">
                    <td colspan="11">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
