html{
  height: 100%;
  overflow: auto;
  body{
    margin: 0;
    height: 100%;
    overflow: auto;
    #app{
      [v-clock] {
        display: none;
      }
      padding: 10px;
      .el-card:nth-child(1){
        margin-bottom: 10px;
      }
    }
  }
}