html {
  height: 100%;
  overflow: auto;
}

html body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

html body #app {
  padding: 10px;
}

html body #app [v-clock] {
  display: none;
}

html body #app .el-card:nth-child(1) {
  margin-bottom: 10px;
}
