<template>
  <div class="tbqingkuang main-bg">
    <div v-if="$store.state.userInfo.fregulatorlevel === 0">
      暂未开放
    </div>
    <div v-else>
      <h2>监测情况通报</h2>
      <table class="col-table">
        <tr>
          <th>接收局</th>
          <td>
            
          </td>
        </tr>
        <tr>
          <th>主题</th>
          <td>
            <el-input :style="widthStyle"
              v-model="form.title"
              placeholder="">
            </el-input>
          </td>
        </tr>
        <tr>
          <th>监测情况附件</th>
          <td>
            <upload @uploadSuccess="_uploadSuccess">
            </upload>
            <el-tag class="right-margin"
              v-for="item in form.attachinfo"
              :key="item.fattachurl"
              closable
              @close="_removeTag(item)"
              type="priamry">
              {{item.fattachname}}
            </el-tag>
          </td>
        </tr>
        <tr>
          <th>备注信息</th>
          <td>
            <el-input :style="widthStyle"
              type="textarea"
              v-model="form.content"
              :rows="5">
            </el-input>
          </td>
        </tr>
        <tr>
          <td colspan="2"
            class="text-center">
            <el-button type="primary"
              @click="_send">
              发送
            </el-button>
            <el-button type="danger"
              @click="_reset">
              重置
            </el-button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
import upload from "../common/upload"
import axios from "axios"
import qs from "qs"
export default {
  components: {
    upload
  },
  data() {
    return {
      form: {
        title: "",
        content: "",
        attachinfo: [],
        bureau: []
      },
      widthStyle: { width: "50%" }
    }
  },
  methods: {
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = Obj.url + file.response.key
      this.form.attachinfo.push(obj)
    },
    _reset() {
      this.form = {
        title: "",
        content: "",
        attachinfo: [],
        bureau: []
      }
      this.$message.success("已重置")
    },
    _removeTag(obj) {
      this.form.attachinfo = this.form.attachinfo.filter(item => {
        return obj.fattachurl !== item.fattachurl
      })
    },
    _send() {
      if (!this.form.bureau.length) {
        this.$message.error("请填选择接收局！")
        return false
      }
      if (!this.form.title) {
        this.$message.error("请填写主题！")
        return false
      }
      this.$confirm("确认发送?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          axios
            .post(
              this.$_ + "/Agp/Gmonitor/sendMonitor",
              qs.stringify(this.form)
            )
            .then(res => {
              if (res.data.code === 0) {
                this._reset()
                this.$message.success(res.data.msg)
              } else {
                this.$func._error(res.data)
              }
            })
            .catch(() => {
              this.$func._error()
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消"
          })
        })
    }
  }
}
</script>