<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务统计</title>

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}regionSelect/css.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/Application/Admin/View/Public/mediaManagement.css" rel="stylesheet">
    <link href="/Application/Admin/View/Public/page.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
    <style>
        .search{
            padding: 20px 10px;
            background: #fff;
            border: 1px solid #DCDFE6;
            border-radius: 5px;
        }
        .content{
            margin-top: 20px;
            padding: 20px 10px;
            background: #fff;
            border: 1px solid #DCDFE6;
            border-radius: 5px;
        }
        .el-form-item{
            margin: 0!important;
        }
        .content .el-row{
            padding: 5px 0 ;
        }
        .content .el-row .el-col:first-child{
            text-align: right;
            padding-right: 20px;
        }
    </style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content" id="app" v-loading="loading">
    <el-form :inline="true" :model="where" class="search">
        <el-form-item label="选择时间">
            <el-date-picker
                    v-model="where.timeRange"
                    type="daterange"
                    format="yyyy年MM月dd日"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>
    <div class="content" v-if="countData.sum_paper_task != null">
        <el-row>
            <el-col :span="4">报纸任务总数</el-col>
            <el-col :span="4">{{countData.sum_paper_task}}</el-col>
        </el-row>
        <el-row>
            <el-col :span="4">广播任务总数</el-col>
            <el-col :span="4">{{countData.sum_bc_task}}</el-col>
        </el-row>
        <el-row>
            <el-col :span="4">电视任务总数</el-col>
            <el-col :span="4">{{countData.sum_tv_task}}</el-col>
        </el-row>
        <el-row>
            <el-col :span="4">网络广告任务总数</el-col>
            <el-col :span="4">{{countData.sum_net_task}}</el-col>
        </el-row>

        <el-row>
            <el-col :span="4">完成任务总数</el-col>
            <el-col :span="4">{{ +countData.sum_tv_task + +countData.sum_bc_task + +countData.sum_paper_task + +countData.sum_net_task }}</el-col>
        </el-row>
        <el-row>
            <el-col :span="4">提交的剪辑错误总数</el-col>
            <el-col :span="4">{{countData.sum_cut_err}}</el-col>
        </el-row>
        <el-row>
            <el-col :span="4">网络广告采集错误总数</el-col>
            <el-col :span="4">{{countData.sum_net_cut_err}}</el-col>
        </el-row>

        <el-row>
            <el-col :span="4">被退回任务总数</el-col>
            <el-col :span="4">{{countData.sum_task_back}}</el-col>
        </el-row>
        <el-row>
            <el-col :span="4">质检总数</el-col>
            <el-col :span="4">{{countData.sum_quality}}</el-col>
        </el-row>
        <el-row>
            <el-col :span="4">广告确认数</el-col>
            <el-col :span="4">{{countData.sum_ad_sure}}</el-col>
        </el-row>
    </div>
    <div v-else>
        <h3 class="text-center" style="margin-top: 20px;">请点击查询</h3>
    </div>
</div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}adclassSelect/location.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}regionSelect/location.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
<script>
    Vue.prototype.$ELEMENT = { size: 'mini', zIndex: 3000 }
    var vm = new Vue({
        el: '#app',
        data: {
            loading: false,
            where: {},
            countData: {}
        },
        created: function() {
            this.search()
        },
        methods: {
            search: function () {
                this.loading = true
                var vm = this
                $.post('', {where:this.where}, function (res) {
                    vm.countData = res.data
                    vm.loading = false
                })
            }
        }
    })
</script>
</body>

</html>