<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>众包任务</title>
  <!--[if lt IE 8]>
  <meta http-equiv="refresh" content="0;ie.html" />
  <![endif]-->
  <link rel="shortcut icon" href="favicon.ico">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/index.css?sdf=f">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskInfo.css?afsd=f">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/netAdTask.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/outdoorAdChec.css">
  <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
</head>

<body>
  <div id="app" v-loading="loading">
    <div v-if="!taskType" class="chooseTaskType">
      <div class="h2">请选择任务类型</div>
      <hr>
      <div>
        <el-button size="medium" type="primary" @click="chooseAdType(1)">传统媒体广告</el-button>
        <el-button id="authority_2004" size="medium" type="primary" @click="chooseAdType(2)">网络媒体广告</el-button>
        <el-button id="authority_2005" size="medium" type="primary" @click="chooseAdType(3)">户外广告</el-button>
      </div>
    </div>
    <div v-else style="height:100%;overflow-x: hidden;">
      <net-ad-task :task="task" ref="task" @next="getTask" @back="back" v-if="task.taskType === undefined && task.media_class == 13 && task.linkTypeArr && task.linkTypeArr.length === 0 && !loading"></net-ad-task>
      <net-ad-task2 :task="task" ref="task" @next="getTask" @back="back" v-if="task.taskType === undefined && task.media_class == 13 && task.linkTypeArr && task.linkTypeArr.length !== 0 && !loading"></net-ad-task2>
      <task-info :task="task" ref="task" @next="getTask" @back="back" v-if="task.taskType === undefined && task.media_class != 13 && task.linkTypeArr && task.linkTypeArr.length === 0 && !loading"></task-info>
      <task-info2 :task="task" ref="task" @next="getTask" @back="back" v-if="task.taskType === undefined && task.media_class != 13 && task.linkTypeArr && task.linkTypeArr.length !== 0 && !loading"></task-info2>
      <outdoor-ad-check :task="task" ref="task" @next="getTask" @back="back" v-if="task.taskType === 3"></outdoor-ad-check>
    </div>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/v-viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}adclassSelect/location.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
  <script src="/Public/js/wangEditor.min.js"></script>
  <script>
    const type = '{$type}';    // 操作类别, 新任务录入: input
    const adClassTree = {$adClassTree};
    const adClassArr = {$adClassArr};
    const illegalTypeArr = {$illegalTypeArr};
    const illegalArr = {$illegalArr};
    var authority_2004 = "{:A('InputPc/Task','Model') -> user_other_authority('2004')}";
    if(authority_2004 == "0"){
      $('#authority_2004').attr("disabled",true);
    }
    var authority_2005 = "{:A('InputPc/Task','Model') -> user_other_authority('2005')}";
    if(authority_2005 == "0"){
      $('#authority_2005').attr("disabled",true);
    }
  </script>
  <script src="/Application/TaskInput/View/TraditionAd/js/submitCutError.js"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/adInfo.js?v=112"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/illegalInfo.js?as1fwe=14"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskInfo.js?asd1e=114"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskInfo2.js?sd1e=11"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/netAdTask.js?as1fwe=14"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/netAdTask2.js?adfwe=14"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/outdoorAdCheck.js?asdwe=114"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/index.js?adfwe=114"></script>
</body>
</html>