<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>众包任务管理</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
	<link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskList.css">
	<link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskInfo.css">
	<link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/netAdTask.css?123">
	<link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css">
	<link rel="stylesheet" href="/Public/videojs/video-js.min.css">
</head>

<body>
	<div class="wrapper" id="app" v-loading="loading">
		<el-row>
			<el-form :model="where" ref="whereForm" @keyup.enter.native="search" label-width="86px">
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="任务ID" prop="taskid">
							<el-input v-model="where.taskid" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="广告名称" prop="adName">
							<el-input v-model="where.adName" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="广告品牌">
							<el-input v-model="where.fbrand" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4" v-if="isNetAd == '1'">
						<el-form-item  label="媒介类型" prop="media_class">
							<el-select v-model="where.media_class" clearable style="width: 100%">
								<el-option v-for="item in mediaClassArr" :key="item.text" :label="item.text" :value="item.value">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4" v-else>
						<el-form-item  label="平台类型" prop="media_class">
							<el-select v-model="where.net_platform" clearable style="width: 100%">
								<el-option v-for="item in netPlatform" :key="item.text" :label="item.text" :value="item.value">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="违法类型" prop="fillegaltypecode">
							<el-select v-model="where.fillegaltypecode" clearable style="width: 100%">
								<el-option v-for="item in illegalTypeArr" :key="item.text" :label="item.text" :value="item.value">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="广告类别" prop="adClass">
							<el-cascader filterable :options="adClassArr" v-model="searchTempWhere.searchAdClassArr1" change-on-select
								clearable></el-cascader>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="媒体名称" prop="mediaName">
							<el-input v-model="where.mediaName" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="地区" prop="regionId" style="width:320px;">
								<el-col :span="16">
										<el-cascader v-model="searchTempWhere.region" :options="regionTree" change-on-select :filterable="true"
										clearable style="width: 100%"></el-cascader>
								</el-col>
								<el-col :span="4">
									<el-checkbox v-model="searchTempWhere.onlyThisLevel" style="padding-left: 10px">仅本级</el-checkbox>
								</el-col>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="广告主">
							<el-input v-model="where.fadowner" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="任务状态" prop="task_state">
							<el-select v-model="where.task_state" clearable style="width: 100%">
								<el-option v-for="item in taskStateArr" :key="item.text" :label="item.text" :value="item.value">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4" v-if="role != 'inspector'">
						<el-form-item label="质检状态" prop="quality_state">
							<el-select v-model="where.quality_state" clearable  style="width: 100%">
								<el-option v-for="item in qualityStateArr" :key="item.text" :label="item.text" :value="item.value">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item prop="timeRangeArr" label-width="10px">
							<el-date-picker v-model="where.timeRangeArr" type="daterange" range-separator="至" start-placeholder="开始日期"
								end-placeholder="结束日期" value-format="timestamp" format="yyyy-MM-dd" clearable style="width: 100%">
							</el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4" v-if="role === 'inspector'">
						<el-form-item label="最后处理人">
							<el-autocomplete v-model="where.wx_id" :fetch-suggestions="searchAlias" clearable></el-autocomplete>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label="商业类别">
							<el-cascader filterable :options="adClassTree" v-model="searchTempWhere.searchAdClassArr2" change-on-select
								:filterable="true" clearable style="width: 100%"></el-cascader>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label-width="16px">
							<el-radio-group v-model="isNetAd" @change="resetForm">
								<el-radio label="1">传统媒体广告</el-radio>
								<el-radio label="2">网络媒体广告</el-radio>
							</el-radio-group>
						</el-form-item>
					</el-col>
					<el-col :md="8" :lg="6" :xl="4">
						<el-form-item label-width="16px">
							<el-button type="primary" @click="search">搜索</el-button>
							<el-button @click="resetForm('whereForm')">重置</el-button>
						</el-form-item>
					</el-col>
			</el-form>
		</el-row>
		<el-table :data="tableData" border @row-click="openTaskInfo" :row-class-name="tableRowClassName" :height="tableHeight" style="width: 100%;">
			<el-table-column type="index"	width="50" align="left" fixed></el-table-column >
			<el-table-column label="任务ID" prop="taskid" align="left" show-overflow-tooltip>
			</el-table-column>
			<el-table-column label="广告名称" width="200" align="left" fixed show-overflow-tooltip>
				<template slot-scope="scope">
					<span v-html="scope.row.fadname"></span>
				</template>
			</el-table-column>
			<el-table-column label="广告品牌" prop="fbrand" align="left" show-overflow-tooltip>
			</el-table-column>
			<el-table-column width="170" label="广告类别" prop="ffullname" align="left" show-overflow-tooltip>
			</el-table-column>
			<el-table-column width="170" label="商业类别" prop="adClassV2" align="left" show-overflow-tooltip>
			</el-table-column>
			<el-table-column width="170" label="广告主" prop="adOwnerName" align="left" show-overflow-tooltip>
			</el-table-column>
			<el-table-column width="170" :label="isNetAd === '3' ? '发布企业' : '媒体名称'" align="left" show-overflow-tooltip>
				<template slot-scope="scope">
					<span v-html="scope.row.fmedianame"></span>
				</template>
			</el-table-column>
			<el-table-column v-if="isNetAd === '0'" label="媒介类型" show-overflow-tooltip :key="Math.random()">
				<template slot-scope="scope">
					{{scope.row.media_class | mediaClassFilter}}
				</template>
			</el-table-column>
			<el-table-column v-else label="网络平台" align="left" show-overflow-tooltip :key="Math.random()">
				<template slot-scope="scope">
					{{scope.row.net_platform | netPlatformFilter}}
				</template>
			</el-table-column>
			<el-table-column label="违法类型" v-if="isNetAd !== '3'" align="left" show-overflow-tooltip :key="Math.random()">
				<template slot-scope="scope">
					{{scope.row.fillegaltypecode | illegalTypeFilter}}
				</template>
			</el-table-column>
			<el-table-column label="处理结果" v-else prop="fillegaltype" show-overflow-tooltip :key="Math.random()">
			</el-table-column>
			<el-table-column label="任务状态" align="left" show-overflow-tooltip>
				<template slot-scope="scope">
					<span v-if="scope.row.cut_err_state == 0">
						{{scope.row.task_state | taskStateFilter}}
					</span>
					<span v-else>
						剪辑错误
					</span>
				</template>
			</el-table-column>
			<el-table-column :prop="isNetAd == 1 ? 'lasttime' : 'modifytime'" width="150" label="更新时间" align="left" show-overflow-tooltip>
			</el-table-column>
			<el-table-column prop="input_user" fixed="right" label="录入人" align="left" show-overflow-tooltip>
			</el-table-column>
			<el-table-column prop="inspect_user" fixed="right" label="审核人" align="left" show-overflow-tooltip>
			</el-table-column>
			<el-table-column prop="alias" fixed="right" label="最后处理人" align="left" show-overflow-tooltip width="100">
			</el-table-column>
		</el-table>
		<el-pagination layout="sizes, total, prev, pager, next" :page-sizes="[10, 20, 50, 200, 500, 1000, 5000]" @current-change="pageChange"  @size-change="handleSizeChange" :current-page="page" :total="total" :page-size="20">
		</el-pagination>
		<el-dialog title="任务详情" :visible="showTaskInfo" @close="closeTaskInfo" width="90%">
			<task-info :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.taskType === undefined && taskInfo.media_class != 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length === 0"></task-info>
			<task-info2 :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.taskType === undefined && taskInfo.media_class != 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length !== 0"></task-info2>
			<net-ad-task :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.taskType === undefined && taskInfo.media_class == 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length === 0"></net-ad-task>
			<net-ad-task2 :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.taskType === undefined && taskInfo.media_class == 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length !== 0"></net-ad-task2>
			<outdoor-ad-check :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" :ischeck="false" v-if="taskInfo.taskType === 3"></outdoor-ad-check>
		</el-dialog>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
	<script src="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}VueViewer/v-viewer.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
	<script src="/Public/js/wangEditor.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
	<script src="/Public/videojs/video.min.js"></script>
	<script>
		var role = '{$role}';
		var type = '{$type}';
		var illegalTypeArr = {$illegalTypeArr};
		var adClassArr = {$adClassArr};
		var adClassTree = {$adClassTree};
		var regionTree = {$regionTree};
		var illegalArr = {$illegalArr};
	</script>
	<script src="/Application/TaskInput/View/TraditionAd/js/submitCutError.js"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/adInfo.js?asdf=f1121d1ds"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/illegalInfo.js?asdf=f1121111212ds"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/taskInfo.js?asdf=f112113121111ds"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/taskInfo2.js?asdf=f11gdfs1111122s"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/netAdTask.js?asdfwe=23211111112241113"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/netAdTask2.js?asdfwe=1114"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/inspectorTaskList.js?fsdf=f2113"></script>
</body>

</html>