<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>媒体偏好设置</title>

  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

  <link rel="shortcut icon" href="favicon.ico">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/iCheck/custom.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
  <link href="/Application/Admin/View/Public/tvsample.css" rel="stylesheet">
  <link href="/Application/Admin/View/Public/page.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/mediaPrefer.css">
  <style>
    .el-tag{
      margin-right: 5px;
    }
    .is-bordered{
      margin-left: 10px;
    }
  </style>
</head>

<body class="gray-bg">
  <div class="wrapper wrapper-content" id="app" v-loading="loading">
    <el-row>
      <el-col :span="6" class="memberList">
        <el-input v-model="searchUser" placeholder="搜索" clearable @input="checkedMemberList = []"></el-input>
        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
        <div style="margin: 15px 0;"></div>
        <el-checkbox-group v-model="checkedMemberList" @change="handleCheckedMemberChange">
          <el-checkbox v-for="item in filterMemberList" :label="item.value" :key="item.value" border @change="handleCheckedMemberClick(item)">{{item.label}}</el-checkbox>
        </el-checkbox-group>
      </el-col>
      <el-col :span="17" :offset="1" class="manager" v-if="activeUser.value">
        <el-form :inline="true">
          <el-form-item label="优先级偏好">
            <div v-if="priorityList.length !== 0">
              <el-tag
                      v-for="(tag,index) in priorityList"
                      :key="tag"
                      @close="deletePriority(index)"
                      closable>
                {{tag}}
              </el-tag>
            </div>
            <div v-else>未设置优先级偏好</div>
          </el-form-item>
          <el-form-item>
            <el-button type="success" @click="addPriority">新增</el-button>
            <el-button type="info" @click="priorityList = []">清空</el-button>
            <el-button type="primary" @click="savePriority">保存</el-button>
          </el-form-item>
        </el-form>


        <hr>

        <el-form :inline="true" :model="where">
          <el-form-item label="媒体类型">
            <el-cascader
                    v-model="searchTempWhere.mediaClass"
                    :options="mediaClassTree"
                    change-on-select
                    clearable
            ></el-cascader>
          </el-form-item>
          <el-form-item label="媒体名称">
            <el-input v-model="where.mediaName" clearable></el-input>
          </el-form-item>
          <el-form-item label="媒介标签">
            <el-select v-model="where.mediaLabel" clearable filterable>
              <el-option
                      v-for="item in mediaLabelList"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="媒体地区">
            <el-cascader
                    v-model="searchTempWhere.region"
                    :options="regionTree"
                    change-on-select
                    filterable
                    clearable
            ></el-cascader>
          </el-form-item>
          <el-form-item>
            <el-switch
                    v-model="searchTempWhere.onlyThisLevel"
                    active-text="本级">
            </el-switch>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="search">搜索</el-button>
            <el-button type="info" @click="resetWhere">重置</el-button>
            <el-button @click="allPick">当前页全部选择</el-button>
            <el-button @click="allCancelPick">当前页全部取消选择</el-button>
            <el-button @click="reversePick">当前页反选</el-button>
          </el-form-item>
        </el-form>
        <el-row>
          <el-col>
            <el-button class="mediaBtn" :type="item.selected ? 'success' : 'info'" v-for="(item, index) in  mediaList" @click="clickMediaList(item)" :key="index">{{item.label}}</el-button>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="pageChange"
                    :current-page="page"
                    :page-sizes="[50 , 100, 200, 400, 1000]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
          </el-col>
        </el-row>
        <hr>
        <el-row>
          <el-col><div class="h4">当前媒体偏好</div></el-col>
        </el-row>
        <el-row v-if="originalPreferList.length > 0">
          <el-col>
            <el-button type="success" class="mediaBtn" v-for="(item, index) in  originalPreferList" @click="removePreferItem(index)" :key="index">{{item.label}}</el-button>
          </el-col>
        </el-row>
        <el-row v-else>
          <div class="h3 text-center" style="color: #909399; margin: 50px 0;">尚未设置媒体偏好, 点击上方按钮添加, 再次点击删除</div>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="8">
            <el-button type="info" @click="originalPreferList = []">清空列表</el-button>
            <el-button type="primary" @click="savePreferList">保存当前媒体偏好</el-button>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="17" :offset="1" v-else>
        <div class="h2 text-center" style="color: #909399;">请先选择左侧成员</div>
      </el-col>
    </el-row>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/echarts/4.1.0.rc2/echarts.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script>
    var memberList = {$memberList};
    var mediaClassTree = {$mediaClassTree};
    var regionTree = {$regionTree};
    var mediaLabelList = {$mediaLabelList};
  </script>
  <script src="/Application/TaskInput/View/TraditionAd/js/mediaPrefer.js?fasfw=23113"></script>
</body>

</html>