<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>众包任务管理</title>

  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

  <link rel="shortcut icon" href="favicon.ico">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/iCheck/custom.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}regionSelect/css.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
  <link href="/Application/Admin/View/Public/mediaManagement.css" rel="stylesheet">
  <link href="/Application/Admin/View/Public/page.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskList.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskInfo.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/netAdTask.css">
</head>

<body class="gray-bg">
  <div class="wrapper wrapper-content" id="app" v-loading="loading">
    <el-form :inline="true" :model="where" ref="whereForm" @keyup.enter.native="search">
      <el-row>
        <el-col :span="6">
          <el-form-item label="广告名称" prop="adName">
            <el-input v-model="where.adName" clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="广告品牌">
            <el-input v-model="where.fbrand" clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="媒介类型" prop="media_class">
            <el-select v-model="where.media_class" clearable>
              <el-option v-for="item in mediaClassArr" :key="item.text" :label="item.text" :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="违法类型" prop="fillegaltypecode">
            <el-select v-model="where.fillegaltypecode" clearable>
              <el-option v-for="item in illegalTypeArr" :key="item.text" :label="item.text" :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="6">
          <el-form-item label="广告类别" prop="adClass">
            <el-cascader filterable :options="adClassArr" v-model="searchTempWhere.searchAdClassArr1" change-on-select
              clearable></el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="媒体名称" prop="mediaName">
            <el-input v-model="where.mediaName" clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="地区" prop="regionId" class="regionSearch">
            <el-cascader v-model="searchTempWhere.region" :options="regionTree" change-on-select :filterable="true"
              clearable></el-cascader>
            <el-checkbox v-model="searchTempWhere.onlyThisLevel">只搜索本级</el-checkbox>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="广告主">
            <el-input v-model="where.fadowner" clearable></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="任务状态" prop="task_state">
            <el-select v-model="where.task_state" clearable>
              <el-option v-for="item in taskStateArr" :key="item.text" :label="item.text" :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8" v-if="role != 'inspector'">
          <el-form-item label="质检状态" prop="quality_state">
            <el-select v-model="where.quality_state" clearable>
              <el-option v-for="item in qualityStateArr" :key="item.text" :label="item.text" :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="timeRangeArr">
            <el-date-picker v-model="where.timeRangeArr" type="daterange" range-separator="至" start-placeholder="开始日期"
              end-placeholder="结束日期" value-format="timestamp" format="yyyy-MM-dd" clearable>
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="8" v-if="role === 'inspector'">
          <el-form-item label="录入人">
            <el-autocomplete v-model="where.wx_id" :fetch-suggestions="searchAlias" clearable></el-autocomplete>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="商业类别">
            <el-cascader filterable :options="adClassTree" v-model="searchTempWhere.searchAdClassArr2" change-on-select
              :filterable="true" clearable></el-cascader>
          </el-form-item>
          <el-form-item>
            <el-radio-group v-model="isNetAd">
              <el-radio label="0">传统媒体广告</el-radio>
              <el-radio label="1">网络媒体广告</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="广告id">
            <el-input v-model="where.fadid" clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item class="text-right">
            <el-button type="primary" @click="search">搜索</el-button>
            <el-button @click="resetForm('whereForm')">重置</el-button>
            <el-button @click="openModifyPage('ad')">修改广告信息</el-button>
            <el-button @click="openModifyPage('illegal')">修改违法判定信息</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData" border @row-click="openTaskInfo" :row-class-name="tableRowClassName" @selection-change="selectRow"
      style="width: 100%">
      <el-table-column type="selection" width="55">
      </el-table-column>
      <el-table-column label="广告名称" width="200" fixed show-overflow-tooltip>
        <template slot-scope="scope">
          <span v-html="scope.row.fadname"></span>
        </template>
      </el-table-column>
      <el-table-column width="170" label="广告类别" prop="ffullname" show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="170" label="商业类别" prop="adClassV2" show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="广告品牌" prop="fbrand" show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="170" label="广告主" prop="adOwnerName" show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="170" label="媒体名称" show-overflow-tooltip>
        <template slot-scope="scope">
          <span v-html="scope.row.fmedianame"></span>
        </template>
      </el-table-column>
      <el-table-column label="媒介类型" show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.media_class | mediaClassFilter}}
        </template>
      </el-table-column>
      <el-table-column label="违法类型" show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fillegaltypecode | illegalTypeFilter}}
        </template>
      </el-table-column>
      <el-table-column label="任务状态" show-overflow-tooltip>
        <template slot-scope="scope">
          <span v-if="scope.row.cut_err_state == 0">
            {{scope.row.task_state | taskStateFilter}}
          </span>
          <span v-else>
            剪辑错误
          </span>
        </template>
      </el-table-column>
      <el-table-column label="质检状态" show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.quality_state | qualityStateFilter}}
        </template>
      </el-table-column>
      <el-table-column label="时长(s)" prop="fadlen" show-overflow-tooltip>
      </el-table-column>
      <el-table-column :prop="isNetAd == 1 ? 'modifytime' : 'lasttime'" width="150" label="更新时间" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="alias" fixed="right" label="录入人">
      </el-table-column>
    </el-table>
    <el-pagination @size-change="pageSizeChange" @current-change="pageChange" :current-page="page" :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>
    <el-dialog title="任务详情" :visible="showTaskInfo" @close="closeTaskInfo" width="90%">
      <task-info :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.media_class != 13"></task-info>
      <net-ad-task :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-else></net-ad-task>
    </el-dialog>
    <el-dialog title="修改任务" :visible="showModifyTaskAdInfo" @close="closeTaskInfo" width="90%">
      <ad-info-input-area @submit="submitAdInfo"></ad-info-input-area>
    </el-dialog>
    <el-dialog title="修改任务" :visible="showModifyTaskIllegalInfo" @close="closeTaskInfo" width="90%">
      <illegal-info-input-area @submit="submitIllegalInfo"></illegal-info-input-area>
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}adclassSelect/location.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}regionSelect/location.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
  <script src="/Public/js/wangEditor.min.js"></script>
  <script>
    var illegalTypeArr = {$illegalTypeArr};
    var role = '{$role}';
    var type = '{$type}';
    var adClassArr = {$adClassArr};
    var adClassTree = {$adClassTree};
    var regionTree = {$regionTree};
    var illegalArr = {$illegalArr};
  </script>
  <script src="/Application/TaskInput/View/TraditionAd/js/submitCutError.js"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskInfo.js?asdf=21432"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/netAdTask.js?a3123=1331"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskBatchModify/adInfoInputArea.js"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskBatchModify/illegalInfoInputArea.js"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskBatchModify.js?adsf=1"></script>
</body>

</html>