<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>质检任务</title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskCheck.min.css?v=31">
</head>
<body>
  <div id="app" v-loading="loading">
    <div :gutter="8" style="display:flex;">
      <div style="width: 500px;flex-shrink: 0;">
        <div class="info-box box" :style="{'height': boxHeight}">
          <el-card :body-style="bodyStyle" shadow="never">
            <div class="check-wrap">
              <div class="form-wrap">
                <el-form ref="form" label-width="110px">
                  <el-form-item label-width="0">
                    <el-alert
                      :closable="false"
                      :title="taskTitle"
                      type="warning"
                      style="line-height:20px;"
                      show-icon>
                      <!-- <div style="color:red;" v-if="Number(form.urgentcount) > 0">加急任务余量：{{form.urgentcount}}条</div> -->
                    </el-alert>
                  </el-form-item>
                  <!-- <el-form-item label-width="0">
                    <div v-if="taskInfo.type == 'swf'" style="width:100%;height:200px;">
                      <object width="100%" id="" type="application/x-shockwave-flash" :data="taskInfo.file_url">
                        <param name="wmode" value="transparent">
                      </object>
                    </div>
                    <div v-if="taskInfo.type == 'flv'" style="width:100%;height:200px;">
                      <video :src="taskInfo.file_url" controls></video>
                    </div>
                    <div class="imgView" style="width:100%;height:200px;"
                        v-if="taskInfo.type == 'image'"
                        v-viewer="{'inline': true,'toolbar': false,'navbar': false}">
                      <img :src="taskInfo.file_url">
                    </div>
                  </el-form-item> -->
                  <el-form-item label="播出媒体">
                    {{taskInfo.media_name}}
                    <span v-if="taskInfo.fmediaclass === '1'" style="display: inline-block;width: 50px;">
                      <img :src="taskInfo.tv_logo" alt="" style="width: 50px;vertical-align: top;">
                    </span>
                  </el-form-item>
                  <el-form-item label="任务 id">{{taskInfo.taskid}}</el-form-item>
                  <el-form-item label="发布时间">{{taskInfo.issue_date}}</el-form-item>
                  <el-form-item label="发布页" v-if="taskInfo.fmediaclass === '13'">
                    <a :href="taskInfo.net_original_url" target="_blank" class="page-link" :title="taskInfo.net_original_url">{{taskInfo.net_original_url}}</a>
                  </el-form-item>
                  <el-form-item label="落地页" v-if="taskInfo.fmediaclass === '13'">
                      <a :href="taskInfo.net_target_url" target="_blank" class="page-link" :title="taskInfo.net_target_url">{{taskInfo.net_target_url}}</a>
                  </el-form-item>
                  <el-form-item label="视频/音频长度" v-if="taskInfo.fmediaclass !== '3' && taskInfo.fmediaclass !== '13'">{{taskInfo.fadlen}}</el-form-item>
                  <el-form-item label="临时广告名称">{{taskInfo.tem_ad_name}}</el-form-item>
                  <el-form-item label="广告名称">{{taskInfo.fadname}}</el-form-item>
                  <el-form-item label="广告品牌">{{taskInfo.fbrand}}</el-form-item>
                  <el-form-item label="广告主">{{taskInfo.fname}}</el-form-item>
                  <el-form-item label="商业类别">{{taskInfo.adCateText2}}</el-form-item>
                  <el-form-item label="广告类别">{{taskInfo.adCateText1}}</el-form-item>
                  <el-form-item label="违法程度" v-if="taskInfo.fillegaltypecode === '30'">{{illegaltypecode[taskInfo.fillegaltypecode]}}</el-form-item>
                  <el-form-item label="违法表现代码" v-if="taskInfo.fillegaltypecode === '30'">{{taskInfo.fexpressioncodes}}</el-form-item>
                  <el-form-item label="违法内容" v-if="taskInfo.fillegaltypecode === '30'"><span v-html="taskInfo.fillegalcontent" class="fillegalcontent"></span></el-form-item>
                  <el-form-item label="是否为栏目广告">{{taskInfo.is_long_ad === '0' ? '否' : '是'}}</el-form-item>
                  <el-form-item label="代言人">{{taskInfo.fspokesman || '无'}}</el-form-item>
                  <el-form-item label="版本说明">{{taskInfo.fversion || '无'}}</el-form-item>
                </el-form>
              </div>
              <div class="subbutton">
                <div>
                  <el-button type="success" @click="submit(2)">质检通过</el-button>
                  <el-button type="warning" @click="submit(3)">质检员重做任务</el-button>
                  <el-button type="danger" @click="submit(4)">违法判定有误</el-button>
                </div>
                <div v-else>
                    <el-button type="primary">质检员重做任务</el-button>
                    <el-button type="warning">退回任务</el-button>
                </div>
              </div>
            </div>
          </el-card>
        </div>
      </div>
      <div style="flex-grow: 1;">
        <div class="img-box box" :style="{'height': boxHeight}" element-loading-text="图片上传中">
          <el-card :body-style="bodyStyle" shadow="never">
            <div v-if="taskInfo.fmediaclass === '13'" class="iframe-wrapper">
              <el-button type="text" @click="reloadAdIFrame">刷新广告页</el-button>
              <a :href="taskInfo.net_target_url" target="_blank"><el-button type="text">新窗口打开</el-button></a>
                <iframe id="iframe" :src="taskInfo.net_target_url" frameborder="0" sandbox="allow-scripts" ref="adIframe"></iframe>
            </div>
            <div v-else>
              <div class="video-wrap" v-if="taskInfo.fmediaclass !== '3'">
                播放速度：<el-radio-group v-model="rate" @change="rateChange">
                  <el-radio-button :label="0.75">0.75</el-radio-button>
                  <el-radio-button :label="1">1</el-radio-button>
                  <el-radio-button :label="1.25">1.25</el-radio-button>
                  <el-radio-button :label="1.5">1.5</el-radio-button>
                  <el-radio-button :label="2.0">2.0</el-radio-button>
                </el-radio-group>
                <video id="video" controls="controls" :src="taskInfo.source_path" autoplay></video>
              </div>
              <template v-else>
                <img :src="taskInfo.paperUrl" alt="" v-if="!taskInfo.paperIsSure">
                <img :src="taskInfo.source_path" alt="" v-else>
              </template>
            </div>
          </el-card>
        </div>
      </div>
      <!-- <div style="flex-grow:1;" class="searchList">
        <div class="list-box box" :style="{'height': boxHeight}">
          <el-card :body-style="bodyStyle" shadow="never" style="position: relative;">
            <div id="list-wrap" v-scroll="this">
              <div class="searchIf">
                <el-row :gutter="4">
                    <el-col :span="24" style="margin-bottom: 10px;">
                        <el-date-picker
                        style="width: 100%;"
                        v-model="timeValue"
                        type="daterange"
                        value-format="yyyy-MM-dd"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                      </el-date-picker>
                    </el-col>
                    <el-col :span="12">
                        <el-input placeholder="任务ID或广告名称" v-model="adValue"></el-input>
                    </el-col>
                    <el-col :span="12">
                        <el-button type="primary" @click="searchAd(1)">搜索</el-button>
                    </el-col>
                </el-row>
              </div>
              <ul style="padding-top: 70px">
                <li style="position: relative;" v-for="(item,index) in adList" :key="index" :class="item.active ? 'active' : ''"
                  @click="historyClick(item)">{{item.title}} <span style="position: absolute; right: 30px;">{{item.id}}<span/></li>
                  <li v-if="!hadSearch" style="text-align: center;">广告历史列表，点击搜索查看历史</li>
                  <li v-if="!haveMore" style="text-align: center;">无更多数据</li>
                  <li v-if="lLoading" style="text-align: center;">加载中···</li>
              </ul>
            </div>
          </el-card>
        </div>
      </div> -->
    </div>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/v-viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}momentJs/moment.js"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskCheck.js?v=312"></script>
</body>
</html>