<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>任务管理</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
	<link rel="stylesheet" href="/Application/Admin/View/Index/css/index.css">
</head>

<body>
	<div id="app">
		<el-form :model="form" ref="sform" inline @keyup.native.enter="getList()">
			<el-form-item label="媒介名称">
				<el-input v-model="form.fname"></el-input>
			</el-form-item>
			<el-form-item label="地区">
				<el-input v-model="form.fname"></el-input>
			</el-form-item>
			<el-form-item label="媒介标签">
				<el-input v-model="form.fname"></el-input>
			</el-form-item>
			<el-form-item label="媒介类型">
				<el-input v-model="form.fname"></el-input>
			</el-form-item>
			<el-form-item label="月份">
				<el-date-picker
					v-model="form.month"
					type="month"
					placeholder="选择月">
				</el-date-picker>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="getList()">搜索</el-button>
			</el-form-item>
		</el-form>
		<el-table :data="tableData" border stripe :height="tableHeight">
			<el-table-column type="index" width="50"></el-table-column>
			<el-table-column label="ID" prop="id" width="150"></el-table-column>
			<el-table-column label="名称" prop="name" width="150"></el-table-column>
			<el-table-column label="日期">
				<template slot-scope="scope">
					<span v-for="(i,index) in scope.row.days" :key="index" class="days" :class="i.state ? 'red' : 'green'">{{i.day}}</span>
				</template>
			</el-table-column>
		</el-table>
		<div class="text-right">
			<el-pagination background @size-change="pageSizeChange" @current-change="getList" :current-page="page.pageIndex" :page-sizes="[20, 50, 100, 200, 500]"
				:page-size="page.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
			</el-pagination>
		</div>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}vue-clipboard/vue-clipboard.min.js"></script>
	<script src="/Application/Admin/View/Index/js/index.js"></script>
</body>

</html>