<foreach name="menu_list" item="menu">
	<if condition=" $menu.menu_url neq '#' ">
		<li style="text-align: left;">
			<a class="J_menuItem" href="{:U($menu['menu_url'].$menu['parameter'])}">
				<i class="fa {$menu.icon}"></i> 
				<span class="nav-label">{$menu.menu_name}</span>
			</a>
		</li>
		<else />
		<li style="text-align: left;">
			<a href="#"><i class="fa {$menu.icon}"></i><span class="nav-label">{$menu.menu_name}</span><span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<foreach name="menu.menu2_list" item="menu2">
					<li>
						<a class="J_menuItem" href="{:U($menu2['menu_url'].$menu['parameter'])}">
							<i class="fa {$menu2.icon}"></i>
							<span class="nav-label">{$menu2.menu_name}</span>
						</a>
					</li>
				</foreach>
			</ul>
		</li>
	</if>
</foreach>