#allmap {
    position: absolute;
    left: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
}

#markerList {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    min-width: 150px;
    overflow-y: scroll;
    margin-top: 34px;
}

.markerList {
    margin-bottom: 0;
}

.col-l {
    float: left;
    margin-right: 10px;
}

.point {
    position: relative;
    background-image: url(/Application/Admin/View/Public/images/markers_new2x_fbb9e99.png);
    width: 21px;
    height: 32px;
    display: block;
    background-size: 300px, auto;
    background-position: -527px -488px;
}

.pointNum {
    display: block;
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    top: 3px;
}

.h5 {
    margin-top: 0;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.h5:hover {
    color: #1ab394;
    cursor: pointer;
}

p {
    display: inline-block;
    max-width: 150px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.list-group-item {
    position: relative;
}

.moreInfo {
    position: absolute;
    right: 8px;
    top: 12%;
    /* -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
}
.moreDevice {
    position: absolute;
    right: 8px;
    bottom: 12%;
    /* -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
}

#infoModal .col-sm-5 {
    padding-top: 7px;
}

#addMarker {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#More:hover {
    cursor: pointer;
}
.search{
    position: fixed;
    top: 0;
    left:0;
    width: 300px;
    z-index: 999;
}