.div_list {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    transition: 0.5s;
    border-radius: 5px;
    background-color: #44586C;
    color: #fff;
    overflow: hidden;
    height: 125px;
}

.leftBlock {
    padding-top: 20px;
    height: 100%;
    background-color: #293846;
    transition: 0.4s;
}

.leftBlock:hover {
    cursor: pointer;
    color: rgb(26, 179, 148);
}

.div_list:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.div_list .col-sm-8 {
    cursor: pointer;
}

.div_list .col-sm-4 {
    text-align: center;
}

.div_list .icon {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#infoModal .col-sm-5,
#infoModal .col-sm-7 {
    padding-top: 7px;
}

.changeBtn {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    transition: 0.4s;
}

.changeBtn2 {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    right: 65px;
    transition: 0.4s;
}
.device-on {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: rgb(26, 179, 148);
    border-radius: 50%;
}
.device-off {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #ec4758;
    border-radius: 50%;
}
.device-null {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}
.changeBtn:hover,
.changeBtn2:hover {
    background-color: rgb(26, 179, 148);
    cursor: pointer;
}

.InfoBlock {
    cursor: pointer;
    transition: 0.4s;
}

.InfoBlock:hover {
    color: rgb(26, 179, 148);
}

.c_name {
    max-width: 170px;
    min-width: 70px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.table td {
    border-top: none!important;
}

pre {
    margin: 0!important;
    border: none!important;
    background-color: rgba(0, 0, 0, 0)!important;
    color: inherit!important;
}

.choose>tbody>tr>td,
.choose>tbody>tr>th,
.choose>tfoot>tr>td,
.choose>tfoot>tr>th,
.choose>thead>tr>td,
.choose>thead>tr>th {
    border-top: none!important;
}

