#addressInfo{
    position: absolute;background-color: ffffff;border: 1px solid #aaaaaa;width:400px;
}
.region li {
    float: left;
    /*width: 15%;*/
    list-style: none;
    line-height: 30px;
    padding: 2px 15px;
    white-space: nowrap;
}

.region li a {
    padding: 2px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.region li a:hover {
    background-color: #1ab394;
    color: #fff;
}