ul {
    list-style: none;
    padding-left: 20px;
}

.Icon {
    font-size: 40px;
}
.editUser{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.4s;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}
.editUser:hover{
    cursor: pointer;
    border: 1px solid #ccc;
    /*background-color: #1ab394;
    color: #fff;*/
}
.editUser:active{
    background-color: #1ab394;
    color: #fff;
    transition: 0s;
}
pre{
    margin: 0!important;
    border:none!important;
    background-color: rgba(0, 0, 0, 0)!important;
    color: inherit!important;
}
.table pre{
    padding: 0!important;
}
.org_active{
    color: #fff!important;
    background-color: #676a6c;
    border-radius: 3px;
}
.authority_active{
    color: #fff!important;
    background-color: #1ab394;
    border-radius: 3px;
    padding: 6px;
    margin-bottom: 6px;
    text-align: center;
}
.authority_active:hover{
    cursor: pointer;
}
.org_details,.region_details,.illegal_details,.adclass_details{
    padding:3px 5px;
}

/* 权限部分 */
.l-authority{
    padding: 4px;
    margin-bottom: 6px;
    margin: 0 10px 6px 10px;
    text-align: center;
    box-sizing: border-box;
}
.l-authority:hover{
    cursor: pointer;
}
.right-content{
    height: 369px;
}
.permission-div{
    display: flex;
    height: 100%
}
.permission-div>div{
    overflow: auto;
}
.permission-div .permission-box,
.permission-div .permission-tree{
    height: 100%;
    flex-grow: 1;
    border: 1px solid #eee;
    padding-top: 10px;
    box-sizing: border-box;
}
.permission-div .permission-box{
    padding: 10px;
}
.permission-div .permission-tree{
    width: 100px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 0;
    box-sizing: border-box;
}
.permission-button{
    display: flex;
    width: 60px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.permission-button button{
    align-self: center;
}
.text-data:hover{
    cursor: pointer;
}

.role_tag{
    display: flex;
    flex-wrap:wrap;
}
.active_role{
    padding: 6px;
    border: 1px solid #eee;
    margin: 0px 3px 6px 3px;
}
.active_role:hover{
    cursor: pointer;
}

#groulpModal .mediaContent,
#groulpModal .classContent,
#groulpModal .dateContent,
#peopleModal .peopleContent
{
    height: 370px;
}

#mediaList,
#mediaList2,

#classList,
#dateList,
#peopleList
{
    padding: 0;
    margin: 0;
    max-height: 332px;
    overflow: auto;
}

#mediaList li,
#mediaList2 li,

#classList li,
#dateList li,
#peopleList li
{
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
#peopleList li{
    display: flex;
}
#peopleList li div{
    flex-grow: 1;
    line-height: 40px;
}

 .flexBox{
    display: flex;
}
 .flexBox>div{
    flex-grow: 1;
}