<div class="fixed-table-container">
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center" rowspan="2">序号</th>
                <th class="text-center" rowspan="2">发布媒体</th>
                <th class="text-center" rowspan="2">媒体地区</th>
                <th class="text-center" rowspan="2">广告名称</th>
                <th class="text-center" rowspan="2">广告类别</th>
                <th class="text-center" rowspan="2">版本说明</th>
                <th class="text-center" rowspan="2">发布日期</th>
                <th class="text-center" rowspan="2">发布类型</th>
                <th class="text-center" rowspan="2">违法类型</th>
                <th class="text-center" colspan="2">生产批准文号</th>
                <th class="text-center" colspan="2">广告批准文号</th>
                <th class="text-center" colspan="2">生产企业名称 <i class="fa fa-info-circle" title="（证件持有人）"></i></th>
                <th class="text-center" rowspan="2">生产企业所在地区 <i class="fa fa-info-circle" title="（证件持有人）"></i></th>
                <th class="text-center" rowspan="2">研判依据</th>
                <th class="text-center" rowspan="2">操作</th>
            </tr>
            <tr>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="paperissueList" item="paperissue">
                <tr class="mediaTr ">
                    <td class="text-center">{$paperissue.k}</td>
                    <td class="text-center">{$paperissue.fmedianame}</td>
                    <td class="text-center">{$paperissue.region_name}</td>
                    <td class="text-center" title="点击查看广告详情">
                        <i class="fa fa-picture-o viewPaper" src="{$paperissue.fjpgfilename}" aria-hidden="true" title="点击预览视频"></i>
                        <span class="">{$paperissue.fadname}</span>
                    </td>
                    <td class="text-center">{$paperissue.adclass_code}</td>
                    <td class="text-center">{$paperissue.fversion}</td>
                    <td class="text-center">{$paperissue.fissuedate}</td>
                    <td class="text-center">{$paperissue.fissuetype}</td>
                    <td class="text-center">{$paperissue.fillegaltype}</td>
                    <td class="text-center">{$paperissue.fadmanuno}<eq name="paperissue.fadmanuno" value="">/</eq></td>
                    <td class="text-center">{$paperissue.fmanuno}<eq name="paperissue.fmanuno" value="">/</eq></td>
                    <td class="text-center">{$paperissue.fadapprno}<eq name="paperissue.fadapprno" value="">/</eq></td>
                    <td class="text-center">{$paperissue.fapprno}<eq name="paperissue.fapprno" value="">/</eq></td>
                    <td class="text-center">{$paperissue.fadent}<eq name="paperissue.fadent" value="">/</eq></td>
                    <td class="text-center">{$paperissue.fent}<eq name="paperissue.fent" value="">/</eq></td>
                    <td class="text-center">{$paperissue.fentzone}<eq name="paperissue.fentzone" value="">/</eq></td>
                    <td class="text-center">
                        <neq name="paperissue.fexpressioncodes" value="">
                            <div class="tooltip-demo">
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="left" title="{$paperissue.fexpressions}">
                                {$paperissue.fexpressioncodes}</button>
                            </div>
                        </neq>
                        <eq name="paperissue.fexpressioncodes" value="">/</eq>
                    </td>
                    <td><button class="btn btn-primary btn-xs mediaName"  id="{$paperissue.fpaperissueid}"><i class="fa fa-info"></i> 详情</button></td>
                </tr>
            </foreach>
            <empty name="paperissueList">
                <tr class="h5 text-center text-primary">
                    <td colspan="18">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
