<!--详细信息弹窗-->
<div class="modal inmodal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="container-fluid">
                <br>
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">违法信息</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">其他信息</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="container-fluid">
                                <table class="table infoBlock infoTable">
                                    <tr>
                                        <th>广告名称：</th>
                                        <td id="fname"></td>
                                        <th>版本说明：</th>
                                        <td id="fversion"></td>
                                    </tr>
                                    <tr>
                                        <th>发布媒体：</th>
                                        <td id="fmediaid"></td>
                                        <th>广告主：</th>
                                        <td id="fadowner"></td>
                                    </tr>
                                    <tr>
                                        <th>发布日期：</th>
                                        <td id="fissuedate"></td>
                                        <th>版面：</th>
                                        <td id="fpage"></td>
                                    </tr>
                                    <tr>
                                        <th>版面类型：</th>
                                        <td id="fpagetype"></td>
                                        <th>发布类型：</th>
                                        <td id="fissuetype"></td>
                                    </tr>
                                    <tr>
                                        <th>规格（秒）：</th>
                                        <td id="fsize"></td>
                                        <th>数量：</th>
                                        <td id="fquantity"></td>
                                    </tr>
                                    <tr>
                                        <th>价格：</th>
                                        <td id="famounts"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="container-fluid">
                                <table class="table infoBlock infoTable">
                                    <tr>
                                        <th>违法类型：</th>
                                        <td id="fillegaltype"></td>
                                        <th>涉嫌违法内容：</th>
                                        <td id="fillegalcontent"></td>
                                    </tr>
                                    <tr>
                                        <th>违法表现代码：</th>
                                        <td id="fexpressioncodes"></td>
                                        <th>违法表现：</th>
                                        <td id="fexpressions"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <div class="container-fluid">
                                <table class="table infoBlock infoTable">
                                    <tr>
                                        <th>生产批准文号：</th>
                                        <td id="fmanuno"></td>
                                        <th>广告中标识的生产批准文号：</th>
                                        <td id="fadmanuno"></td>
                                    </tr>
                                    <tr>
                                        <th>广告批准文号：</th>
                                        <td id="fapprno"></td>
                                        <th>广告中标识的广告批准文号：</th>
                                        <td id="fadapprno"></td>
                                    </tr>
                                    <tr>
                                        <th>广告中标识的生产企业（证件持有人）名称：</th>
                                        <td id="fadent"></td>
                                        <th>生产企业（证件持有人）名称：</th>
                                        <td id="fent"></td>
                                    </tr>
                                    <tr>
                                        <th>生产企业（证件持有人）所在地区：</th>
                                        <td id="fentzone"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" id="close">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--修改信息弹窗-->
<div class="modal inmodal fade" id="changeModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改信息</h4>
            </div>
            <div class="container-fluid">
                <form class="form-horizontal m-t" id="editForm">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告名称：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入样本名称" minlength="2" type="text" class="form-control input-sm fadname" name="fadname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告主：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="adowner_name" class="form-control input-sm" id="adowner_name" placeholder="请输入广告主">
                                    <input type="hidden" name="adowner" id="adowner" value="">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告类别：</label>
                            <div class="col-sm-8">
                                <input type="text" id="adclass" name="adclass" readonly class="form-control input-sm" value="{$Think.get.adclass}" fcode="{$Think.get.adclass_code}" placeholder="请选择广告类别">
                                <input type="hidden" id="adclass_code" name="adclass_code" class="form-control input-sm" value="{$Think.get.adclass_code}">
                                <div id="adclass-select" style="display:none">
                                    <ul class="addr_tab" role="tablist">
                                    </ul>
                                    <ul class="addr_area-list">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告品牌：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入品牌" minlength="2" type="text" class="form-control input-sm fbrand" name="fbrand">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">代言人：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入代言人" minlength="2" type="text" class="form-control input-sm fspokesman" name="fspokesman">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">版本说明：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入版本说明" minlength="2" type="text" class="form-control input-sm fversion" name="fversion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">审批号：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入审批号" type="text" class="form-control input-sm fapprovalid" name="fapprovalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">审批单位：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入审批单位" type="text" class="form-control input-sm fapprovalunit" name="fapprovalunit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">播出媒体：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fmedianame2" name="fmedianame" value="{$Think.get.fmedianame}" placeholder="请输入播出媒体" data-id="{$Think.get.fmediaid}">
                                    <input type="hidden" id="fmediaid2" name="fmediaid" value="{$Think.get.fmediaid}">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">发布日期：</label>
                            <div class="col-sm-8">
                                <input id="fissuedate" placeholder="请选择发布日期" name="fissuedate" type="text" class="form-control input-sm laydate-icon" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">样本长度(s)：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入样本长度" minlength="2" type="text" class="form-control input-sm fadlen" name="fadlen">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">涉嫌违法内容：</label>
                            <div class="col-sm-8">
                                <textarea name="fillegalcontent" class="form-control fillegalcontent" cols="30" rows="3" placeholder="请输入涉嫌违法内容"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">来源：</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label><input id="fsource1" type="radio" name="fsource" value="0"> 监测</label>
                                    <label><input id="fsource2" type="radio" name="fsource" value="1"> 抽查</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">违法表现：</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-primary" id="chooseExpression">选择违法表现</button>
                                <div id="lawTip" style="margin-top:8px;height:280px;overflow-y:auto"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">状态：</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label><input id="fstate3" type="radio" name="fstate" value="1"> 有效</label>
                                    <label><input id="fstate2" type="radio" name="fstate" value="0"> 无效</label>
                                    <label><input id="fstate1" type="radio" name="fstate" value="-1"> 删除</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">素材：</label>
                            <div class="col-sm-8">
                                <!-- <button class="btn btn-xs btn-primary" type="button" id="uploadFile">上传</button> -->
                                <input type="text" class="form-control input-sm filename" placeholder="请输入素材地址(上传后自动填入)" name="favifilename">
                                <div class="btn-xs btn" id="uploadFile">上传</div>
                                <div class="waitLoadMsg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="backMsg" style="display:none">
                        <label class="col-sm-3 control-label text-danger">提示：</label>
                        <div class="col-sm-5 text-danger msg" style="padding-top:7px;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger cancel">取消</button> -->
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div>
    </div>
</div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
<script src="/Application/Admin/View/Public/common.js"></script>
<script>
    "use strict";
    $(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });
    $(function () {
        var bsSuggest = $("#fmedianame").bsSuggest({
            url: "/index.php?m=Api&c=Media&a=get_media_list&fmediaclassid=03&media_name=",				//URL请求地址
            getDataMethod: "url",		//URL方式请求
            idField: "fid",           //每组数据的哪个字段作为 data-id，优先级高于 indexId 设置（推荐）
            keyField: "fmedianame",        //每组数据的哪个字段作为输入框内容，优先级高于 indexKey 设置（推荐）
            allowNoKeyword: true,     //是否允许无关键字时请求数据
            showBtn: false,           //是否显示下拉按钮
            effectiveFields: ['fmedianame'],            //有效显示于列表中的字段，非有效字段都会过滤，默认全部，对自定义getData方法无效
            // effectiveFieldsAlias: { fname: "设备名称", fcode: "设备编号" },//有效字段的别名对象，用于 header 的显示
            showHeader: false, //显示 header
        })
        $("#fmedianame")
            .on('onDataRequestSuccess', function (event, result) {
                //当 AJAX 请求数据成功时触发，并传回结果到第二个参数
                $('.dropdown-menu .table-condensed').find('thead').remove();
            })
            .on('onSetSelectValue', function (e, keyword) {
                //当从下拉菜单选取值时触发，并传回设置的数据到第二个参数
                // console.log('onSetSelectValue: ', keyword);
                $('#fmediaId').val(keyword.id);
            })
            .on('onUnsetSelectValue', function (e) {
                //当设置了 idField，且自由输入内容时触发（与背景警告色显示同步）
                // console.log('onUnsetSelectValue');
            });
    })
    $(function () {
        $('.mediaName').click(function () {
            var id = $(this).attr('id');
            $.post('{:U("Gongshang/Paperissue/ajax_paperissue_details")}', { 'fpaperissueid': id }, function (req) {
                if (req.code == 0) {
                    $('#infoModal').find('.modal-title').text(req.paperissueDetails.fadname);
                    $('#fname').text(req.paperissueDetails.fadname);
                    $('#fversion').text(req.paperissueDetails.fversion);
                    $('#fmediaid').text(req.paperissueDetails.fmedianame);
                    $('#fissuedate').text(req.paperissueDetails.fissuedate);
                    $('#fpage').text(req.paperissueDetails.fpage);
                    $('#fillegaltype').text(req.paperissueDetails.fillegaltype);
                    $('#fpagetype').text(req.paperissueDetails.fpagetype);
                    $('#fissuetype').text(req.paperissueDetails.fissuetype);
                    $('#fpage').text(req.paperissueDetails.fpage);
                    $('#fquantity').text(req.paperissueDetails.fquantity);
                    $('#famounts').text(req.paperissueDetails.famounts);
                    $('#fpagetype').text(req.paperissueDetails.fpagetype);
                    $('#fsize').text(req.paperissueDetails.fsize);
                    $('#fcreator').text(req.paperissueDetails.fcreator);

                    $('#fillegaltype').text(req.paperissueDetails.fillegaltype ? req.paperissueDetails.fillegaltype : '无');
                    $('#fillegalcontent').text(req.paperissueDetails.fillegalcontent ? req.paperissueDetails.fillegalcontent : '无');
                    $('#fexpressioncodes').text(req.paperissueDetails.fexpressioncodes ? req.paperissueDetails.fexpressioncodes : '无');
                    $('#fexpressions').text(req.paperissueDetails.fexpressions ? req.paperissueDetails.fexpressions : '无');
                    $('#fmanuno').text(req.paperissueDetails.fmanuno ? req.paperissueDetails.fmanuno : '无');
                    $('#fadmanuno').text(req.paperissueDetails.fadmanuno ? req.paperissueDetails.fadmanuno : '无');
                    $('#fapprno').text(req.paperissueDetails.fapprno ? req.paperissueDetails.fapprno : '无');
                    $('#fadapprno').text(req.paperissueDetails.fadapprno ? req.paperissueDetails.fadapprno : '无');
                    $('#fadent').text(req.paperissueDetails.fadent ? req.paperissueDetails.fadent : '无');
                    $('#fent').text(req.paperissueDetails.fent ? req.paperissueDetails.fent : '无');
                    $('#fentzone').text(req.paperissueDetails.fentzone ? req.paperissueDetails.fentzone : '无');
                    $('#fadowner').text(req.paperissueDetails.adowner ? req.paperissueDetails.adowner : '无');
                }
            })
            $('a[href="#home"]').click()
            $('#infoModal').modal('show');
        })
        var viewer = new Viewer(document.getElementById('Image'), {
            title: false,
            navbar: false
        });
        $('.viewPaper').click(function (event) {
            var src = $(this).attr('src');
            $('.image').attr('src', src);
            $('.image').click();
            event.stopPropagation();
        })
        $('#Submit').click(function () {
            $('#Form').submit();
        })
    })
    closeModal('#close,.close', '#infoModal,#videoModal');
    $(function () {
        laydate.skin('molv');
        var Sstart = {
            elem: '#Sstart',
            format: 'YYYY-MM-DD',
            min: '1970-01-01 00:00:00', //设定最小日期为当前日期
            max: '{:I('fcreatetime_e')}', //最大日期
            istime: false,
            istoday: false,
            choose: function (datas) {
                Send.min = datas; //开始日选好后，重置结束日的最小日期
                Send.start = datas //将结束日的初始值设定为开始日
            }
        };
        var Send = {
            elem: '#Send',
            format: 'YYYY-MM-DD',
            min: '{:I('fcreatetime_s')}',
            max: '2099-06-16 23:59:59',
            istime: false,
            istoday: false,
            choose: function (datas) {
                Sstart.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(Sstart);
        laydate(Send);
    })
</script>