<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>剪辑报纸</title>

	<!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

	<link rel="shortcut icon" href="favicon.ico">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
	<link rel="stylesheet" href="/Application/InputPc/View/PaperCut/cropper/cropper.min.css">
	<link rel="stylesheet" href="/Application/InputPc/View/PaperCut/css/paperCut.css">
</head>

<body class="gray-bg">
	<div class="" id="app" v-loading="loading">
		<div class="main">
			<div class="paperInfo">
				<div class="cutWrapper">
					<img id="image" :src="task.furl2" @error="loadError">
				</div>
			</div>
			<div class="adInfo">
				<div v-if="task.fstate == 6">
					<div class="h4">此版面因为剪辑错误被退回, 请删除剪辑错误的广告并重新剪辑提交</div>
					{{task.cut_err_reason}}
				</div>
				<hr>
				<div class="h4">素材信息</div>
				<hr>
				<div v-if="task.noad && task.noad == 1">此版面被上传者标记为有广告</div>
				<el-table :data="[task]">
					<el-table-column prop="media_name" label="发布媒介">
					</el-table-column>
					<el-table-column prop="issue_date" label="发布日期">
					</el-table-column>
					<el-table-column prop="fpage" label="发行版面">
					</el-table-column>
					<el-table-column prop="fpagetype" label="版面类别">
					</el-table-column>

				</el-table>
				<hr>
				<div class="h4">广告列表 <span style="font-size: 0.8em;color:red;"><i class="el-icon-info"></i> 如对缩略图显示有疑问，可点击缩略图查看原图，实际剪裁效果已原图为准</span></div>
				<div class="btnWrapper">
					<el-button type="warning" @click="cropperRotate">旋转</el-button>
					<el-button type="success" @click="openPreview">确认裁剪</el-button>
					<el-button type="primary" @click="submitSource">提交版面</el-button>
					<el-button type="danger" @click="pageError">版面错误</el-button>
					<el-button type="danger" @click="imageError">图片错误</el-button>
				</div>
				<hr>
				<el-table :data="adList">
					<el-table-column prop="adName" label="广告名称">
					</el-table-column>
					<el-table-column label="略缩图">
						<template slot-scope="scope">
							<a :href="scope.row.url" target="_blank">
								<img :src="scope.row.url" alt="" style="max-width: 250px;border: dotted 1px red">
							</a>
						</template>
					</el-table-column>
					<el-table-column width="80" label="操作">
						<template slot-scope="scope">
							<el-button type="danger" @click="delItem(scope)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
			</div>
		</div>
		<el-dialog title="确认裁剪结果" :visible.sync="showPreview" width="80%" :before-close="closePreview">
			<div style="display: flex;">
				<el-input placeholder="请输入广告名" v-model="adName"></el-input>
				<el-select v-model="fsize" clearable placeholder="请选择规格" style="width:fit-content">
					<el-option v-for="item in sizeOpts" :key="item.fcode" :label="item.fsize" :value="item.fcode">
					</el-option>
				</el-select>
				<el-select v-model="fissuetype" clearable placeholder="请选择发布类型" style="width:fit-content">
					<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
					</el-option>
				</el-select>
				<el-button type="success" @click="addAd">确认广告</el-button>
			</div>
			<hr>
			<div class="previewWrapper">
				<img :src="imgPreview" alt="">
			</div>
		</el-dialog>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
	<script src="/Application/InputPc/View/PaperCut/cropper/cropper.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
	<script src="/Application/InputPc/View/PaperCut/js/paperCut.js?f312sdaa=31111312"></script>
</body>

</html>