<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>众包任务管理</title>

	<!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

	<link rel="shortcut icon" href="favicon.ico">
	<link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskList.css"> -->
	<link rel="stylesheet" href="/Application/Admin/View/TaskInput/css/index.min.css">
	<link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskInfo.css">
	<link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/netAdTask.css">
	<link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
	<link rel="stylesheet" href="/Public/videojs/video-js.min.css">
	<style>
		.btnArea button {
			display: none;
		}
	</style>
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content" id="app" v-loading="loading" style="background: #fff;padding: 0 12px;">
		<div class="content-main">
			<div style="margin-bottom: 12px;">
				<el-radio-group v-model="isNetAd" @change="resetForm" style="padding-top: 12px;">
					<el-radio-button label="0">传统媒体广告</el-radio-button>
					<el-radio-button label="1">网络媒体广告</el-radio-button>
				</el-radio-group>
			</div>
			<div>
				<el-row style="width: 100%;" ref="search">
					<el-form  :model="where" ref="whereForm" @keyup.enter.native="search" label-width="90px">
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="广告名称" prop="adName">
								<el-input v-model="where.adName" clearable></el-input>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4" v-if="isNetAd === '0'">
							<el-form-item label="媒介类型" prop="media_class" >
								<el-select v-model="where.media_class" clearable style="width: 100%">
									<el-option v-for="item in mediaClassArr" :key="item.text" :label="item.text" :value="item.value">
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4" v-else>
							<el-form-item label="平台类型" prop="media_class">
								<el-select v-model="where.net_platform" clearable style="width: 100%">
									<el-option v-for="item in netPlatform" :key="item.text" :label="item.text" :value="item.value">
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="违法类型" prop="fillegaltypecode">
								<el-select v-model="where.fillegaltypecode" clearable style="width: 100%">
									<el-option v-for="item in illegalTypeArr" :key="item.text" :label="item.text" :value="item.value">
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="广告类别" prop="adClass">
								<el-cascader filterable :options="adClassArr" separator=">" v-model="searchTempWhere.searchAdClassArr1" change-on-select
									clearable style="width: 100%"></el-cascader>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="媒体名称" prop="mediaName">
								<el-input v-model="where.mediaName" clearable></el-input>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="UUID" prop="adName">
								<el-input v-model="where.sam_uuid" clearable></el-input>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="地区" prop="regionId">
								<el-col :span="16">
										<el-cascader v-model="searchTempWhere.region" :options="regionTree" change-on-select :filterable="true"
										clearable></el-cascader>
								</el-col>
								<el-col :span="4">
										<el-checkbox v-model="searchTempWhere.onlyThisLevel" style="padding-left: 6px;">只搜索本级</el-checkbox>
								</el-col>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="任务状态" prop="task_state">
								<el-select v-model="where.task_state" clearable style="width: 100%">
									<el-option v-for="item in taskStateArr" :key="item.text" :label="item.text" :value="item.value">
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="质检状态" prop="quality_state">
								<el-select v-model="where.quality_state" clearable style="width: 100%">
									<el-option v-for="item in qualityStateArr" :key="item.text" :label="item.text" :value="item.value">
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="录入人">
								<el-autocomplete v-model="where.wx_id" :fetch-suggestions="searchAlias" clearable></el-autocomplete>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="商业类别">
								<el-cascader filterable :options="adClassTree" v-model="searchTempWhere.searchAdClassArr2" change-on-select
									:filterable="true" clearable style="width: 100%"></el-cascader>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="媒体标签">
								<el-autocomplete v-model="where.mediaLabel" :fetch-suggestions="searchMediaLabel" clearable>
								</el-autocomplete>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item prop="timeRangeArr" label="发布日期">
								<el-date-picker v-model="where.timeRangeArr" type="daterange" range-separator="至" start-placeholder="开始发布日期"
									end-placeholder="结束发布日期" value-format="yyyy-MM-dd" format="yyyy-MM-dd" clearable style="width: 100%">
								</el-date-picker>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="创建时间">
								<el-date-picker v-model="where.timeRangeArrCreate" type="daterange" range-separator="至"
									start-placeholder="开始创建时间" end-placeholder="结束创建时间" value-format="yyyy-MM-dd" format="yyyy-MM-dd"
									clearable style="width: 100%">
								</el-date-picker>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="更新时间">
								<el-date-picker v-model="where.timeRangeArr2" type="daterange" range-separator="至"
									start-placeholder="开始更新时间" end-placeholder="结束更新时间" value-format="yyyy-MM-dd" format="yyyy-MM-dd"
									clearable style="width: 100%">
								</el-date-picker>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="分组">
								<el-select v-model="where.group_id" clearable style="width: 100%">
									<el-option v-for="item in groupArr"
									:key="item.group_id"
									:label="item.group_name"
									:value="item.group_id">
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="优先级">
								<div style="display: flex;">
										<el-input placeholder="优先级低级" v-model="lowPriority" type="number" clearable></el-input>
										<span style="padding: 0 6px;color:#ccc"> ~ </span>
										<el-input placeholder="优先级高级" v-model="highPriority" type="number" clearable></el-input>
								</div>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="版本说明">
								<el-input v-model="where.fversion" clearable></el-input>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-form-item label="任务ID" prop="taskid">
								<el-input v-model="where.taskid" clearable></el-input>
							</el-form-item>
						</el-col>
						<el-col  :md="8" :lg="6" :xl="4">
							<el-col :span="13" v-if="isNetAd == 1">
								<el-form-item label="样本ID">
									<el-input v-model="where.major_key" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="11">
								<el-form-item label-width="10px">
									<el-switch v-model="searchTempWhere.cutError" inactive-text="剪辑错误" style="color: #666;">
									</el-switch>
								</el-form-item>
							</el-col>
						</el-col>
						<el-col  :span="24">
							<div style="display: flex;justify-content: space-between;">
								<el-form-item label-width="16px">
									<el-dropdown  @command="groupCommand">
										<el-button type="primary">
												修改分组<i class="el-icon-arrow-down el-icon--right"></i>
										</el-button>
										<el-dropdown-menu slot="dropdown">
											<el-dropdown-item command="0">
												<div style="padding: 4px 12px;">
														勾选
													<span  v-if="selectNumber">
														<strong style="color: #F56C6C;"> {{ selectNumber }} </strong>条
													</span>
												</div>
											</el-dropdown-item>
											<el-dropdown-item command="1">
												<div style="padding: 4px 12px;">
														全部
													<span  v-if="total">
														<strong style="color: #F56C6C;"> {{ total }} </strong>条
													</span>
												</div>
											</el-dropdown-item>
										</el-dropdown-menu>
									</el-dropdown>
									<el-dropdown  @command="priorityCommand">
										<el-button type="primary" style="margin: 0 10px;">
												修改优先级<i class="el-icon-arrow-down el-icon--right"></i>
										</el-button>
										<el-dropdown-menu slot="dropdown">
											<el-dropdown-item command="0">
													<div style="padding: 4px 12px;">
															勾选
														<span  v-if="selectNumber">
															<strong style="color: #F56C6C;"> {{ selectNumber }} </strong> 条
														</span>
													</div>
												</el-dropdown-item>
												<el-dropdown-item command="1">
													<div style="padding: 4px 12px;">
															全部
														<span  v-if="total">
															<strong style="color: #F56C6C;"> {{ total }} </strong> 条
														</span>
													</div>
												</el-dropdown-item>
											</el-dropdown-menu>
										</el-dropdown>
									<!-- <el-button @click="changeGroup" type="primary">修改分组</el-button> -->
									<!-- <el-button @click="changePriority" type="primary" >修改优先级</el-button> -->
									<el-button @click="unlockTask" type="success">解锁任务</el-button>
									<el-button @click="deleteTask" type="danger">删除任务</el-button>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" @click="search" style="margin-left: 24px;">搜索</el-button>
									<el-button @click="resetForm('whereForm')" type="danger" plain>重置</el-button>
								</el-form-item>
							</div>
						</el-col>
					</el-form>
				</el-row>
				<el-table :data="tableData" border :row-class-name="tableRowClassName" @selection-change="selectRow"
					style="width: 100%" :height="tableHeight" align="left" v-if="!loading">
					<el-table-column type="selection" width="40"></el-table-column>
					<el-table-column type="index" width="50" fixed></el-table-column>
					<el-table-column label="临时广告名称" width="130" fixed v-if="isNetAd === '0'" show-overflow-tooltip>
						<template slot-scope="scope">
							<span v-html="scope.row.tem_ad_name"></span>
						</template>
					</el-table-column>
					<el-table-column label="广告名称" width="140" fixed show-overflow-tooltip>
						<template slot-scope="scope">
							<span v-html="scope.row.fadname"></span>
						</template>
					</el-table-column>
					<el-table-column width="80" label="任务ID" prop="taskid" show-overflow-tooltip>
					</el-table-column>
					<el-table-column width="80" label="样本ID" prop="major_key" v-if="isNetAd == '1'">
					</el-table-column>
					<el-table-column width="142" label="UUID" prop="uuid" show-overflow-tooltip>
					</el-table-column>
					<el-table-column width="140" label="广告类别" prop="ffullname" show-overflow-tooltip>
					</el-table-column>
					<el-table-column width="140" label="商业类别" prop="adClassV2" show-overflow-tooltip>
					</el-table-column>
					<el-table-column label="广告主" width="140" prop="adOwnerName" show-overflow-tooltip>
					</el-table-column>
					<el-table-column label="广告品牌" prop="fbrand" show-overflow-tooltip>
					</el-table-column>
					<el-table-column width="160" label="媒体名称" show-overflow-tooltip>
						<template slot-scope="scope">
							<span v-html="scope.row.fmedianame"></span>
						</template>
					</el-table-column>
					<el-table-column v-if="isNetAd == '0'" label="媒介类型" width="70">
						<template slot-scope="scope">
							{{scope.row.media_class | mediaClassFilter}}
						</template>
					</el-table-column>
					<el-table-column v-else label="网络平台">
						<template slot-scope="scope">
							{{scope.row.net_platform | netPlatformFilter}}
						</template>
					</el-table-column>
					<el-table-column prop="priority" label="优先级" width="60">
					</el-table-column>
					<el-table-column prop="group_id" label="分组" width="90" show-overflow-tooltip>
							<template slot-scope="scope">
								{{ groupFilter(scope.row.group_id)  }}
							</template>
					</el-table-column>
					<el-table-column label="违法类型">
						<template slot-scope="scope">
							{{scope.row.fillegaltypecode | illegalTypeFilter}}
						</template>
					</el-table-column>
					<el-table-column label="任务状态" width="70">
						<template slot-scope="scope">
							<span v-if="scope.row.cut_err_state == 0">
								{{scope.row.task_state | taskStateFilter}}
							</span>
							<span v-else>
								剪辑错误
							</span>
						</template>
					</el-table-column>
					<el-table-column label="质检状态" width="70">
						<template slot-scope="scope">
							{{scope.row.quality_state | qualityStateFilter}}
						</template>
					</el-table-column>
					<el-table-column :prop="isNetAd == 1 ? 'net_created_date' : 'issue_date'" width="100" label="发布日期" show-overflow-tooltip>
					</el-table-column>
					<el-table-column :prop="isNetAd == 1 ? 'createtime' : 'fcreatetime'" width="140" label="创建时间" show-overflow-tooltip>
					</el-table-column>
					<el-table-column :prop="isNetAd == 1 ? 'modifytime' : 'lasttime'" width="140" label="更新时间" show-overflow-tooltip>
					</el-table-column>
					<el-table-column prop="alias" label="录入人" show-overflow-tooltip>
					</el-table-column>
					<el-table-column fixed="right" label="操作" width="100">
						<template slot-scope="scope">
							<el-button type="text" size="small" @click="openTaskInfo(scope.row)">详情</el-button>
							<el-button type="text" size="small" @click="checkTaskFlow(scope.row)">日志</el-button>
						</template>
					</el-table-column>
				</el-table>
				<el-pagination @size-change="pageSizeChange" @current-change="pageChange" :current-page="page"
					:page-sizes="[20 ,50, 100, 200, 500 ,1000]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
					:total="total">
				</el-pagination>
			</div>
		</div>
		<el-dialog
			center
			title="修改任务分组"
			:visible.sync="taskGroupDialog"
			width="30%"
			style="height: 400px!important;"
			:before-close="handleClose">
			<div style="margin-bottom: 40px">
				<el-form label-width="90px">
					<el-form-item label="选择分组">
							<el-select v-model="taskGroup" clearable style="width: 100%">
								<el-option v-for="item in groupArr"
								:key="item.group_id"
								:label="item.group_name"
								:value="item.group_id">
								</el-option>
							</el-select>
						</el-form-item>
				</el-form>
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button @click="handleClose">取 消</el-button>
				<el-button type="primary" @click="submitGroup">确 定</el-button>
			</span>
		</el-dialog>
		<el-dialog title="任务详情" :visible="showTaskInfo" @close="closeTaskInfo" width="90%">
			<task-info :task="taskInfo" :from-manage="true" ref="task" @next="closeTaskInfo" @back="closeTaskInfo"
				v-if="taskInfo.media_class != 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length === 0"></task-info>
			<task-info2 :task="taskInfo" :from-manage="true" :run-timer="false" ref="task" @next="closeTaskInfo" @back="closeTaskInfo"
				:task-tip="false" v-if="taskInfo.media_class != 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length !== 0" :show-button="true"></task-info2>
			<net-ad-task :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo"
				v-if="taskInfo.media_class == 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length === 0"></net-ad-task>
			<net-ad-task2 :task="taskInfo" :run-timer="false" ref="task" @next="closeTaskInfo" @back="closeTaskInfo"
			v-if="taskInfo.media_class == 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length !== 0" :show-button="true"></net-ad-task2>

		</el-dialog>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/layer/3.1.0/layer.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
	<script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
	<script src="/Public/js/wangEditor.min.js"></script>
	<script src="/Public/videojs/video.min.js"></script>
	<script>
		var illegalTypeArr = {$illegalTypeArr};
		var type = 'input';
		var role = 'admin'
		var adClassArr = {$adClassArr};
		var adClassTree = {$adClassTree};
		var regionTree = {$regionTree};
		var illegalArr = {$illegalArr};
	</script>
	<script src="/Application/TaskInput/View/TraditionAd/js/submitCutError.js?sf=23112"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/adInfo.js?fs=231d152"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/illegalInfo.js?fs=231d152"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/taskInfo.js?fs=231d512"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/taskInfo2.js?fs=231d51gsd2"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/netAdTask.js?fasdf=3132131432d"></script>
	<script src="/Application/TaskInput/View/TraditionAd/js/netAdTask2.js?fasdf=313231hdfg4615n32d"></script>
	<script src="/Application/Admin/View/TaskInput/js/taskList.js?ff=123334122s1"></script>

</body>

</html>