@charset"UTF-8";
/*外层包裹*/
.container-fixed{
    padding:10px 20px;
}
/*搜索项*/
.searchDiv{
    text-align: center;
}
/*处理选项框*/
#disposeBtns{
    position: fixed;
    bottom:0;
}
/*select*/
select{
    font-size:12px !important;
}
.dateSelect select,.areaSelect select{
    display: inline-block;
    width:100px;
    cursor:pointer;
}
/*标题*/
h4{
    text-align: center;
}
h5{
    text-align: left;
    font-weight:bold;
}
/*线索处理操作按钮*/
.disposeDiv label{
    margin-right: 10px;
}
.disposeDiv button{
    margin-right: 10px;
}
button span{
    margin-right: 5px;
}
/*表格*/
table{
    font-size:12px;
}
table thead tr{
    background:rgba(231,234,236,0.5);
}
table thead tr th{
    text-align: center;
}
tbody tr td{
    text-align: center;
    vertical-align: middle;
}
tfoot tr td span{
    display: inline-block;
    margin-right:5px;
    margin-left:5px;
    color:#f95454;
    font-weight:bold;
}
td,th{
    vertical-align: middle !important;
}
td label{
    padding-left:5px;
    padding-right:5px;
}
/*图标*/
.input-group-addon span{
    cursor:pointer;
}
/*三角标*/
.msgTag{
    box-sizing: border-box;
    width:80px;
    height:80px;
    color:#000;
    line-height:40px;
    text-align: left;
    padding:2px;
    font-size: 12px;
    font-weight:bold;
    background: url(/Public/img/grey.png)no-repeat;
    position: absolute;
    top:0;
    left:0;
}
.zhengchang{
    background: url(/Public/img/green.png)no-repeat;
    color:#fff;
}
.buzhengchang{
    background: url(/Public/img/red.png)no-repeat;
    color:#fff;
}
/*表单*/
input{
    font-size:12px !important;
}
/*dropzone文件上传*/
#my-awesome-dropzone{
    width: 100%;
    display: inline-block;
}
.dz-message{
    /*background-image: url('/Application/Govuser/View/Public/img/spritemap.png');*/
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    width: 428px;
    height: 123px;
    margin-left: -214px;
    margin-top: -61.5px;
    top: 50%;
    left: 50%;

}
#my-awesome-dropzone{
    background-color: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.03);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 23px;
}
.dropzone .dz-preview .dz-error-message{
    top:56px;
}
.upload{
    margin-top: 10%;
    margin-left: 12%;
    display: inline-block;
    color: #ccc;
    font-size: 18px;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
}
/*详情模态框*/
div.modal-content{
    width:1100px;
    right:250px;
}
/*视频框外层td*/
td.videoTD{
    width:300px;
    margin:0 auto;
}
/*视频框*/
.videoDiv{
    position: relative;
    background: #ccc;
    width:300px;
    height:230px;
}
.videoDiv video{
    width:290px;
    height:220px;
}
.svideoDiv{
    box-sizing: border-box;
    position: relative;
    /*background: #ccc;*/
    background:linear-gradient(#ccc,#999);
    width:300px;
    height:230px;
    margin:5px;
    display:inline-block;
    border:1px solid #000;
}
.svideoDiv img{
    width:290px;
    height:220px;
}
/*日期*/
div.timeDiv{
    display: inline-block;
    width:245px;
    vertical-align: middle;
    margin-bottom:0;
}
/*标签页中的一个信息页*/
.bdivMsg{
    margin-top:10px;
    height:630px;
}
.divMsg{
    margin-top:10px;
    height:480px;
}
/*包裹标签页的外层td*/
.adTable{
    width:470px;
}
.sadTable{
    width:452px;
    height:500px;
}
.ssadTable{
    width:375px;
    height:480px;
}
.sbadTable{
    width:350px;
    height:550px;
}
.sbTable{
    width:400px;
    height:640px;
}
/*播放流水*/
.badWaterList{
    height:630px;
    overflow-y: scroll;
}
.sadWaterList{
    height:530px;
    overflow-y: scroll;
}
.adWaterList{
    height:480px;
    overflow-y: scroll;
}
.xsadWaterList{
    height:420px;
    overflow-y: scroll;
}
.broadcast{
    width:710px;
    height:300px;
    overflow-y: scroll;
}
/*随机抽检内容*/
div.contentDiv{
    height:780px;
    overflow-y: scroll;
}
div.scontentDiv{
    height:720px;
    overflow-y: scroll;
}
div.mcontentDiv{
    height:741px;
    overflow-y: scroll;
}

/*时间选择器的背景色 放这无效*/
.form-control{
    background-color: #fff !important;
}
.input-group-addon{
    background: #fff !important;
}