html{
  height: 100%;
  overflow: auto;
}
body{
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
#app{
  opacity: 0;
  .box{
    .el-card{
      height: 100%;
    }
    .el-form{
      overflow: hidden;
      .shut,.target{
        a{
          color: #337ab7;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }

  & /deep/ .el-tag{
    margin-right: 6px;
  }
  .tree-block{
    margin-top: 10px;
    max-height: 400px;
    overflow: auto;
    .tree-node-slot{
      width: 60em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .el-tree > .el-tree-node > .el-tree-node__content > .el-checkbox {
      display: none;
    }
  }
  .imgView{
    img{
      display: none;
    }
  }
  .el-autocomplete, .el-select, .el-cascader{
    display: block;
  }
  .video-wrap{
    height: 100%;
    #video{
      width: 100%;
      max-height: calc(100% - 40px);
      margin-top: 10px;
      outline: none;
    }
  }
  .iframe-wrapper{
    width:100%;
    height: 100%;
    box-sizing: border-box;
    #iframe{
      height: calc(100% - 40px);
      width: 100%;
      overflow: auto;
    }
  }
  .check-wrap{
    position: relative;
    height: 100%;
    overflow: hidden;
    .form-wrap{
      height: 100%;
      overflow: auto;
      padding-bottom: 48px;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      & /deep/ .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
        margin-bottom: 2px;
      }
      .page-link{
        color:#409EFF;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .illCode{
        font-size: 13px;
        max-height: 150px;
        min-height: 60px;
        overflow: auto;
        border: 1px solid #eee;
        h1,h2,h3,h4,h5,p{
          font-size: 13px;
          font-weight: 400;
          margin: 0;
          padding: 0;
        }
        img{
          width: 100% !important;
        }
      }
    }
    .subbutton{
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 0 0 0;
      background-color: #fff;
      text-align: center;
      border-top: 1px solid #eee;
      .btnleft{
        margin-left: 10px;
      }
      .btnright{
        margin-right: 10px;
      }
    }
  }
}