html {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

#app {
  opacity: 0;
}

#app .box .el-card {
  height: 100%;
}

#app .box .el-form {
  overflow: hidden;
}

#app .box .el-form .shut a, #app .box .el-form .target a {
  color: #337ab7;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

#app /deep/ .el-tag {
  margin-right: 6px;
}

#app .tree-block {
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
}

#app .tree-block .tree-node-slot {
  width: 60em;
  text-overflow: ellipsis;
  overflow: hidden;
}

#app .tree-block .el-tree > .el-tree-node > .el-tree-node__content > .el-checkbox {
  display: none;
}

#app .imgView img {
  display: none;
}

#app .el-autocomplete, #app .el-select, #app .el-cascader {
  display: block;
}

#app .video-wrap {
  height: 100%;
}

#app .video-wrap #video {
  width: 100%;
  max-height: calc(100% - 40px);
  margin-top: 10px;
  outline: none;
}

#app .iframe-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#app .iframe-wrapper #iframe {
  height: calc(100% - 40px);
  width: 100%;
  overflow: auto;
}

#app .check-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#app .check-wrap .form-wrap {
  height: 100%;
  overflow: auto;
  padding-bottom: 48px;
  box-sizing: border-box;
}

#app .check-wrap .form-wrap::-webkit-scrollbar {
  width: 0 !important;
}

#app .check-wrap .form-wrap /deep/ .el-form-item--mini.el-form-item, #app .check-wrap .form-wrap .el-form-item--small.el-form-item {
  margin-bottom: 2px;
}

#app .check-wrap .form-wrap .page-link {
  color: #409EFF;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app .check-wrap .form-wrap .illCode {
  font-size: 13px;
  max-height: 150px;
  min-height: 60px;
  overflow: auto;
  border: 1px solid #eee;
}

#app .check-wrap .form-wrap .illCode h1, #app .check-wrap .form-wrap .illCode h2, #app .check-wrap .form-wrap .illCode h3, #app .check-wrap .form-wrap .illCode h4, #app .check-wrap .form-wrap .illCode h5, #app .check-wrap .form-wrap .illCode p {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#app .check-wrap .form-wrap .illCode img {
  width: 100% !important;
}

#app .check-wrap .subbutton {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 0 0;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #eee;
}

#app .check-wrap .subbutton .btnleft {
  margin-left: 10px;
}

#app .check-wrap .subbutton .btnright {
  margin-right: 10px;
}
