html{
  height: 100%;
  overflow: auto;
}
body{
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
p{
  margin: 0;
  padding: 0;
}
#app{
  opacity: 0;
  & /deep/ .el-dialog__body{
    padding: 0px 10px 15px 10px;
  }
  .imgView{
    width:100%;
    height:160px;
    display:flex;
    justify-content: center;
    img{
      display: none;
    }
  }
  #detailInfo{
    & /deep/ .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
      margin-bottom: 0px;
    }
    .page-link{
      color:#409EFF;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .illCode{
      height: 160px;
      overflow: auto;
      border: 1px solid #eee;
      h1,h2,h3,h4,h5,p{
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 12px;
      }
      img{
        width: 100% !important;
      }
    }
  }
  #video {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    outline: none;
  }
}