html {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

p {
  margin: 0;
  padding: 0;
}

#app {
  opacity: 0;
}

#app /deep/ .el-dialog__body {
  padding: 0px 10px 15px 10px;
}

#app .imgView {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
}

#app .imgView img {
  display: none;
}

#app #detailInfo /deep/ .el-form-item--mini.el-form-item, #app #detailInfo .el-form-item--small.el-form-item {
  margin-bottom: 0px;
}

#app #detailInfo .illCode {
  height: 160px;
  overflow: auto;
  border: 1px solid #eee;
}

#app #detailInfo .illCode h1, #app #detailInfo .illCode h2, #app #detailInfo .illCode h3, #app #detailInfo .illCode h4, #app #detailInfo .illCode h5, #app #detailInfo .illCode p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
}

#app #detailInfo .illCode img {
  width: 100% !important;
}

#app #detailInfo .page-link {
  color: #409EFF;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app #video {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  outline: none;
}
