html {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

#app {
  opacity: 0;
}

#app/deep/ .el-table .cell, #app .el-table th div, #app .el-table--border td:first-child .cell, #app .el-table--border th:first-child .cell {
  padding-left: 2px;
}

#app/deep/ .el-table .cell, #app .el-table th div {
  padding-right: 2px;
}
