html{
  height: 100%;
  overflow: auto;
}
body{
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
#app{
  opacity: 0;
  &/deep/ .el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
    padding-left: 2px;
  }
  &/deep/ .el-table .cell, .el-table th div{
    padding-right: 2px;
  }
}