<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/Lvyou/css/details.min.css">
</head>
<body>
  <div id="app">
    <!-- <common-header title="旅游数据核查"></common-header> -->
    <div id="iframe">
      <iframe :src="form.download_url" frameborder="0"></iframe>
    </div>
    <div id="wrap">
      <div class="title">
          <span class="border">{{form.platform}}</span>
          <span class="text-red">（请务必填写准确信息）</span>
          <el-tag class="pull-right" size="small">{{form.download_time}}</el-tag>
      </div>
      <div class="content">
        <el-form :model="form" ref="form" label-width="110px" status-icon>
          <el-row :gutter="4">
            <el-form-item label="ID/源ID：">
              {{form.__id}} / {{form.shen_source_id}}
            </el-form-item>
            <el-form-item label="爬取链接：">
              <a :href="form.download_url" target="_blank">{{form.download_url}}</a>
            </el-form-item>
            <el-form-item label="产品名称：" prop="proname">
              <el-input v-model="form.proname" type="textarea" :rows="2"></el-input>
            </el-form-item>
            <el-col :span="12">
              <el-form-item label="评分：" prop="score">
                <el-input type="number" v-model="form.score">
                  <el-button type="primary" slot="append">分</el-button>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="差评数量：" prop="bad_comment_count">
                <el-input type="number" v-model="form.bad_comment_count">
                  <el-button type="primary" slot="append">个</el-button>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="出行人数：" prop="travelcount">
                <el-input type="number" v-model="form.travelcount">
                  <el-button type="primary" slot="append">人</el-button>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="出发省份：" prop="depart_province">
                <el-select v-model="form.depart_province">
                  <el-option v-for="(item,index) in regionList" :key="index" :label="item" :value="item"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="出发地：" prop="departurecityname">
                  <el-input v-model="form.departurecityname" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="目的地：" prop="destination">
                <el-autocomplete
                  v-model="form.destination"
                  :fetch-suggestions="querySearch"
                  clearable></el-autocomplete>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="行程天数：" prop="days">
                <el-input type="number" v-model="form.days">
                  <el-button type="primary" slot="append">天</el-button>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="交通方式：" prop="days">
                <el-select v-model="form.traffic_type">
                  <el-option label="汽车" value="汽车"></el-option>
                  <el-option label="火车" value="火车"></el-option>
                  <el-option label="动车" value="动车"></el-option>
                  <el-option label="高铁" value="高铁"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="旅行社名称：" prop="vendor_name">
                <el-input v-model="form.vendor_name" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="旅行社品牌：" prop="vendor_brand">
                <el-input v-model="form.vendor_brand" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="出游类型：" prop="type">
                <el-select v-model="form.type">
                  <el-option v-for="(item,index) in tripTypes" :key="index" :label="item" :value="item"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="最低价(元)：" prop="min_price">
                <el-input type="number" v-model="form.min_price" width="110">
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="最高价(元)：" prop="max_price">
                <el-input type="number" v-model="form.max_price">
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="行程说明：" prop="trip_remark">
                <el-input v-model="form.trip_remark" type="textarea" rows="2"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="自费项目数量：" prop="self_pay_num">
                <el-input type="number" v-model="form.self_pay_num">
                  <el-button type="primary" slot="append">个</el-button>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="购物行程数量：" prop="shoping_num">
                <el-input type="number" v-model="form.shoping_num">
                  <el-button type="primary" slot="append">个</el-button>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="上传：" prop="shoping_num">
                <el-upload
                  class="pull-left"
                  auto-upload
                  :multiple="false"
                  :action="fileUp.up_server"
                  :data="fileUp.val"
                  :before-upload="setKey"
                  :on-success="uploadSuccess"
                  :on-progress="uploadProgress"
                  :show-file-list="false"
                  :on-error="uploadError">
                <el-button type="primary" :loading="uploading">点击上传</el-button>
                </el-upload>
				        <el-input type="primary" value="粘贴图" title="可从剪切板粘贴" id="up_snapshot_img_paste" style="width:70px;margin-left: 8px;float:left;" ></el-input>
                <a :href="form.snapshot_img" v-if="form.snapshot_img" target="_blank" title="点击新标签页查看图片" style="margin-left: 8px;">
                  <el-popover
                    width="400"
                    trigger="hover">
                    <img :src="form.snapshot_img" width="100%" alt="加载失败">
                    <img slot="reference" :src="form.snapshot_img" width="30px" height="30px" alt="加载失败">
                  </el-popover>
                </a>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item>
                <el-button type="primary" size="small" @click="submit">提 交</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </div>
  </div>
  <script>
    const regionList = {:json_encode($regionList)};
    const tripTypes = {:json_encode($trip_types)};
    const fileUp = {:json_encode($file_up)};
    const destinationList = {:json_encode($destinationList)};
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <!-- <script src="/Application/TaskInput/View/Lvyou/js/commonHeader.js"></script> -->
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="/Application/TaskInput/View/Lvyou/js/details.js"></script>
</body>
</html>