<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/Lvyou/css/index.min.css">
</head>
<body>
  <div id="app" @keyup.enter="getList(1)">
    <!-- <common-header title="旅游数据核查"></common-header> -->
    <div class="content">
      <el-form :model="form" ref="form" inline>
        <el-form-item label="产品名称：">
          <el-input v-model="form.proname" clearable ></el-input>
        </el-form-item>
        <el-form-item label="旅游平台：">
          <!-- <el-input v-model="form.platform" clearable></el-input> -->
          <el-select v-model="form.platform" clearable>
            <el-option v-for="item in platformList"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="出发地：">
          <el-input v-model="form.depart_province" clearable></el-input>
        </el-form-item>
        <el-form-item label="目的地：">
          <el-input v-model="form.destination" clearable></el-input>
        </el-form-item>
        <el-form-item label="行程天数：">
          <el-input type="number" v-model="form.days" clearable></el-input>
        </el-form-item>
        <el-form-item label="是否涉嫌低价：">
          <el-select v-model="form.is_low_price" clearable>
            <el-option v-for="(value,key) in isLowPrice"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="是否经人工检验：">
          <el-select v-model="form.visual_checked" clearable>
            <el-option v-for="(value,key) in visualChecked"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
		
		<el-form-item label="第N周：">
          <el-input type="number" v-model="form.week" clearable></el-input>
        </el-form-item>
		
        <el-form-item>
          <el-button type="primary" @click="getList(1)" icon="el-icon-search">搜 索</el-button>
          <el-button type="danger" @click="resetForm" icon="el-icon-refresh">重 置</el-button>
        </el-form-item>
      </el-form>
	  
      <el-table :data="tableData" border stripe v-loading="loading">
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column label="产品名称" prop="proname" show-overflow-tooltip  width="">
          <template slot-scope="scope">
            <el-tag type="warning" v-if="scope.row.visual_checked == 0">未检查</el-tag>
            <el-tag type="primary" v-if="scope.row.visual_checked == 1">已检查</el-tag>
            {{scope.row.proname}}
          </template>
        </el-table-column>
        <el-table-column label="涉嫌低价" width="120">
          <template slot-scope="scope">
            <el-tag type="primary" v-if="scope.row.is_low_price == 0">不涉嫌</el-tag>
            <el-tag type="warning" v-if="scope.row.is_low_price == 1">涉嫌低价</el-tag>
            <el-tag type="danger" v-if="scope.row.is_low_price == 2">涉嫌不合理低价</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="旅游平台" prop="platform" width="160"></el-table-column>
        <el-table-column label="出发地" prop="depart_province" width="160"></el-table-column>
        <el-table-column label="目的地" prop="destination" width="240"></el-table-column>
        <el-table-column label="行程天数" prop="days" width="80"></el-table-column>
        <el-table-column label="最低价" prop="min_price" width="80"></el-table-column>
        <el-table-column label="最高价" prop="max_price" width="80"></el-table-column>
		
        <el-table-column label="操作" width="80">
          <template slot-scope="scope">
            <el-button type="text" :href="'/TaskInput/Lvyou/details?fid=' + scope.row.fid" class="J_menuItem2" :title2="(scope.row.proname || '无名称').substr(0,10) + '...'">数据补全</el-button>
          
		  </template>
		  
        </el-table-column>
		
      </el-table>
      <el-pagination background layout="prev, pager, next, total" :total="Number(allcount)" :page-size="20" :current-page="Number(form.pageIndex)" @current-change="getList">
      </el-pagination>
    </div>
  </div>
  <script>
    const platformList = {:json_encode($platformList)} || [];
  </script>
  <!-- <script src="/Application/TaskInput/View/Lvyou/js/commonHeader.js"></script> -->
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="/Application/TaskInput/View/Lvyou/js/index.js"></script>
</body>
</html>