html {
  height: 100%;
  overflow: auto;
}

html body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

html body #app {
  opacity: 0;
  padding: 10px;
}

html body #app .radioTab {
  margin-bottom: 10px;
}

html body #app .radioTab .el-radio-group {
  margin-right: 40px;
}

html body #app a:hover {
  color: #1AB394;
  cursor: pointer;
  opacity: 0.8;
}

html body #app .el-pagination {
  margin-top: 10px;
}

html body #app .el-card:nth-child(1) {
  margin-bottom: 10px;
}

html body #app video, html body #app audio, html body #app img {
  width: 100%;
}

html body #app .el-col {
  height: 46px;
  overflow: hidden;
}

html body #app .table {
  border: 1px solid #EBEEF5;
  border-collapse: collapse;
}

html body #app .table .sprid {
  background-color: #fafafa;
}

html body #app .table .before {
  opacity: 0.7;
}

html body #app .table th {
  height: 40px;
}

html body #app .table td {
  padding: 10px;
}

html body #app .table td, html body #app .table th {
  text-align: center;
  border: 1px solid #EBEEF5;
  font-size: 12px;
  color: #606266;
}

html body #app .text-danger {
  color: #f56c6c !important;
}

.el-date-editor, .el-select, .el-input, .el-cascader, .el-autocomplete {
  width: 100% !important;
}
