html{
  height: 100%;
  overflow: auto;
  body{
    margin: 0;
    height: 100%;
    overflow: auto;
    #app{
      opacity: 0;
      padding: 10px;
      .radioTab{
        margin-bottom: 10px;
        .el-radio-group{
          margin-right: 40px;
        }
      }
      a {
        &:hover{
          color: #1AB394;
          cursor: pointer;
          opacity: 0.8;
        }
      }
      .el-pagination{
        margin-top: 10px;
      }
      .el-card:nth-child(1){
        margin-bottom: 10px;
      }
      video,audio,img{
        width: 100%;
      }
      .el-col{
        height: 46px;
        overflow: hidden;
      }
      .table{
        border: 1px solid #EBEEF5;
        border-collapse: collapse;
        .sprid{
          background-color: #fafafa;
        }
        .before{
          opacity: 0.7;
        }
        th{
          height: 40px;
        }
        td{
          padding: 10px;
        }
        td, th{
          text-align: center;
          border: 1px solid #EBEEF5;
          font-size: 12px;
          color: #606266;
        }
      }
      .text-danger{
        color: rgb(245, 108, 108)!important;
      }
    }
  }
}
.el-date-editor,.el-select,.el-input,.el-cascader,.el-autocomplete{
  width: 100%!important;
}