@charset "utf-8";
#mediaclass-select {
    color: #666666;
    font: 12px/150% Arial, Verdana, "宋体";
}

em {
    font-style: normal;
}

ol,
ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

#store-prompt {
    clear: left;
    line-height: 25px
}

#store-prompt strong {
    font-size: 14px
}

#store-prompt a {
    color: #005EAA
}

#mediaclass-select {
    margin-bottom: 0;
    position: absolute;
	background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    z-index: 999999;
}

#mediaclass-select .tab {
    width: 100%;
    height: 25px;
    float: left;
    border-bottom: 1px solid #ccc;
    overflow: visible;
    *overflow: hidden;
    border-radius: 3px 3px 0px 0px;
}

#mediaclass-select .tab li {
    float: left;
    clear: none;
    height: 23px;
    padding: 1px 1px 0;
    border: 1px solid #ddd;
    border-bottom: 0;
    margin-right: 3px;
    background-color: #fff;
    line-height: 22px;
    text-decoration: none
}

#mediaclass-select .tab .curr {
    *position: relative;
    height: 25px;
    padding: 0;
    border: 2px 1olid #ccc;
    border-bottom: 0;
    border-radius: 3px;
}

#mediaclass-select .tab a {
    position: relative;
    float: left;
    height: 23px;
    padding: 0 10px 1px 10px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #999;
    outline: 0;
    *blr: expression(this.onFocus=this.blur())
}

#mediaclass-select .tab a:hover {
    background: 0;
    color: #666
}

#mediaclass-select .tab a i {
    position: absolute;
    right: 5px;
    top: 10px;
    *top: 9px;
    display: block;
    width: 7px;
    height: 5px;
    overflow: hidden;
    background: url(img/20130606B.png) no-repeat -76px -34px;
    opacity: .5;
    filter: alpha(opacity=50)
}

#mediaclass-select .tab .curr i,
#mediaclass-select .tab a:hover i {
    opacity: 1;
    filter: alpha(opacity=100)
}

#mediaclass-select .mediaclass-list {
    padding-top: 5px
}

#mediaclass-select .mediaclass-list li {
    float: left;
    /*width: 80px;*/
    padding: 2px 0 2px 15px;
    clear: none
}

#mediaclass-select .mediaclass-list li a {
    float: left;
    padding: 2px 4px;
    *padding: 0 4px;
    color: #18a689;
    transition: 0.4s;
}

#mediaclass-select .mediaclass-list li a:hover {
    color: #fff;
    background-color: #18a689;
}

#mediaclass-select .mediaclass-list li a:hover {
    cursor: pointer
}

#mediaclass-select .mediaclass-list .longer-area {
    width: 370px
}

#mediaclass-select .mediaclass-list .long-area {
    width: 170px
}