<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <title>报告任务</title>
</head>

<body style="background-color:#fff;padding:12px;">
  <div id="app">
    <el-tabs v-model="activeName" type="card">
      <el-tab-pane label="报告任务" name="1">
        <report-task v-if="activeName === '1'"></report-task>
      </el-tab-pane>
      <el-tab-pane label="上传报告" name="2">
        <send-task v-if="activeName === '2'"></send-task>
      </el-tab-pane>
    </el-tabs>
  </div>
  <script>
    var UPLOAD_OPTION = {:json_encode($file_up)};
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}Vue/vue.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="http://publichz.oss-cn-hangzhou.aliyuncs.com/momentJs/moment.js"></script>
  <script src="/Application/Admin/View/ReportTask/Tree.js"></script>
  <script src="/Application/Admin/View/ReportTask/components.js"></script>
  <script src="/Application/Admin/View/ReportTask/index.js"></script>
</body>

</html>