/* fonts */

div.jqcloud {
  font-family: "微软雅黑", "微软雅黑", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 370%; }
div.jqcloud span.w9 { font-size: 320%; }
div.jqcloud span.w8 { font-size: 300%; }
div.jqcloud span.w7 { font-size: 240%; }
div.jqcloud span.w6 { font-size: 210%; }
div.jqcloud span.w5 { font-size: 150%; }
div.jqcloud span.w4 { font-size: 210%; }
div.jqcloud span.w3 { font-size: 170%; }
div.jqcloud span.w2 { font-size: 190%; }
div.jqcloud span.w1 { font-size: 170%; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
 div.jqcloud span:hover { color: #E15049 !important; font-size: 35px; font-weight: bold;z-index: 999;} 
div.jqcloud span.w10 { color: #F37743; }
div.jqcloud span.w9 { color: #0cf; }
div.jqcloud span.w8 { color: #0cf; }
div.jqcloud span.w7 { color: #B287D5; }
div.jqcloud span.w6 { color: #CAB336; }
div.jqcloud span.w5 { color: #A0987D; }
div.jqcloud span.w4 { color: #90c5f0; }
div.jqcloud span.w3 { color: #3FB568; }
div.jqcloud span.w2 { color: #ABB4A9; }
div.jqcloud span.w1 { color: #6BD9D7; }

/* layout */

div.jqcloud {
  /* overflow: hidden; */
  position: relative;
}

div.jqcloud span { padding: 0; font-family: Microsoft Yahei;font-weight: bold;z-index: 1;position: relative}