.pagin{
    display:inline-block;
}
.pagin a,
.pagin span {
    display: inline-block;
    padding: 2px 10px;
    margin: 10px 1px 0px 1px;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagin a,
.pagin li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #18a689;
}

.pagin a.first,
.pages a.prev,
.pages a.next,
.pages a.end {
    margin: 0;
}

.pagin a:hover {
    border-color: #18a689;
}

.pagin span.current {
    background: #18a689;
    color: #FFF;
    border-color: #18a689;
    margin:0px 5px;
}