<template>
  <div id="app"
    v-loading="(!$store.state.menu[0]['menu_id'] && $route.name !== 'login' && $route.name !== 'error')"
    lock
    element-loading-background="#373d41"
    element-loading-text="系统加载中">
    <transition name="el-zoom-in-top">
      <router-view />
    </transition>
  </div>
</template>


<style>
#app {
  width: 100%;
  height: 100%;
}
</style>
