#app .main {
  display: flex;
  justify-content: space-around;
}
#app .main > div {
  background: #fff;
  width: 48%;
  border-radius: 5px;
  padding: 5px;
}
#app .main .paperInfo .title {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}
#app .main .paperInfo .cutWrapper {
  width: 100%;
  max-height: 100vh;
}
#app .main .paperInfo .cutWrapper img {
  max-width: 100%;
}
#app .main .btnWrapper {
  display: flex;
  justify-content: space-between;
}
#app .main .adInfo {
  padding: 10px;
}
#app .main .adInfo .timer {
  border: 1px solid #f4d5a6;
  display: flex;
  border-radius: 5px;
  padding: 5px;
}
#app .main .adInfo .timer .left {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: #E6A23C;
  padding-right: 5px;
}
#app .main .adInfo .timer .right {
  color: #000;
}
#app .main .adInfo .timer .right div:last-child {
  color: #E6A23C;
}
#app .main .adInfo th,
#app .main .adInfo td {
  text-align: center!important;
  border: 0!important;
}
#app .previewWrapper {
  width: 100%;
  min-height: 50vh;
}
#app .previewWrapper img {
  max-width: 100%;
}
.el-dialog {
  margin-top: 10px!important;
}
/*# sourceMappingURL=paperCut.css.map */