#app{
  .main{
    display: flex;
    justify-content: space-around;
    >div{
      background: #fff;
      width: 48%;
      border-radius: 5px;
      padding: 5px;
    }
    .paperInfo{
      .title{
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        align-items: center;
      }
      .cutWrapper{
        width: 100%;
        max-height: 100vh;
        img{
          max-width: 100%;
        }
      }
    }
    .btnWrapper{
      display: flex;
      justify-content: space-between;
    }
    .adInfo{
      .timer{
        border: 1px solid #f4d5a6;
        display: flex;
        border-radius: 5px;
        padding: 5px;
        .left{
          display: flex;
          align-items: center;
          font-size: 35px;
          color: #E6A23C;
          padding-right: 5px;
        }
        .right{
          color: #000;
          div:last-child{
            color: #E6A23C;
          }
        }
      }
      padding: 10px;
      th,td{
        text-align: center!important;
        border: 0!important;
      }
    }
  }
  .previewWrapper{
    width: 100%;
    min-height: 50vh;
    img{
      max-width: 100%;
    }
  }

}
.el-dialog{
  margin-top: 10px!important;
}