<div class="fixed-table-container">
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center" rowspan="2">序号</th>
                <th class="text-center" rowspan="2">发布媒体</th>
                <th class="text-center" rowspan="2">媒体地区</th>
                <th class="text-center" rowspan="2">广告名称</th>
                <th class="text-center" rowspan="2">广告类别</th>
                <th class="text-center" rowspan="2">发布时间</th>
                <th class="text-center" rowspan="2">发布类型</th>
                <th class="text-center" rowspan="2">违法类型</th>
                <th class="text-center" rowspan="2">发布时长（秒）</th>
                <th class="text-center" colspan="2">生产批准文号</th>
                <th class="text-center" colspan="2">广告批准文号</th>
                <th class="text-center" colspan="2">生产企业名称 <i class="fa fa-info-circle" title="（证件持有人）"></i></th>
                <th class="text-center" rowspan="2">生产企业所在地区 <i class="fa fa-info-circle" title="（证件持有人）"></i></th>
                <th class="text-center" rowspan="2">研判依据</th>
                <th class="text-center" rowspan="2">操作</th>
            </tr>
            <tr>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
                <th class="text-center">/</th>
                <th class="text-center">广告中标识</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="tvissueList" item="tvissue">
                <tr class="mediaTr">
                    <td class="text-center">{$tvissue.k}</td>
                    <td class="text-center">{$tvissue.fmedianame}</td>
                    <td class="text-center">{$tvissue.region_name}</td>
                    <td class="text-center adName">
                        {$tvissue.fadname}
                    </td>
                    <td class="text-center">{$tvissue.adclass_code}</td>
                    <td class="text-center">{$tvissue.fstarttime}</td>
                    <td class="text-center">{$tvissue.fissuetype}</td>
                    <td class="text-center">{$tvissue.fillegaltype}</td>
                    <td class="text-center">{$tvissue.flength}</td>
                    <td class="text-center">{$tvissue.fadmanuno}<eq name="tvissue.fadmanuno" value="">/</eq></td>
                    <td class="text-center">{$tvissue.fmanuno}<eq name="tvissue.fmanuno" value="">/</eq></td>
                    <td class="text-center">{$tvissue.fadapprno}<eq name="tvissue.fadapprno" value="">/</eq></td>
                    <td class="text-center">{$tvissue.fapprno}<eq name="tvissue.fapprno" value="">/</eq></td>
                    <td class="text-center">{$tvissue.fadent}<eq name="tvissue.fadent" value="">/</eq></td>
                    <td class="text-center">{$tvissue.fent}<eq name="tvissue.fent" value="">/</eq></td>
                    <td class="text-center">{$tvissue.fentzone}<eq name="tvissue.fentzone" value="">/</eq></td>
                    <td class="text-center">
                        <neq name="tvissue.fexpressioncodes" value="">
                            <div class="tooltip-demo">
                                <button type="button" class="btn btn-danger btn-xs" data-placement="left" data-toggle="tooltip" title="{$tvissue.fexpressions}">
                                {$tvissue.fexpressioncodes}</button>
                            </div>
                        </neq>
                        <eq name="tvissue.fexpressioncodes" value="">/</eq>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-xs btn-primary issVideo" issid="{$tvissue.ftvissueid}"><i class="fa fa-video-camera"></i> 播放</button>
                        <button type="button" class="btn btn-xs btn-primary mediaName" id="{$tvissue.ftvissueid}"><i class="fa fa-info"></i> 详情</button>
                    </td>
                </tr>
            </foreach>
            <empty name="tvissueList">
                <tr class="h5 text-center text-primary">
                    <td colspan="17">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
