<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>商业广告类别</title>

  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <style>
    .classInfo{
      background: #fff;
      padding: 15px;
    }
    body{
      background-color: #fff;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-row :gutter="10">
      <el-col :span="12">
        <el-card :body-style="{ padding: '20px 10px' }">
          <el-input placeholder="输入关键字进行过滤" v-model="filterText">
          </el-input>
          <el-tree :data="adClassBTree" :expand-on-click-node="false" :filter-node-method="filterNode"
            @current-change="clickClass" ref="adClassBTree">
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>{{ node.label }} (ID:{{data.id}})</span>
            </span>
          </el-tree>
        </el-card>
      </el-col>
      <el-col :span="12" v-loading="loading">
        <el-card :body-style="{ padding: '10px' }">
          <el-form label-width="120px" v-if="activeId">
            <el-form-item label="分类名称">
              {{classInfo.ffullname}}
            </el-form-item>
            <el-form-item label="分类代码">
              {{classInfo.fcode}}
            </el-form-item>
            <el-form-item label="关联广告类型">
              <el-cascader :options="adClassATree" v-model="adCateArr" :filterable="true"></el-cascader>
            </el-form-item>
            <el-form-item label="">
              <el-button type="primary" @click="saveClassA">保存关联</el-button>
            </el-form-item>
          </el-form>
          <div class="h3" v-else>
            请选择一个分类
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script>
    var adClassATree = {$adClassATree};
    var adClassBTree = {$adClassBTree};
  </script>
  <script src="/Application/Admin/View/AdclassB/js/index.js"></script>
</body>
</html>