html{
  height: 100%;
  overflow: auto;
  body{
    margin: 0;
    height: 100%;
    overflow: auto;
    #app{
      opacity: 0;
      padding: 10px;
      .el-card + .el-card{
        margin-top: 10px;
      }
      .el-table + .el-pagination{
        margin-top: 10px;
      }
    }
  }
}