html {
  height: 100%;
  overflow: auto;
}

html body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

html body #app {
  opacity: 0;
  padding: 10px;
}

html body #app .el-card + .el-card {
  margin-top: 10px;
}

html body #app .el-table + .el-pagination {
  margin-top: 10px;
}
