<template>
  <div class="crossregion-ranking"
    v-loading="loading">
    <el-form :inline="true"
      :model="formData"
      class="demo-form-inline">
      <el-form-item :label="region_name">
        <el-select v-model="formData.ad_class"
          placeholder="选择广告类别"
          collapse-tags
          multiple
          style="width: 220px">
          <el-option v-for="(value,key) in (selection.year >= 2018 ? Adata.ad_class : Adata.ad_class2)"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="formData.media_class"
          style="width: 150px"
          multiple
          collapse-tags
          placeholder="选择媒体">
          <el-option v-for="item in Mediatype"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="formData.region_level"
          style="width: 120px"
          placeholder="选择地域">
          <el-option v-for="(value,key) in Adata.region_level3"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="formData.search_type"
          style="width: 120px">
          <el-option v-for="(value,key) in Adata.search_type"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="排名"></el-form-item>
      <el-button type="primary"
        icon="el-icon-search"
        v-on:click="_getData"
        class="left-margin pull-right">搜索</el-button>
      <el-dropdown @command="_outputExcel"
        class="pull-right">
        <el-button type="primary">
          导出<i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="1">Excel</el-dropdown-item>
          <el-dropdown-item command="2"
            v-if="['371500','370300','100000'].includes(userInfo.regionid)">Word</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-form>
    <div v-if="show">
      <div class="charts">
        <line-chart :title="charttitle"
          :xdata="xdata"
          :ydata="ydata"
          ref="linechart"></line-chart>
        <c-table-view :table-data="tableData"
          :table-params="predata" />
      </div>
    </div>
    <no-data v-else />
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import outFile from '../../../common/outFile'
import lineChart from '../common/lineChart'
import noData from '../common/noData'
import cTableView from '../common/cTableView'
export default {
  props: {
    isjc: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  components: {
    outFile,
    noData,
    cTableView,
    lineChart
  },
  data() {
    return {
      durl: '',
      showdownload: false,
      show: true,
      charts: true,
      formData: {
        fztj: "",
        media_class: [],
        ad_class: '',
        region_level: '0',
        search_type: '0',
      },
      tableData: [],
      loading: false,
      predata: {},
      xdata: [],
      ydata: []
    }
  },
  computed: {
    ...mapState(['Adata', 'selection', 'Gtime', 'allmediatype',, 'userOptions', 'Customer']),
    userInfo(){
      return this.userOptions[this.Customer] || {}
    },
    // 地区名
    region_name() {
      return this.isjc ? '全国' : this.userInfo.regionname1
    },
    Mediatype() {
      return this.$store.state.mediaType5
    },
    mediaTitle(){
      let str = this.formData.media_class.map(i => {
        return this.allmediatype[i]
      }).join('、')
      return str || '全部'
    },
    charttitle() {
      let table_condition = this.selection.times_table !== 'tbn_ad_summary_day' ? this.Gtime[this.selection.times_table][this.selection.table_condition] : this.$func.handleDate('YYYY 年 M 月 D 日', this.selection.table_condition.split(','), '至')
      if (this.selection.times_table === 'tbn_ad_summary_year' || this.selection.times_table === 'tbn_ad_summary_half_year' || this.selection.times_table === 'tbn_ad_summary_day') {
        return `${table_condition}${this.region_name}${this.mediaTitle}媒体跨地域${this.Adata.region_level3[this.formData.region_level]}${this.Adata.search_type[this.formData.search_type]}排名`
      } else {
        return `${this.selection.year}年${table_condition}${this.region_name}${this.mediaTitle}媒体跨地域${this.Adata.region_level3[this.formData.region_level]}${this.Adata.search_type[this.formData.search_type]}排名`
      }
    }
  },
  created() {
    this._getData()
  },
  methods: {
    _outputExcel(type) {
      let data = { ...this.selection, ...this.formData, is_out_report: type }
      this.showdownload = true
      axios.post(this.$_ + '/Agp/GjzStatisticalData/zones_ad', qs.stringify(data))
        .then(res => {
          this.durl = res.data.data
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _getData() {
      this.loading = true
      this.show = false
      this.predata = { ...this.selection, ...this.formData }
      axios.post(this.$_ + '/Agp/GjzStatisticalData/zones_ad', qs.stringify(this.predata)).then(res => {
        if (res.data.code === 0) {
          this.loading = false
          if (res.data.data.length) this.show = true
          let xdata = []
          let ydata = []
          this.tableData = res.data.data.map(item => {
            if (this.predata.search_type === '0') {
              item.fregionname = item.fregionname.split(',')
              item.fregionids = item.fregionids.split(',')
            } else {
              item.fadnames = item.fadnames.split(',')
            }
            return item
          })
          res.data.data.forEach(item => {
            if (this.predata.search_type === '0') {
              xdata.push(item.fad_name)
              ydata.push(item.fregion_count)
            } else if (this.predata.search_type === '1') {
              xdata.push(item.fname1)
              ydata.push(item.fadcount)
            } else {
              xdata.push(item.fmedianame)
              ydata.push(item.fadcount)
            }
          })
          this.xdata = xdata.splice(0, 30)
          this.ydata = ydata.splice(0, 30)
        } else {
          this.$func._error(res.data)
        }
      }).catch(() => {
        this.$func._error()
        this.loading = false
      })
    },
  }
}
</script>

<style lang="scss" >
.charts {
  margin-top: 60px;
}
.warning img {
  margin-left: 10px;
}
</style>

