<template>
	<div class="mediaorg-rinkings"
	 v-loading="loading"
	 element-loading-background="#fff">
		<el-form :inline="true"
		 :model="formData"
		 class="demo-form-inline">
			<el-form-item :label="region_name">
				<el-select v-model="formData.region"
				 v-if="isjc"
				 style="width:120px"
				 placeholder="选择地域">
					<el-option v-for="(value,key) in Region"
					 :key="key"
					 :label="value"
					 :value="key">
					</el-option>
				</el-select>
				<span v-else>
					<el-select v-model="formData.region2"
					 v-if="isshow"
					 style="width:120px"
					 placeholder="选择地域"
					 @change="changeRegion">
						<el-option v-for="(value,key) in Region"
						 :key="key"
						 :label="value"
						 :value="key">
						</el-option>
					</el-select>
				</span>
			</el-form-item>
			<el-form-item label="广告">
				<el-select v-model="formData.media_class"
				 	style="width:150px"
				 	multiple
					collapse-tags
				 	placeholder="选择媒体">
					<el-option v-for="item in Mediatype"
					 :key="item.value"
					 :label="item.label"
					 :value="item.value">
					</el-option>
				</el-select>
			</el-form-item>
			<el-form-item>
				<el-select v-model="formData.ad_class"
				 placeholder="选择广告类别"
				 collapse-tags
				 multiple
				 style="width: 220px">
					<el-option v-for="(value,key) in (selection.year >= 2018 ? Adata.ad_class : Adata.ad_class2)"
					 :key="key"
					 :label="value"
					 :value="key">
					</el-option>
				</el-select>
			</el-form-item>
			<el-form-item>
				<el-select v-model="formData.onther_class"
				 style="width:120px"
				 placeholder="选择类别">
					<el-option v-for="(value,key) in ontherClass"
					 :key="key"
					 :label="value"
					 :value="key">
					</el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="排名"></el-form-item>
			<el-button type="primary"
			 icon="el-icon-search"
			 v-on:click="_getData"
			 class="left-margin pull-right">搜索</el-button>
			<el-dropdown @command="_outputExcel" class="pull-right">
				<el-button type="primary">
					导出<i class="el-icon-arrow-down el-icon--right"></i>
				</el-button>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item command="1">Excel</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>
		</el-form>
		<div v-if="show">
			<line-chart :title="charttitle"
			 :xdata="xdata"
			 :ydata="ydata"></line-chart>
			<table-view title="媒介机构所在地"
			 :tabledata="tableData"
			 :formdata="preData"
			 :page="true"
			 tag="4"></table-view>
		</div>
		<no-data v-else />
		<out-file v-if="showdownload"
		 :durl="durl"
		 @close="_cdownload">
		</out-file>
	</div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import outFile from '../../../common/outFile'
import { mapState } from 'vuex'
import tableView from '../common/tableView'
import lineChart from '../common/lineChart'
import noData from '../common/noData'
export default {
	props: {
		isjc: {
			type: Boolean,
			default: false,
			required: true
		}
	},
	components: {
		outFile,
		tableView,
		lineChart,
		noData
	},
	data() {
		return {
			durl: '',
			showdownload: false,
			show: true,
			isshow: true,
			charts: false,
			formData: {
				region: "",
				media_class: [],
				ad_class: [],
				onther_class: 'fad_times',
			},
			tableData: [],
			loading: false,
			showDialog: false,
			dataDetail: {},
			xdata: [],
			ydata: [],
			preData: {},
		}
	},
	computed: {
		...mapState(['Gtime', 'selection', 'Adata', 'levelchild', 'allmediatype', 'userOptions', 'Customer']),
		isgj(){
      return Number(this.Customer) === 100000 ? 1 : 0
    },
		userInfo(){
      return this.userOptions[this.Customer] || {}
    },
		// 地区名
		region_name() {
			return this.isjc ? '全国' : this.userInfo.regionname1
		},
		mediaTitle(){
      let str = this.formData.media_class.map(i => {
        return this.allmediatype[i]
      }).join('、')
      return str || '全部'
    },
		charttitle() {
			let title = this.regionObj[this.userInfo.flevel][this.isjc ? this.formData.region : this.formData.region2]
			let table_condition = this.selection.times_table !== 'tbn_ad_summary_day' ? this.Gtime[this.selection.times_table][this.selection.table_condition] : this.$func.handleDate('YYYY 年 M 月 D 日',this.selection.table_condition.split(','),'至')
			if (this.selection.times_table === 'tbn_ad_summary_year' || this.selection.times_table === 'tbn_ad_summary_half_year' || this.selection.times_table === 'tbn_ad_summary_day') {
				return `${table_condition}${this.region_name}${title}媒介机构${this.mediaTitle}媒体广告综合排名`
			}
			return `${this.selection.year}年${table_condition}${this.region_name}${title}媒介机构${this.mediaTitle}媒体广告综合排名`
		},
		Mediatype() {
			return this.$store.state.mediaType5
		},
		ontherClass(){
			// 年份大于等于2018或国家局平台总局用户或淄博平台显示条数
			// return (this.selection.year >= 2018 && ((this.isgj===1 && this.userInfo.flevel==='0')  || (Number(this.userInfo.system_num) === 370300))) ? this.Adata.onther_class : this.Adata.onther_class2
			// 修改之前判断
			let onther_class = {...this.Adata.onther_class}
      let onther_class2 = {...this.Adata.onther_class2}
      if(this.userInfo.huizong_iszhdf == 0){
        delete onther_class.comprehensive_score
        delete onther_class2.comprehensive_score
      }
			return ( (Number(this.userInfo.is_show_count) === 1) || ((Number(this.userInfo.tregionlevel) === Number(this.userInfo.fregulatorlevel)+10) && (Number(this.userInfo.is_show_count) === 2 )) ) ? onther_class : onther_class2
		},
		Region(){
			let cities = ['110000','120000','310000','500000']
			if(Number(this.selection.year) >= 2018){
				let result = this.regionObj[this.userInfo.flevel]
        if(cities.includes(this.userInfo.regionid)){
          delete result['4']
        }
        return result
			}
			let result = this.regionObj[this.userInfo.flevel]
			if(cities.includes(this.userInfo.regionid)){
				delete result['4']
			}
			return result
		},
		regionObj(){
			return this.levelchild[this.$route.name][this.isgj][this.userInfo.is_show_sj]
		}
	},
	mounted() {
		this.$nextTick(() => {
			if (!this.isjc && !this.isgj && this.userInfo.flevel === '5') {
				this.isshow = false
				this.$set(this.formData, 'region2', '5')
				this.changeRegion(this.formData.region2)
			} else {
				this.$set(this.formData, this.isjc ? 'region' : 'region2', Object.keys(this.regionObj[this.userInfo.flevel])[0])
        if(!this.isjc) this.changeRegion(this.formData.region2)
			}
			this._getData()
		})
	},
	methods: {
		_initdata() {
			let data = null
			if (this.isjc) {
				data = { ...this.selection, ...this.formData, system_num: this.Customer }
				delete data.region2
				delete data.is_have_self
			} else {
				data = { ...this.selection, ...this.formData, system_num: this.Customer }
				data.ad_pm_type = "2"
				delete data.region
				delete data.is_show_fsend
			}
			// 如果所有项都选择，则添加 -1 项（相当于全部）
      if(data.media_class.length === this.Mediatype.length){
        data.media_class.push('-1')
      }
			data.fztj = 'fmediaownerid'
			this.preData = data
			return data
		},
		_outputExcel(type) {
			this._getData()
			let data = this._initdata()
			if ((this.isgj === 1 && this.userInfo.flevel === '0' && (this.selection.year >= 2018)) ||  (((Number(this.userInfo.system_num) === 370300) || (Number(this.userInfo.system_num) === 340000)) && (this.selection.year >= 2018))) {
				data.is_have_count = 1
			}
			data.is_out_report = type
			this.showdownload = true
			axios.post(this.$_ + '/Agp/GjzStatisticalData/illegal_ad_monitor', qs.stringify(data))
				.then(res => {
					this.durl = res.data.data
				})
		},
		_cdownload() {
			this.showdownload = false
			this.durl = ''
		},
		_getData() {
			this.loading = true
			this.show = false
			let data = this._initdata()
			let url = this.selection.year < 2018 ? '/Agp/GjzStatisticalData/zsgl_data' : (this.isouttype ? '/Agp/StatisticalData/illegal_ad_monitor' : '/Agp/GjzStatisticalData/illegal_ad_monitor')
			axios.post(this.$_ + url, qs.stringify(data))
				.then(res => {
					if (res.data.data_pm instanceof Array && res.data.data_list.length === 1) {
						this.show = false
						this.loading = false
					}
					else if (res.data.data_pm instanceof Array && res.data.data_list.length > 1) {
						this.tableData = res.data.data_list
						this.xdata = res.data.data_pm.name
						this.ydata = res.data.data_pm.num
						this.loading = false
						this.show = true
						this.charts = false
					}
					else {
						this.tableData = res.data.data_list
						this.xdata = res.data.data_pm.name
						this.ydata = res.data.data_pm.num
						this.loading = false
						this.charts = true
						this.show = true
					}
				}).catch(() => {
					this.$func._error()
					this.loading = false
				})
		},
		changeRegion(val){
			if(val === '0' || val === '5'){
				this.$store.commit('showIncludeSub', false)
			}else{
				this.$store.commit('showIncludeSub', true)
			}
		}
	},
}
</script>

