<template>
  <div class="mediatype-ranking">
    <el-row>
      <el-col :span="24">
        <p class="pull-left">{{charttitle}}媒体类型及媒体排名</p>
      </el-col>
    </el-row>
    <el-table :data="tableData"
      style="width: 100%;text-align:center"
      v-loading="loading"
      header-align="center"
      border
      height="500">
      <el-table-column label="排名"
        width="80"
        fixed
        type="index">
      </el-table-column>
      <el-table-column label="媒体类型"
        width="200"
        fixed
        prop="media_name">
      </el-table-column>
      <el-table-column label="第一名"
        prop="num1">
      </el-table-column>
      <el-table-column label="第二名"
        prop="num2">
      </el-table-column>
      <el-table-column label="第三名"
        prop="num3">
      </el-table-column>
      <el-table-column label="第四名"
        prop="num4">
      </el-table-column>
      <el-table-column label="第五名"
        prop="num5">
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
export default {
  data() {
    return {
      tableData: [],
      loading: false,
    }
  },
  computed: {
    ...mapState(['Adata', 'selection', 'Gtime', 'Customer']),
    charttitle() {
      if (this.selection.times_table === 'tbn_ad_summary_year' || this.selection.times_table === 'tbn_ad_summary_half_year' || this.selection.times_table === 'tbn_ad_summary_day') {
        let table_condition = this.selection.times_table !== 'tbn_ad_summary_day' ? this.Gtime[this.selection.times_table][this.selection.table_condition] : this.$func.handleDate('YYYY 年 M 月 D 日', this.selection.table_condition.split(','), '至')
        return `${table_condition}`
      }
      return `${this.selection.year}年${this.selection.table_condition}`
    }
  },
  created() {
    this._getData()
  },
  methods: {
    _getData() {
      this.loading = true
      let data = { ...this.selection, system_num: this.Customer }
      axios.post(this.$_ + '/Agp/GjzStatisticalData/media_type_class_pm', qs.stringify(data)).then(res => {
        this.tableData = res.data
        this.loading = false
      }).catch(() => {
        this.$func._error()
        this.loading = false
      })
    },
  }
}
</script>

