<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/Admin/View/Gongyi/css/index.min.css">
</head>
<body>
  <div id="app" v-loading="loading">
    <el-card style="margin-bottom: 10px;">
      <div class="search">
        <el-form :model="form" ref="sform" inline>
          <el-form-item label="时间:">
            <el-date-picker
              style="width:100%"
              v-model="duringTime"
              type="daterange"
              start-placeholder="开始日期"
              range-separator="至"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              @change="timeChange">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="媒介类型:">
            <el-select v-model="form.mediaclass" placeholder="请选择" style="width: 100%" clearable>
              <el-option value="" label="全部"></el-option>
              <el-option
                v-for="(value,key) in mediaType"
                :key="key"
                :label="value.label"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="地区:">
            <el-select v-model="form.fregionid" placeholder="请选择" style="width: 100%" clearable>
              <el-option value="" label="全部"></el-option>
              <el-option
                v-for="item in regionList"
                :key="item.fid"
                :label="item.fname"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item style="text-align: right;">
            <el-button type="primary" @click="search" icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-card>
    <el-card>
      <div class="wrapper">
        <div class="wrapper-radio">
          <el-radio-group v-model="form.field_group" @change="search">
            <el-radio-button :label="key" v-for="(value,key) in fieldGroup" :key="key">{{value}}</el-radio-button>
          </el-radio-group>
          <el-radio-group v-model="chartType">
            <el-radio-button :label="key" v-for="(value,key) in type" :key="key">{{value}}</el-radio-button>
          </el-radio-group>
        </div>
        <div class="wrapper-content" v-loading="loading">
          <div class="echarts-box" style="height: 400px;width: 100%" ref="chart"></div>
          <div class="table-box">
            <el-table :data="tableData" border stripe :height="tableHeight" @sort-change="sortChange">
                <el-table-column type="index" width="50"></el-table-column>
              <el-table-column :label="fieldGroup[form.field_group]" prop="group_0"></el-table-column>
              <el-table-column label="条次" prop="tc"></el-table-column>
              <el-table-column label="条数" prop="ts"></el-table-column>
              <el-table-column label="时长" prop="_sc"></el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </el-card>
  </div>
  <script>
    const regionList = {:json_encode($regionList)};
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
  <script src="/Application/Admin/View/Gongyi/assets/js/echarts.min.js"></script>
  <script src="/Application/Admin/View/Gongyi/assets/js/macarons.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/dayjs/dayjs.min.js"></script>
  <script src="/Application/Admin/View/Gongyi/js/index.js"></script>
</body>
</html>