html{
  height: 100%;
  overflow: auto;
  background-color: #fff;
  body{
    margin: 0;
    height: 100%;
    overflow: auto;
    #app{
      opacity: 0;
      padding: 10px;
      .text-right{
        text-align: right;
      }
      .el-pagination{
        margin-top: 10px;
      }
      .days{
        padding: 4px 8px;
      }
      .red{
        color: brown;
      }
      .green{
        color: cadetblue;
      }
    }
  }
}