html {
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

html body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

html body #app {
  opacity: 0;
  padding: 10px;
}

html body #app .text-right {
  text-align: right;
}

html body #app .el-pagination {
  margin-top: 10px;
}

html body #app .days {
  padding: 4px 8px;
}

html body #app .red {
  color: brown;
}

html body #app .green {
  color: cadetblue;
}
