<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>版本管理</title>

  <link rel="shortcut icon" href="favicon.ico">
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link href="/Application/Admin/View/Version/css/index.min.css" rel="stylesheet">

</head>

<body>
  <div id="app" >
    <el-card class="search" :body-style="{ padding: '10px' }" shadow="never">
      <el-form :model="form" ref="sform" inline @keyup.enter.native="getList()">
        <el-form-item label="广告名称">
          <el-input v-model="form.fadname" clearable></el-input>
        </el-form-item>
        <el-form-item label="广告类别">
          <el-cascader v-model="fadclasscode" :options="adClassTree" clearable @change="handleAdclassChange"></el-cascader>
        </el-form-item>
        <el-form-item label="版本描述">
          <el-input v-model="form.fversion" clearable></el-input>
        </el-form-item>
        <el-form-item label="时长">
          <div class="length">
            <div>
              <input v-model="fadlens" type="number" min="0" :max="fadlene || Infinity" placeholder="时长开始（s）" @change="lengthChange('fadlens')" />
            </div>
            <div>
              <input v-model="fadlene" type="number" :min="fadlens" placeholder="时长结束（s）" @change="lengthChange('fadlene')" />
            </div>
          </div>
        </el-form-item>
        <el-form-item label="媒体类别">
          <el-select v-model="form.fmediaclass">
            <el-option v-for="item in mediaClass"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="UUID">
          <el-input v-model="form.fuuid" clearable></el-input>
        </el-form-item>
        <el-form-item label-width="0">
          <el-button type="primary" @click="getList()" icon="el-icon-search">搜 索</el-button>
          <el-button type="danger" @click="reset" plain>重 置</el-button>
          <el-button :type="canMerge ? 'primary' : 'warning'" plain @click="mergeVersion" :disabled="!canMerge">{{canMerge ? '合 并' : '至少选择两条记录'}}</el-button>
          <el-button @click="() => showImport = true" plain>导入版本库</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card :body-style="{ padding: '10px' }" shadow="never" v-loading="loading">
      <el-table
        :data="tableData"
        border
        ref="table"
        :height="tableHeight"
        @selection-change="handleSelectionChange"
        style="width: 100%">
        <el-table-column prop="date" width="50" type="selection">
        </el-table-column>
        <el-table-column prop="fadname" label="广告名称" show-overflow-tooltip>
            <template slot-scope="scope">
              <el-autocomplete
                v-model="scope.row.fadname"
                v-if="scope.row.isedit"
                :fetch-suggestions="querySearchAsync"
                placeholder="请输入内容"
                @select="obj => handleAdSelect(obj, scope.row)"
              ></el-autocomplete>
              <search @click="handleSearch('fadname',scope.row.fadname)" v-else>
                <i class="el-icon-document" style="font-size: 16px;vertical-align: text-bottom;font-weight: bold;color: #1989fa;cursor: pointer;" @click="showList(scope.row)" title="样本清单"></i>
                <a v-clipboard="scope.row.fadname" v-html="scope.row._fadname"></a>
              </search>
            </template>
          </el-table-column>
          <el-table-column prop="fadclass" label="广告类别" show-overflow-tooltip>
            <template slot-scope="scope">
                <el-cascader
                  v-model="scope.row.fadclasscode"
                  v-if="scope.row.isedit"
                  :options="adClassTree">
                </el-cascader>
              <search @click="handleSearch('fadclasscode',scope.row.fadclasscode)" v-else>
                {{scope.row.fadclass}}
              </search>
            </template>
          </el-table-column>
        <el-table-column prop="fversion" label="版本描述" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-input v-model="scope.row.fversion" v-if="scope.row.isedit"></el-input>
            <search @click="handleSearch('fversion',scope.row.fversion)" v-else>
              <a v-clipboard="scope.row.fversion" v-html="scope.row._fversion"></a>
            </search>
          </template>
        </el-table-column>
        <el-table-column prop="fadlen" :label="ispaper ? '素材' : '时长'" width="100">
          <template slot-scope="scope">
            <el-popover
              v-model="scope.row.showvideo"
              placement="left"
              width="500"
              trigger="click">
              <div>
                <el-image :src="scope.row.fsourcefilename" :preview-src-list="[scope.row.fsourcefilename]" v-if="ispaper && scope.row.fsourcefilename"></el-image>
                <video :src="scope.row.fsourcefilename" v-if="scope.row.showvideo && !ispaper && scope.row.fsourcefilename" width="100%" autoplay controls></video>
                <el-image v-if="!scope.row.fsourcefilename">
                    <div slot="error" class="image-slot">
                      <i class="el-icon-warning-outline"></i>
                    </div>
                  </el-image>
              </div>
              <a :class="ispaper ? 'el-icon-picture-outline' : 'el-icon-video-play'" slot="reference" style="font-size: 16px;vertical-align: text-bottom;font-weight: bold;"></a>
            </el-popover>
            {{scope.row.fadlen}}
          </template>
        </el-table-column>
        <el-table-column prop="UUID" label="fuuid" show-overflow-tooltip>
          <template slot-scope="scope">
            <search @click="handleSearch('fuuid',scope.row.fuuid)">
              <a v-clipboard="scope.row.fuuid" v-html="scope.row._fuuid"></a>
            </search>
          </template>
        </el-table-column>
        <el-table-column prop="fcreator" label="创建人" width="100" show-overflow-tooltip></el-table-column>
        <el-table-column prop="fcreatetime" label="创建时间" width="170"></el-table-column>
        <el-table-column label="操作" width="200">
          <template slot-scope="scope">
            <span>
              <el-button type="primary" @click="() => scope.row.isedit = true" v-if="!scope.row.isedit">编辑</el-button>
              <el-button type="primary" @click="save(scope.row)" v-if="scope.row.isedit">保存</el-button>
            </span>
            <el-button type="primary" plain @click="saveCancel(scope.row)" v-if="scope.row.isedit">取消</el-button>
            <el-popover
              placement="left"
              width="160"
              v-model="scope.row.visible">
              <p>确定删除该版本？</p>
              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="scope.row.visible = false">取消</el-button>
                <el-button type="primary" size="mini" @click="deleteVersion(scope.row)">确定</el-button>
              </div>
              <el-button type="danger" slot="reference" :disabled="scope.row.disabled">删除</el-button>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        background
        layout="total, sizes, prev, pager, next"
        @current-change="getList"
        @size-change="sizeChange"
        :current-page="page.pageIndex"
        :page-sizes="[15, 20, 50, 100, 200, 500]"
        :page-size="page.pageSize"
        :total="count">
      </el-pagination>
    </el-card>
    <el-dialog
      :title="activeRow.fversion"
      center
      append-to-body
      :visible.sync="showSampleList"
      width="1000px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="beforeClose">
      <el-row :gutter="8">
        <el-col :span="16">
          <div style="height:360px;">
            <el-image :src="activeSampleRow.fsourcefilename" :preview-src-list="[activeSampleRow.fsourcefilename]" v-if="showSampleList && activeSampleRow.fsourcefilename && ispaper"></el-image>
            <video :src="activeSampleRow.fsourcefilename" v-if="showSampleList && !ispaper && activeSampleRow.fsourcefilename" width="100%" autoplay controls style="height:100%"></video>
            <el-image v-if="!activeSampleRow.fsourcefilename">
              <div slot="error" class="image-slot">
                <i class="el-icon-warning-outline"></i>
              </div>
            </el-image>
          </div>
        </el-col>
        <el-col :span="8">
          <el-table :data="activeRow.samplelist" border stripe height="360" @row-click="handleRowClick">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column label="样本名称" show-overflow-tooltip>
              <template slot-scope="scope">
                <a style="cursor: pointer;" :class="activeSampleRow.fadid === scope.row.fadid ? 'activeSampleRow' : ''">
                  <i :class="ispaper ? 'el-icon-picture-outline' : 'el-icon-video-play'" style="font-size: 16px;vertical-align: text-bottom;font-weight: bold;"></i>
                  {{scope.row.fadname}}
                </a>
              </template>
            </el-table-column>
            <el-table-column label="操作" width="50">
                <template slot-scope="scope">
                  <el-button slot="reference" type="text" size="mini" @click.stop="unbindVersion(scope.row)"><i class="el-icon-delete" style="color: #F56C6C;font-weight: bold;"></i></el-button>
                </template>
              </el-table-column>
          </el-table>
        </el-col>
      </el-row>
    </el-dialog>
    <el-dialog
      title="合并版本"
      center
      append-to-body
      :visible.sync="showMerge"
      width="600px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="beforeClose">
      <el-select v-model="mainVersion">
        <el-option v-for="item in multipleSelection"
          :key="item.fid"
          :label="item.fadname"
          :value="item.fid">
        </el-option>
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="submitMerge" :disabled="!mainVersion">合 并</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="导入版本库"
      center
      append-to-body
      :visible.sync="showImport"
      width="600px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="beforeClose">
      <el-form :model="importForm" ref="importForm" :rules="importRules" label-width="80px">
        <el-form-item label="导入媒体" prop="fmediaid">
          <el-select
            v-model="importForm.fmediaid"
            filterable
            remote
            reserve-keyword
            placeholder="请输入媒体名称"
            :remote-method="searchMedia">
            <el-option
              v-for="item in mediaList"
              :key="item.fid"
              :label="item.value"
              :value="item.fid">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="起止时间" prop="fdate">
          <el-date-picker
            v-model="fdate"
            type="daterange"
            :picker-options="pickerOptions"
            range-separator="至"
            value-format="yyyy-MM-dd"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="仅违法" prop="fillegaltypecode">
            <el-checkbox v-model="fillegaltypecode" label="仅违法" border></el-checkbox>
            <el-tag type="danger" size="small" v-if="fillegaltypecode">仅导入违法样本至版本库</el-tag>
            <el-tag type="primary" size="small" v-else>导入所有样本至版本库</el-tag>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="importSample" :disabled="bdisabled">导 入</el-button>
      </span>
    </el-dialog>
  </div>
  <script>
  const adClass = {$getAdClassArr};
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}vue-clipboard/vue-clipboard.min.js"></script>
  <script src="/Application/Admin/View/Version/js/index.js?v=1.1"></script>
</body>

</html>