<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>样本发布记录校验</title>
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Public/vue/global.min.css">
</head>

<body>
  <div id="app">
    <el-card class="search" :body-style="{ padding: '10px' }" shadow="never">
      <el-form :model="form" ref="sform" inline @keyup.enter.native="getList()">
        <el-form-item label="媒体名称：">
          <el-input v-model="form.fmedianame" clearable ></el-input>
        </el-form-item>
        <el-form-item label="日期范围：">
          <el-date-picker
            v-model="fdate"
            @change="fdateChange"
            type="daterange"
            range-separator="至"
            value-format="yyyy-MM-dd"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :clearable="false">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="状态：">
          <el-select v-model="form.fstate">
            <el-option label="全部" value=""></el-option>
            <el-option v-for="(vakue,key) in fstate"
              :key="key"
              :label="vakue.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-checkbox v-model="onlyillegal" label="只看违法" @change="val => val ? form.onlyillegal = 1 : form.onlyillegal = 0"></el-checkbox>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="getList(1)" icon="el-icon-search">搜 索</el-button>
          <el-button type="danger" @click="reset" plain>重 置</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card class="search" :body-style="{ padding: '10px' }" shadow="never" v-loading="loading">
      <el-table :data="tableData" border stripe :height="tableHeight">
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column prop="fmedianame" label="媒体名称"></el-table-column>
        <el-table-column prop="fdate" label="日期"></el-table-column>
        <el-table-column prop="sam_count" label="样本数量"></el-table-column>
		<el-table-column prop="illegal_sam_count" label="违法样本数量"></el-table-column>
		
        <el-table-column prop="today_sam_count" label="当日样本量"></el-table-column>
        <el-table-column prop="issue_count" label="发布记录数量"></el-table-column>
        <el-table-column prop="" label="状态" width="120">
          <template slot-scope="scope">
            <el-tag :type="fstate[scope.row.fstate].type">{{fstate[scope.row.fstate].label}}</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="" label="操作" width="120">
          <template slot-scope="scope">
            <el-button type="primary" class="J_menuItem2" :href="'/TaskInput/SamCheck/sampleList?fid=' + scope.row.fid" :title2="scope.row.fmedianame">检 查</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        background
        layout="total, sizes, prev, pager, next"
        @current-change="getList"
        :current-page="page.p"
        :page-size="page.pp"
        @size-change="sizeChange"
        :page-sizes="[15, 20, 50, 100, 200, 500]"
        :total="count">
      </el-pagination>
    </el-card>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/dayjs/dayjs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}vue-clipboard/vue-clipboard.min.js"></script>
  <script src="/Application/TaskInput/View/SamCheck/js/index.js"></script>
</body>

</html>