<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>样本发布记录校验</title>
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Public/vue/global.min.css">
  <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
  <style>
  .active{
    color: #1AB394;
  }
  .today{
    color: #FF7F00	;
  }
  #app .medianame{
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
  }
   #app .samInfo{
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
  }
  
  
  
  </style>
</head>

<body>
  <div id="app">
    <el-row :gutter="10" v-loading="loading">
      <el-col :span="10">
          <el-card class="search" :body-style="{ padding: '10px' }" shadow="never">
            <aliplayer v-if="videoUrl" width="100%" height="360px" :url="videoUrl" autoplay></aliplayer>
            <div class="medianame">{{mediaDay.fmedianame}} {{mediaDay.fdate}}</div>
            <el-form ref="form" inline>
              <el-form-item label="样本数量：">
                {{mediaDay.sam_count}}
              </el-form-item>
              <el-form-item label="当日样本数量：">
                {{mediaDay.today_sam_count}}
              </el-form-item>
			  <el-form-item label="违法样本数量：">
                {{mediaDay.illegal_sam_count}}
              </el-form-item>
			  
			  
              <el-form-item label="发布记录数量：">
                {{mediaDay.issue_count}}
              </el-form-item>
              <el-form-item label-width="0">
                <el-button type="primary" plain @click="finish">完成检查</el-button>
              </el-form-item>
            </el-form>
          </el-card>
      </el-col>
      <el-col :span="14">
        <!-- <el-card class="search" :body-style="{ padding: '10px' }" shadow="never">
          <el-form :model="form" ref="sform" inline @keyup.enter.native="getList()">
            <el-form-item>
              <el-button type="primary" @click="getList(1)" icon="el-icon-search">搜 索</el-button>
              <el-button type="danger" @click="reset" plain>重 置</el-button>
            </el-form-item>
          </el-form>
        </el-card> -->
        <el-card class="search" :body-style="{ padding: '10px' }" shadow="never">
          <el-table :data="tableData" border stripe :height="tableHeight" >
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column prop="fadname" label="样本名称">
              <template slot-scope="scope">
                <span :title="scope.row.fadclass">{{scope.row.fadname}}</span>
              </template>
            </el-table-column>
			
			<el-table-column prop="fadlen" label="样本时长" width="100"></el-table-column>
			
			<el-table-column prop="" label="是否违法" width="80">
              <template slot-scope="scope">
                <span style="color:#ff0000" v-if="scope.row.fillegaltypecode > 0">违法</span>
                <span v-else>否</span>
              </template>
            </el-table-column>
			
			<el-table-column prop="" width="100" label="样本发布日期">
              <template slot-scope="scope">
                <span :class="scope.row.istoday ? 'today' : ''" :title="scope.row.istoday ? '橙色代表当天样本' : ''">{{scope.row.samissuedate}}</span>
              </template>
            </el-table-column>
			
			
			
            <el-table-column prop="issuecount" label="发布记录数量" width="100"></el-table-column>
            <el-table-column prop="" label="操作" width="100">
              <template slot-scope="scope">
                <el-button type="primary" :plain="scope.row.checked || false" @click="compare(scope.row)">{{scope.row.checked ? '已校验' : '校 验'}}</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-col>
    </el-row>
    <el-dialog
      :title="activeRow.fadname"
      center
      :visible.sync="compareDialog"
      v-if="compareDialog"
      width="1200px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="beforeClose">
      <el-row :gutter="8">
        <el-col :span="9">
          <aliplayer v-if="sampleUrl && compareDialog" ref="samplePlayer" width="100%" height="360px" :url="sampleUrl" autoplay></aliplayer>
        </el-col>
        <el-col :span="9">
          <aliplayer v-if="issueUrl && compareDialog" ref="issuePlayer" width="100%" height="360px" :url="issueUrl" autoplay></aliplayer>
        </el-col>
        <el-col :span="6">
          <el-table :data="issList" border stripe @row-click="rowClick" height="360px" >
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column label="发布时段" prop="issdate">
              <template slot-scope="scope">
                <span :class="issueUrl === scope.row.m3u8 ? 'active' : ''">{{scope.row.issdate}}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
	  <el-row>
		<el-col :span="2">广告名称：</el-col> <el-col :span="4">{{samInfo.fadname}}</el-col>
		<el-col :span="2">广告类别：</el-col> <el-col :span="4">{{samInfo.fadclass}}</el-col>
		
	  </el-row>
	  <el-row>
		<el-col :span="2">品牌：</el-col><el-col :span="4">{{samInfo.fbrand}}</el-col>
		<el-col :span="2">广告主：</el-col><el-col :span="4">{{samInfo.fadowner}}</el-col>
		
	  </el-row>
	  <el-row>
		<el-col :span="6">违法代码：{{samInfo.fexpressioncodes}}</el-col>
		<el-col :span="6">违法内容：{{samInfo.fillegalcontent}}</el-col>
		
	  </el-row>


	   
	  
	  
    </el-dialog>
  </div>
  <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/dayjs/dayjs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}vue-clipboard/vue-clipboard.min.js"></script>
  <script src="/Public/components/aliplayer.js"></script>
  <script src="/Application/TaskInput/View/SamCheck/js/sampleList.js"></script>
</body>

</html>