<template>
  <div class="evidence-add main-bg"
    v-loading="loading" element-loading-text="存证中，可能耗时较长，请耐心等待">
    <el-tabs type="border-card">
      <el-tab-pane label="文件" v-if="false">
        <el-form :model="form"
          ref="form"
          label-width="110px">
          <el-form-item label="存证类型：">
            <el-radio-group v-model="form.type">
              <el-radio-button v-for="(value,key) in fileType"
                :key="key"
                :label="key">
                {{value}}
              </el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="上传存证：">
            <file-upload name="furl"
              @uploadSuccess="uploadSuccess"
              :beforeVerification="false">
              <el-button type="primary">点击上传</el-button>
            </file-upload>
            <a :href="form.furl"
              v-if="form.furl">
              <el-tag closable
                @close="e=>{form.furl = '';e.preventDefault()}"
                size="small"
                type="primary">
                下载查看
              </el-tag>
            </a>
          </el-form-item>
          <el-form-item>
            <el-button type="primary"
              @click="onSubmit()">发送存证</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="网页">
        <el-form ref="form"
          :model="form"
          :rules="rules"
          label-width="110px">
          <el-form-item label="存证网址："
            prop="weburl">
            <el-input v-model="form.weburl"
              placeholder="请输入存证的网址http开头"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary"
              @click="onSubmit('form')">发送存证</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import axios from 'axios'
import fileUpload from './components/fileUpload'
export default {
  components: { fileUpload },
  data() {
    let validateUrl = (rule, value, callback) => {
      const strRegex = '(https?|ftp|file)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]'
      const re = new RegExp(strRegex)
      if (!re.test(value)) {
        callback(new Error('请输入正确的url地址'))
      } else {
        callback()
      }
    }
    return {
      loading: false,
      form: {
        weburl: '',
        type: 'tv',
        furl: ''
      },
      rules: {
        weburl: [{
          required: true,
          message: '请输入需要存证的网址',
          trigger: 'blur'
        },
        {
          min: 3,
          max: 250,
          message: '长度在 3 到 250 个字符',
          trigger: 'blur'
        }, {
          validator: validateUrl,
          trigger: 'blur'
        }
        ],
      },
      fileType: {
        'tv': '电视',
        'bc': '广播',
        'paper': '报纸'
      }
    }
  },
  methods: {
    onSubmit(formName) {
      if (formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            axios.post(this.$_ + '/Agp/Fapplicant/addEvidence', JSON.stringify({
              url: this.form.weburl
            }))
              .then(res => {
                if (res.data.code === 0) {
                  this.$func.success('存证数据已发送完成')
                  // this.$router.push({ path: '/evidencelist' })
                  this.reset()
                } else {
                  this.$func._error(res.data)
                }
                this.loading = false
              })
              .catch(e => {
                this.$func._error()
              })
          } else {
            this.$message.error('验证通不过，请确认输入信息是否准确')
            return false
          }
        })
      } else {
        if (!this.form.furl) {
          this.$func._error('请先上传存证文件')
          return false
        }
        this.$func.success('存证数据已发送完成')
        this.reset()
      }
    },
    reset() {
      this.form = {
        weburl: '',
        type: 'tv',
        furl: ''
      }
    },
    uploadSuccess(data) {
      this.$set(this.form, data.name, data.url)
    },
    deleteFile(e) {
      this.form.furl = ''
      e.preventDefault()
    },
  }
};
</script>