<template>
  <div class="evidence-list main-bg" v-loading="loading">
    <el-form class="search-form"
      :inline="true"
      v-model="formInline">
      <el-form-item label="存证码：">
        <el-input v-model="formInline.fevidenceid"
          placeholder="输入存证码"
          clearable
          style="width:110px;"></el-input>
      </el-form-item>
      <el-form-item label="名称：">
        <el-input v-model="formInline.title"
          placeholder="输入名称"
          clearable
          style="width:160px;"></el-input>
      </el-form-item>
      <el-form-item label="存证日期：">
        <el-date-picker :editable="false" style="width:235px;"
          v-model="pdate"
          :picker-options="pickerOptions"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="存证状态：">
        <el-select v-model="formInline.status"
          placeholder="选择状态">
          <el-option label="全部" value=""></el-option>
          <el-option label="存证中" value="0"></el-option>
          <el-option label="已存证" value="1"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getlist(1)">查询</el-button>
        <el-button type="primary" icon="el-icon-plus" @click="addEvidence">新增存证</el-button>
      </el-form-item>
    </el-form>
    <el-row :gutter="10"
      class="operating-line">
      <el-col :span="8"
        class="operating-line"
        v-for="(item,index) in tableData"
        :key="index">
        <el-card shadow="hover" style="border: 1px solid #ededed;">
          <div class="grid-content bg-purple">
            <img alt="公证图片"
              :src="item.screenshot || 'http://publichz.oss-cn-hangzhou.aliyuncs.com/nopic.jpg'"
              data-holder-rendered="true"
              style="width: 100%; display: block;">
          </div>
          <div class="caption">
            <h5><span>名称：</span> {{item.title}}</h5>
            <h3>
              <span>存证码：{{item.rid}}</span>
              <span>状态: {{ item.status === '0' ? '存证中' : '已存证' }}</span>
            </h3>
            <el-tooltip :content="'MD5码：' + item.md5" placement="bottom" style="cursor: pointer">
              <h5>MD5码：{{item.md5 || '生成中'}}</h5>
            </el-tooltip>
            <h5><span>存证时间：</span> {{item.cdate}}</h5>
            <p>
              <a :href="item.url" target="_blank" class="weburl">{{item.url}}</a>
            </p>
            <p class="text-right">
              <a href="javascript:void(0);">
                <el-button v-if="Number(item.status) === 1"
                  type="success"
                  :disabled="Number(item.ccount) != 0"
                  @click="handleczClick(item)">转入公证库</el-button>
              </a>
              <a href="javascript:void(0);">
                <el-button
                  type="danger"
                  v-if="Number(item.status) != -1"
                  @click="handlezfClick(item)">删除</el-button>
              </a>
              <el-dropdown trigger="hover"  @command="val => handleCommand(val, item)" v-if="Number(item.status) === 1">
                <el-button type="primary">
                  下 载<i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item icon="el-icon-picture-outline" command="1"> 快照</el-dropdown-item>
                  <el-dropdown-item icon="el-icon-menu" command="2"> 资源包</el-dropdown-item>
                  <el-dropdown-item icon="el-icon-tickets" command="3"> 存管函</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </p>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <div class="nodata" v-if="Number(countAll) === 0">
      暂无数据
    </div>
    <el-pagination background
      layout="prev, pager, next, total"
      @current-change="getlist"
      :page-size="formInline.pageSize"
      :total="Number(countAll)">
    </el-pagination>

    <el-dialog
      title="新增存证"
      :visible.sync="addDialogVisible"
      width="35%"
      id="dialog"
      :before-close="handleCloseAdd">
      <div v-loading="Dloading">
        <el-form
          ref="form"
          :model="form"
          :rules="rules"
          label-width="110px">
          <el-form-item label="存证名称："
            prop="title">
            <el-input v-model="form.title"
              placeholder="请输入存证名称"></el-input>
          </el-form-item>
          <el-form-item label="存证网址："
            prop="url">
            <el-input v-model="form.url"
              placeholder="请输入存证的网址http开头"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary"
              @click="onSubmit('form')">发送存证</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="addDialogVisible = false">关 闭</el-button>
      </span> -->
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import fileUpload from './components/fileUpload'
export default {
  components: { fileUpload },
  data() {
    let validateUrl = (rule, value, callback) => {
      const strRegex = '(https?|ftp|file)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]'
      const re = new RegExp(strRegex)
      if (!re.test(value)) {
        callback(new Error('请输入正确的url地址'))
      } else {
        callback()
      }
    }
    return {
      loading: false,
      Dloading: false,
      tableData: [],
      pdate: [],
      formInline: {
        title: '',
        fevidenceid: '',
        status: '',
        pageIndex: 1,
        pageSize: 18
      },
      countAll: 0,
      predata: {},
      pickerOptions: {
        disabledDate: time => {
          return time.getTime() > new Date().getTime()
        }
      },
      addDialogVisible: false,
      loading: false,
      form: {
        url: '',
        title: '',
      },
      rules: {
        url: [
          { required: true,message: '请输入需要存证的网址',trigger: 'blur'},
          {min: 3,max: 250,message: '长度在 3 到 250 个字符',trigger: 'blur'},
          {validator: validateUrl,trigger: 'blur'}
        ],
        title:[{ required: true, message: '请输入存证名称', trigger: 'blur' }],
      },
      fileType: {
        'tv': '电视',
        'bc': '广播',
        'paper': '报纸'
      },
    }
  },
  created() {
    this.getlist()
  },
  methods: {
    handleczClick(item) {
      this.$confirm('确定要将存证码为' + item.rid + '的存证记录转入公证库吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        axios.post(this.$_ + '/Agp/Fapplicant/goApplicant', JSON.stringify({ id: item.id }))
          .then(res => {
            if (res.data.code === 0) {
              this.$notify({
                type: 'success',
                title: '消息',
                message: res.data.msg,
                duration: 1000,
              })
            } else {
              this.$func._error(res.data.msg)
            }
            this.getlist()
          }).catch(e => {
            this.$func._error()
          })
      })
    },
    download(data){
      axios.post(this.$_ + '/Api/Fapplicant/downEvidenceObjext',JSON.stringify({ rid: data.rid }))
      .then(res => {
        if(res.data.code === 0){
          const a = document.createElement('a')
          a.href = res.data.data
          a.target='_blank'
          a.click()
        }else{
          this.$_error(res.data.msg)
        }
      })
    },
    handlezfClick(item) {
      this.$confirm('确定要将存证码为' + item.rid + '的存证记录删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        axios.post(this.$_ + '/Agp/Fapplicant/delEvidence_user', JSON.stringify({ id: item.id }))
          .then(res => {
            if (res.data.code === 0) {
              this.$notify({
                title: '消息',
                type: 'success',
                message: res.data.msg,
                duration: 1000,
              })
            } else {
              this.$func._error(res.data.msg)
            }
            this.getlist()
          }).catch(e => {
            this.$func._error()
          })
      })
    },
    getlist(page) {
      this.loading = true
      this.predata = {
        ...this.formInline,
        fstarttime: this.pdate ? this.pdate[0] : '',
        fendtime: this.pdate ? this.pdate[1] : '',
        pageIndex: page || 1
      }
      axios.post(this.$_ + '/Agp/Fapplicant/getEvidenceList', JSON.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.countAll = res.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        }).catch(e => {
          this.$func._error()
          this.loading = false
        })
    },
    addEvidence() {
      this.addDialogVisible = true
    },
    handleCloseAdd() {
      this.addDialogVisible = false
      this.msg = ''
      this.reset()
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.Dloading = true
          axios.post(this.$_ + '/Agp/Fapplicant/addEvidence', JSON.stringify(this.form))
            .then(res => {
              if (res.data.code === 0) {
                this.$notify({
                  type: 'success',
                  title: '消息',
                  message: res.data.msg,
                  duration: 1000,
                })
                this.Dloading = false
                this.handleCloseAdd()
                this.getlist()
              } else {
                this.handleCloseAdd()
                this.$func._error(res.data.msg)
              }
              this.Dloading = false
            })
            .catch(e => {
              this.handleCloseAdd()
              this.$func._error()
            })
        } else {
          this.$message.error('验证通不过，请确认输入信息是否准确')
          return false
        }
      })
    },
    reset() {
      this.form = {
        url: '',
        title: '',
      }
      this.$refs.form.resetFields();
    },
    handleCommand(val,item) {
      if(val === '1') {
        const b = document.createElement('a')
        b.href = item.screenshot
        b.target='_blank'
        b.click()
      } else if(val === '2') {
        this.download(item)
      } else {
        this.downPdf(item)
      }
    },
    downPdf(data){
      const data1 = {
        rid: data.rid
      }
      axios.post(this.$_ + '/Api/Fapplicant/downEvidenceLetterPDF',JSON.stringify(data1))
      .then(res => {
        if(res.data.code === 0){
          const c = document.createElement('a')
          c.href = res.data.data
          c.target='_blank'
          c.click()
        }else{
          this.$func._error(res.data.msg)
        }
      })
    },
  }
};
</script>

<style scoped>
.grid-content {
  height: 200px;
  overflow: hidden;
}

.caption {
  color: #666;
  padding: 9px;
}

.caption h3{
  display: flex;
  justify-content: space-between;
}

.caption h5{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.caption p {
  height: 30px;
  overflow: hidden;
  font-size: 9pt;
  margin: 0;
}
.caption .weburl {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.text-right {
  text-align: right;
  margin-top: 0px;
}

a {
  color: #428bca;
  text-decoration: none;
}

a {
  background-color: transparent;
}

h3,
.h3 {
  font-size: 14px;
}

h5,
.h5 {
  font-size: 14px;
}

h3,
.h3,
h5,
.h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.msg{
  display: flex;
  height: 100px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  color:#00C1DE;
}

.el-form {
  margin-top: 20px;
}

.el-form-item {
  margin-bottom: 16px;
}

.nodata{
  padding-top: 60px;
  height: 140px;
  font-size: 24px;
  color: #ededed;
  font-weight: 900;
  text-align: center;
}

</style>
<style scoped lang="scss">
#dialog {
  & /deep/.el-dialog__body{
    padding-top:0px !important;
  }
}
</style>
