<template>
  <div class="evidence-cart main-bg"
    v-loading="loading">
    <el-radio-group v-model="fstatus"
      @change="getlist"
      class="operating-line">
      <el-radio-button label="0">待公证</el-radio-button>
      <el-radio-button label="1">公证中</el-radio-button>
      <el-radio-button label="2">已公证</el-radio-button>
    </el-radio-group>

    <div v-if="fstatus == 0">
      <el-card shadow="never"
        :body-style="cardHead">
        <div class="card-row">
          <div class="card-box">
            <el-checkbox v-model="checkedall"
              @change="checkedAll"
              label="全选"></el-checkbox>
          </div>
          <div class="card-image">存证快照</div>
          <div class="card-info">存证信息</div>
          <div class="card-operating">操作</div>
        </div>
      </el-card>
      <el-card :body-style="cardBody"
        shadow="never"
        v-for="(item,index) in tableData"
        :key="index">
        <div class="card-row">
          <div class="card-box">
            <el-checkbox v-model="checkidstr[item.id]"
              @change="checkchange"
              :key="item.id"></el-checkbox>
          </div>
          <div class="card-image card-image-row">
            <img :src="item.screenshot">
          </div>
          <div class="card-info card-info-box">
            <p>名称：{{item.title}}</p>
            <p>存证码：{{item.rid}}</p>
            <p>MD5码：{{item.md5}}</p>
            <p>存证时间：{{item.cdate}}</p>
            <p class="card-url" @click="urlLink(item.url)" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;color: #0000ee;cursor:pointer">
              {{ item.url }}
              <!-- <a :href="item.url"
                target="_blank">{{item.url}}</a> -->
            </p>
          </div>
          <div class="card-operating card-operating-box">
            <el-row>
              <el-button type="text"
                @click="handlescClick(item)">删除</el-button>
            </el-row>
            <el-row>
              <a :href="item.screenshot"
                target="_blank">
                <el-button type="text">快照</el-button>
              </a>
            </el-row>
            <el-row>
              <el-button type="text" @click="download(item.rid)">下载资源包</el-button>
            </el-row>
            <el-row>
              <el-button type="text" @click="downloadPdf(item.rid)">下载存管涵</el-button>
            </el-row>
          </div>
        </div>
      </el-card>
      <no-data v-if="!tableData.length" />
      <el-card shadow="never"
        :body-style="cardHead">
        <div class="card-row">
          <div class="card-box">
            <el-checkbox v-model="checkedall"
              @change="checkedAll"
              label="全选"></el-checkbox>
          </div>
          <div class="card-info">已选择 <em>{{ selobj }}</em> 个存证，结算费用约 {{ price }} 元
          <el-popover
            placement="top-start"
            title="费用说明"
            width="300"
            trigger="hover"
            style="cursor: pointer;"
            :content="`公证每份起步价${this.standPrice[0]}元，每增加一个网址加${this.standPrice[1]}元，最多不高于${this.standPrice[2]}元，每份公证书不能多于${this.standPrice[3]}个网址公开价。邮费为到付。`">
            <span class="price" slot="reference"><i class="el-icon-question"></i>费用说明</span>
          </el-popover>
          </div>
          <div class="card-operating">
            <el-button type="primary"
              @click="sendParams">去公证</el-button>
          </div>
        </div>
      </el-card>
    </div>

    <div v-else>
      <el-card shadow="never"
        :body-style="cardHead">
        <div class="row-box">
          <div style="width:10%">公证类型</div>
          <div style="width:15%">机构名称/申办人</div>
          <div style="width:20%">统一社会信用代码/身份证</div>
          <div style="width:15%">收件人</div>
          <div style="width:20%">下单时间</div>
          <div style="width:20%">公证费/实付费</div>
          <div style="width:60px" class="item-box-last">操作</div>
        </div>
      </el-card>
      <el-card :body-style="cardBody"
        shadow="never"
        v-for="(item,index) in tableData"
        :key="index">
        <div class="row-box" style="min-height: 80px">
          <div style="width:10%" class="item-box"> {{ Number(item.ftype) === 0 ? '机构' : '个人'}}</div>
          <div style="width:15%" class="item-box">{{ Number(item.ftype) === 0 ? item.fentname : item.fusername }}</div>
          <div style="width:20%" class="item-box">{{ Number(item.ftype) === 0 ? item.fcreditid : item.fidcard }}</div>
          <div style="width:15%" class="item-box">{{ item.fpostusername }}</div>
          <div style="width:20%" class="item-box">{{ item.fcreatetime }}</div>
          <div style="width:20%" class="item-box">¥{{ item.fmoney }}/¥{{ item.fzkmoney }}</div>
          <div style="width:60px" class="item-box-last">
            <el-row>
              <el-button type="text" @click="detail(item.fapplicantid)">查看</el-button>
            </el-row>
            <el-row v-if="fstatus == 1">
              <el-button type="text" @click="receiveMsg(item.fapplicantid)">确认收货</el-button>
            </el-row>
          </div>
        </div>
      </el-card>
      <no-data v-if="!tableData.length" />
      <el-pagination background
        layout=" prev, pager, next, sizes, total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :page-size="page.pageSize"
        :total="total">
      </el-pagination>
    </div>

    <detailDialog v-if="showDialog" @close="_close" :id="id"></detailDialog>
  </div>
</template>
<script>
import axios from 'axios'
import noData from '../Ggsjzx//aggregation/common/noData'
import detailDialog from './components/detailDialog'
export default {
  components: { noData,detailDialog },
  data() {
    return {
      loading: false,
      checkidstr: {},
      selobj: 0,
      checkedall: false,
      thispage: 1,
      items: {
        rowcount: 0,
        pagerow: 3,
        pagenum: 1,
        lists: []
      },
      fstatus: 0,
      cardBody: {
        'padding-top': '8px',
        'padding-bottom': '8px',
      },
      cardHead: {
        'padding-top': '8px',
        'padding-bottom': '8px',
        'background-color': '#eee',
      },
      from: {
        checkids: []
      },
      tableData: [],
      standPrice: [],
      total: 0,
      page:{
        pageIndex: 1,
        pageSize: 10,
      },
      showDialog: false,
      id:'',
    }
  },
  created() {
    this.standPrice = this.$store.state.userInfo.notarizationfee
    this.getlist(this.fstatus)
  },
  methods: {
    urlLink(url) {
      const a = document.createElement('a')
      a.href = url
      a.target = '_blank'
      a.click()
    },
    handlescClick(item) {//删除
      this.$confirm(`确定要删除 公证码为 ${item.rid} 的记录吗?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        this.loading = true
        axios.post(this.$_ + '/Agp/Fapplicant/delEvidence', JSON.stringify({ id: item.id }))
        .then(res => {
          if (res.data.code === 0) {
            this.$notify({ title: '消息', message: res.data.msg, type: 'success' })
          } else {
            this.$func._error(res.data.msg)
          }
          this.getlist(this.fstatus)
          this.loading = false
        }).catch(error => {
          this.$func._error()
          this.loading = false
        })
      })
    },
    checkchange(checkid) {
      this.from.checkids = []
      for (let iitem in this.checkidstr) {
        if (this.checkidstr[iitem]) this.from.checkids.push(iitem)
      }
      if(this.from.checkids.length == this.tableData.length) {
        this.checkedall = true
      } else {
        this.checkedall = false
      }
      this.selobj = this.from.checkids.length
    },
    checkedAll() {
      if (this.checkedall) {
        this.checkidstr = {}
        this.from.checkids = []
        this.tableData.forEach((item) => {
          this.from.checkids.push(item.id)
          this.checkidstr[item.id] = true
        })
      } else {
        this.tableData.forEach((item) => {
          this.checkidstr[item.id] = false
        })
        this.from.checkids = []
      }
      this.selobj = this.from.checkids.length
    },
    sendParams() {
      if (this.from.checkids == null || this.from.checkids.length <= 0) {
        this.$func._error('请选择你需要公证的存证文件')
        return false
      }
      this.$router.push({
        path: '/evidenceapply',
        query: {
          checkids: this.from.checkids,
          fmoney: this.price
        }
      })
    },
    getlist(val) {
      this.checkedall = false
      this.loading = true
      let url = val == 0 ? '/Agp/Fapplicant/applyEvidenceList' : '/Agp/Fapplicant/finishEvidenceList'
      let data  = val == 0 ? undefined : { fstatus: val, ...this.page }
      axios.post(this.$_ + url,JSON.stringify(data))
        .then(res => {
        if (res.data.code === 0) {
          this.tableData = res.data.data
          this.total = Number(res.data.count)
        } else {
          this.$func._error(res.data)
        }
        this.checkidstr = {}
        this.from.checkids = []
        this.selobj = this.from.checkids.length
        this.loading = false
      }).catch(e => {
        this.$func._error()
        this.loading = false
      })
    },
    detail(id) {
      this.showDialog = true
      this.id = id
    },
    receiveMsg(id) {
      this.$confirm('此操作将确认收到信息, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Fapplicant/evidenceCheckFinish',JSON.stringify({fapplicantid : id}))
        .then(res => {
          if (res.data.code === 0) {
            this.$message({
              type: 'success',
              message: res.data.msg
            });
            this.getlist(this.fstatus)
          } else {
            this.$func._error(res.data.msg)
          }
        }).catch(e => {
          this.$func._error()
        })
      })
    },
    download(data){
      axios.post(this.$_ + '/Api/Fapplicant/downEvidenceObjext',JSON.stringify({ rid: data }))
      .then(res => {
        if(res.data.code === 0){
          const a = document.createElement('a')
          a.href = res.data.data
          a.target='_blank'
          a.click()
        }else{
           this.$func._error(res.data.msg)
        }
      })
    },
    downloadPdf(data){
      axios.post(this.$_ + '/Api/Fapplicant/downEvidenceLetterPDF',JSON.stringify({rid: data}))
      .then(res => {
        if(res.data.code === 0){
          const c = document.createElement('a')
          c.href = res.data.data
          c.target='_blank'
          c.click()
        }else{
          this.$func._error(res.data.msg)
        }
      })
    },
    handleSizeChange(val) {
      this.page.pageSize = val
      this.getlist(this.fstatus)
    },
    handleCurrentChange(val) {
      this.page.pageIndex = val
      this.getlist(this.fstatus)
    },
    _close() {
      this.showDialog = false
    },
  },
  computed: {
    price() {
      return this.selobj === 0 ? 0 : (this.selobj * 50) + this.standPrice[0] - 50
    }
  }
}
</script>
<style lang="scss" scoped>
.evidence-cart {
  .card-row {
    font-size: 14px;
    color: #606266;
    font-weight: bold;
    display: flex;
    .card-box {
      width: 70px;
    }
    .card-image {
      flex-shrink:0;
      width: 160px;
      padding: 0px 10px;
      img {
        width: 100%;
      }
    }
    .card-image-row {
      overflow: hidden;
      height: 145px;
      border: 1px solid #ccc;
    }
    .card-info {
      flex-grow: 1;
      padding: 0px 10px;
      p {
        margin: 8px 0;
        font-weight: bold;
      }
      .price{
        margin-left: 20px;
        color: #00C1DE;
      }
    }
    .card-info-box {
      width: 70%;
      color: #666;
      p:nth-child(1) {
        font-size: 16px;
      }
    }
    .card-operating {
      width: 80px;
      flex-shrink:0;
      text-align: center;
    }
    .card-operating-box {
      padding: 10px 0px;
    }
  }
  .row-box{
    font-size: 14px;
    color: #606266;
    font-weight: bold;
    display: flex;
    align-items: center;
    .row-box-last{
      text-align: center;
    }
    .item-box{
      font-weight: 400;
      text-align: left;
    }
    .item-box-last{
      text-align: center;
    }
  }
}
</style>