<template>
  <div class="evidence-apply main-bg"
    v-loading="loading">
    <el-button type="primary"
      class="operating-line"
      icon="el-icon-arrow-left"
      @click="$router.push('evidencecart')">返回</el-button>
    <el-form ref="form"
      :model="form"
      :rules="rules"
      label-width="110px">
      <el-card
        shadow="never">

        <el-row :gutter="8">
          <div class="wrapper">
            <el-row >
              <h3 class="title">基本信息</h3>
              <!-- <el-col :span="6">
                <el-form-item label="公证书类型："
                  prop="notarialtype">
                  <el-radio-group v-model="form.fnotarialtype">
                    <el-radio-button label="0">网页</el-radio-button>
                    <el-radio-button label="1">文件</el-radio-button>
                    <el-radio-button label="2">语音</el-radio-button>
                  </el-radio-group>
                </el-form-item>
              </el-col> -->
              <el-col :span="6">
                <el-form-item label="类型：" prop="ftype">
                  <el-switch v-model="form.ftype"
                    active-text="机构"
                    inactive-text="个人"
                    :active-value="0"
                    :inactive-value="1">
                  </el-switch>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="是否邮寄：" prop="fispost">
                  <el-switch v-model="form.fispost">
                  </el-switch>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="公证书数量：" prop="fnotarials">
                  <el-input-number v-model="form.fnotarials" :min="1"></el-input-number>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="8">
              <el-col :span="24">
                <el-form-item label="用途：" prop="fusage">
                  <el-input v-model="form.fusage" type="textarea" :autosize="{ minRows: 3, maxRows: 8}" placeholder="请输入用途"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-row>

        <el-row :gutter="8" v-if="!form.ftype">
          <div class="wrapper">
            <el-row :gutter="8">
              <div class="title">
                <h3>机构信息</h3>
                <div>
                  <el-button type="text" @click="slelctOrg">选择机构</el-button>
                  <el-button type="success" @click="saveOrg">保存机构</el-button>
                </div>
              </div>
              <el-col :span="7">
                <el-form-item label="统一社会信用代码：" label-width="150px" prop="fcreditid">
                  <el-input v-model="form.fcreditid" clearable placeholder="请输入统一社会信用代码"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="机构名称：" prop="fentname">
                  <el-input v-model="form.fentname" clearable placeholder="请输入机构名称"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="5">
                <el-form-item label="负责人：" prop="fegalperson">
                  <el-input v-model="form.fegalperson" clearable placeholder="请输入负责人"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="负责人身份证：" label-width="140px" prop="fegalidcard">
                  <el-input v-model="form.fegalidcard" clearable placeholder="请输入负责人身份证"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="8" v-if="!form.ftype">
              <el-col :span="24">
                <el-form-item label="负责人身份证：" label-width="150px" prop="fegalidcardurl">
                  <file-upload name="fegalidcardurl"
                    @uploadSuccess="val => uploadSuccess(val, 'fegalidcardurl')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fegalidcardurl + ')'}"></p>
                    <div class="el-upload__tip">身份证正面照</div>
                  </file-upload>
                  <file-upload name="fegalidcardurl2"
                    @uploadSuccess="val => uploadSuccess(val, 'fegalidcardurl2')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fegalidcardurl2 + ')'}"></p>
                    <div class="el-upload__tip">身份证背面照</div>
                  </file-upload>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="8"  v-if="!form.ftype">
              <el-col :span="24">
                <el-form-item label="营业执照：" label-width="150px" prop="fenturl">
                  <file-upload name="fenturl"
                    @uploadSuccess="val => uploadSuccess(val, 'fenturl')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fenturl + ')'}"></p>
                    <div class="el-upload__tip">营业执照扫描件</div>
                  </file-upload>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-row>

        <el-row :gutter="8">
          <div class="wrapper">
            <el-row :gutter="8">
              <div class="title" v-if="!form.ftype">
                <h3 >代办人信息</h3>
                <div>
                  <el-button type="text" @click="selectPerson(2)">选择代办人</el-button>
                  <el-button type="success" @click="savePerson(2)">保存代办人</el-button>
                </div>
              </div>
              <div class="title" v-if="form.ftype">
                <h3 >申办人信息</h3>
                <div>
                  <el-button type="text" size="small" @click="selectPerson(1)">选择申办人</el-button>
                  <el-button type="success" @click="savePerson(1)">保存申办人</el-button>
                </div>
              </div>
              <el-col :span="6">
                <el-form-item v-if="!form.ftype"
                  label-width="130px"
                  label="代办人姓名："
                  prop="fusername">
                  <el-input v-model="form.fusername" placeholder="请输入代办人姓名" clearable></el-input>
                </el-form-item>
                <el-form-item v-if="form.ftype"
                  label-width="130px"
                  label="申办人姓名："
                  prop="fusername">
                  <el-input v-model="form.fusername"  placeholder="请输入申办人姓名" clearable></el-input>
                </el-form-item>
              </el-col>
              <el-col v-if="!form.ftype" :span="6">
                <el-form-item label="代办人职务：" prop="fposition">
                  <el-input v-model="form.fposition" placeholder="请输入代办人职务" clearable></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="手机号码：" prop="fmobile">
                  <el-input v-model="form.fmobile" placeholder="请输入手机号码" clearable></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="身份证号码：" prop="fidcard">
                  <el-input v-model="form.fidcard" placeholder="请输入身份证号码" clearable></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="8">
              <el-col v-if="!form.ftype" :span="12">
                <el-form-item label="委托书：" label-width="130px" prop="fmandateurl">
                  <file-upload name="fmandateurl"
                    :beforeVerification="false"
                    @uploadSuccess="val => uploadSuccess(val, 'fmandateurl')">
                    <el-button type="primary">点击上传</el-button>
                  </file-upload>
                  <a :href="form.fmandateurl" v-if="form.fmandateurl">
                    <el-tag closable
                      @close="e=>{form.fmandateurl='';e.preventDefault()}"
                      size="small"
                      type="primary">
                      下载查看
                    </el-tag>
                  </a>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="8">
              <el-col :span="24">
                <el-form-item v-if="form.ftype" label="申办人身份证：" label-width="130px" prop="fidcardurl">
                  <file-upload name="fidcardurl"
                    @uploadSuccess="val => uploadSuccess(val, 'fidcardurl')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fidcardurl + ')'}"></p>
                    <div class="el-upload__tip">身份证正面照</div>
                  </file-upload>
                  <file-upload name="fidcardurl2"
                    @uploadSuccess="val => uploadSuccess(val, 'fidcardurl2')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fidcardurl2 + ')'}"></p>
                    <div class="el-upload__tip">身份证背面照</div>
                  </file-upload>
                  <file-upload name="fidcardfeelurl"
                    @uploadSuccess="val => uploadSuccess(val, 'fidcardfeelurl')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fidcardfeelurl + ')'}"></p>
                    <div class="el-upload__tip">手持身份证照片</div>
                  </file-upload>
                </el-form-item>
                <el-form-item v-if="!form.ftype" label="代办人身份证：" label-width="130px" prop="fidcardurl">
                  <file-upload name="fidcardurl"
                    @uploadSuccess="val => uploadSuccess(val, 'fidcardurl')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fidcardurl + ')'}"></p>
                    <div class="el-upload__tip">身份证正面照</div>
                  </file-upload>
                  <file-upload name="fidcardurl2"
                    @uploadSuccess="val => uploadSuccess(val, 'fidcardurl2')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fidcardurl2 + ')'}"></p>
                    <div class="el-upload__tip">身份证背面照</div>
                  </file-upload>
                  <file-upload name="fidcardfeelurl"
                    @uploadSuccess="val => uploadSuccess(val, 'fidcardfeelurl')">
                    <p class="icard-upload"
                      :style="{backgroundImage: 'url(' + form.fidcardfeelurl + ')'}"></p>
                    <div class="el-upload__tip">手持身份证照片</div>
                  </file-upload>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-row>

        <el-row :gutter="8" v-if="form.fispost">
          <div class="wrapper">
            <el-row>
              <div class="title">
                <h3>收件人信息</h3>
                <div>
                  <el-button type="text" @click="selectPerson(3)">选择收件人</el-button>
                  <el-button type="success" @click="savePerson(3)">保存收件人</el-button>
                </div>
              </div>
              <el-col :span="6">
                <el-form-item label="收件人：" prop="fpostusername">
                  <el-input v-model="form.fpostusername" placeholder="请输入收件人" clearable></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="收件人手机："  prop="fpostmobile">
                  <el-input v-model="form.fpostmobile" placeholder="请输入收件人手机" clearable></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="收件人地址："  prop="fpostaddress">
                  <el-input v-model="form.fpostaddress" placeholder="请输入收件人地址" clearable></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="8" v-if="form.fispost">
              <el-col :span="24">
                <el-form-item label="备注："  prop="fremark">
                  <el-input v-model="form.fremark" type="textarea" placeholder="请输入备注"
                    :autosize="{ minRows: 3, maxRows: 8}"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-row>

        <el-row class="text-center">
          <el-button type="primary"
          :loading="$store.state.bloading"
          @click="onSubmit('form')">确认公证</el-button>
        </el-row>
      </el-card>
    </el-form>
    <orgInfo v-if="dialogShow" @close="_close" @useOrg="useOrg"></orgInfo>
    <personInfo v-if="personShow" :perTitle="perTitle"
      :perType="perType"
      @use="useInfo"
      @close="_close"></personInfo>
  </div>
</template>

<script>
import icard01 from '../../../static/img/icard01.jpg'
import icard02 from '../../../static/img/icard02.jpg'
import icard03 from '../../../static/img/icard03.jpg'
import fileUpload from './components/fileUpload'
import orgInfo from './components/orgInfo'
import personInfo from './components/personInfo'
import axios from 'axios'
export default {
  components: { fileUpload, orgInfo, personInfo },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (!to.query.checkids) {
        vm.$func._error('无效调用！')
        vm.$router.push({ path: '/evidencecart' })
      }
      vm.form.fuuids = to.query.checkids
      vm.form.fmoney = Number(to.query.fmoney)
    })
  },
  data() {
    return {
      uploadOptions: {},
      upOptions: {
        up_server: ""
      },
      notarialtypes: [
        {
          value: '0',
          label: '网页'
        }, {
          value: '1',
          label: '文件'
        }, {
          value: '2',
          label: '语音'
        }
      ],
      loading: false,
      activesteps: 0,
      activestepsmax: 3,
      form: {
        //基本信息
        fuuids: [],
        fmoney: 0,                // 公证费
        fnotarialtype: '0',       // 页面不显示默认传网页
        ftype: 0,                 // 申请类型
        fispost: true,            // 是否邮寄
        fnotarials: 1,            // 公证书数量
        fusage: '',               // 用途

        // 机构信息
        fcreditid: '',            // 统一社会信用代码
        fentname: '',             // 机构名称
        fegalperson: '',          // 负责人
        fegalidcard: '',          // 负责人身份证号码
        fegalidcardurl: icard01,  // 负责人身份证正面
        fegalidcardurl2: icard02, // 负责人身份证反面
        fenturl: icard03,         // 营业执照

        // 代办人/申办人
        fusername: '',            // 申办人/代办人姓名
        fposition: '',            // 代办人职务
        fmobile: '',              // 申办人/代办人手机号码
        fidcard: '',              // 申办人/代办人身份证码
        fmandateurl: '',          // 委托书
        fidcardurl: icard01,      // 个人身份证正面
        fidcardurl2: icard02,     // 个人身份证反面
        fidcardfeelurl: icard03,  // 个人手持身份证

        // 收件人
        fpostusername: '',        // 收件人
        fpostmobile: '',          // 收件人手机
        fpostaddress: '',         // 收件人地址
        fremark: '',              // 备注
      },
      addForm: {
        fcreditid: '',
        fentname: '',
        flerep: '',
        fidcard: '',
        fidcardurl: icard01,
        fidcardurl2: icard02,
        fenturl: icard03,
      },
      rules: {
        fusage: [ {required: true, message: '请输入用途', trigger: 'blur'} ],

        fcreditid: [ {required: true, message: '请输入统一社会信用代码', trigger: 'blur' },{ min: 15, max: 20, message: '长度在 15 到 20 个字符', trigger: 'blur'} ],
        fentname: [ {required: true, message: '请输入机构名称', trigger: 'blur' },{ min: 3, max: 250, message: '长度在 3 到 250 个字符', trigger: 'blur'} ],
        fegalperson: [ {required: true, message: '请输入负责人', trigger: 'blur' }, { min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur'} ],
        fegalidcard: [ {required: true, message: '请输入负责人身份证件号码', trigger: 'blur' }, { validator: this.IdentityCodeValid, trigger: 'blur'} ],
        fegalidcardurl:[ {required: true, message: '请上传身份证件' }, { validator: this.uploadRule2} ],
        fenturl: [ {required: true, message: '请上传营业执照' },{ validator: this.uploadRule} ],

        fusername:[ {required: true, message: '请输入姓名', trigger: 'blur'} ],
        fposition: [ {required: true, message: '请输入代办人职务', trigger: 'blur'} ],
        fmobile: [ {required: true, message: '请输入手机号码', trigger: 'blur' },{ validator: this.checkPhone, trigger: 'blur'} ],
        fidcard: [ {required: true, message: '请输入身份证件号码', trigger: 'blur' }, { validator: this.IdentityCodeValid, trigger: 'blur'} ],
        fidcardurl: [ {required: true, message: '请上传身份证件' },{validator: this.uploadRule3} ],
        fmandateurl: [ {required: true, message: '请上传委托书'} ],

        fpostusername: [ {required: true, message: '请输入收件人', trigger: 'blur'} ],
        fpostmobile: [ {required: true, message: '请输入收件人手机号码', trigger: 'blur'}, {validator: this.checkPhone, trigger: 'blur'} ],
        fpostaddress: [ {required: true, message: '请输入收件人地址', trigger: 'blur'} ],
        fremark: [ { required: true, message: '请输入备注', trigger: 'blur' } ],
      },
      perTitle: '',
      dialogShow: false,
      personShow: false,
      perType: '',
    }
  },
  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        this.$store.commit('_bloading',true)
        if (valid) {
          const data = {...this.form }
          data.fispost = this.form.fispost == true ? 0 : 1
          axios.post(this.$_ + '/Agp/Fapplicant/applyEvidence', JSON.stringify(data))
            .then(res => {
              if (res.data.code === 0) {
                this.$func.success(res.data)
                this.$router.push('evidencecart')
              } else {
                this.$func._error(res.data)
              }
              this.$store.commit('_bloading',false)
            }).catch(e => {
              this.$func._error()
              this.$store.commit('_bloading',false)
            })
        } else {
          this.$func._error('验证通不过，请确认输入信息是否准确')
          this.$store.commit('_bloading',false)
        }
      })
    },
    uploadSuccess(data,val) {
      this.$set(this.form, val, data.url)
    },
    saveOrg(val) {
      const data = {
        fentname: this.form.fentname,
        fcreditid: this.form.fcreditid,
        flerep: this.form.fegalperson,
        fidcard: this.form.fegalidcard,
        fidcardurl: this.form.fegalidcardurl,
        fidcardurl2: this.form.fegalidcardurl2,
        fenturl: this.form.fenturl,
      }
      axios.post(this.$_ + '/Agp/Fapplicant/enterpriseModify', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.$notify({ title: '消息', message: res.data.msg, type: 'success' })
        } else {
          this.$func._error(res.data.msg)
        }
      }).catch(error => {
        this.$func._error()
      })
    },
    slelctOrg() {
      this.dialogShow = true
    },
    selectPerson(val) {
      this.personShow = true
      this.perType = val
      val === 1 ? this.perTitle = '申办人' : val === 2 ? this.perTitle = '代办人' : this.perTitle = '收件人'
    },
    savePerson(val) {
      let data = {}
      if(val !== 3 ) {
        const data1 = {
          ftype: val,
          fname: this.form.fusername,
          fmobile: this.form.fmobile,
          fidcard: this.form.fidcard,
          fposition: this.form.fposition,
          fidcardurl: this.form.fidcardurl,
          fidcardurl2: this.form.fidcardurl2,
          fidcardfeelurl:this.form.fidcardfeelurl,
        }
        data = {...data1}
      } else {
        const data2 = {
          ftype: val,
          fname: this.form.fpostusername,
          fmobile: this.form.fpostmobile,
          faddress: this.form.fpostaddress,
          fnote: this.form.fremark,
        }
        data = {...data2}
      }
      axios.post(this.$_ + '/Agp/Fapplicant/personModify', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.$notify({ title: '消息', message: res.data.msg, type: 'success' })
        } else {
          this.$func._error(res.data.msg)
        }
      }).catch(error => {
        this.$func._error()
      })
    },
    useInfo(data, val) {
      if(val === 3) {
        this.form.fpostusername = data.fname
        this.form.fpostmobile = data.fmobile
        this.form.fpostaddress = data.faddress
        this.form.fremark = data.fnote
      } else if(val === 2){
        this.form.fusername = data.fname
        this.form.fmobile = data.fmobile
        this.form.fidcard = data.fidcard
        this.form.fidcardurl = data.fidcardurl
        this.form.fidcardurl2 = data.fidcardurl2
        this.form.fidcardfeelurl = data.fidcardfeelurl
        this.form.fposition = data.fposition
      } else {
        this.form.fusername = data.fname
        this.form.fmobile = data.fmobile
        this.form.fidcard = data.fidcard
        this.form.fidcardurl = data.fidcardurl
        this.form.fidcardurl2 = data.fidcardurl2
        this.form.fidcardfeelurl = data.fidcardfeelurl
      }
      this._close()
    },
    useOrg(data) {
      this.form.fcreditid = data.fcreditid
      this.form.fentname = data.fentname
      this.form.fenturl = data.fenturl
      this.form.fegalperson = data.flerep
      this.form.fegalidcard = data.fidcard
      this.form.fegalidcardurl = data.fidcardurl
      this.form.fegalidcardurl2 = data.fidcardurl2
      this._close()
    },
    _close() {
      this.personShow = false
      this.dialogShow = false
    },
     /**
     * 校验身份证 手机
     */
    uploadRule(rule, value, callback){
      if(value == '/static/img/icard03.e82624e.jpg') {
        return callback(new Error('请上传营业执照'))
      } else {
          callback()
      }
    },
    uploadRule2(rule, value, callback){
      if (this.form.fegalidcardurl == '/static/img/icard01.3f6576c.jpg' || this.form.fegalidcardurl2 == '/static/img/icard02.22febcb.jpg') {
        return callback(new Error('请上传身份证件'))
      } else {
        callback()
      }
    },
    uploadRule3(rule, value, callback){
      const card1 = this.form.fidcardurl === '/static/img/icard01.3f6576c.jpg'
      const card2 = this.form.fidcardurl2 === '/static/img/icard02.22febcb.jpg'
      const card3 = this.form.fidcardfeelurl === '/static/img/icard03.e82624e.jpg'
      if ( card1 || card2 || card3 ) {
        return callback(new Error('请上传身份证件'))
      } else {
          callback()
      }
    },
    checkPhone(rule, value, callback) {
      if (!value) {
        return callback(new Error('手机号不能为空'))
      } else {
        const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
        if (reg.test(value)) { callback() } else { return callback(new Error('请输入正确的手机号')) }
      }
    },
    IdentityCodeValid(rule, value, callback) {
      let city = { 11: "北京", 12: "天津", 13: "河北", 14: "山西", 15: "内蒙古", 21: "辽宁", 22: "吉林", 23: "黑龙江 ", 31: "上海", 32: "江苏", 33: "浙江", 34: "安徽", 35: "福建", 36: "江西", 37: "山东", 41: "河南", 42: "湖北 ", 43: "湖南", 44: "广东", 45: "广西", 46: "海南", 50: "重庆", 51: "四川", 52: "贵州", 53: "云南", 54: "西藏 ", 61: "陕西", 62: "甘肃", 63: "青海", 64: "宁夏", 65: "新疆", 71: "台湾", 81: "香港", 82: "澳门", 91: "国外 " }
      let tip = ""
      let pass = true
      if (!value || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(value)) {
        return callback(new Error('身份证号格式错误'))
      }
      if (!city[value.substr(0, 2)]) {
        return callback(new Error('地址编码错误'))
      }
      //18位身份证需要验证最后一位校验位
      if (value.length == 18) {
        value = value.split('')
        //∑(ai×Wi)(mod 11)
        //加权因子
        let factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2]
        //校验位
        let parity = [1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2]
        let sum = 0
        let ai = 0
        let wi = 0
        for (let i = 0; i < 17; i++) {
          ai = value[i]
          wi = factor[i]
          sum += ai * wi
        }
        let last = parity[sum % 11]
        if (parity[sum % 11] != value[17]) {
          return callback(new Error('校验位错误'))
        } else {
          callback()
        }
      } else {
        return callback(new Error('请输入正确的身份证号码'))
      }
    },
  },
  watch: {
    'form.ftype' : function (val) {
      this.form.fusername = ''
      this.form.fposition = ''
      this.form.fmobile = ''
      this.form.fidcard = ''
      this.form.fmandateurl = ''
      this.form.fidcardurl = icard01,
      this.form.fidcardurl2 = icard02,
      this.form.fidcardfeelurl = icard03

      // this.$refs.form.resetFields()
    }
  }
}
</script>
<style scoped>
.icard-upload {
  font-size: 28px;
  color: #8c939d;
  width: 200px;
  height: 130px;
  margin: 0px;
  text-align: center;
  border: 1px solid #ededed;
  background-size: 100% 100%;
}
h3{
  margin: 0;
  font-size: 16px;
}
.wrapper{
  padding: 10px 18px;
  border-radius: 4px;
  border: 1px solid #ededed;
  margin-bottom: 18px;
}
.title{
  color: #666;
  display: flex;
  height: 40px;
  line-height: 40px;
  margin-bottom: 14px;
  border-bottom: 1px solid #ededed;
  justify-content: space-between;
}
.text-right{
  text-align: right;
}
.el-dialog__body {
  padding: 10px 20px!important;
}
</style>
