<template>
  <div class="home main-bg">
    <el-row :gutter="20">
      <el-col class="_card"
        :span="8">
        <home-card
          @handleClick="_mediaList"
          icon-name="icon-meiti"
          bg-color="#409eff"
          text="媒体数量"
          :count="Data.mediacount + ' 家'" />
      </el-col>
      <el-col class="_card"
        v-if="$store.state.userInfo.isillegal_summary === 0"
        :span="8">
        <home-card
          @handleClick="_adCount('illegal', '本月违法广告量')"
          icon-name="icon-weifachaxun"
          bg-color="#e6a23c"
          text="本月违法广告量"
          :count="Data.tillegaladcount + ' 条次'" />
      </el-col>
      <el-col class="_card"
        v-if="$store.state.userInfo.isillegal_summary === 1"
        :span="8">
        <home-card
          @handleClick="_adCount('isillegal', '本月涉嫌违法线索量')"
          icon-name="icon-weifachaxun"
          bg-color="#e6a23c"
          text="本月涉嫌违法线索量"
          :count="Data.illegalcount + ' 条次'" />
      </el-col>
      <el-col class="_card"
        :span="8">
        <home-card
          @handleClick="_adCount('issue', '近七天广告发布量')"
          icon-name="icon-guanggao"
          bg-color="#67c23a"
          text="近七天广告发布量"
          :count="Data.issuecount + ' 条次'" />
      </el-col>
    </el-row>
    <br>
    <el-row :gutter="20" v-if="$store.state.userInfo.monitorCondition === 1">
      <el-col :span="24">
        <illAdMonitor></illAdMonitor>
      </el-col>
    </el-row>
    <br v-if="$store.state.userInfo.monitorCondition === 1">
    <el-row :gutter="20">
      <el-col :span="10">
        <el-card v-loading="loading">
          <div ref="Charts1"
            :style="chartsHeight"></div>
        </el-card>
      </el-col>
      <el-col :span="14">
        <el-card v-loading="loading">
          <div ref="Charts2"
            :style="chartsHeight"></div>
        </el-card>
      </el-col>
    </el-row>
    <illegal-dialog v-if="illegal" :params="params" @close="closeDialog('illegal')" />
    <isillegal-dialog v-if="isillegal" :params="params" @close="closeDialog('isillegal')" />
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
import homeCard from './common/homeCard'
import illAdMonitor from './illAdMonitor'
import illegalDialog from './common/illegalDialog'
import isillegalDialog from './common/isillegalDialog'
export default {
  components: {
    homeCard,
    illAdMonitor,
    isillegalDialog,
    illegalDialog
  },
  data() {
    return {
      illegal: false,
      isillegal: false,
      chartsHeight: { height: '320px' },
      Data: {
        mediacount: '0',
        tillegaladcount: '0',
        issuecount: '0',
        illegalcount: '0'
      },
      loading: false,
      params: {},
      dataMap: {
        '01': {
          label: '电视',
          value: 'tetvcount'
        },
        '02': {
          label: '广播',
          value: 'tebccount'
        },
        '03': {
          label: '报纸',
          value: 'tepapercount'
        },
        '05': {
          label: '户外',
          value: 'odcount'
        },
        '13': {
          label: '互联网',
          value: 'tenetcount'
        },
      }
    }
  },
  computed: {
    dataUrl(){
      return this.useOpenSearch ? '/Agp/Index/getindexdata2' : '/Agp/Index/getindexdata'
    },
    useOpenSearch(){
      return this.$store.state.userInfo.use_open_search !== 0
    },
  },
  created() {
    this._getData()
  },
  methods: {
    paiData(mediaClass, data){
      let res = mediaClass.filter(v => v !== '05').map(i => {
        return {
          value: data[this.dataMap[i].value],
          name: this.dataMap[i].label
        }
      })
      return res
    },
    showDialog(name){
      this[name] = true
    },
    closeDialog(name){
      this[name] = false
    },
    _setDateParams() {
      let y = new Date(this._getDay(-7, '-'))
      let n = new Date(this._getDay(-1, '-'))
      let year = y.getFullYear()
      let ym = y.getMonth()
      let nm = n.getMonth()
      if (ym !== nm) {
        let b = `${year}-${(ym + 1 < 10) ? '0' + (ym + 1) : (ym + 1)}-${this._getLastDateOfMonth(year, ym)}`
        return Array.of(this._getDay(-7, '-'), b)
      } else {
        return Array.of(this._getDay(-7, '-'), this._getDay(-1, '-'))
      }
    },
    _getLastDateOfMonth(year, month) {
      //获取最后一天
      // year: 建议从 0 开始，0 表示 1900 年
      // month: 从 0 开始，0 表示 1 月
      return new Date(new Date(year, month + 1, 1).getTime() - 1000 * 60 * 60 * 24).getDate()
    },
    _getDay(num, str) {
      let today = new Date();
      let nowTime = today.getTime();
      let ms = 24 * 3600 * 1000 * num;
      today.setTime(parseInt(nowTime + ms));
      let oYear = today.getFullYear();
      let oMoth = (today.getMonth() + 1).toString();
      if (oMoth.length <= 1) oMoth = '0' + oMoth;
      let oDay = today.getDate().toString();
      if (oDay.length <= 1) oDay = '0' + oDay;
      return oYear + str + oMoth + str + oDay;
    },
    _mediaList() {
      this.$router.push({ path: 'medialist' })
    },
    _adCount(val,title) {
      let id = this.$store.state.userInfo.regionid.substring(0, 2)
      let params = {}
      params.title = title
      params.mclass = ''
      params.iscontain = '1'
      this.$store.commit('_setFJiscontain', '1')
      if (val === 'illegal') {
        params.fillegaltypecode = '30'
        this.illegal = true
      } else if(val === 'issue') {
        params.fillegaltypecode = this.$store.state.userInfo.use_open_search === 0 ? '-1' : ''
        this.illegal = true
      }else if(val === 'isillegal'){
        params.fillegaltypecode = '30'
        this.isillegal = true
      }
      this.params = params
    },
    _getData() {
      this.loading = true
      axios.post(this.$_ + this.dataUrl)
        .then(res => {
          if (res.data.code === 0) {
            this.Data = res.data.data
            this._setCharts(res.data.data)
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _setCharts(data) {
      let date = []
      let iss = []
      let ill = []
      data.sevendaydata.forEach(item => {
        date.push(item.nowdate)
        iss.push(item.nowcount)
        ill.push(item.nowcount2)
      })
      let Charts1 = echarts.init(this.$refs.Charts1, 'macarons')
      let option1 = {
        title: {
          text: '近七天媒介发布占比'
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        series: [
          {
            name: '发布数量',
            type: 'pie',
            radius: '55%',
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: true,
              }
            },
            data: this.paiData(this.$store.state.userInfo.media_class,data)
          }
        ]
      }
      Charts1.setOption(option1)
      Charts1.on("click", (e) => {
        let type = e.data.name
        let id = this.$store.state.userInfo.regionid.substring(0, 2)
        this.$store.commit('_setFJiscontain', '1')
        let params = {}
        params.searchDate = this._setDateParams()
        if (id === '35') {
          switch (type) {
            case '电视':
              params.mclass = this.useOpenSearch ? '01' : 'tv'
              this.$router.push({ name: 'televisionFJ', params: params })
              break
            case '广播':
              params.mclass = this.useOpenSearch ? '02' : 'bc'
              this.$router.push({ name: 'broadcastFJ', params: params })
              break
            case '报纸':
              params.mclass = this.useOpenSearch ? '03' : 'paper'
              this.$router.push({ name: 'newspaperFJ', params: params })
              break
            case '互联网':
              break
          }
        } else {
          switch (type) {
            case '电视':
              params.mclass = this.useOpenSearch ? '01' : 'tv'
              break
            case '广播':
              params.mclass = this.useOpenSearch ? '02' : 'bc'
              break
            case '报纸':
              params.mclass = this.useOpenSearch ? '03' : 'paper'
              break
            case '互联网':
              params.mclass = this.useOpenSearch ? '13' : 'net'
              break
          }
          params.fillegaltypecode = this.useOpenSearch ? '' : '-1'
          this.$router.push({ name: this.useOpenSearch ? 'monitoringData2' : 'monitoringData', params: params })
        }
      })
      let Charts2 = echarts.init(this.$refs.Charts2, 'macarons')
      let option2 = {
        title: {
          text: '近七天广告发布走势',
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: ['发布量', '违法量']
        },
        calculable: true,
        xAxis: [
          {
            type: 'category',
            data: date
          }
        ],
        yAxis: [
          {
            type: 'value'
          }
        ],
        series: [
          {
            name: '发布量',
            type: 'bar',
            data: iss,
            markPoint: {
              data: [
                { type: 'max', name: '最大值' },
                { type: 'min', name: '最小值' }
              ]
            },
          },
          {
            name: '违法量',
            type: 'bar',
            data: ill,
            markPoint: {
              data: [
                { type: 'max', name: '最大值' },
                { type: 'min', name: '最小值' }
              ]
            },
          }
        ]
      }
      Charts2.setOption(option2)
      window.onresize = function () {
        Charts1.resize();
        Charts2.resize();
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.home {
  .el-row {
    ._card {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
</style>
