<template>
  <div class="feed-back main-bg"
    v-loading="$store.state.bloading">
    <el-form ref="sform"
      label-width="0px">
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form-item>
            <el-button type="primary"
              class="pull-left"
              @click="_goBack">返回</el-button>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="标题搜索："
            label-width="90px">
            <el-input v-model="form.keyword"
              placeholder="请输入标题"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label-width="0px">
            <el-button type="primary"
              icon="el-icon-tickets"
              :loading="$store.state.bloading"
              @click="_getList(1)">查询</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="cqn_title"
        label="标题"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="cqn_content"
        label="问题详情"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="cqn_recontent"
        label="解答"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_details(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <el-dialog title="问题详情"
      center
      :visible.sync="dialogVisible"
      width="600">
      <h2 class="cqn_title">{{details.cqn_title}}</h2>
      <p class="cqn_content">{{details.cqn_content}}</p>
      <h3 class="answer_title">问题解答：</h3>
      <p class="cqn_recontent">{{details.cqn_recontent}}</p>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      formLabelWidth: '120px',
      dialogVisible: false,
      //表格
      tableData: [],
      form: {
        keyword: '',
        page: 1,
      },
      countAll: '0',
      details: {}
    }
  },
  created() {
    this._getList();
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    // 表格数据获取
    _getList(page) {
      this.$store.commit('_bloading', true)
      this.form.page = page || 1
      let data = { ...this.form }
      axios.post(this.$_ + "/Agp/Commonquestion/index", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _details(obj) {
      this.dialogVisible = true
      this.details = obj
    },
    _goBack() {
      this.$router.go(-1);
    }
  }
}
</script>
<style lang="scss" scoped>
.cqn_title {
  margin: 0;
}
.answer_title {
  margin-top: 30px;
  margin-bottom: 0px;
}
.cqn_recontent,
.cqn_content {
  margin-top: 8px;
  line-height: 1.5em;
}
</style>
