<template>
  <div class="error-page">
    <div class="error-text">
      请输入正确的系统地址 : )
      <p class="error-tips">例：xxxxx.hz-data.xyz/Index/Agp/</p>
    </div>
  </div>
</template>

<style scoped lang='scss'>
.error-page{
  background-color: #373d41;
  height: 100%;
  padding-top: 15%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  .error-text{
    width: 800px;
    margin: 0 auto;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 30px;
    border: 4px solid #fff;
    .error-tips{
      font-size: 30px;
    }
  }
}
</style>
