<template>
  <div class="ghome main-bg">
    <div class="media-block">
      <div class="_card"
        v-for="(item, index) in defaultMediaList"
        :key="index"
        @click="_mediaList(item.mediaClass)">
        <home-card
          :icon-name="item.icon"
          :bg-color="item.color"
          :text="item.title"
          :count="(item.number || 0) + ' 家'" />
      </div>
    </div>
    <br>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-card v-loading="loading">
          <div ref="Charts1">
            <g-map v-if="showchart"></g-map>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
import Gmap from './Gmap'
import homeCard from './common/homeCard'
export default {
  components: {
    homeCard,
    'g-map': Gmap,
  },
  data() {
    return {
      defaultMediaList:[
        {
          mediaClass: '01',
          title: '电视',
          numberName: 'tvmediacount',
          number: 0,
          icon: 'icon-zhongqingdianxinicon08',
          color: '#409eff',
        },
        {
          mediaClass: '02',
          title: '广播',
          numberName: 'bcmediacount',
          number: 0,
          icon: 'icon-guangbo2',
          color: '#e6a23c',
        },
        {
          mediaClass: '03',
          title: '报纸',
          numberName: 'papermediacount',
          number: 0,
          icon: 'icon-baozhi2',
          color: '#67c23a',
        },
        {
          mediaClass: '13',
          title: '互联网',
          numberName: 'netmediacount',
          number: 0,
          icon: 'icon-hulianwang',
          color: '#39c7c8',
        },
        {
          mediaClass: '05',
          title: '户外',
          numberName: 'outmediacount',
          number: 0,
          icon: 'icon-shouye3',
          color: '#f38e6b',
        },
      ],
      loading: false,
      showchart: false,
    }
  },
  created() {
    this.defaultMediaList = this.filterMediaList(this.defaultMediaList)
    this._getData()
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.Charts1.style.height = `${ document.body.clientHeight - 244 }px`
      this.showchart = true
    })
  },
  methods: {
    _mediaList(type) {
      this.$router.push({ name: 'medialist', params: { mclass: type } })
    },
    //电视,广播,报纸数量获取
    _getData() {
      this.loading = true
      axios.post(this.$_ + '/Agp/Index/ghome')
        .then(res => {
          if (res.data.code === 0) {
            this.defaultMediaList.map(i => {
              i.number = res.data.data[i.numberName]
            })
            this._setCharts(res.data.data)
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    filterMediaList(data) {
      let arr = this.$store.state.userInfo.media_class
      const filterArr = data.filter((el)=>{
        for (let index = 0; index < arr.length; index++) {
          const item = arr[index]
          if(item == el.mediaClass){
            return true
          }
        }
      })
      return filterArr
    },
  }
}
</script>

<style lang="scss" scoped>
.ghome {
  .media-block{
    display: flex;
    ._card{
      flex-grow: 1;
      flex-shrink: 0;
      margin: 0 10px;
      &:first-child{
        margin-left: 0px;
      }
      &:last-child{
        margin-right: 0px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
</style>
