<template>
  <div class="map">
    <div style="height:40px">
      <span v-if="$store.state.isgj===1 && $store.state.userInfo.fregulatorlevel===30"
        class="pull-right">
        <el-switch v-model="temp.is_show_fsend"
          active-value="1"
          inactive-value="2"
          active-text="含待确认广告"
          inactive-text=""
          @change="_getData">
        </el-switch>
        <el-switch style="margin-left:20px;"
          v-model="temp.is_show_longad"
          active-value="1"
          inactive-value="0"
          active-text="含栏目广告"
          inactive-text=""
          @change="_getData">
        </el-switch>
      </span>
    </div>
    <div ref="map"
      style="height: 100%;width: 100%;"></div>
  </div>
</template>

<script>
import echarts from 'echarts'
import axios from 'axios'
import qs from 'qs'
import { cityMap, provinceMap, special } from '../../static/maps/map-data.js'

export default {
  data: () => ({
    dataList: [],
    myChart: {},
    mapdata: [],
    map: [],
    mapName: '',
    cityList: {},
    MAX: 0,
    region_id: '',
    region_level: '',
    temp: {
      is_show_fsend: '2',
      is_show_longad: '1'
    },
    levelMap: {
      '30': '20',
      '20': '10',
      '10': '0'
    },
  }),

  computed: {
    opt() {
      return {
        // backgroundColor: '#404a59',
        title: {
          text: `${this.mapName === "china" ? "全国" : this.mapName}近 30 天违法广告播出情况分布图`,
          subtext: '',
          left: 'center',
          textStyle: {
            color: '#000',
          }
        },
        tooltip: {
          trigger: 'item'
        },
        visualMap: {
          type: 'continuous',
          text: ['', ''],
          showLabel: true,
          seriesIndex: [0],
          min: 0,
          max: this.MAX,
          inRange: {
            color: ['#edfbfb', '#b7d6f3', '#40a9ed', '#3598c1', '#215096',]
          },
          textStyle: {
            color: '#000'
          },
          bottom: 30,
          left: 'left',
        },
        series: [
          {
            name: '',
            type: 'map',
            mapType: this.mapName,
            selectedMode: 'multiple',
            showLegendSymbol: false,
            label: {
              normal: {
                show: true
              },
              emphasis: {
                show: true
              }
            },
            itemStyle: {
              normal: {
                areaColor: '#fff',
                borderColor: '#111'
              },
              emphasis: {
                // areaColor: '#2B91B7'
              }
            },
            data: this.mapdata
          }
        ]
      }
    }
  },
  methods: {
    async updateChart() {
      this.myChart.setOption(this.opt);
    },
    sortNumber(a, b) {
      return a - b
    },
    _getData(data) {
      let Data = {
        region_id: this.region_id,
        region_level: this.region_level
      }
      if (this.$store.state.isgj === 1 && this.$store.state.userInfo.fregulatorlevel === 30) {
        Data = { ...Data, ...this.temp }
      }
      axios.post(this.$_ + '/Agp/GjzStatisticalData/thermal_map_30', qs.stringify(Data)).then(res => {
        this.mapdata = res.data
        this.map = res.data
        if (res.data.length) {
          let arr = []
          res.data.forEach(item => {
            arr.push(Number(item.value))
          })
          this.MAX = arr.sort(this.sortNumber).reverse()[0]
        } else {
          this.MAX = 0
        }
        this.init()
      })
    },
    clickHandler(params) {
      let name = params.name
      if (name in provinceMap) {
        // 如果点击的是34个省、市、自治区，绘制选中地区的二级地图
        let _provinceMap = provinceMap
        let province = require(`../../static/maps/province/${_provinceMap[name]}`)
        let aid = this.getId(name)
        if (aid) {
          this.region_id = aid
          this.region_level = '4'
          this._getData()
        }
        echarts.registerMap(name, province);
        this.mapName = name
        this.updateChart()
      } else if (name in cityMap) {
        let _cityMap = cityMap
        // 如果是【直辖市/特别行政区】只有二级下钻
        if (special.indexOf(name) >= 0) {
          this.mapName = name
          this.updateChart()
        } else {
          // 显示县级地图
          let city = require(`../../static/maps/city/${_cityMap[name]}.json`)
          echarts.registerMap(name, city)
          this.mapName = name;
          let region_id = this.getId(name)
          if (region_id) {
            this.region_id = region_id
            this.region_level = '6'
            this._getData()
          } else {
            this.MAX = 0
            this.init()
          }
          this.updateChart()
        }
      } else {
        this._setBase()
        this._getData()
        this.updateChart()
      }
    },
    init() {
      // 初始化 echarts
      this.myChart = echarts.init(this.$refs.map)
      this.myChart.setOption(this.opt)
      this.myChart.on('click', this.clickHandler)
    },
    getId(name) {
      let a = this.mapdata.find(item => {
        return item.name === name
      })
      return a ? a.id : ''
    },
    _setBase() {
      this.region_id = this.$store.state.userInfo.regionid
      let system_num = this.$store.state.userInfo.system_num
      // 440000：广州
      let iscity = [110000, 120000, 310000, 500000, 450100, 440000].includes(system_num)
      let n = iscity ? this.$store.state.userInfo.regionpname : this.$store.state.userInfo.regionpname1
      let chinaMap = require('../../static/maps/china.json')
      let level = this.$store.state.userInfo.fregulatorlevel
      if(this.$store.state.userInfo.index_sub_map === 1){
        // 如果显示下级，先调整
        level = Number(this.levelMap[level])
        n = iscity ? this.$store.state.userInfo.regionname : this.$store.state.userInfo.regionname1
      }
      switch (level) {
        case 0:
          let _cityMap = cityMap
          this.region_level = '6'
          this.mapName = iscity ? this.$store.state.userInfo.regionpname : this.$store.state.userInfo.regionpname1
          if(this.$store.state.userInfo.index_sub_map === 1){
            this.mapName = (iscity || this.$store.state.userInfo.index_sub_map === 1) ? this.$store.state.userInfo.regionname : this.$store.state.userInfo.regionname1
          }
          let city = require(`../../static/maps/city/${_cityMap[this.mapName]}.json`)
          echarts.registerMap(this.mapName, city)
          break;
        case 10:
          this.region_level = '4'
          this.mapName = (n === '' || n === '全国') ? 'china' : n
          let _provinceMap = provinceMap
          let province = require(`../../static/maps/province/${_provinceMap[this.mapName]}`)
          echarts.registerMap(this.mapName, province)
          break;
        case 20:
          this.mapName = 'china'
          this.region_level = '2'
          echarts.registerMap(this.mapName, chinaMap)
          break;
        case 30:
          this.mapName = 'china'
          this.region_level = '2'
          echarts.registerMap(this.mapName, chinaMap)
          break;
      }
    }
  },
  created() {
    this._setBase()
    this._getData()
  },
}
</script>

<style>
.map {
  height: 100%;
  width: 100%;
}
</style>
