<template>
  <div class="home main-bg" v-loading="loading">
    <div class="media-block">
      <div class="_card"
        v-for="(item, index) in defaultMediaList"
        :key="index"
        @click="_mediaList(item.mediaClass)">
        <home-card
          :icon-name="item.icon"
          :bg-color="item.color"
          :text="item.title"
          :count="item.number + ' 家'" />
      </div>
    </div>
    <div class="content-wrap">
      <el-row class="ill-content">
        <div class="ill-wrap">
          <div class="ill-left">
            <div class="ill-item-left">
              <div class="ill-total">
                <div>本月</div>
                <div>违法</div>
                <div>总量</div>
              </div>
            </div>
            <div class="ill-item-left">
              <div style="text-align: center">
                <div class="ill-item-num">{{ ztiaoci }}</div>
                <div >（条次）</div>
              </div>
            </div>
            <div class="ill-item" v-for="(item, index) in illData" :key="index">
              <div class="item-name">
                <div>{{ item.name }}</div>
                <div>{{ item.mclassztiaoci || 0 }}/条次</div>
              </div>
              <div class="item-times">
                <div class="item-times-name">
                  <div class="item-times-num">{{ item.deal }}</div>
                  <div class="item-times-wnum">{{ item.wdeal }}</div>
                </div>
                <div class="item-times-name">
                  <div class="item-times-num">{{ item.mclassycltiaoci  || 0 }}</div>
                  <div class="item-times-wnum">{{ item.mclasswcltiaoci  || 0 }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </el-row>
      <el-row class="ad-content">
        <div class="ad-wrap">
          <div class="ad-left">
            <div class="ad-title">
              近七天广告发布量(条次)
            </div>
            <div class="ad-number">
              {{ stotal }}
            </div>
          </div>
          <div class="ad-right">
            <el-col :span="8" style="height: 100%;padding: 16px;">
              <div ref="Charts1" style="height: 100%"></div>
            </el-col>
            <el-col :span="16" style="height: 100%;padding: 16px;">
              <div ref="Charts2" style="height: 100%"></div>
            </el-col>
          </div>
        </div>
      </el-row>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
import homeCard from './common/homeCard'
export default {
  components: {
    homeCard,
  },
  data() {
    return {
      defaultMediaList:[
        {
          mediaClass: '01',
          title: '电视',
          numberName: 'tvmediacount',
          number: 0,
          icon: 'icon-zhongqingdianxinicon08',
          color: '#409eff',
        },
        {
          mediaClass: '02',
          title: '广播',
          numberName: 'bcmediacount',
          number: 0,
          icon: 'icon-guangbo2',
          color: '#e6a23c',
        },
        {
          mediaClass: '03',
          title: '报纸',
          numberName: 'papermediacount',
          number: 0,
          icon: 'icon-baozhi2',
          color: '#67c23a',
        },
        {
          mediaClass: '13',
          title: '互联网',
          numberName: 'netmediacount',
          number: 0,
          icon: 'icon-hulianwang',
          color: '#39c7c8',
        },
      ],
      stotal: 0,
      ztiaoci: 0,
      illData: [
        {
          mediaClass: '01',
          name: '电视',
          deal: '已处理',
          wdeal: '未处理',
          mclassztiaoci: 0,
          mclassycltiaoci: 0,
          mclasswcltiaoci: 0,
        },
        {
          mediaClass: '02',
          name: '广播',
          deal: '已处理',
          wdeal: '未处理',
          mclassztiaoci: 0,
          mclassycltiaoci: 0,
          mclasswcltiaoci: 0,
        },
        {
          mediaClass: '03',
          name: '报纸',
          deal: '已处理',
          wdeal: '未处理',
          mclassztiaoci: 0,
          mclassycltiaoci: 0,
          mclasswcltiaoci: 0,
        },
        {
          mediaClass: '13',
          name: '互联网',
          deal: '已处理',
          wdeal: '未处理',
          mclassztiaoci: 0,
          mclassycltiaoci: 0,
          mclasswcltiaoci: 0,
        },
      ],
      loading: false,
      chartsHeight: { height: '300px' },
      dataMap: {
        '01': {
          label: '电视',
          value: 'tetvcount'
        },
        '02': {
          label: '广播',
          value: 'tebccount'
        },
        '03': {
          label: '报纸',
          value: 'tepapercount'
        },
        '05': {
          label: '户外',
          value: 'odcount'
        },
        '13': {
          label: '互联网',
          value: 'tenetcount'
        },
      }
    }
  },
  created() {
    this._getData()
    this.defaultMediaList = this.filterMediaList(this.defaultMediaList)
    this.illData = this.filterMediaList(this.illData)
  },
  computed:{
  },
  methods: {
    _mediaList(type) {
      this.$router.push({ name: 'medialist', params: { mclass: type } })
    },
    filterMediaList(data) {
      let arr = this.$store.state.userInfo.media_class
      const filterArr = data.filter((el)=>{
        for (let index = 0; index < arr.length; index++) {
          const item = arr[index]
          if(item == el.mediaClass){
            return true
          }
        }
      })
      return filterArr
    },
     _getData() {
      this.loading = true
      axios.post(this.$_ + '/Agp/Index/getindexdata3')
        .then(res => {
          if (res.data.code === 0) {
            this.loading = false
            let data = res.data.data
            this._setCharts(data)
            this.defaultMediaList.map(i => {
              i.number = data[i.numberName]
            })
            this.stotal = data.issuecount //七天总量
            this.ztiaoci = data.illMonthData.ztiaoci // 本月违法总量
            this.illData.map(i => {
              i.mclassztiaoci =  data.illMonthData.mclassdata[i.mediaClass].mclassztiaoci
              i.mclassycltiaoci = data.illMonthData.mclassdata[i.mediaClass].mclassycltiaoci
              i.mclasswcltiaoci = data.illMonthData.mclassdata[i.mediaClass].mclasswcltiaoci
            })
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _setCharts(data) {
      let date = []
      let iss = []
      let ill = []
      data.sevendaydata.forEach(item => {
        date.push(item.nowdate)
        iss.push(item.nowcount)
        ill.push(item.nowcount2)
      })
      let Charts1 = echarts.init(this.$refs.Charts1, 'macarons')
      let option1 = {
        title: {
          text: '近七天媒介发布占比',
          textStyle:{
            color: '#888888'
          }
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        series: [
          {
            name: '发布数量',
            type: 'pie',
            radius: '55%',
            center: ["50%", "55%"], 　
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: true,
              }
            },
            itemStyle: {
              borderWidth: 2,
              borderColor: '#ffffff',
            },
            data: this.paiData(this.$store.state.userInfo.media_class,data)
          }
        ]
      }
      Charts1.setOption(option1)
      let Charts2 = echarts.init(this.$refs.Charts2, 'macarons')
      let option2 = {
        title: {
          text: '近七天广告发布走势',
          textStyle:{
            color: '#888888'
          }
        },
        tooltip: {
          trigger: 'axis'
        },
         grid: {
           left: '10%',
           right: '6%',
           top: '22%',
           bottom: '8%',
        },
        legend: {
          top: '4%',
          right: '6%',
          data: ['发布量', '违法量']
        },
        calculable: true,
        xAxis: [
          {
            type: 'category',
            axisLine: {
              lineStyle: {
                color: '#888888',
              }
            },
            data: date,
          },
        ],
        yAxis: [
          {
            type: 'value',
            axisLine: {
              show: false,
              lineStyle: {
                color: '#888888',
              }
            },
            axisTick:{
              show: false,
            },
          },
        ],
        series: [
          {
            name: '发布量',
            type: 'line',
            data: iss,
            markPoint: {
              data: [
                { type: 'max', name: '最大值' },
                { type: 'min', name: '最小值' }
              ],
            },
          },
          {
            name: '违法量',
            type: 'line',
            data: ill,
            markPoint: {
              data: [
                { type: 'max', name: '最大值' },
                { type: 'min', name: '最小值' }
              ],
            },
          },
        ]
      }
      Charts2.setOption(option2)
      window.onresize = function () {
        Charts1.resize();
        Charts2.resize();
      }
    },
    paiData(mediaClass, data){
      let res = mediaClass.filter(v => v !== '05').map(i => {
        return {
          value: data[this.dataMap[i].value],
          name: this.dataMap[i].label
        }
      })
      return res
    },
  }
}
</script>

<style lang="scss" scoped>
.home {
   height:100%;
  .media-block{
    display: flex;
    ._card{
      flex-grow: 1;
      flex-shrink: 0;
      margin: 0 10px;
      &:first-child{
        margin-left: 0px;
      }
      &:last-child{
        margin-right: 0px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .content-wrap{
    height: calc(100% - 120px);
    padding-top: 24px;
    color: #666;
    box-sizing: border-box;
    .ill-content{
      height: 40%;
      .ill-wrap{
        height: 100%;
        display: flex;
        border: 1px solid #ebeef5;
        .ill-left{
          width: 100%;
          display: flex;
          .ill-item-left{
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #ebeef5;
            font-size: 20px;
            .ill-total{
              div{
                line-height: 40px;
              }
            }
            .ill-item-num{
              font-size: 30px;
              font-weight: 600;
              color: #F56C6C;
            }
          }
          .ill-item{
            flex: 1;
            border-right: 1px solid #ebeef5;
            .item-name{
              height: 40%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid #ebeef5;
              font-size: 20px;
              box-sizing: border-box;
              background-color: #f5f7fa;
              :nth-child(1){
                line-height: 40px;
              }
            }
            .item-times{
              height: 60%;
              color: #8a8a8a;
              .item-times-name{
                display: flex;
                height: 50%;
                border-bottom: 1px solid #ebeef5;
              }
              :last-child{
                border-bottom: 0px;
              }
              .item-times-num{
                width:50%;
                border-right: 1px solid #ebeef5;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .item-times-wnum{
                width:50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          :last-child{
            border-right: 0px;
          }
        }
        .ill-right{
          display: flex;
          div{
            flex: 1;
          }
        }
      }
    }
    .ad-content{
      padding-top: 24px;
      box-sizing: border-box;
      height: 60%;
      .ad-wrap{
        height: 100%;
        display: flex;
        border: 1px solid #ebeef5;
        .ad-left{
          width: 240px;
          height: 100%;
          text-align: center;
          border-right: 1px solid #ebeef5;
          .ad-title{
            height: 60px;
            color: #888888;
            line-height: 60px;
            font-weight: 700;
            background: #f8f8f8;
            border-bottom: 1px solid #ebeef5;
          }
          .ad-number{
            height: calc(100% - 61px);
            font-size: 40px;
            color: #01addd;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .ad-right{
          flex: 1;
          height: 100%;
        }
      }
    }
  }
}
</style>
