<template>
  <div class="home main-bg">
    <el-row :gutter="20">
      <el-col class="_card"
        :span="6">
        <home-card
          icon-name="icon-meiti"
          bg-color="#409eff"
          text="媒体数量"
          :count="Data.mediacount + ' 家'" />
      </el-col>
      <el-col class="_card"
        :span="6">
        <home-card
          icon-name="icon-xs-deal"
          bg-color="#e6a23c"
          text="本月线索总量"
          :count="Data.illegalcount + ' 条'" />
      </el-col>
      <el-col class="_card"
        :span="6">
        <home-card
          icon-name="icon-deal"
          bg-color="#67c23a"
          text="本月线索处理量"
          :count="Data.illegalprocessedcount + ' 条'" />
      </el-col>
      <el-col class="_card"
        :span="6">
        <home-card
          icon-name="icon-wait-deal"
          bg-color="#3ac7c9"
          text="本月线索待处理量"
          :count="Data.illegalwaitcount + ' 条'" />
      </el-col>
    </el-row>
    <br>
    <!-- <el-row>
      <img src="../../static/img/bg02.jpg" alt="" width="100%" height="100%" style=" opacity: 0.5;">
    </el-row> -->
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import homeCard from './common/homeCard'
export default {
  components: {
    homeCard,
  },
  data() {
    return {
      Data: {
        mediacount: '0',
        illegalcount: '0',
        illegalprocessedcount: '0',
        illegalwaitcount: '0'
      },
      loading: false,
    }
  },
  created() {
    this._getData()
  },
  methods: {
    _getData() {
      this.loading = true
      const data = {
        homeType: 1,
      }
      axios.post(this.$_ + '/Agp/Index/getindexdata',qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.Data = res.data.data
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
  }
}
</script>

<style lang="scss" scoped>
.home {
  height:100%;
  .el-row {
    ._card {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
</style>
