<template>
  <component :is="componentId"></component>
</template>

<script>
import home from '@/components/_Home'
import home_x from '@/components/home_x'
import home_gz from '@/components/home_gz' //  贵州
import ghome from '@/components/ghome'
  export default {
    components: { home, home_x, home_gz, ghome },
    computed: {
      componentId(){
        let homeId = this.$store.state.userInfo.homeModel
        switch (homeId) {
          case 0:
            return 'ghome';
          case 1:
            return 'home';
          case 3:
            return 'home_x';
          case 4:
            return 'home_gz';
          default:
            return 'ghome';
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>