<template>
  <div class="main">
    <el-card :body-style='{padding:0}'>
      <h3>违法广告监控</h3>
      <div class="content-list">
        <div v-for="(item,index) in illAdList" :key="index" class="content-box" :class="index === 1? 'border' : ''" @click="dataDetails(item,index + 1,'')">
          <div class="content-item">
            <div>{{item.name}}</div>
            <div>{{item.num}} 条</div>
          </div>
        </div>
      </div>
    </el-card>
    <el-dialog :title=" title + '违法广告条数'"
      center
      :before-close="_colse"
      :visible.sync="show"
      width="70%">
      <el-table :data="gridData"
        height="400"
        border
        v-loading="loading">
        <el-table-column width="80"
          align="center"
          label="媒体分类">
          <template slot-scope="scope">
            {{$store.state.allmediatype[scope.row.fmedia_class]}}
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          align="center"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fad_name"
          width="200"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="100"
          align="center"
          prop="fcount"
          label="播出总条次"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="100"
          align="center"
          prop="diffweek"
          label="播出周数"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="播出时间段"
          width="210"
          show-overflow-tooltip>
          <template slot-scope="scope">
            {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
          </template>
        </el-table-column>
        <el-table-column width="140"
          label="涉嫌违法代码">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        style="display:inline-block;"
        layout="total"
        :total="total"
        :page-size="10">
      </el-pagination>
      <a :href="durl" target="_blank" v-if="durl"><el-button class="pull-right" type="success" style="margin-left: 10px;">下载</el-button></a>
      <el-button class="pull-right" type="primary" @click="dataDetails('', dataType, 'xls')" :loading="outloading" :disabled="total === 0">导出</el-button>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'

export default {
  props: ['data', 'posturl'],
  data() {
    return {
      loading: false,
      illAdList: [
        { name: '重复播放',num: 0},
        { name: '已停播',num: 0},
        { name: '新增', num: 0},
      ],
      durl: '',
      title: '',
      dataType: '',
      gridData: [],
      show: false,
      total: 0,
      dataDetail: {
        page: 1,
      },
      outloading: false,
    }
  },
  created() {
    this.dataDetails()
  },
  methods: {
    dataDetails(val,index,type) {
      this.dataType = index
      const data = {
        showType: 0,
        dataType: index? [ index ] : [],
      }
      if(val){
        data.showType = 1
        this.title = val.name
        this.show = true
        this.loading = true
      }
      if(type) {
        this.outloading = true
        data.showType = 1
        data.outtype = type
        data.dataType = [ this.dataType ]
      }
      // console.log(data)
      axios.post(this.$_ + "/Agp/Gckchuli/illCondition", qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          let data = res.data.data
          if(!val && !type){
            this.illAdList[0].num = data.cfIllCount || 0
            this.illAdList[1].num = data.noPlayCount || 0
            this.illAdList[2].num = data.newPlayCount || 0
          } else {
            if(type){
              this.durl = data
              this.outloading = false
            }else{
              this.gridData = index === 1 ? data.cfIllData : index === 2 ? data.noPlayData : data.newPlayData
              this.total = this.gridData.length
              this.loading = false
            }
          }
        }else{
          this.$func._error(res.data)
        }
        this.loading = false
      })
      .catch(() => {
        this.$func._error()
        if(type){
          this.$func._error('导出出错！')
          this.outloading = false
        }
      })
    },
    _colse() {
      this.show = false
      this.durl = ''
    }
  }
}
</script>

<style scoped lang="scss">
.main{
  h3{
    margin: 0;
    height: 40px;
    font-weight: 400;
    line-height: 40px;
    color: #0189ce;
    margin-left: 15px;
    border-bottom: 1px solid #ededed;
  }
  .content-list{
    height: 100px;
    display: flex;
    .content-box{
      flex: 1;
      padding: 14px 0;
      text-align: center;
      &:hover{
        cursor: pointer;
        background-color: #ededed60;
      }
      .content-item{
        div:nth-child(1){
          height: 45px;
          color: #666666;
          line-height: 45px;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
  .border{
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
  }
}
</style>