<template>
  <div class="login-jump">
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
  export default {
    data() {
      return {
      }
    },
    created() {
      const { code, token } = this.$route.query
      if(code && token){
        this.login(code, token)
      }else{
        this.$router.push('/login')
      }
    },
    methods: {
      login(code, token){
        axios.post(this.$_ + '/Agp/Login/ah_login', qs.stringify({ code, token }))
        .then(res => {
          if (res.data.code === 0) {
            localStorage.removeItem('MenuPermission')
            const v = res.data.data
            // 循环菜单权限
            let permissionArr = ['login']
            v.forEach(item => {
              if (item.list && item.list.length) {
                item.list.forEach(o => {
                  permissionArr.push(o.menu_url)
                })
              } else {
                permissionArr.push(item.menu_url)
              }
            })
            if(permissionArr.includes('ginspectresult2') || permissionArr.includes('inspectiontask2')){
              permissionArr.push('ginspectcheck')
            }
            if(permissionArr.includes('evidencecart')){
              permissionArr.push('evidenceapply')
            }
            if(permissionArr.includes('shsjjc')){
              permissionArr.push('shsjxq')
            }
            if(permissionArr.includes('sjjcah')){
              permissionArr.push('sjjcahxq')
            }
            permissionArr.push('medialist', 'feedback', 'commonquestion', 'ajxsxq', 'loginjump', 'loginjumpGZ', 'illegaltadFJ', 'tadsearchFJ')
            localStorage.setItem('MenuPermission', JSON.stringify(permissionArr))
            this.$router.push(permissionArr[1])
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>