<template>
  <div class="login-jump">
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
  export default {
    data() {
      return {
      }
    },
    created() {
      const { token, time, username } = this.$route.query
      if(time && token, username){
        this.login(time, token, username)
      }else{
        this.$router.push('/login')
      }
    },
    methods: {
      login(time, token, username){
        axios.get(this.$_ + `/Agp/Login/gz_login?time=${time}&token=${token}&username=${username}`)
        .then(res => {
          if (res.data.code === 0) {
            localStorage.removeItem('MenuPermission')
            const v = res.data.data
            // 循环菜单权限
            let permissionArr = ['login']
            v.forEach(item => {
              if (item.list && item.list.length) {
                item.list.forEach(o => {
                  permissionArr.push(o.menu_url)
                })
              } else {
                permissionArr.push(item.menu_url)
              }
            })
            if(permissionArr.includes('ginspectresult2') || permissionArr.includes('inspectiontask2')){
              permissionArr.push('ginspectcheck')
            }
            if(permissionArr.includes('evidencecart')){
              permissionArr.push('evidenceapply')
            }
            if(permissionArr.includes('shsjjc')){
              permissionArr.push('shsjxq')
            }
            if(permissionArr.includes('sjjcah')){
              permissionArr.push('sjjcahxq')
            }
            permissionArr.push('medialist', 'feedback', 'commonquestion', 'ajxsxq', 'loginjump', 'loginjumpGZ', 'illegaltadFJ', 'tadsearchFJ')
            localStorage.setItem('MenuPermission', JSON.stringify(permissionArr))
            this.$router.push(permissionArr[1])
          } else {
            this.$message({
              type: 'error',
              message: res.data.msg,
              onClose: () => {
                this.$router.push({
                  'name': 'login',
                  params: {
                    jump: true
                  }
                })
              }
            })
          }
        })
        .catch(() => {
          this.$func._error()
        })
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>