<template>
  <div @keyup.enter="onSubmit">
    <div class="header">
      <img class="logoimg"
        v-if="$store.state.loginurl"
        :src="$store.state.loginurl">
      <div class="logowz"
        v-html="$store.state.logowz"
        style=""></div>
    </div>
    <div class="login">
      <div class="login_form">
        <el-form ref="form"
          :model="form"
          :rules="rules">
          <p class="name"
            v-text="$store.state.loginwz"></p>
          <el-form-item prop="fcode">
            <span class="ico"><i class="code_ico"></i></span>
            <el-input v-model="form.fcode"
              ref="fcode"
              placeholder="账号"
              size="middle"
              class="fcode"
              @blur="checkState"></el-input>
          </el-form-item>
          <el-form-item prop="fpassword">
            <span class="ico"><i class="password_ico"></i></span>
            <el-input type="password"
              size="middle"
              v-model="form.fpassword"
              placeholder="登录密码"
              class="password"></el-input>
          </el-form-item>
          <el-form-item v-if="phone_verify" prop="phoneverify">
            <span class="ico"><i class="code_verify"></i></span>
            <el-input type="text"
              size="middle"
              v-model="form.phoneverify"
              placeholder="短信验证码"
              class="password">
                <el-button slot="append" :disabled="time !== 0" @click="sendPhoneVerify">{{time === 0 ? `发送`:`重新获取(${time})`}}</el-button>
              </el-input>
          </el-form-item>
          <el-form-item v-if="need_verify">
            <div>
              <el-input type="text"
                v-model="form.verify"
                size="middle"
                placeholder="验证码"
                style="width:50%;float:left;"></el-input>
              <img :src="$_ + '/Agp/Login/verify/' + tstring"
                width="45%"
                height="40px"
                alt="验证码加载失败"
                class="pull-right"
                @click="_changeVerify">
            </div>
          </el-form-item>
          <el-form-item>
            <el-button type="primary"
              @click="onSubmit"
              :disabled="loading"
              class="land">{{loading?'正在登录...':'登录'}}</el-button>
          </el-form-item>
          <el-form-item>
            <span @click="forgotPwd" class="forgotpwd">忘记密码？</span>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div class="beian">
      <a href="http://www.beian.miit.gov.cn/" target="_blank">备案号：浙ICP备16015379号-6</a>
    </div>
    <error v-if="$store.state.showError" />
    <admin-login v-if="$route.query.admin==='hzsj'" />
    <change-pwd v-if="showPwd" @close="newPwd" page='login'></change-pwd>
  </div>
</template>
<script>
import {encrypt} from '@/until/rsa.js'
import axios from 'axios'
import qs from 'qs'
import error from './error'
import adminLogin from './common/adminLogin'
import changePwd from './common/changePwd'
export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
      // 通过 `vm` 访问组件实例
      vm.$store.dispatch('_getTitle')
      vm.$store.commit('changeTaskState', true)
    })
  },
  components: {
    error,
    adminLogin,
    changePwd
  },
  data() {
    return {
      form: {
        fcode: "",
        fpassword: "",
        verify: '',
        phoneverify: '',
      },
      loading: false,
      showWarning: true,
      phone_verify: false,
      need_verify: false,
      tstring: '',
      rules: {
        fcode: [
          { required: true, message: '请填写账号', trigger: 'blur' },
        ],
        fpassword: [
          { required: true, message: '密码最小长度为 6 位', trigger: 'blur' },
          { min: 6, message: '最小长度为 6 个字符', trigger: 'blur' }
        ],
        phoneverify: [
          { required: true, message: '请输入短信验证码', trigger: 'blur' }
        ]
      },
      showPwd: false,
      timer: null,
      time: 0
    }
  },
  watch: {
    'form.fcode': {
      handler(val){
        this.phone_verify = false
        this.showWarning = true
      },
      deep: true
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.$func.clearAllCookie()
      if (this.$store.state.userInfo.system_num === 310000) {
        document.querySelector('#chatBtn').remove()
      }
    })
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let fcode = encrypt(this.form.fcode)
          let fpassword = encrypt(this.form.fpassword)
          let data = {
            verify: this.form.verify,
            fpassword,
            fcode,
          }
          if(this.phone_verify) data.phoneverify = this.form.phoneverify
          this.loading = true
          axios.post(this.$_ + '/Agp/Login/ajax_login', qs.stringify(data))
            .then(res => {
              if (res.data.code === 0) {
                localStorage.removeItem('MenuPermission')
                const v = res.data.data
                // 循环菜单权限
                let permissionArr = ['login']
                v.forEach(item => {
                  if (item.list && item.list.length) {
                    item.list.forEach(o => {
                      permissionArr.push(o.menu_url)
                    })
                  } else {
                    permissionArr.push(item.menu_url)
                  }
                })
                if(permissionArr.includes('ginspectresult2')||permissionArr.includes('inspectiontask2')){
                  permissionArr.push('ginspectcheck')
                }
                if(permissionArr.includes('ginspectresult3')){
                  permissionArr.push('inspectiontask3')
                }
                if(permissionArr.includes('evidencecart')){
                  permissionArr.push('evidenceapply')
                }
                if(permissionArr.includes('shsjjc')){
                  permissionArr.push('shsjxq')
                }
                if(permissionArr.includes('sjjcah')){
                  permissionArr.push('sjjcahxq')
                }
                permissionArr.push('medialist', 'feedback', 'commonquestion', 'ajxsxq', 'loginjump', 'loginjumpGZ')
                localStorage.setItem('MenuPermission', JSON.stringify(permissionArr))
                this.$router.push(permissionArr[1])
              }else if(res.data.code === -2) {
                this.phone_verify = true
                this.$notify.warning('系统检测到你目前处于异地登录状态，需要手机验证才能登录')
                this.need_verify = res.data.need_verify || false
                if (res.data.need_verify) {
                  this._changeVerify()
                }
              } else {
                this.$func._error(res.data)
                this.need_verify = res.data.need_verify || false
                if (res.data.need_verify) {
                  this._changeVerify()
                }
              }
              this.loading = false
            })
            .catch(() => {
              this.$func._error()
              this.loading = false
            })
        }
      })
    },
    checkState(){
      let fcode = encrypt(this.form.fcode)
      axios.post(this.$_ + '/Agp/Login/get_checkphoneverify', qs.stringify({fcode})).then(res => {
        let { nv, pv } = res.data.data
        this.need_verify = nv
        this.phone_verify = pv
        if(pv && this.showWarning){
          this.$notify.warning('系统检测到你目前处于异地登录状态，需要手机验证才能登录')
          this.showWarning = false
        }
      })
    },
    sendPhoneVerify(){
      let fcode = encrypt(this.form.fcode)
      axios.post(this.$_ + '/Agp/Login/send_phoneverify', qs.stringify({fcode})).then(res => {

      })
      this._reVerify()
    },
    // 发送验证码
    _reVerify() {
      this.time = 60
      this.timer = setInterval(() => {
        if (this.time !== 0) {
          this.time -= 1
        } else {
          clearInterval(this.timer)
        }
      }, 1000)
    },
    _changeVerify() {
      this.tstring = new Date().getTime()
    },
    forgotPwd() {
      this.showPwd = true;
    },
		newPwd(data){
			this.showPwd=false;
		}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.login {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2c3e50;
  background-image: url("../../static/img/logo_background.jpg");
  text-align: center;
  .title {
    top: -150px;
    left: -50%;
    color: #fff;
    text-align: right;
    font-size: 50px;
  }
  .login_form {
    background-color: rgba(19, 34, 36, 0.4);
    // border-radius: 4px;
    width: 272px;
    padding: 20px 40px 55px 40px;
    position: absolute;
    top: 228px;
    right: 15%;
  }
  .land {
    // background-color: #00a0ea;
    width: 272px;
    height: 40px;
    border-radius: 2px;
  }
  .name {
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 25px;
  }
}
.header {
  padding-left: 18%;
  margin: 19px auto;
  height: 51px;
  background-size: 51px 51px;
  background-repeat: no-repeat;
  .logoimg {
    float: left;
    height: 100%;
  }
  .logowz {
    vertical-align: middle;
    padding-left: 10px;
    font-weight: bolder;
    color: #1f90e6;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    display: table-cell;
    height: 51px;
  }
}
.fcode input {
  border-radius: 0px !important;
}
.login_form .el-form-item {
  width: 272px;
}
.login_form .ico {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  background-color: #aaabab;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 40px;
  position: absolute;
  z-index: 1;
}
.login_form .ico i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  text-align: center;
  line-height: 38px;
  margin-top: 7px;
}
.password_ico {
  background-image: url("../../static/img/password.png");
}
.code_ico {
  background-image: url("../../static/img/code.png");
}
.code_verify {
  background-image: url("../../static/img/verify.png");
}
.forgotpwd{
  &:hover{
    color: #00a0ea;
  }
  color: #fff;
  cursor: pointer;
  float: right;
}
.beian{
  position: absolute;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}
</style>
<style>
.password .el-input__inner,
.fcode .el-input__inner {
  border-radius: 0px;
  padding-left: 45px;
}
</style>
