<template>
  <div class="Manage">
    <el-container>
      <el-aside :width="ismini ? 'auto' : '220px'">
        <el-menu ref="Menu"
          :router="true"
          :default-active="$route.name"
          class="el-menu-vertical-demo"
          background-color="#373d41"
          text-color="#fff"
          active-text-color="#00C1DE"
          :unique-opened="true"
          :collapse-transition="false"
          :collapse="ismini">
          <div style="padding:15px 12px 0px;"
            v-show="ismini">
            <img :src="$store.state.loginurl2"
              width="100%"
              v-if="false">
          </div>
          <div :style="imgstyle"
            v-show="!ismini">
            <img :src="$store.state.loginurl2"
              width="100%"
              v-if="$store.state.loginurl2">
            <p id="title"
              v-html="$store.state.Gtitle"></p>
          </div>
          <el-submenu v-for="item in $store.state.menu"
            :key="item.menu_id"
            :index="item.menu_id"
            v-if="item.list && item.list.length">
            <template slot="title">
              <div>
                <i :class="item.icon"></i>
                <span>{{ item.menu_name }}</span>
                <el-badge class="mark pull-right"
                  is-dot
                  v-if="item.taskcount" />
              </div>
            </template>
            <el-menu-item v-for="item2 in item.list"
              :key="item2.menu_id"
              :index="item2.menu_url">
              <div>
                <span>{{ item2.menu_name }}</span>
                <el-badge class="pull-right"
                  :max="99"
                  :value="Number(item2.taskcount)"
                  v-if="item2.taskcount" />
              </div>
            </el-menu-item>
          </el-submenu>
          <el-menu-item :key="item.menu_id"
            :index="item.menu_url"
            v-else>
            <div>
              <i :class="item.icon"></i>
              <span slot="title">{{ item.menu_name }}</span>
              <el-badge class="pull-right"
                :max="99"
                :value="Number(item.taskcount)"
                v-if="item.taskcount" />
            </div>
          </el-menu-item>
        </el-menu>
        <div id="toggleMenu"
          @click="ismini = !ismini"
          :style="{'left':left}">
          <i :class="ismini ? 'el-icon-caret-right':'el-icon-caret-left'"></i>
        </div>
      </el-aside>
      <el-container>
        <el-header height="40px">
          <div class="m_header">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item v-for="item in nav"
                :key="item">{{ item }}</el-breadcrumb-item>
            </el-breadcrumb>
            <div>
              <el-dropdown style="cursor: pointer" trigger="click" v-if="$store.state.userInfo.system_num === 130000">
                <span class="a-blue">
                  三品一械广告审查备案目录<i class="el-icon-arrow-down el-icon--right"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item>
                    <a href="http://app1.sfda.gov.cn/datasearch/face3/base.jsp?tableId=25&tableName=TABLE25&title=%B9%FA%B2%FA%D2%A9%C6%B7&bcId=124356560303886909015737447882" target="_blank" >
                      <div style="color: #00c1de;">食品</div>
                    </a>
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <a href="http://qy1.sfda.gov.cn/datasearchcnda/face3/base.jsp?tableId=26&tableName=TABLE26&title=??%D0%B5&bcId=118103058617027083838706701567" target="_blank">
                      <div style="color: #00c1de;">药品、医疗器械、化妆品</div>
                    </a>
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <a
                v-if="$store.state.userInfo.system_num === 520000"
                href="/Agp/Login/gz_gjjlogin"
                target="_blank">
                <el-button type="text" class="f14">进入国家总局广告监测平台&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
              </a>
              <a
                v-if="$store.state.userInfo.system_num === 520000"
                href="/Agp/Login/gz_synlogin"
                target="_blank">
                <el-button type="text" class="f14">进入贵州省户外广告监管平台 &nbsp;&nbsp;&nbsp;&nbsp;</el-button>
              </a>
              <div class="illegallib" @click="showill = true" style="color: #00c1de;">法规库&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <a
                v-if="$store.state.userInfo.regionid ? ($store.state.userInfo.regionid.substring(0,2) === '35' && !$store.state.isgj) : false"
                href="/Index/Agp/jiancebz.html"
                target="_blank">
                <el-button type="text" class="f14">监测编码&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
              </a>
              <a v-for="(value,key) in czsc"
                :key="key"
                v-if="$store.state.userInfo.regionid ? ($store.state.userInfo.regionid.substring(0,2) == key && !$store.state.isgj) : false"
                :href="value"
                target="_blank">
                <el-button type="text" class="f14">操作手册&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
              </a>
              <a v-for="(item,index) in $store.state.userInfo.thirdlink" :key="index"
                :href="item.url"
                v-if="$store.state.userInfo.thirdlink.length"
                target="_blank">
                <el-button type="text" class="f14">{{ item.name }}&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
              </a>
              <el-dropdown size="middle" v-if="$store.state.userInfo.jishuzc === 1">
                <span class="el-dropdown-link">
                  <div class="tip-sms">
                    技术支持
                  </div>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item>
                    <div style="font-size:16px;font-weight:bold;border-bottom: 2px solid #000;">24 小时服务热线</div>
                    <div>负责人：纪莉（18606713323）</div>
                    <div>客服：杨丹（13777358525）</div>
                    <div>技术：赵国琪（13758156171）</div>
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <el-dropdown @command="_toPage"
                size="middle">
                <span class="el-dropdown-link">
                  <div class="tip-sms">
                    <i class="el-icon-message"></i>
                    <el-badge is-dot
                      v-if="$store.state.dbData.length" />
                  </div>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item @click.native="clickPush(item)"
                    v-for="(item,index) in $store.state.dbData"
                    :key="index">{{item.fname}}</el-dropdown-item>
                  <el-dropdown-item v-if="!$store.state.dbData.length">无任务</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <el-dropdown @command="_toPage"
                size="middle"
                trigger="click">
                <span class="el-dropdown-link">
                  您好，{{$store.state.userInfo.fname}}
                  <i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <a v-if="$store.state.isG"
                    href="http://gjjwlgg.adlife.com.cn:9999/workplatform/sys/loginpage"
                    target="_blank"
                    style="text-decoration: none;">
                    <el-dropdown-item>互联网工作平台</el-dropdown-item>
                  </a>
                  <el-dropdown-item @click.native="_feedBack">在线留言</el-dropdown-item>
                  <el-dropdown-item @click.native="_commonquestion">常见问题</el-dropdown-item>
                  <el-dropdown-item @click.native="showPwd = true">修改密码</el-dropdown-item>
                  <el-dropdown-item v-if="$store.state.userInfo.system_num === 100000">
                    <a href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%E5%9B%BD%E5%AE%B6%E5%B8%82%E5%9C%BA%E7%9B%91%E7%9D%A3%E7%AE%A1%E7%90%86%E6%80%BB%E5%B1%80%E5%B9%BF%E5%91%8A%E7%9B%91%E7%9D%A3%E7%AE%A1%E7%90%86%E5%8F%B8%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
                      target="_blank">操作手册</a>
                  </el-dropdown-item>
                  <el-dropdown-item v-if="$store.state.userInfo.system_num === 130100 && $store.state.userInfo.fregulatorlevel === 10">
                    <a href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%EF%BC%88%E5%B8%82%E5%B1%80%E7%89%88%EF%BC%89%E7%9F%B3%E5%AE%B6%E5%BA%84%E5%B8%82%E5%B7%A5%E5%95%86%E5%B1%80%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
                      target="_blank">操作手册</a>
                  </el-dropdown-item>
                  <el-dropdown-item v-if="$store.state.userInfo.system_num === 520000">
                    <a href="http://datamanagerplatform.finesoft.com.cn/1584529393953?attname=%E8%B4%B5%E5%B7%9E%E7%9C%81%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
                      target="_blank" style="color: #606266;">操作手册</a>
                  </el-dropdown-item>
                  <el-dropdown-item v-if="$store.state.userInfo.system_num === 130100 && $store.state.userInfo.fregulatorlevel === 0">
                    <a href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%EF%BC%88%E5%8C%BA%E5%8E%BF%E7%89%88%EF%BC%89%E7%9F%B3%E5%AE%B6%E5%BA%84%E5%B8%82%E5%B7%A5%E5%95%86%E5%B1%80%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
                      target="_blank">操作手册</a>
                  </el-dropdown-item>
                  <el-dropdown-item v-if="$store.state.userInfo.system_num === 430000"><a href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%E6%B9%96%E5%8D%97%E7%9C%81%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
                      target="_blank">操作手册</a></el-dropdown-item>
                  <el-dropdown-item @click.native="_outLogin">退出登录</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
        </el-header>
        <el-main>
          <transition name="slide-fade">
            <router-view v-if="$store.state.menu[0]['menu_id'] && $store.state.userInfo.regionid && showPage" @refreash="refreash"></router-view>
          </transition>
        </el-main>
      </el-container>
    </el-container>
    <edit-pwd v-if="showPwd"
      @close="showPwd = false"
      @success="_outLogin">
    </edit-pwd>
    <change-pwd v-if="!$store.state.safePWD||!$store.state.trueNUM"></change-pwd>
    <illegal v-if="showill" @close="showill = false" />
  </div>
</template>
<script>
import editPwd from './common/editPwd'
import changePwd from './common/changePwd'
import illegal from '@/components/common/illegal'
import axios from "axios"
import qs from "qs"
export default {
  components: {
    editPwd,
    changePwd,
    illegal
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm._setMeta(vm, to)
      vm.$store.dispatch('_userMenujurisdiction', vm.$route.path).then(() => {
        vm.$store.dispatch('_getDB')
      })
      vm.$store.dispatch('_getTregion')
      vm.$store.dispatch('_getTregion2')
      vm.$store.dispatch('_getTregion3')
      vm.$store.dispatch('_tregionList')
      vm.$store.dispatch('_getIllegaltype')
      vm.$store.dispatch('_getTitle')
      vm.$store.dispatch('_getAllClass')
      vm.$store.dispatch('_getExpression')
      vm.$store.dispatch('_getMediatregion')
      vm.$store.dispatch('_getMediatregion2')
      vm.$store.dispatch('_getMediatregion3')
      vm.$store.dispatch('_getcjOrg')
    })
  },
  beforeRouteUpdate(to, from, next) {
    if (this.$refs.Menu) this.$refs.Menu.activeIndex = to.name
    next()
  },
  data() {
    return {
      adClass: [],
      ismini: false,
      menuPid: '',
      showPwd: false,
      showill: false,
      showPage: true,
      imgstyle: {
        padding: '30px 60px'
      },
      czsc: {
        '35': 'http://publichz.oss-cn-hangzhou.aliyuncs.com/%E7%A6%8F%E5%BB%BA%E7%9C%81%E5%B7%A5%E5%95%86%E5%B1%80%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E7%B3%BB%E7%BB%9F%E9%A1%B9%E7%9B%AE%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C20181010.docx',
        '44': 'http://publichz.oss-cn-hangzhou.aliyuncs.com/%E5%B9%BF%E4%B8%9C%E7%9C%81%E5%B9%BF%E5%91%8A%E7%9B%91%E7%AE%A1%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx',
      }
    };
  },
  methods: {
    refreash(){
      this.showPage = false
      this.$nextTick(() => {
        this.showPage = true
      })
    },
    clickPush(row) {
      let arg = row.furl.split('|')
      this.$router.push({ name: arg[0], params: { year: '0', activeTab: arg[1] } })
    },
    _toPage(path) {
      this.$router.push({ 'path': path })
    },
    _outLogin() {
      axios.post(this.$_ + '/Agp/Core/quietlogin')
        .then(res => {
          this.$router.push({ 'path': 'login' })
          localStorage.removeItem('MenuPermission')
          setTimeout(() => {
            location.reload()
          },200)
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _setMeta(vue, to) {
      let obj = {
        0: {
          menuname: '监测汇总',
          menuname2: '线索汇总'
        },
        10: {
          menuname: '监测汇总',
          menuname2: '线索汇总'
        },
        20: {
          menuname: '监测汇总',
          menuname2: '线索汇总'
        },
        30: {
          menuname: '监测汇总',
          menuname2: '线索汇总'
        }
      }
    },
    _feedBack() {
      this.$router.push({ path: 'FeedBack' })
    },
    _commonquestion() {
      this.$router.push({ path: 'commonquestion' })
    },
    // gzLink() {
    //   axios.post(this.$_ + '/Agp/Login/gz_synlogin',JSON.stringify({ 'username': 'gzsjg' }))
    //   .then(res => {
    //     if(res.data.code === 0){
    //       const a = document.createElement('a')
    //       a.href = res.data.data
    //       a.target='_blank'
    //       a.click()
    //     }else{
    //        this.$func._error(res.data.msg)
    //     }
    //   })
    // },
  },
  watch: {
    '$route'(to, from) {
      this._setMeta(this, to)
    }
  },
  computed: {
    left() {
      if (this.ismini) {
        return '64px'
      } else {
        return '220px'
      }
    },
    nav(){
      return this.$store.state.menudata[this.$route.name]
    }
  }
}
</script>

<style lang="scss" scope>
.Manage {
  height: 100%;
  .el-container {
    height: 100%;
  }
  .el-header {
    background-color: #373d41;
    color: #fff;
    line-height: 40px;
    .m_header {
      display: flex;
      justify-content: space-between;
      .el-breadcrumb {
        margin-top: 20px;
      }
      .a-blue{
        color: #00c1de;
      }
      .f14{
        line-height: 20px;
        font-size: 14px;
      }
      .illegallib{
        display: inline;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
  .el-main {
    background-color: #eaedf1;
    padding: 15px;
  }
  .el-aside {
    background-color: #545c64;
    overflow-x: inherit !important;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .el-menu {
      height: 100%;
      border: none;
      #title {
        text-align: center;
        margin: 10px -50px 0px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }
      .mark {
        padding-right: 15px;
      }
    }
    #toggleMenu {
      position: absolute;
      width: 12px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      background-color: #373d41;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        cursor: pointer;
      }
    }
  }
  .tip-sms {
    cursor: pointer;
    padding: 0 20px;
    height: 38px;
    line-height: 38px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .el-icon-message {
      font-size: 20px;
    }
  }
}
.slide-fade {
  position: absolute;
  left: 0;
  right: 0;
}
.slide-fade-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(2, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  left: 0;
  right: 0;
  transform: translateX(50px);
  opacity: 0;
}
</style>

