<template>
  <div class="ajczlb"
    v-loading="$store.state.bloading">
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="fad_name"
        show-overflow-tooltip
        label="线索名称">
      </el-table-column>
      <el-table-column width="110"
        label="线索类型" prop="fill_type">
      </el-table-column>
      <el-table-column label="提交日期"
        width="120px">
        <template slot-scope="scope">
          {{scope.row.fcreate_time || '未提交'}}
        </template>
      </el-table-column>
      <el-table-column width="110" prop="fexpressioncodes"
        show-overflow-tooltip
        v-if="isTz"
        label="涉嫌违法代码">
        <template slot-scope="scope">
          <el-popover
            placement="top-start"
            width="300"
            style="cursor: pointer"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span slot="reference" style="color: red">{{ scope.row.fexpressioncodes }}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="fresult_datetime"
        label="涉嫌违法内容"
        width="120px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="线索附件"
        width="130"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            @click="_fujian(scope.row,0)">附件</el-button>
        </template>
      </el-table-column>
      <el-table-column width="100"
        label="状态">
        <template slot-scope="scope">
          {{czzt[scope.row.fstatus]}}
        </template>
      </el-table-column>
      <el-table-column width="180"
        prop="fsend_regname"
        label="要求查证机构">
      </el-table-column>
      <el-table-column label="查证结果"
        width="110">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            v-if="scope.row.fstatus === '42'"
            @click="_fujian(scope.row,20)">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column width="80"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
            v-if="scope.row.fstatus === '42'"
            icon="el-icon-edit"
            @click="_czdeal(scope.row)">处理</el-button>
          <el-button type="text"
            v-else
            icon="el-icon-view"
            @click="_jbinfo(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <file-dialog v-if="showFiles"
      @close="showFiles = false"
      :data="filedata" />
    <files-dialog v-if="Files"
      @close="Files = false;desc = ''"
      :desc="desc"
      :data="files" />
    <cz-deal v-if="dealDialog"
      :data="details"
      @close="dealDialog = false;_getList(1)" />
    <ajxsxq v-if="showDetails"
      :data="Details"
      :iscz="true"
      @close="showDetails = false" />
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import fileDialog from './fileDialog'
import filesDialog from './filesDialog'
import ajxsxq from './ajxsxq'
import czDeal from './czDeal'
export default {
  components: { fileDialog, filesDialog, czDeal, ajxsxq },
  props: {
    searchData: {
      default: () => ({area: '', fstate: '-1'}),
      type: Object
    },
  },
  data() {
    return {
      tableData: [],
      timer: null,
      countAll: '0',
      searchForm: {
        page: 1
      },
      showFiles: false,
      Files: false,
      filedata: [],
      files: [],
      desc: '',
      dealDialog: false,
      details: {},
      showDetails: false,
      Details: {}
    }
  },
  created() {
    let timer = setInterval(() => {
      if (this.$store.state.allArea[0]['fid']) {
        this.$emit('setArea', Array.of(this.$store.state.allArea[0]['fid']))
        this.searchForm.area = this.$store.state.allArea[0]['fid']
        this._getList()
        clearInterval(timer)
      }
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 312)
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    _getList(page) {
      this._setGvalue()
      let data = {
        ...this.searchForm,
        ...this.searchData,
        page: page || 1,
      }
      if(this.isTz) data.model = 1
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + '/Agp/Gckzdanjian/czzdanjian_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fcreate_time = item.fcreate_time ? item.fcreate_time.substring(0, 10) : '/'
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.tableData = []
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _fujian(obj, type) {
      let data = {
        fid: obj.fid,
      }
      axios.post(this.$_ + '/Agp/Gckzdanjian/view_czzdanjian', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (type) {
              this.Files = true
              this.files = res.data.data.files.czfiles.map(item => {
                if (item.fattach_url.indexOf('?') === -1) {
                  item.fattach_url = item.fattach_url + '?attname=' + item.fattach
                }
                return item
              })
            this.desc = res.data.data.fczcontent || ''
            } else {
              if (res.data.data.files.jbfiles.length) {
                this.showFiles = true
                this.filedata = res.data.data.files.jbfiles.map(item => {
                if (item.fattach_url.indexOf('?') === -1) {
                  item.fattach_url = item.fattach_url + '?attname=' + item.fattach
                }
                return item
              })
                this.desc = res.data.data.fczcontent
              } else {
                this.$message.warning('无附件！')
              }
            }
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _czdeal(obj) {
      this.dealDialog = true
      this.details = obj
    },
    _jbinfo(obj) {
      this.Details = {
        fid: obj.fid,
        type: 1
      }
      this.showDetails = true
    },
  },
  computed: {
    ...mapState(['czzt']),
    isTz() {
      return this.$route.path == '/tlbanjian'
    }
  },
}
</script>