<template>
  <el-dialog title="案件处理"
    :visible.sync="show"
    width="1000px"
    center
    :before-close="() => $emit('close')">
    <div style="width:700px;margin:0 auto;">
      <el-form :model="form"
        ref="form"
        label-width="120px">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item label="案件名称: ">
              <el-input type="text"
                v-model="form.fad_name"
                :style="widthStyle"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="案件类型: ">
              <el-select v-model="form.fill_type"
                placeholder="请选择"
                :style="widthStyle">
                <el-option :label="item"
                  v-for="(item,index) in $store.state.userInfo.illadTypes"
                  :key="index"
                  :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12"
            v-if="iszb">
            <el-form-item label="广告类别：">
              <el-cascader :style="widthStyle"
                :options="$store.state.adClassOptions"
                change-on-select
                :props="$store.state.propsOptions"
                v-model="fadclasscode"
                :clearable="false">
              </el-cascader>
            </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="12"
            v-if="iszb">
            <el-form-item label="被投诉人/单位: ">
              <el-input v-model="form.cplainttmedia"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12"
            v-if="iszb">
            <el-form-item label="投诉人/单位: ">
              <el-input v-model="form.plaintperson"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12"
            v-if="iszb">
            <el-form-item label="投诉方联系方式: ">
              <el-input v-model="form.plaintphone"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12"
            v-if="iszb">
            <el-form-item label="投诉日期: ">
              <el-date-picker :editable="false"
                v-model="form.plainttime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="案件附件: ">
              <upload @uploadSuccess="_uploadSuccess">
              </upload>
              <el-tag class="right-margin"
                v-for="(item,index) in form.attachinfo"
                :key="index"
                closable
                size="small"
                @close="_removeTag(item)"
                type="priamry">
                {{item.fattachname}}
              </el-tag>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <fieldset>
              <legend>查证材料</legend>
              <el-form-item label="查证附件: "
                v-if="iszb">
                <el-checkbox-group v-model="checkedFiles">
                  <div v-for="(item,index) in czfiles">
                    <el-checkbox :label="item.fattachurl"
                      :key="index">
                      <a :href="item.fattachurl" target="_blank">
                        <el-button type="text">{{item.fattachname}}</el-button>
                      </a>
                    </el-checkbox>
                  </div>
                </el-checkbox-group>
                <b><em class="text-red">提示: 所勾选的材料将作为案件附件</em></b>
              </el-form-item>
              <el-form-item label="查证说明: "
                v-if="iszb">
                {{form.fczcontent}}
            </el-form-item>
            </fieldset>
          </el-col>
          <el-col :span="24">
            <el-form-item label="涉嫌违法内容: ">
              <el-input type="textarea"
                :rows="5"
                :style="widthStyle"
                v-model="form.fill_content"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="查办案件机构: ">
              <div>
                <el-cascader placeholder="请选择接收局"
                  :options="$store.state.userInfo.isgj ? $store.state.GList : $store.state.GData"
                  change-on-select
                  :props="$store.state.areaOptions"
                  v-model="area"
                  clearable></el-cascader>
                <el-button type="primary"
                  @click="_addOrg">
                  添加
                </el-button>
                <el-button type="text"
                  @click="_clear">
                  清空
                </el-button>
              </div>
              <br>
              <el-input type="textarea"
                v-model="form.tregionname"
                :style="widthStyle"
                disabled
                :rows="5">
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="是否需要反馈: ">
              <el-checkbox v-model="fisresult">是否需要反馈</el-checkbox>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="反馈结束时间: "
              v-if="fisresult">
              <el-date-picker :editable="false"
                v-model="form.fresult_endtime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item>
              <el-button type="primary"
                @click="_tijiao(10)">交办</el-button>
              <el-button
                type="primary"
                @click="_tijiao(30)"
                v-if="Number($store.state.userInfo.ischazheng)">重新查证</el-button>
              <el-button @click="_tijiao(0)">保存草稿</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
  </el-dialog>
</template>

<script>
import upload from "../../common/upload"
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    upload
  },
  props: {
    data: {
      default: {},
      type: Object
    }
  },
  data() {
    return {
      widthStyle: { width: '100%' },
      tableData: [],
      form: {
        fill_type: '投诉举报',
        fad_name: '',
        attachinfo: [],
        tregionname: '',
        tregionids: [],
        fresult_endtime: this.$dayjs().format('YYYY-MM-DD'),
        fill_content: '',
        plainttime: this.$dayjs().format('YYYY-MM-DD'),
        cplainttmedia: '',
        illegal_content: ''
      },
      fadclasscode: [],
      area: [],
      fisresult: false,
      from: '',
      show: true,
      czfiles: [],
      attachinfo: [],
      checkedFiles: []
    }
  },
  computed: {
    iszb() {
      return this.$store.state.userInfo.regionid === '370300'
    }
  },
  created() {
    this._getview(this.data.fid)
  },
  methods: {
    _getview(fid) {
      let data = {
        fid: fid
      }
      axios.post(this.$_ + '/Agp/Gckzdanjian/view_czzdanjian', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let data = res.data.data
            this.form.fill_type = data.fill_type
            this.form.fad_name = data.fad_name
            this.form.illegal_content = data.fillegal_content
            this.form.cplainttmedia = data.fcplaintt_media
            this.form.plaintphone = data.fplaint_phone
            this.form.plaintperson = data.fplaint_person
            this.form.fresult_endtime = data.fresult_endtime
            this.form.fczcontent = data.fczcontent
            if (data.ftadclass) {
              this.fadclasscode = Array.of(data.ftadclass.substring(0, 2), data.ftadclass)
            }
            let files = res.data.data.files
            if (files.jbfiles.length) {
              files.jbfiles.forEach(item => {
                let obj = {}
                obj.fattachname = item.fattach
                obj.fattachurl = item.fattach_url
                this.form.attachinfo.push(obj)
                this.attachinfo.push(obj)
              })
            }
            if (files.czfiles.length) {
              files.czfiles.forEach(item => {
                let obj = {}
                obj.fattachname = item.fattach
                obj.fattachurl = item.fattach_url
                this.czfiles.push(obj)
              })
            }
            this._getregName(data.fregion_getid)
            this.form.fill_content = data.fill_content
            if (Number(data.fisresult)) {
              this.fisresult = true
            }
          }
        })
    },
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = Obj.url + file.response.key
      this.form.attachinfo.push(obj)
    },
    _addOrg() {
      let val = this.area
      let org = val[val.length - 1]
      if (!org) {
        this.$message.error('请选择接收局！')
        return false
      }
      if (this.form.tregionids.indexOf(org) === -1) {
        this._getregName(org)
      } else {
        this.$message.warning('请勿重复添加！')
      }
      this.area = []
    },
    _getregName(id) {
      axios.post(this.$_ + '/Agp/Gcore/tregion_tregulator', qs.stringify({ tregionid: id }))
        .then(res => {
          if (res.data.code === 0) {
            this.form.tregionids.push(id)
            this.form.tregionname += res.data.data.fname + '，\n'
          } else {
            this.$func._error(res.data)
          }
        })
    },
    checkfiles(res) {
      return [...this.czfiles].filter(item => {
        return res.includes(item.fattachurl)
      })
    },
    _tijiao(type) {
      if (!this.form.fad_name) {
        this.$message.error('请填写信息主题！')
        return false
      }
      if (this.iszb && !this.fadclasscode.length) {
        this.$message.error('请选择广告类别！')
        return false
      }
      if (this.iszb && !this.form.cplainttmedia) {
        this.$message.error('请填写被投诉人/单位！')
        return false
      }
      if (this.iszb && !this.form.plainttime) {
        this.$message.error('请选择被投诉日期！')
        return false
      }
      if (!this.form.tregionids.length) {
        this.$message.error('请选择查办案件机构！')
        return false
      }
      if (this.fisresult && !this.form.fresult_endtime) {
        this.$message.error('请选择反馈日期！')
        return false
      }
      let data = { ...this.form }
      data.attachinfo = [...data.attachinfo, ...this.checkfiles(this.checkedFiles)]
      data.tadclass = this.fadclasscode[this.fadclasscode.length - 1]
      data.fstatus = type
      data.fisresult = this.fisresult ? 10 : 0
      data.fid = this.data.fid
      if(type === 30){
        this.$prompt('请输入重新查证理由', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
        }).then(({ value }) => {
          data.cxczcontent = value
          this.send(data)
        })
      }else{
        this.send(data)
      }
    },
    send(data){
      axios.post(this.$_ + '/Agp/Gjbzdanjian/edit_jbzdanjian', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close')
            this._clearForm()
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _clearForm() {
      this.form = {
        fill_type: '投诉举报',
        fad_name: '',
        attachinfo: [],
        tregionname: '',
        tregionids: [],
        fresult_endtime: this.$dayjs().format('YYYY-MM-DD'),
        fill_content: '',
        plainttime: this.$dayjs().format('YYYY-MM-DD'),
        cplainttmedia: '',
        illegal_content: ''
      }
      this.fisresult = false
      this.area = []
      this.fadclasscode = []
    },
    _clear() {
      this.form.tregionids = []
      this.form.tregionname = ""
    },
    _removeTag(obj) {
      this.form.attachinfo = this.form.attachinfo.filter(item => {
        return obj.fattachurl !== item.fattachurl
      })
    },
  }
}
</script>