<template>
  <el-dialog center
      :visible.sync="show"
      title="附件列表"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="() => $emit('close')">
      <h3 v-if="desc">查证说明: {{desc}}</h3>
      <el-table :data="data"
        border>
        <el-table-column label="查证附件">
          <template slot-scope="scope">
            <a :href="scope.row.fattach_url">
              <el-button type="text">{{ scope.row.fattach }}</el-button>
            </a>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
</template>

<script>
  export default {
    props: {
      data: {
        default: () => [],
        type: Array
      },
      desc: {
        default: '',
        type: String
      }
    },
    data() {
      return {
        show: true
      }
    },
  }
</script>

<style scoped>

</style>