<template>
  <div class="getsend-list"
    v-loading="$store.state.bloading">
    <el-table :data="tableData" class="new-tabel" size="small"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="fad_name"
        show-overflow-tooltip
        label="线索名称">
      </el-table-column>
      <el-table-column width="80" prop="fill_type"
        label="线索类型">
      </el-table-column>
      <el-table-column
        width="110"
        v-if="isTz"
        prop="fexpressioncodes"
        show-overflow-tooltip
        label="涉嫌违法代码">
        <template slot-scope="scope">
          <el-popover
            placement="top-start"
            width="300"
            style="cursor: pointer"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span slot="reference" style="color: red;">{{ scope.row.fexpressioncodes }}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="fsend_time"
        label="交办日期"
        width="94"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="94"
        prop="fresult_endtime"
        label="截止日期">
      </el-table-column>
      <el-table-column prop="fsend_regname"
        v-if="!isgetlist"
        width="150"
        label="接收机构"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fget_regname"
        width="150"
        label="查办机构"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="frece_reg"
        width="150"
        label="当前处理机构"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        label="是否查看">
        <template slot-scope="scope">
          <span v-if="scope.row.fview_status === '0'">否</span>
          <span v-else>是</span>
        </template>
      </el-table-column>
      <el-table-column prop="fresult"
        width="110"
        label="处理情况">
      </el-table-column>
      <el-table-column width="130"
        label="处理凭证">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            v-if="scope.row.fstatus === '30'"
            @click="_fujian(scope.row,1)">附件</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="fresult_datetime"
        label="反馈日期"
        width="90px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        fixed="right"
        label="查看详情">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            :style="scope.row.seeColor"
            @click="_jbinfo(scope.row,1)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <ajxsxq v-if="showDetails"
      :data="details"
      @close="showDetails = false" />
    <file-dialog v-if="showFiles"
      @close="showFiles = false"
      :data="filedata" />
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import ajxsxq from './ajxsxq'
import fileDialog from './fileDialog'
export default {
  components: { ajxsxq, fileDialog },
  props: {
    isgetlist: {
      default: true,
      type: Boolean
    },
    active: {
      default: '1',
      type: String
    },
    searchData: {
      default: () => ({area: '', fstate: '-1'}),
      type: Object
    },
  },
  data() {
    return {
      searchForm: {
        page: 1
      },
      countAll: '0',
      tableData: [],
      showDetails: false,
      details: {},
      timer: null,
      showFiles: false,
      filedata: [],
    }
  },
  created() {
    this._getList()
  },
  computed: {
    isTz() {
      return this.$route.path == '/tlbanjian'
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 312)
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    _getList(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = {
        ...this.searchForm,
        ...this.searchData,
      }
      if(this.isTz) data.model = 1
      let url = this.isgetlist ?  '/Agp/Gckzdanjian/jbzdanjian_list' : '/Agp/Gckzdanjian/jszdanjian_list'
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fsend_time = item.fsend_time ? item.fsend_time.substring(0, 10) : '/'
              item.fresult_datetime = item.fresult_datetime ? item.fresult_datetime.substring(0, 10) : '/'
              item.fresult_endtime = item.fresult_endtime ? item.fresult_endtime.substring(0, 10) : '/'
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.tableData = []
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _jbinfo(obj, type) {
      this.details = {
        fid: obj.fid,
        type: type
      }
      this.showDetails = true
       obj.seeColor = {color: '#67C23A'}
    },
    _fujian(obj, type) {
      let data = {
        fid: obj.fid,
        types: 10
      }
      axios.post(this.$_ + '/Agp/Gckzdanjian/view_czzdanjian', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (res.data.data.files.clfiles.length) {
              this.showFiles = true
              this.filedata = res.data.data.files.clfiles.map(item => {
                if (item.fattach_url.indexOf('?') === -1) {
                  item.fattach_url = item.fattach_url + '?attname=' + item.fattach
                }
                return item
              })
            } else {
              this.$message.warning('无附件！')
            }
          } else {
            this.$func._error(res.data)
          }
        })
    }
  },
}
</script>

<style scoped>
</style>