<template>
  <div>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="fad_name"
        show-overflow-tooltip
        label="案件名称">
      </el-table-column>
      <el-table-column width="110" prop="fill_type"
        label="案件类型">
      </el-table-column>
      <el-table-column prop="fsend_time"
        label="交办日期"
        width="120px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="120"
        prop="fresult_endtime"
        label="截止日期">
      </el-table-column>
      <el-table-column prop="fsend_regname"
        v-if="isjs"
        width="150"
        label="交办案件机构"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fget_regname"
        v-else
        width="150"
        label="查办案件机构"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        label="是否查看">
        <template slot-scope="scope">
          <span v-if="scope.row.fview_status === '0'">否</span>
          <span v-else>是</span>
        </template>
      </el-table-column>
      <el-table-column prop="fresult"
        width="110"
        label="处理情况">
      </el-table-column>
      <el-table-column width="130"
        label="处理凭证">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            v-if="scope.row.fstatus === '30'"
            @click="_fujian(scope.row,1)">附件</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="fresult_datetime"
        label="反馈日期"
        width="120px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        fixed="right"
        label="查看详情">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            @click="_jbinfo(scope.row,1)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <file-dialog v-if="showFiles"
      @close="showFiles = false"
      :data="filedata" />
    <ajxsxq v-if="showDetails"
      :data="details"
      @close="showDetails = false" />
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import ajxsxq from '../common/ajxsxq'
import fileDialog from '../common/fileDialog'
export default {
  components: {
    ajxsxq,
    fileDialog
  },
  props: {
    url: {
      type: String
    },
    area: {
      type: Array
    },
    isjs: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      searchForm: {
        page: 1
      },
      tableData: [],
      countAll: '',
      loading: false,
      showFiles: false,
      showDetails: false,
      filedata: [],
      details: {}
    }
  },
  methods: {
    _getList(page) {
      this.loading = true
      this._setGvalue()
      this.searchForm.area = this.area[this.area.length - 1]
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      axios.post(this.$_ + this.url, qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fsend_time = item.fsend_time ? item.fsend_time.substring(0, 10) : '/'
              item.fresult_datetime = item.fresult_datetime ? item.fresult_datetime.substring(0, 10) : '/'
              item.fresult_endtime = item.fresult_endtime ? item.fresult_endtime.substring(0, 10) : '/'
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
      this.searchForm2.years = this.$store.state.Gsearch.years
      this.searchForm2.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm2.timeval = this.$store.state.Gsearch.timeval
    },
    _fujian(obj, type) {
      let data = {
        fid: obj.fid,
        types: 10
      }
      axios.post(this.$_ + '/Agp/Gckkdyzdanjian/view_jbzdanjian', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let files = res.data.data.files
            if (files.clfiles.length) {
              this.showFiles = true
              this.filedata = files.clfiles.map(item => {
                if (item.fattach_url.indexOf('?') === -1) {
                  item.fattach_url = item.fattach_url + '?attname=' + item.fattach
                }
                return item
              })
            } else {
              this.$message.warning('无附件！')
            }
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _jbinfo(obj) {
      this.details = {
        fid: obj.fid,
        type: 3
      }
      this.showDetails = true
    },
  },
}
</script>

<style scoped>
</style>