<template>
  <div class="shangbao">
    <el-dialog
      center
      title="上传文件"
      :visible.sync="showUpload"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <div class="wrap">
        <el-form label-width="100px" ref="form">
          <el-form-item label="处理方式：">
            <el-checkbox-group class="pull-left right-margin checkbox"
              v-model="checkboxValue">
              <el-checkbox label="责令停止发布"></el-checkbox>
              <el-checkbox label="立案"></el-checkbox>
              <el-checkbox label="移送司法"></el-checkbox>
              <el-checkbox label="其他"></el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-form-item label="上传附件：">
            <upload
              @uploadSuccess="_uploadSuccess">
            </upload>
          </el-form-item>
        </el-form>
       </div>
      <el-table :data="attachInfo" border>
        <el-table-column
          prop="fattachname"
          label="文件名称">
        </el-table-column>
        <el-table-column
          width="80px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"  @click="_deleteFile(scope.row)" icon="el-icon-delete">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_sendResult()" :loading="$store.state.bloading">{{ $store.state.bloading ? '提交中' : '提交'}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import upload from '../../common/upload'
export default {
  components: {
    upload
  },
  props: {
    ids: {
      default: () => [],
      type: Array,
    },
  },
  data() {
    return {
      checkboxValue: [],
      show: true,
      attachInfo: [],
      changeAttachInfo: [],
      showUpload: true,
    };
  },
  methods: {
    _sendResult(val) {
      let paramData = {
        attachinfo: this.changeAttachInfo,
      }
      if (!this.checkboxValue.length) {
          this.$message.error("请选择处理方式！");
          return false;
        }
      let selfresult = this.checkboxValue.join(";") + ";"
      paramData.selfresult = selfresult
      this.$emit('send', paramData,)
    },
    _uploadSuccess(Obj) {
      let file = Obj.file;
      let obj = {};
      obj.fattachname = file.name;
      obj.fattachurl = Obj.url + file.response.key;
      this.attachInfo.unshift(obj);
      this.changeAttachInfo.push(obj);
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
          this.changeAttachInfo = this.changeAttachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    _close() {
      if(!this.changeAttachInfo.length){
        this.$emit('close')
        return false
      }
      this.$confirm(`关闭弹窗将舍弃已上传的文件，是否继续关闭？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
      .then(() => {
        this.$emit('close')
      })
      .catch(() => {
        this.$message({
          type: "info",
          message: "已取消"
        });
      });
      this.$refs.form.resetFields()
    },

  },
  computed: {
    buttonText(){
      if(this){
        let arr = this.$store.state.menudata[this.$route.name]
        if(arr && arr.length === 2){
          return arr[1].slice(-2)
        }else{
          return '上报'
        }
      }
    },
  }
};
</script>

<style lang="scss">
.wrap{
  &/deep/.el-form-item--mini.el-form-item {
    margin-bottom: 14px;
  }
}
</style>