.nav-tabs input[type=radio] {
    display: none;
}

.nav-tabs>li>a>label {
    cursor: pointer;
}

.choose {
    margin: 0;
}

.choose>tbody>tr>td,
.choose>tbody>tr>th,
.choose>tfoot>tr>td,
.choose>tfoot>tr>th,
.choose>thead>tr>td,
.choose>thead>tr>th {
    border-top: none;
}

.choose th {
    text-align: right;
}

#disposeBtns {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#disposeBtns .btn {
    margin-right: 10px;
}

.btn-success {
    background: #0085EE;
}

.webuploader-pick {
    background-color: inherit;
    padding: 0;
    display: initial;
}

#playListBlock {
    max-height: 600px;
    overflow-y: auto;
}

#Image {
    max-height: 280px;
    overflow: hidden;
}

.table pre {
    max-width: 300px;
    min-width: 200px;
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0;
    padding: 0;
}

.i-checks {
    display: inline-block;
}

.infoBlock>tbody>tr>td,
.infoBlock>tbody>tr>th,
.infoBlock>tfoot>tr>td,
.infoBlock>tfoot>tr>th,
.infoBlock>thead>tr>td,
.infoBlock>thead>tr>th {
    border-top: none;
}


/* .icheckbox_square-green, .iradio_square-green{
    background-image: url('http://publichz.oss-cn-hangzhou.aliyuncs.com/hPlus/css/plugins/iCheck/green.png');
} */


/* 自定义样式 */

.navbar-default .nav>li.active {
    border-left: 4px solid #19AA8D;
    background: #85a4d9;
}

.navbar-default .nav>li>a:focus,
.navbar-default .nav>li>a:hover {
    background: #85a4d9;
}

#side-menu>.nav-header {
    background: #242C4C;
}

#side-menu>.nav-header>.dropdown>img {
    display: block;
    margin: 0 auto;
}

#side-menu>.nav-header>.dropdown>h3 {
    margin-top: 30px;
    color: #fff;
}

#side-menu>li>a {
    color: #fff;
}

#page-wrapper>.content-tabs {
    background: #D9DEE4;
}

nav.page-tabs {
    height: 42px;
}

.J_menuTab,
nav.page-tabs .page-tabs-content {
    height: 100%;
}

.page-tabs .J_menuTab {
    border-right: 1px solid #CECECE;
}

.page-tabs a {
    color: #666;
}

.page-tabs a.active {
    background: #F5F5F5;
    color: #666666;
    font-weight: bold;
}

.content-tabs .roll-left {
    border-right: 1px solid #CECECE;
}

.content-tabs .roll-right {
    border-left: 1px solid #CECECE;
}

.page-tabs a.active i:hover,
.page-tabs a.active:hover {
    background: #e3e3e3;
    border-right: 1px solid #CECECE;
    color: #666;
}

.content-tabs {
    border-bottom: none;
}

.content-tabs button,
.content-tabs .roll-nav,
.page-tabs a {
    background: #D9DEE4;
}

.navbar-static-side>.slimScrollDiv {
    background-color: #242C4C;
}

.headul {
    height: 100%;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.headul li {
    list-style: none;
    font-size: 16px;
    /* float: left; */
    padding: 0 10px;
    line-height: 60px;
    /* margin: 0 15px; */
    /* flex-grow: 1; */
    text-align: center
}

.headul li.active {
    border-top: 3px solid #19AA8D;
    font-weight: bold;
    background: #85a4d9;
    line-height: 60px;
    transition: all .2s;
}

.headul li a {
    color: #fff;
    line-height: 60px;
    height: 100%;
    display: block;
}

.nav-tabs>li>a {
    border-radius: 0px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-radius: 0px;
    margin: 0;
    border-top: 3px solid #757C96;
}

#random_check div[role=tabpanel] {
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

#random_check #faddress,
#random_check #infoClass,
#random_check #mediaClass,
#random_check #Time {
    padding-top: 130px;
}
#random_check #sendGov {
    padding-top: 130px;
}

#random_check #Time,
#random_check #mediaClass {
    padding-top: 30px;
}

#random_check .h5 {
    margin-bottom: 30px;
}

#Time .h5 {
    margin-bottom: 40px;
}

#Time .h4 {
    margin-bottom: 20px;
}
#mediaClass #MediaList{
    margin-top: 20px;
    height:181px;
    overflow-y: auto;
}
.text-primary{
    color:#1ab394!important;
}


/* 2017-9-1日更新样式 */
.main {
    width: 100%;
    height: 400px;
    margin-top: 10px;
}
.i-checks label.notallow ,.notallow .icheckbox_square-green{
    cursor: not-allowed;
}
.table-center td,.table-center th{
    text-align: center;
}