.msg_title {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #aaa;
    margin-bottom: 60px;
}

.msg_title span {
    border-left: 2px solid #88B7E0;
    padding-left: 10px;
    font-size: 14px;
}

.is_read input {
    display: none;
}

.is_dispose input {
    display: none;
}

.content {
    width: 900px;
    margin: 0 auto
}

pre {
    width: 100%;
    background-color: #fff;
    border: none;
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    text-align: justify;
    font-size: 14px;
}

.send_people {
    float: right;
}

.report_info {
    padding: 9.5px;
    border-bottom: 1px solid #ccc;
    margin: 20px 0 20px 0;
}

textarea {
    width: 100%;
    padding: 10px;
    outline: #fff;
    resize: none;
}

#tabPage {
    margin-bottom: 10px;
}

.is_read,
.is_dispose {
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 0px;
    border: 1px solid #D9DEE4;
    background-color: #D9DEE4;
    color: #666;
    line-height: 20px;
    height: 32px;
    margin-right: 10px;
    font-weight: normal;
    margin-bottom: 10px;
}

.read_active {
    border: 1px solid #546478;
    background-color: #546478;
    color: #FFFFFF;
}

#FILES {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.upload_files {
    margin-right: 10px;
    display: inline-block;
    position: relative;
}

.upload_files .delete_file {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    display: none;
}

.upload_files .delete_file:hover {
    cursor: pointer;
}

.upload_files .icon {
    font-size: 40px;
}

.upload_files a {
    display: inline-block;
}

.file_name {
    width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.J_menuItem2:hover {
    cursor: pointer;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.notice_list,.exchange_list,.advice_list{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .notice_item{
    border-bottom: 1px solid #eee;
    position: relative;
    margin-bottom: 10px;
  }
  .answer_user_name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0593d3;
  }
  .answer_content{
    font-size: 14px;
    width: 600px;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
  }
  .answer_time{
    font-size:12px; 
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 6px;
    color: #999;
  }
  .border_top{
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  #revice_org{
      display: none;
  }
  .infoBlock{
    table-layout:fixed;
  }
  .infoBlock td{
    word-wrap:break-word;
  }