ul {
    list-style: none;
    padding-left: 20px;
}

.Icon {
    font-size: 40px;
}
.editUser{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.4s;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}
.editUser:hover{
    cursor: pointer;
    border: 1px solid #ccc;
    /*background-color: #1ab394;
    color: #fff;*/
}
.editUser:active{
    background-color: #1ab394;
    color: #fff;
    transition: 0s;
}
pre{
    margin: 0!important;
    border:none!important;
    background-color: rgba(0, 0, 0, 0)!important;
    color: inherit!important;
}
.table pre{
    padding: 0!important;
}
.col-sm-5{
    padding-top: 7px;
}
.org_active{
    color: #fff!important;
    background-color: #676a6c;
    border-radius: 3px;
}
.org_details,.region_details,.illegal_details,.adclass_details{
    padding:3px 5px;
}