<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>数据加工</title>

  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

  <link rel="shortcut icon" href="favicon.ico">
  <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
  <link href="/Application/Admin/View/Public/page.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/Standardization/css/timeline.css">
  <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
</head>

<body class="gray-bg">
  <div class="wrapper wrapper-content" id="app" v-loading="loading">
    <el-row>
      <el-form label-width="100px" size="mini">
        <el-row>
          <el-col :xs="24" :sm="12" :md="12" :lg="8" :xl="5">
            <el-form-item label="选择时间：">
              <el-date-picker :style="{'width': '100%'}" v-model="sdate" type="date" :clearable="false" value-format="yyyy-MM-dd"
                placeholder="请选择" @change="_change(0)">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :md="12" :lg="8" :xl="6">
            <el-form-item label="媒介">
              <el-select placeholder="输入关键字搜索" style="width:100%" v-model="form.fmediaid" filterable remote
                reserve-keyword :remote-method="_getmediaList" @change="_change(0)">
                <el-option v-for="item in mediaList" :key="item.fid" :label="item.fmedianame" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-row>
    <br />
    <el-row :gutter="20">
      <el-col :span="12" ref="heightcol">
        <div v-loading="!videoUrl" class="loadingcover">
          <aliplayer ref="player" v-if="videoUrl" :url="videoUrl" :autoplay="true" width="100%" @start="_settimer"
            @stop="_cleartimer" @error="_cleartimer">
          </aliplayer>
          <timeline ref="timeline" :activetime="videoJump" v-if="videoJump" @click="_jumpplay" @tmouseup="tmouseup"
            @tmousemove="tmousemove" @tmousedown="tmousedown">
          </timeline>
        </div>
        <br />
        <div>
          <el-tabs v-model="activeTabName">
            <el-tab-pane label="信息录入" name="adInfo">
              <el-form :model="form" ref="form" label-width="80px" size="mini">
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="视频跳转">
                      <el-time-picker style="width:99%" v-model="videoJump" value-format="yyyy-MM-dd HH:mm:ss"
                        placeholder="任意时间点" :picker-options="{selectableRange: duringtime}" @focus="_cleartimer" @blur="_settimer"
                        @change="_jumpplay">
                      </el-time-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="截取时长">
                      {{flength}} 秒
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="开始时间">
                      <el-input v-model="resultdata.fstart" @focus="_focus('fstart')" @dblclick.native="_cutTime('start')"
                        placeholder="双击获取开始时间"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="结束时间" @dblclick="_cutTime('end')">
                      <el-input v-model="resultdata.fend" @focus="_focus('fend')" @dblclick.native="_cutTime('end')"
                        placeholder="双击获取结束时间"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-col :span="24">
                  <el-form-item label="广告名称">
                    <el-autocomplete style="width:100%" size="mini" v-model="resultdata.fadname" :fetch-suggestions="searchadname"
                      :disabled="disabled"
                      placeholder="请输入广告名称(必填)"
                      @blur="adNameBlur"></el-autocomplete>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="广告品牌">
                    <el-input v-model="resultdata.fbrand" size="mini" :disabled="disabled" placeholder="请输入广告品牌(不填默认“无突出品牌”)">
                      <el-button slot="append" @click.native="_defaultValue('fbrand')">无突出品牌</el-button>
                    </el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="广告主">
                    <el-autocomplete style="width:100%" size="mini" :disabled="disabled" v-model="resultdata.fadownername"
                      :fetch-suggestions="searchadowner" placeholder="请输入广告主(不填默认“广告主不详”)" @select="selectOwner">
                      <el-button slot="append" @click.native="_defaultValue('fadownername')">广告主不详</el-button>
                    </el-autocomplete>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="代言人">
                    <el-input v-model="resultdata.fspokesman" :disabled="disabled" size="mini" placeholder="请输入代言人"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="广告类型">
                    <el-cascader placeholder="请选择广告类型(必选)" :disabled="disabled" style="width:100%" :options="adClassArr" change-on-select
                      :props="propsOptions" v-model="fadclasscode">
                    </el-cascader>
                  </el-form-item>
                </el-col>
                <el-col :span="24" v-if="showClassTip">
                  <el-form-item>
                    <span style="color: red;font-size: 12px;line-height: 20px;">检测到“公益”，请确认是否为公益广告并选择正确广告类别</span>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="违法信息" name="illegalInfo">
              <el-form label-width="80px">
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="违法类型">
                      <el-radio-group v-model="resultdata.fillegaltypecode">
                        <el-radio :label="item.value" v-for="item in illegalTypeArr" :key="item.value">{{item.text}}</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="违法表现" v-if="isIllegal || !resultdata.fillegaltypecode" prop="fexpressioncodes"
                      class="illegalExpression">

                      <el-button @click="illdialog = !illdialog">点击选择</el-button>
                      <br /><br />
                      <el-card v-show="checkedIllegalArr.length">
                        <div v-for="(item,index) in checkedIllegalArr" :key="item.fcode" style="margin: 5px;">
                          <b>{{index+1}}.</b> {{item.fexpression}}
                        </div>
                      </el-card>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="违法内容" prop="fillegalcontent" v-if="isIllegal">
                      <el-input type="textarea" :rows="3" v-model="resultdata.fillegalcontent">
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
            </el-tab-pane>
          </el-tabs>
          <el-col :span="24" class="text-center">
            <el-button type="primary" size="mini" @click="_addResult">{{fid?'保 存':'添 加'}}</el-button>
            <el-button type="danger" size="mini" @click="_reset">重 置</el-button>
          </el-col>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="timefieldset" ref="heightcol2">
          <h3>{{medianame + ' ' + sdate}}</h3>
          <el-collapse v-model="activeNames" @change="_change" accordion>
            <el-collapse-item :title="item.starttime+'-'+item.endtime" :name="index" v-for="(item,index) in timeDate"
              :key="index">
              <template slot="title">
                <b style="font-size: 16px">{{item.starttime+'-'+item.endtime}}</b>
              </template>
              <el-table :data="tableData" border v-if="activeNames === index" @row-click="seekVideoTime" class="adTable"
                v-loading="tableloading">
                <el-table-column type="index" width="55">
                </el-table-column>
                <el-table-column label="广告名称" show-overflow-tooltip>
                  <template slot-scope="scope">
                    <span :class="Number(scope.row.fis_error) ? 'text-red' : ''">{{scope.row.fadname}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="广告类别" show-overflow-tooltip>
                  <template slot-scope="scope">
                    <span v-html="scope.row.fadclass" class="noWrap"></span>
                  </template>
                </el-table-column>
                <el-table-column label="开始时间" prop="fstarttime">
                </el-table-column>
                <el-table-column label="结束时间" prop="fendtime">
                </el-table-column>
                <el-table-column width="55" label="时长" prop="flength">
                </el-table-column>
                <el-table-column min-width="110" label="违法表现代码">
                  <template slot-scope="scope">
                    <el-popover placement="top-start" width="200" trigger="hover" :content="scope.row.fexpressions">
                      <span type="text" slot="reference">{{scope.row.fexpressioncodes}}</span>
                    </el-popover>
                  </template>
                </el-table-column>
                <el-table-column fixed="right" width="90" label="操作">
                  <template slot-scope="scope">
                    <el-button type="text" v-if="!scope.row.fcreator && scope.row.fid" @click="_mark(scope.row,$event)"
                      size="mini">标记</el-button>
                    <el-button type="text" v-if="Number(scope.row.fis_addition)" @click="_edit(scope.row,$event)" size="mini">编辑</el-button>
                    <el-button type="text" v-if="Number(scope.row.fis_addition)" @click="_delete(scope.row,$event)"
                      size="mini">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
              <el-pagination background layout="prev, pager, next, total" :total="Number(allcount2)" :page-size="10"
                :current-page="Number(form.pageIndex)" @current-change="_dataInit">
              </el-pagination>
            </el-collapse-item>
          </el-collapse>
        </div>
      </el-col>
    </el-row>
    <el-dialog title="提醒" :visible.sync="dialogVisible" width="30%">
      <span>将该广告标记为:</span>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="dialogVisible = false" class="pull-left">取 消</el-button>
        <el-button size="small" type="danger" @click="_sendmark('1',row)">错 误</el-button>
        <el-button size="small" type="primary" @click="_sendmark('0',row)">正 常</el-button>
      </span>
    </el-dialog>
    <el-dialog title="违法表现" width="800" center :visible.sync="illdialog">
      <div>
        <el-input placeholder="输入关键字进行过滤" v-model="illegalKeyword">
        </el-input>
        <el-tree class="filter-tree" :data="illegalArr" node-key="fcode" accordion show-checkbox :filter-node-method="filterNode"
          @check-change="selectIllegal" ref="illegalSelecter">
        </el-tree>
      </div>
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
  <script src="/Public/js/wangEditor.min.js"></script>
  <script src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
  <script src="/Application/TaskInput/View/Standardization/js/axios.min.js"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/submitCutError.js"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskInfo.js?asdf=f113d2s"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/netAdTask.js?asdfwe=23122113"></script>
  <script src="/Application/TaskInput/View/Standardization/js/components.js"></script>
  <script src="/Application/TaskInput/View/Standardization/js/index.js?v=1"></script>
</body>

</html>