<template>
  <div class="njclue-handle main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row >
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="交办单号：">
            <el-input v-model="searchForm.fnum" clearable
              placeholder="请输入交办单号"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告内容：">
            <el-input v-model="searchForm.fadname" clearable
              placeholder="请输入广告内容"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6"
          class="col-height">
          <el-form-item label="下发日期：">
            <el-date-picker :editable="false"
              clearable
              style="width: 100%"
              v-model="xf"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6"
          class="col-height">
          <el-form-item label="反馈截止日期：" label-width="120px">
            <el-date-picker :editable="false"
              clearable
              style="width: 100%"
              v-model="jz"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6"
          class="col-height">
          <el-form-item label="处理状态：" >
            <el-select v-model="searchForm.fstatus"
              placeholder="请选择处理状态"
              clearable
              style="width: 60%">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.xsDealType"
                :key="key"
                :label="value.val"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="24"
          :md="24"
          :lg="24"
          :xl="24">
          <el-form-item>
            <div class="pull-right">
              <el-button type="primary" @click="_getList()">搜索</el-button>
              <el-button type="primary" @click="_outData()">导出</el-button>
            </div>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column label="序号"
        prop="fxuhao"
        width="50">
      </el-table-column>
      <el-table-column
        prop="fnum"
        width="120px"
        label="交办单号">
      </el-table-column>
     <el-table-column
        width="120px"
        prop="fhandover_date"
        label="交办日期">
      </el-table-column>
      <el-table-column
        prop="fadname"
        label="广告内容">
      </el-table-column>
      <el-table-column
        width="120px"
        prop="fpush_date"
        label="下发日期">
      </el-table-column>
      <el-table-column
        prop="fendtime"
        width="180px"
        label="反馈截止日期">
        <template slot-scope="scope">
          <span>
            <span :class="Number(scope.row.diffday) < 0 ? 'red' : ''">{{ scope.row.fendtime }} </span>
            <el-tag type="primary" v-if="Number(scope.row.diffday) >= 0"> 剩余{{ scope.row.diffday }}天</el-tag>
            <el-tag  type="danger" v-else>已超时</el-tag>
          </span>
          <div v-if="scope.row.fstatus == 40 && ( Number(scope.row.diffday) < 16 && Number(scope.row.diffday) >=0)" style="padding-top: 4px;cursor:pointer">
             <el-tag type="success" @click="applyDelay(scope.row.fid)">申请延期</el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        width="110px"
        label="处理状态">
        <template slot-scope="scope">
          <span :style="{'color': $store.state.xsDealType[scope.row.fstatus].color }" v-if="scope.row.fstatus">{{ $store.state.xsDealType[scope.row.fstatus].val }}</span>
        </template>
      </el-table-column>
      <el-table-column
        width="90px"
        prop="finput_user"
        label="登记人">
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="140">
        <template slot-scope="scope">
          <el-button @click.native.prevent="_details(scope.row, false)"
            type="text"
            :style="{color: scope.row.fview_look == 0 ? '' : '#67C23A' }"
            icon="el-icon-view">
            {{ scope.row.fview_look == 0 ?  '未查看'  : '已查看' }}
          </el-button>
          <el-button type="text" icon="el-icon-news" @click="_details(scope.row, true)">反馈</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.pageIndex)"
      @current-change="_getList">
    </el-pagination>
    <view-detail v-if="showDeatil"
      :fid="fid"
      dealTag="xscl"
      :dealShow="dealShow"
      @getList="_getList(searchForm.pageIndex)"
      @close="showDeatil = false">
    </view-detail>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
    <applyDelay v-if="showApply" @close="showApply = false" :fid="fid" @getList="_getList"></applyDelay>
  </div>
</template>

<script>
import qs from 'qs'
import axios from 'axios'
import viewDetail from './components/viewDetail'
import applyDelay from './components/applyDelay'
import outFile from '../common/outFile'
export default {
  components: {
    viewDetail,
    outFile,
    applyDelay
  },
  data() {
    return {
      fid: '',
      showApply: false,
      showDeatil: false,
      dealShow: false,
      loading: false,
      tableData: [],
      fid: '',
      searchData: {},
      showdownload: false,
      durl: '',
      searchForm: {
        pageIndex: 1,
        pageSize: 20,
        fnum:'',
        fstatus: '0',
        fadname: '',
      },
      xf:'',
      jz:'',
      fid: '',
      countAll: '0',
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        }
      }
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.pageIndex = page || 1
      let data = {
        ...this.searchForm,
        fpush_date: this.xf ? this.xf : [],
        fendtime: this.jz ? this.jz : [],
      }
      this.searchData = data
      axios.post(this.$_ + '/Agp/Ncluehandle/index', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data.msg)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
     _outData() {
      this.showdownload = true
      let data = {
        ...this.searchData,
        outtype: 'xls',
      }
      axios.post(this.$_ + '/Agp/Ncluehandle/index', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.durl = res.data.data
        } else {
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    applyDelay(fid) {
      this.fid = fid
      this.showApply = true
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _details(row, type = false) {
      if(row.fview_look == 0){
        axios.post(this.$_ + '/Agp/Ncluehandle/lookAction', JSON.stringify({fid: row.fid}))
        .then(res => {
          if (res.data.code === 0) {
             row.fview_look = 1
          }
        })
        .catch(() => {
          this.$func._error()
        })
      }
      if (type) {
        this.dealShow = true
      } else {
        this.dealShow = false
      }
      this.showDeatil = true
      this.fid = row.fid
    },
  }
}
</script>
<style lang="scss" scoped>
  .col-height{
    height: 47px;
  }
  .red{
    color: #F56C6C;
  }
</style>