<template>
  <div class="njcluelist main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="交办单号：">
            <el-input :style="$store.state.fwidth"
              v-model="searchForm.fnum"
              clearable
              placeholder="请输入交办单号"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告内容：">
            <el-input v-model="searchForm.fadname"
              placeholder="请输入广告内容"
              clearable
              :style="$store.state.fwidth">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记人：">
            <span>
              <el-input v-model="searchForm.finput_user"
                placeholder="请输入登记人" clearable style="width: 50%">
              </el-input>
              <el-checkbox v-model="isself" style="display:inline-block">仅显示我登记的</el-checkbox>
            </span>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记日期：">
            <el-date-picker :editable="false"
              clearable
              :style="$store.state.fwidth"
              v-model="searchForm.finput_date"
              :picker-options="pickerOptions"
              type="daterange"
              align="right"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="12"
          :xl="12">
          <el-form-item label-width="0">
            <el-button type="primary" @click="_getList()">查询</el-button>
            <div style="display: inline-block;margin-left: 10px">
              <input type="file" ref="fileId" id="upload_file" @change="getFile" style="display:none"/>
              <label for="upload_file" style="display: flex;justify-content: space-between;">
                <div class="upload-btn">导入</div>
              </label>
            </div>
           <!-- <el-button type="primary" @click="uploadFile">导入</el-button> -->
           <a href="http://dmp.hz-data.com/Public/Xls/dbxsdrmb.xlsx" target="_blank" style="padding: 0 10px;">
             <el-button type="primary" plain>下载导入模版</el-button>
           </a>
           <el-button type="primary" @click="_outData">导出</el-button>
           <el-button type="success" @click="_registration()">登记</el-button>
          </el-form-item>
        </el-col>
        <el-col :sm="24"
          :md="24"
          :lg="24"
          :xl="24"
          style="text-align:left">
          <el-form-item label-width="0">
            <el-button type="primary"
              style="margin-left:10px"
              @click="xfDeal()">下发</el-button>
            <el-button type="danger"  @click="deleted()">作废</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-row v-loading="loading">
      <el-table border
        :height="$store.state.GTableHeight"
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        @selection-change="_handleSelectionChange"
        :stripe="true">
        <el-table-column type="selection"
          width="40">
        </el-table-column>
        <el-table-column prop="fxuhao"
          label="序号"
          width="55">
        </el-table-column>
        <el-table-column prop="fnum"
          label="交办单号"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fhandover_date"
          label="交办日期"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadname"
          label="广告内容"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fget_regulator"
          label="接收机构"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="120"
          prop="finput_user"
          label="登记人"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="finput_date"
          label="登记日期"
          width="140"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column fixed="right"
          label="操作"
          width="120px">
          <template slot-scope="scope">
            <el-button type="text"  @click="detail(scope.row.fid)">查看</el-button>
            <el-button type="text"  @click="_registration(scope.row.fid)" style="color: #67C23A">继续登记</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="searchForm.pageSize"
        :current-page="Number(searchForm.pageIndex)"
        @current-change="_getList">
      </el-pagination>
    </el-row>
    <view-detail v-if="showDetail"
      dealTag="xsdj"
      :fid="fid"
      @close="showDetail = false">
    </view-detail>
     <clue-deal v-if="showClueDeal"
      :fid="fid"
      @getList="_getList()"
      @close="showClueDeal = false">
    </clue-deal>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
    <el-dialog center
      title="导入文件"
      width="600px"
      :visible.sync="showUpload"
      :before-close="closeUpFile"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <div style="height: 140px" v-loading="floading" element-loading-text="导入中" element-loading-spinner="el-icon-loading">
        <div style="padding: 14px 0">{{ xlsxFileName }}</div>
        <div v-if="msgRusult">
          <el-alert :title="msgRusult" :type=" msgColor ? 'success' : 'error'" :closable="false"></el-alert>
        </div>
      </div>
      <br>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="UploadSubmit" v-if="btnShow">确 定</el-button>
        <el-button type="primary" @click="closeUpFile" v-else>关 闭</el-button>
    </div>
    </el-dialog>

  </div>
</template>
<script>
import { Tree } from '../../../static/js/Tree'
import viewDetail from './components/viewDetail'
import clueDeal from './components/clueDeal'
import xfDialog from './components/xfDialog'
import outFile from '../common/outFile'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    outFile,
    viewDetail,
    clueDeal,
    xfDialog,
  },
  data() {
    return {
      xlsxFile:'',
      xlsxFileName: '',
      searchData: {},
      searchForm: {
        finput_date: [],
        pageIndex: 1,
        pageSize: 20,
      },
      isself: true,
      loading: false,
      floading: false,
      showUpload: false,
      showDetail: false,
      showClueDeal: false,
      rowData: {},
      fid: '',
      countAll: '0',
      tableData: [],
      multipleSelection: [],
      selected: {},
      clueList: [],
      showdownload: false,
      durl:'',
      msgRusult: '',
      btnShow: true,
      msgColor:  true,
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        }
      }
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.pageIndex = page || 1
      this.searchForm.finput_date = this.searchForm.finput_date ? this.searchForm.finput_date : []
      let data = {
        ...this.searchForm,
        isself: this.isself ? 1 : 0
      }
      this.searchData = data
      axios.post(this.$_ + '/Agp/Ncluelist/index', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data.msg)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
     _outData() {
      this.showdownload = true
      let data = {
        ...this.searchData,
        outtype: 'xls',
      }
      axios.post(this.$_ + '/Agp/Ncluelist/index', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.durl = res.data.data
        } else {
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    deleted() {
      if (!this.multipleSelection.length) {
        this.$message.error('请至少勾选一项')
        return false
      } else {
        const arr = this.multipleSelection.map(i => {
          return i.fid
        })
        this._deletedData({fid: arr})
      }
    },
    _deletedData(data) {
      this.$confirm('确认作废吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Ncluehistory/clueDelete', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$notify({
              title: '成功',
              message: res.data.msg,
              type: 'success'
            })
            this._getList(this.searchForm.pageIndex)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
      }).catch(() => {

      })
    },
    xfDeal() {
      if(!this.multipleSelection.length) {
        this.$message.error('请至少勾选一项')
      } else {
        this.$confirm('确认要进行下发操作吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const fidArr = this.multipleSelection.map(i => {
            return i.fid
          })
          axios.post(this.$_ + '/Agp/Ncluelist/clueSelectPush', JSON.stringify({fid: fidArr}))
          .then(res => {
            if (res.data.code === 0) {
              this.$notify({
                title: '成功',
                message: res.data.msg,
                type: 'success'
              })
              this._getList(this.searchForm.pageIndex)
            } else {
              this.$func._error(res.data.msg)
            }
          })
          .catch(() => {
            this.$func._error()
          })
        }).catch(() => {})
      }
    },
    UploadSubmit() {
      this.floading = true
      let that = this;
      let formData = new window.FormData();
      formData.append("file", that.xlsxFile);
      axios.post(this.$_ + '/Agp/Ncluelist/clueImport', formData)
      .then(res => {
        if (res.data.code === 0) {
          this.btnShow = false
          this.floading = false
          this.msgColor = true
          this.msgRusult = res.data.msg
          this._getList()
        } else {
          this.msgColor = false
          this.msgRusult = res.data.msg
          this.btnShow = false
          this.floading = false
        }
        this.btnShow = false
        document.querySelector('#upload_file').value = ''
      })
      .catch(() => {
        this.$func._error()
        this.closeUpFile()
      })
    },
    getFile(){
      //获取file内容
      let files = this.$refs.fileId.files[0]
      this.xlsxFile = files
      this.xlsxFileName = files.name
      if(this.xlsxFile) this.showUpload = true
    },
     _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    detail(fid) {
      this.showDetail = true
      this.fid = fid
    },
    closeUpFile() {
      this.showUpload = false
      this.xlsxFile = ''
      this.xlsxFileName = ''
      this.msgRusult = ''
      this.btnShow = true
      document.querySelector('#upload_file').value = ''
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val
    },
    _registration(item) {
      if(item) {
        this.fid = item
      } else {
        this.fid = ''
      }
      this.showClueDeal = true
    },
  },
  computed: {
  }
}
</script>
<style lang="scss" scoped>
.njcluelist {
  .el-table {
    margin-bottom: 10px;
  }
  .upload-btn {
    font-size: 12px;
    padding: 7px 15px;
    color: #FFF;
    background-color: #00c1de;
    border-color: #00c1de;
    display: inline-block;
    line-height: 16px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    text-decoration: none;

    &:hover, &:focus {
      background: #80e0ef;
      border-color: #80e0ef;
      color: #FFF;
    }
  }
}
</style>
