<template>
  <div class="njclue-history main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5">
          <el-form-item label="交办单号：">
            <el-input v-model="searchForm.fnum"
              placeholder="请输入交办单号"
              clearable
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5">
          <el-form-item label="广告内容：">
            <el-input v-model="searchForm.fadname"
              placeholder="请输入广告内容"
              clearable
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5"
          v-if="$store.state.userInfo.tregionlevel == ($store.state.userInfo.fregulatorlevel + 10)">
          <el-form-item label="登记人：">
            <el-input v-model="searchForm.finput_user"
              placeholder="请输入登记人"
              clearable
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="9"
          :xl="9"
          class="col-height">
          <el-col :span="12">
            <el-form-item label="处理状态：" label-width="110px">
              <el-select v-model="searchForm.fstatus"
                placeholder="请选择处理状态"
                clearable
                style="width: 100%">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value, key) in $store.state.xsDealType2"
                  :key="key"
                  :label="value.val"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="查看状态：">
              <el-select v-model="searchForm.fview_look"
                placeholder="请选择查看状态"
                clearable
                style="width: 100%">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option v-for="(value, key) in $store.state.seeStatus"
                  :key="key"
                  :label="value.val"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5"
          v-if="$store.state.userInfo.tregionlevel == ($store.state.userInfo.fregulatorlevel + 10)"
          class="col-height">
          <el-form-item label="登记日期：">
            <el-date-picker :editable="false"
              clearable
              :style="$store.state.fwidth"
              v-model="djrq"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions"
              @change="_clean">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5"
          class="col-height">
          <el-form-item label="下发日期：">
            <el-date-picker :editable="false"
              clearable
              :style="$store.state.fwidth"
              v-model="xfrq"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions"
              @change="_clean">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5"
          class="col-height">
          <el-form-item label="办结日期：">
            <el-date-picker :editable="false"
              clearable
              :style="$store.state.fwidth"
              v-model="overrq"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions"
              @change="_clean">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="9"
          :xl="9"
          class="col-height">
          <el-form-item label="反馈截止日期：" label-width="110px">
            <el-date-picker :editable="false"
              clearable
              :style="$store.state.fwidth"
              v-model="endrq"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions"
              @change="_clean">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5"
          v-if="$store.state.userInfo.tregionlevel == ($store.state.userInfo.fregulatorlevel + 10)">
          <el-form-item label="接收机构：">
            <el-select
              clearable
              style="width: 100%"
              placeholder="请选择接收机构"
              v-model="searchForm.fget_regulatorid">
              <el-option v-for="item in orgList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
          <span class="pull-right">
            <el-button type="primary" @click="_getList()">查询</el-button>
            <el-button type="primary" @click="_outData()">导出</el-button>
          </span>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column label="序号"
        prop="fxuhao"
        width="50">
      </el-table-column>
      <el-table-column
        prop="fnum"
        width="120"
        label="交办单号">
      </el-table-column>
     <el-table-column
        prop="fhandover_date"
        width="120"
        label="交办日期">
      </el-table-column>
      <el-table-column
        show-overflow-tooltip
        prop="fadname"
        label="广告内容">
      </el-table-column>
      <el-table-column
        show-overflow-tooltip
        prop="fcreatetrepname"
        label="反馈机构">
      </el-table-column>
      <el-table-column
        width="120"
        prop="fendtime"
        label="反馈截止日期">
        <!-- <template slot-scope="scope">
          <span :class="Number(scope.row.diffday) < 0 ? 'red' : ''">{{ scope.row.fendtime }} </span>
          <el-tag type="primary" v-if="Number(scope.row.diffday) >= 0 && scope.row.fstatus != 50"> 剩余{{ scope.row.diffday }}天</el-tag>
          <el-tag  type="danger" v-if="Number(scope.row.diffday) < 0 && scope.row.fstatus != 50">已超时</el-tag>
        </template> -->
      </el-table-column>
      <el-table-column
        width="90"
        prop="fhandle_user"
        label="反馈人">
      </el-table-column>
      <el-table-column
        prop="fhandle_enddate"
        show-overflow-tooltip
        label="实际反馈日期">
        <template slot-scope="scope">
          <span :class="Number(scope.row.diffday) < 0 ? 'red' : ''">{{ scope.row.fhandle_enddate }} </span>
          <el-tag  type="danger" v-if="Number(scope.row.diffday) < 0 && scope.row.fstatus != 50">已超时</el-tag>
          <el-tag  type="danger" v-if="Number(scope.row.diffday) < 0 && scope.row.fstatus == 50">超期反馈</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        width="120"
        label="处理状态">
        <template slot-scope="scope">
         <span :style="{'color': $store.state.xsDealType2[scope.row.fstatus].color }" v-if="scope.row.fstatus"> {{ $store.state.xsDealType2[scope.row.fstatus].val }}</span>
        </template>
      </el-table-column>
      <el-table-column
        width="90"
        label="查看状态">
        <template slot-scope="scope">
         <span :style="{'color': $store.state.seeStatus[scope.row.fview_look].color }" v-if="scope.row.fview_look"> {{ $store.state.seeStatus[scope.row.fview_look].val }}</span>
        </template>
      </el-table-column>
      <el-table-column
        width="90"
        prop="finput_user"
        label="登记人">
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="140">
        <template slot-scope="scope">
          <el-button @click.native.prevent="_details(scope.row)"
            type="text"
            icon="el-icon-view">
            查 看
          </el-button>
          <el-button type="text" style="color: #f56c6c" icon="el-icon-delete" @click="deleted(scope.row.fid)" v-if="scope.row.isdel == 1">作废</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.pageIndex)"
      @current-change="_getList">
    </el-pagination>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
    <view-detail v-if="showDeatil"
      :fid="fid"
      dealTag="xstz"
      @close="showDeatil = false">
    </view-detail>
  </div>
</template>

<script>
import viewDetail from './components/viewDetail'
import outFile from '../common/outFile'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    viewDetail,
    outFile
  },
  data() {
    return {
      loading: false,
      tableData: [{}],
      searchForm: {
        pageIndex: 1,
        pageSize: 20,
        fstatus: '0',
        fview_look: '-1',
        fget_regulatorid: '',
      },
      orgList: [],
      fid: '',
      djrq: [],
      xfrq: [],
      overrq: [],
      endrq: [],
      countAll: '0',
      showDeatil: false,
      fid: '',
      durl: '',
      searchData: {},
      showdownload: false,
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        }
      }
    }
  },
  created() {
    this._getSameOrg()
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.pageIndex = page || 1
      let data = {
        ...this.searchForm,
        finput_date: this.djrq ?  this.djrq : [],
        fpush_date: this.xfrq ?  this.xfrq : [],
        fhandle_enddate: this.overrq ?  this.overrq : [],
        fendtime: this.endrq ?  this.endrq : [],
      }
      this.searchData = data
      axios.post(this.$_ + '/Agp/Ncluehistory/index', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    deleted(fid) {
      this.$confirm('确认进行作废操作吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Ncluehistory/clueDelete', JSON.stringify({fid: fid}))
        .then(res => {
          if (res.data.code === 0) {
            this.$notify({
              title: '成功',
              message: res.data.msg,
              type: 'success'
            })
            this._getList(this.searchForm.pageIndex)
          } else {
            this.$func._error(res.data.msg)
          }
        })
        .catch(() => {
          this.$func._error()
        })
      }).catch(() => {

      })
    },
     _outData() {
      this.showdownload = true
      let data = {
        ...this.searchData,
        outtype: 'xls',
      }
      axios.post(this.$_ + '/Agp/Ncluehistory/index', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.durl = res.data.data
        } else {
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
     _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _clean(val) {
      if (!val) {
        this.djrq = []
      }
    },
    _details(row) {
      this.showDeatil = true
      this.fid = row.fid
    },
    _color(obj) {
      if (obj.hotstatus === '10') {
        return 'danger'
      }
      if (obj.hotstatus === '0') {
        return 'warning'
      }
      return 'info'
    },
    _getSameOrg(){
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
      .then(res => {
        if(res.data.code === 0){
          this.orgList = res.data.data
          // if(res.data.data.length && !this.fid){
          //   this.form.fhandle_regulatorid = res.data.data[0].fid
          //   this.form.fhandle_regulatorname = res.data.data[0].fname
          // }
        }
      })
      .catch(err =>{
      })
    },
  }
}
</script>
<style lang="scss" scoped>
  .col-height{
    height: 47px;
  }
  .red {
    color: #f56c6c;
  }
</style>