<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #app{
      display: flex;
    }
    .pross,.error{
      flex-grow: 1;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="pross">
        共要执行 {{LENGTH}} 条请求,正在执行第 {{i}} 条
    </div>
    <div class="error">
      <div v-for="(item,index) in err" :key="index">
        {{item}}
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./index.js"></script>
</body>
</html>