				<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
				<form class="form-horizontal m-t" id="Form" action="{:U()}">
                    {:form_hidden()}
                    <table class="table choose">
                            <tr>
                                <th>
									<div style="width:30%;display: inline-block;">
										<span style="display: inline-block;">关键字:</span>
										<input style="width:65%;display: inline-block;" name="keyword" type="text" class="form-control" value="{$Think.get.keyword}">
									</div>	
									<div style="width:30%;display: inline-block;">
										<span style="display: inline-block;">广告类别:</span>
										<input style="display: inline-block;width:65%" type="text" id="adclass" name="adclass" readonly class="form-control input-sm" value="{$Think.get.adclass}" fcode="{$Think.get.adclass_code}"
											placeholder="请选择广告类别">
										<input type="hidden" id="adclass_code" name="adclass_code" class="form-control input-sm" value="{$Think.get.adclass_code}">
										<div id="adclass-select" style="display:none">
											<ul class="addr_tab" role="tablist">
											</ul>
											<ul class="addr_area-list">
											</ul>
										</div>
									</div>
									
									<span>违法类型：</span>
									
									<select name="fillegaltypecode" class="form-control" style="width:15%;display: inline-block;">
										<option value="" <eq name="Think.get.fillegaltypecode" value="">selected</eq>>全部</option>
										 <foreach name="illegaltypeList" item="illegaltype">
											<option value="{$illegaltype.fcode}" <eq name="Think.get.fillegaltypecode" value="$illegaltype.fcode">selected</eq>>{$illegaltype.fillegaltype}</option>
										 </foreach>
										
									</select>
									
                                </th>
                            </tr>
							<tr>
                                
                                <th>
								
								
									<span style="display: inline-block;">录入状态:</span>
                                    <div class="i-checks radio" style="display: inline-block;">
                                        <label><input type="radio" name="inputstate" value="" <eq name="Think.get.inputstate" value="">checked</eq>> 全部</label>
                                        <label><input type="radio" name="inputstate" value="1" <eq name="Think.get.inputstate" value="1">checked</eq>> 未录入</label>
                                        <label><input type="radio" name="inputstate" value="2" <eq name="Think.get.inputstate" value="2">checked</eq>> 已录入</label>
										
									</div>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span style="display: inline-block;">初审状态:</span>
									<div class="i-checks radio" style="display: inline-block;">
                                        <label><input type="radio" name="inspectstate" value="" <eq name="Think.get.inspectstate" value="">checked</eq>> 全部</label>
                                        <label><input type="radio" name="inspectstate" value="1" <eq name="Think.get.inspectstate" value="1">checked</eq>> 未初审</label>
                                        <label><input type="radio" name="inspectstate" value="2" <eq name="Think.get.inspectstate" value="2">checked</eq>> 已初审</label>
                                    
									</div>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<if condition="$user_other_authority_1005 == 'true' ">
										<span style="display: inline-block;">复审数据:</span>
										<div class="checkbox i-checks" style="display: inline-block;"> 
											<label style="padding-left:-20px;"><input type="checkbox" name="review_state" <if condition="$Think.get.review_state == '0' "> checked</if> value="0"></label> 
										</div> 
									</if>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									发布日期:
									<input id="Sstart" name="fissuedate_s" type="text" class="form-control input-sm laydate-icon"
                                        style="width:110px;display:inline-block;" value="{$Think.get.fissuedate_s}">
                                    <input id="Send" name="fissuedate_e" type="text" class="form-control input-sm laydate-icon"
                                        style="width:110px;display:inline-block;margin-left:20px;" value="{$Think.get.fissuedate_e}">
                                </th>
                            </tr>
                    </table>
					<div class="text-right">
						<button type="submit" class="btn btn-primary" id="Submit"><i class="fa fa-search "></i> 搜索</button>
					</div>
                </form>
				
				
	<script>			
		//$(function () {
			laydate.skin('molv');
			var Sstart = {
				elem: '#Sstart',
				format: 'YYYY-MM-DD',
				min: '1970-01-01 00:00:00', //设定最小日期为当前日期
				max: '{:I('fcreatetime_e')}', //最大日期
				istime: false,
				istoday: false,
				choose: function (datas) {
					Send.min = datas; //开始日选好后，重置结束日的最小日期
					Send.start = datas //将结束日的初始值设定为开始日
				}
			};
			var Send = {
				elem: '#Send',
				format: 'YYYY-MM-DD',
				min: '{:I('fcreatetime_s')}',
				max: '2099-06-16 23:59:59',
				istime: false,
				istoday: false,
				choose: function (datas) {
					Sstart.max = datas; //结束日选好后，重置开始日的最大日期
				}
			};
			laydate(Sstart);
			laydate(Send);
		//})
	</script>