<template>
  <div class="alianceSum main-bg" v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="查询时间：">
            <el-date-picker
              v-model="form.issueDate"
              type="daterange"
              value-format="yyyy-MM-dd"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="16"
          :xl="18">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList()"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :height="$store.state.GTableHeight"
      border
      stripe
      :data="tableData">
      <el-table-column type="index"
        width="50">
        <template slot-scope="scope">
          <span>{{(scope.$index + 1) === (allCount + 1) ? '合计' : scope.$index + 1}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="websitename"
        label="名称"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span>
            {{scope.row.websitename || '全部'}}
          </span>
        </template>
      </el-table-column>
      <el-table-column
        prop="tiaocicount"
        label="条次"
        show-overflow-tooltip>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      form: {
        issueDate: '',
      },
      tableData: [],
      loading: false,
    }
  },
  created() {
    let stime = this.$dayjs().startOf('month').format('YYYY-MM-DD')
    let etime = this.$dayjs().format('YYYY-MM-DD')
    this.form.issueDate = [stime, etime]
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList() {
      this.loading = true
      this.form.issueDate ? this.form.issueDate : []
      axios.post(this.$_ + '/Agp/Gsummary/trackerData', qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            if(res.data.data.length !== 0){
              this.tableData.push({tiaocicount: res.data.data2})
            }
            this.loading = false
          } else {
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
  },
  computed: {
    allCount() {
      return Number(this.tableData.length - 1)
    },
  }
}
</script>
