<template>
  <div class="approval-from">
    <el-dialog
      :title="details.fflowname"
      :visible.sync="show"
      center
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="_close"
      width="90%">
      <clue-details :annexDetails="annexDetails" v-if="adDetailDialog" @close="_closeDetails">
      </clue-details>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form :model="form" >
            <el-form-item label="承办结果" label-width="80px" v-if="registrationForm.fstate === '31'">
              <strong>{{undertakeList[registrationForm.y_fchildstate]}}</strong>
            </el-form-item>
            <el-form-item label="审批结果" label-width="80px">
              <el-radio v-model="form.czstate" label="10">通 过</el-radio>
              <el-radio v-model="form.czstate" label="20">退 回</el-radio>
            </el-form-item>
            <el-form-item label="审批建议" label-width="80px">
              <el-input type="textarea" v-model="form.result" :rows="5"></el-input>
            </el-form-item>
            <el-form-item label="" label-width="80px">
              <el-tag
                :key="tag.tg_id"
                v-for="tag in cyTags"
                closable
                :disable-transitions="false"
                @click.native="form.result += tag.tg_content"
                @close="_deleteTag(tag)">
                {{tag.tg_content}}
              </el-tag>
              <el-input
                class="input-new-tag"
                v-if="inputVisible"
                v-model="inputValue"
                ref="saveTagInput"
                @keyup.enter.native="_addTag"
                @blur="_addTag">
              </el-input>
              <el-button v-else class="button-new-tag"  @click="showInput">+ 添加常用语</el-button>
            </el-form-item>
            <el-form-item label="交办部门" label-width="80px" v-if="form.czstate === '10' && registrationForm.fstate === '31' && registrationForm.y_fchildstate === '20'">
              <el-select
                placeholder="请选择交办部门（必选）"
                v-model="form.fwaitregulatorid"
                @change="_setName"
                style="width:100%">
                <el-option v-for="item in lowerTregulator" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="交办人" label-width="80px" v-if="form.czstate === '10' && (registrationForm.y_fchildstate === '20' || registrationForm.y_fchildstate === '0')">
              <el-select
                placeholder="请选择交办人（必选）"
                v-model="form.fwaitpersonid"
                style="width:100%">
                <el-option v-for="item in orgPeopleList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="12" style="max-height:600px;overflow:scroll;">
          <el-collapse v-model="activeline">
            <el-collapse-item title="投诉信息" name="1">
              <table style="border-color:#dcdfe6;color:#606266;" border='1' width="100%" cellspacing="0" cellpadding="6">
                <tr>
                  <th style="width:120px">标题</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>线索名称</th>
                  <td>{{ registrationForm.fcluename }}</td>
                </tr>
                <tr>
                  <th>文号</th>
                  <td>{{ registrationForm.fnumber }}</td>
                </tr>
                <tr>
                  <th>来源分类</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>举报人性质</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '10'">
                  <th>证件号码</th>
                  <td>{{ registrationForm.fpersoncard }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '20'">
                  <th>所在单位</th>
                  <td>{{ registrationForm.fpersoncompany }}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>邮政编码</th>
                  <td>{{ registrationForm.fpersonpostcode }}</td>
                </tr>
                <tr>
                  <th>联系地址</th>
                  <td>{{ registrationForm.fpersonadress }}</td>
                </tr>
                <tr>
                  <th>邮箱地址</th>
                  <td>{{ registrationForm.fpersonmail }}</td>
                </tr>
                <tr>
                  <th>被举报人</th>
                  <td>{{ registrationForm.freportedpeople }}</td>
                </tr>
                <tr>
                  <th>违法地址</th>
                  <td>{{ registrationForm.filladdress }}</td>
                </tr>
                <tr>
                  <th>违法行为类别</th>
                  <td>{{ $store.state.wfcd[registrationForm.fillbehaviortype] }}</td>
                </tr>
                <tr>
                  <th>诉求事项</th>
                  <td>{{ registrationForm.fappeal }}</td>
                </tr>
                <tr>
                  <th>摘要内容</th>
                  <td>{{ registrationForm.fregistercontents }}</td>
                </tr>
                <tr>
                  <th>备注</th>
                  <td>{{ registrationForm.remark }}</td>
                </tr>
                <tr>
                  <th>登记日期</th>
                  <td>{{ registrationForm.fregistertime ? registrationForm.fregistertime.substring(0,10) : '' }}</td>
                </tr>
                <tr>
                  <th>流程环节</th>
                  <td>
                    {{details.fflowname}}
                  </td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="违法广告信息" name="2" v-if="registrationForm.ffromtype === '10'">
              <el-table :data="clueList" style="width: 100%" border>
                <el-table-column prop="fadname" label="广告名称">
                </el-table-column>
                <el-table-column width="80" label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"  @click="_showDetails(scope.row)" icon="el-icon-info">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="文书信息" name="3" v-if="wsData.length">
              <el-table
                :data="wsData"
                border
                style="width: 100%">
                <el-table-column
                  prop="fattachname"
                  label="文书标题">
                </el-table-column>
                <el-table-column
                  prop="fflowname"
                  label="流程环节">
                </el-table-column>
                <el-table-column
                  label="操作"
                  width="80">
                  <template slot-scope="scope">
                    <a :href="scope.row.fattachurl">
                      <el-button type="text"  icon="el-icon-download">下 载</el-button>
                    </a>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="证据材料" name="4" v-if="attachInfo.length">
              <ill-annex
                :hidetitle="true"
                :showUpload="false"
                :attachInfo="attachInfo"
                :clueList="[]">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="处理流程" name="5">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_yesSubmit(2)" :loading="$store.state.bloading">提 交</el-button>
        <el-button @click="_yesSubmit(1)" :loading="$store.state.bloading">保 存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import illAnnex from './illAnnex'
import clueDetails from './clueDetails'
import flowTable from '../../clue/common/flowTable'
import { _getClueList2 }  from '../../../../static/js/common'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    flowTable,
    clueDetails,
    illAnnex
  },
  props: {
    fid: {
      default: '',
      type: String
    },
    posturl: {
      default: '',
      type: String
    },
    geturl: {
      default: '',
      type: String
    },
    details: {
      default: {},
      type: Object
    }
  },
  data(){
    return {
      form: {
        czstate: '10',
        result: '',
        fid: '',
        fwaitpersonid: '',
        fwaitregulatorid: '',
      },
      attachInfo: [],
      wsData: [],
      lowerTregulator: [],
      flowData: [],
      clueList: [],
      show: true,
      showchoose: false,
      activeline: ['1'],
      registrationForm: {},
      adDetailDialog: false,
      flowid: '',
      annexDetails: {
        data: {}
      },
      bucket_url: '',
      orgPeopleList: [],
      cyTags: [],
      inputVisible: false,
      inputValue: '',
      undertakeList: {
        '10': '自办',
        '20': '转办',
        '30': '退回',
      },
    }
  },
  created(){
    this._getDetails(this.fid)
    this._getToken()
    this._getLowRegulator()
    this._getTags()
  },
  methods: {
    _yesSubmit(type){
      if(type === 2){
        if(this.registrationForm.fstate === '31' && this.registrationForm.y_fchildstate === '20'){
          if(!this.form.fwaitpersonid){
            this.$message.error('请选择交办人！')
            return false
          }
        }else{
          if(!this.form.fwaitpersonid){
            this.$message.error('请选择交办人！')
            return false
          }
        }
        this._onSubmit(type)
        return false
      }
      this._onSubmit(type)
    },
    _getrefiles(fid,flowid){
      let data = {fid,flowid}
      data.ts = '0'
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowfile',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.attachInfo = res.data.data.files1
          this.wsData = res.data.data.files2
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error('网络错误')
      })
    },
    _close(){
      this.$emit('close')
    },
    // 提交表单
    _onSubmit(type){
      let data = {...this.form}
      data.submit = type
      data.flowid = this.flowid
      this.$store.commit('_bloading',true)
      axios.post(this.$_ + this.posturl,qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success('操作成功')
        }else{
          this.$message.error(res.data.msg)
        }
        this.$store.commit('_bloading',false)
      })
      .catch(() => {
        this.$func._error('网络错误')
        this.$store.commit('_bloading',false)
      })
      this.$emit('close')
    },
    _flowData(fid){
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowlist',qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          this.flowData = res.data.data
        }
      })
    },
    _getDetails(fid){
      let url = this.geturl
      axios.post(this.$_ + url,qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          this.flowid = res.data.data.data.flowid
          this._getrefiles(res.data.data.data.fid,res.data.data.data.flowid)
          this.registrationForm = res.data.data.data
          this._flowData(res.data.data.data.fid)
          if(res.data.data.data.fchildstate === '61'){
            this.form.czstate = '20'
          }else if(res.data.data.data.fchildstate === '60'){

          }
          this.form.result = res.data.data.data.fcreateinfo
          this.form.fid = res.data.data.data.fid
          if(res.data.data.data.ffromtype === '10'){
            let fillegaladid = []
            res.data.data.data.fillegaladid.forEach(item => {
              fillegaladid.push(item.fid)
            })
            _getClueList2(this,fillegaladid)
          }
        }
      })
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
    _getToken(){
      axios.post(this.$_ + '/Agp/Core/get_file_up')
      .then(res => {
        if(res.data.code === 0){
          this.bucket_url = res.data.data.bucket_url
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    // 获取下级机构
    _getLowRegulator() {
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
      .then(res => {
        if (res.data.code === 0) {
          this.lowerTregulator = res.data.data
          let _data = res.data.data[0]
          let fid = _data ? _data.fid : ''
          this.$set(this.form,'fwaitregulatorid',fid)
          this._setName(fid)
        } else {
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _setName(val){
      let data = {fstate: 0}
      if(this.registrationForm.fstate === '31' && this.registrationForm.y_fchildstate === '20'){
        data.trepid = val
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/get_czjurisdiction',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.orgPeopleList = res.data.data.list
          if(res.data.data.list.length){
            this.$set(this.form, 'fwaitpersonid', res.data.data.list[0].fid)
          }else{
            this.form.fwaitpersonid = ''
          }
        }
      })
    },
    _getTags(){
      axios.post(this.$_ + '/Agp/Fxschangyongyu/index')
      .then(res => {
        if(res.data.code === 0){
          this.cyTags = res.data.data.list
        }
      })
    },
    _deleteTag(tag) {
      let data = {
        fid: tag.tg_id
      }
      axios.post(this.$_ + '/Agp/Fxschangyongyu/delcommonlng',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success(res.data.msg)
          this._getTags()
        }else{
          this.$func._error(res.data)
        }
      })
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    _addTag() {
      let inputValue = this.inputValue;
      let data = {
        content: inputValue
      }
      if (inputValue) {
        axios.post(this.$_ + '/Agp/Fxschangyongyu/addcommonlng',qs.stringify(data))
        .then(res => {
          if(res.data.code === 0){
            this.$message.success(res.data.msg)
            this._getTags()
            this.inputVisible = false
            this.inputValue = ''
          }
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.el-tag{
  cursor: pointer;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 24px;
  padding: 0 8px;
  line-height: 22px;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>
