<template>
  <div class="first-trial">
    <el-dialog :title="details.fflowname"
      :visible.sync="show"
      :before-close="_close"
      center
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails"
        v-if="adDetailDialog"
        @close="_closeDetails">
      </clue-details>
      <ws-view v-if="showView"
        @close="_closeView"
        :data="formData"></ws-view>
      <el-row :gutter="20">
        <el-col :span="12"
          style="max-height:600px;overflow:scroll;">
          <el-form v-model="formData"
            label-width="90px">
            <el-form-item label="处理意见：">
              <el-input type="textarea"
                v-model="result"
                :rows="5"></el-input>
            </el-form-item>
            <el-form-item label="处置方式：">
              <el-select placeholder="处置方式"
                v-model="commonData.undertake"
                style="width:100%">
                <el-option v-for="item in undertakeList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="处罚方式："
              v-if="commonData.undertake === '10'">
              <el-checkbox-group v-model="fpunish">
                <el-checkbox label="责令停止发布"></el-checkbox>
                <el-checkbox label="立案"></el-checkbox>
                <el-checkbox label="移送司法"></el-checkbox>
                <el-checkbox label="其他"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item label="交办人：">
              <el-select placeholder="请选择交办人（必选）"
                v-model="commonData.fwaitpersonid"
                style="width:100%">
                <el-option v-for="item in orgPeopleList"
                  :key="item.fid"
                  :label="item.fname"
                  :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
            <fieldset>
              <legend>编写文书</legend>
              <el-form-item label="文书模板：">
                <el-select v-model="dr_dlid"
                  style="width:100%"
                  @change="_changeWs">
                  <el-option v-for="item in wsList"
                    :key="item.dl_id"
                    :label="item.dl_name"
                    :value="item.dl_id"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="文书标题：">
                <el-input type="textarea"
                  v-model="formData.dt_doctitle"></el-input>
              </el-form-item>
              <el-form-item label="文号：">
                <el-input v-model="formData.dt_number"></el-input>
              </el-form-item>
              <el-form-item label="收文单位：">
                <el-input v-model="formData.dt_receiveregulatorname"></el-input>
              </el-form-item>
              <el-form-item label="正文：">
                <vue-ueditor-wrap v-if="showcontent"
                  v-model="formData.dt_content"
                  :config="$store.state.ueditorConfig"
                  :destroy="true">
                </vue-ueditor-wrap>
              </el-form-item>
              <el-form-item label="发文单位：">
                <el-input v-model="formData.dt_sendregulatorname"></el-input>
              </el-form-item>
              <el-form-item label="发文日期：">
                <el-date-picker :editable="false"
                  style="width:100%"
                  v-model="formData.dt_sendtime"
                  type="date"
                  placeholder="选择日期"
                  format="yyyy年M月d日"
                  value-format="yyyy-M-d">
                </el-date-picker>
              </el-form-item>
              <div class="text-center">
                <el-button type="primary"
                  @click="_checkDl">保 存</el-button>
                <el-button @click="showView = true">预 览</el-button>
              </div>
            </fieldset>
          </el-form>
        </el-col>
        <el-col :span="12"
          style="max-height:600px;overflow:scroll;">
          <el-collapse v-model="activeline">
            <el-collapse-item title="投诉信息"
              name="1">
              <table style="border-color:#dcdfe6;color:#606266;"
                border='1'
                width="100%"
                cellspacing="0"
                cellpadding="6">
                <tr>
                  <th style="width:120px">标题</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>线索名称</th>
                  <td>{{ registrationForm.fcluename }}</td>
                </tr>
                <tr>
                  <th>来源分类</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>举报人性质</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '10'">
                  <th>证件号码</th>
                  <td>{{ registrationForm.fpersoncard }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '20'">
                  <th>所在单位</th>
                  <td>{{ registrationForm.fpersoncompany }}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>邮政编码</th>
                  <td>{{ registrationForm.fpersonpostcode }}</td>
                </tr>
                <tr>
                  <th>联系地址</th>
                  <td>{{ registrationForm.fpersonadress }}</td>
                </tr>
                <tr>
                  <th>邮箱地址</th>
                  <td>{{ registrationForm.fpersonmail }}</td>
                </tr>
                <tr>
                  <th>被举报人</th>
                  <td>{{ registrationForm.freportedpeople }}</td>
                </tr>
                <tr>
                  <th>违法地址</th>
                  <td>{{ registrationForm.filladdress }}</td>
                </tr>
                <tr>
                  <th>违法行为类别</th>
                  <td>{{ $store.state.wfcd[registrationForm.fillbehaviortype] }}</td>
                </tr>
                <tr>
                  <th>诉求事项</th>
                  <td>{{ registrationForm.fappeal }}</td>
                </tr>
                <tr>
                  <th>摘要内容</th>
                  <td>{{ registrationForm.fregistercontents }}</td>
                </tr>
                <tr>
                  <th>备注</th>
                  <td>{{ registrationForm.remark }}</td>
                </tr>
                <tr>
                  <th>登记日期</th>
                  <td>{{ registrationForm.fregistertime.substring(0,10) }}</td>
                </tr>
                <tr>
                  <th>流程环节</th>
                  <td>
                    {{details.fflowname}}
                  </td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="违法广告信息"
              name="2"
              v-if="registrationForm.ffromtype === '10'">
              <el-table :data="clueList"
                style="width: 100%"
                border>
                <el-table-column prop="fadname"
                  label="广告名称">
                </el-table-column>
                <el-table-column width="80"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"
                      @click="_showDetails(scope.row)"
                      icon="el-icon-info">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="文书信息"
              name="3">
              <el-table :data="wsData"
                border
                style="width: 100%">
                <el-table-column prop="fattachname"
                  label="文书标题">
                </el-table-column>
                <el-table-column prop="fflowname"
                  label="流程环节">
                </el-table-column>
                <el-table-column label="操作"
                  width="130">
                  <template slot-scope="scope">
                    <a :href="scope.row.fattachurl">
                      <el-button type="text"
                        icon="el-icon-download">下 载</el-button>
                    </a>
                    <el-button type="text"
                      v-if="scope.row.delstate === '20'"
                      icon="el-icon-delete"
                      @click="_deleteWs(scope.row)">
                      删 除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="证据材料"
              name="4">
              <ill-annex :hidetitle="true"
                :showUpload="true"
                :attachInfo="attachInfo"
                :clueList="[]"
                :uploading="uploading"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @deletesuccess="_deleteSuccess"
                :fillegaladflowid="registrationForm.fillegaladflowid"
                :fregisterid="fid">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="处理流程"
              name="5">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_yesSubmit(2)"
          :loading="$store.state.bloading">提 交</el-button>
        <el-button @click="_yesSubmit(1)"
          :loading="$store.state.bloading">保 存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import VueUeditorWrap from 'vue-ueditor-wrap'
import { _getClueList2 } from '../../../../static/js/common.js'
import clueDetails from './clueDetails'
import illAnnex from './illAnnex'
import flowTable from "../../clue/common/flowTable"
import wsView from '../../clue/wsView'
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['wstype', 'fid', 'back', 'details'],
  components: {
    illAnnex,
    flowTable,
    wsView,
    clueDetails,
    VueUeditorWrap
  },
  data() {
    return {
      showcontent: false,
      showView: false,
      adDetailDialog: false,
      annexDetails: {
        data: {}
      },
      wsmb: '',
      wsData: [],
      activeline: ['1'],
      commonData: {
        fwaitpersonid: '',
        undertake: '10'
      },
      fidd: '',
      msg: '',
      formData: {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0',
      },
      form: {},
      registrationForm: {
        fregistertime: ''
      },
      attachInfo: [],
      clueList: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      innerVisible: false,
      flowData: [],
      show: true,
      lowerTregulator: [],
      orgPeopleList: [],
      dr_name: '',
      dr_dlid: '',
      wsList: [],
      flowid: '',
      result: '',
      undertakeList: [
        {
          label: '自办',
          value: '10'
        },
        {
          label: '转办',
          value: '20'
        },
        {
          label: '退回',
          value: '30'
        }
      ],
      fpunish: [],
      orgPeopleList: []
    }
  },
  created() {
    this._get_dl_list()
    this._setName()
    if (this.fid) {
      this._getDetails(this.fid)
    }
  },
  methods: {
    _getrefiles(fid, flowid, type, name) {
      let data = { fid, flowid }
      data.ts = type
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowfile', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (type === '10') {
              this[name] = res.data.data.files1
            } else if (type === '20') {
              this[name] = res.data.data.files2
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('网络错误')
        })
    },
    _flowData(fid) {
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowlist', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.flowData = res.data.data
          }
        })
    },
    _getDetails(fid) {
      this.showcontent = false
      axios.post(this.$_ + '/Agp/Ffjdengji/get_registerview', qs.stringify({
        fid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this._flowData(res.data.data.data.fid)
            this._getrefiles(res.data.data.data.fid, res.data.data.data.flowid, '10', 'attachInfo')
            this._getrefiles(res.data.data.data.fid, res.data.data.data.flowid, '20', 'wsData')
            this.flowid = res.data.data.data.flowid
            this.result = res.data.data.data.fcreateinfo
            if (res.data.data.data.ffromtype === '10') {
              let fillegaladid = []
              res.data.data.data.fillegaladid.forEach(item => {
                fillegaladid.push(item.fid)
              })
              let mclass = res.data.data.data.fillegaladid[0].fmedia_class
              _getClueList2(this, fillegaladid, mclass)
            }
          } else {
            this.$func._error(res.data)
          }
          this.showcontent = true
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _submit(type) {
      let data = { ...this.commonData }
      data.submit = type
      data.result = this.result
      data.fid = this.fid
      data.fpunish = this.fpunish.join(';')
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + '/Agp/Ffjdengji/update_register', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success('操作成功')
          } else {
            this.$message.error(res.data.msg)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('网络错误')
          this.$store.commit('_bloading', false)
        })
      this.$emit('close')
    },
    /**
     * 关闭弹窗
     */
    _close() {
      this.$emit('close')
    },
    _yesSubmit(type) {
      if (type === 2) {
        if (!this.fpunish.length && this.commonData.undertake === '10') {
          this.$message.error('请选择处罚方式！')
          return false
        }
        if (!this.commonData.fwaitpersonid) {
          this.$message.error('请选择人员！')
          return false
        }
        this._submit(type)
        return
      }
      this._submit(type)
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      this._uploadFile(obj)
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid ? this.fid : this.fidd,
        attachinfo: Array.of(obj),
        flowid: this.flowid
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            this._getrefiles(this.fid, this.flowid, '10', 'attachInfo')
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    _setName() {
      let data = {
        fstate: 0
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/get_czjurisdiction', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.orgPeopleList = res.data.data.list
            if (res.data.data.list.length) {
              this.$set(this.commonData, 'fwaitpersonid', res.data.data.list[0].fid)
            }
          }
        })
    },
    _getTransfer(val, val2) {
      this.options.forEach(item => {
        if (Number(item.fid) === Number(val2)) {
          this[val].ftoregulatorname = item.fname
        }
      })
    },
    _get_dl_list() {
      let dl_deid = ''
      let data = {
        ws_type_ids: this.wstype,
        dl_regulatorname: this.$store.state.userInfo.regulatorname
      }
      axios.post(this.$_ + '/Agp/WsTemp/get_ws_number', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.wsList = res.data.data
            let data = res.data.data[0]
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_content'] = data['dl_content']
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_number'] = data['wsh']
            this['formData']['dt_name'] = data['dl_name']
            this['formData']['dt_doctitle'] = data['dl_doctitle']
            this['formData']['dt_id'] = data['dl_id']
            this.dr_dlid = data.dl_id
            this.dr_name = data.wsh
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _saveWs() {
      let fid = this.fid ? this.fid : this.fidd
      let data = {
        ...this.formData,
        fid: fid,
        flowid: this.flowid
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/create_document', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._get_dl_list()
            this._getrefiles(this.fid, this.flowid, '20', 'wsData')
            this._resetForm()
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _resetForm() {
      this.formData = {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0'
      }
      this.changeAttachInfo = []
      this.dr_dlid = ''
    },
    _checkDl() {
      let data = {
        dr_name: this.dr_name,
        dr_dlid: this.dr_dlid
      }
      axios.post(this.$_ + '/Agp/WsTemp/vad_wh', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._saveWs()
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _changeWs(val) {
      let obj = this.wsList.filter(item => {
        return item.dl_id === val
      })
      let data = obj[0]
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_content'] = data['dl_content']
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_number'] = data['wsh']
      this['formData']['dt_name'] = data['dl_name']
      this['formData']['dt_doctitle'] = data['dl_doctitle']
      this.dr_dlid = data.dl_id
      this.dr_name = data.wsh
    },
    _closeView() {
      this.showView = false
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      if (obj.fmedia_class === '1' || obj.fmedia_class === '2') {
        if (obj.adclueInfo === null) {
          obj.adclueInfo = {}
        }
      }
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
    _deleteWs(obj) {
      let url = '/Agp/Ffjdengji/delete_document'
      let data = {
        fid: obj.fid
      }
      this.$confirm('确认删除该文书?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + url, qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: res.data.msg
              })
              this._getrefiles(this.fid, this.flowid, '20', 'wsData')
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    _deleteSuccess(obj) {
      this._getrefiles(this.fid, this.flowid, '10', 'attachInfo')
    },
  }
}
</script>
