<template>
  <div class="clue-details">
    <el-dialog :title="annexDetails.fadname"
      :visible.sync="show"
      append-to-body
      center
      width="90%"
      :before-close="_close">
      <el-row :gutter="40">
        <el-col :span="12">
          <aliplayer :url="videoUrl"
            width="100%"
            height="500px"
            v-if="(annexDetails.fmedia_class === '1' || annexDetails.fmedia_class === '2') && videoUrl">
          </aliplayer>
          <div class="imgBlock"
            style="height:600px"
            v-if="annexDetails.fmedia_class === '3'">
            <vueCropper ref="cropper"
              :img="annexDetails.fjpgfilename"
              :outputSize="1"></vueCropper>
          </div>
        </el-col>
        <el-col :span="12"
          style="max-height:600px;overflow: auto;">
          <fieldset>
            <legend>基本信息</legend>
            <el-form label-width="90px"
              class="el-form-details">
              <el-form-item label="广告名称：">
                {{ annexDetails.fadname || '暂无' }}
              </el-form-item>
              <el-form-item label="广告类别：">
                {{ annexDetails.adclass_fullname || '暂无' }}
              </el-form-item>
              <el-form-item label="发布媒体：">
                {{ annexDetails.fmedianame || '暂无' }}
              </el-form-item>
              <el-form-item label="发布次数：">
                {{ annexDetails.fissuetimes || '暂无' }} 次
              </el-form-item>
              <el-form-item label="发布日期：">
                {{ annexDetails.fissuedate.substring(0,10) || '暂无' }}
              </el-form-item>
              <el-form-item label="时长："
                v-if="annexDetails.fmedia_class !== 3">
                {{ annexDetails.fadlen || '暂无' }}
              </el-form-item>
              <el-form-item label="版面："
                v-if="annexDetails.fmedia_class === 3">
                {{ annexDetails.fadlen || '暂无' }}
              </el-form-item>
              <el-form-item label="下载素材："
                v-if="annexDetails.fmedia_class !== '3'">
                <a :href="annexDetails.favifilename+'?attname='"
                  target="_blank"
                  v-if="downyb">
                  <el-button type="primary">下载素材</el-button>
                </a>
                <a :href="downloadurl+'?attname='"
                  target="_blank"
                  v-if="annexDetails.fmedia_class !== '3' && downloadurl && !downyb">
                  <el-button type="primary">下载素材</el-button>
                </a>
                <el-button type="primary"
                  @click="_createCC"
                  v-else-if="annexDetails.fmedia_class !== '3' && !downloadurl && !downyb"
                  :loading="annexDetails.source_state === '1'">{{annexDetails.source_state === '1' ? '正在生成' : '生成素材'}}</el-button>
              </el-form-item>
            </el-form>
          </fieldset>
          <fieldset>
            <legend>涉嫌违法信息</legend>
            <el-form label-width="90px"
              class="el-form-details">
              <el-form-item label="违法类型：">
                <span v-if="annexDetails.fillegaltypecode === '0'">不违法</span>
                <span v-if="annexDetails.fillegaltypecode === '20'">一般违法</span>
                <span v-if="annexDetails.fillegaltypecode === '30'">严重违法</span>
              </el-form-item>
              <el-form-item label="认定依据：">
                {{ annexDetails.fconfirmations ? annexDetails.fconfirmations : '暂无' }}
              </el-form-item>
              <el-form-item label="涉嫌违法表现：">
                {{ annexDetails.fexpressions ? annexDetails.fexpressions : '暂无' }}
              </el-form-item>
              <el-form-item label="涉嫌违法内容：">
                {{ annexDetails.fillegalcontent ? annexDetails.fillegalcontent : '暂无' }}
              </el-form-item>
            </el-form>
          </fieldset>
          <fieldset>
            <legend>其他信息</legend>
            <el-form label-width="240px"
              class="el-form-details">
              <el-form-item label="生产批准文号：">
                {{ annexDetails.fmanuno ? annexDetails.fmanuno : '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的生产批准文号：">
                {{ annexDetails.fadmanuno ? annexDetails.fadmanuno : '暂无' }}
              </el-form-item>
              <el-form-item label="广告批准文号：">
                {{ annexDetails.fapprno ? annexDetails.fapprno : '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的广告批准文号：">
                {{ annexDetails.fadapprno ? annexDetails.fadapprno : '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的生产企业（证件持有人）名称：">
                {{ annexDetails.fadent ? annexDetails.fadent : '暂无' }}
              </el-form-item>
              <el-form-item label="生产企业（证件持有人）名称：">
                {{ annexDetails.fent ? annexDetails.fent : '暂无' }}
              </el-form-item>
              <el-form-item label="生产企业（证件持有人）所在地区：">
                {{ annexDetails.fentzone ? annexDetails.fentzone : '暂无' }}
              </el-form-item>
            </el-form>
          </fieldset>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import VueCropper from 'vue-cropper'
import aliplayer from '../../common/aliplayer'
export default {
  props: ['annexDetails'],
  components: {
    VueCropper,
    aliplayer
  },
  data() {
    return {
      activeTab: 'adInfo',
      show: true,
      downyb: true,
      timer: null,
      issueList: [],
      issIndex: 0,
      listIndex: 0,
      downloadurl: '',
      videoUrl: ''
    }
  },
  created() {
    if (this.annexDetails.source_url) {
      this.downloadurl = this.annexDetails.source_url
    }
    this.issueList = this.annexDetails.issue_list || []
    if (this.annexDetails.issue_list && this.issueList.length) {
      this._getPlayUrl(this.issueList[this.issIndex])
    } else if (this.annexDetails.issue_list && !this.issueList.length) {
      this.videoUrl = this.annexDetails.favifilename
    }
  },
  methods: {
    _getPlayUrl(data) {
      axios.post(this.$_ + '/Agp/Gsbchuli/get_favifilename', qs.stringify(data))
        .then(res => {
          if (res.data.data.length) {
            this.listIndex = 0
            this._testM3u8(res.data.data)
          } else {
            this.videoUrl = this.annexDetails.favifilename
          }
        })
    },
    _testM3u8(arr) {
      axios.get(arr[this.listIndex].favifilename, {}, { timeout: 3000 })
        .then(res => {
          // 判断m3u8是否有效，包含http说明含有效内容
          if (res.data.indexOf("http") === -1) {
            this.listIndex += 1
            if (this.listIndex < arr.length) {
              return this._testM3u8(arr)
            } else if (this.listIndex >= arr.length && this.issIndex < this.issueList.length - 1) {
              this.issIndex++
            } else {
              this.videoUrl = this.annexDetails.favifilename
              this.downyb = true
            }
          } else {
            let matchReg = res.data.split("\n").filter(item => {
              return item.indexOf("http") !== -1
            })
            let fst_url = matchReg[0]
            axios.get(fst_url)
              .then(req => {
                if (!req.data.error) {
                  this.videoUrl = arr[this.listIndex].favifilename
                  this.downyb = false
                } else {
                  return this._testM3u8(arr)
                }
              })
          }
        })
        .catch(e => {
          this.listIndex += 1
          if (this.listIndex < arr.length) {
            return this._testM3u8(arr)
          } else if (this.listIndex >= arr.length && this.issIndex < this.issueList.length - 1) {
            this.issIndex++
          } else {
            this.videoUrl = this.annexDetails.favifilename
          }
        })
    },
    _createCC() {
      let data = {}
      data.source_type = 20
      data.media_id = this.annexDetails.fmedia_id
      data.source_name = `${this.annexDetails.fadname} ${this.issueList[this.issIndex].fstarttime}-${this.issueList[this.issIndex].fendtime.substring(11)}`
      if (this.annexDetails.fmedia_class === '1') {
        data.mclass = '01'
      } else if (this.annexDetails.fmedia_class === '2') {
        data.mclass = '02'
      } else if (this.annexDetails.fmedia_class === '3') {
        data.mclass = '03'
      }
      data.tid = this.annexDetails.fid
      data.Sstart = this.issueList[this.issIndex].fstarttime
      data.Send = this.issueList[this.issIndex].fendtime
      axios.post(this.$_ + '/Api/M3u8Rec/add_source_make', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.timer = setInterval(() => {
              this._checkCreated(Array.of(res.data.data.source_id))
            }, 3000)
            this.$set(this.annexDetails, 'source_id', res.data.data.source_id)
            this.$set(this.annexDetails, 'source_state', res.data.data.source_state.toString())
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _checkCreated(arr) {
      axios.post(this.$_ + '/Api/M3u8Rec/get_source_make_state', qs.stringify({ selsource_id: arr }))
        .then(res => {
          if (res.data.code === 0) {
            this.downloadurl = res.data.data[0]['source_url']
            clearInterval(this.timer)
          }
        })
    },
    _close() {
      this.$emit('close')
    }
  }
}
</script>
<style lang="scss">
.el-form-details {
  .el-form-item {
    margin: 0;
  }
}
</style>
