<template>
  <div class="done-list">
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="线索名称：">
            <el-input v-model="form.xsmc"
              placeholder="请输入线索名称关键字"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="文号：">
            <el-input v-model="form.wh"
              placeholder="请输入文号关键字"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="来源分类：">
            <el-select v-model="form.lyfl"
              placeholder="请选择来源分类"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.xsly"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="是否办结：">
            <el-select v-model="form.sfbj"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.sfbj"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="任务状态：">
            <el-select v-model="form.rwzt"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.rwzt"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="18"
          :xl="4">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column width="140"
        prop="fnumber"
        label="线索文号">
      </el-table-column>
      <el-table-column label="线索名称">
        <template slot-scope="scope">
          {{scope.row.fcluename}}
          <el-popover v-for="(item,index) in scope.row.gz_data"
            v-if="scope.row.fstate !== '40'"
            :key="index"
            placement="top-start"
            width="200"
            trigger="hover"
            :content="item.ftk_endtime.substring(0,10)">
            <el-tag class="right-margin"
              type="text"
              slot="reference"
              :type="_color(item)">{{$store.state.gzlx[item.ftk_type].label}}</el-tag>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="180"
        prop="ffinishtime"
        label="处理时间">
      </el-table-column>
      <el-table-column width="160"
        prop="fflowname"
        label="操作环节">
      </el-table-column>
      <el-table-column width="80"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_details(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <tz-form :back="true"
      :fid="fid"
      :details="row"
      v-if="tzshow"
      @close="_closeDialog">
    </tz-form>
  </div>
</template>

<script>
import tzForm from './tzForm'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    tzForm
  },
  data() {
    return {
      tzshow: false,
      tableData: [],
      loading: false,
      form: {
        page: 1,
        xsmc: '',
        wh: '',
        lyfl: '0',
        sfbj: '0',
        rwzt: '0'
      },
      fid: '',
      row: {},
      countAll: '0',
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + 56 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      let data = { ...this.form }
      axios.post(this.$_ + '/Agp/Ffjdengji/finishtask_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.ffinishtime = item.ffinishtime ? item.ffinishtime.substring(0, 10) : ''
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _details(item) {
      this.row = item
      this.tzshow = true
      this.fid = item.fid
    },
    _closeDialog() {
      this.tzshow = false
    },
    getDay(date) {
      let d = new Date(date.substring(0, 10) + '00:00:00').getTime()
    },
    _color(obj) {
      if (obj.hotstatus === '10') {
        return 'danger'
      }
      if (obj.hotstatus === '0') {
        return 'warning'
      }
      return 'info'
    }
  }
}
</script>