<template>
  <div class="first-trial">
    <el-dialog
      :title="details.fflowname"
      :visible.sync="show"
      :before-close="_close"
      center
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails" v-if="adDetailDialog" @close="_closeDetails">
      </clue-details>
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form label-width="80px" >
            <el-form-item label="处理建议">
              <el-input type="textarea" placeholder="请输入处置建议" :rows="5" v-model="commonData.result"></el-input>
            </el-form-item>
            <el-form-item label="交办人">
              <el-select
                
                placeholder="请选择交办人（必选）"
                v-model="commonData.fwaitpersonid"
                style="width:100%">
                <el-option v-for="item in orgPeopleList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="12" style="max-height:600px;overflow:scroll;">
          <el-collapse v-model="activeline">
            <el-collapse-item title="投诉信息" name="1">
              <table style="border-color:#dcdfe6;color:#606266;" border='1' width="100%" cellspacing="0" cellpadding="6">
                <tr>
                  <th style="width:120px">标题</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>线索名称</th>
                  <td>{{ registrationForm.fcluename }}</td>
                </tr>
                <tr>
                  <th>文号</th>
                  <td>{{ registrationForm.fnumber }}</td>
                </tr>
                <tr>
                  <th>来源分类</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>举报人性质</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '10'">
                  <th>证件号码</th>
                  <td>{{ registrationForm.fpersoncard }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '20'">
                  <th>所在单位</th>
                  <td>{{ registrationForm.fpersoncompany }}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>邮政编码</th>
                  <td>{{ registrationForm.fpersonpostcode }}</td>
                </tr>
                <tr>
                  <th>联系地址</th>
                  <td>{{ registrationForm.fpersonadress }}</td>
                </tr>
                <tr>
                  <th>邮箱地址</th>
                  <td>{{ registrationForm.fpersonmail }}</td>
                </tr>
                <tr>
                  <th>被举报人</th>
                  <td>{{ registrationForm.freportedpeople }}</td>
                </tr>
                <tr>
                  <th>违法地址</th>
                  <td>{{ registrationForm.filladdress }}</td>
                </tr>
                <tr>
                  <th>违法行为类别</th>
                  <td>{{  }}</td>
                </tr>
                <tr>
                  <th>诉求事项</th>
                  <td>{{ registrationForm.fappeal }}</td>
                </tr>
                <tr>
                  <th>摘要内容</th>
                  <td>{{ registrationForm.fregistercontents }}</td>
                </tr>
                <tr>
                  <th>备注</th>
                  <td>{{ registrationForm.remark }}</td>
                </tr>
                <tr>
                  <th>登记日期</th>
                  <td>{{ registrationForm.fregistertime ? registrationForm.fregistertime.substring(0,10) : '' }}</td>
                </tr>
                <tr>
                  <th>流程环节</th>
                  <td>
                    {{details.fflowname}}
                  </td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="违法广告信息" name="2" v-if="registrationForm.ffromtype === '10'">
              <el-table :data="clueList" style="width: 100%" border>
                <el-table-column prop="fadname" label="广告名称">
                </el-table-column>
                <el-table-column width="80" label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"  @click="_showDetails(scope.row)">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="证据材料" name="3">
              <ill-annex
                :hidetitle="true"
                :showUpload="true"
                :attachInfo="attachInfo"
                :fregisterid='fid'
                :clueList="[]"
                :uploading="uploading"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @deletesuccess="_deleteSuccess">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="处理流程" name="4">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_yesSubmit(2)" :loading="$store.state.bloading">提 交</el-button>
        <el-button @click="_yesSubmit(1)" :loading="$store.state.bloading">保 存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import clueDetails from './clueDetails'
import flowTable from "../../clue/common/flowTable"
import { _getClueList2 } from '../../../../static/js/common.js'
import illAnnex from './illAnnex'
import axios from 'axios'
import qs from 'qs'
export default {
  props:['fid','details'],
  components: {
    illAnnex,
    flowTable,
    clueDetails
  },
  data(){
    return {
      activeline: ['1'],
      adDetailDialog: false,
      commonData: {
        fid: this.fid,
        result: '',
        fwaitpersonid: '',
      },
      form: {},
      registrationForm: {},
      attachInfo:[],
      clueList: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      //登记表信息
      transferData: {
        ftopostcode: '',
        ftomobile: '',
        ftoaddress: '',
        ftopersonname: '',
        ftoregulatorname: '',
        ftoregulatorid: '',
      },
      //涉嫌违法广告线索处置通知书预览
      flowData: [],
      show: true,
      sameTregulator: [],
      lowerTregulator: [],
      orgPeopleList: [],
      annexDetails: {
        data: {}
      },
      flowid: ''
    }
  },
  created(){
    this._setName()
    this._getDetails(this.fid)
  },
  computed: {
    selectAttach: function(){
      let clueList = this.clueList === null ? [] : this.clueList
      let attachInfo = this.attachInfo === null ? [] : this.attachInfo
      let arr = []
      clueList.forEach(item => {
        arr.push(item.data.fadname)
      })
      attachInfo.forEach(item => {
        arr.push(item.fattachname)
      })
      return arr
    }
  },
  methods: {
    _yesSubmit(type){
      if(type === 2){
        if(!this.commonData.fwaitpersonid){
          this.$message.error('请选择交办人！')
          return false
        }
        this._submit(type)
        return
      }
      this._submit(type)
    },
    _flowData(fid){
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowlist',qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          this.flowData = res.data.data
        }
      })
    },
    _getrefiles(fid,flowid){
      let data = {fid,flowid}
      data.ts = '10'
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowfile',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.attachInfo = res.data.data.files1
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error('网络错误')
      })
    },
    _getDetails(fid){
      axios.post(this.$_ + '/Agp/Ffjdengji/get_registerview',qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          this.registrationForm = res.data.data.data
          this.commonData.result = res.data.data.data.fcreateinfo
          this.flowid = res.data.data.data.flowid
          this._flowData(res.data.data.data.fid)
          this._getrefiles(res.data.data.data.fid,res.data.data.data.flowid)
          if(res.data.data.data.ffromtype === '10'){
            let fillegaladid = []
            res.data.data.data.fillegaladid.forEach(item => {
              fillegaladid.push(item.fid)
            })
            let mclass = res.data.data.data.fillegaladid[0].fmedia_class
            _getClueList2(this,fillegaladid,mclass)
          }
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _submit(type){
      let data = {...this.commonData}
      data.submit = type
      this.$store.commit('_bloading',true)
      axios.post(this.$_ + '/Agp/Ffjdengji/update_register',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success(res.data.msg)
          this.$emit('close')
        }else{
          this.$func._error(res.data)
        }
        this.$store.commit('_bloading',false)
      })
      .catch(() => {
        this.$func._error()
        this.$store.commit('_bloading',false)
      })
    },
    /**
     * 关闭弹窗
     */
    _close(){
      this.$emit('close')
    },

    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      this._uploadFile(obj)
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid ? this.fid : this.fidd,
        attachinfo: Array.of(obj),
        flowid: this.flowid
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            this._getrefiles(this.fid,this.flowid)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    _setName(val){
      axios.post(this.$_ + '/Agp/Ffjdengji/get_czjurisdiction',qs.stringify({treid:val,fstate: 0}))
      .then(res => {
        if(res.data.code === 0){
          this.orgPeopleList = res.data.data.list
          this.$set(this.commonData, 'fwaitpersonid', res.data.data.list[0].fid)
        }
      })
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
    _deleteSuccess(obj){
      this._getrefiles(this.fid,this.flowid)
    },
  }
}
</script>
