<template>
  <div class="first-trial">
    <el-dialog :title="registrationForm.fcluename"
      :visible.sync="show"
      :before-close="_close"
      center
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails"
        v-if="adDetailDialog"
        @close="_closeDetails">
      </clue-details>
      <ws-view v-if="showView"
        @close="_closeView"
        :data="formData"></ws-view>
      <el-row :gutter="20">
        <el-col :span="12"
          style="max-height:600px;overflow:scroll;">
          <el-form v-model="formData"
            label-width="110px">
            <el-form-item label="跟踪类型：">
              <el-radio-group v-model="ftk_type">
                <el-radio-button label="0">督办</el-radio-button>
                <el-radio-button label="10">催办</el-radio-button>
                <el-radio-button label="20">执法监督</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="文书模板：">
              <el-select v-model="dr_dlid"
                style="width:100%"
                @change="_changeWs">
                <el-option v-for="item in wsList"
                  :key="item.dl_id"
                  :label="item.dl_name"
                  :value="item.dl_id"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="文书标题：">
              <el-input type="textarea"
                v-model="formData.dt_doctitle"></el-input>
            </el-form-item>
            <el-form-item label="文号：">
              <el-input v-model="formData.dt_number"></el-input>
            </el-form-item>
            <el-form-item label="收文单位：">
              <el-input v-model="formData.dt_receiveregulatorname"></el-input>
            </el-form-item>
            <el-form-item label="正文：">
              <vue-ueditor-wrap v-if="showcontent"
                v-model="formData.dt_content"
                :config="$store.state.ueditorConfig"
                :destroy="true">
              </vue-ueditor-wrap>
            </el-form-item>
            <el-form-item label="发文单位：">
              <el-input v-model="formData.dt_sendregulatorname"></el-input>
            </el-form-item>
            <el-form-item label="发文日期：">
              <el-date-picker :editable="false" style="width:100%"
                v-model="formData.dt_sendtime"
                type="date"
                placeholder="选择日期"
                format="yyyy年M月d日"
                value-format="yyyy-M-d">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="跟踪截止日期：">
              <el-date-picker :editable="false" style="width:100%"
                v-model="ftk_endtime"
                type="date"
                placeholder="选择日期"
                format="yyyy年M月d日"
                value-format="yyyy-MM-dd">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="可见性："
              v-if="false">
              <el-radio-group v-model="formData.dt_showstate">
                <el-radio-button label="0">下一处理人可见</el-radio-button>
                <el-radio-button label="10">仅自己</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-form>
          <div class="text-center">
            <el-button @click="showView = true">预 览</el-button>
          </div>
        </el-col>
        <el-col :span="12"
          style="max-height:600px;overflow:scroll;">
          <el-collapse v-model="activeline">
            <el-collapse-item title="投诉信息"
              name="1">
              <table style="border-color:#dcdfe6;color:#606266;"
                border='1'
                width="100%"
                cellspacing="0"
                cellpadding="6">
                <tr>
                  <th style="width:120px">标题</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>线索名称</th>
                  <td>{{ registrationForm.fcluename }}</td>
                </tr>
                <tr>
                  <th>来源分类</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>举报人性质</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '10'">
                  <th>证件号码</th>
                  <td>{{ registrationForm.fpersoncard }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '20'">
                  <th>所在单位</th>
                  <td>{{ registrationForm.fpersoncompany }}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>邮政编码</th>
                  <td>{{ registrationForm.fpersonpostcode }}</td>
                </tr>
                <tr>
                  <th>联系地址</th>
                  <td>{{ registrationForm.fpersonadress }}</td>
                </tr>
                <tr>
                  <th>邮箱地址</th>
                  <td>{{ registrationForm.fpersonmail }}</td>
                </tr>
                <tr>
                  <th>被举报人</th>
                  <td>{{ registrationForm.freportedpeople }}</td>
                </tr>
                <tr>
                  <th>违法地址</th>
                  <td>{{ registrationForm.filladdress }}</td>
                </tr>
                <tr>
                  <th>违法行为类别</th>
                  <td>{{ $store.state.wfcd[registrationForm.fillbehaviortype] }}</td>
                </tr>
                <tr>
                  <th>诉求事项</th>
                  <td>{{ registrationForm.fappeal }}</td>
                </tr>
                <tr>
                  <th>摘要内容</th>
                  <td>{{ registrationForm.fregistercontents }}</td>
                </tr>
                <tr>
                  <th>备注</th>
                  <td>{{ registrationForm.remark }}</td>
                </tr>
                <tr>
                  <th>登记日期</th>
                  <td>{{ registrationForm.fregistertime.substring(0,10) }}</td>
                </tr>
                <tr>
                  <th>流程环节</th>
                  <td>
                    {{details.fflowname}}
                  </td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="违法广告信息"
              name="2"
              v-if="registrationForm.ffromtype === '10'">
              <el-table :data="clueList"
                style="width: 100%"
                border>
                <el-table-column prop="fadname"
                  label="广告名称">
                </el-table-column>
                <el-table-column width="80"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"
                      @click="_showDetails(scope.row)">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="文书信息"
              name="3">
              <el-table :data="wsData"
                border
                style="width: 100%">
                <el-table-column prop="fattachname"
                  label="文书标题">
                </el-table-column>
                <el-table-column prop="fflowname"
                  label="流程环节">
                </el-table-column>
                <el-table-column label="操作"
                  width="130">
                  <template slot-scope="scope">
                    <a :href="scope.row.fattachurl">
                      <el-button type="text"
                        icon="el-icon-download">下载</el-button>
                    </a>
                    <el-button type="text"
                      v-if="scope.row.delstate === '20'"
                      icon="el-icon-download"
                      @click="_deleteWs(scope.row)">
                      删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="证据材料"
              name="4">
              <ill-annex :hidetitle="true"
                :showUpload="false"
                :attachInfo="attachInfo"
                :clueList="[]"
                :uploading="uploading"
                :changeAttachInfo="changeAttachInfo"
                :fid="fid ? fid : fidd"
                :fillegaladflowid="registrationForm.fillegaladflowid"
                :fregisterid="registrationForm.fregisterid">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="处理流程"
              name="5">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_submit2"
          :loading="$store.state.bloading">
          提 交
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import VueUeditorWrap from 'vue-ueditor-wrap'
import { _getClueList2 } from '../../../../static/js/common.js'
import clueDetails from './clueDetails'
import illAnnex from './illAnnex'
import wsView from '../../clue/wsView'
import flowTable from "../../clue/common/flowTable";
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['wstype', 'fid', 'back', 'details'],
  components: {
    illAnnex,
    flowTable,
    wsView,
    clueDetails,
    VueUeditorWrap
  },
  data() {
    return {
      ftk_type: '0',
      showView: false,
      adDetailDialog: false,
      annexDetails: {
        data: {}
      },
      showcontent: true,
      wsmb: '',
      sdialog: false,
      wsData: [],
      activeline: ['1'],
      commonData: {
        fchecktype: '10',
        fwaitregulatorname: '', //交办机构名称,
        fcheckcontents: '',
        fwaitpersonid: '',
        fwaitregulatorid: '',
      },
      flowid: '',
      fidd: '',
      formData: {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0',
      },
      ftk_endtime: this.$dayjs(new Date(new Date().getTime() + 86400000 * 3)).format('YYYY-M-D'),
      form: {},
      registrationForm: {
        fregistertime: ''
      },
      attachInfo: [],
      clueList: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      innerVisible: false,
      flowData: [],
      show: true,
      lowerTregulator: [],
      orgList: [],
      orgPeopleList: [],
      dr_name: '',
      dr_dlid: '',
      wsList: [],
      orgid: '',
      checktype: [
        {
          label: '自办',
          value: '10'
        },
        {
          label: '移交',
          value: '20'
        },
        {
          label: '转送',
          value: '30'
        },
        {
          label: '处置',
          value: '40'
        },
      ]
    }
  },
  created() {
    this._getLowRegulator()
    this._get_dl_list()
    this._getSameOrg()
    if (this.fid) {
      this._getOrgId()
      this._getDetails(this.fid)
    }
  },
  methods: {
    _getOrgId() {
      let data = {
        fid: this.fid
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/get_trackuser', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.eqtrepid = res.data.data.eqtrepid
            this.formData.dt_receiveregulatorname = res.data.data.ffullname
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _getrefiles(fid, flowid, type, name) {
      let data = { fid, flowid }
      data.ts = type
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowfile', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (type === '10') {
              this[name] = res.data.data.files1
            } else if (type === '20') {
              this[name] = res.data.data.files2
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('网络错误')
        })
    },
    _flowData(fid) {
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowlist', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.flowData = res.data.data
          }
        })
    },
    _getDetails(fid) {
      this.showcontent = false
      axios.post(this.$_ + '/Agp/Ffjdengji/get_registerview', qs.stringify({
        fid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this.flowid = res.data.data.data.flowid
            this._flowData(res.data.data.data.fid)
            this._getrefiles(res.data.data.data.fid, res.data.data.data.flowid, '10', 'attachInfo')
            this._getrefiles(res.data.data.data.fid, res.data.data.data.flowid, '20', 'wsData')
            this.commonData.fchecktype = res.data.data.data.fchecktype
            // this.activeline = res.data.data.data.ffromtype === '10' ? '1': '2'
            if (res.data.data.data.ffromtype === '10') {
              let fillegaladid = []
              res.data.data.data.fillegaladid.forEach(item => {
                fillegaladid.push(item.fid)
              })
              let mclass = res.data.data.data.fillegaladid[0].fmedia_class
              _getClueList2(this, fillegaladid, mclass)
            }
          } else {
            this.$func._error(res.data)
          }
          this.showcontent = true
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _submit2() {
      this._checkDl(() => this._saveWs(this._submit))
    },
    _submit() {
      let type = this.commonData.fchecktype
      this.commonData.fid = this.fid ? this.fid : this.fidd
      let data = {
        fid: this.fid,
        ftk_type: this.ftk_type,
        ftk_endtime: this.ftk_endtime,
        eqtrepid: this.eqtrepid,
        ffullname: this.formData.dt_receiveregulatorname,
      }
      let url = '/Agp/Ffjdengji/tregistertrack'
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close')
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    /**
     * 关闭弹窗
     */
    _close() {
      this.$emit('close')
    },
    _close2() {
      this.sdialog = false
    },
    // 获取下级机构
    _getLowRegulator() {
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.lowerTregulator = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _setName(val) {
      let obj = this.lowerTregulator.filter(item => {
        return item.fid === val
      })
      this.$set(this.commonData, 'fwaitregulatorname', obj[0].fname)
    },
    _getTransfer(val, val2) {
      this.options.forEach(item => {
        if (Number(item.fid) === Number(val2)) {
          this[val].ftoregulatorname = item.fname
        }
      })
    },
    _getSameOrg() {
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.orgList = res.data.data
          }
        })
    },
    _get_dl_list() {
      this.commonData.fwaitregulatorid = ''
      this.commonData.fwaitregulatorname = ''
      let dl_deid = ''
      let data = {
        ws_type_ids: this.wstype,
        dl_regulatorname: this.$store.state.userInfo.regulatorname
      }
      axios.post(this.$_ + '/Agp/WsTemp/get_ws_number', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.wsList = res.data.data
            let data = res.data.data[0]
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_content'] = data['dl_content']
            this['formData']['dt_number'] = data['wsh']
            this['formData']['dt_name'] = data['dl_name']
            this['formData']['dt_doctitle'] = data['dl_doctitle']
            this['formData']['dt_id'] = data['dl_id']
            this.dr_dlid = data.dl_id
            this.dr_name = data.wsh
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _saveWs(cb) {
      let fid = this.fid ? this.fid : this.fidd
      let data = {
        ...this.formData,
        fid: fid,
        flowid: this.flowid,
        ftype: '20'
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/create_document', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _resetForm() {
      this.formData = {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0'
      }
      this.changeAttachInfo = []
      this.dr_dlid = ''
    },
    _checkDl(cb) {
      this.$store.commit('_bloading', true)
      let data = {
        dr_name: this.dr_name,
        dr_dlid: this.dr_dlid
      }
      axios.post(this.$_ + '/Agp/WsTemp/vad_wh', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb()
          } else {
            this.$func._error(res.data)
            this.$store.commit('_bloading', false)
          }
        })
    },
    _changeWs(val) {
      let obj = this.wsList.filter(item => {
        return item.dl_id === val
      })
      let data = obj[0]
      this['formData']['dt_content'] = data['dl_content']
      this['formData']['dt_number'] = data['wsh']
      this['formData']['dt_name'] = data['dl_name']
      this['formData']['dt_doctitle'] = data['dl_doctitle']
      this.dr_dlid = data.dl_id
      this.dr_name = data.wsh
    },
    _closeView() {
      this.showView = false
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      if (obj.fmedia_class === '1' || obj.fmedia_class === '2') {
        if (obj.adclueInfo === null) {
          obj.adclueInfo = {}
        }
      }
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
    _deleteWs(obj) {
      let url = '/Agp/Ffjdengji/delete_document'
      let data = {
        fid: obj.fid
      }
      this.$confirm('确认删除该文书?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + url, qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: res.data.msg
              })
              this._getrefiles(this.fid, this.flowid, '20', 'wsData')
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    _getSameOrg() {
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.orgList = res.data.data
          }
        })
    },
    _setName2(val) {
      this.orgList.forEach(item => {
        if (item.fid === val) {
          this.registrationForm.fwaitregulatorname = item.fname
        }
      })
      axios.post(this.$_ + '/Agp/Core/get_tregulator_person', qs.stringify({ treid: val }))
        .then(res => {
          if (res.data.code === 0) {
            this.orgPeopleList = res.data.data
          }
        })
    },
  }
}
</script>
