<template>
  <div class="todo-list">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="5">
          <el-form-item label="线索名称：">
            <el-input v-model="form.xsmc"
              placeholder="请输入线索名称关键字"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="5">
          <el-form-item label="文号：">
            <el-input v-model="form.wh"
              placeholder="请输入文号关键字"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="5">
          <el-form-item label="来源分类：">
            <el-select v-model="form.lyfl"
              placeholder="请选择来源分类"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.xsly"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="5">
          <el-form-item label="任务状态：">
            <el-select v-model="form.rwzt"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.rwzt"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="24"
          :md="24"
          :lg="24"
          :xl="4">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column width="140"
        prop="fnumber"
        label="线索文号">
      </el-table-column>
      <el-table-column label="线索名称">
        <template slot-scope="scope">
          {{scope.row.fcluename}}
          <el-popover v-for="(item,index) in scope.row.gz_data"
            v-if="scope.row.fstate !== '40'"
            :key="index"
            placement="top-start"
            width="200"
            trigger="hover"
            :content="item.ftk_endtime.substring(0,10)">
            <el-tag class="right-margin"
              type="text"
              slot="reference"
              :type="_color(item)">{{$store.state.gzlx[item.ftk_type].label}}</el-tag>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="180"
        label="来源类型">
        <template slot-scope="scope">
          {{$store.state.xsly[scope.row.ffromtype]}}
        </template>
      </el-table-column>
      <el-table-column prop="diffdays"
        width="100"
        label="办理天数">
      </el-table-column>
      <el-table-column width="100px"
        label="线索状态">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_do(scope.row)">{{ scope.row.fflowname }}</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <!-- 登记弹窗 -->
    <registration-form ref="registrationForm"
      @close="_closeDialog"
      :details="row"
      v-if="dialog0"
      :isregistration="false">
    </registration-form>
    <!-- 审批弹窗 -->
    <approval-form ref="approvalForm"
      v-if="dialog11"
      :fid="fid"
      :details="row"
      geturl="/Agp/Ffjdengji/get_registerview"
      posturl="/Agp/Ffjdengji/update_register"
      @close="_closeDialog">
    </approval-form>
    <!-- 初核弹窗 -->
    <first-trial ref="firstTrial"
      :fid="fid"
      :details="row"
      v-if="dialog20"
      @close="_closeDialog">
    </first-trial>
    <!-- 承办弹窗 -->
    <cl-form wstype="1,5"
      ref="clForm"
      :back="true"
      :fid="fid"
      :details="row"
      v-if="dialog30"
      @close="_closeDialog">
    </cl-form>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import approvalForm from './approvalForm'
import registrationForm from './registrationForm'
import firstTrial from './firstTrial'
import clForm from './clForm'
export default {
  components: {
    approvalForm,
    registrationForm,
    clForm,
    firstTrial
  },
  data() {
    return {
      dialog0: false,
      dialog11: false,
      dialog20: false,
      dialog30: false,
      tableData: [],
      loading: false,
      countAll: '0',
      row: {},
      fid: '',
      form: {
        page: 1,
        xsmc: '',
        wh: '',
        lyfl: '0',
        rwzt: '0'
      },
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + 56 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      let data = { ...this.form }
      axios.post(this.$_ + '/Agp/Ffjdengji/waittask_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.$store.dispatch('_getDB', `${this.$route.name}|1`)
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _do(row) {
      this.row = row
      this.fid = row.fid
      let state = ''
      if (row.fstate === '0' || row.fstate === '12') {
        state = '0'
      } else if (row.fstate === '11' || row.fstate === '21' || row.fstate === '31') {
        state = '11'
      } else if (row.fstate === '20' || row.fstate === '22' || row.fstate === '23') {
        state = '20'
      } else if (row.fstate === '30' || row.fstate === '32' || row.fstate === '33') {
        state = '30'
      } else {
        state = row.fstate
      }
      this['dialog' + state] = true
      if (row.fstate === '0' || row.fstate === '12') {
        setTimeout(() => {
          this.$refs.registrationForm._getRegDetails(row.fid)
        })
      } else if (row.fstate === '11' || row.fstate === '21' || row.fstate === '31') {
      } else if (row.fstate === '20' || row.fstate === '22' || row.fstate === '23') {
      } else if (row.fstate === '30' || row.fstate === '32' || row.fstate === '33') {
      } else {
      }
    },
    _closeDialog() {
      let state = ''
      if (this.row.fstate === '0' || this.row.fstate === '12') {
        state = '0'
      } else if (this.row.fstate === '11' || this.row.fstate === '21' || this.row.fstate === '31') {
        state = '11'
      } else if (this.row.fstate === '20' || this.row.fstate === '22' || this.row.fstate === '23') {
        state = '20'
      } else if (this.row.fstate === '30' || this.row.fstate === '32' || this.row.fstate === '33') {
        state = '30'
      } else {
        state = this.row.fstate
      }
      this['dialog' + state] = false
      setTimeout(() => {
        this._getList()
      }, 500)
    },
    _color(obj) {
      if (obj.hotstatus === '10') {
        return 'danger'
      }
      if (obj.hotstatus === '0') {
        return 'warning'
      }
      return 'info'
    }
  }
}
</script>