<template>
  <div class="tz-form">
    <el-dialog :title="registrationForm.fcluename" :visible.sync="show" :before-close="_close" center width="90%" :close-on-click-modal="false" :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails" v-if="adDetailDialog" @close="_closeDetails">
      </clue-details>
      <el-row :gutter="20">
        <el-col :span="12" style="max-height:500px;overflow:scroll;">
          <fieldset>
            <legend>投诉信息</legend>
            <table style="border-color:#dcdfe6;color:#606266;" border='1' width="100%" cellspacing="0" cellpadding="6">
              <tr>
                <th style="width:120px">标题</th>
                <td>{{ registrationForm.fname }}</td>
              </tr>
              <tr>
                <th>线索名称</th>
                <td>{{ registrationForm.fcluename }}</td>
              </tr>
              <tr>
                <th>来源分类</th>
                <td>
                  <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                  <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                  <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                  <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                </td>
              </tr>
              <tr>
                <th>举报人性质</th>
                <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
              </tr>
              <tr>
                <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                <td>{{ registrationForm.fpersonname }}</td>
              </tr>
              <tr v-if="registrationForm.fpersontype === '10'">
                <th>证件号码</th>
                <td>{{ registrationForm.fpersoncard }}</td>
              </tr>
              <tr v-if="registrationForm.fpersontype === '20'">
                <th>所在单位</th>
                <td>{{ registrationForm.fpersoncompany }}</td>
              </tr>
              <tr>
                <th>联系电话</th>
                <td>{{ registrationForm.fpersonmobile }}</td>
              </tr>
              <tr>
                <th>邮政编码</th>
                <td>{{ registrationForm.fpersonpostcode }}</td>
              </tr>
              <tr>
                <th>联系地址</th>
                <td>{{ registrationForm.fpersonadress }}</td>
              </tr>
              <tr>
                <th>邮箱地址</th>
                <td>{{ registrationForm.fpersonmail }}</td>
              </tr>
              <tr>
                <th>被举报人</th>
                <td>{{ registrationForm.freportedpeople }}</td>
              </tr>
              <tr>
                <th>违法地址</th>
                <td>{{ registrationForm.filladdress }}</td>
              </tr>
              <tr>
                <th>违法行为类别</th>
                <td>{{ $store.state.wfcd[registrationForm.fillbehaviortype] }}</td>
              </tr>
              <tr>
                <th>诉求事项</th>
                <td>{{ registrationForm.fappeal }}</td>
              </tr>
              <tr>
                <th>摘要内容</th>
                <td>{{ registrationForm.fregistercontents }}</td>
              </tr>
              <tr>
                <th>备注</th>
                <td>{{ registrationForm.remark }}</td>
              </tr>
              <tr>
                <th>登记日期</th>
                <td>{{ registrationForm.fregistertime.substring(0,10) }}</td>
              </tr>
              <tr v-if="registrationForm.fstate === '40' && $route.name === 'fjapprovalHistory'">
                <th>处置方式</th>
                <td>
                  {{$store.state.czfs[registrationForm.fchildstate]}}
                </td>
              </tr>
              <tr v-if="registrationForm.fstate === '40' && $route.name === 'fjapprovalHistory'">
                <th>处罚方式</th>
                <td>
                  <span  v-text="registrationForm.fpunish || '无'"></span>
                </td>
              </tr>
              <tr v-if="registrationForm.fstate === '40' && $route.name === 'fjapprovalHistory'">
                <th>反馈机构</th>
                <td>{{ registrationForm.fdealregulatorname }}</td>
              </tr>
              <tr v-if="registrationForm.fstate === '40' && $route.name === 'fjapprovalHistory'">
                <th>反馈时间</th>
                <td>{{ registrationForm.fdealtime }}</td>
              </tr>
              <tr v-if="registrationForm.fstate !== '40' || $route.name === 'fjresrecheck'">
                <th>流程环节</th>
                <td>
                  {{details.fflowname}}
                </td>
              </tr>
            </table>
          </fieldset>
        </el-col>
        <el-col :span="12" style="max-height:500px;overflow:scroll;">
          <fieldset v-if="clueList.length">
            <legend>线索详情</legend>
            <el-table :data="clueList" style="width: 100%" border>
              <el-table-column prop="fadname" label="广告名称">
              </el-table-column>
              <el-table-column width="80" label="操作">
                <template slot-scope="scope">
                  <el-button type="text"  @click="_showDetails(scope.row)">详 情</el-button>
                </template>
              </el-table-column>
            </el-table>
          </fieldset>
          <fieldset  v-if="wsData.length">
            <legend>文书信息</legend>
            <el-table
              :data="wsData"
              border
              style="width: 100%">
              <el-table-column
                prop="fattachname"
                label="文书标题">
              </el-table-column>
              <el-table-column
                label="操作"
                width="130">
                <template slot-scope="scope">
                  <a :href="scope.row.fattachurl">
                    <el-button type="text"  icon="el-icon-download">下载</el-button>
                  </a>
                </template>
              </el-table-column>
            </el-table>
          </fieldset>
          <fieldset v-if="attachInfo.length">
            <legend>证据材料</legend>
            <ill-annex
              :showUpload="false"
              :hidetitle="true"
              :attachInfo="attachInfo"
              :clueList="[]"
              :uploading="uploading"
              :changeAttachInfo="changeAttachInfo"
              :fid="fid ? fid : fidd"
              :fillegaladflowid="registrationForm.fillegaladflowid"
              :fregisterid="registrationForm.fregisterid">
            </ill-annex>
          </fieldset>
        </el-col>
        <el-col :span="24">
          <fieldset>
            <legend>处理流程</legend>
            <flow-table :flowData="flowData"></flow-table>
          </fieldset>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import { _getClueList2 } from '../../../../static/js/common.js'
import clueDetails from './clueDetails'
import flowTable from "../../clue/common/flowTable"
import illAnnex from './illAnnex'
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['wstype', 'fid', 'fidarr', 'details'],
  components: {
    illAnnex,
    flowTable,
    clueDetails
  },
  data() {
    return {
      gztype: '督办',
      adDetailDialog: false,
      annexDetails: {
        data: {}
      },
      wsmb: '',
      wsData: [],
      activeline: ['1'],
      commonData: {
        fchecktype: '10',
        fwaitregulatorname: '', //交办机构名称,
        fcheckcontents: '',
        fwaitpersonid: '',
        fwaitregulatorid: '',
      },
      fidd: '',
      formData: {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0'
      },
      form: {},
      registrationForm: {
        fregistertime: ''
      },
      attachInfo: [],
      clueList: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      innerVisible: false,
      flowData: [],
      show: true,
      lowerTregulator: [],
      orgList: [],
      orgPeopleList: [],
      dr_name: '',
      dr_dlid: '',
      wsList: [],
      checktype: [
        {
          label: '自办',
          value: '10'
        },
        {
          label: '移交',
          value: '20'
        },
        {
          label: '转送',
          value: '30'
        },
        {
          label: '处置',
          value: '40'
        },
      ]
    }
  },
  created() {
    if (this.fid) {
      this._getDetails(this.fid)
    }
    if (this.fidarr) {
      this._getClueList2(this.fidarr)
      this._getDetails2(this.fidarr)
    }
  },
  methods: {
    _flowData(fid){
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowlist',qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          this.flowData = res.data.data
        }
      })
    },
    _getrefiles(fid,flowid){
      let data = {
        fid,
        flowid,
        thisorg: this.details.thisorg
      }
      data.ts = "0"
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowfile',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.attachInfo = res.data.data.files1 || []
          this.wsData = res.data.data.files2 || []
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error('网络错误')
      })
    },
    _getDetails(fid) {
      axios.post(this.$_ + '/Agp/Ffjdengji/get_registerview', qs.stringify({
        fid: fid
      }))
      .then(res => {
        if (res.data.code === 0) {
          this.registrationForm = res.data.data.data
          this._flowData(res.data.data.data.fid)
          this._getrefiles(res.data.data.data.fid,res.data.data.data.flowid)
          this.commonData.fchecktype = res.data.data.data.fchecktype
          if(res.data.data.data.ffromtype === '10'){
            let fillegaladid = []
            res.data.data.data.fillegaladid.forEach(item => {
              fillegaladid.push(item.fid)
            })
            let mclass = res.data.data.data.fillegaladid[0].fmedia_class
            _getClueList2(this,fillegaladid,mclass)
          }
        } else {
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _getDetails2(fid) {
      axios.post(this.$_ + '/Agp/Ffjdengji/get_registerview', qs.stringify({
        fillegaladid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this.flowData = res.data.data.data.flow
            this.attachInfo = res.data.data.data.refiles
            this.wsData = res.data.data.data.document
            this.fidd = res.data.data.data.fid
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    /**
     * 关闭弹窗
     */
    _close() {
      this.$emit('close')
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      if (obj.fmedia_class === '1' || obj.fmedia_class === '2') {
        if (obj.adclueInfo === null) {
          obj.adclueInfo = {}
        }
      }
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
  }
}
</script>
