<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="//publichz.oss-cn-hangzhou.aliyuncs.com/taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="//publichz.oss-cn-hangzhou.aliyuncs.com/VueViewer/viewer.css">
  <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
  <title>违法广告确认</title>
  <style>
    body{
      background-color: #fff;
    }
    #app{
      display: none;
      padding: 8px;
    }
    .el-dialog .el-form .el-form-item{
      margin-bottom: 0;
    }
    .copied:hover{
      cursor: pointer;
      color: #409EFF;
    }
  </style>
</head>

<body>
  <div id="app" v-loading="loading" ref="app">
    <el-form :model="form" ref="form" label-width="80px">
      <el-row :gutter="20">
        <el-col :span="6">
          <el-form-item label="广告名称:">
            <el-input v-model="form.fadname"></el-input>
          </el-form-item>
        </el-col>
		    <el-col :span="6">
          <el-form-item label="媒介名称:">
            <el-input v-model="form.fmedianame"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="地区:">
            <el-cascader style="width: 50%" :options="regiontree" v-model="area" change-on-select clearable>
            </el-cascader>
            <el-switch v-model="form.this_region_id" active-text="仅本级" active-value="true" inactive-value="false">
            </el-switch>
          </el-form-item>
        </el-col>
		  </el-row>
      <el-row :gutter="20">
        <el-col :span="8">
          <el-form-item label="发布日期:">
            <el-date-picker v-model="issDate" style="width:100%" type="daterange" range-separator="至" start-placeholder="开始日期"
              value-format="yyyy-MM-dd" :picker-options="pickerOptions" end-placeholder="结束日期" :clearable="false">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="筛选:">
            <el-radio-group v-model="form.sx">
              <el-radio-button label="">全部</el-radio-button>
              <el-radio-button :label="key" :key="key" v-for="(value,key) in sx">{{value}}</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label-width="0px">
          <el-col :span="24">
              <el-popover
                style="margin-right:10px;"
                placement="right"
                width="200"
                v-for="(value,key) in sx"
                :key="key"
                v-model="visible['visible' + key + '_']">
                <p>确认修改所选 {{tableMultipleSelection.length}} 项的状态？</p>
                <div style="text-align: right; margin: 0">
                  <el-button size="mini" type="text" @click="visible = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="startSet(key)">确定</el-button>
                </div>
                <el-button slot="reference" type="primary" :disabled="!tableMultipleSelection.length" :label="key">{{value}}</el-button>
              </el-popover>
            <el-button type="primary" @click="getList(1)" icon="el-icon-search" style="float:right">搜索</el-button>
          </el-col>
        </el-form-item>
      </el-row>
    </el-form>
    <el-row>
      <el-table :data="tabelData" border stripe @selection-change="val => tableMultipleSelection = val">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="fmedianame" label="发布媒介">
        </el-table-column>
        <el-table-column prop="ad_name" label="广告名称">
        </el-table-column>
		<el-table-column prop="fadclassname" label="广告类别">
        </el-table-column>
		
		
        <el-table-column label="数量" width="80">
          <template slot-scope="scope">
            <span style="font-weight: 900">{{scope.row.count}}</span>
          </template>
        </el-table-column>
        <el-table-column label="未确认" width="80">
          <template slot-scope="scope">
            <span style="color:#FF8C69;font-weight: 900">{{scope.row.count0}}</span>
          </template>
        </el-table-column>
        <el-table-column label="确认违法" width="80">
          <template slot-scope="scope">
            <span style="color:#ff0000;font-weight: 900">{{scope.row.count1}}</span>
          </template>
        </el-table-column>
        <el-table-column label="确认不违法" width="100">
          <template slot-scope="scope">
            <span style="color:#6B8E23;font-weight: 900">{{scope.row.count_1}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template slot-scope="scope">
            <el-badge :value="Number(scope.row.remarkCount)" :hidden="scope.row.remarkCount === '0'" class="item" style="margin-top: 10px;margin-right: 40px;">
              <el-button type="primary" @click="show(scope.row)" icon="el-icon-view">详情</el-button>
            </el-badge>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background @size-change="sizeChange" @current-change="getList" :current-page="form.page" :page-sizes="[15, 50, 100]"
        :page-size="form.pagesize" layout="total, slot, prev, pager, next,jumper, sizes" :total="allCount">
      </el-pagination>
    </el-row>
    <el-dialog :title="details.fadname"
      :visible.sync="dialogVisible"
      v-if="dialogVisible"
      width="950px"
      center
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      @close="dialogClose">
      <el-row :gutter="10">
        <el-col :span="12">
          <div v-if="details.media_class === '03'" style="max-height:240px;cursor:pointer;overflow:hidden;" v-viewer="{zIndex: 9999}">
              <img :src="details.sam_filename" width="100%" class="image">
          </div>
          <aliplayer v-if="details.media_class !== '03' && aliplayer" :url="playUrl" height="240px" width="100%" autoplay></aliplayer>
          <div style="max-height:230px;overflow:auto;padding:10px;">
            <el-form label-width="110px">
              <el-form-item label="样本 id：">
                <span class="copied" :data-clipboard-text="details.samid" title="点击复制">{{details.samid}} <i class="el-icon-tickets"></i></span>
                <el-button type="primary" @click="changeUrl(details.sam_filename)" style="float:right" v-if="!isPaper">播放样本</el-button>
              </el-form-item>
              <el-form-item label="发布媒体：">
                <span class="copied" :data-clipboard-text="details.fmedianame" title="点击复制">{{details.fmedianame}} <i class="el-icon-tickets"></i></span>
              </el-form-item>
              <el-form-item label="广告类别：">
                {{details.adclass}}
              </el-form-item>
              <el-form-item label="违法表现代码：">
                {{details.fexpressioncodes}}
              </el-form-item>
              <el-form-item label="违法表现：">
                {{details.fillegalcontent}}
              </el-form-item>
            </el-form>
          </div>
        </el-col>
        <el-col :span="12">
          <div style="margin-bottom: 10px;">
            <el-popover
              style="margin-right:10px;"
              placement="right"
              width="200"
              v-for="(value,key) in sx"
              :key="key"
              v-model="visible['visible' + key]">
              <p>确认修改所选 {{multipleSelection.length}} 项的状态？</p>
              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="visible = false">取消</el-button>
                <el-button type="primary" size="mini" @click="setType(key)">确定</el-button>
              </div>
              <el-button slot="reference" type="primary" :disabled="!multipleSelection.length" :label="key">{{value}}</el-button>
            </el-popover>
            <el-button type="primary" @click="add_remark_list">添加备注</el-button>
            <div style="margin-top: 10px;">
              <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                <el-tab-pane label="发布记录" name="issue">
                    <el-table :data="issueList" border stripe @selection-change="val => multipleSelection = val" @row-click="getM3u8" height="430" :row-style="{'cursor': 'pointer'}">
                        <el-table-column
                          type="selection"
                          width="55">
                        </el-table-column>
                        <el-table-column prop="date"
                          label="发布时间">
                        </el-table-column>
                        <el-table-column
                          prop="type"
                          width="100"
                          label="状态"
                          column-key="type"
                          :filters="[{ text: '未确认', value: '0' }, { text: '已确认违法', value: '1' }, { text: '已确认不违法', value: '-1' }]"
                          :filter-method="filterType"
                          filter-placement="bottom-end">
                          <template slot-scope="scope">{{sx[scope.row.type]}}</template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <el-tab-pane name="remark">
                    <span slot="label">
                        备注
                        <el-badge :value="remarkList.length" :hidden="remarkList.length === 0"/>
                    </span>
                  <el-table :data="remarkList" border stripe height="430" :row-style="{'cursor': 'pointer'}">
                      <el-table-column prop="content"
                        label="备注内容">
                      </el-table-column>
                      <el-table-column
                        prop="createor"
                        width="80"
                        label="创建人">
                      </el-table-column>
                      <el-table-column
                        prop="createtime"
                        label="创建时间">
                      </el-table-column>
                  </el-table>
                </el-tab-pane>
              </el-tabs>
            </div>
          </div>
          
        </el-col>
      </el-row>
    </el-dialog>
  </div>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/taskInput/element-ui/2.4.0/index.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/axios/axios.min.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/axios/qs.min.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/VueViewer/viewer.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/VueViewer/v-viewer.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/clipboardJS/clipboard.min.js"></script>
  <script src="/Public/js/formatDate.js"></script>
  <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
  <script src="/Public/components/aliplayer.js"></script>
  <script>
    var REGIONTREE = {:json_encode($getRegionTree,true)} || ''
    var ADCLASS = {:json_encode($getAdClassArr,true)} || ''
  </script>
  <script src="/Application/TaskInput/View/IllegalAdReview/js/s_issue.js"></script>
</body>

</html>