<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>众包任务管理</title>

  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

  <link rel="shortcut icon" href="favicon.ico">
  <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskList.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskInfo.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/netAdTask.css">
  <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
  <link rel="stylesheet" href="/Public/videojs/video-js.min.css">
  <style>
    .btnArea button{
      display: none;
    }
    body{
      margin: 0;
      background-color: #fff;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div class="wrapper wrapper-content" id="app" v-loading="loading">
    <el-form :inline="true" :model="where" ref="whereForm" @keyup.enter.native="search">
      <el-form-item label="广告名称" prop="adName">
        <el-input v-model="where.adName" clearable></el-input>
      </el-form-item>
      <el-form-item v-if="isNetAd === '0'" label="媒介类型" prop="media_class">
        <el-select v-model="where.media_class" clearable>
          <el-option v-for="item in mediaClassArr" :key="item.text" :label="item.text" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-else label="平台类型" prop="media_class">
        <el-select v-model="where.net_platform" clearable>
          <el-option v-for="item in netPlatform" :key="item.text" :label="item.text" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="违法类型" prop="fillegaltypecode">
        <el-select v-model="where.fillegaltypecode" clearable>
          <el-option v-for="item in illegalTypeArr" :key="item.text" :label="item.text" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="广告类别" prop="adClass">
        <el-cascader filterable :options="adClassArr" v-model="searchTempWhere.searchAdClassArr1" change-on-select
          clearable></el-cascader>
      </el-form-item>
      <el-form-item label="媒体名称" prop="mediaName">
        <el-input v-model="where.mediaName" clearable></el-input>
      </el-form-item>
      <el-form-item label="地区" prop="regionId" style="width:320px;">
        <el-cascader v-model="searchTempWhere.region" :options="regionTree" change-on-select :filterable="true"
          clearable style="width:200px;"></el-cascader>
        <el-checkbox v-model="searchTempWhere.onlyThisLevel">仅本级</el-checkbox>
      </el-form-item>
      <el-form-item label="任务状态" prop="task_state">
        <el-select v-model="where.task_state" clearable>
          <el-option v-for="item in taskStateArr" :key="item.text" :label="item.text" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="质检状态" prop="quality_state">
        <el-select v-model="where.quality_state" clearable>
          <el-option v-for="item in qualityStateArr" :key="item.text" :label="item.text" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="商业类别">
        <el-cascader filterable :options="adClassTree" v-model="searchTempWhere.searchAdClassArr2" change-on-select
          :filterable="true" clearable></el-cascader>
      </el-form-item>
      <el-form-item label="媒体标签">
        <el-autocomplete v-model="where.mediaLabel" :fetch-suggestions="searchMediaLabel" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item label="广告主" prop="adOwner">
        <el-input v-model="where.adOwner" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-switch v-model="searchTempWhere.cutError" active-text="非广告">
        </el-switch>
      </el-form-item>
      <el-form-item prop="timeRangeArr" label="发布日期">
        <el-date-picker v-model="where.timeRangeArr" type="daterange" range-separator="至" start-placeholder="开始发布日期"
          end-placeholder="结束发布日期" value-format="yyyy-MM-dd" format="yyyy-MM-dd" clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item label="更新时间">
        <el-date-picker v-model="where.timeRangeArr2" type="daterange" range-separator="至" start-placeholder="开始更新时间"
          end-placeholder="结束更新时间" value-format="yyyy-MM-dd" format="yyyy-MM-dd" clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item class="text-right">
        <el-button type="primary" @click="search">搜索</el-button>
        <el-button @click="resetForm('whereForm')">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border :row-class-name="tableRowClassName" @selection-change="selectRow" style="width: 100%">
      <el-table-column :prop="isNetAd == 1 ? 'net_created_date' : 'issue_date'" width="90" fixed label="发布日期">
      </el-table-column>
      <el-table-column label="广告名称" width="150" fixed>
        <template slot-scope="scope">
          <span v-html="scope.row.fadname"></span>
        </template>
      </el-table-column>
      <el-table-column label="广告类别" prop="ffullname">
      </el-table-column>
      <el-table-column label="商业类别" prop="adClassV2">
      </el-table-column>
      <el-table-column label="广告主" prop="adOwnerName">
      </el-table-column>
      <el-table-column label="广告品牌" prop="fbrand">
      </el-table-column>
      <el-table-column width="150" label="媒体名称">
        <template slot-scope="scope">
          <span v-html="scope.row.fmedianame"></span>
        </template>
      </el-table-column>
      <el-table-column width="80" label="平台">
        <template slot-scope="scope">
          {{scope.row.net_platform | netPlatformFilter}}
        </template>
      </el-table-column>
      <el-table-column width="100" label="违法类型">
        <template slot-scope="scope">
          {{scope.row.fillegaltypecode | illegalTypeFilter}}
        </template>
      </el-table-column>
      <el-table-column :prop="isNetAd == 1 ? 'modifytime' : 'lasttime'" width="90" label="更新时间">
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="openTaskInfo(scope.row)">详情</el-button>
          <el-button type="text" size="small" @click="checkTaskFlow(scope.row)">日志</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @size-change="pageSizeChange" @current-change="pageChange" :current-page="page" :page-sizes="[10 ,50, 100, 200, 400]"
      :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>
    <el-dialog title="任务详情" :visible="showTaskInfo" @close="closeTaskInfo" width="90%">
      <task-info :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.media_class != 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length === 0"></task-info>
      <task-info2 :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.media_class != 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length !== 0"></task-info2>
      <net-ad-task :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.media_class == 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length === 0"></net-ad-task>
      <net-ad-task2 :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo" v-if="taskInfo.media_class == 13 && taskInfo.linkTypeArr && taskInfo.linkTypeArr.length !== 0"></net-ad-task2>

    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/layer/3.1.0/layer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
  <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
  <script src="/Public/js/wangEditor.min.js"></script>
  <script src="/Public/videojs/video.min.js"></script>
  <script>
    var illegalTypeArr = {$illegalTypeArr};
    var type = 'review';
    var role = 'admin'
    var adClassArr = {$adClassArr};
    var adClassTree = {$adClassTree};
    var regionTree = {$regionTree};
    var illegalArr = {$illegalArr};
  </script>
  <script src="/Application/TaskInput/View/TraditionAd/js/submitCutError.js?sf=2312"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/adInfo.js?fs=231d52"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/illegalInfo.js?fs=231d52"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskInfo.js?fs=231d52"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/taskInfo2.js?fs=231d5gsd2"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/netAdTask.js?fasdf=313231432d"></script>
  <script src="/Application/TaskInput/View/TraditionAd/js/netAdTask2.js?fasdf=313231hdfg465n32d"></script>
  <script src="/Application/Admin/View/Netsam/js/taskList.js?ff=1233342s1"></script>

</body>

</html>