html{
  height: 100%;
  overflow: auto;
  body{
    margin: 0;
    height: 100%;
    overflow: auto;
    #app{
      opacity: 0;
      padding: 10px;
      .wrapper{
        .wrapper-radio{
          display:flex;
          justify-content: space-between;
          border-bottom:1px solid #ededed;
          padding-bottom: 10px;
        }
        .wrapper-content{
          .echarts-box{
            height: 350px;
          }
        }
      }
    }
  }
}