<div class="fixed-table-container">
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">广告名称</th>
                <th class="text-center">发布媒体</th>
                <th class="text-center">版本说明</th>
                <th class="text-center">违法类型</th>
                <th class="text-center">创建人</th>
                <th class="text-center">创建时间</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="papersampleList" item="papersample">
                <tr class="mediaTr mediaName" id="{$papersample.fpapersampleid}">
                    <td class="text-center">{$papersample.k}</td>
                    <td class="text-center" title="点击查看广告详情">
                        <i class="fa fa-picture-o viewPaper" src="{$papersample.fjpgfilename}" aria-hidden="true" title="点击预览视频"></i>
                        <span class="">{$papersample.fadname}</span>
                    </td>
                    <td class="text-center">{$papersample.fmedianame}</td>
                    <td class="text-center">{$papersample.fversion}</td>
                    <td class="text-center">{$papersample.fillegaltype}</td>
                    <td class="text-center">{$papersample.fcreator}</td>
                    <td class="text-center">{$papersample.fcreatetime}</td>
                </tr>
            </foreach>
            <empty name="papersampleList">
                <tr class="h5 text-center text-primary">
                    <td colspan="8">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
