
<div class="content">
    <div class="tittle" style="background-color: #35a7f9;height:38px;line-height:38px;text-align: center;color: #fff;font-size: 24px;font-weight: bold;">
        监测报告
    </div>
    <div class="text" style="font-size:14px;">
        <div class="text1">
            {$params['text1']}
        </div>
        <table border='0' width='100%' style="margin:40px 0px;">
            <tr>
                <td style="width:340px;overflow:hidden"><img src="{$params['echars1']}" style="width:340px;height:260px"/></td>
                <td><div style="height:40px;"></div><img src="{$params['echars2']}"  style="width:180px;height:220px;"/></td>
            </tr>
        </table>
        <div style="height:40px;">

            <div class="text2" style="margin:40px 0px;">
                {$params['text2']}
            </div>
            <table border='0' width='100%'>
                <tr>
                    <td style="width:340px;overflow:hidden"><img src="{$params['echars3']}" style="width:340px;height:260px;"/></td>
                    <td><div style="height:80px;"></div><img src="{$params['echars4']}"  style="width:180px;height:200px"/></td>
                </tr>
            </table>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从监测中发现主要广告投放为<span>地市州级媒体</span>，<span>省级媒体</span>投放量偏小，分别为<span>8442条次</span>和<span>4926条次</span> -->
            <div id="Histogram_chart">

            </div>



        </div>
    </div>
</div>
