<style>
    body{
        margin: 0px;
        padding:0px;
        font-family: "Microsoft YaHei";
    }
    .content{
        width:80%;
        background-color: #f1f6f9;
        padding-bottom: 30px;
        margin-left: 10%;
    }
    .tittle{
        background-color:#35a7f9;
        text-align: center;
        line-height: 100px;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
    }
    .text{
        padding-top: 40px;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 18px;
        color: #353535;
        padding-bottom: 40px;
    }
    #time,#address{
        /*color: #f14343;*/
    }
    #Chart,#Pie_chart,#Histogram{
        margin-top:30px;
        margin-bottom:15px;
        height:450px;
        background-color: #fff;
    }
</style>
<div class="content">
    <div class="tittle">监测报告</div>
    <div class="text">
        <div class="text1">
            <php>
                if(!empty($params['time_stamp'])){
                echo $params['time_stamp'];
                }
                $provinces = array(
                '1' => '浙江',
                '2' => '江苏',
                '3' => '贵州',
                '4' => '四川',
                '5' => '北京',
                '6' => '甘肃',
                );
                if(!empty($params['province']) && !in_array('0', $params['province'])){
                //  过滤条件
                foreach($provinces as $key => $value) {
                if(!in_array($key, $params['province'])) {
                unset($provinces[$key]);
                }
                }
                }

                if(!empty($provinces)) {
                echo implode('、', $provinces);
                } else {
                $area_name = array();
                foreach($list1 as $value) {
                $area_name[] = $value['area_name'];
                }
                echo implode('、', $area_name);
                }

                echo "等地区共监测发现";


                switch($params['ad_type_code']){
                case '0505,2005': echo "食品";break;
                case '040102,0801,0899,0803': echo "酒类";break;
                case '0301': echo "普通化妆品";break;
                case '1': echo "餐饮服务";break;
                case '9': echo "电器";break;
                case '0502': echo "饮料";break;
                default:break;
                }

                echo $list1_count."条次。";

                $tiaoci = "";
                $list1_back = array();
                foreach($provinces as $key => $province) {
                $list1_back[$key] = array('area_name' => $province, 'sl' => 0);
                foreach($list1 as $value){
                // 进行省份比对
                if(strpos($value['area_name'], $province) !== FALSE) {
                $list1_back[$key] = $value;
                }
                }
                }

                // 重新赋值list1
                $list1 = array_values($list1_back);
                if(!empty($list1)) {
                foreach($list1 as $value){
                $tiaoci .= $value['area_name'].$value['sl']."条次，";
                }
                }


                if(!empty($tiaoci)) {
                echo "其中"; echo trim($tiaoci, '，')."。";
                }

            </php>

        </div>
        <div id="Chart">
            <div id="Chart_child_1" style="float:left;width:60%;height:100%;">

            </div>
            <div id="Chart_child_2" style="float:right;width:35%;height:100%;padding-top:25px">

            </div>
        </div>
        <php>
            $list2_count = 0;
            foreach($list2 as $value) {
            $list2_count += $value['sl'];
            }
        </php>
        <div class="text2">
            <php>
                echo "从监测中可以发现";

                // 定义传媒类型
                $ad_styles = array(
                '1' => '报刊',
                '2' => '杂志',
                '3' => '电视',
                '4' => '广播',
                '5' => '互联网',
                );

                $num_change = array(
                1 => '一',
                2 => '二',
                3 => '三',
                4 => '四'
                );

                foreach($ad_styles as $key => $value) {
                if($key != $params['ad_style']){
                unset($ad_styles[$key]);
                }
                }

                // 定义媒体
                $channel_types = array(
                '1' => '报刊',
                '2' => '杂志',
                '3' => '电视',
                '4' => '广播',
                '5' => '互联网',
                );

                if(!empty($params['ad_style'])) {
                foreach($list2 as $key => $value) {
                if($ad_styles[$params['ad_style']] == $value['channel_type']) {
                echo $ad_styles[$params['ad_style']] . "传媒介质广告投放量为" . $value['sl'] . '条次。';
                } else {
                unset($list2[$key]);
                }
                }
                } else {
                $list2_back = array();
                foreach($channel_types as $channel_type){
                foreach($list2 as $value){
                if($value['channel_type'] == $channel_type){
                $list2_back[$value['sl']] = $value;
                } else {
                $list2_back['0'] = array('channel_type' => $channel_type, 'sl' => 0);
                }
                }
                }

                // 进行排序
                krsort($list2_back);
                // 重新赋值list2
                $list2 = array_values($list2_back);
                //不存在数据则调整显示文本
                if($num_change[count($list2)]){
                $chuanmei = "大传媒广告投放量";
                }else{
                $chuanmei = "广告投放量";
                }
                echo $num_change[count($list2)] . $chuanmei;

                foreach($list2 as $key => $value){
                switch($key){
                case 0: echo "最大依然是" . $value['channel_type'] . "达到了" . $value['sl'] . "条次占总投放量的" . round($value['sl']/$list2_count,2)*100 . "%" . "，";break;
                case 1: echo "其次是" . $value['channel_type'] . $value['sl'] . "条次占总投放量的" . round($value['sl']/$list2_count,2)*100 . "%" . "，";break;
                case 2: echo "其次是" . $value['channel_type'] . $value['sl'] . "条次占总投放量的" . round($value['sl']/$list2_count,2)*100 . "%" . "，";break;
                case 3: echo "最后为" . $value['channel_type'] . $value['sl'] . "条次占总投放量的" . round($value['sl']/$list2_count,2)*100 . "%" . "。";break;
                }
                }
                }

            </php>
        </div>
        <div id="Pie_chart">
            <div id="Chart_child_3" style="float:left;width:60%;height:100%;">

            </div>
            <div id="Chart_child_4" style="float:right;width:35%;height:100%;padding-top:25px;">

            </div>
        </div>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从监测中发现主要广告投放为<span>地市州级媒体</span>，<span>省级媒体</span>投放量偏小，分别为<span>8442条次</span>和<span>4926条次</span> -->
        <div id="Histogram_chart">

        </div>

        <php>
            $list1_json = json_encode($list1);
            $list2_json = json_encode($list2);
        </php>
        <form class="hidden-form" method="post" action="{:U('Admin/Test/download')}" target="_parent ">
            <input type="hidden" name="text1" value=""/>
            <input type="hidden" name="text2" value=""/>
            <input type="hidden" name="echars1" value=""/>
            <input type="hidden" name="echars2" value=""/>
            <input type="hidden" name="echars3" value=""/>
            <input type="hidden" name="echars4" value=""/>
        </form>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.4.0/echarts.common.min.js"></script>
<script>

    var chart_list1 = '{$list1_json}';
    var chart_list2 = '{$list2_json}';

    var chart_list1_x = [];
    var chart_list1_num = [];
    var chart_list1_data = [];

    var chart_list2_x = [];
    var chart_list2_num = [];
    var chart_list2_data = [];

    $.each(JSON.parse(chart_list1), function(index, value){
        chart_list1_x.push(value['area_name']);
        chart_list1_num.push(value['sl']);
        var array = {'name':value['area_name'],'value':value['sl']};

        chart_list1_data.push(array);
    });

    $.each(JSON.parse(chart_list2), function(index, value){
        chart_list2_x.push(value['channel_type']);
        chart_list2_num.push(value['sl']);
        var array = {'name':value['channel_type'],'value':value['sl']};

        chart_list2_data.push(array);
    });

    var Chart_child_1 = echarts.init(document.getElementById('Chart_child_1'));
    var Chart_child_2 = echarts.init(document.getElementById('Chart_child_2'));
    var Chart_child_3 = echarts.init(document.getElementById('Chart_child_3'));
    var Chart_child_4 = echarts.init(document.getElementById('Chart_child_4'));


    option1 = {
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : chart_list1_x,
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'发布量',
                type:'bar',
                barWidth: '60%',
                data:chart_list1_num,
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                }
            }
        ]
    };

    // 指定图表的配置项和数据
    option2 = {
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: chart_list1_x
        },
        series : [
            {
                name: '发布量',
                type: 'pie',
                radius : '55%',
                center: ['50%', '70%'],
                data: chart_list1_data,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },

            }
        ]
    };

    option3 = {
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : chart_list2_x,
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'投放量',
                type:'bar',
                barWidth: '60%',
                data:chart_list2_num,
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                }
            }
        ]
    };

    // 指定图表的配置项和数据
    option4 = {
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: chart_list2_x
        },
        series : [
            {
                name: '投放量',
                type: 'pie',
                radius : '55%',
                center: ['50%', '70%'],
                data: chart_list2_data,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
            }
        ]
    };

    Chart_child_1.setOption(option1);
    Chart_child_2.setOption(option2);
    Chart_child_3.setOption(option3);
    Chart_child_4.setOption(option4);

    $(function(){
        // 捕获提交表单
        $("#to_create").on('click', function(){
            $('.hidden-form input[name="text1"]').val($('.text1').text());
            $('.hidden-form input[name="text2"]').val($('.text2').text());
            $('.hidden-form input[name="echars1"]').val(Chart_child_1.getDataURL());
            $('.hidden-form input[name="echars2"]').val(Chart_child_2.getDataURL());
            $('.hidden-form input[name="echars3"]').val(Chart_child_3.getDataURL());
            $('.hidden-form input[name="echars4"]').val(Chart_child_4.getDataURL());
            $('.hidden-form').submit();
        })
    })
</script>