<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>违法广告发布确认</title>

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}regionSelect/css.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/Application/Admin/View/Public/mediaManagement.css" rel="stylesheet">
    <link href="/Application/Admin/View/Public/page.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/Application/TaskInput/View/IssueConfirm/videojs/video-js.css">
    <link rel="stylesheet" href="/Application/TaskInput/View/IssueConfirm/css/index.css">
    <link rel="stylesheet" href="/Application/TaskInput/View/IssueConfirm/css/adInfo.css">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content" id="app" v-loading="loading">
    <el-form :model="where" :inline="true" @keyup.enter.native="search">
        <el-row>
            <el-col :span="8">
                <el-form-item label="广告名称" prop="adName">
                    <el-input v-model="where.adName" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="媒介类型" prop="media_class">
                    <el-select v-model="where.mediaClass" clearable>
                        <el-option
                                v-for="item in mediaClassArr"
                                :key="item.text"
                                :label="item.text"
                                :value="item.value"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item prop="timeRangeArr">
                    <el-date-picker
                            @change="timeRangeChange"
                            v-model="where.timeRangeArr"
                            type="daterange"
                            start-placeholder="开始发布日期"
                            end-placeholder="结束发布日期"
                            value-format="yyyy-MM-dd"
                            :picker-options="pickerOptions"
                    >
                    </el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="广告类别" prop="adClass">
                    <el-cascader
                            filterable
                            :options="adClassArr"
                            v-model="tempWhere.searchAdClassArr1"
                            change-on-select
                            clearable
                    ></el-cascader>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="媒体名称" prop="mediaName">
                    <el-input v-model="where.mediaName" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="地区" prop="regionId" class="regionSearch">
                    <el-cascader
                            v-model="tempWhere.region"
                            :options="regionTree"
                            change-on-select
                            :filterable="true"
                            clearable
                    ></el-cascader>
                    <el-checkbox v-model="tempWhere.onlyThisLevel">只搜索本级</el-checkbox>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="展示方式">
                    <el-radio-group v-model="searchType" @change="search">
                        <el-radio label="ad">按广告</el-radio>
                        <el-radio label="media">按媒体</el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="客户">
                    <!--<el-radio-group v-model="where.issueState">-->
                        <!--<el-radio label="0">未发布</el-radio>-->
                        <!--<el-radio label="1">DMP确认</el-radio>-->
                    <!--</el-radio-group>-->
                    <el-select v-model="where.customer" clearable>
                        <el-option
                                label="国家局"
                                value="国家局"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item class="text-right">
                    <el-button type="primary" @click="search">搜索</el-button>
                    <el-button @click="resetWhere">重置</el-button>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <issue-list
            :table="table"
            :total="total"
            :type="searchType"
            :page="page"
            @page-change="pageChange"
            @search-req="searchReq"
    ></issue-list>
</div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/video.js/7.0.3/video.min.js"></script>
<script src="/Application/TaskInput/View/IssueConfirm/videojs/video.min.js"></script>
<script src="/Application/TaskInput/View/IssueConfirm/videojs/videojs-http-streaming.min.js"></script>
<script>
    const adClassArr = {$adClassArr};
    const illegalTypeArr = {$illegalType};
    const illegalArr = {$illegalArr};
    const regionTree = {$regionTree};
    const mediaClassArr = [
        {text: '电视', value: 1},
        {text: '广播', value: 2},
        {text: '报刊', value: 3}
    ];
</script>
<script src="/Application/TaskInput/View/IssueConfirm/js/adInfo.js"></script>
<script src="/Application/TaskInput/View/IssueConfirm/js/issueList.js"></script>
<script src="/Application/TaskInput/View/IssueConfirm/js/index.js"></script>
</body>
</html>