<template>
  <div class="first-trial">
    <el-dialog :title="fflowname"
      :visible.sync="show"
      :before-close="_close"
      center
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <ws-view v-if="showView"
        @close="_closeView"
        :data="formData"></ws-view>
      <el-dialog append-to-body
        title="线索流转"
        :visible.sync="sdialog"
        :show-close="false"
        center>
        <el-form label-width="90px">
          <el-form-item label="流转方式：">
            <el-radio-group v-model="regForm.undertake"
              @change="_get_dl_list">
              <el-radio-button label="10">自办</el-radio-button>
              <el-radio-button label="20">转办</el-radio-button>
              <el-radio-button label="30"
                v-if="back">退回</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="处罚方式："
            v-if="regForm.undertake === '10'">
            <el-checkbox-group v-model="fpunish">
              <el-checkbox label="责令停止发布"></el-checkbox>
              <el-checkbox label="立案"></el-checkbox>
              <el-checkbox label="移送司法"></el-checkbox>
              <el-checkbox label="其他"></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="处理建议：">
            <el-input type="textarea"
              :rows="5"
              v-model="regForm.result"></el-input>
          </el-form-item>
          <el-form-item label="交办机构："
            v-if="regForm.undertake === '20'">
            <el-select v-model="regForm.fwaittreid"
              style="width:100%">
              <el-option v-for="(item,index) in lowerTregulator"
                :value="item.fid"
                :label="item.fname"
                :key="index">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer"
          class="dialog-footer">
          <el-button type="primary"
            @click="_submit(2)"
            :loading="$store.state.bloading">
            提 交
          </el-button>
          <el-button @click="_close2">
            关 闭
          </el-button>
        </div>
      </el-dialog>
      <el-row :gutter="20">
        <el-col :span="12"
          style="max-height:600px;overflow: scroll;">
          <fieldset v-if="$route.name === 'monitor'">
            <legend>登记信息</legend>
            <el-form :model="regForm"
              label-width="160px">
              <el-form-item label="广告案件交办单编号：">
                <el-input v-model="regForm.fnumber"></el-input>
              </el-form-item>
              <el-form-item label="交办时间：">
                <el-date-picker :editable="false" v-model="regForm.fgivetime"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="请选择"
                  :picker-options="pickerOptions"
                  :style="Width">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="登记时间：">
                <el-date-picker :editable="false" v-model="regForm.fregistertime"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="选择日期"
                  :picker-options="pickerOptions"
                  :style="Width">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="截止日期：">
                  <el-date-picker :editable="false" v-model="regForm.fendtimes"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期"
                    :picker-options="pickerOptions"
                    :style="Width">
                </el-date-picker>
              </el-form-item>
            </el-form>
          </fieldset>
          <fieldset>
            <legend>文书信息</legend>
            <el-form v-model="formData"
              label-width="90px">
              <el-form-item label="文书模板：">
                <el-select v-model="dr_dlid"
                  style="width:100%"
                  @change="_changeWs">
                  <el-option v-for="item in wsList"
                    :key="item.dl_id"
                    :label="item.dl_doctitle"
                    :value="item.dl_id"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="文书标题：">
                <el-input v-model="formData.dt_doctitle"></el-input>
              </el-form-item>
              <el-form-item label="文号：">
                <el-input v-model="formData.dt_number"></el-input>
              </el-form-item>
              <el-form-item label="收文单位：">
                <el-input v-model="formData.dt_receiveregulatorname"></el-input>
              </el-form-item>
              <el-form-item label="正文：">
                <vue-ueditor-wrap v-model="formData.dt_content"
                  :config="$store.state.ueditorConfig"
                  :destroy="true">
                </vue-ueditor-wrap>
              </el-form-item>
              <el-form-item label="发文单位：">
                <el-input v-model="formData.dt_sendregulatorname"></el-input>
              </el-form-item>
              <el-form-item label="发文日期：">
                <el-date-picker :editable="false" style="width:100%"
                  v-model="formData.dt_sendtime"
                  type="date"
                  placeholder="选择日期"
                  format="yyyy年M月d日"
                  :clearable="false"
                  value-format="yyyy-M-d">
                </el-date-picker>
              </el-form-item>
            </el-form>
            <div class="text-center">
              <el-button type="primary"
                @click="_checkDl">保 存</el-button>
              <el-button @click="showView = true">预 览</el-button>
            </div>
          </fieldset>
        </el-col>
        <el-col :span="12"
          style="max-height:600px;overflow: scroll;">
          <el-collapse v-model="activeline">
            <el-collapse-item title="投诉信息"
              name="1"
              v-if="!this.fillegaladid">
              <table style="border-color:#dcdfe6;color:#606266;"
                border='1'
                width="100%"
                cellspacing="0"
                cellpadding="6">
                <tr>
                  <th style="width:200px">广告名称</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>广告案件交办单编号</th>
                  <td>{{ registrationForm.fnumber }}</td>
                </tr>
                <tr>
                  <th>线索来源</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>投举方</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr>
                  <th>举报人类别</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>投诉方联系方式</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>广告类别</th>
                  <td>{{ registrationForm.fadclassname }}</td>
                </tr>
                <tr>
                  <th>媒体类别</th>
                  <td>{{ this.mediatype[registrationForm.fmediatype] }}</td>
                </tr>
                <tr>
                  <th>广告发布时间</th>
                  <td>{{ registrationForm.fsendtime ? registrationForm.fsendtime.substring(0,10) : "" }}</td>
                </tr>
                <tr>
                  <th>发布媒体</th>
                  <td>{{ registrationForm.fmedianame }}</td>
                </tr>
                <tr>
                  <th>交办时间</th>
                  <td>{{ registrationForm.fgivetime ? registrationForm.fgivetime.substring(0,10) : '' }}</td>
                </tr>
                <tr>
                  <th>截止日期</th>
                  <td>{{ registrationForm.fendtimes }}</td>
                </tr>
                <tr>
                  <th>广告主</th>
                  <td>{{ registrationForm.fadowner }}</td>
                </tr>
                <tr>
                  <th>广告条次</th>
                  <td>{{ registrationForm.fsendcount }}</td>
                </tr>
                <tr>
                  <th>投诉内容</th>
                  <td>{{ registrationForm.fappeal }}</td>
                </tr>
                <tr>
                  <th>登记时间</th>
                  <td>{{ registrationForm.fregistertime ? registrationForm.fregistertime.substring(0,10) : '' }}</td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="证据材料"
              name="1">
              <ill-annex :showUpload="true"
                :attachInfo="attachInfo"
                :uploading="uploading"
                :clueList="clueList"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @delsuccess="_delSuccess"
                :fregisterid="fid">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="文书信息"
              name="2">
              <el-table :data="wsData"
                border
                style="width: 100%">
                <el-table-column prop="ffilename"
                  label="文书标题">
                </el-table-column>
                <el-table-column label="操作"
                  width="130">
                  <template slot-scope="scope">
                    <a :href="scope.row.fattachurl">
                      <el-button type="text"
                        icon="el-icon-download">
                        下载</el-button>
                    </a>
                    <el-button type="text"
                      v-if="scope.row.delstate === '20'"
                      icon="el-icon-download"
                      @click="_deleteWs(scope.row)">
                      删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="处理流程"
              name="3">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="sdialog = true">
          流 转
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import VueUeditorWrap from 'vue-ueditor-wrap'
import clueDetails from './clueDetails'
import { _getClueListnj } from '../../../static/js/common.js'
import flowTable from '../clue/common/flowTable'
import illAnnex from './illAnnex'
import wsView from './wsView'
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['wstype', 'back', 'fid', 'fillegaladid', 'fflowname'],
  components: {
    illAnnex,
    flowTable,
    wsView,
    clueDetails,
    VueUeditorWrap
  },
  data() {
    return {
      showView: false,
      wsmb: '',
      sdialog: false,
      wsData: [],
      activeline: ['1', '2'],
      regForm: {
        result: '',
        fwaittreid: '', //交办机构ID,
        undertake: '10',
        fendtimes: '',
        fregistertime: this.$dayjs().format('YYYY-MM-DD'),
        fgivetime: this.$dayjs().format('YYYY-MM-DD'),
        fnumber: ''
      },
      fpunish: [],
      Width: { 'width': '100%' },
      formData: {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_doctitle: '',
      },
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() < new Date().getTime()
        }
      },
      form: {},
      registrationForm: {
        fregistertime: ''
      },
      attachInfo: [],
      clueList: [],
      bucket_url: '',
      uploading: false,
      innerVisible: false,
      flowData: [],
      show: true,
      lowerTregulator: [],
      orgList: [],
      orgPeopleList: [],
      dr_name: '',
      dr_dlid: '',
      wsList: [],
      mediatype: {
        '01': '电视',
        '02': '广播',
        '03': '报纸',
        '13': '互联网',
      }
    }
  },
  created() {
    this._getLowRegulator()
    this._get_dl_list()
    this._getSameOrg()
  },
  mounted() {
    if (this.fid) {
      this._getDetails(this.fid)
    }
    if (this.fillegaladid) {
      _getClueListnj(this, this.fillegaladid)
    }
  },
  methods: {
    _getDetails(fid) {
      axios.post(this.$_ + '/Agp/Ntsjubao/get_registerview', qs.stringify({
        fid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this.flowid = res.data.data.data.flowid
            this._flowData(this.fid)
            this._getrefiles(this.fid, this.flowid)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _submit(submit) {
      if (this.regForm.undertake === '20' && !this.regForm.fwaittreid) {
        this.$message.error('交办机构不能为空！')
        return false
      }
      if (!this.fpunish.length && this.regForm.undertake === '10') {
        this.$message.error('请选择处罚方式！')
        return false
      }
      if(this.$route.name === 'monitor' && !this.regForm.fendtimes){
        this.$message.error('请选择截止日期！')
        return false
      }
      let url = this.fid ? '/Agp/Ntsjubao/update_register3' : '/Agp/Ntsjubao/create_register2'
      let data = null
      if (!this.fid) {
        data = {
          submit: submit,
          fillegaladid: this.fillegaladid,
          ...this.regForm
        }
        data.attachinfo = this.attachInfo
        data.documentids = this.$func.getIdArr(this.wsData, 'fid')
      } else {
        data = {
          submit: submit,
          undertake: this.regForm.undertake,
          fwaittreid: this.regForm.fwaittreid,
          result: this.regForm.result,
          fid: this.fid,
        }
      }
      data.fpunish = this.fpunish.join(';')
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close')
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    /**
     * 关闭弹窗
     */
    _close() {
      this.$emit('close')
    },
    _close2() {
      this.sdialog = false
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      obj.fflowname = '线索处理'
      if (!this.fid) {
        this.attachInfo.unshift(obj)
      } else {
        this._uploadFile(obj)
      }
      this.uploading = false
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid,
        attachinfo: Array.of(obj),
        flowid: this.flowid
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            this._getrefiles(this.fid, this.flowid)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    // 获取下级机构
    _getLowRegulator() {
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.lowerTregulator = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getTransfer(val, val2) {
      this.options.forEach(item => {
        if (Number(item.fid) === Number(val2)) {
          this[val].ftoregulatorname = item.fname
        }
      })
    },
    _getSameOrg() {
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.orgList = res.data.data
          }
        })
    },
    _get_dl_list() {
      this.regForm.fwaitregulatorid = ''
      this.regForm.fwaitregulatorname = ''
      let dl_deid = ''
      let data = {
        ws_type_ids: this.wstype,
        dl_regulatorname: this.$store.state.userInfo.regulatorname
      }
      axios.post(this.$_ + '/Agp/WsTemp/get_ws_number', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.wsList = res.data.data
            let data = res.data.data[0]
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_content'] = data['dl_content']
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_number'] = data['wsh']
            this['formData']['dt_name'] = data['dl_name']
            this['formData']['dt_doctitle'] = data['dl_name']
            this.dr_dlid = data.dl_id
            this.dr_name = data.wsh
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _saveWs() {
      let fid = this.fid || ''
      let data = {
        fid: fid,
        flowid: this.flowid,
        ...this.formData
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/create_document', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            if (!this.fid) {
              this.wsData.push({
                fid: res.data.data.fid,
                ffilename: res.data.data.ffilename,
                fattachurl: res.data.data.fattachurl,
                delstate: '20'
              })
            } else {
              this._getrefiles(this.fid, this.flowid)
            }
            this._get_dl_list()
            this._resetForm()
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _resetForm() {
      this.formData = {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
      }
      this.dr_dlid = ''
    },
    _checkDl() {
      let data = {
        dr_name: this.dr_name,
        dr_dlid: this.dr_dlid
      }
      axios.post(this.$_ + '/Agp/WsTemp/vad_wh', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._saveWs()
          }
        })
    },
    _changeWs(val) {
      let obj = this.wsList.filter(item => {
        return item.dl_id === val
      })
      let data = obj[0]
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_content'] = data['dl_content']
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_number'] = data['wsh']
      this['formData']['dt_name'] = data['dl_name']
      this['formData']['dt_doctitle'] = data['dl_name']
      this.dr_dlid = data.dl_id
      this.dr_name = data.wsh
    },
    _closeView() {
      this.showView = false
    },
    _delSuccess(val) {
      if (!this.fid) {
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
      } else {
        this._getrefiles(this.fid, this.flowid)
      }
    },
    _getrefiles(fid, flowid) {
      let data = { fid, flowid }
      axios.post(this.$_ + '/Agp/Ntsjubao/get_flowfile', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.attachInfo = res.data.data.files1
            this.wsData = res.data.data.files2
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('网络错误')
        })
    },
    _flowData(fid) {
      axios.post(this.$_ + '/Agp/Ntsjubao/get_flowlist', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.flowData = res.data.data.map(item => {
              item.ffinishtime = item.ffinishtime ? item.ffinishtime.substring(0, 10) : ''
              return item
            })
          }
        })
    },
    _deleteWs(obj) {
      let route = this.$route.name
      let url = '/Agp/Ntsjubao/delete_document'
      let data = {
        fid: obj.fid
      }
      this.$confirm('确认删除该文书?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + url, qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: res.data.msg
              })
              this.wsData = this.wsData.filter(item => {
                return item.fid !== obj.fid
              })
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    }
  }
}
</script>
