<template>
  <div class="clue-details">
    <el-dialog :title="annexDetails.fadname"
      :visible.sync="show"
      append-to-body
      center
      width="90%"
      :before-close="_close">
      <el-row :gutter="40">
        <el-col :span="12">
          <aliplayer :url="videoUrl"
            width="100%"
            height="500px"
            v-if="(annexDetails.fmedia_class === '1' || annexDetails.fmedia_class === '2') && videoUrl">
          </aliplayer>
          <div class="imgBlock"
            style="height:600px"
            v-if="annexDetails.fmedia_class === '3'">
            <vueCropper ref="cropper"
              :img="annexDetails.fjpgfilename"
              :outputSize="1"></vueCropper>
          </div>
        </el-col>
        <el-col :span="12"
          style="max-height:600px;overflow: auto;">
          <fieldset>
            <legend>基本信息</legend>
            <el-form label-width="90px"
              class="el-form-details">
              <el-form-item label="广告名称：">
                {{ annexDetails.fadname || '暂无' }}
              </el-form-item>
              <el-form-item label="广告类别：">
                {{ annexDetails.adclass_fullname || '暂无' }}
              </el-form-item>
              <el-form-item label="发布媒体：">
                {{ annexDetails.fmedianame || '暂无' }}
              </el-form-item>
              <el-form-item label="发布次数：">
                {{ annexDetails.fissuetimes + ' 次' || '暂无' }}
              </el-form-item>
              <el-form-item label="发布日期：">
                {{ annexDetails.fissuedate.substring(0,10) || '暂无' }}
              </el-form-item>
              <el-form-item label="时长："
                v-if="annexDetails.fmedia_class !== 3">
                {{ annexDetails.fadlen || '暂无' }}
              </el-form-item>
              <el-form-item label="版面："
                v-if="annexDetails.fmedia_class === 3">
                {{ annexDetails.fadlen || '暂无' }}
              </el-form-item>
            </el-form>
          </fieldset>
          <fieldset>
            <legend>涉嫌违法信息</legend>
            <el-form label-width="90px"
              class="el-form-details">
              <el-form-item label="违法类型：">
                <span v-if="annexDetails.fillegaltypecode === '0'">不违法</span>
                <span v-if="annexDetails.fillegaltypecode === '20'">一般违法</span>
                <span v-if="annexDetails.fillegaltypecode === '30'">严重违法</span>
              </el-form-item>
              <el-form-item label="认定依据：">
                {{ annexDetails.fconfirmations ? annexDetails.fconfirmations : '暂无' }}
              </el-form-item>
              <el-form-item label="涉嫌违法表现：">
                {{ annexDetails.fexpressions ? annexDetails.fexpressions : '暂无' }}
              </el-form-item>
              <el-form-item label="涉嫌违法内容：">
                {{ annexDetails.fillegalcontent ? annexDetails.fillegalcontent : '暂无' }}
              </el-form-item>
            </el-form>
          </fieldset>
          <fieldset>
            <legend>其他信息</legend>
            <el-form label-width="240px"
              class="el-form-details">
              <el-form-item label="生产批准文号：">
                {{ annexDetails.fmanuno ? annexDetails.fmanuno : '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的生产批准文号：">
                {{ annexDetails.fadmanuno ? annexDetails.fadmanuno : '暂无' }}
              </el-form-item>
              <el-form-item label="广告批准文号：">
                {{ annexDetails.fapprno ? annexDetails.fapprno : '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的广告批准文号：">
                {{ annexDetails.fadapprno ? annexDetails.fadapprno : '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的生产企业（证件持有人）名称：">
                {{ annexDetails.fadent ? annexDetails.fadent : '暂无' }}
              </el-form-item>
              <el-form-item label="生产企业（证件持有人）名称：">
                {{ annexDetails.fent ? annexDetails.fent : '暂无' }}
              </el-form-item>
              <el-form-item label="生产企业（证件持有人）所在地区：">
                {{ annexDetails.fentzone ? annexDetails.fentzone : '暂无' }}
              </el-form-item>
            </el-form>
          </fieldset>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import VueCropper from 'vue-cropper'
import aliplayer from '../common/aliplayer'
export default {
  props: ['annexDetails', 'videoUrl'],
  components: {
    VueCropper,
    aliplayer
  },
  data() {
    return {
      activeTab: 'adInfo',
      show: true
    }
  },
  methods: {
    _close() {
      this.$emit('close')
    }
  }
}
</script>
<style lang="scss">
.el-form-details {
  .el-form-item {
    margin: 0;
  }
}
</style>
