<template>
  <div class="cluetracking main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="编号：">
            <el-input v-model="form.fnumber"
              placeholder="请输入交办单编号"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="form.fname"
              placeholder="请输入广告名称"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布媒体：">
            <el-input v-model="form.fmedianame"
              placeholder="请输入发布媒体"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="来源：">
            <el-select v-model="form.ffromtype"
              clearable
              :style="$store.state.fwidth">
              <el-option v-for="item in $store.state.clueFrom"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="任务状态：">
            <el-select v-model="form.rwzt"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.rwzt"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="交办时间：">
            <el-date-picker :editable="false"
              :style="$store.state.fwidth"
              v-model="searchDate"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      :data="tableData"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column width="250"
        label="交办单编号"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fnumber}}
          <el-popover v-for="(item,index) in scope.row.gz_data"
            :key="index"
            placement="right"
            width="200"
            trigger="hover"
            :content="item.ftk_endtime.substring(0,10)">
            <el-tag class="right-margin"
              type="text"
              slot="reference"
              :type="_color(item)">{{$store.state.gzlx[item.ftk_type].label}}</el-tag>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="广告名称"
        prop="fname"
        min-width="110"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        min-width="110"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="线索来源"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.ffromtype === '10' ? '监测发现' : $store.state.clueFrom2[scope.row.ffromtype]}}
        </template>
      </el-table-column>
      <el-table-column prop="fregisterpersonname"
        label="交办人"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregisterregulatorname"
        label="办理单位"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="办理进度"
        width="120">
        <template slot-scope="scope">
          {{`剩余 ${scope.row.diffdays} 天`}}
        </template>
      </el-table-column>
      <el-table-column prop="date"
        label="操作"
        width="80"
        fixed="right">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_feedBack(scope.row)">
            详 情
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <track-form v-if="showDialog"
      :fid="fid"
      :fromType="fromType"
      wstype="2,3"
      @close="_closeDialog">
    </track-form>
  </div>
</template>

<script>
import trackForm from './trackForm'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    trackForm,
  },
  data() {
    return {
      // 搜索表单数据
      form: {
        page: 1,
        ffromtype: '',
        fmedianame: '',
        fnumber: '',
        fname: '',
        fstate: '0',
        djrqed: '',
        djrqst: '',
        rwzt: '0'
      },
      searchDate: [],
      fromType: '',
      // 列表及session数据
      tableData: [],
      loading: false,
      showDialog: false,
      registrationdata: {},
      formData: {},
      countAll: '0',
      fid: '',
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList() {
      this.loading = true
      let data = { ...this.form }
      data.djrqst = this.searchDate[0] || ''
      data.djrqed = this.searchDate[1] || ''
      axios.post(this.$_ + '/Agp/Ntsjubao/waittrack_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.fregistertime) {
                item.fregistertime = item.fregistertime.substring(0, 10)
              }
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _feedBack(item) {
      this.fid = item.fid
      this.fromType = item.ffromtypes
      this.showDialog = true
    },
    _closeDialog() {
      this.showDialog = false
      this._getList()
    },
    _setTime(val) {
      if (val instanceof Array) {
        this.form.starttime = val[0]
        this.form.endtime = val[1]
      } else {
        this.form.starttime = ''
        this.form.endtime = ''
      }
    },
    _color(obj) {
      if (obj.hotstatus === '10') {
        return 'danger'
      }
      if (obj.hotstatus === '0') {
        return 'warning'
      }
      return 'info'
    }
  }
}
</script>
