<template>
  <div class="monitor main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input :style="$store.state.fwidth"
              v-model="searchForm.fadname"
              placeholder="请输入广告名称"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布媒介：">
            <el-input v-model="searchForm.fmedianame"
              placeholder="请输入媒介"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select :style="$store.state.fwidth"
              v-model="searchForm.mclass"
              placeholder="请选择">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-cascader :style="$store.state.fwidth"
              :options="$store.state.adClassOptions"
              change-on-select
              v-model="fadclasscode"
              :props="$store.state.propsOptions"
              clearable>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="地区：">
            <el-cascader :style="$store.state.fwidth"
              :options="$store.state.mediaArea"
              :props="$store.state.areaOptions"
              v-model="area"
              @change="_change($event,'area')">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布日期：">
            <el-date-picker :editable="false"
              :style="$store.state.fwidth"
              v-model="gxrq"
              type="daterange"
              align="right"
              :picker-options="pickerOptions"
              value-format="yyyy-MM-dd"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              @change="_change($event,'gxrq')">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-row v-loading="loading">
      <el-table border
        ref="multipleTable"
        :data="tableData"
        :height="$store.state.GTableHeight">
        <el-table-column type="index"
          width="55">
        </el-table-column>
        <el-table-column prop="fadname"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="120"
          prop="adclass_fullname"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="播出媒介"
          width="140"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="110"
          prop="fstarttime"
          label="首次发布"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="110"
          prop="fendtime"
          label="最后发布"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="80"
          prop=""
          label="发布次数"
          show-overflow-tooltip>
          <template slot-scope="scope">
            <el-button type="text"
              @click="_issCount(scope.row)">{{scope.row.fcount}}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="fillegal"
          label="涉嫌违法内容"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="100"
          label="涉嫌违法表现">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fexpressioncodes}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="fconfirmations"
          label="认定依据"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="操作"
          width="80px"
          fixed="right">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-edit"
              @click="_registration(scope.row)">处理</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </el-row>
    <cl-form ref="registrationForm"
      @close="_closeDialog"
      wstype="1,4"
      v-if="showDialog"
      fflowname="线索处理"
      :fillegaladid="fid"
      :isregistration="true">
    </cl-form>
    <view-issue v-if="showiss"
      :data="params"
      url="/Agp/Ntsjubao/tiaoci_list"
      @close="showiss = false">
    </view-issue>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import viewIssue from '../clueFJ/components/viewIssue.vue'
import clForm from './clForm'
export default {
  components: {
    clForm,
    viewIssue
  },
  data() {
    return {
      // 搜索条件
      searchForm: {
        fadname: '',
        fadclasscode: '',
        fadclasscode: '',
        fmedianame: '',
        page: 1,
        mclass: '0'
      },
      area: [],
      gxrq: [],
      djform: false,
      showiss: false,
      fadclasscode: [],
      loading: false,
      showDialog: false,
      countAll: '0',
      tableData: [],
      fid: '',
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      let data = {
        ...this.searchForm,
        fadclasscode: this.fadclasscode[this.fadclasscode.length - 1],
        area: this.area[this.area.length - 1],
        gxrqst: this.gxrq[0],
        gxrqet: this.gxrq[1],
        page: page || 1,
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.create_time = item.create_time.substring(0, 10)
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    // 显示处理弹窗
    _registration(item) {
      this.fid = item.fid
      this.showDialog = true
    },
    // 关闭弹窗
    _closeDialog() {
      this.showDialog = false
      this._getList()
    },
    _change(val, name) {
      if (!val) {
        this[name] = []
      }
    },
    _issCount(obj) {
      this.showiss = true
      this.params = {}
      let data = {}
      data.fissuedatest = obj.fstarttime
      data.fissuedateed = obj.fendtime
      data.adid = obj.fid
      data.mclass = obj.mclass
      this.params = data
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType3
    }
  }
}
</script>

<style lang="scss" scoped>
.clue-list {
  .el-table {
    margin-bottom: 10px;
  }
}
</style>