<template>
  <div class="first-trial">
    <el-dialog :title="fflowname"
      :visible.sync="show"
      :before-close="_close"
      center
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-row :gutter="20">
        <el-col :span="12"
          style="max-height:600px;overflow: scroll;">
          <fieldset>
            <legend>办结审核</legend>
            <el-form :model="shform" label-width="80px">
              <el-form-item label="审核结果">
                <el-radio v-model="shform.undertake" label="10">通 过</el-radio>
                 <el-radio v-model="shform.undertake" label="20">退 回</el-radio>
              </el-form-item>
              <el-form-item label="审核建议" v-if="shform.undertake === '20'">
                <el-input type="textarea" v-model="shform.result" :rows="5"></el-input>
              </el-form-item>
            </el-form>
          </fieldset>
        </el-col>
        <el-col :span="12"
          style="max-height:600px;overflow: scroll;">
          <el-collapse v-model="activeline">
            <el-collapse-item title="投诉信息"
              name="1"
              v-if="!this.fillegaladid">
              <table style="border-color:#dcdfe6;color:#606266;"
                border='1'
                width="100%"
                cellspacing="0"
                cellpadding="6">
                <tr>
                  <th style="width:200px">广告名称</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>广告案件交办单编号</th>
                  <td>{{ registrationForm.fnumber }}</td>
                </tr>
                <tr>
                  <th>线索来源</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>投举方</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr>
                  <th>举报人类别</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>投诉方联系方式</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>广告类别</th>
                  <td>{{ registrationForm.fadclassname }}</td>
                </tr>
                <tr>
                  <th>媒体类别</th>
                  <td>{{ this.mediatype[registrationForm.fmediatype] }}</td>
                </tr>
                <tr>
                  <th>广告发布时间</th>
                  <td>{{ registrationForm.fsendtime ? registrationForm.fsendtime.substring(0,10) : "" }}</td>
                </tr>
                <tr>
                  <th>发布媒体</th>
                  <td>{{ registrationForm.fmedianame }}</td>
                </tr>
                <tr>
                  <th>交办时间</th>
                  <td>{{ registrationForm.fgivetime ? registrationForm.fgivetime.substring(0,10) : '' }}</td>
                </tr>
                <tr>
                  <th>截止日期</th>
                  <td>{{ registrationForm.fendtimes }}</td>
                </tr>
                <tr>
                  <th>广告主</th>
                  <td>{{ registrationForm.fadowner }}</td>
                </tr>
                <tr>
                  <th>广告条次</th>
                  <td>{{ registrationForm.fsendcount }}</td>
                </tr>
                <tr>
                  <th>投诉内容</th>
                  <td>{{ registrationForm.fappeal }}</td>
                </tr>
                <tr>
                  <th>登记时间</th>
                  <td>{{ registrationForm.fregistertime ? registrationForm.fregistertime.substring(0,10) : '' }}</td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="证据材料"
              name="1">
              <ill-annex :showUpload="false"
                :attachInfo="attachInfo"
                :uploading="uploading"
                :clueList="clueList"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @delsuccess="_delSuccess"
                :fregisterid="fid">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="文书信息"
              name="2">
              <el-table :data="wsData"
                border
                style="width: 100%">
                <el-table-column prop="ffilename"
                  label="文书标题">
                </el-table-column>
                <el-table-column label="操作"
                  width="130">
                  <template slot-scope="scope">
                    <a :href="scope.row.fattachurl">
                      <el-button type="text"
                        icon="el-icon-download">
                        下载</el-button>
                    </a>
                    <el-button type="text"
                      v-if="scope.row.delstate === '20'"
                      icon="el-icon-download"
                      @click="_deleteWs(scope.row)">
                      删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="处理流程"
              name="3">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="submit">
          提 交
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import clueDetails from './clueDetails'
import { _getClueListnj } from '../../../static/js/common.js'
import flowTable from '../clue/common/flowTable'
import illAnnex from './illAnnex'
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['back', 'fid', 'fillegaladid', 'fflowname'],
  components: {
    illAnnex,
    flowTable,
    clueDetails,
  },
  data() {
    return {
      wsData: [],
      activeline: ['1', '2'],
      Width: { 'width': '100%' },
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() < new Date().getTime()
        }
      },
      shform: {
        undertake: '10'
      },
      form: {},
      registrationForm: {
        fregistertime: ''
      },
      attachInfo: [],
      clueList: [],
      bucket_url: '',
      uploading: false,
      innerVisible: false,
      flowData: [],
      show: true,
      lowerTregulator: [],
      orgList: [],
      orgPeopleList: [],
      mediatype: {
        '01': '电视',
        '02': '广播',
        '03': '报纸',
        '13': '互联网',
      }
    }
  },
  created() {
    this._getLowRegulator()
    this._getSameOrg()
  },
  mounted() {
    if (this.fid) {
      this._getDetails(this.fid)
    }
    if (this.fillegaladid) {
      _getClueListnj(this, this.fillegaladid)
    }
  },
  methods: {
    _getDetails(fid) {
      axios.post(this.$_ + '/Agp/Ntsjubao/get_registerview', qs.stringify({ fid })).then(res => {
        if (res.data.code === 0) {
          this.registrationForm = res.data.data.data
          this.flowid = res.data.data.data.flowid
          this._flowData(this.fid)
          this._getrefiles(this.fid, this.flowid)
        } else {
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    submit(submit) {
      if(this.shform.undertake === '20' && !this.shform.result){
        return this.$func._error('请填写审核建议！')
      }
      let data = {
        fid: this.fid,
        ...this.shform
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/update_register3', qs.stringify(data)).then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close')
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    /**
     * 关闭弹窗
     */
    _close() {
      this.$emit('close')
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      obj.fflowname = '线索处理'
      if (!this.fid) {
        this.attachInfo.unshift(obj)
      } else {
        this._uploadFile(obj)
      }
      this.uploading = false
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid,
        attachinfo: Array.of(obj),
        flowid: this.flowid
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            this._getrefiles(this.fid, this.flowid)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    // 获取下级机构
    _getLowRegulator() {
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.lowerTregulator = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getTransfer(val, val2) {
      this.options.forEach(item => {
        if (Number(item.fid) === Number(val2)) {
          this[val].ftoregulatorname = item.fname
        }
      })
    },
    _getSameOrg() {
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.orgList = res.data.data
          }
        })
    },
    _delSuccess(val) {
      if (!this.fid) {
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
      } else {
        this._getrefiles(this.fid, this.flowid)
      }
    },
    _getrefiles(fid, flowid) {
      let data = { fid, flowid }
      axios.post(this.$_ + '/Agp/Ntsjubao/get_flowfile', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.attachInfo = res.data.data.files1
            this.wsData = res.data.data.files2
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('网络错误')
        })
    },
    _flowData(fid) {
      axios.post(this.$_ + '/Agp/Ntsjubao/get_flowlist', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.flowData = res.data.data.map(item => {
              item.ffinishtime = item.ffinishtime ? item.ffinishtime.substring(0, 10) : ''
              return item
            })
          }
        })
    },
    _deleteWs(obj) {
      let route = this.$route.name
      let url = '/Agp/Ntsjubao/delete_document'
      let data = {
        fid: obj.fid
      }
      this.$confirm('确认删除该文书?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + url, qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: res.data.msg
              })
              this.wsData = this.wsData.filter(item => {
                return item.fid !== obj.fid
              })
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    }
  }
}
</script>
