<template>
  <div class="tz-form">
    <el-dialog :title="title" :visible.sync="show" :before-close="_close" center width="90%" :close-on-click-modal="false" :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails" v-if="adDetailDialog" :videoUrl="videoUrl" @close="_closeDetails"></clue-details>
      <el-row :gutter="20">
        <el-col :span="12" style="max-height:500px;overflow:scroll;">
          <fieldset>
          <legend>投诉信息</legend>
            <table style="border-color:#dcdfe6;color:#606266;" border='1' width="100%" cellspacing="0" cellpadding="6">
              <tr>
                <th style="width:200px">广告名称</th>
                <td>{{ registrationForm.fname }}</td>
              </tr>
              <tr>
                <th>广告案件交办单编号</th>
                <td>{{ registrationForm.fnumber }}</td>
              </tr>
              <tr>
                <th>线索来源</th>
                <td>
                  <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                  <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                  <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                  <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                </td>
              </tr>
              <tr>
                <th>投举方</th>
                <td>{{ registrationForm.fpersonname }}</td>
              </tr>
              <tr>
                <th>举报人类别</th>
                <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
              </tr>
              <tr>
                <th>投诉方联系方式</th>
                <td>{{ registrationForm.fpersonmobile }}</td>
              </tr>
              <tr>
                <th>广告类别</th>
                <td>{{ registrationForm.fadclassname }}</td>
              </tr>
              <tr>
                <th>媒体类别</th>
                <td>{{ this.mediatype[registrationForm.fmediatype] }}</td>
              </tr>
              <tr>
                <th>广告发布时间</th>
                <td>{{ registrationForm.fsendtime ? registrationForm.fsendtime.substring(0,10) : "" }}</td>
              </tr>
              <tr>
                <th>发布媒体</th>
                <td>{{ registrationForm.fmedianame }}</td>
              </tr>
              <tr>
                <th>交办时间</th>
                <td>{{ registrationForm.fgivetime ? registrationForm.fgivetime.substring(0,10) : '' }}</td>
              </tr>
              <tr>
                <th>截止日期</th>
                <td>{{ registrationForm.fendtimes }}</td>
              </tr>
              <tr>
                <th>广告主</th>
                <td>{{ registrationForm.fadowner }}</td>
              </tr>
              <tr>
                <th>广告条次</th>
                <td>{{ registrationForm.fsendcount }}</td>
              </tr>
              <tr>
                <th>投诉内容</th>
                <td>{{ registrationForm.fappeal }}</td>
              </tr>
              <tr>
                <th>登记时间</th>
                <td>{{ registrationForm.fregistertime ? registrationForm.fregistertime.substring(0,10) : '' }}</td>
              </tr>
              <tr v-if="registrationForm.fstate === '40'">
                <th>处罚方式</th>
                <td>{{ registrationForm.fpunish }}</td>
              </tr>
            </table>
          </fieldset>
        </el-col>
        <el-col :span="12" style="max-height:500px;overflow:scroll;">
          <fieldset v-if="clueList.length">
            <legend>线索详情</legend>
            <el-table :data="clueList" style="width: 100%" border v-if="clueList.length">
              <el-table-column prop="fadname" label="广告名称">
              </el-table-column>
              <el-table-column width="80" label="操作">
                <template slot-scope="scope">
                  <el-button type="text"  @click="_showDetails(scope.row)">详 情</el-button>
                </template>
              </el-table-column>
            </el-table>
          </fieldset>
          <fieldset v-if="attachInfo.length">
            <legend>证据材料</legend>
            <ill-annex
              :hidetitle="false"
              :attachInfo="attachInfo"
              :clueList="[]"
              :showUpload="false">
            </ill-annex>
          </fieldset>
          <fieldset  v-if="wsData.length">
            <legend>文书信息</legend>
            <el-table
              :data="wsData"
              border
              style="width: 100%">
              <el-table-column
                prop="fattachname"
                label="文书标题">
              </el-table-column>
              <el-table-column
                label="操作"
                width="80">
                <template slot-scope="scope">
                  <a :href="scope.row.fattachurl">
                    <el-button type="text"  icon="el-icon-download">
                      下载</el-button>
                  </a>
                </template>
              </el-table-column>
            </el-table>
          </fieldset>
        </el-col>
        <el-col :span="24">
          <fieldset>
            <legend>处理流程</legend>
            <flow-table :flowData="flowData"></flow-table>
          </fieldset>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
  import clueDetails from './clueDetails'
  import { _getClueListnjnj }  from '../../../static/js/common.js'
  import flowTable from '../clue/common/flowTable'
  import illAnnex from './illAnnex'
  import axios from 'axios'
  import qs from 'qs'
  export default {
    props: ['fid','title'],
    components: {
      illAnnex,
      flowTable,
      clueDetails
    },
    data() {
      return {
        wsData: [],
        mediatype: {
          '01': '电视',
          '02': '广播',
          '03': '报纸',
          '13': '互联网',
        },
        form: {},
        registrationForm: {},
        videoUrl: '',
        annexDetails: {
          data: {}
        },
        attachInfo: [],
        clueList: [],
        flowData: [],
        show: true,
        adDetailDialog: false
      }
    },
    created() {
      if (this.fid) {
        this._getDetails(this.fid)
      }
    },
    methods: {
      _getDetails(fid) {
        axios.post(this.$_ + '/Agp/Ntsjubao/get_registerview', qs.stringify({
            fid: fid
          }))
          .then(res => {
            if (res.data.code === 0) {
              this.registrationForm = res.data.data.data
              this._flowData(this.fid)
              this._getrefiles(this.fid,this.flowid)
              if(res.data.data.data.fillegaladid.length){
                axios.post(this.$_ + '/Agp/Ntsjubao/get_tbn_illegal_ad_details',qs.stringify({fillegaladid: Array.of(res.data.data.data.fillegaladid[0]['fid'])}))
                .then(req => {
                  if(req.data.code === 0){
                    this.clueList = req.data.data.list
                  }
                })
              }
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      },
      /**
       * 关闭弹窗
       */
      _close() {
        this.$emit('close')
      },
      _getTransfer(val, val2) {
        this.options.forEach(item => {
          if (Number(item.fid) === Number(val2)) {
            this[val].ftoregulatorname = item.fname
          }
        })
      },
      _showDetails(obj) {
        this.adDetailDialog = true
      if(obj.fmedia_class === '1' || obj.fmedia_class === '2'){
        this.videoUrl = obj.favifilename
      }
      this.annexDetails = obj
      },
      _closeDetails() {
        this.adDetailDialog = false
      },
      _getrefiles(fid,flowid){
        let data = {fid,flowid}
        axios.post(this.$_ + '/Agp/Ntsjubao/get_flowfile',qs.stringify(data))
        .then(res => {
          if(res.data.code === 0){
            this.attachInfo = res.data.data.files1
            this.wsData = res.data.data.files2
          }else{
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('网络错误')
        })
      },
      _flowData(fid){
        axios.post(this.$_ + '/Agp/Ntsjubao/get_flowlist',qs.stringify({fid: fid}))
        .then(res => {
          if(res.data.code === 0){
            this.flowData = res.data.data.map(item => {
              item.ffinishtime = item.ffinishtime ? item.ffinishtime.substring(0,10) : ''
              return item
            })
          }
        })
      },
    }
  }
</script>
