.main {
  display: flex;
  justify-content: space-between;
}
.main .infoTable {
  margin-left: 20px;
  background: #fff;
  flex: 1;
}
.main .src {
  max-width: 300px;
  overflow: auto;
}
/*# sourceMappingURL=index.css.map */