<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>用户媒介管理</title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/Admin/View/Thirdmedia/css/index.css">
</head>
<body>
  <div id="app" v-loading="loading">
    <el-form :model="searchForm" ref="searchForm" label-width="120px">
      <el-row :gutter="10">
        <el-col :span="6">
          <el-form-item label="媒体名称：">
            <el-input v-model="searchForm.fmediacodename"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="searchForm.fmediatype">
              <el-option label="全部" value="0"></el-option>
              <el-option v-for="(value,key) in mediaType"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="媒体编号：">
            <el-input v-model="searchForm.fmediacode"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="媒体开启状态：">
              <el-switch
                v-model="searchForm.fstatus"
                active-text="开启"
                inactive-text="关闭"
                active-value="1"
                inactive-value="0">
            </el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label-width="0" class="text-right">
            <el-button type="primary" icon="el-icon-plus" @click="showDialog = true">添 加</el-button>
            <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜 索</el-button>
            <el-button type="danger" icon="el-icon-refresh" @click="resetForm">重 置</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData" border stripe @row-click="editRow" :row-style="{'cursor': 'pointer'}">
      <el-table-column
        type="index"
        width="50">
      </el-table-column>
      <el-table-column
        width="160px"
        label="用户编号"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span class="copy-text" v-clipboard:copy="scope.row.fuserid" v-clipboard:success="() => $message.success('复制成功')" @click="e => e.stopPropagation()"><i class="el-icon-document"></i> {{scope.row.fuserid}}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="媒体名称">
        <template slot-scope="scope">
          <div>用户：<i class="el-icon-document"></i> <span class="copy-text" v-clipboard:copy="scope.row.fmediacodename" v-clipboard:success="() => $message.success('复制成功')" @click="e => e.stopPropagation()">{{scope.row.fmediacodename}}</span></div>
          <div>平台：<i class="el-icon-document"></i> <span class="copy-text" v-clipboard:copy="scope.row.fmedianame" v-clipboard:success="() => $message.success('复制成功')" @click="e => e.stopPropagation()">{{scope.row.fmedianame}}</span></div>
        </template>
      </el-table-column>
      <el-table-column
        label="媒体编号">
        <template slot-scope="scope">
          <div>用户：<i class="el-icon-document"></i> <span class="copy-text" v-clipboard:copy="scope.row.fmediacode" v-clipboard:success="() => $message.success('复制成功')" @click="e => e.stopPropagation()">{{scope.row.fmediacode}}</span></div>
          <div>平台：<i class="el-icon-document"></i> <span class="copy-text" v-clipboard:copy="scope.row.fmediaid" v-clipboard:success="() => $message.success('复制成功')" @click="e => e.stopPropagation()">{{scope.row.fmediaid}}</span></div>
        </template>
      </el-table-column>
      <el-table-column
        width="80"
        label="媒体类型">
        <template slot-scope="scope">
          {{scope.row.fmediatype | mediatype}}
        </template>
      </el-table-column>
      <el-table-column
        width="80"
        label="阈值"
        prop="fthreshold">
      </el-table-column>
      <el-table-column
        width="80"
        label="任务等级"
        prop="ftasklevel">
      </el-table-column>
      <el-table-column
        label="辅媒体">
        <template slot-scope="scope">
          <span v-for="item in scope.row.children_media">{{ item.medianame}}（{{item.mediaid}}）、</span>
        </template>
      </el-table-column>
      <el-table-column
        width="190"
        label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="e => showChildrenMediaDialog(scope.row, e)">管理辅媒体</el-button>
          <el-popover
            placement="top"
            width="160"
            v-model="scope.row.visible">
            <p>确认删除 <span class="text-danger">{{scope.row.fmedianame}}</span>？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="scope.row.visible = false">取消</el-button>
              <el-button type="primary" size="mini" @click="e => deleteMedia(scope.row,e)">确定</el-button>
            </div>
            <el-button type="danger" slot="reference" @click="e => {scope.row.visible = true;e.stopPropagation()}">删 除</el-button>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @current-change="handleCurrentChange"
      :current-page="searchForm.page"
      background
      :page-size="20"
      layout="prev, pager, next, total"
      :total="total">
    </el-pagination>
    <add-edit-dialog :data="row" v-if="showDialog" @close="dialogClose" :customer="customer"></add-edit-dialog>
    <children-media-dialog :data="row" v-if="showChildrenDialog" @close="dialogClose" @refresh="getList"></children-media-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}vue-clipboard/vue-clipboard.min.js"></script>
  <script src="/Application/Admin/View/Thirdmedia/components/indexAddEditDialog.js"></script>
  <script src="/Application/Admin/View/Thirdmedia/components/indexManageChildrenMedia.js"></script>
  <script src="/Application/Admin/View/Thirdmedia/js/index.js"></script>
</body>
</html>