html,
body {
  background-color: #fff;
}
#app {
  padding: 8px;
}
.task-list .plan-group:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: default;
}
.task-list .during-block {
  margin-right: 20px;
  text-decoration: underline;
}
.task-list .during-block:hover {
  font-weight: bold;
  cursor: default;
  padding: 2px;
}
.task-list .text-danger {
  color: #f56c6c;
}
.task-list .text-success {
  color: #67c23a;
}
.task-list .flex-box {
  display: flex;
}
.task-list .flex-box .flex-button {
  width: 120px;
}
.task-list .flex-box .flex-progress {
  flex-grow: 1;
  vertical-align: middle;
}
