<div class="fixed-table-container">
    <audio src="" id="Audio">
        音频播放失败
    </audio>
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">广告名称</th>
                <th class="text-center">版本说明</th>
                <th class="text-center">发布媒体</th>
                <th class="text-center">发布时长（秒）</th>
                <th class="text-center">违法类型</th>
                <th class="text-center">创建人</th>
                <th class="text-center">创建时间</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="bcsampleList" item="bcsample">
                <tr class="mediaTr mediaName" id="{$bcsample.fid}">
                    <td class="text-center">{$bcsample.k}</td>
                    <td class="text-center" title="点击查看广告详情">
                        <i class="fa fa-play-circle-o viewAudio" src="{$bcsample.favifilename}" aria-hidden="true" title="点击播放音频"></i>
                        <span class="">{$bcsample.fadname}</span>
                    </td>
                    <td class="text-center">{$bcsample.fversion}</td>
                    <td class="text-center">{$bcsample.fmedianame}</td>
                    <td class="text-center">{$bcsample.fadlen}</td>
                    <td class="text-center">{$bcsample.fillegaltype}</td>
                    <td class="text-center">{$bcsample.fcreator}</td>
                    <td class="text-center">{$bcsample.fcreatetime}</td>
                </tr>
            </foreach>
            <empty name="bcsampleList">
                <tr class="h5 text-center text-primary">
                    <td colspan="8">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>