<!--详细信息弹窗-->
<div class="modal inmodal" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceIn">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="container-fluid" style="padding-top:10px;">
                <div class="col-sm-12">
                    <table class="table infoTable">
                        <tbody>
                            <tr>
                                <th class="text-right">样本名称：</th>
                                <td id="fadname"></td>
                                <th class="text-right">版本说明：</th>
                                <td id="fversion"></td>
                            </tr>
                            <tr>
                                <th class="text-right">代言人：</th>
                                <td id="fspokesman"></td>
                                <th class="text-right">样本长度(s)：</th>
                                <td id="fadlen"></td>
                            </tr>
                            <tr>
                                <th class="text-right">违法类型：</th>
                                <td>
                                    <span id="fillegaltypecode"></span> 
                                </td>
                                <th class="text-right">涉嫌违法内容：</th>
                                <td>
                                    <pre id="fillegalcontent"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">违法表现：</th>
                                <td>
                                    <pre id="fexpressions"></pre>
                                </td>
                                <th class="text-right">认定依据：</th>
                                <td>
                                    <pre id="fconfirmations"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">处罚依据：</th>
                                <td>
                                    <pre id="fpunishments"></pre>
                                </td>
                                <th class="text-right">处罚种类及幅度：</th>
                                <td>
                                    <pre id="fpunishmenttypes"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">创建人：</th>
                                <td id="fcreator"></td>
                                <th class="text-right">创建时间：</th>
                                <td id="fcreatetime"></td>
                            </tr>
                            <tr>
                                <th class="text-right">修改人：</th>
                                <td id="fmodifier"></td>
                                <th class="text-right">修改时间：</th>
                                <td id="fmodifytime"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary palyAudio pull-left"><i class="fa fa-play-circle-o"></i></button>
                <a fid="" id="to_adclue" class="btn btn-danger"><i class="fa fa-adjust"></i> 转入线索</a>
                <button type="button" class="btn btn-white" id="close">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success text-center" id="to_adclue_success" style="display:none;"></div>
<div class="alert alert-danger text-center" id="to_adclue_fail" style="display:none;"></div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
<script type="text/javascript" src="{:C('PUBLIC_RESOURCE')}webuploader/webuploader.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}adclassSelect/location.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
<script src="/Application/Gongshang/View/public/common.js"></script>
<script>
    "use strict";
    $(function () {
        var fid= "";
        var favifilename;
        var src;
        // 详情
        $('.mediaTr').click(function () {
            src = $(this).find('.viewAudio').attr('src');
            fid = $(this).attr('id');
            $.post('{:U("Gongshang/Bcsample/ajax_bcsample_details")}', { 'fid': fid }, function (req) {
                $('#infoModal').find('.modal-title').text(req.bcsampleDetails.fadname);
                var fstate;
                if(req.bcsampleDetails.fstate == -1){
                    fstate = '删除';
                    $('#fstate1').iCheck('check');
                }else if(req.bcsampleDetails.fstate == 0){
                    fstate = '无效';
                    $('#fstate2').iCheck('check');
                }else if(req.bcsampleDetails.fstate == 1){
                    fstate = '有效';
                    $('#fstate3').iCheck('check');
                }
                $('#to_adclue').attr('fid', req.bcsampleDetails.fid);//修改转入线索的fid
                $('#fadname').text(req.bcsampleDetails.fadname);//广告名称
                $('#fmedia').text(req.bcsampleDetails.fmedianame);//广告名称
                $('#fversion').text(req.bcsampleDetails.fversion);//广告版本
                $('#fspokesman').text(req.bcsampleDetails.fspokesman);//代言人
                $('#fadlen').text(req.bcsampleDetails.fadlen);//时长
                $('#fadowner').text(req.bcsampleDetails.adowner_name);//广告主
                $('#fadclass').text(req.bcsampleDetails.ffullname);//广告类别
                $('#fbrand').text(req.bcsampleDetails.fbrand);//广告品牌
                $('#fillegaltypecode').text(req.bcsampleDetails.fillegaltype);//违法类型
                $('#fillegalcontent').text(req.bcsampleDetails.fillegalcontent);//涉嫌违法内容
                $('#fexpressions').text(req.bcsampleDetails.fexpressions);//违法表现
                $('#fconfirmations').text(req.bcsampleDetails.fconfirmations);//认定依据
                $('#fpunishments').text(req.bcsampleDetails.fpunishments);//处罚依据
                $('#fpunishmenttypes').text(req.bcsampleDetails.fpunishmenttypes);//处罚种类及幅度
                $('#fstate').text(fstate);//状态
                $('#fcreator').text(req.bcsampleDetails.fcreator);//创建人
                $('#fcreatetime').text(req.bcsampleDetails.fcreatetime);//创建时间
                $('#fmodifier').text(req.bcsampleDetails.fmodifier);//修改人
                $('#fmodifytime').text(req.bcsampleDetails.fmodifytime);//修改时间
            })
            $('#infoModal').modal('show');
        })
        // 播放音频
        $('.palyAudio').click(function(){
            var audio = $('#Audio')[0];
            if ($(this).find('i').hasClass('fa-play-circle-o')) {
                $('#Audio').attr('src', src);
                audio.play();
                $('.viewAudio').removeClass('fa-pause-circle-o').addClass('fa-play-circle-o');
                $('.table').find('.inPlay').removeClass('inPlay');
                $(this).find('i').removeClass('fa-play-circle-o').addClass('fa-pause-circle-o');
                event.stopPropagation();
            } else {
                audio.pause();
                $(this).find('i').removeClass('fa-pause-circle-o').addClass('fa-play-circle-o');
                event.stopPropagation();
            }
        })
        // 转入线索
        $('#to_adclue').click(function () {
            var fid = $('#to_adclue').attr('fid');
            $.post('{:U("Gongshang/Bcsample/to_adclue")}', { 'fid': fid }, function (req) {
                if (req.code == 0) {
                    $('#to_adclue_success').text(req.msg).show().fadeOut(3000);
                } else {
                    $('#to_adclue_fail').text(req.msg).show().fadeOut(3000);
                }
            })
        })
    })
    $(function () {
        laydate.skin('molv');
        var Sstart = {
            elem: '#Sstart',
            format: 'YYYY-MM-DD',
            min: '1970-01-01 00:00:00', //设定最小日期为当前日期
            max: '{:I('fcreatetime_e')}', //最大日期
            istime: false,
            istoday: false,
            choose: function (datas) {
                Send.min = datas; //开始日选好后，重置结束日的最小日期
                Send.start = datas //将结束日的初始值设定为开始日
            }
        };
        var Send = {
            elem: '#Send',
            format: 'YYYY-MM-DD',
            min: '{:I('fcreatetime_s')}',
            max: '2099-06-16 23:59:59',
            istime: false,
            istoday: false,
            choose: function (datas) {
                Sstart.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(Sstart);
        laydate(Send);
        $('.viewAudio').click(function (event) {
            var audio = $('#Audio')[0];
            var src = $(this).attr('src');
            if ($(this).hasClass('fa-play-circle-o')) {
                $('#Audio').attr('src', src);
                audio.play();
                $('.viewAudio').removeClass('fa-pause-circle-o').addClass('fa-play-circle-o');
                $('.table').find('.inPlay').removeClass('inPlay');
                $(this).parent().addClass('inPlay');
                $(this).removeClass('fa-play-circle-o').addClass('fa-pause-circle-o');
                event.stopPropagation();
            } else {
                audio.pause();
                $(this).parent().removeClass('inPlay');
                $(this).removeClass('fa-pause-circle-o').addClass('fa-play-circle-o');
                event.stopPropagation();
            }
        })
        $("#close,.close").click(function(){
            $("#Audio").attr("src","");
            $(".palyAudio").find("i").removeClass("fa-pause-circle-o").addClass("fa-play-circle-o");
        })
    })
    closeModal('#close,.close', '#infoModal');
    getAdclass('#adclass', '#adclass-select', "{:U('Api/Adclass/get_adclass_list')}", 'fcode');
</script>