<template>
  <div class="fjapproval-history main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="线索名称：">
            <el-input v-model="searchForm.xsmc"
              placeholder="请输入线索名称关键字"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="文号：">
            <el-input v-model="searchForm.wh"
              placeholder="请输入文号关键字"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="登记人：">
            <el-input v-model="searchForm.djr"
              placeholder="请输入登记人关键字"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记日期：">
            <el-date-picker :editable="false"
              clearable
              :style="$store.state.fwidth"
              v-model="djrq"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions"
              @change="_clean">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="来源分类：">
            <el-select v-model="searchForm.lyfl"
              placeholder="请选择来源分类"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.xsly"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="是否办结：">
            <el-select v-model="searchForm.sfbj"
              placeholder="请选择"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value=""></el-option>
              <el-option v-for="(value, key) in $store.state.sfbj"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="选择地域：">
            <el-cascader placeholder="请选择接收局"
              style="width:100%"
              :options="$store.state.allArea2"
              change-on-select
              :props="$store.state.areaOptions"
              v-model="area"
              clearable
              :disabled="Boolean(Number(searchForm.thisorg))">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="16"
          :xl="16">
          <el-form-item label-width="0px">
            <el-switch v-model="searchForm.thisorg"
              active-value="1"
              inactive-value="0"
              active-text="仅显示本机构">
            </el-switch>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column width="90"
        prop="fnumber"
        label="线索文号">
      </el-table-column>
      <el-table-column label="线索名称"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fcluename}}
          <el-popover v-for="(item,index) in scope.row.gz_data"
            v-if="scope.row.fstate !== '40'"
            :key="index"
            placement="top-start"
            width="200"
            trigger="hover"
            :content="item.ftk_endtime.substring(0,10)">
            <el-tag class="right-margin"
              type="text"
              slot="reference"
              :type="_color(item)">{{$store.state.gzlx[item.ftk_type].label}}</el-tag>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="150"
        show-overflow-tooltip
        label="来源分类">
        <template slot-scope="scope">
          {{$store.state.xsly[scope.row.ffromtype]}}
        </template>
      </el-table-column>
      <el-table-column width="140"
        show-overflow-tooltip
        prop="fregisterpersonname"
        label="登记人">
      </el-table-column>
      <el-table-column width="90"
        show-overflow-tooltip
        prop="fregistertime"
        label="登记日期">
      </el-table-column>
      <el-table-column width="90"
        show-overflow-tooltip
        label="办结日期">
        <template slot-scope="scope">
          {{ scope.row.fdealtime || '未办结' }}
        </template>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80">
        <template slot-scope="scope">
          <el-button @click.native.prevent="_details(scope.row)"
            type="text"
            icon="el-icon-info">
            详 情
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <tz-form :back="true"
      :fid="fid"
      v-if="tzshow"
      :details="row"
      @close="_closeDialog">
    </tz-form>
  </div>
</template>

<script>
import tzForm from './components/tzForm'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    tzForm
  },
  data() {
    return {
      tzshow: false,
      loading: false,
      tableData: [],
      searchForm: {
        page: 1,
        xsmc: '',
        wh: '',
        djr: '',
        lyfl: '0',
        sfbj: '',
        thisorg: '1',
      },
      area: [],
      row: {},
      fid: '',
      djrq: [],
      countAll: '0',
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        }
      }
    }
  },
  created() {
    let timer = setInterval(() => {
      if (this.$store.state.allArea2[0]['fid']) {
        this.area = Array.of(this.$store.state.allArea2[0]['fid'])
        this._getList()
        clearInterval(timer)
      }
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.page = page || 1
      let data = {
        ...this.searchForm,
        area: this.area[this.area.length - 1] || '',
        djrqst: this.djrq[0] || '',
        djrqed: this.djrq[1] || ''
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/register_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fregistertime = item.fregistertime ? item.fregistertime.substring(0, 10) : ''
              item.fdealtime = item.fdealtime ? item.fdealtime.substring(0, 10) : ''
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _clean(val) {
      if (!val) {
        this.djrq = []
      }
    },
    _details(item) {
      this.row = {
        ...item,
        thisorg: this.searchForm.thisorg
      }
      this.tzshow = true
      this.fid = item.fid
    },
    _closeDialog() {
      this.tzshow = false
    },
    _color(obj) {
      if (obj.hotstatus === '10') {
        return 'danger'
      }
      if (obj.hotstatus === '0') {
        return 'warning'
      }
      return 'info'
    }
  }
}
</script>