<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>广告主管理</title>
	<link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
</head>

<body>
	<div id="app" v-loading="loading">
		<el-card :body-style="{ padding: '10px' }" shadow="never" style="margin-bottom: 10px;">
			<el-form :model="searchForm" ref="sform" inline @keyup.native.enter="getList(1)">
				<el-form-item label="关键字检索：">
					<el-input v-model="searchForm.keyword" clearable ></el-input>
				</el-form-item>
				<el-form-item label="行政区划：">
					<el-cascader
						v-model="searchForm.region_id"
						:options="regionTree"
						:props="{emitPath: false,checkStrictly: true, expandTrigger: 'hover',}"
						clearable></el-cascader>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="getList(1)" icon="el-icon-search">搜 索</el-button>
				</el-form-item>
				<el-row>
					<el-col :span="24">
						<el-button type="primary" @click="addAdOwver">添加广告主</el-button>
						<el-button :type="canMerge ? 'primary' : 'warning'" plain @click="() => showMerge = true" :disabled="!canMerge">{{canMerge ? '合 并' : '至少选择两条记录'}}</el-button>
					</el-col>
				</el-row>
			</el-form>
		</el-card>
		<el-card :body-style="{ padding: '10px' }" shadow="never">
			<el-table ref="table" :data="tableData" :height="tableHeight" border stripe @selection-change="val => multipleSelection = val" @row-click="rowClick" @row-dblclick="openAdOwnerInfo" :row-style="{'cursor': 'pointer'}">
				<el-table-column type="selection"></el-table-column>
				<el-table-column type="index"></el-table-column>
				<el-table-column label="广告主名称" prop="fname" show-overflow-tooltip></el-table-column>
				<el-table-column label="所属行政区划" prop="region_name" show-overflow-tooltip></el-table-column>
				<el-table-column label="企业地址" prop="faddress" show-overflow-tooltip></el-table-column>
				<el-table-column label="联系人" prop="flinkman" width="80" show-overflow-tooltip></el-table-column>
				<el-table-column label="联系电话" prop="ftel" width="100" show-overflow-tooltip></el-table-column>
				<el-table-column label="联系邮箱" prop="fmail" width="160" show-overflow-tooltip></el-table-column>
				<el-table-column label="来源" prop="fsource" width="60" show-overflow-tooltip></el-table-column>
				<el-table-column label="创建人" prop="fcreator" width="120" show-overflow-tooltip></el-table-column>
				<el-table-column label="创建时间" prop="fcreatetime" width="140" show-overflow-tooltip></el-table-column>
			</el-table>
			<el-pagination style="margin-top: 10px;" background @size-change="handleSizeChange" @current-change="getList" :current-page="page.pageIndex" :page-sizes="[20, 50, 100, 200, 500]"
				:page-size="page.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
		</el-card>

    <el-drawer
      title="广告主详情"
      :visible.sync="showAdOwnerInfo"
      direction="rtl"
			size="600px"
			:wrapper-closable="wrapperClosable"
			@close="closeAdOwnerInfo">
			<div style="padding: 10px;" v-if="showAdOwnerInfo">
				<ad-owner-detail :info="activeRow" ref="detail" :region-tree="regionTree" @close="val => closeAdOwnerInfo(val)" @set-dialog-close="val => wrapperClosable = val"></ad-owner-detail>
			</div>
    </el-drawer>
    <el-dialog
      title="合并广告主"
      center
      append-to-body
      :visible.sync="showMerge"
      width="600px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="beforeClose">
      <el-select v-model="mainAdOwner" style="width: 100%;">
				<el-option v-for="item in multipleSelection"
					:key="item.fid"
					:label="item.fname + '(' + item.region_name + ')'"
					:value="item.fid">
					{{item.fname}}({{item.region_name}})
				</el-option>
			</el-select>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="submitMerge" :disabled="!mainAdOwner">合 并</el-button>
      </span>
    </el-dialog>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/$fly.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
	<script src="/Application/Admin/View/Adowner/js/listMixin.js"></script>
	<script src="/Application/Admin/View/Adowner/js/adOwnerDetail.js"></script>
	<script src="/Application/Admin/View/Adowner/js/index.js"></script>
</body>

</html>