.regionSelectItem{
  display: flex;
  justify-content: space-between;
}
.regionList{
  max-height: 300px;
  overflow: auto;
}
.baseCondition{
  padding: 20px 50px;
  .table{
    width: 50%;
  }
}
.adList{
  padding: 10px;
}
.el-tooltip__popper{
  max-width: 500px;
}
.video-js,video, audio{
  width: 100%;
}
.issueList{
  max-height: 500px;
  overflow: auto;
}
.ad-sample{
  .viewer-container{
    margin-top: 50px;
  }
  img{
    margin-top: 50px;
    width: 100%;
  }
}
.comment-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E4E7ED;
  padding-bottom: 3px;
  margin: 5px 0 10px 0;
  .left{
    flex: 1;
  }
  .right{
    margin-left: 10px;
    width: 45px!important;
  }
}
.el-checkbox{
  margin: 0 0 10px 0!important;
}
.issueContent{
  display: flex;
  justify-content: space-between;
  .ad-sample, .adInfo{
    flex: 1;
    margin-left: 5px;
    max-width: 800px;
    overflow: auto;
  }
  .adInfo{
    .el-row{
      margin-bottom: 7px;
      padding-bottom: 7px;
      border-bottom: 1px solid #EBEEF5;
      >.el-col:first-child{
        text-align: right;
        margin-right: 15px;
      }
    }
  }
  .issueList{
    width: 300px;
  }
}