<!doctype html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>积分统计</title>
	<link href="/Application/Admin/View/Inputuser/css/taskInputScoreSummary.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
</head>

<body>
	<div id="app" v-loading="loading">
		<el-card class="search" :body-style="{ padding: '10px' }" shadow="never" v-clock>
			<el-form :inline="true" ref="sform">
				<el-form-item label="用户名">
					<el-input v-model="where.userName" clearable></el-input>
				</el-form-item>
				<el-form-item label="标签">
					<el-checkbox-group v-model="where.userTag">
						<el-checkbox-button :label="item" v-for="item in userTags" :key="item">{{item}}</el-checkbox-button>
					</el-checkbox-group>
				</el-form-item>
				<el-form-item label="分组">
					<el-select v-model="where.group_id" placeholder="请选择分组" filterable clearable>
						<el-option v-for="item in groupList" :key="item.value" :label="item.label" :value="item.value">
						</el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="视图类型">
					<el-radio-group v-model="where.filtertype" @change="getList()">
						<el-radio-button label="1">明细</el-radio-button>
						<el-radio-button label="2">按日</el-radio-button>
						<el-radio-button label="3">按月</el-radio-button>
						<el-radio-button label="4">按年</el-radio-button>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="日期">
					<el-date-picker
						v-model="day"
						v-if="dateType === 'day'"
						type="daterange"
						range-separator="至"
						value-format="yyyy-MM-dd"
						placeholder="选择日期">
					</el-date-picker>
					<el-date-picker
						v-model="month"
						v-if="dateType === 'month'"
						type="monthrange"
						range-separator="至"
						value-format="yyyy-MM"
						placeholder="选择月">
					</el-date-picker>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="getList">搜索</el-button>
				</el-form-item>
				<el-form-item>
					<el-button @click="resetWhere" type="danger" plain>重置</el-button>
				</el-form-item>
				<el-form-item>
					<el-button type="success" @click="exportExcel">导出至Excel</el-button>
				</el-form-item>
				<el-form-item>
					<a href="/Admin/Inputuser/user_task_count">
						<el-button type="warning">返回任务量查询</el-button>
					</a>
				</el-form-item>
			</el-form>
		</el-card>
		<el-card class="search" :body-style="{ padding: '10px' }" shadow="never" v-clock>
			<el-table border stripe height="80vh" :data="table" :height="tableHeight" @sort-change="sortChange">
				<el-table-column type="index" width="50">
				</el-table-column>
				<el-table-column :label="item.label" :prop="item.field" v-for="item in FieldList" sortable="custom">
				</el-table-column>
			</el-table>
		</el-card>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/fly.js/$fly.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/dayjs/dayjs.min.js"></script>
	<script>
		const userTags = {$userTags};
		const groupList = {$groupList};
		const fieldList = {$fieldList};
	</script>
	<script src="/Application/Admin/View/Inputuser/js/taskInputScoreSummary.js?v=1"></script>
</body>

</html>