<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户列表</title>

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/Application/Admin/View/Public/mediaManagement.css" rel="stylesheet">
    <link href="/Application/Admin/View/Public/page.css" rel="stylesheet">
    <link href="/Application/Admin/View/Public/common.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
    <style>
        .userInfo .el-input{
            width: auto;
        }
        .el-input.is-disabled .el-input__inner{
            color: inherit;
        }
        .is-disabled{
            color: #333!important;
        }
        #app{
            min-height: 100vh;
        }
        .listWhere{
            padding: 15px;
            background: #fff;
            border: 1px solid #EBEEF5;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight" id="app" v-loading="loading">
        <el-form
                class="listWhere"
                :inline="true"
                :model="where"
                ref="whereForm"
                @keyup.enter.native="getTable"
        >
            <el-row>
                <el-col :span="8">
                    <el-form-item label="关键字">
                        <el-input v-model="where.keyword" clearable placeholder="昵称/别名/手机/邮箱"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="分组">
                        <el-select v-model="where.group_id" placeholder="请选择分组" filterable>
                            <el-option
                                    v-for="item in groupList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="组长">
                        <el-radio-group v-model="where.is_leader">
                            <el-radio label="1">组长</el-radio>
                            <el-radio label="0">组员</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="标签">
                        <el-checkbox-group v-model="where.user_tag">
                            <el-checkbox :label="item" v-for="item in userTags" :key="item">{{item}}</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item class="text-right">
                        <el-button type="primary" @click="getTable">搜索</el-button>
                        <el-button @click="resetWhere">重置</el-button>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item class="text-right">
                        <el-button type="primary" @click="barchModify">批量修改</el-button>
                        <el-button :userids="selectedUser" type="danger" @click="delUsers">删除</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <el-table
                :data="table"
                border
                @selection-change="selectUser"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column label="头像" width="80px" >
                <template slot-scope="scope">
                    <div style="padding: 5px;">
                        <img :src="scope.row.headimgurl" alt="" width="50">
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="WX_ID" width="80px">
                <template slot-scope="scope">
                    <span v-html="scope.row.wx_id"></span>
                </template>
            </el-table-column>
			<el-table-column
                    label="微信昵称">
                <template slot-scope="scope">
                    <span v-html="scope.row.nickname"></span>
                </template>
            </el-table-column>
			
            <el-table-column
                    label="别名">
                <template slot-scope="scope">
                    <span v-html="scope.row.alias"></span>
                </template>
            </el-table-column>
            <el-table-column
                    label="手机">
                <template slot-scope="scope">
                    <span v-html="scope.row.mobile"></span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="group_name"
                    label="组名">
            </el-table-column>
            <el-table-column
                    label="性别">
                <template slot-scope="scope">
                    {{scope.row.sex | sexFilter}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="city"
                    label="城市">
            </el-table-column>
            <el-table-column
                    label="关注时间">
                <template slot-scope="scope">
                    {{scope.row.subscribe_time | timestampFilter}}
                </template>
            </el-table-column>
            <el-table-column
                    label="是否关注">
                <template slot-scope="scope">
                    <el-button type="success" v-if="scope.row.subscribe == 1">已关注</el-button>
                    <el-button type="warning" v-else>未关注</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    label="组长">
                <template slot-scope="scope">
                    <el-button type="success" v-if="scope.row.is_leader == 1">是</el-button>
                    <el-button type="warning" v-else>否</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" @click="editUser(scope.row.wx_id)">查看/修改</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @current-change="pageChange"
                @size-change="handleSizeChange"
                :current-page="page"
                :page-size="10"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
        <el-dialog title="用户详情" :visible.sync="showUserInfo" :modal="false">
            <user-info :wxid="currentWxID" ref="userInfo" @save="getTable"></user-info>
        </el-dialog>
        <el-dialog title="批量修改" :visible.sync="showBatchModify" :modal="false">
            <user-group-info :userids="selectedUser" ref="userGroupInfo" @save="getTable"></user-group-info>
        </el-dialog>
    </div>
    <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
    <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}adclassSelect/location.js"></script>
    <script src="/Application/Admin/View/Public/common.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}regionSelect/location.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}taskInput/layer/3.1.0/layer.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>-->
    <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
    <script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
    <script>
        const userTags = {$userTags};
        const groupList = {$group_list};
		
    </script>
    <script src="/Application/Admin/View/Inputuser/js/userInfo.js"></script>
    <script src="/Application/Admin/View/Inputuser/js/userGroupInfo.js"></script>
    <script src="/Application/Admin/View/Inputuser/js/userList.js"></script>
</body>

</html>