<template>
  <div class="cluefx main-bg">
    <el-form ref="sform" label-width="100px">
      <el-row>
        <el-col :span="24">
         <el-form ref="form" label-width="80px" inline>
            <el-form-item label="发布日期">
              <el-date-picker
                v-model="issueDate"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :picker-options="pickerOptions">
              </el-date-picker>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="getList()" :loading="loading">搜 索</el-button>
            </el-form-item>
         </el-form>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData" border stripe highlight-current-row :height="$store.state.GTableHeight" v-loading="loading">
      <el-table-column label="序号" type="index" width="50" fixed align="center">
        <template slot-scope="scope">
          {{(scope.$index) === total ? '合计' : scope.$index + 1}}
        </template>
      </el-table-column>
      <el-table-column label="管辖机构" fixed prop="name">
        <template slot-scope="scope">
          <span>
            {{scope.row.name || '全部'}}
          </span>
        </template>
      </el-table-column>
      <el-table-column label="线索总量" fixed prop="diquzongCount" align="center"> </el-table-column>
      <el-table-column :label="item" v-for="item in typeMap" :key="item" align="center">
        <el-table-column label="线索量" :prop="`xiansuodata.${item}.fenleizongCount`" width="60" align="center">
        </el-table-column>
        <el-table-column label="线索处理" align="center">
          <el-table-column label="查看量" :prop="`xiansuodata.${item}.chakanCount`" width="60" align="center"> </el-table-column>
          <el-table-column label="查看率" :prop="`xiansuodata.${item}.chakanlv`" width="70" align="center"> </el-table-column>
          <el-table-column label="处理量" :prop="`xiansuodata.${item}.chuliCount`" width="60" align="center"> </el-table-column>
          <el-table-column label="处理率" :prop="`xiansuodata.${item}.chulilv`" width="70" align="center"> </el-table-column>
        </el-table-column>
        <el-table-column label="线索处理方式" align="center">
          <el-table-column label="责令停止发布" width="60" :prop="`xiansuodata.${item}.zhetingCount`" align="center"> </el-table-column>
          <el-table-column label="立案" :prop="`xiansuodata.${item}.lianCount`" width="50" align="center"> </el-table-column>
          <el-table-column label="移交司法机关" width="60" :prop="`xiansuodata.${item}.shifaCount`" align="center"> </el-table-column>
          <el-table-column label="其他" :prop="`xiansuodata.${item}.qitaCount`" width="50" align="center"> </el-table-column>
        </el-table-column>
      </el-table-column>
    </el-table>
    <el-pagination
      style="text-align: right;"
      background
      layout="total"
      :total="total">
    </el-pagination>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      send: [],
      result: '',
      issueDate: [],
      tableData: [],
      pickerOptions: {
        disabledDate: time => {
          return time > + new Date()
        }
      },
      total: 0,
      loading: false,
      typeMap: ['平台监测', '部门转办', '投诉举报', '总局交办', '其他'],
    }
  },
  created() {
    const stime = this.$dayjs().startOf('month').format('YYYY-MM-DD')
    const etime = this.$dayjs().format('YYYY-MM-DD')
    this.issueDate = [stime, etime]
    this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (100 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    getList(){
      this.loading = true
      const data = {
        issueDate: this.issueDate ?  this.issueDate : []
      }
      axios.post(this.$_ + '/Agp/Gckchuli/allIllAnalysis', qs.stringify(data)).then(res => {
        if(res.data.code === 0){
          let data = res.data.data
          let countData = res.data.hejidata
          const arr = []
          for (let i in data) {
            let obj = data[i]
            obj.name = i
            arr.push(obj);
          }
          // let arrData = arr.map(i => {
          //   const arr = []
          //   for (let key in i.xiansuodata) {
          //     let obj = i.xiansuodata[key]
          //     obj.name = key
          //     arr.push(obj)
          //   }
          //   i.xiansuodata = arr
          //   return i
          // })
          arr.push(countData)
          this.tableData = arr
          this.total = this.tableData.length - 1
          this.loading = false
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.cluefx{
}
</style>