<template>
  <div class="diagram main-bg"
    ref="diagram"
    :style="cheight">
    <el-form :model="temp"
      :inline="true"
      label-width="100px">
      <el-form-item label="选择年：">
        <el-select v-model="temp.year"
          style="width:100%;max-width:130px;"
          placeholder="选择年"
          @change="_yearChange">
          <el-option v-for="(value,key) in Gtime.year"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="选择时间段：">
        <el-select v-model="temp.times_table"
          style="width:100%;max-width:130px;"
          placeholder="选择时间段"
          @change="_changeTime">
          <el-option v-for="(value,key) in Gtime.times_table"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="选择时间：">
        <el-select v-model="temp.table_condition"
          v-if="!isday"
          style="width:100%;max-width:220px;"
          placeholder="选择时间"
          @change="$store.commit('_setstime',temp)">
          <el-option v-for="(value,key) in Gtime[temp.times_table]"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
        <el-date-picker :editable="false" v-else
          style="width:220px"
          v-model="searchDate"
          :picker-options="pickerOptions"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          align="right"
          :clearable="false"
          value-format="yyyy-MM-dd"
          @change="dayChange">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="媒介类型：">
        <el-select v-model="temp.media_class"
          placeholder="选择媒体">
          <el-option label="全部媒体"
            value=""></el-option>
          <el-option v-for="item in Mediatype"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="广告类别：">
        <el-select v-model="temp.ad_class"
          placeholder="选择广告类别">
          <el-option v-for="(value,key) in (temp.year >= 2018 ? Adata.ad_class : Adata.ad_class2)"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="统计标准：">
        <el-select v-model="temp.onther_class"
          placeholder="统计标准">
          <el-option v-for="(value,key) in (temp.year >= 2018 ? Adata.data_class : Adata.data_class2)"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <span v-if="$store.state.isgj===1 && $store.state.userInfo.fregulatorlevel===30">
        <el-switch v-model="temp.is_show_fsend"
          active-value="1"
          inactive-value="2"
          active-text="含待确认广告"
          inactive-text=""
          @change="_dealData">
        </el-switch>
        <el-switch style="margin-left:20px;"
          v-model="temp.is_show_longad"
          active-value="1"
          inactive-value="0"
          active-text="含栏目广告"
          inactive-text=""
          @change="_dealData">
        </el-switch>
        <el-button type="primary"
          class="left-margin"
          @click="$refs.map._getData(temp)">查 看</el-button>
      </span>
    </el-form>
    <div class="map-wrap">
      <c-map v-if="show"
        :data="temp"
        ref="map"></c-map>
    </div>
  </div>
</template>

<script>
import map from '../../map'
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
export default {
  components: {
    'c-map': map
  },
  computed: {
    ...mapState(['Gtime', 'isgj', 'userInfo', 'selection', 'Adata']),
    Mediatype() {
      return this.$store.state.mediaType5
    },
    isday() {
      return this.selection.times_table === 'tbn_ad_summary_day'
    }
  },
  data() {
    return {
      cheight: { height: '' },
      show: false,
      temp: {
        year: 2018,
        times_table: '',
        table_condition: 'tbn_ad_summary_month',
        media_class: '',
        ad_class: '',
        onther_class: '',
        is_show_fsend: '2',
        is_show_longad: '1',
      },
      title: {},
      searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this._initData()
    if (this.selection.times_table === 'tbn_ad_summary_day') {
      this.$set(this,'searchDate',this.selection.table_condition.split(','))
    }
  },
  mounted() {
    this.cheight.height = (document.body.clientHeight - 120) + 'px'
    this.show = true
  },
  methods: {
    _yearChange(val) {
      this._changeTime(this.temp.times_table)
      this.$store.commit('_setstime', this.temp)
    },
    _changeTime(val) {
      if (val === 'tbn_ad_summary_half_year') {
        let obj = {}
        obj[`${this.temp.year}-01-01`] = `${this.temp.year} 年上半年`
        obj[`${this.temp.year}-07-01`] = `${this.temp.year} 年下半年`
        let data = {
          name: val,
          value: obj
        }
        this.$store.commit('_setGtime', data)
      } else if (val === 'tbn_ad_summary_year') {
        let obj = {}
        obj[this.temp.year] = `${this.temp.year} 年`
        let data = {
          name: val,
          value: obj
        }
        this.$store.commit('_setGtime', data)
      }

      if (val !== 'tbn_ad_summary_day') {
        let obj = this.Gtime[val]
        let fkey = Object.keys(obj)
        this.temp.table_condition = fkey[0]
        this.$store.commit('_setstime', this.temp)
      } else {
        this.temp.table_condition = this.searchDate.join(',')
        this.$store.commit('_setstime', this.temp)
      }
    },
    _initData() {
      this.temp.year = this.selection.year
      this.temp.times_table = this.selection.times_table
      this.temp.table_condition = this.selection.table_condition
    },
    _dealData() {
      if (this.$store.state.isgj !== 1 || this.$store.state.userInfo.fregulatorlevel !== 30) {
        delete this.temp.is_show_fsend
        delete this.temp.is_show_longad
      }
      this.$refs.map._getData()
    },
    dayChange(val) {
      this.temp.table_condition = val.join(',')
      this.$store.commit('_setstime', this.temp)
    },
  }
}
</script>
<style lang="scss" scope>
.map-wrap{
  height: calc(100vh - 178px);
}
</style>