
<template>
  <div class="jchuizong main-bg">
    <!-- 搜索条件 -->
    <el-form :model="temp">
      <el-row>
        <el-col :span="4">
          <el-form-item label="选择年"
            label-width="61px">
            <el-select v-model="temp.year"
              style="width:100%;max-width:130px;"
              placeholder="选择年"
              @change="_yearChange">
              <el-option v-for="(value,key) in Gtime.year"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="选择时间段"
            label-width="87px">
            <el-select v-model="temp.times_table"
              style="width:100%;max-width:130px;"
              placeholder="选择时间段"
              @change="_changeTime">
              <el-option v-for="(value,key) in Gtime.times_table"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="选择时间"
            label-width="73px">
            <el-select v-model="temp.table_condition"
              v-if="!isday"
              style="width:100%;max-width:220px;"
              placeholder="选择时间"
              @change="$store.commit('_setstime',temp)">
              <el-option v-for="(value,key) in Gtime[temp.times_table]"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
            <el-date-picker :editable="false"
              v-else
              style="width:100%;max-width:220px;"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd"
              @change="dayChange">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <div style="text-align:right">
            <el-form-item label-width="5px">
            <el-switch v-if="isgj"
              style="margin-left:20px;"
              v-model="temp.is_show_longad"
              active-value="1"
              inactive-value="0"
              active-text="含栏目广告"
              @change="$store.commit('_setstime',temp)">
            </el-switch>
            <el-radio-group v-model="temp.datatype"
              size="mini"
              @change="outtypeChange"
              v-if="userInfo.isoutdata == 1 && !isjc && (activeName !== '5' && activeName !== '6')">
              <el-radio-button label="1">监管媒体</el-radio-button>
              <el-radio-button label="2">广告主</el-radio-button>
            </el-radio-group>
            <el-switch style="margin-left:20px;"
              v-model="temp.is_include_sub"
              v-show="showIncludeSub"
              active-value="1"
              inactive-value="0"
              active-text="是否包含下级"
              @change="$store.commit('_setstime',temp)">
            </el-switch>
          </el-form-item>
          </div>

        </el-col>
      </el-row>
      <el-row :gutter="24">
        <el-col>
          <el-radio-group v-model="customer" class="pull-right" style="position: relative;z-index: 1;" v-if="showRadio" @change="changeCustomer">
            <el-radio-button :label="key" :key="key" v-for="(value, key) in userOptions">{{value.customerName}}</el-radio-button>
          </el-radio-group>
          <el-tabs v-model="activeName"
            type="card">
            <el-tab-pane label="地域排名"
              name="1">
              <keep-alive>
                <region-rankings v-if="activeName === '1'"
                  ref="region"
                  :isjc="isjc" />
              </keep-alive>
            </el-tab-pane>
            <el-tab-pane label="广告类别排名"
              name="2">
              <keep-alive>
                <category-rankings v-if="activeName === '2'"
                  ref="category"
                  :isjc="isjc" />
              </keep-alive>
            </el-tab-pane>
            <el-tab-pane label="媒体排名"
              name="3">
              <keep-alive>
                <media-rankingss v-if="activeName === '3'"
                  ref="media"
                  :isjc="isjc" />
              </keep-alive>
            </el-tab-pane>
            <el-tab-pane label="媒介机构排名"
              name="4">
              <keep-alive>
                <mediaorg-rankings v-if="activeName === '4'"
                  ref="mediaorg"
                  :isjc="isjc" />
              </keep-alive>
            </el-tab-pane>
            <el-tab-pane label="媒体类型及媒体排名"
              v-if="userInfo.system_num !== 340000"
              name="5">
              <keep-alive>
                <mediatype-rankings v-if="activeName === '5'"
                  :isjc="isjc" />
              </keep-alive>
            </el-tab-pane>
            <el-tab-pane label="跨地域广告排名"
              name="6"
              v-if="Number(userInfo.stepRegionOrder) === 1 || (Number(userInfo.stepRegionOrder) === 2 && Number(userInfo.tregionlevel)===(Number(userInfo.fregulatorlevel)+10)) "
              >
              <crossregion-rankings v-if="activeName === '6'" :isjc="isjc" />
            </el-tab-pane>
          </el-tabs>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import regionRankings from './tabs/regionRankings.vue'
import categoryRankings from './tabs/categoryRankings.vue'
import crossregionRankings from './tabs/crossregionRankings.vue'
import mediaorgRankings from './tabs/mediaorgRankings.vue'
import mediaRankingss from './tabs/mediaRankingss.vue'
import mediatypeRankings from './tabs/mediatypeRankings.vue'
export default {
  components: {
    regionRankings,
    categoryRankings,
    crossregionRankings,
    mediaorgRankings,
    mediaRankingss,
    mediatypeRankings
  },
  computed: {
    ...mapState(['Gtime', 'selection', 'userOptions', 'Customer', 'showIncludeSub']),
    isjc() {
      return this.$route.name === 'jchuizong'
    },
    isgj(){
      return Number(this.Customer) === 100000 ? 1 : 0
    },
    isday() {
      return this.selection.times_table === 'tbn_ad_summary_day'
    },
    showRadio(){
      return Object.keys(this.userOptions).length > 1
    },
    userInfo(){
      return this.userOptions[this.Customer] || {}
    }
  },
  data() {
    return {
      customer: '',
      temp: {
        year: '',
        times_table: '',
        table_condition: '',
        is_show_longad: '1',
        is_show_fsend: '2',
        is_include_sub: '1',
        datatype: '1',
      },
      activeName: '1',
      loading: false,
      searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this.customer = this.Customer || this.userInfo.system_num
    this.init()
  },
  methods: {
    changeCustomer(val){
      this.$store.commit('setCustomer',val)
      this.$store.commit('resetSelection')
      this.$emit('refreash')
    },
    init(){
      if( (this.userInfo.isoutdata == 2 || this.userInfo.isoutdata == 3) && !this.isjc) {
        this.$store.commit('_setselection', { key: 'datatype', value: '2' })
      }
      this.temp = { ...this.temp, ...this.selection }
      if (this.selection.times_table === 'tbn_ad_summary_day') {
        this.$set(this, 'searchDate', this.selection.table_condition.split(','))
      }
    },
    outtypeChange(){
      this.$store.commit('_setstime', this.temp)
      switch(this.activeName){
        case '1':
          this.$refs.region._getData()
          break
        case '2':
          this.$refs.category._getData()
          break
        case '3':
          this.$refs.media._getData()
          break
        case '4':
          this.$refs.mediaorg._getData()
          break
      }
    },
    _yearChange(val) {
      this._changeTime(this.temp.times_table)
      this.$store.commit('_setstime', this.temp)
    },
    dayChange(val) {
      this.temp.table_condition = val.join(',')
      this.$store.commit('_setstime', this.temp)
    },
    _changeTime(val) {
      let value = {}
      let data = null
      switch (val) {
        case 'tbn_ad_summary_half_year':
          value[`${this.temp.year}-01-01`] = `${this.temp.year} 年上半年`
          value[`${this.temp.year}-07-01`] = `${this.temp.year} 年下半年`
          data = {
            name: val,
            value: value
          }
          this.$store.commit('_setGtime', data)
          break
        case 'tbn_ad_summary_year':
          value[this.temp.year] = `${this.temp.year} 年`
          data = {
            name: val,
            value: value
          }
          this.$store.commit('_setGtime', data)
          break
      }
      if (val !== 'tbn_ad_summary_day') {
        let obj = this.Gtime[val]
        let fkey = Object.keys(obj)
        this.temp.table_condition = fkey[0]
        this.$store.commit('_setstime', this.temp)
      } else {
        this.temp.table_condition = this.searchDate.join(',')
        this.$store.commit('_setstime', this.temp)
      }
    },
  }
}
</script>
