<template>
  <div class="ajpflb"
    v-loading="loading">
    <div style="margin-bottom: 10px;">
      <el-select class="right-margin"
        v-model="searchForm.search_type"
        placeholder="请选择"
        @change="()=>{searchForm.search_val=''}">
        <el-option v-for="item in selectData"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <el-select class="right-margin"
        v-model="searchForm.search_val"
        placeholder="请选择"
        v-if="searchForm.search_type === '10'">
        <el-option label="全部"
          value="">
        </el-option>
        <el-option :label="item.label"
          v-for="item in Mediatype"
          :value="item.value"
          :key="item.value">
        </el-option>
      </el-select>
      <el-input class="secrch right-margin"
        type="text"
        v-if="searchForm.search_type !== '10'"
        v-model="searchForm.search_val">
      </el-input>
      <el-select v-if="searchForm.search_type === '10' && searchForm.search_val === '13'"
        v-model="searchForm.netadtype"
        placeholder="请选择"
        style="width:200px;">
        <el-option label="全部"
          value="0"></el-option>
        <el-option v-for="(value,key) in $store.state.netadtype"
          :key="key"
          :label="value"
          :value="key">
        </el-option>
      </el-select>
      <el-button type="primary"
        icon="el-icon-search"
        @click="_getList">
        查询
      </el-button>
      <out-button :data="predata"
        @initdata="initData"
        url="/Agp/Gsbchuli/pfanjian_list" />
      <el-button type="danger"
        icon="el-icon-close"
        style="float: right;"
        @click="_cancel">
        取消派发
      </el-button>
    </div>
    <el-table :data="tableData" class="new-tabel" size="small"
      @selection-change="_handleSelectionChange"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column type="selection"
        width="50">
      </el-table-column>
      <el-table-column prop="frece_reg"
        label="接收局"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        label="媒体分类"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span :class="`${$store.getters.typeMap[scope.row.fmedia_class]}-tag`">{{$store.state.allmediatype[scope.row.fmedia_class]}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadownername"
        width="100"
        label="广告主"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="90"
        show-overflow-tooltip
        prop="fcount"
        :label="predata.search_val === '13' ? '监测总条次':'播出总条次'">
      </el-table-column>
      <el-table-column v-if="predata.search_val !== '13'"
        width="80"
        show-overflow-tooltip
        prop="diffweek"
        label="播出周数">
      </el-table-column>
      <el-table-column width="90"
        show-overflow-tooltip
        :label="predata.search_val === '13' ? '监测时间段':'播出时间段'">
        <template slot-scope="scope">
          {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
        </template>
      </el-table-column>
      <el-table-column width="150"
        label="涉嫌违法代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="100"
        show-overflow-tooltip
        v-if="$store.state.userInfo.agpDataMerge === 1 || $store.state.userInfo.agpDataMerge === 2"
        prop='customerName'
        label="所属平台">
      </el-table-column>
      <el-table-column
        width="100"
        label="派发时间"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fsend_time? $dayjs(scope.row.fsend_time).format('YYYY-MM-DD') : ''}}
        </template>
      </el-table-column>
      <el-table-column width="106"
        fixed="right"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button type="text"
            :icon="scope.row.fview_status === '0' ? 'el-icon-view' : 'el-icon-circle-check'"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <el-dialog center
      :visible.sync="showPaifa"
      title="取消派发"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-table border
        :data="multipleSelection">
        <el-table-column prop="fad_name"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="媒体名称"
          show-overflow-tooltip>
        </el-table-column>
      </el-table>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_sub"
          :loading="$store.state.bloading">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from "axios";
import qs from "qs";
import viewVideo from "./viewVideo"
import outButton from '../../../common/outButton'
export default {
  components: {
    viewVideo,
    outButton,
  },
  data() {
    return {
      tableData: [],
      searchForm: {
        page: 1,
        search_type: "10",
        search_val: "",
        netadtype: '0'
      },
      countAll: "0",
      loading: false,
      selectData: [
        {
          value: "10",
          label: "媒体分类"
        },
        {
          value: "20",
          label: "广告类别"
        },
        {
          value: "30",
          label: "广告名称"
        },
        {
          value: "40",
          label: "发布媒体"
        },
        {
          value: "50",
          label: "违法原因"
        }
      ],
      selectValue: "1",
      selectValue2: "",
      videoUrl: "",
      showVideo: false,
      details: {},
      predata: {},
      showPaifa: false,
      multipleSelection: []
    };
  },
  created() {
    this._getList();
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 243)
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    initData(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      if (data.search_val !== '13') {
        delete data.netadtype
      }
      this.predata = data
      return data
    },
    _getList(page) {
      this.loading = true
      this.initData(page)
      axios.post(
        this.$_ + "/Agp/Gsbchuli/pfanjian_list",
        qs.stringify(this.predata)
      )
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime
                ? item.fstarttime.substring(0, 10)
                : "";
              item.fendtime = item.fendtime
                ? item.fendtime.substring(0, 10)
                : "";
              return item;
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        });
    },
    _viewVideo(obj) {
      if (obj.fview_status === "0") {
        obj.fview_status = '10'
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj;
      this.showVideo = true;
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _cancel() {
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！");
        return false;
      }
      this.showPaifa = true;
    },
    _sub() {
      this.$store.commit('_bloading', true);
      let selfid = this.$func.getIdArr(this.multipleSelection, "fid");
      axios.post(this.$_ + "/Agp/Gsbchuli/anjian_unpf", qs.stringify({
        selfid: selfid
      })).then(res => {
        if (res.data.code === 0) {
          this.showPaifa = false;
          this._getList();
          this.$message.success(res.data.msg);
        } else {
          this.$func._error(res.data);
        }
        this.$emit('refresh')
        this.$store.commit('_bloading', false)
      }).catch(() => {
        this.$func._error();
        this.$store.commit('_bloading', false)
      })
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
};
</script>

<style scoped lang="scss">
.ajpflb {
  .secrch {
    width: 200px;
  }
}
</style>