<template>
  <div class="no-source">
    播放区
  </div>
</template>

<style scoped>
.no-source {
  font-size: 40px;
  line-height: 400px;
  font-weight: bold;
  color: #999;
  text-align: center;
  background-color: #eee;
  height: 100%;
  letter-spacing: 0.3em;
}
</style>