<template>
  <div style="font-family: Simsun;position:fixed;left:-5000px;z-index:-1;">
    <h1 style="text-align: center;font-size: 29px;">______市场监督管理局</h1>
    <h1 style="text-align: center;font-size: 29px;">案件来源登记表</h1>
    <table cellspacing="0" style="width: 100%;border-right: 1px solid #000;border-bottom: 1px solid #000;">
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px; width: 16%;" colspan="2">登记时间</td>
        <td colspan="5" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;text-align: center;">{{$dayjs().format('YYYY 年 M 月 D 日 H 时 m 分 s 秒')}}</td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">来源分类</td>
        <td colspan="5" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">
          <div style="display: flex;flex-wrap: wrap;">
            <div style="width:50%">（√）监督检查</div>
            <div style="width:50%">（）投诉、申诉、举报</div>
            <div style="width:50%">（）其他机关移送</div>
            <div style="width:50%">（）上级机关交办</div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;width: 6%;" rowspan="11">案源提供人</td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;width: 10%;" rowspan="2">监督<br>检查人</td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;width: 15%;" colspan="2">姓名</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;width: 20%;">&nbsp;</td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;width: 15%;">执法单位</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">姓名</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">执法单位</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" rowspan="5">投诉、申诉、举报人</td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">个人</td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">姓名</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">身份证（其他有效证件）号码</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" rowspan="2">单位</td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">名称</td>
        <td colspan="3"  style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">法定代表人（负责人）</td>
        <td colspan="2" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">吴凤书</td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">联系电话</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">邮政编码</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">联系地址</td>
        <td colspan="3" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" rowspan="4">移送、交办机关</td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">名称</td>
        <td colspan="3" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">联系人</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">邮政编码</td>
        <td style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">联系电话</td>
        <td colspan="3" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">联系地址</td>
        <td colspan="3" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">案源登记内容</td>
        <td colspan="6" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;">
          <p style="text-indent:2em;">{{$dayjs().format('YYYY 年 M 月 D 日')}}，我局监测发现：{{data.fmedianame}}在 {{during}}发布的{{data.fad_name}}广告涉嫌违法违规，请查处。</p>
          <p style="text-align: right;">{{$dayjs().format('YYYY 年 M 月 D 日')}}</p>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">案源<br>交办意见</td>
        <td colspan="5" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
      <tr>
        <td style="text-align:center;border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;" colspan="2">备 注</td>
        <td colspan="5" style="border-top: 1px solid #000;border-left: 1px solid #000;padding: 10px;"></td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    props: {
      data: {
        type: Object,
        default: () => ({})
      }
    },
    data() {
      return {
        show: true
      }
    },
    computed: {
      during(){
        let {fstarttime,fendtime} = this.data
        let _fstarttime = this.$dayjs(fstarttime).format('YYYY 年 M 月 D 日')
        let _fendtime = this.$dayjs(fstarttime).format('YYYY 年 M 月 D 日')
        if(fstarttime === fendtime){
          return _fendtime
        }else{
          return `${_fstarttime} 至 ${_fendtime}期间`
        }
      }
    },
  }
</script>
