<template>
  <el-dialog :title="data.fadname" :visible.sync="show" :before-close="() => $emit('close')" width="650px" center>
    <aliplayer ref="player" :url="data.favifilename" :autoplay="true" width="100%" height="450px"></aliplayer>
  </el-dialog>
</template>

<script>
import aliplayer from "../../../common/aliplayer";
export default {
  components: {
    aliplayer
  },
  props: {
    data: {
      type: Object
    }
  },
  data() {
    return {
      showDialog: false,
      show: true
    };
  }
};
</script>

<style lang="scss" scoped>
.el-dialog__body {
    padding: 0 20px 30px 20px;
}
</style>