<template>
  <div class="shangbao">
    <el-dialog
      center
      :title="adNames"
      :visible.sync="showUpload"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-form label-width="100px">
        <el-form-item label="处理方式：">
          <el-checkbox-group class="pull-left right-margin checkbox"
            v-model="checkboxValue">
            <el-checkbox label="责令停止发布"></el-checkbox>
            <el-checkbox label="立案"></el-checkbox>
            <el-checkbox label="移送司法"></el-checkbox>
            <el-checkbox label="其他"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="附件列表：">
          <upload @uploadSuccess="_uploadSuccess"></upload>
        </el-form-item>
        <el-form-item label-width="0px">
          <el-table :data="attachInfo" border>
            <el-table-column
              prop="fattachname"
              label="文件名称">
            </el-table-column>
            <el-table-column
              width="80px"
              label="操作">
              <template slot-scope="scope">
                <el-button type="text"  @click="_deleteFile(scope.row)" icon="el-icon-delete">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
        <el-form-item label-width="0px" v-if="platData.length != 0 && (this.$store.state.userInfo.agpDataMerge === 1 || this.$store.state.userInfo.agpDataMerge === 2)">
          <el-alert title="在以下平台也出现相同案件，请勾选需要以当前处理方式一并处理的平台。" type="error"></el-alert>
        </el-form-item>
        <el-form-item v-if="platData.length != 0" label="选择平台：">
         <el-checkbox-group v-model="platDataSelect">
            <div>
              <el-checkbox
                v-for='item in platData'
                :label="item.ptIllId"
                :key="item.ptNum">{{item.customerName}} &nbsp;({{ item.ptCount }}条) </el-checkbox>
            </div>
          </el-checkbox-group>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <!-- 跨地域以及非国家级 -->
        <!-- <el-button type="primary" @click="_sendResult(true)" v-if="$route.path == '/lachuli'">结 案</el-button> -->
        <el-button type="primary" @click="_sendResult(false)">{{$route.path ==  '/sbchuli' ? buttonText : $route.path ==  '/ckchuli' ? '提 交' : '保 存' }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import upload from '../../common/upload'
export default {
  components: {
    upload
  },
  props: {
    ids: {
      default: () => [],
      type: Array,
    },
    adNames: {
      default: '',
      type: String,
    },
  },
  data() {
    return {
      checkboxValue: ['责令停止发布'],
      show: true,
      attachInfo: [],
      changeAttachInfo: [],
      showUpload: true,
      submit: '1',
      gjpt: '0',
      sjpt: '0',
      platDataSelect: [],
      platData: [],
    };
  },
  created() {
    if((this.$store.state.userInfo.agpDataMerge === 1 || this.$store.state.userInfo.agpDataMerge === 2) && this.$route.path ==  '/sbchuli') {
      this.getPlatData()
    }
  },
  methods: {
    getPlatData() {
      const data = {
        selfid: this.ids
      }
      axios.post(this.$_ + '/Agp/Gsbchuli/otherAnJian', qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.platData = res.data.data
        }
      })
      .catch(err =>{
      })
    },
    _sendResult(val) {
      if(val){
        this.$emit('send', this.changeAttachInfo)
      } else{
        if (!this.checkboxValue.length) {
          this.$message.error("请选择处理方式！");
          return false;
        }
        let selfresult = this.checkboxValue.join(";") + ";"
        let parameData = {
          selfresult: selfresult,
        }
        if(this.platDataSelect.length > 0) {
          let arr = []
          for(let i = 0; i < this.platDataSelect.length; i++) {
            arr = arr.concat(this.platDataSelect[i])
          }
          this.$emit('send', this.changeAttachInfo, parameData, arr)
        } else {
          this.$emit('send', this.changeAttachInfo, parameData, '')
        }
      }
    },
    _uploadSuccess(Obj) {
      let file = Obj.file;
      let obj = {};
      obj.fattachname = file.name;
      obj.fattachurl = Obj.url + file.response.key;
      this.attachInfo.unshift(obj);
      this.changeAttachInfo.push(obj);
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
          this.changeAttachInfo = this.changeAttachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    _close() {
      this.checkboxValue = ['责令停止发布']
      if(!this.changeAttachInfo.length){
        this.$emit('close')
        return false
      }
      this.$confirm(`关闭弹窗将舍弃已上传的文件，是否继续关闭？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$emit('close')
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

  },
  computed: {
    buttonText(){
      if(this){
        let arr = this.$store.state.menudata[this.$route.name]
        if(arr && arr.length === 2){
          return arr[1].slice(-2)
        }else{
          return '上报'
        }
      }
    },
  }
};
</script>

<style scoped>
</style>