<template>
  <div class="shangbao">
    <el-dialog
      center
      title="上传文件"
      :visible.sync="showUpload"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <div class="wrap">
        <el-form label-width="100px" :model="form" :rules="rules" ref="form">
          <div style="display: flex" v-if="$store.state.userInfo.system_num === 340000 && $route.path == '/lachuli'">
            <el-form-item label="文书编号：" prop="fnumber">
              <el-input v-model="form.fnumber" placeholder="请输入文书编号"></el-input>
            </el-form-item>
            <el-form-item label="罚没金额：" prop="fprice">
              <el-input v-model="form.fprice" placeholder="请输入罚没金额"></el-input>
            </el-form-item>
          </div>
          <el-form-item label="上传附件：">
            <upload
              @uploadSuccess="_uploadSuccess">
            </upload>
          </el-form-item>
        </el-form>
       </div>
      <el-table :data="attachInfo" border>
        <el-table-column
          prop="fattachname"
          label="文件名称">
        </el-table-column>
        <el-table-column
          width="80px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"  @click="_deleteFile(scope.row)" icon="el-icon-delete">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <!-- 跨地域以及非国家级 -->
        <el-button type="primary" @click="_sendResult(true)" v-if="$route.path == '/lachuli'">结 案</el-button>
        <el-button type="primary" @click="_sendResult(false)">{{$route.path ==  '/sbchuli' ? buttonText : $route.path ==  '/ckchuli' ? '提 交' : '保 存' }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import upload from '../../common/upload'
export default {
  components: {
    upload
  },
  props: {
    ids: {
      default: () => [],
      type: Array,
    },
  },
  data() {
    return {
      form: {
        fnumber: '',
        fprice: '',
      },
      show: true,
      attachInfo: [],
      changeAttachInfo: [],
      showUpload: true,
      submit: '1',
      gjpt: '0',
      sjpt: '0',
      platData: [],
      rules:{
        fnumber: [
          { required: true, message: '文书编号必填', trigger: 'blur' },
        ],
        fprice: [
          { required: true, message: '罚没金额必填', trigger: 'blur' },
        ],
      }
    };
  },
  created() {
  },
  methods: {
    _sendResult(val) {
      let paramData = {
        attachinfo: this.changeAttachInfo,
      }
      if(val){
        if(this.$store.state.userInfo.system_num === 340000) {
          this.$refs.form.validate((valid) => {
            if (valid) {
              paramData.fnumber = this.form.fnumber
              paramData.fprice = this.form.fprice
              this.$emit('send', paramData)
            } else {
              return false
            }
          })
        } else {
          this.$emit('send', paramData)
        }
      } else{
        if(this.$store.state.userInfo.system_num === 340000) {
          paramData.fnumber = this.form.fnumber
          paramData.fprice = this.form.fprice
          this.$emit('send', paramData, 1,)
        } else {
          this.$emit('send', paramData, 1,)
        }
      }
    },
    _uploadSuccess(Obj) {
      let file = Obj.file;
      let obj = {};
      obj.fattachname = file.name;
      obj.fattachurl = Obj.url + file.response.key;
      this.attachInfo.unshift(obj);
      this.changeAttachInfo.push(obj);
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
          this.changeAttachInfo = this.changeAttachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    _close() {
      if(!this.changeAttachInfo.length){
        this.$emit('close')
        return false
      }
      this.$confirm(`关闭弹窗将舍弃已上传的文件，是否继续关闭？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
      .then(() => {
        this.$emit('close')
      })
      .catch(() => {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      });
      this.$refs.form.resetFields()
    },

  },
  computed: {
    buttonText(){
      if(this){
        let arr = this.$store.state.menudata[this.$route.name]
        if(arr && arr.length === 2){
          return arr[1].slice(-2)
        }else{
          return '上报'
        }
      }
    },
  }
};
</script>

<style lang="scss">
.wrap{
  &/deep/.el-form-item--mini.el-form-item {
    margin-bottom: 14px;
  }
}
</style>