<template>
  <div class="bssjfh"
    v-loading="loading">
    <el-form ref="sform"
      label-width="0px">
      <el-form-item label="">
        <el-select class="right-margin"
          v-model="searchForm.search_type"
          placeholder="请选择"
          @change="()=>{searchForm.search_val=''}">
          <el-option v-for="item in selectData"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
        <el-select class="right-margin"
          v-model="searchForm.search_val"
          placeholder="请选择"
          v-if="searchForm.search_type === '10'">
          <el-option label="全部"
            value=""></el-option>
          <el-option :label="item.label"
            :value="item.value"
            v-for="item in Mediatype"
            :key="item.value">
          </el-option>
        </el-select>
        <el-input class="secrch right-margin"
          type="text"
          v-if="searchForm.search_type !== '10'"
          v-model="searchForm.search_val">
        </el-input>
        <el-select v-if="searchForm.search_type === '10' && searchForm.search_val === '13'"
          v-model="searchForm.netadtype"
          placeholder="请选择"
          style="width:200px;">
          <el-option label="全部"
            value="0"></el-option>
          <el-option v-for="(value,key) in $store.state.netadtype"
            :key="key"
            :label="value"
            :value="key">
          </el-option>
        </el-select>
        <el-button type="primary"
          icon="el-icon-search"
          @click="_getList(1)">
          查询
        </el-button>
        <el-button type="primary"
            class="pull-right"
          @click="_chuli"
          icon="el-icon-tickets">处理</el-button>
      </el-form-item>
    </el-form>
    <div v-if="!isbs" style="margin-bottom: 8px"> <el-alert title="注意：在同一周期（半个月）内，两个及以上地区同时播出的违法广告不允许复核!" type="error"></el-alert></div>
    <el-table :data="tableData" class="new-tabel" size="small"
      ref="table"
      border
      :height="$store.state.GTableHeight"
      @selection-change="_handleSelectionChange">
      <el-table-column type="selection" :selectable="selectable"
        width="50">
      </el-table-column>
      <el-table-column width="80"
        label="媒体分类">
        <template slot-scope="scope">
          <span :class="`${$store.getters.typeMap[scope.row.fmedia_class]}-tag`">{{$store.state.allmediatype[scope.row.fmedia_class]}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadownername"
        width="100"
        label="广告主"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        v-if="!isbs"
        label="跨地域数">
        <template slot-scope="scope">
          <el-tooltip class="item"
            effect="dark"
            :content="scope.row.fregionname"
            placement="top">
            <span>{{scope.row.fregion_count}}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column width="100"
        prop="fcount"
        :label="predata.search_val === '13' ? '监测总条次':'播出总条次'"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column v-if="predata.search_val !== '13'"
        width="80"
        prop="diffweek"
        label="播出周数"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="100px"
        :label="predata.search_val === '13' ? '监测时间段':'播出时间段'"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
        </template>
      </el-table-column>
      <el-table-column width="110"
        label="涉嫌违法代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="100"
        show-overflow-tooltip
        v-if="$store.state.userInfo.agpDataMerge === 1 || $store.state.userInfo.agpDataMerge === 2"
        prop='customerName'
        label="所属平台">
      </el-table-column>
      <el-table-column width="106"
        fixed="right"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button type="text"
            :icon="scope.row.fview_status === '0' ? 'el-icon-view' : 'el-icon-circle-check'"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <el-dialog center
      title="上传文件"
      :visible.sync="showUpload"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <upload @uploadSuccess="_uploadSuccess">
      </upload>
      <br>
      <el-table :data="attachInfo"
        border>
        <el-table-column prop="fattachname"
          label="文件名称">
        </el-table-column>
        <el-table-column width="80px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"
              @click="_deleteFile(scope.row)"
              icon="el-icon-delete">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-form :model="validateForm" :rules="rulesText" ref="validateForm">
        <el-form-item v-if="this.$store.state.userInfo.datacheck_istext == '1'">
          <el-input v-model="validateForm.selnote" type="textarea" :rows="5" placeholder="请输入理由"></el-input>
        </el-form-item>
        <el-form-item v-if="this.$store.state.userInfo.datacheck_istext == '2' && $store.state.userInfo.tregionlevel == ($store.state.userInfo.fregulatorlevel + 10)">
          <el-input v-model="validateForm.selnote" type="textarea" :rows="5" placeholder="请输入理由"></el-input>
        </el-form-item>
        <el-form-item prop="selnote" v-if="this.$store.state.userInfo.datacheck_istext == '3'">
          <el-input v-model="validateForm.selnote"  type="textarea" :rows="5" placeholder="请输入理由"></el-input>
        </el-form-item>
        <el-form-item prop="selnote" v-if="this.$store.state.userInfo.datacheck_istext == '4' && $store.state.userInfo.tregionlevel == ($store.state.userInfo.fregulatorlevel + 10)">
          <el-input v-model="validateForm.selnote" type="textarea" :rows="5" placeholder="请输入理由"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <!-- 本级以及国家级或省级 -->
        <el-button type="primary"
          @click="_sendResult"
          v-if="isbs && ($store.state.userInfo.fregulatorlevel === 30 || $store.state.userInfo.fregulatorlevel === 20)">复 核</el-button>
        <!-- 本级以及非国家级和非省级 -->
        <el-button type="primary"
          @click="_sendResult"
          v-if="isbs && ($store.state.userInfo.fregulatorlevel !== 30 && $store.state.userInfo.fregulatorlevel !== 20)">申请复核</el-button>
        <!-- 跨地域以及国家级 -->
        <el-button type="primary"
          @click="_sendResult"
          v-if="!isbs && $store.state.userInfo.fregulatorlevel === 30">复 核</el-button>
        <!-- 跨地域以及非国家级 -->
        <el-button type="primary"
          @click="_sendResult"
          v-if="!isbs && $store.state.userInfo.fregulatorlevel !== 30">申请复核</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import viewVideo from "./viewVideo"
import upload from "../../common/upload"
import axios from "axios"
import qs from "qs"
export default {
  props: {
    isbs: {
      type: Boolean,
      defualt: false
    }
  },
  components: {
    viewVideo,
    upload
  },
  data() {
    return {
      tableData: [],
      searchForm: {
        page: 1,
        search_type: "10",
        search_val: "",
        netadtype: '0'
      },
      predata: {},
      countAll: "0",
      loading: false,
      selectValue: "1",
      selectValue2: "",
      checkboxValue: [],
      showVideo: false,
      multipleSelection: [],
      showUpload: false,
      attachInfo: [],
      changeAttachInfo: [],
      details: {},
      disabledArr: [],
      selectData: [
        {
          value: "10",
          label: "媒体分类"
        },
        {
          value: "20",
          label: "广告类别"
        },
        {
          value: "30",
          label: "广告名称"
        },
        {
          value: "40",
          label: "发布媒体"
        },
        {
          value: "50",
          label: "违法原因"
        }
      ],
      validateForm: {
        selnote: '',
      },
      rulesText: {
        selnote: [
          { required: true, message: '输入框不能为空'},
        ],
      }
    };
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 252 - (this.$parent.$refs.gsearch ? 55 : 0 ))
    })
  },
  methods: {
    selectable(row) {
      if(this.isbs){
        return true
      } else{
        if(Number(row.isedit) === 1) {
          return true
        } else {
          return false
        }
      }
    },
    //  selectable(row, index){
    //   if(this.isbs){
    //     return true
    //   }else{
    //     if(Number(row.ydscount) > 0){
    //       return false
    //     }
    //     return true
    //   }
    // },
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    _getList(page) {
      this.loading = true;
      this._setGvalue()
      this.searchForm.page = page || 1
      this.predata = { ...this.searchForm }
      if (this.predata.search_val !== '13') {
        delete this.predata.netadtype
      }
      this.disabledArr = []
      let url = this.isbs
        ? "/Agp/Gsbchuli/bsfuhe_list"
        : "/Agp/Gsbchuli/ksfuhe_list";
      axios.post(this.$_ + url, qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map((item,index) => {
              item.fstarttime = item.fstarttime
                ? item.fstarttime.substring(0, 10)
                : ""
              item.fendtime = item.fendtime
                ? item.fendtime.substring(0, 10)
                : ""
              if(Number(item.ydscount) > 0){
                this.disabledArr.push(item.ydscount)
              }
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data);
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error();
        });
    },
    _viewVideo(obj) {
      if (obj.fview_status === "0") {
        obj.fview_status = '10'
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true;
    },
    checkIn(){
      let num = 0
      let arr = this.multipleSelection.filter(i => {
        return !this.disabledArr.includes(i.ydscount)
      })
      return arr
    },
    // _chuli() {
    //   if (!this.multipleSelection.length) {
    //     this.$message.error("请选择！")
    //     return false
    //   }
    //   let _arr = this.checkIn()
    //   if(_arr.length !== this.multipleSelection.length){
    //     this.$confirm('跨省级线索暂不提供数据复核，是否自动除去?', '提示', {
    //       confirmButtonText: '确定',
    //       cancelButtonText: '取消',
    //       type: 'warning'
    //     }).then(() => {
    //       if(_arr.length){
    //         this.$refs.table.clearSelection()
    //         _arr.forEach(i => {
    //           this.$refs.table.toggleRowSelection(i,true)
    //         })
    //         this.showUpload = true
    //       }else{
    //         this.$refs.table.clearSelection()
    //         this.$message.info('无可处理广告')
    //       }
    //     }).catch(() => {})
    //   }else{
    //     this.showUpload = true
    //   }
    // },
    _chuli() {
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！")
        return false
      }
      if(this.multipleSelection.length){
        this.showUpload = true
      }
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _uploadSuccess(Obj) {
      let file = Obj.file;
      let obj = {};
      obj.fattachname = file.name;
      obj.fattachurl = Obj.url + file.response.key;
      this.attachInfo.unshift(obj);
      this.changeAttachInfo.push(obj);
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
          this.changeAttachInfo = this.changeAttachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    _sendResult() {
      let {tregionlevel,datacheck_isfile,fregulatorlevel} = this.$store.state.userInfo
      if(datacheck_isfile == 1 || (datacheck_isfile == 2 && tregionlevel != (fregulatorlevel + 10))){
        if (!this.changeAttachInfo.length) {
          this.$message.error('请上传附件！')
          return false
        }
      }
      let kystatus = this.isbs ? "10" : "0";
      let data = {
        selfid: this.$func.getIdArr(this.multipleSelection, "fid"),
        kystatus: this.kystatus,
        attachinfo: this.changeAttachInfo,
        kystatus: this.isbs ? 0 : 10,
        selnote: this.validateForm.selnote
      }
      this.$refs.validateForm.validate((valid) => {
        if (valid) {
          axios.post(this.$_ + "/Agp/Gsbchuli/fhshuju", qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.attachInfo = [];
              this.changeAttachInfo = [];
              this.showUpload = false;
              this.$message.success("操作成功！");
              this._getList()
              this.$emit('refresh')
            } else {
              this.$func._error(res.data);
            }
          })
          .catch(() => {
            this.$func._error();
            this.$store.commit('_bloading', false)
          });
        } else {
          return false;
        }
      })
    },
    _close() {
      this.showUpload = false;
      this.attachInfo = [];
      this.changeAttachInfo = [];
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
};
</script>

<style scoped lang="scss">
.bssjfh {
  .secrch {
    width: 200px;
  }
  .checkbox {
    margin-top: 6px;
  }
}
</style>