<template>
  <div class="bssjfhcl"
    v-loading="loading">
    <div class="operating-line">
      <h3 class="pull-left right-margin t-h2">处理选项：</h3>
      <el-select class="right-margin"
        v-model="selectValue"
        placeholder="请选择">
        <el-option label="同意" value="同意"></el-option>
        <el-option label="不同意" value="不同意"></el-option>
      </el-select>
      <el-button type="primary"
        @click="_reCheck"
        icon="el-icon-tickets">处理</el-button>
    </div>
    <el-table :data="tableData" class="new-tabel" size="small"
      border
      :height="$store.state.GTableHeight"
      @selection-change="_handleSelectionChange">
      <el-table-column type="selection"
        width="50">
      </el-table-column>
      <el-table-column label="总局意见" v-if="$store.state.userInfo.tregionlevel === 40">
        <template slot-scope="scope">
           <el-popover
            placement="right"
            width="200"
            trigger="hover"
            :content="scope.row.tgj_result">
            <span slot="reference">
              <span>
                <span class="text_style" @click="_showAttach(scope.row,'30')">{{scope.row.tgj_result}}</span>
                <div v-if="scope.row.tgj_result">{{scope.row.tgj_username}}</div>
                <div v-if="scope.row.tgj_result">{{scope.row.tgj_time}}</div>
              </span>
            </span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column :label="this.systemNum.indexOf(Number($store.state.userInfo.system_num)) == -1?'省局意见' : '市局意见'" v-if="$store.state.userInfo.tregionlevel >= 30">
        <template slot-scope="scope">
          <el-popover
            placement="right"
            width="200"
            trigger="hover"
            :content="scope.row.tshengj_result">
            <span slot="reference">
              <span>
                <span class="text_style" @click="_showAttach(scope.row,'20')">{{scope.row.tshengj_result}}</span>
                <div v-if="scope.row.tshengj_result">{{scope.row.tshengj_username}}</div>
                <div v-if="scope.row.tshengj_result">{{scope.row.tshengj_time}}</div>
              </span>
            </span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="市局意见" v-if="$store.state.userInfo.tregionlevel >= 20 && this.systemNum.indexOf(Number($store.state.userInfo.system_num)) == -1">
        <template slot-scope="scope">
          <el-popover placement="right"
            width="200"
            trigger="hover"
            :content="scope.row.tshij_result">
            <span slot="reference">
              <span>
                <span class="text_style" @click="_showAttach(scope.row,'10')">{{scope.row.tshij_result}}</span>
                <div v-if="scope.row.tshij_result">{{scope.row.tshij_username}}</div>
                <div v-if="scope.row.tshij_result">{{scope.row.tshij_time}}</div>
              </span>
            </span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="县局意见" v-if="$store.state.userInfo.system_num !== 340000">
        <template slot-scope="scope">
          <el-popover placement="right"
            width="200"
            trigger="hover"
            :content="scope.row.tquj_result">
            <span slot="reference">
              <span>
                <span class="text_style" @click="_showAttach(scope.row,'0')">{{scope.row.tquj_result}}</span>
                <div v-if="scope.row.tquj_result">{{scope.row.tquj_username}}</div>
                <div v-if="scope.row.tquj_result">{{scope.row.tquj_time}}</div>
              </span>
            </span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="媒体分类">
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.fmedia_class]}}
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        show-overflow-tooltip
        label="广告类别">
      </el-table-column>
      <el-table-column prop="fad_name"
        show-overflow-tooltip
        label="广告名称">
      </el-table-column>
      <el-table-column prop="fmedianame"
        show-overflow-tooltip
        label="发布媒体">
      </el-table-column>
      <el-table-column prop="fadownername"
        width="100"
        show-overflow-tooltip
        label="广告主">
      </el-table-column>
      <el-table-column min-width="110"
        label="涉嫌违法代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="100"
        v-if="$store.state.userInfo.agpDataMerge === 1 || $store.state.userInfo.agpDataMerge === 2"
        prop='customerName'
        show-overflow-tooltip
        label="所属平台">
      </el-table-column>
      <el-table-column width="130"
        fixed="right"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button type="text"
            :icon="scope.row.fview_status === '0' ? 'el-icon-view' : 'el-icon-circle-check'"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <el-dialog center
      title="上传文件"
      :visible.sync="showUpload"
      :before-close="_close">
      <upload @uploadSuccess="_uploadSuccess">
      </upload>
      <br>
      <el-table :data="attachInfo"
        border>
        <el-table-column prop="fattachname"
          label="文件名称">
        </el-table-column>
        <el-table-column width="80px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"
              @click="_deleteFile(scope.row)"
              icon="el-icon-delete">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- <el-input v-model="selnote" v-if="this.selectValue === '不同意' && this.$store.state.userInfo.isexamine === 20" type="textarea" :rows="5" placeholder="请输入理由"></el-input> -->
      <el-form :model="validateForm" :rules="rulesText" ref="validateForm">
        <el-form-item v-if="this.$store.state.userInfo.datacheck_istext == '1'  && this.selectValue === '不同意' ">
          <el-input v-model="validateForm.selnote" type="textarea" :rows="5" placeholder="请输入理由"></el-input>
        </el-form-item>
        <el-form-item v-if="this.$store.state.userInfo.datacheck_istext == '2' && $store.state.userInfo.tregionlevel == ($store.state.userInfo.fregulatorlevel + 10) && this.selectValue === '不同意'">
          <el-input v-model="validateForm.selnote" type="textarea" :rows="5" placeholder="请输入理由"></el-input>
        </el-form-item>
        <el-form-item prop="selnote" v-if="this.$store.state.userInfo.datacheck_istext == '3' && this.selectValue === '不同意'">
          <el-input v-model="validateForm.selnote"  type="textarea" :rows="5" placeholder="请输入理由"></el-input>
        </el-form-item>
        <el-form-item prop="selnote" v-if="this.$store.state.userInfo.datacheck_istext == '4' && $store.state.userInfo.tregionlevel == ($store.state.userInfo.fregulatorlevel + 10)  && this.selectValue === '不同意'">
          <el-input v-model="validateForm.selnote" type="textarea" :rows="5" placeholder="请输入理由"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_sendResult">确 定</el-button>
      </div>
    </el-dialog>
    <attach-dialog v-if="showAttach"
      :zjfjdata="zjfjdata"
      @close="showAttach = false">
    </attach-dialog>
  </div>
</template>

<script>
import attachDialog from "./attachDialog"
import viewVideo from "./viewVideo"
import upload from "../../common/upload"
import axios from "axios"
import qs from "qs"
export default {
  components: {
    upload,
    viewVideo,
    attachDialog
  },
  props: {
    isbs: {
      type: Boolean,
      defualt: false
    }
  },
  data() {
    return {
      selectValue: "同意",
      tableData: [],
      searchForm: {
        page: 1
      },
      countAll: "0",
      loading: false,
      videoUrl: "",
      showVideo: false,
      attachInfo: [],
      changeAttachInfo: [],
      multipleSelection: [],
      showUpload: false,
      showAttach: false,
      zjfjdata: [],
      details: {},
      systemNum: [ 110000, 120000, 310000, 500000 ],
      validateForm: {
        selnote: '',
      },
      rulesText: {
        selnote: [
          { required: true, message: '输入框不能为空'},
        ],
      }
    };
  },
  created() {
    this._getList();
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 243 - (this.$parent.$refs.gsearch ? 55 : 0 ))
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    _getList(page) {
      this.loading = true;
      this._setGvalue()
      this.searchForm.page = page || 1
      let url = this.isbs
        ? "/Agp/Gfhchuli/fhchuli_list"
        : "/Agp/Gfhchuli/ksfhchuli_list";
      axios
        .post(this.$_ + url, qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.tgj_time) {
                item.tgj_time = item.tgj_time.substring(0, 10)
              }
              if (item.tshengj_time) {
                item.tshengj_time = item.tshengj_time.substring(0, 10)
              }
              if (item.tshij_time) {
                item.tshij_time = item.tshij_time.substring(0, 10)
              }
              if (item.tquj_time) {
                item.tquj_time = item.tquj_time.substring(0, 10)
              }
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        });
    },
    _reCheck() {
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！");
        return false;
      }
      this.showUpload = true;
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _uploadSuccess(Obj) {
      let file = Obj.file;
      let obj = {};
      obj.fattachname = file.name;
      obj.fattachurl = Obj.url + file.response.key;
      this.attachInfo.unshift(obj);
      this.changeAttachInfo.push(obj);
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
          this.changeAttachInfo = this.changeAttachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    _sendResult() {
      let data = {
        selfid: this.$func.getIdArr(this.multipleSelection, "fid"),
        result: this.selectValue,
        attachinfo: this.changeAttachInfo,
        selnote: this.validateForm.selnote
      }
      this.$refs.validateForm.validate((valid) => {
        if (valid) {
          axios.post(this.$_ + "/Agp/Gfhchuli/fhchuli", qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.attachInfo = []
              this.changeAttachInfo = []
              this.showUpload = false
              this._getList()
              this.$emit('refresh')
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
        } else {
          return false;
        }
      })
    },
    _close() {
      this.attachInfo = [];
      this.changeAttachInfo = [];
      this.showUpload = false;
    },
    _viewVideo(obj) {
      if (obj.fview_status === "0") {
        obj.fview_status = '10'
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj;
      this.showVideo = true;
    },
    _showAttach(obj, lv) {
      let data = {
        fupload_trelevel: lv,
        fid: obj.fid
      };
      axios
        .post(this.$_ + "/Agp/Gfhchuli/fjjieguo", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.zjfjdata = res.data.zjfjdata;
            this.showAttach = true;
          }
        })
    },
  }
};
</script>

<style scoped>
.text_style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor:default;
  color: #2593FC;
  font-weight: bold;
}
</style>