<template>
  <div class="tz-dialog">
    <el-dialog center
      :visible.sync="show"
      width="90%"
      :before-close="_close"
      :close-on-click-modal="false"
      :title="details.fad_name">
      <div class="view-warp"
        :style="{'height':(details.fmedia_class !== '3'&&details.fmedia_class !== '13') ? (showadv && data.dig_status === '0' ? '600px' : '400px') : 'auto'}"
        v-loading="loading"
        element-loading-background="rgb(255, 255, 255)">
        <div>
          <div v-if="(details.fmedia_class !== '3'&&details.fmedia_class !== '13')"
            element-loading-background="rgba(255,255,255,1)"
            style="width:560px"
            v-loading="!videoFlag">
            <aliplayer ref="aliplayer"
              :autoplay="true"
              :url="videoUrl"
              v-if="(details.fmedia_class !== '3'&&details.fmedia_class !== '13')&& showPlayer"
              @error="_videoerror"
              @success="_videosuccess">
            </aliplayer>
          </div>
          <div class="imgBlock"
            v-if="(details.fmedia_class === '3' || details.fmedia_class === '13') && !details.article_content">
            <vueCropper ref="cropper"
              :img="details.fjpgfilename2 || details.fjpgfilename"
              :outputSize="1"></vueCropper>
            <a :href="details.fjpgfilename"
              target="_blank"
              v-if="details.fmedia_class === '3' || details.fmedia_class === '13'">
              <el-button type="text">无法查看?</el-button>
            </a>
          </div>
          <div class="article"
            v-if="details.article_content&&details.net_platform === '9'"
            v-html="details.article_content.replace(/mmbiz.qpic.cn/g,'hz-weixin-img.oss-cn-hangzhou.aliyuncs.com').replace(/width: auto !important;/g,'')"
            style="height:600px;overflow:auto;"></div>
        </div>
        <div class="info-warp">
          <el-tabs v-model="activeName"
            type="border-card">
            <el-tab-pane v-for="(item,index) in list"
              :label="item.update_time"
              :key="index"
              :name="index.toString()">
              <p v-if="item.remark">备注：{{item.remark}}</p>
              <el-table :data="item.list"
                v-if="item.list.length"
                :height="item.remark ? '270px':'315px'"
                border>
                <el-table-column prop="title" label="调整项">
                </el-table-column>
                <el-table-column
                  label="调整前">
                  <template slot-scope="scope">
                    <span class="text-delete">{{scope.row.olddata}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="newdata"
                  label="调整后">
                </el-table-column>
              </el-table>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import aliplayer from '../../../common/aliplayer'
import VueCropper from 'vue-cropper'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    aliplayer
  },
  props: {
    data: {
      default: {},
      type: Object
    },
    showadv: {
      default: false,
      type: Boolean
    }
  },
  data() {
    return {
      loading: true,
      showPlayer: true,
      videoUrl: '',
      videoFlag: false,
      issueList: [],
      issIndex: 0,
      listIndex: 0,
      show: true,
      details: {},
      activeName: '0',
      list: []
    }
  },
  created() {
    this.getChangeData()
    this._getData()
  },
  methods: {
    getChangeData(){
      let data = {
        fid: this.data.sid || this.data.fid
      }
      axios.post(this.$_ + '/Agp/Gckfuhe/fuhe_cllist', qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.list = res.data.data.map(item => {
            item.update_time = item.update_time ? item.update_time.substring(0,10) : '无时间'
            return item
          })
        }
      })
    },
    _getData() {
      let data = null
      if (!this.usedata) {
        data = {
          fid: this.data.sid || this.data.fid,
          mclass: this.data.fmedia_class,
          years: this.$store.state.Gsearch.years,
          timetypes: this.$store.state.Gsearch.timetypes,
          timeval: this.$store.state.Gsearch.timeval,
        }
        if (this.data.dit_id) data.dit_id = this.data.dit_id
      } else {
        data = this.data
      }
      axios.post(this.$_ + '/Agp/Gsbchuli/anjian_view', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.details = res.data.data
            if (this.details.fjpgfilename) this.details.fjpgfilename = this.details.fjpgfilename.replace(/http:\/\/mmbiz.qpic.cn|https:\/\/mmbiz.qlogo.cn/g, 'https://hz-weixin-img.oss-cn-hangzhou.aliyuncs.com')
            if (res.data.data.source_state && res.data.data.source_state === '1') {
              this.timer = setInterval(() => {
                this._checkCreated(Array.of(res.data.data.source_id))
              }, 3000)
            }
            if (res.data.data.issue_list) {
              this.issueList = res.data.data.issue_list
              this._getPlayUrl(res.data.data.issue_list[this.issIndex])
            }
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _close() {
      if (this.$refs.aliplayer) this.$refs.aliplayer._stop()
      this.$emit('close')
    },
    _getPlayUrl(data) {
      axios.post(this.$_ + '/Agp/Gsbchuli/get_favifilename', qs.stringify(data))
        .then(res => {
          if (res.data.data.length) {
            this.listIndex = 0
            this.mediaList = res.data.data
            this._testM3u8(res.data.data)
          } else {
            this.videoUrl = this.details.favifilename
            this.downyb = true
          }
        })
    },
    _testM3u8(arr) {
      axios.get(arr[this.listIndex].favifilename, {}, { timeout: 3000 })
        .then(res => {
          // 判断m3u8是否有效，包含http说明含有效内容
          if (res.data.indexOf("http") === -1) {
            this.listIndex += 1
            if (this.listIndex < arr.length) {
              return this._testM3u8(arr)
            } else if (this.listIndex >= arr.length && this.issIndex < this.issueList.length - 1) {
              this.issIndex++
            } else {
              this.videoUrl = this.details.favifilename
              this.downyb = true
            }
          } else {
            let matchReg = res.data.split("\n").filter(item => {
              return item.indexOf("http") !== -1
            })
            let fst_url = matchReg[0]
            axios.get(fst_url)
              .then(req => {
                if (!req.data.error) {
                  this.videoUrl = arr[this.listIndex].favifilename
                } else {
                  return this._testM3u8(arr)
                }
              })
          }
        })
        .catch(e => {
          this.listIndex += 1
          if (this.listIndex < arr.length) {
            return this._testM3u8(arr)
          } else if (this.listIndex >= arr.length && this.issIndex < this.issueList.length - 1) {
            this.issIndex++
          } else {
            this.videoUrl = this.details.favifilename
            this.downyb = true
          }
        })
    },
    _videoerror() {
      this.videoFlag = false
    },
    _videosuccess() {
      this.videoFlag = true
    },
  },
  watch: {
    videoUrl(val) {
      this.showPlayer = false
      this.loading = true
      setTimeout(() => {
        this.showPlayer = true
        this.loading = false
      }, 500)
    },
    issIndex(val) {
      this._getPlayUrl(this.issueList[val])
    }
  },
}
</script>
<style>
.tz-dialog .ill img {
  width: 100%;
}
.tz-dialog .ill {
  line-height: 26px !important;
  display: inline-block;
  padding-top: 6px;
}
.article img {
  max-width: 680px;
}
</style>

<style lang="scss" scoped>
.tz-dialog {
  .view-warp {
    display: flex;
  }
  .info-warp {
    flex-grow: 1;
    padding-left: 20px;
    overflow: auto;
    .el-form-item {
      margin-bottom: 0px;
    }
  }
  .article {
    width: 700px;
    overflow: hidden;
  }
  .imgBlock {
    width: 700px;
    overflow: hidden;
    .vue-cropper {
      height: 600px;
    }
    img {
      max-width: 100%;
    }
  }
}
</style>