<template>
  <div class="approval-table">
    <el-dialog
      width="1000px"
      title=""
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div class="text-right">
        <el-button type="primary" @click="_printme" icon="el-icon-printer">打印</el-button>
      </div>
      <div
        ref="tableView"
        style="width:100%">
        <div>
          <h2 style="text-align:center">{{ registrationForm.fname }}</h2>
          <p style="text-align:center">（ {{ registrationForm.fnumber }} ）</p>
          <table
            width="100%"
            border="1"
            cellspacing="0"
            cellpadding="10">
            <tr>
              <th colspan="2">登记时间</th>
              <th colspan="5">{{ fcreatetime }}</th>
            </tr>
            <tr>
              <th colspan="2">来源分类</th>
              <th colspan="5">
                <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
              </th>
            </tr>
            <tr>
              <th rowspan="9" width="140px">线索提供人</th>
              <th rowspan="5" width="20px">投诉举报人</th>
              <th colspan="2" width="40px">个人姓名</th>
              <td>
                {{ 
                  registrationForm.ffromtype === '20'
                  && registrationForm.fpersontype === '10'
                  ? registrationForm.fpersonname
                  : ''
                }}
              </td>
              <th width="100px">证件号码</th>
              <td>
                {{
                  registrationForm.ffromtype === '20'
                  && registrationForm.fpersontype === '10'
                  ? registrationForm.fpersoncard
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th rowspan="2">单位</th>
              <th width="40px">名称</th>
              <td colspan="3">
                {{
                  registrationForm.ffromtype === '20'
                  && registrationForm.fpersontype === '20'
                  ? registrationForm.fpersoncompany
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th colspan="2">法定代表人（负责人）</th>
              <td colspan="2">
                {{
                  registrationForm.ffromtype === '20'
                  && registrationForm.fpersontype === '20'
                  ? registrationForm.fpersonname
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th colspan="2">联系电话</th>
              <td>
                {{
                  registrationForm.ffromtype === '20'
                  ? registrationForm.fpersonmobile
                  : ''
                }}
              </td>
              <th>邮政编码</th>
              <td>
                {{
                  registrationForm.ffromtype === '20'
                  ? registrationForm.fpersonpostcode
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th colspan="2">联系地址</th>
              <td colspan="3">
                {{
                  registrationForm.ffromtype === '20'
                  ? registrationForm.fpersonadress
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th rowspan="4">移送、交办机关</th>
              <th colspan="2">名称</th>
              <td colspan="3">
                {{
                  registrationForm.ffromtype === '30'
                  || registrationForm.ffromtype === '40'
                  ? registrationForm.fpersoncompany
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th colspan="2">联系人</th>
              <td>
                {{
                  registrationForm.ffromtype === '30'
                  || registrationForm.ffromtype === '40'
                  ? registrationForm.fpersonname
                  : ''
                }}
              </td>
              <th>邮政编码</th>
              <td>
                {{
                  registrationForm.ffromtype === '30'
                  || registrationForm.ffromtype === '40'
                  ? registrationForm.fpersonpostcode
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th colspan="2">联系电话</th>
              <td colspan="3">
                {{
                  registrationForm.ffromtype === '30'
                  || registrationForm.ffromtype === '40'
                  ? registrationForm.fpersonmobile
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th colspan="2">联系地址</th>
              <td colspan="3">
                {{
                  registrationForm.ffromtype === '30'
                  || registrationForm.ffromtype === '40'
                  ? registrationForm.fpersonadress
                  : ''
                }}
              </td>
            </tr>
            <tr>
              <th>线索摘要登记</th>
              <td colspan="6">
                <pre style="white-space:pre-wrap;word-wrap:break-word;word-break: break-all;">{{ registrationForm.fregistercontents }}</pre>
                <p style="text-align:right;">登记人：{{ registrationForm.fregisterpersonname || $store.state.userInfo.fname }}</p>
                <p style="text-align:right">{{ fcreatetime }}</p>
              </td>
            </tr>
            <tr>
              <th>签批</th>
              <td colspan="2">
                <p style="text-align:right;">部门负责人：{{ registrationForm.fregistersignpersonname }}</p>
                <p style="text-align:right">  年   月   日</p>
              </td>
              <th colspan="2">初核人签收</th>
              <td colspan="2">
                <p style="text-align:right;">初核人：{{ registrationForm.fcheckpersonname }}</p>
                <p style="text-align:right">  年   月   日</p>
              </td>
            </tr>
            <tr>
              <th>初核及办理建议</th>
              <td colspan="6">
                <pre style="white-space:pre-wrap;word-wrap:break-word;word-break: break-all;">{{ registrationForm.fcreateinfo }}</pre>
                <p style="text-align:right;">初核人：{{ registrationForm.fcheckpersonname }}</p>
                <p style="text-align:right">  年   月   日</p>
              </td>
            </tr>
            <tr>
              <th>签批</th>
              <td colspan="2">
                <p style="text-align:right;">部门负责人：{{ registrationForm.fapprovalpersonname }}</p>
                <p style="text-align:right">  年   月   日</p>
              </td>
              <th colspan="2">承办人签收</th>
              <td colspan="2">
                <p style="text-align:right;margin-right:60px;">承办人人：</p>
                <p style="text-align:right">  年   月   日</p>
              </td>
            </tr>
            <tr>
              <th>备注</th>
              <td colspan="6">
                <pre style="white-space:pre-wrap;word-wrap:break-word;word-break: break-all;">{{ registrationForm.remark }}</pre>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','registrationForm'],
  computed: {
    fcreatetime:function(){
      return this.$dayjs(new Date(this.registrationForm.fcreatetime)).format('YYYY年M月D日')
    }
  },
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    },
    _printme(){
      var printData = this.$refs.tableView.innerHTML //获得 div 里的所有 html 数据
      var win = window.open('')
      win.document.write(printData)
      win.print()
    }
  }
}
</script>
