<template>
  <div class="back-form">
    <el-dialog
      width="1000px"
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <h2 style="text-align:center">关于{{backForm.fdillegalmedianame}}涉嫌违法广告线索退回（补正）的函</h2>
        <p style="text-align:center">（ 工商广退字 {{ backForm.fdnum }} 号）</p>
        <p>{{ backForm.fdgetpersonname }}:</p>
        <p>你单位移送（转办）{{backForm.fdillegalmedianame}}已收悉，经核查，因反映情况不属于我局管辖（线索不清/资料不全）,现予以退回（补正）。请于{{backForm.fdendtime}}前向我局补充资料，以便进一步处理。</p>
        <p style="float:left">附件：</p><pre style="display:inline-block" v-html="backForm.fdcontent"></pre>
        <p>联系人：<span class="text-ul"> {{ backForm.fdpersonname }} </span>  联系电话：<span class="text-ul"> {{ backForm.fdpersonmobile }} </span></p>
        <p class="text-right" v-text="backForm.fdreleasecompany"></p>
        <p class="text-right" v-text="backForm.fdbacktime"></p>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','backForm'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
