<template>
  <div class="clue-disposal-table">
    <el-dialog
      width="1000px"
      title=""
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <h2 style="text-align:center">涉嫌违法广告线索处置通知书</h2>
        <p style="text-align:center">（ 工商广处字{{ disposalForm.fdnum }} 号）</p>
        <p><span class="text-ul"> {{ disposalForm.fdwaitregulatorname }} </span>（市场监督管理局）：</p>
        <p>依据《工商行政管理机关行政处罚程序规定》，现将{{disposalForm.fdreportregulatorname}}举报（转来）有关{{disposalForm.fdreportmedianame}}涉嫌发布虚假违法广告的线索移交你单位调查核实，并依法查处。</p>
        <p>有关查处结果请告知举报人（转来单位），并抄报我局广告监督管理处。</p>
        <p style="float:left">附件：</p><pre style="display:inline-block" v-html="disposalForm.fdfiletext"></pre>
        <p>联系人：<span class="text-ul"> {{ disposalForm.fdpersonname }} </span>  联系电话：<span class="text-ul"> {{ disposalForm.fdpersonmobile }} </span></p>
        <p class="text-right">{{ disposalForm.fdgiveregulatorname }}</p>
        <p class="text-right">{{ disposalForm.fdmovetime }}</p>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','disposalForm','clueList'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
