<template>
  <div class="clue-transfer-table">
    <el-dialog
      width="1000px"
      title=""
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <h2 style="text-align:center">涉嫌违法广告线索移交通知书</h2>
        <p style="text-align:center">（ 工商广交字{{ transferForm.fdnum }}号）</p>
        <p><span class="text-ul"> {{ transferForm.fdwaitregulatorname }} </span>（市场监督管理局）：</p>
        <p>现将下列涉嫌违法广告线索移交你局，请依法立案查处，并将查处情况于<span class="text-ul"> {{transferForm.fdendtime}} </span>前书面反馈省工商局广告处。</p>
        <pre v-html="transferForm.fdtillegalad"></pre>
        <p style="float: left;">附件：</p><pre style="display:inline-block" v-html="transferForm.fdfiletext"></pre>
        <p>联系人：<span class="text-ul"> {{ transferForm.fdpersonname }} </span>  联系电话：<span class="text-ul"> {{ transferForm.fdpersonmobile }} </span></p>
        <p class="text-right">{{ transferForm.fdreleasecompany }}</p>
        <p class="text-right">{{ transferForm.fdmovetime }}</p>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','transferForm','clueList'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
