<template>
  <div class="cuiban-table">
    <el-dialog
      width="1000px"
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <h2 style="text-align:center">涉嫌违法广告线索处置催办通知书</h2>
        <p style="text-align:center">（ 工商广催字 {{ form.fdnum }} 号）</p>
        <p>{{ form.fdwaitregulatorname }}（市场监督管理局）:</p>
        <p>本局于{{ form.fdmovetime }}转交你局办理涉嫌违法广告线索(送达文书文号)，现已超过办结反馈期限。请你局依法处理，于{{ form.fdendtime }}之前将办理结果上报本局。</p>
        <p class="text-right" v-text="form.fdgiveregulatorname"></p>
        <p class="text-right" v-text="form.fdsendtime"></p>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','form'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
