<template>
  <div class="duban-table">
    <el-dialog
      width="1000px"
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <h2 style="text-align:center">案件督办通知书</h2>
        <p style="text-align:center">（ 工商广督字 {{ form.fdnum }} 号）</p>
        <p>{{ form.fdwaitregulatorname }}（市场监督管理局）:</p>
        <p>本局于{{form.fdmovetime}}交你局查办的{{form.fdcasename}}一案，经研究，列为本局督办案件。请你局依法处理，并按规定于{{form.fdsupervisetime}}之前将调查处理结果上报本局。</p>
        <p class="text-right" v-text="form.fdgiveregulatorname"></p>
        <p class="text-right" v-text="form.fdsendtime"></p>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','form'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
