<template>
  <div class="jiandu-table">
    <el-dialog
      width="1000px"
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <h2 style="text-align:center">涉嫌违法广告线索处理告知书</h2>
        <p style="text-align:center">（ 工商广监字 {{ form.fdnum }} 号）</p>
        <p>{{ form.fdwaitregulatorname }}（市场监督管理局）:</p>
        <p>本局于{{form.fdmovetime}}转交你局办理的涉嫌违法广告线索(送达文书文号)已超过办结期限，经本局催办(送达文书文号)，你局仍未按时报告办理结果。</p>
        <p>现依据《福建省工商行政管理机关实施〈工商行政管理机关执法监督规定〉办法》第二十二条，向你局发出执法监督通知书，请你局立即纠正不（拖延）履行法定职责的行为，并于十日内向本局报告办理结果。</p>
        <p class="text-right" v-text="form.fdgiveregulatorname"></p>
        <p class="text-right" v-text="form.fdsendtime"></p>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','form'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
