<template>
  <div class="credit-data main-bg"
    v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒体名称：">
            <el-input v-model="form.medianame"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="年份：">
            <el-date-picker :editable="false"
              clearable
              style="width:100%"
              v-model="form.n"
              align="right"
              value-format="yyyy"
              type="year"
              placeholder="选择年份">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="月份：">
            <el-select v-model="form.y"
              placeholder="请选择"
              style="width:100%"
              clearable>
              <el-option v-for="(value,key) in this.$store.state.month"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="form.fmtype"
              placeholder="请选择"
              style="width:100%"
              clearable>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒介地区：">
            <el-cascader style="width:100%"
              :options="$store.state.mediaArea"
              change-on-select
              :props="$store.state.areaOptions"
              v-model="area">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="24"
          :xl="18">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              plain
              :loading="loading"
              @click="_outputData"
              icon="el-icon-download">导出数据</el-button>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              plain
              :loading="loading"
              @click="_updateData"
              icon="el-icon-refresh">更新数据</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table border
      v-loading="loading"
      :height="$store.state.GTableHeight"
      :data="tableData">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="fname1"
        label="地区"
        min-width="180">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="媒体名称"
        min-width="180">
      </el-table-column>
      <el-table-column prop="n"
        label="年份"
        min-width="180">
      </el-table-column>
      <el-table-column prop="y"
        label="月份">
      </el-table-column>
      <el-table-column prop="xypjqcf"
        min-width="130"
        label="信用评价期初分">
      </el-table-column>
      <el-table-column prop="byxypjkf"
        min-width="135"
        label="本月信用评价扣分">
      </el-table-column>
      <el-table-column prop="jzf"
        label="奖惩分">
      </el-table-column>
      <el-table-column prop="xypjqmf"
        min-width="130"
        label="信用评价期末分">
      </el-table-column>
      <el-table-column label="操作"
        width="80px">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showDetails(scope.row)"
            icon="el-icon-view">明细</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog center
      :title="details.fmedianame"
      :visible.sync="showDetails"
      @close="details = {}">
      <el-form inline
        class="demo-table-expand">
        <el-row>
          <el-col :span="8">
            <el-form-item label="媒体名称：">
              <span>{{ details.fmedianame }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="所属年份：">
              <span>{{ details.n }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="所属月份：">
              <span>{{ details.y }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="统计天数：">
              <span>{{ details.tjts }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="折合天数：">
              <span>{{ details.zhts }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="广告数量：">
              <span>{{ details.ggsl }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="违法广告数量：">
              <span>{{ details.wfggsl }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="公益广告数量：">
              <span>{{ details.gyggsl }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="广告数量违法率：">
              <span>{{ details.ggslwfl }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="广告时长面积：">
              <span>{{ details.ggscmj }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="违法广告时长面积：">
              <span>{{ details.wfggscmj }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="公益广告时长面积：">
              <span>{{ details.gyggscmj }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="广告时长面积违法率：">
              <span>{{ details.ggscmjwfl }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="次数违法率扣分：">
              <span>{{ details.cswflkf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="时长面积违法率扣分：">
              <span>{{ details.scmjwflkf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="违法广告数量扣分：">
              <span>{{ details.wfggslkf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="公益广告数量加分：">
              <span>{{ details.gyggsljf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="公益广告发布量加分：">
              <span>{{ details.gyggfbljf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="本月总扣分：">
              <span>{{ details.byzkf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="上月总扣分：">
              <span>{{ details.syzkf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="本月信用评价扣分：">
              <span>{{ details.byxypjkf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="奖惩分：">
              <span>{{ details.jzf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="信用评价期初分：">
              <span>{{ details.xypjqcf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="信用评价期末分：">
              <span>{{ details.xypjqmf }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="备注：">
              <span>{{ details.bz }}</span>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-dialog>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import axios from "axios"
import qs from "qs"
import outFile from '../common/outFile'
import { Tree } from '../../../static/js/Tree'
export default {
  components: { outFile },
  data() {
    return {
      showdownload: false,
      durl: '',
      form: {
        medianame: "",
        y: "",
        n: (new Date()).getFullYear().toString(),
        fmtype: "",
        page: 1,
        area: ''
      },
      countAll: "0",
      tableData: [],
      loading: false,
      showDetails: false,
      details: {},
      area: [],
    };
  },
  created() {
    let timer = setInterval(() => {
      if (this.$store.state.mediaArea[0]['fid']) {
        let areaid = this.$store.state.userInfo.fregulatorlevel === 30 ? this.$store.state.mediaArea[0]['fid'] : this.$store.state.userInfo.regionid
        this.area = Array.of(areaid)
        this.form.area = areaid
        this._getList()
        clearInterval(timer)
      }
    }, 100)
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true;
      this.form.page = page || 1
      let data = { ...this.form }
      data.area = this.area[this.area.length - 1]
      axios
        .post(this.$_ + "/Agp/Fxinyong/index", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list;
            this.countAll = res.data.data.count;
          } else {
            this.$func._error(res.data)
            this.tableData = [];
            this.countAll = "0";
          }
          this.loading = false;
        })
        .catch(() => {
          this.$func._error();
          this.loading = false;
        });
    },
    _updateData() {
      this.loading = true;
      axios.post(this.$_ + "/Agp/Fxinyong/update_credit", qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg);
            this._getList(1);
          } else {
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
          this.loading = false;
        })
    },
    _showDetails(obj) {
      this.showDetails = true
      this.details = obj
    },
    _outputData() {
      let data = { ...this.form }
      data.area = this.area[this.area.length - 1]
      delete data.page
      this.showdownload = true
      axios.post(this.$_ + '/Agp/Foutxls/xinyong_outxls', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('导出出错！')
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>
