<style>
    footer {
        display: flex;
        position:fixed;
		min-top: 11120px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 45px;
        border-top: 1px solid #D9D9D9;
        box-sizing: border-box;
        z-index: 9999;
        background-color: #fff;
        font-size: 12px;
        line-height: 1.42857143;
    }

    footer a {
        padding-top: 6px;
        width: 25%;
        text-align: center;
        color: #888;
        display: block;
    }

    footer a:first-child {
        color: #09BB07;
    }

    footer a i {
        font-size: 20px!important;
        /* margin-bottom: 5px; */
    }

    footer .fa-home {
        color: #9DDEB8;
    }

    footer .fa-trophy {
        color: #E6A870;
    }

    footer .fa-globe {
        color: #6D95D1;
    }

    footer .fa-user {
        color: #6D95D1;
    }
</style>
<footer onselectstart="return false" class="footer_menu">
    <a href="{:U('Adinput/Index/index')}"><i class="fa fa-home"></i><br>首页</a>
    <a href="{:U('Adinput/Index/index')}"><i class="fa fa-trophy"></i><br>排行榜</a>
    <a href="{:U('Adinput/Index/index')}"><i class="fa fa-globe"></i><br>发现</a>
    <a href="{:U('Adinput/Usercenter/index')}"><i class="fa fa-user"></i><br>个人中心</a>
</footer>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script>
	var initial_b_height = $(window).height();//获取初始浏览器高度
	window.onresize = function(){
		var b_height = $(window).height();//获取浏览器高度
		if(initial_b_height > b_height){
			$('.footer_menu').hide();//如果初始浏览器高度大于当前浏览器高度10像素以上就隐藏底部菜单
		}else{
			$('.footer_menu').show();//显示底部菜单
		}
	}
	

</script>