<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <style>
    .webuploader-pick{
    background: rgba(0, 0, 0, 0);
    padding: 2px 5px;
    width: 50px;
    height: 18px;
  }
  .file-close:hover{
    cursor: pointer;
    color: #000;
  }
  </style>
  <title>查证任务</title>
</head>

<body class="gray-bg">
  <div id="app" class="wrapper wrapper-content animated fadeInRight" style="padding:10px;">
    <el-row :gutter="20">
      <el-form :model="search" ref="form" label-width="80px">
        <el-col :span="6">
          <el-form-item label="案件名称">
            <el-input v-model="search.fad_name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="案件类型">
            <el-select v-model="search.fill_type" style="width:100%" clearable>
              <el-option v-for="(value,key) in filltype" :key="key" :label="value" :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="状态">
            <el-select v-model="search.fstate" style="width:100%" clearable >
              <el-option v-for="(value,key) in status" :key="key" :label="value" :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="提交时间">
            <el-date-picker
              clearable
              style="width:100%"
              v-model="searchDate"
              type="daterange"
              range-separator="至"
              value-format="yyyy-MM-dd"
              start-placeholder="开始日期"
              end-placeholder="结束日期">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="4">
            <el-button style="float:right" type="primary" @click="_getList(1)">搜索</el-button>
        </el-col>
      </el-form>
    </el-row>
    <br>
    <br>
    <el-table v-loading="loading" :data="tabledata" style="width: 100%" border>
      <el-table-column type="index" width="50">
      </el-table-column>
      <el-table-column prop="title" label="案件标题">
        <template slot-scope="scope">
          {{scope.row.fad_name}}
        </template>
      </el-table-column>
      <el-table-column label="案件类型" width="120">
        <template slot-scope="scope">
          {{filltype[scope.row.fill_type]}}
        </template>
      </el-table-column>
      <el-table-column label="要求查证工商局">
        <template slot-scope="scope">
          {{scope.row.fsend_regname}}
        </template>
      </el-table-column>
      <el-table-column label="提交日期" width="120">
        <template slot-scope="scope">
          {{scope.row.fcreate_time.substring(0,10)}}
        </template>
      </el-table-column>
      <el-table-column label="违法内容" width="120">
        <template slot-scope="scope">
          {{scope.row.fill_content}}
        </template>
      </el-table-column>
      <el-table-column label="案件附件" width="120">
        <template slot-scope="scope">
          <el-button type="text" icon="el-icon-view" @click="_fujian(scope.row,0)">附件</el-button>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="120">
        <template slot-scope="scope">
          {{status[scope.row.fstatus]}}
        </template>
      </el-table-column>
      <el-table-column label="查证结果" width="120">
        <template slot-scope="scope">
          <el-button type="text" icon="el-icon-view" v-if="scope.row.fstatus === '42'" @click="_fujian(scope.row,20)">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column label="客户" width="120">
        <template slot-scope="scope">
          {{scope.row.cr_name}}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="160" fixed="right">
        <template slot-scope="scope">
          <el-button type="primary" @click="_showModal(scope.row)">处理</el-button>
          <el-button type="primary" @click="_jbinfo(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background layout="prev, pager, next" :page-size="20" :current-page="Number(search.page)"
      @current-change="_getList">
    </el-pagination>
    <file-dialog v-if="showFiles" @close="showFiles = false" :data="filedata"></file-dialog>
    <files-dialog v-if="Files" @close="Files = false;desc = ''" :desc="desc" :data="files"></files-dialog>
    <cz-deal v-if="dealDialog" :data="details" @close="dealDialog = false;_getList(1)"></cz-deal>
    <ajxsxq v-if="showDetails" :data="Details" :iscz="true" @close="showDetails = false"></ajxsxq>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}Vue/vue.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script>
    var UPLOAD_OPTION = {:json_encode($file_up)};
  </script>
  <script src="/Application/Admin/View/ChazhengTask/components.js"></script>
  <script src="/Application/Admin/View/ChazhengTask/index.js"></script>
</body>

</html>