<template>
  <div class="shangbao">
    <el-dialog
      center
      title="申请延期"
      :visible.sync="showUpload"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <div>
        <div class="explain-text">
          <h4>【延期申请】系统操作注意事项：</h4>
          <p>1、一般案件应当自立案之日起90日内作出处理决定；</p>
          <p>2、案情复杂或存在其他情况，经部门负责人批准，上传批准申请材料后，反馈截止日期可延长30日；</p>
          <p>3、案情特别复杂或其他特殊情况的，经部门负责人集体讨论是否继续延期后，可进行再次延期申请；</p>
          <p>4、必须在距离反馈截止日期少于15天内（含15天）进行申请；</p>
          <p>5、已超期的线索无法申请；</p>
          <p>6、处于“立案调查中”的环节才可申请。</p>
        </div>
        <div style="display: flex;align-items: center">
          <span>申请材料：</span>
          <upload @uploadSuccess="_uploadSuccess" style="margin-bottom: 0px"></upload>
        </div>
      </div>
      <br>
      <el-table :data="attachInfo" border>
        <el-table-column
          prop="fattachname"
          label="文件名称">
        </el-table-column>
        <el-table-column
          width="80px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"  @click="_deleteFile(scope.row)" icon="el-icon-delete">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submit()">申 请</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import upload from "../../Ggsjzx/common/_upload"
export default {
  components: {
    upload
  },
  props: {
    fid: {
      default: '',
      type: [String, Number],
    },
  },
  data() {
    return {
      show: true,
      attachInfo: [],
      changeAttachInfo: [],
      showUpload: true,
    };
  },
  created() {
  },
  methods: {
    submit() {
      const data = {
        fid: this.fid,
        attachinfo: this.changeAttachInfo
      }
      axios.post(this.$_ + '/Agp/Ncluehandle/clueActionContinueTime', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.$notify({
            title: '成功',
            message: res.data.msg,
            type: 'success'
          })
          this.$emit('close')
          this.$emit('getList')
        } else {
          this.$func._error(res.data.msg)
        }
      })
      .catch(() => {
        this.$func._error()
        this.$emit('close')
      })
    },
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = Obj.url + file.response.key
      this.attachInfo.unshift(obj)
      this.changeAttachInfo.push(obj)
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
      .then(() => {
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fattachurl !== obj.fattachurl
        });
        this.changeAttachInfo = this.changeAttachInfo.filter(item => {
          return item.fattachurl !== obj.fattachurl
        });
      })
      .catch(() => {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      });
    },
    _close() {
      if(!this.changeAttachInfo.length){
        this.$emit('close')
        return false
      }
      this.$confirm(`关闭弹窗将舍弃已上传的文件，是否继续关闭？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
      .then(() => {
        this.$emit('close')
      })
      .catch(() => {
        this.$message({
          type: "info",
          message: "已取消"
        });
      });
    },

  },
};
</script>

<style scoped lang="scss">
.shangbao{
  .explain-text{
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fef0f0;
    color:#f56c6c;
    line-height: 26px;
    p{
      margin: 0;
    }
  }
}
</style>