<template>
  <div class="clue-deal">
    <el-dialog :title="fid ?  '继续登记' : '登记'"
      center
      top="8vh"
      :before-close="_close"
      :visible.sync="show"
      :close-on-click-modal="false"
      width="1160px">
     <div style="height: 100%" v-loading="loading"
      element-loading-text="加载中..." class="content">
        <el-form label-width="154px" :model="form" ref="form" :rules="rules">
          <el-row>
            <el-col :span="8">
              <el-form-item label="交办单号" prop="fnum">
                <el-input v-model="form.fnum" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="交办日期">
                 <el-date-picker
                  clearable
                  style="width: 100%"
                  v-model="form.fhandover_date"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="选择日期">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="接收机构">
                <el-select
                  style="width: 100%"
                  placeholder="请选择接收机构（必选）"
                  @change="selectOrg"
                  v-model="form.fhandle_regulatorname">
                  <el-option v-for="item in orgList" :key="item.fid" :label="item.fname" :value="item.fname"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-col :span="8">
                <el-form-item label="反馈截止日期">
                    <el-date-picker
                      style="width: 100%"
                      v-model="form.fendtime"
                      type="date"
                      value-format="yyyy-MM-dd"
                      placeholder="选择日期">
                    </el-date-picker>
                  </el-form-item>
              </el-col>
              <el-col :span="16">
                <el-form-item label="交办方式">
                  <div style="display: flex;justify-content: flex-start">
                    <span>
                      <el-checkbox-group v-model="checkList">
                        <el-checkbox label="平台"></el-checkbox>
                        <el-checkbox label="寄送"></el-checkbox>
                      </el-checkbox-group>
                    </span>
                    <el-input v-if="checkList.indexOf('寄送') != -1" v-model="jsnum" placeholder="请输入寄送的信件号" clearable style="width: 45%;margin-left: 30px"></el-input>
                  </div>
                </el-form-item>
              </el-col>
            </el-col>
            <el-col :span="24">
              <el-form-item label-width="60px">
              <div class="tips-info">* 注意：设置反馈截止日期后，用户必须在该日期之内完成处理；未设置反馈截止日期时，按默认规则实行，
                默认规则为：1、线索下发之日起第10天为反馈截止日期。
                2、线索转入“核查中”时，反馈截止日期根据当前处理日期，自动往后延期30天。
                3、线索转入“立案调查”时，反馈截止日期根据线索的立案调查日往后延期90天。
                <span class="triangle-up"></span>
                </div>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="线索来源">
                <el-radio-group v-model="form.fget_types">
                  <el-radio v-for="(item,index) in clueSource" :label="item" :key="index"></el-radio>
                </el-radio-group>
                <div style="display: flex;">
                  <el-select v-model="sjjc" v-if="form.fget_types == '上级监测'" clearable style="width: 240px;margin-right: 10px">
                    <el-option v-for="(item, index) in monitor"
                      :key="index"
                      :label="item"
                      :value="item">
                    </el-option>
                  </el-select>
                  <el-input v-model="qttext" v-if="form.fget_types == '其他'" style="width:36%;" clearable placeholder="请输入其他线索来源"></el-input>
                </div>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="移送或提供线索单位">
                <el-input v-model="form.ftipoffs_unit" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="投诉或举报方">
                <el-input v-model="form.ftipoffs_user" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="投诉或举报方联系方式">
                <el-input v-model="form.ftipoffs_phone" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="广告主">
                <el-input v-model="form.fadowner_name" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="广告内容">
                <el-input v-model="form.fadname" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="广告发布者">
                <el-input v-model="form.fadsend_user" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="广告类型">
                <el-select v-model="form.fadtypes" placeholder="请选择广告类型" style="width: 100%">
                  <el-option v-for="(item,index) in adType"
                    :key="index"
                    :label="item"
                    :value="item">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="刊播时间">
                <el-input v-model="form.fadissue_date" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="落地链接">
                <el-input v-model="form.ftarget_url" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="广告条目数">
                <el-input v-model="form.fadissue_times" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="16" style="height: 47px">
              <el-col :span="12">
                <el-form-item label="商品/服务类别">
                  <el-select v-model="fadclass" placeholder="请选择商品/服务类别" clearable style="width: 100%">
                    <el-option v-for="(item, index) in $store.state.NJadType"
                      :key="index"
                      :label="item"
                      :value="item">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label-width="10px">
                  <el-input
                    v-model="customtype"
                    v-if="fadclass == '自定义'" type="text"
                    style="width: 100%;" placeholder="自定义类别" clearable/>
                </el-form-item>
              </el-col>
            </el-col>
            <el-col :span="24">
              <el-form-item label="附件材料">
                <upload @uploadSuccess="_uploadSuccess"></upload>
                <el-table
                  v-if="attachInfoNew.length != 0"
                  :data="attachInfoNew" border>
                  <el-table-column prop="fattachname" label="文件名称">
                    <template slot-scope="scope">
                      <a :href="scope.row.fattachurl" style="color: #00c1de" target="_blank">{{ scope.row.fattachname }}</a>
                    </template>
                  </el-table-column>
                  <el-table-column width="80px" label="操作">
                    <template slot-scope="scope">
                      <el-button type="text"
                        @click="_deleteFile(scope.row)"
                        icon="el-icon-delete">删除</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div style="text-align: center">
            <el-button type="primary" @click="save(true)">保 存</el-button>
            <el-button type="success" @click="save(false)">下发</el-button>
            <el-button type="danger" @click="_close()">关闭</el-button>
        </div>
     </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import upload from "../../Ggsjzx/common/_upload"
export default {
  props: {
    fid: {
      default: '',
      type: [String,Number]
    },
  },
  components: { upload },
  data() {
    return {
      show: true,
      countAll: "0",
      tableData: [],
      page: 1,
      loading: false,
      form:{
        fnum: '',
        fget_types: '自行发现',
        fhandover_date: this.$dayjs().format('YYYY-MM-DD'),
        fendtime: '',
        ftipoffs_unit: '',
        ftipoffs_user: '',
        ftipoffs_phone: '',
        fadowner_name: '',
        fadsend_user: '',
        fadtypes: '',
        fadname: '',
        fadissue_date: '',
        ftarget_url: '',
        fadissue_times: '',
        fhandle_regulatorid: '',
        fhandle_regulatorname: '',
      },
      radio: '',
      fadclass: '',
      rules: {
        fnum: [
          { required: true, message: '请输入交办单号', trigger: 'blur' },
        ]
      },
      orgList: [],
      jsnum:'',
      sjjc:'总局传统媒体广告监测平台',
      qttext: '',
      customtype:'',
      checkList:[],
      attachInfo: [],
      adType: ['电视', '广播', '报纸', '户外', '互联网PC端', '互联网移动端-公众号', '互联网移动端-APP', '互联网移动端-移动H5', '互联网移动端-其他','其他'],
      monitor: ['总局传统媒体广告监测平台', '总局互联网广告监测平台', '总局移动互联网广告监测平台', '江苏省互联网广告监控平台','其他平台' ],
      clueSource: ['自行发现', '其他单位移送', '总局交办' ,'省局交办', '上级监测', '直接投诉或举报', '其他'],
    }
  },
  created() {
    this._getSameOrg()
    if(this.fid) this.getData()
  },
  computed: {
    attachInfoNew() {
      const arr = this.attachInfo.filter(i => {
        return i.fattachstatus !== 0
      })
      return arr
    }
  },
  methods: {
    getData(){
      this.loading = true
      axios.post(this.$_ + '/Agp/Ncluehistory/clueView', JSON.stringify({ fid: this.fid }))
      .then(res => {
        if (res.data.code === 0) {
          Object.keys(this.form).forEach(i => {
            this.form[i] = res.data.data[i]
          })
          // 接收机构处理
          this.form.fhandle_regulatorid = res.data.data.fget_regulatorid
          this.form.fhandle_regulatorname = res.data.data.fget_regulator
          // 交办方式处理
          let checkListArr = res.data.data.fhandover_types.split('；')
          this.checkList = checkListArr.map(i => {
            if(i.indexOf('寄送') != -1) {
              const sindex = i.indexOf('（') + 1
              const eindex = i.indexOf('）')
              const cutstr = i.substring(sindex, eindex)
              this.jsnum = cutstr
              i = '寄送'
            }
            return i
          })
           // 线索来源处理
          let source = res.data.data.fget_types
          if(/其他（/g.test(source)) {
            const sindex = source.indexOf('（') + 1
            const eindex = source.indexOf('）')
            const cutstr = source.substring(sindex, eindex)
            this.qttext = cutstr
            this.form.fget_types = '其他'
          }
          if(source.indexOf('上级监测') != -1) {
            const sindex = source.indexOf('（') + 1
            const eindex = source.indexOf('）')
            const cutstr = source.substring(sindex, eindex)
            this.sjjc = cutstr
            this.form.fget_types = '上级监测'
          }
          // 商品服务类别自定义处理
          const customTypeStr = res.data.data.fadclass_name
          if(this.$store.state.NJadType.indexOf(customTypeStr) > -1) {
            this.fadclass = customTypeStr
          } else {
            this.fadclass = '自定义'
            this.customtype = customTypeStr
          }
          // 附件材料
          this.attachInfo = res.data.data.线索登记.cluefile.map( i => {
            i.fattachstatus = 1
            return i
          })
          this.loading = false
        } else {
          this.$func._error(res.data.msg)
          this.loading = false
        }
      })
      .catch((err) => {
        this.loading = false
        this.$func._error()
        this._close()
      })
    },
    formData() {
     if(this.form.fget_types === '上级监测'){
        this.form.fget_types = `上级监测（${this.sjjc}）`
     } else if(this.form.fget_types === '其他' && this.qttext != '') {
        this.form.fget_types = `其他（${this.qttext}）`
     } else {
     }
      const data = {
        ...this.form,
      }
      let checkListNew = this.checkList.concat()
      if(checkListNew.indexOf('寄送') != -1 && this.jsnum != '') {
        const index = checkListNew.indexOf('寄送')
        checkListNew[index] = checkListNew[index].replace('寄送', `寄送（${this.jsnum}）`)
      }
      if(this.fadclass == '自定义') {
        data.fadclass_name = this.customtype
      } else {
        data.fadclass_name = this.fadclass
      }
      data.fhandover_types = checkListNew.join('；')
      data.attachinfo = this.attachInfo
      if(this.fid) data.fid = this.fid
      return data
    },
    save(val) {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let data = this.formData()
          if(val) {
            this._save(data, false)
          } else {
            this.$confirm('确认要进行下发操作吗?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this._save(data, true)
            }).catch(() => {
            })
          }
        } else {
          return false
        }
      })
    },
    _save(data, bool){
      this.loading = true
      data.gotype = bool ? 1 : 0
      axios.post(this.$_ + '/Agp/Ncluelist/clueAction', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.$notify({
            title: '成功',
            message: res.data.msg,
            type: 'success',
            duration: 1000,
          })
          this.loading = false
          this.clearForm()
          if(bool || this.fid) {
            this._close()
          }
        } else {
          this.loading = false
          this.$func._error(res.data.msg)
        }
      })
      .catch(() => {
        this.loading = false
        this.$func._error()
      })
    },
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachstatus = 2
      obj.fattachurl = Obj.url + file.response.key
      this.attachInfo.push(obj)
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
      .then(() => {
        if(obj.fattachstatus === 2) {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl
          })
        } else {
          this.attachInfo = this.attachInfo.map(item => {
            if(item.fattachurl == obj.fattachurl) {
              item.fattachstatus = 0
            }
            return item
          })
        }
      })
      .catch(() => {
        this.$message({
          type: "info",
          message: "已取消删除"
        })
      })
    },
    _getSameOrg(){
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
      .then(res => {
        if(res.data.code === 0){
          this.orgList = res.data.data
          if(res.data.data.length && !this.fid){
            this.form.fhandle_regulatorid = res.data.data[0].fid
            this.form.fhandle_regulatorname = res.data.data[0].fname
          }
        }
      })
      .catch(err =>{
      })
    },
    selectOrg(value) {
      const arr = this.orgList.filter(i =>{
        return  i.fname == value
      })
      this.form.fhandle_regulatorid = arr[0].fid
    },
    clearForm() {
      this.form = {
        fnum: '',
        fget_types: '自行发现',
        fhandover_date: this.$dayjs().format('YYYY-MM-DD'),
        fendtime: '',
        ftipoffs_unit: '',
        ftipoffs_user: '',
        ftipoffs_phone: '',
        fadowner_name: '',
        fadsend_user: '',
        fadtypes: '',
        fadname: '',
        fadissue_date: '',
        ftarget_url: '',
        fadissue_times: '',
        fhandle_regulatorid: '',
        fhandle_regulatorname: '',
      }
      this.fadclass = ''
      this.jsnum = ''
      this.qttext = ''
      this.sjjc = '总局传统媒体广告监测平台'
      this.customtype = ''
      this.checkList = []
      this.attachInfo = []
    },
    _close() {
      this.$emit('close')
      this.$refs.form.resetFields()
      this.$emit('getList')
    },
    getXmonthToday(type) {
      // type 0 是当天 -1 是上个月   1是下个月
      var now = new Date(); // 可以传值调式 now = new Date(2019,2,30); 今天是3月30号
      var year = now.getFullYear();//getYear()+1900=getFullYear()
      var month = now.getMonth() + 1;//0-11表示1-12月
      var day = now.getDate(); // 当天日期
      if (parseInt(month) < 10) {
        month = "0" + month;
      }
      if (parseInt(day) < 10) {
        day = "0" + day;
      }
      now = year + '-' + month + '-' + day; // 如果取当月日期可直接 return 返回

      var preMonth = parseInt(month)  - 1;
      preMonth = preMonth < 10 ? '0' + preMonth : preMonth; // 获取上个月的值
      var nextMonth = parseInt(month) + 1;
      nextMonth = nextMonth < 10 ? '0' + nextMonth : nextMonth; // 获取下个月个月的值

      if (parseInt(month) == 1 && type == -1) {//如果是1月份，要上个月 ，则取上一年的12月份
        return (parseInt(year) - 1) + '-12-' + day;
      } else if (parseInt(month) == 12 && type == 1) { // 如果是12月，要下个月，取下一年的1月
        return (parseInt(year) + 1) + '-01-' + day;
      }

      var preSize  = new Date(year, parseInt(month) - 1, 0).getDate();//上月总天数
      var nextSize = new Date(year, parseInt(month)+ 1, 0).getDate();//下月总天数
      if (preSize < parseInt(day) && type == -1) {// 取上个月，如果上个月总天数小于本月今天，取上个月最后一天
        return year + '-' + preMonth + '-' + preSize;
      } else if (nextSize < parseInt(day) && type == 1) { // 如果下个月总天数小于本月今天，取下个月最后一天
        return year + '-' + nextMonth + '-' + nextSize;
      }
      if (type == -1) {
        return year + '-' + preMonth + '-' + day;
      } else if (type == 1) {
        return year + '-' + nextMonth + '-' + day;
      }else if(type == 0){
        return now;
      }
    }
  },
}
</script>
<style lang="scss">
  .clue-deal{
    .content{
      &/deep/.el-form-item--mini.el-form-item {
        margin-bottom: 12px;
      }
      &/deep/.tips-info{
        color: red;
        border-radius: 6px;
        padding: 8px 10px;
        display: inline-block;
        background: #fef0f0;
        position: relative;
      }
      .triangle-up{
        position: absolute;
        top: -30px;
        left: 20px;
        border: 20px solid transparent;
        border-bottom: 20px solid #fef0f0;
        width:0;
        height:0;
      }
    }
  }
</style>