<template>
  <div class="view-detail">
    <el-dialog :title="dealShow ? '线索处理' : '详 情'"
      center
      top='8vh'
      :before-close="_colse"
      :visible.sync="show"
      width="1280px">
     <div class="content-wrap" v-loading="loading"
      element-loading-text="加载中...">
        <div class="detail-content">
          <el-form label-width="156px">
            <el-row>
              <el-col :span="12">
                <el-form-item label="交办单号:">
                  <span>{{ detailData.fnum }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="交办日期:">
                  <span>{{ detailData.fhandover_date }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="交办方式:">
                  <span>{{ detailData.fhandover_types }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="线索来源:">
                  <span>{{ detailData.fget_types }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="移送或提供线索单位:">
                  <span>{{ detailData.ftipoffs_unit }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="投诉或举报方:">
                  <span>{{ detailData.ftipoffs_user }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="投诉或举报方联系方式:">
                  <span>{{ detailData.ftipoffs_phone }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="广告主:">
                  <span>{{ detailData.fadowner_name }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="广告发布者:">
                  <span>{{ detailData.fadsend_user }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="广告类型:">
                  <span>{{ detailData.fadtypes }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="商品/服务类别:">
                  <span>{{ detailData.fadclass_name }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="广告内容:">
                  <span>{{ detailData.fadname }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="刊播时间:">
                  <span>{{ detailData.fadissue_date }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12" style="height: 38px">
                <el-form-item label="落地链接:">
                  <div class="url-style"><a :href="detailData.ftarget_url" target="_blank" style="color: #409EFF">{{ detailData.ftarget_url }}</a></div>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="广告条目数:">
                  <span>{{ detailData.fadissue_times }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12" v-if="dealTag === 'xsdj'">
                <el-form-item label="登记人:">
                  <span>{{ detailData.finput_user }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12" v-if="dealTag === 'xsdj'">
                <el-form-item label="登记日期:">
                  <span>{{ detailData.finput_date }}</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                  <el-form-item label="反馈截止日期:">
                    <span>{{ detailData.fendtime }}</span>
                  </el-form-item>
                </el-col>
              <div v-if="dealTag !== 'xsdj'">
                <el-col :span="12">
                  <el-form-item label="下发日期:">
                    <span>{{ detailData.fpush_date }}</span>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="处理状态:">
                    <span :style="{'color': $store.state.xsDealType2[detailData.fstatus].color }" v-if="detailData.fstatus">{{ $store.state.xsDealType2[detailData.fstatus].val }}</span>
                  </el-form-item>
                </el-col>
                <el-col :span="12" v-if="detailData.fstatus != 50">
                  <el-form-item label="当前处理机构:">
                    <span>{{ detailData.fcreatetrepname }}</span>
                  </el-form-item>
                </el-col>
                 <el-col :span="12" v-if="detailData.fstatus == 50">
                  <el-form-item label="反馈机构:">
                    <span>{{ detailData.fhandle_regulator }}</span>
                  </el-form-item>
                </el-col>
                <el-col :span="12" v-if="detailData.fstatus == 50">
                  <el-form-item label="办结日期:">
                    <span>{{ detailData.fhandle_enddate }}</span>
                  </el-form-item>
                </el-col>
                <el-col :span="12" v-if="detailData.fstatus == 50">
                  <el-form-item label="反馈结果:">
                    <span>{{ detailData.fhandle_result }}</span>
                  </el-form-item>
                </el-col>
              </div>
              <el-col :span="24" v-if='detailData.线索登记.cluefile.length != 0'>
                <el-form-item label="附件材料:">
                    <a :href="item.fattachurl"
                    title="点击下载"
                    target="_blank"
                    v-for="(item,index) in detailData.线索登记.cluefile" :key="index">
                    <el-tag style="margin-right: 10px;">{{ item.fattachname }} </el-tag></a>
                </el-form-item>
              </el-col>
              <el-col :span="24" v-if='detailData.yanqifile.length > 0'>
                <el-form-item label="延期申请材料:">
                  <a :href="item.fattachurl"
                    title="点击下载"
                    target="_blank"
                    v-for="(item,index) in detailData.yanqifile" :key="index">
                    <el-tag style="margin-right: 10px;">{{ item.fattachname }} {{ $dayjs(detailData.fuploadtime).format('YYYY-MM-DD') }}</el-tag></a>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <div>
            <table style="border-color:#dcdfe6;color:#606266;margin-bottom: 20px"
              v-if='JSON.stringify(xshcFile) !== "{}"'
              border='1'
              width="100%"
              cellspacing="0"
              cellpadding="6">
              <tr>
                <td width="20%">核查日期</td>
                <td  width="30%">核查意见</td>
                <td  width="30%">核查材料</td>
                <td width="20%">备注</td>
              </tr>
              <tr>
                <td>{{ xshcFile.fcreatetime }}</td>
                <td>{{ xshcFile.fcreateinfo }}</td>
                <td>
                  <a :href="item.fattachurl"
                    title="点击下载"
                    target="_blank"
                    v-for="(item,index) in xshcFile.cluefile" :key="index">
                    <el-tag style="margin-right: 10px;">{{ item.fattachname }} </el-tag></a>
                </td>
                <td>{{ xshcFile.freason }}</td>
              </tr>
            </table>
            <table style="border-color:#dcdfe6;color:#606266;margin-bottom: 20px"
              v-if='JSON.stringify(xslaFile) !== "{}"'
              border='1'
              width="100%"
              cellspacing="0"
              cellpadding="6">
              <tr>
                <td width="20%">立案日期</td>
                <td width="30%">立案意见</td>
                <td width="30%">立案材料</td>
                <td width="20%">备注</td>
              </tr>
              <tr>
                <td>{{ xslaFile.fcreatetime }}</td>
                <td>{{ xslaFile.fcreateinfo }}</td>
                <td>
                  <a :href="item.fattachurl"
                    title="点击下载"
                    target="_blank"
                    v-for="(item,index) in xslaFile.cluefile" :key="index">
                    <el-tag style="margin-right: 10px;">{{ item.fattachname }} </el-tag></a>
                </td>
                <td>{{ xslaFile.freason }}</td>
              </tr>
            </table>
            <table style="border-color:#dcdfe6;color:#606266;"
              v-if='JSON.stringify(xsjaFile) !== "{}"'
              border='1'
              width="100%"
              cellspacing="0"
              cellpadding="6">
              <tr>
                <td width="20%">办结日期</td>
                <td width="30%">办结意见</td>
                <td width="30%">办结材料</td>
                <td width="20%">备注</td>
              </tr>
              <tr>
                <td>{{ xsjaFile.fcreatetime }}</td>
                <td>{{ xsjaFile.fcreateinfo }}</td>
                <td>
                  <a :href="item.fattachurl"
                    title="点击下载"
                    target="_blank"
                    v-for="(item,index) in xsjaFile.cluefile" :key="index">
                    <el-tag style="margin-right: 10px;">{{ item.fattachname }} </el-tag></a>
                </td>
                <td>{{ xsjaFile.freason }}</td>
              </tr>
            </table>
          </div>
        </div>

        <!-- 线索反馈 -->
        <div class="xsdeal-content" v-if="dealShow">
          <el-form :model="form" ref="form"  label-width="90px">
            <el-form-item label="处理方式:">
              <el-radio-group v-model="form.actiontype" v-if="detailData.fstatus == 20">
                <el-radio :label="30">核查中</el-radio>
                <el-radio :label="40">立案调查中</el-radio>
                <el-radio :label="50">已办结</el-radio>
              </el-radio-group>
              <el-radio-group v-model="form.actiontype" v-else @change='dealTypeChange'>
                <el-radio :label="30" :disabled="disabledRadio === 40 || disabledRadio === 50">核查中</el-radio>
                <el-radio :label="40" :disabled="disabledRadio === 50">立案调查中</el-radio>
                <el-radio :label="50">已办结</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label-width="8px" v-if="form.actiontype === 30">
              <div class="upload-text" v-if="detailData.fstatus == 20 && detailData.fendtime_status == 0">注意：核查截止日期为{{ $dayjs().add(30, 'day').format('YYYY-MM-DD')}}</div>
              <div class="upload-text" v-else>注意：截止日期为{{ detailData.fendtime }}</div>
            </el-form-item>
            <el-form-item label="处理结果:" v-if="form.actiontype === 50">
                <el-radio-group v-model="form.fhandle_result">
                  <el-radio label="责令停止发布"></el-radio>
                  <el-radio label="行政处罚"></el-radio>
                  <el-radio label="不予立案"></el-radio>
                  <el-radio label="移送司法机关"></el-radio>
                  <el-radio label="其他">其他</el-radio>
                </el-radio-group>
                <el-input v-model="otherResult" v-if="form.fhandle_result == '其他'" placeholder="请输入其他结果" clearable></el-input>
            </el-form-item>
            <el-form-item label="处理意见:">
              <el-input v-model="form.fcreateinfo" type="textarea" rows="4" placeholder="请填写处理意见"></el-input>
            </el-form-item>
            <el-form-item label="决定立案调查日:" v-if="form.actiontype === 40" label-width="130px">
              <el-date-picker
                clearable
                style="width: 100%"
                v-model="form.flian_date"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="附件材料:">
              <div class="upload-text" v-if="form.actiontype ===40">* 请上传立案审批表</div>
              <div class="upload-text" v-if="form.actiontype ===50">* 请上传不予立案审批表、行政处罚决定书、责令改正书等材料</div>
              <upload @uploadSuccess="_uploadSuccess"></upload>
                <el-table
                  v-if="attachInfoNew.length != 0"
                  :data="attachInfoNew"
                  border>
                  <el-table-column prop="fattachname"
                    label="文件名称">
                    <template slot-scope="scope">
                      <a :href="scope.row.fattachurl" style="color: #00c1de" target="_blank">{{ scope.row.fattachname }}</a>
                    </template>
                  </el-table-column>
                  <el-table-column width="80px"
                    label="操作">
                    <template slot-scope="scope">
                      <el-button type="text"
                        @click="_deleteFile(scope.row)"
                        icon="el-icon-delete">删除</el-button>
                    </template>
                  </el-table-column>
                </el-table>
            </el-form-item>
          </el-form>
          <div class="btn-box">
            <el-button type="success" @click="saveDeal(false)" v-if="form.actiontype !== 50">保存</el-button>
            <el-button type="primary" v-if="form.actiontype == 50" @click="saveDeal(true)">办结</el-button>
            <el-button type="danger"  @click="_colse()">关闭</el-button>
          </div>
        </div>
     </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import upload from "../../Ggsjzx/common/_upload"
export default {
  props: {
    fid: {
      default: '',
      type: [String,Number]
    },
    dealTag: {
      default: '',
      type: String,
    },
    dealShow: {
      default: false,
      type: Boolean,
    },
  },
  components:{ upload },
  data() {
    let today = this.$dayjs().format('YYYY-MM-DD')
    return {
      loading: false,
      show: true,
      detailData:{
        yanqifile: [],
        线索登记: {
          cluefile: []
        },
      },
      form:{
        actiontype: '',
        fhandle_result: '',
        fcreateinfo: '',
        flian_date: today,
      },
      otherResult:'',
      hcTableData: [],
      laTableData:[],
      xsTableData:[],
      jaTableData:[],
      attachinfo: [],
      xshcFile: {},
      xslaFile: {},
      xsjaFile: {},
      disabledRadio: '',
    }
  },
  created() {
    this.getData()
  },
  watch: {
  },
  computed: {
    attachInfoNew() {
      const arr = this.attachinfo.filter(i => {
        return i.fattachstatus !== 0
      })
      return arr
    },
  },
  methods: {
    getData() {
      this.loading = true
      axios.post(this.$_ + '/Agp/Ncluehistory/clueView', JSON.stringify({ fid: this.fid }))
      .then(res => {
        if (res.data.code === 0) {
          this.loading = false
          this.detailData = res.data.data
          const dealResult = res.data.data.fhandle_result
          if(dealResult.indexOf('（') !== -1){
            const sindex = dealResult.indexOf('（') + 1
            const eindex = dealResult.indexOf('）')
            this.otherResult = dealResult.substring(sindex, eindex)
            this.fhandle_result = '其他'
          } else {
            this.fhandle_result = dealResult
          }
          if(res.data.data.线索核查 != undefined) {
            const xshc = res.data.data.线索核查
            this.xshcFile = xshc
            this.form.actiontype = 30
            this.disabledRadio = 30
            this.form.fcreateinfo = xshc.fcreateinfo
            this.attachinfo = xshc.cluefile.map( i => {
               i.fattachstatus = 1
               return i
            })
          }
          if(res.data.data.线索立案 != undefined) {
            const xsla = res.data.data.线索立案
            this.xslaFile = xsla
            this.form.actiontype = 40
            this.disabledRadio = 40
            this.form.fcreateinfo = xsla.fcreateinfo
            this.attachinfo = xsla.cluefile.map( i => {
               i.fattachstatus = 1
               return i
            })
          }
          if(res.data.data.线索反馈 != undefined) {
            const xsja = res.data.data.线索反馈
            this.xsjaFile = xsja
            this.form.actiontype = 50
            this.disabledRadio = 50
            this.form.fcreateinfo = xsja.fcreateinfo
            this.attachinfo = xsja.cluefile.map( i => {
               i.fattachstatus = 1
               return i
            })
          }
        } else {
          this.$func._error(res.data.msg)
          this.loading = false
        }
      })
      .catch(() => {
        this.$func._error()
        this._colse()
      })
    },
    saveDeal(val) {
      if(this.form.actiontype != 30) {
        if(this.attachInfoNew.length == 0) {
          return this.$message.error('请上传相关附件！')
        }
      }
      if(this.form.fhandle_result === '其他'){
        this.form.fhandle_result = `其他（${this.otherResult}）`
      }
      const data = {
        ...this.form,
        fid: this.fid,
        attachinfo: this.attachinfo
      }
      let str = ''
      if(val){
        str = '确认要办结吗 ？'
      }
      if(!val) {
        if(this.disabledRadio == this.form.actiontype) {
          str = '确认要保存吗 ？'
        } else {
          str = this.disabledRadio ? '确认要保存该环节吗？如果确认保存该环节之前将不可更改！' : '确认要保存该环节吗？'
        }
      }
      this.$confirm(str, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
      .then(() => {
        this._saveDeal(data,val)
      })
      .catch(() => {
        this.$message({
          type: "info",
          message: "已取消"
        })
      })
    },
    _saveDeal(data,val) {
      axios.post(this.$_ + '/Agp/Ncluehandle/clueAction', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.$notify({
            title: '成功',
            message: res.data.msg,
            type: 'success'
          })
          this.clearForm()
          this.$emit('getList')
          this.getData()
          if (val) this._colse()
        } else {
          this.$func._error(res.data.msg)
        }
      })
      .catch((err) => {
        this.$func._error()
        this._colse()
      })
    },
    dealTypeChange(val) {
      switch(val) {
        case 30:
            this.attachinfo = this.xshcFile.cluefile || []
            this.form.fcreateinfo = this.xshcFile.fcreateinfo
            break;
        case 40:
            this.attachinfo = this.xslaFile.cluefile || []
            this.form.fcreateinfo = this.xslaFile.fcreateinfo
            break;
        case 50:
            this.attachinfo = this.xsjaFile.cluefile || []
            this.form.fcreateinfo = this.xsjaFile.fcreateinfo
            break;
      }
    },
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachstatus = 2
      obj.fattachurl = Obj.url + file.response.key
      this.attachinfo.push(obj)
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
      .then(() => {
        if(obj.fattachstatus === 2) {
          this.attachinfo = this.attachinfo.filter(item => {
            return item.fattachurl !== obj.fattachurl
          })
        } else {
          this.attachinfo = this.attachinfo.map(item => {
            if(item.fattachurl == obj.fattachurl) {
              item.fattachstatus = 0
            }
            return item
          })
        }
      })
      .catch(() => {
        this.$message({
          type: "info",
          message: "已取消删除"
        })
      })
    },
    clearForm() {
      this.form.fhandle_result = ''
      this.form.fcreateinfo = ''
      this.otherResult = ''
      this.attachinfo = []
    },
    _colse() {
      this.$emit('close')
    },
  }
}
</script>
<style lang="scss" scoped>
.view-detail{
  &/deep/.el-form-item--mini.el-form-item {
    margin-bottom: 10px;
  }
  .content-wrap{
    display: flex;
    .detail-content{
      flex: 1;
      .url-style{
        width: 180px;
        a{
          width: 100%;
          display:inline-block;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
      }
    }
    .xsdeal-content{
      width: 400px;
      &/deep/.el-radio + .el-radio {
        margin-left: 10px;
      }
      &/deep/.el-radio-group{
        .el-radio:nth-child(4) {
          margin-left: 0;
        }
      }
      &/deep/.el-radio {
        line-height: 2;
      }
      .upload-text{
        font-size: 13px;
        color: #F56C6C;
      }
      .btn-box{
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}
</style>