<template>
  <div>
     <el-dialog
      title="下发"
      :visible.sync="xfdialog"
      width="40%"
      :close-on-click-modal="false"
      :before-close="xfClose">
      <div v-loading="loading">
        <el-form :model="xform" ref="xform" label-width="120px">
          <el-form-item label="接收单位：">
            <el-select
              style="width: 60%"
              placeholder="请选择接收单位（必选）"
              @change="selectOrg"
              v-model="xform.fhandle_regulatorid">
              <el-option v-for="item in orgList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="处理截止日期：">
            <el-date-picker
              style="width: 60%"
              v-model="xform.fendtime"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item> -->
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="xfClose(true)">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
  export default {
    props:{
      paramData: {
        default: () => {},
        type: Object
      },
      fidArr: {
        default: () => [],
        type: Array,
      },
      tag: {
        type: Boolean,
        default: false,
      }
    },
    data() {
      return{
        loading: false,
        orgList: [],
        xform: {
          fhandle_regulatorid: '',
          fhandle_regulatorname: '',
          gotype: 1,
        },
        xfdialog: true,
      }
    },
    created() {
      this._getSameOrg()
    },
    methods:{
      submit() {
        this.$confirm('确认要进行下发操作吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let data = {
            ...this.xform,
            fid: this.fidArr
          }
          if(this.paramData) {
            data = { ...this.paramData, ...this.xform }
          }
          let url = this.paramData ? '/Agp/Ncluelist/clueAction' : '/Agp/Ncluelist/clueSelectPush'
          axios.post(this.$_ + url, JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$notify({
                title: '成功',
                message: res.data.msg,
                type: 'success'
              })
              this.xfClose()
              this.$emit('clearForm')
            } else {
              this.$func._error(res.data.msg)
            }
          })
          .catch(() => {
            this.$func._error()
            this.xfClose()
          })
        }).catch(() => {

        })
      },
      _getSameOrg(){
        this.loading = true
        axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
        .then(res => {
          if(res.data.code === 0){
            this.loading = false
            this.orgList = res.data.data
            if(res.data.data.length){
              this.xform.fhandle_regulatorid = res.data.data[0].fid
              this.xform.fhandle_regulatorname = res.data.data[0].fname
            }
          }
        })
        .catch(err =>{
           this.loading = false
        })
      },
      selectOrg(value) {
        const arr = this.orgList.filter(i =>{
          return  i.fid == value
        })
        this.xform.fhandle_regulatorname = arr[0].fname
      },
      xfClose(val) {
        if(this.tag) {
          this.$emit('close',true)
        } else {
          this.$emit('close',false)
        }
        if(!val) {
          this.$emit('getList')
        }
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>