<div class="fixed-table-container">
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">发布媒体</th>
				<th class="text-center adName">广告名称</th>
				<th class="text-center">发布时间</th>
				<th class="text-center">广告类别</th>
				<th class="text-center">违法类型</th>
				<th class="text-center">发布时长（秒）</th>
				<th class="text-center">创建人</th>
				<th class="text-center">创建时间</th>
				<th class="text-center">操作</th>
				</if>
            </tr>
        </thead>
        <tbody>
            <foreach name="bcissueList" item="bcissue">
                <tr class="mediaTr">
                    <td class="text-center">{$bcissue.k}</td>
                    <td class="text-center">{$bcissue.fmedianame}</td>
					<td class="text-center"><i class="fa fa-volume-up viewVideo" src="{$bcissue.favifilename}" aria-hidden="true" title="点击预览视频"></i>
						<span>{:r_highlight($bcissue['fadname'],I('fadname'))}<neq name="bcissue.fversion" value="">-{$bcissue.fversion}</neq></span>
					</td>
					<td class="text-center">{:date('Y-m-d H:i:s',$bcissue['fstarttime'])}</td>
					<td class="text-center">{$bcissue.fadclassfullname}</td>
					<td class="text-center">{$bcissue.fillegaltype}</td>
					<td class="text-center">{$bcissue.flength}</td>
					<td class="text-center">{$bcissue.fcreator}</td>
					<td class="text-center" title="{:date('Y-m-d H:i:s',$bcissue['fcreatetime'])}" >{:date('Y-m-d H:i',$bcissue['fcreatetime'])}</td>
					<td class="text-center operation" ad_name="{$bcissue.fadname}<neq name="bcissue.fversion" value="">-{$bcissue.fversion}</neq>"  table_name="{$bcissue.table_name}" issueid="{$bcissue.fid}">
						 <button type="button" class="btn btn-xs btn-primary issVideo" ><i class="fa fa-volume-up"></i> 发布场景</button>
									<button type="button" class="btn btn-xs btn-primary mediaName"><i class="fa fa-info"></i> 详情</button>
						<button type="button" class="btn btn-xs btn-danger deleteiss"><i class="fa fa-trash"></i> 删除</button>
					</td>
					</if>
                </tr>
            </foreach>
            <empty name="bcissueList">
                <tr class="h5 text-center text-primary">
                    <td colspan="11">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
