<!--视频预览-->
<div class="modal inmodal" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">视频预览</h4>
			</div>
			<video src="" style="width:100%" controls autoplay="autoplay">视频已损坏</video>
		</div>
	</div>
</div>
<!--发布视频预览-->
<div class="modal inmodal fade" id="videoModal2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <span class="modal-title ad_name" >发布视频预览</span>
            </div>
            <div id="Video" style="width:598px;height:489px"></div>

        </div>
    </div>
</div>
<!--详细信息弹窗-->
<div class="modal inmodal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title ad_name">广告信息</h4>
            </div>
            <div class="container-fluid">
                <br>
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">违法信息</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">其他信息</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="container-fluid">
                                <table class="table infoBlock infoTable">
                                    <tr>
                                        <th>广告名称：</th>
                                        <td id="fname"></td>
                                        <th>版本说明：</th>
                                        <td id="fversion"></td>
                                    </tr>
                                    <tr>
                                        <th>发布媒体：</th>
                                        <td id="fmediaid"></td>
                                        <th>广告主：</th>
                                        <td id="fadowner"></td>
                                    </tr>
                                    <tr>
                                        <th>开始时间：</th>
                                        <td id="fstarttime"></td>
                                        <th>结束时间：</th>
                                        <td id="fendtime"></td>
                                    </tr>
                                    <tr>
                                        <th>广告类别：</th>
                                        <td id="adclass_fullname"></td>
                                        <th>发布时长：</th>
                                        <td id="flength"></td>
                                    </tr>
                                   
                                    <tr>
                                        <th>违法类型：</th>
                                        <td class="fillegaltype"></td>
                                        <th>广告片段：</th>
                                        <td table_name="" issueid="" id="ad_source">
                                            <button class="btn btn-primary btn-xs adPice creatAD" title="点击生成广告片段"><i class="fa fa-cog"></i> 生成</button>
                                            <button class="btn btn-primary btn-xs adPice creatingAD" title="片段生成中"><i class="fa fa-spinner fa-spin"></i> 生成中</button>
                                            <a target="_blank" download class="btn btn-primary btn-xs adPice downloadAD" title="点击下载片段"><i class="fa fa-download"></i> 下载</a>
											<span style="color:#ff0000" id="ad_source_msg"></span> 
										</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="container-fluid">
                                <table class="table infoBlock infoTable">
                                    <tr>
                                        <th>违法类型：</th>
                                        <td class="fillegaltype"></td>
                                        <th>涉嫌违法内容：</th>
                                        <td id="fillegalcontent"></td>
                                    </tr>
                                    <tr>
                                        <th>违法表现代码：</th>
                                        <td id="fexpressioncodes"></td>
                                        <th>违法表现：</th>
                                        <td id="fexpressions"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <div class="container-fluid">
                                <table class="table infoBlock infoTable">
                                    <tr>
                                        <th>生产批准文号：</th>
                                        <td id="fmanuno"></td>
                                        <th>广告中标识的生产批准文号：</th>
                                        <td id="fadmanuno"></td>
                                    </tr>
                                    <tr>
                                        <th>广告批准文号：</th>
                                        <td id="fapprno"></td>
                                        <th>广告中标识的广告批准文号：</th>
                                        <td id="fadapprno"></td>
                                    </tr>
                                    <tr>
                                        <th>广告中标识的生产企业（证件持有人）名称：</th>
                                        <td id="fadent"></td>
                                        <th>生产企业（证件持有人）名称：</th>
                                        <td id="fent"></td>
                                    </tr>
                                    <tr>
                                        <th>生产企业（证件持有人）所在地区：</th>
                                        <td id="fentzone"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" id="close">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--修改信息弹窗-->
<div class="modal inmodal fade" id="changeModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改信息</h4>
            </div>
            <div class="container-fluid">
                <form class="form-horizontal m-t" id="editForm">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告名称：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入样本名称" minlength="2" type="text" class="form-control input-sm fadname" name="fadname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告主：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="adowner_name" class="form-control input-sm" id="adowner_name" placeholder="请输入广告主">
                                    <input type="hidden" name="adowner" id="adowner" value="">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告类别：</label>
                            <div class="col-sm-8">
                                <input type="text" id="adclass" name="adclass" readonly class="form-control input-sm" value="{$Think.get.adclass}" fcode="{$Think.get.adclass_code}" placeholder="请选择广告类别">
                                <input type="hidden" id="adclass_code" name="adclass_code" class="form-control input-sm" value="{$Think.get.adclass_code}">
                                <div id="adclass-select" style="display:none">
                                    <ul class="addr_tab" role="tablist">
                                    </ul>
                                    <ul class="addr_area-list">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告品牌：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入品牌" minlength="2" type="text" class="form-control input-sm fbrand" name="fbrand">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">代言人：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入代言人" minlength="2" type="text" class="form-control input-sm fspokesman" name="fspokesman">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">版本说明：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入版本说明" minlength="2" type="text" class="form-control input-sm fversion" name="fversion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">审批号：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入审批号" type="text" class="form-control input-sm fapprovalid" name="fapprovalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">审批单位：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入审批单位" type="text" class="form-control input-sm fapprovalunit" name="fapprovalunit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">播出媒体：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fmedianame2" name="fmedianame" value="{$Think.get.fmedianame}" placeholder="请输入播出媒体" data-id="{$Think.get.fmediaid}">
                                    <input type="hidden" id="fmediaid2" name="fmediaid" value="{$Think.get.fmediaid}">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">发布日期：</label>
                            <div class="col-sm-8">
                                <input id="fissuedate" placeholder="请选择发布日期" name="fissuedate" type="text" class="form-control input-sm laydate-icon" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">样本长度(s)：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入样本长度" minlength="2" type="text" class="form-control input-sm fadlen" name="fadlen">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">涉嫌违法内容：</label>
                            <div class="col-sm-8">
                                <textarea name="fillegalcontent" class="form-control fillegalcontent" cols="30" rows="3" placeholder="请输入涉嫌违法内容"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">来源：</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label><input id="fsource1" type="radio" name="fsource" value="0"> 监测</label>
                                    <label><input id="fsource2" type="radio" name="fsource" value="1"> 抽查</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">违法表现：</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-primary" id="chooseExpression">选择违法表现</button>
                                <div id="lawTip" style="margin-top:8px;height:280px;overflow-y:auto"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">状态：</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label><input id="fstate3" type="radio" name="fstate" value="1"> 有效</label>
                                    <label><input id="fstate2" type="radio" name="fstate" value="0"> 无效</label>
                                    <label><input id="fstate1" type="radio" name="fstate" value="-1"> 删除</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">素材：</label>
                            <div class="col-sm-8">
                                <!-- <button class="btn btn-xs btn-primary" type="button" id="uploadFile">上传</button> -->
                                <input type="text" class="form-control input-sm filename" placeholder="请输入素材地址(上传后自动填入)" name="favifilename">
                                <div class="btn-xs btn" id="uploadFile">上传</div>
                                <div class="waitLoadMsg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="backMsg" style="display:none">
                        <label class="col-sm-3 control-label text-danger">提示：</label>
                        <div class="col-sm-5 text-danger msg" style="padding-top:7px;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger cancel">取消</button> -->
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div>
    </div>
</div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
<script type="text/javascript" src="{:C('PUBLIC_RESOURCE')}m3u8_player/ckplayer/ckplayer.js" charset="utf-8"></script>
<script src="/Application/Admin/View/Public/common.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}adclassSelect/location.js"></script>
<script>
    "use strict";
	getAdclass('#adclass', '#adclass-select', "{:U('Api/Adclass/get_adclass_list')}", 'fcode');//广告分类选择插件
	
	
    $(function () {
        $('.creatAD').click(function(){
			$('.downloadAD').hide();
			$('.creatAD').hide();
			$('.creatingAD').show();
            var issueid = $(this).parent().attr('issueid');
			var table_name = $(this).parent().attr('table_name');
			
            $.post('{:U("Api/Issue/create_ad_part")}',{'issueid': issueid,'table_name':table_name},function(req){
                if(req.code == 0){
                    var timer = setInterval(function(){
					
                        $.post('{:U("Api/Issue/get_ad_part")}',{'issueid': issueid,'table_name':table_name},function(res){
                            if(res.code > -100){
								clearInterval(timer);
								if(res.code === 0){
									
									$('.downloadAD').attr('href',res.source_url+'?attname=').show();
									$('.creatAD').hide();
									$('.creatingAD').hide();
								}else{
									$('.downloadAD').hide();
									$('.creatAD').hide();
									$('.creatingAD').hide();
									$('#ad_source_msg').text(res.msg);
								}
								
								
								
							}
                        });
						
						
						
						
                    },2000)
                }
				
            })
        })
        $('.mediaName').click(function () {

			var issueid = $(this).parent().attr('issueid');
			var table_name = $(this).parent().attr('table_name');

			

            $.post('{:U("Admin/bcissue/ajax_bcissue_details")}', { 'issueid': issueid,'table_name':table_name }, function (req) {
                $('#fname').text(req.bcissueDetails.fadname ? req.bcissueDetails.fadname : '无');
                $('#fversion').text(req.bcissueDetails.fversion ? req.bcissueDetails.fversion : '无');
                $('#fmediaid').text(req.bcissueDetails.fmedianame ? req.bcissueDetails.fmedianame : '无');
                $('#fissuedate').text(req.bcissueDetails.fissuedate ? req.bcissueDetails.fissuedate : '无');
                $('#fstarttime').text(req.bcissueDetails.fstarttime ? req.bcissueDetails.fstarttime : '无');
                $('#fendtime').text(req.bcissueDetails.fendtime ? req.bcissueDetails.fendtime : '无');
                $('#fissuetype').text(req.bcissueDetails.fissuetype ? req.bcissueDetails.fissuetype : '无');
                $('#flength').text(req.bcissueDetails.flength ? req.bcissueDetails.flength : '无');
                $('#fquantity').text(req.bcissueDetails.fquantity ? req.bcissueDetails.fquantity : '无');
                $('#famounts').text(req.bcissueDetails.famounts ? req.bcissueDetails.famounts : '无');
                $('#fpriorad').text(req.bcissueDetails.fpriorad ? req.bcissueDetails.fpriorad : '无');
                $('#fnextad').text(req.bcissueDetails.fnextad ? req.bcissueDetails.fnextad : '无');
                $('#fpriorprg').text(req.bcissueDetails.fpriorprg ? req.bcissueDetails.fpriorprg : '无');
                $('#fnextprg').text(req.bcissueDetails.fnextprg ? req.bcissueDetails.fnextprg : '无');
                $('#fadowner').text(req.bcissueDetails.adowner ? req.bcissueDetails.adowner : '无');
				$('#adclass_fullname').text(req.bcissueDetails.adclass_fullname ? req.bcissueDetails.adclass_fullname : '无');
				
				$('.ad_name').html(req.bcissueDetails.fadname ? req.bcissueDetails.fadname : '无');
                $('.fillegaltype').text(req.bcissueDetails.fillegaltype ? req.bcissueDetails.fillegaltype : '无');
                $('#fillegalcontent').text(req.bcissueDetails.fillegalcontent ? req.bcissueDetails.fillegalcontent : '无');
                $('#fexpressioncodes').text(req.bcissueDetails.fexpressioncodes ? req.bcissueDetails.fexpressioncodes : '无');
                $('#fexpressions').text(req.bcissueDetails.fexpressions ? req.bcissueDetails.fexpressions : '无');
                $('#fmanuno').text(req.bcissueDetails.fmanuno ? req.bcissueDetails.fmanuno : '无');
                $('#fadmanuno').text(req.bcissueDetails.fadmanuno ? req.bcissueDetails.fadmanuno : '无');
                $('#fapprno').text(req.bcissueDetails.fapprno ? req.bcissueDetails.fapprno : '无');
                $('#fadapprno').text(req.bcissueDetails.fadapprno ? req.bcissueDetails.fadapprno : '无');
                $('#fadent').text(req.bcissueDetails.fadent ? req.bcissueDetails.fadent : '无');
                $('#fent').text(req.bcissueDetails.fent ? req.bcissueDetails.fent : '无');
                $('#fentzone').text(req.bcissueDetails.fentzone ? req.bcissueDetails.fentzone : '无');
				
				$('#ad_source_msg').text('');
				
				$('#ad_source').attr('table_name',table_name);
				$('#ad_source').attr('issueid',issueid);
				
				
                if(req.ad_part.source_url != ''){
                    $('.downloadAD').attr('href',req.ad_part.source_url+'?attname=').show();
					$('.creatAD').hide();
					$('.creatingAD').hide();
                }else{
					$('.downloadAD').hide();
					$('.creatAD').show();
					$('.creatingAD').hide();
				}
				
				
				
				
            })
            $('a[href="#home"]').click()
            $('#infoModal').modal('show');
        })
    })
    // 视频初始化
    var player = null;
    function play_a(video_url) {
        if(player == null){
            player = new Aliplayer({
                id: 'Video',
                width: '600px',
                height: '400px',
                autoplay: true,
                // isLive: true,
                alpha: 0.5,

                source : video_url
            });
        }
        player.loadByUrl(video_url);


    }
    $(function(){
        $('.viewVideo').click(function (event) {
			$('#videoModal').find('video').attr('src', $(this).attr('src'))
			$('#videoModal').find('.modal-title').text($(this).next().text())
			$('#videoModal').modal('show');
			event.stopPropagation();
			$(this).hide()
		})
        $('.issVideo').click(function(){

            var that = $(this);
			var issueid = $(this).parent().attr('issueid');
			var table_name = $(this).parent().attr('table_name');
            $.post('{:U("Api/Media/get_bc_issue_m3u8")}',{'issueid': issueid,'table_name':table_name},function(req){
                if(req.code == 0){
                    $('.ad_name').html(that.parent().attr('ad_name'));
                    $('#videoModal2').modal('show');
                    play_a(req.m3u8_url);
                }else{
                    alertMSG(req.msg,'danger',2000);
                }
            })
        })
        $('#videoModal2').find('.close').click(function(){
            player.pause();//暂停播放
            $('#videoModal2').modal('hide');
            $('.viewVideo').show()
        })
        $('#close,.close').click(function () {
            $('.viewVideo').show()
        })
		
		/*删除发布记录*/
        $('.deleteiss').click(function(){
			var that = $(this);
			var issueid = $(this).parent().attr('issueid');
			var table_name = $(this).parent().attr('table_name');
			
			Delete('确认删除 '+ that.parent().attr('ad_name') + ' 的发布记录？',function(){
				$.post('{:U("Admin/bcissue/del_issue")}',{'issueid': issueid,'table_name':table_name},function(req){
					
					if(req.code == 0){
						alertMSG(req.msg,'info',2000,function(){
							location.reload();
						})
					}else{
						alertMSG(req.msg,'danger',2000,function(){
							//location.reload();
						})
					}
				})
			},function(){})
		})
		
		
    })

    closeModal('#close,.close', '#infoModal,#videoModal');
    $(function () {
        laydate.skin('molv');
        var Sstart = {
            elem: '#Sstart',
            format: 'YYYY-MM-DD',
            min: '1970-01-01 00:00:00', //设定最小日期为当前日期
            max: '{:I('fcreatetime_e')}', //最大日期
            istime: false,
            istoday: false,
            choose: function (datas) {
                Send.min = datas; //开始日选好后，重置结束日的最小日期
                Send.start = datas //将结束日的初始值设定为开始日
            }
        };
        var Send = {
            elem: '#Send',
            format: 'YYYY-MM-DD',
            min: '{:I('fcreatetime_s')}',
            max: '2099-06-16 23:59:59',
            istime: false,
            istoday: false,
            choose: function (datas) {
                Sstart.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(Sstart);
        laydate(Send);
		
    })
</script>