.div_list {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    transition: 0.5s;
    border-radius: 5px;
    background-color: #44586C;
    color: #fff;
    overflow: hidden;
    height: 96px;
}

.leftBlock {
    padding-top: 10px;
    height: 100%;
    background-color: #293846;
}

.div_list:hover {
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.5);
}

.div_list .moreInfo {
    transition: 0.4s;
}

.div_list .moreInfo:hover {
    cursor: pointer;
    color: rgb(26, 179, 148);
}

.div_list .col-sm-4 {
    text-align: center;
}

.div_list p {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

#infoModal .col-sm-7 {
    padding-top: 7px;
}

.div_list .icon {
    font-size: 40px;
    margin-top: 18px;
    margin-bottom: 12px;
}

#infoModal .col-sm-6 {
    padding-top: 7px;
}

#infoModal .col-sm-5 {
    padding-top: 7px;
}

.vidoeBlock {
    margin-bottom: 10px;
}

.contralBlock {
    text-align: center;
}

.contralBlock:hover {
    cursor: pointer;
}

.ctrlBtn {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 40px;
    text-align: center;
    border: 1px solid #18a689;
    font-size: 24px;
    color: #18a689;
    transition: 0.5s;
    font-size: 14px;
}

.checkBtn {
    margin-top: 60px;
    font-size: 12px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.ctrlBtn:hover {
    background-color: #18a689;
    color: #fff;
}

.changeBtn {
    padding-top: 4px;
}

.changeBtn:hover {
    cursor: pointer;
}

.changebtn {
    border: 1px solid #18a689;
    color: #18a689;
    border-radius: 5px;
    width: 40px;
    margin: 20px auto;
}

#ctrlDiv .col-sm-4 {
    text-align: center;
}

#ctrlDiv .onOff {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.headDiv {
    padding: 6px;
}

.ctrlBorder {
    border: 1px solid #18a689;
    height: 480px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 40px 0px;
}

.channel_up,
.channel_down,
.vol_up,
.vol_down {
    font-size: 20px;
}

#backInfo {
    margin-top: 40px;
}

#message {
    margin-top: 20px;
}

.mediaName:hover {
    /*color: #1ab394;*/
    cursor: pointer;
}

.tip {
    font-size: 16px;
}

.tip:hover {
    color: #1ab394;
    cursor: pointer
}

.choose>tbody>tr>td,
.choose>tbody>tr>th,
.choose>tfoot>tr>td,
.choose>tfoot>tr>th,
.choose>thead>tr>td,
.choose>thead>tr>th {
    border-top: none!important;
}

.choose {
    margin: 0;
}

.viewVideo:hover {
    color: #1ab394;
    cursor: pointer;
}

.mediaTr:hover {
    color: #1ab394;
}

.inPlay {
    color: #18a689!important;
}
.paperUrl{
    color:#fff;
    transition: 0.4s;
}
.paperUrl:hover{
    cursor: pointer;
    color: #1ab394;
}
.device-on {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: rgb(26, 179, 148);
    border-radius: 50%;
}
.device-off {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #ec4758;
    border-radius: 50%;
}
.device-null {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}