#infoModal .col-sm-6 {
    padding-top: 7px;
}

.mediaTr:hover {
    color: #1ab394;
    cursor: pointer;
}

.choose>tbody>tr>td,
.choose>tbody>tr>th,
.choose>tfoot>tr>td,
.choose>tfoot>tr>th,
.choose>thead>tr>td,
.choose>thead>tr>th {
    border-top: none;
}

.sampleList {
    border-radius: 3px;
    height: 130px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sampleList:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.video img {
    width: 100%;
}

.sampleList .playBtn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    color: #fff;
    transition: 0.3s;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

.video .playBtn {
    top: -130px;
}

.audio .playBtn {
    top: 0;
}

.audio {
    background-color: #1ab394;
}

.sampleList .adInfo {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.sampleList .adInfo .adName {
    font-weight: bold;
}

.sampleList .adInfo .adCompany {
    font-size: 13px;
}

.sampleList .adInfo span {
    line-height: 30px;
}

.sampleList .adInfo .adTime {
    float: right;
}

.float-e-margins .btn {
    margin-bottom: 0px;
}

#infoModal .col-sm-5 {
    padding-top: 7px;
}

#infoModal .table td pre {
    max-width: 184px;
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0;
    padding: 0;
}

.inPlay {
    color: #18a689!important;
}

.infoTable th {
    width: 20%;
}

.infoTable td {
    width: 30%;
}

.infoTable>tbody>tr>td,
.infoTable>tbody>tr>th {
    border-top: none!important;
}

.inPlay {
    color: #18a689!important;
}

.infoTable th {
    width: 20%;
}

.infoTable td {
    width: 30%;
}

.infoTable>tbody>tr>td,
.infoTable>tbody>tr>th {
    border-top: none!important;
}

#to_adclue_success,
#to_adclue_fail {
    z-index: 9999;
    width: 600px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#to_adclue_success,
#to_adclue_fail {
    z-index: 9999;
    width: 600px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.fexpression {
    border: 1px solid #18a689;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
}

#lawList {
    margin-top: 60px;
}

#lawList,
#lawList ul {
    list-style: none;
    padding-left: 20px;
}

#lawList li {
    margin: 8px 0;
}

#chooseModal .modal-body {
    height: 500px;
    overflow-y: auto;
}

.org_active {
    color: #fff!important;
    background-color: #676a6c;
    border-radius: 3px;
    padding: 3px 4px;
}
#searchDiv{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    margin-top: 15px;
}
.webuploader-pick{
    width: 60px;
    height: 22px;
    padding: 2px;
    background-color: #1ab394;
}
#infoEditModal .col-sm-3{
    margin-top: 7px;
}