﻿
	<foreach name="orgList" item="org" >
	
		<li style="height:25px;">
			<i class="click-expand fa fa-plus ent_org" fid="{$org.fid}"></i>
			<span style="cursor:pointer;color:<eq name='org.fkind' value='2'>#1ab394</eq><eq name='org.fkind' value='1'>#1c84c6</eq>;" class="org_details" fid="{$org.fid}">{$org.fname} <span class="label label-primary pull-right">{$org.fcode}</span></span>
			
			
		</li>
		
		<ul id="{$org.fid}">
			 
		</ul>

	</foreach>
						