::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(255, 255, 255, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
a{
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.text-danger {
  color: red;
  font-size: 12px;
}
.text-red-bg {
  background-color: #F56C6C;
  color: #fff;
  padding: 0 4px;
}

.text-red {
  color: #F56C6C;
}

.text-yellow {
  color: #E6A23C;
}

.text-green {
  color: #67C23A;
}

.text-success {
  color: #67C23A;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.t-h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.right-margin {
  margin-right: 10px !important;
}

.left-margin {
  margin-left: 10px;
}

li {
  list-style-type: none;
}

.el-table {
  margin-bottom: 10px;
}

.c_point {
  cursor: pointer;
}

.search-form {
  margin-bottom: 20px;
}

.main-bg {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.col-table {
  width: 100%;
  border-collapse: collapse;
}

.col-table,
.col-table tr th,
.col-table tr td {
  border: 1px solid #ebeef5;
  padding: 12px 10px;
  color: #909399;
  font-size: 14px;
}

.col-table tr th {
  text-align: right
}

.clearfix {
  zoom: 1;
}

.clearfix :after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.operating-line {
  margin-bottom: 10px;
}

.s-row {
  padding-top: 10px;
}

.vjs-current-time {
  display: block !important;
}

.vjs-time-control {
  display: block !important;
}

.vjs-duration {
  display: block !important;
}

.el-tabs--card>.el-tabs__header .el-tabs__nav {
  border-radius: 0 0 0 0 !important;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  border-radius: 0px !important;
}

.el-breadcrumb__inner {
  color: #fff !important;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
  color: #fff !important;
}

.el-dropdown {
  color: #fff !important;
}

fieldset {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.el-popover {
  word-wrap: break-word;
}

#edui_fixedlayer {
  z-index: 999999 !important;
}

.left-margin {
  margin-left: 10px !important;
}

.text-delete {
  text-decoration: line-through;
}

.download-button {
  color: #00C1DE;
  font-size: 12px;
  cursor: pointer;
  word-break: break-all;
}
