<template>
  <div class="adinquire main-bg"
    v-loading="$store.state.bloading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="searchForm.fadname"
              placeholder="请输入广告名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.Option"
              change-on-select
              :props="$store.state.propsOptions"
              v-model="fadclasscode">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="searchForm.media_class"
              placeholder="请选择"
              style="width:100%"
              @change="_getMediaList">
              <el-option label="全部"
                value=""></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒介地区：">
            <el-cascader style="width:100%"
              :options="allarea"
              change-on-select
              :props="$store.state.areaOptions"
              v-model="area"
              @change="_getMediaList">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="发布媒介：">
            <el-input v-model="searchForm.fmediaid"
              placeholder="请输入发布媒介"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              :clearable="false"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              value-format="yyyy-MM-dd"
              @focus="minDate = null">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
            <el-dropdown @command="_outPut"
              class="pull-right right-margin">
              <el-button type="primary">
                导出<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="EXCEL">XLS</el-dropdown-item>
                <el-dropdown-item command="TXT">TXT</el-dropdown-item>
                <el-dropdown-item command="XML">XML</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      ref="multipleTable"
      :data="tableData"
      v-loading="$store.state.bloading"
      :height="$store.state.GTableHeight">
      <el-table-column type="index"
        label="序号"
        width="50">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregion"
        label="媒体地区"
        width="160px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadname"
        label="广告名称"
        width="160px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="广告类别"
        show-overflow-tooltip
        width="200px">
        <template slot-scope="scope">
          {{scope.row.fadclass}}
        </template>
      </el-table-column>
      <el-table-column prop="fstarttime"
        label="发布开始时间"
        width="190px">
      </el-table-column>
      <el-table-column prop="flength"
        label="发布时长（秒）"
        width="130px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80px">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_issDetails(scope.row.fid)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.pageIndex)"
      @current-change="_getList">
    </el-pagination>
    <iss-dialogs v-if="issDialog"
      posturl="/Agp/HmyjIssue/detail"
      :data="detailsData"
      :download="true"
      curl="/Agp/HmyjIssue/create_ad_part"
      gurl="/Agp/HmyjIssue/get_ad_part"
      :hidinfo="true"
      @close="_close">
    </iss-dialogs>
    <niss-dialogs posturl="/Agp/HmyjIssue/detail"
      v-if="nissDialog"
      :data="detailsData"
      @close="_close">
    </niss-dialogs>
  </div>
</template>
<script>
import issDialogs from './common/issDialogs'
import nissDialogs from './common/nissDialogs'
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    issDialogs,
    nissDialogs
  },
  data() {
    return {
      searchForm: {
        fadname: '',
        fillegaltypecode: '',
        pageIndex: '1',
        fstarttime: '',
        fendtime: '',
        adclass_code: '',
        media_class: "",
        pageSize: 20,
        fmediaid: ''
      },
      fadclasscode: [''],
      searchDate: [],
      tableData: [],
      countAll: '0',
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      tagList: [],
      illList: [],
      mediaArr: [],
      mediaList: [],
      media: '',
      area: [],
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        }
      },
      outLoading: false
    }
  },
  created() {
    this.searchDate = this.$func.getPreDate('YYYY-MM-DD')
    this._getMediaList()
    this.area = Array.of(this.$store.state.userInfo.regionid)
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData = this._initData()
      this.detailsData.fid = item;
      this.issDialog = true
    },
    _initData(page) {
      this.searchForm.pageIndex = page || 1
      let data = { ...this.searchForm }
      data.fstarttime = this.searchDate[0]
      data.fendtime = this.searchDate[1]
      data.region_id = this.area[this.area.length - 1]
      data.adclass_code = this.fadclasscode[this.fadclasscode.length - 1]
      return data
    },
    _getList(pageIndex) {
      this.$store.commit('_bloading', true)
      let data = this._initData(pageIndex)
      axios.post(this.$_ + '/Agp/HmyjIssue/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.fissuedate) {
                item.fissuedate = item.fissuedate.substring(0, 10)
              }
              return item
            })
            this.countAll = res.data.data.count
            this.$store.commit('_bloading', false)
          } else {
            this.$func._error(res.data)
            this.$store.commit('_bloading', false)
            this.tableData = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _getMediaList(val) {
      let id = this.area[this.area.length - 1]
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _outPut(command) {
      this.outLoading = true
      let data = {
        ...this.searchForm,
        file_type: command,
        fstarttime: this.searchDate[0],
        fendtime: this.searchDate[1],
        region_id: this.area[this.area.length - 1],
        adclass_code: this.fadclasscode[this.fadclasscode.length - 1],
      }
      axios.post(this.$_ + '/Agp/HmyjIssue/export', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            window.open('http://' + res.data.file_url)
          } else {
            this.$func._error(res.data)
          }
          this.outLoading = false
        })
        .catch(() => {
          this.$func._error()
          this.outLoading = false
        })
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    },
    allarea() {
      let obj = {
        ffullname: "全国",
        fid: "100000",
        fname: "全国",
      }
      return [obj].concat(this.$store.state.GData)
    }
  }
}
</script>
