<template>
  <div class="fzbnetdata main-bg"
    v-loading="$store.state.bloading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="App名称：">
            <el-input style="width:100%"
              v-model="searchForm.appname"
              placeholder="请输入App名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="标题：">
            <el-input style="width:100%"
              v-model="searchForm.title"
              placeholder="请输入标题"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="searchForm.types"
              placeholder="请选择"
              style="width:100%">
              <el-option label="全部"
                value=""></el-option>
              <el-option v-for="(value,key) in filetypes"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd"
              @focus="minDate = null">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="10"
      v-if="false">
      <el-col :span="6"
        v-for="(item,index) in tableData"
        :key="index">
        <list-item :data="item" />
      </el-col>
    </el-row>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column label="广告名称">
        <template slot-scope="scope">
          {{scope.row.title || '无标题'}}
        </template>
      </el-table-column>
      <el-table-column label="APP名称"
        prop="attribute05"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="广告链接页面"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <a :href="scope.row.target_url"
            target="_blank">{{scope.row.target_url}}</a>
        </template>
      </el-table-column>
      <el-table-column label="广告内容">
        <template slot-scope="scope">
          <div style="height:100;overflow:hidden;"
            v-if="scope.row.type === 'image'">
            <viewer :images="Array.of(scope.row.attribute08)">
              <el-tooltip class="item"
                effect="dark"
                content="右键另存为下载图片"
                placement="top">
                <img v-lazy="scope.row.attribute08"
                  :key="scope.row.attribute08"
                  :alt="scope.row.title"
                  height="100"
                  ondragstart="return false">
              </el-tooltip>
            </viewer>
          </div>
          <el-tooltip v-else
            class="item"
            effect="dark"
            content="打开视频后右键另存为或点击下载按钮下载视频"
            placement="top">
            <el-button type="primary"
              icon="el-icon-caret-right"
              @click="_setRow(scope.row)">播放视频</el-button>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column prop="created_date"
        label="发布时间"
        width="110">
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <video-dialog :row="row"
      v-if="row.attribute08"
      @close="() => row = {}"></video-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import listItem from './common/listItem'
import videoDialog from './common/videoDialog'
export default {
  components: {
    listItem,
    videoDialog
  },
  data() {
    return {
      tableData: [],
      filetypes: {
        'flv': '视频',
        'image': '图片'
      },
      searchForm: {
        title: '',
        appname: '',
        types: '',
        page: 1
      },
      countAll: '0',
      searchDate: [],
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
      row: {},
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.$store.commit('_bloading', true)
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.fissuedatest = this.searchDate[0]
      data.fissuedateed = this.searchDate[1]
      axios.post(this.$_ + '/Agp/Fzbnetmonitoring/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _setRow(row) {
      this.row = row
    },
  }
}
</script>