<template>
  <div class="gmonitoring main-bg"
    v-loading="$store.state.bloading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="searchForm.fadname"
              placeholder="请输入广告名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.adClassOptions"
              change-on-select
              :props="$store.state.propsOptions"
              v-model="fadclasscode"
              clearable
              @change="_setTag"></el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="searchForm.mclass"
              placeholder="请选择"
              style="width:100%"
              @change="_getMediaList">
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒介地区：">
            <el-select v-model="area"
              placeholder="请选择"
              clearable
              style="width:100%"
              @change="_setArea">
              <el-option v-for="item in $store.state.areaArr"
                :key="item.fid"
                :label="item.fname"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="发布媒介：">
            <el-select style="width:100%"
              v-model="media"
              clearable
              placeholder="请选择"
              width="99%"
              @change="_setmedia">
              <el-option v-for="item in mediaArr"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="违法类型：">
            <el-select style="width:100%"
              v-model="fillegaltypecode"
              clearable
              placeholder="请选择"
              width="99%"
              @change="_setillType">
              <el-option v-for="item in $store.state.leagalOptions"
                :key="item.fcode"
                :label="item.fillegaltype"
                :value="item.fcode">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              clearable
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              value-format="yyyy-MM-dd"
              @focus="minDate = null">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in tagList"
              :key="tag.fcode"
              closable
              @close="_removeTag(tag.fcode,'fcode','tagList')">
              {{tag.fadclass}}
            </el-tag>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in illList"
              :key="tag.fcode"
              closable
              @close="_removeTag(tag.fcode,'fcode','illList')">
              {{tag.fillegaltype}}
            </el-tag>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in mediaList"
              :key="tag.fid"
              closable
              @close="_removeTag(tag.fid,'fid','mediaList')">
              {{tag.fmedianame}}
            </el-tag>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in areaList"
              :key="tag.fid"
              closable
              @close="_removeTag(tag.fid,'fid','areaList',_getMediaList)">
              {{tag.fname}}
            </el-tag>
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
            <el-button type="primary"
              @click="_outPut"
              class="pull-right right-margin"
              icon="el-icon-download"
              :loading="$store.state.bloading">
              导出
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      @sort-change="_sortChange"
      ref="multipleTable"
      :data="tableData"
      :height="$store.state.GTableHeight">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column prop="fadname"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadclass"
        min-width="110"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        min-width="110"
        label="发布媒体"
        sortable
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column min-width="80px"
        label="媒体类型"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.mclass]}}
        </template>
      </el-table-column>
      <el-table-column width="80px"
        prop="fillegaltype"
        label="违法类型">
      </el-table-column>
      <el-table-column prop="fissuedate"
        label="发布时间"
        min-width="140"
        sortable
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80px">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_issDetails(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <iss-dialog v-if="issDialog"
      posturl="/Agp/Gmonitoring/getmonitoringview"
      :data="detailsData"
      :download="true"
      @close="_close">
    </iss-dialog>
  </div>
</template>
<script>
import issDialog from './common/issDialog'
import nissDialog from './common/nissDialog'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    issDialog,
    nissDialog
  },
  data() {
    return {
      searchForm: {
        fadname: '',
        fadclasscode: [],
        fmedianame: '',
        media: [],
        fillegaltypecode: [],
        fissuedatest: '',
        fissuedateed: '',
        mclass: this.stype ? this.stype : 'tv',
        page: '1',
        area: [],
        mediapx: '',
        timepx: ''
      },
      fadclasscode: [],
      fillegaltypecode: '',
      searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      tableData: [],
      countAll: '0',
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      tagList: [],
      illList: [],
      mediaArr: [],
      mediaList: [],
      areaList: [],
      media: '',
      area: '',
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        }
      },
    }
  },
  created() {
    this._getList()
    this._getMediaList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData = item
      this.detailsData.tbname = this.tbname
      if (item.mclass !== 'net') {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    _getList(page) {
      this.$store.commit('_bloading', true)
      this._setArr()
      this.searchForm.fissuedatest = this.searchDate[0]
      this.searchForm.fissuedateed = this.searchDate[1]
      this.searchForm.page = page || 1
      axios.post(this.$_ + '/Agp/Gmonitoring/index', qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.$store.commit('_bloading', false)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _setTag(val) {
      let fcode = val[val.length - 1]
      let check = this.$store.state.allAdClass.filter(item => {
        return item.fcode === fcode
      })
      let list = this.tagList.concat(check).filter(item => {
        return item.fcode !== check[0].fpcode
      })
      this.tagList = Array.from(new Set(list))
      let arr = []
      this.tagList.forEach(item => {
        if (item.fpcode !== '') {
          arr.push(item.fpcode)
        }
      })
      arr.forEach(item => {
        this.tagList = this.tagList.filter(obj => {
          return obj.fcode !== item
        })
      })
      this.fadclasscode = []
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _setillType(val) {
      let check = this.$store.state.leagalOptions.filter(item => {
        return item.fcode === val
      })
      this.illList = Array.from(new Set(this.illList.concat(check)))
      this.fillegaltypecode = ''
    },
    _setArea(val) {
      let check = this.$store.state.areaArr.filter(item => {
        return item.fid === val
      })
      this.areaList = Array.from(new Set(this.areaList.concat(check)))
      this.area = ''
      this._getMediaList()
    },
    _setmedia(val) {
      let check = this.mediaArr.filter(item => {
        return item.fid === val
      })
      this.mediaList = Array.from(new Set(this.mediaList.concat(check)))
      this.media = ''
    },
    _getMediaList() {
      let id = []
      this.areaList.forEach(item => {
        id.push(item.fid)
      })
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.mediapx = '0'
          } else {
            this.searchForm.mediapx = '1'
          }
          this.searchForm.timepx = ''
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.timepx = '0'
          } else {
            this.searchForm.timepx = '1'
          }
          this.searchForm.mediapx = ''
          break
        case null:
          this.searchForm.timepx = ''
          this.searchForm.mediapx = ''
          break
      }
      this._getList(1)
    },
    _outPut(command) {
      this.$store.commit('_bloading', true)
      this._setArr()
      axios.post(this.$_ + '/Agp/Gmonitoring/downloadData', qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            window.open(res.data.data)
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _setArr() {
      this.searchForm.fadclasscode = []
      this.searchForm.fillegaltypecode = []
      this.searchForm.media = []
      this.searchForm.area = []
      this.tagList.forEach(item => {
        this.searchForm.fadclasscode.push(item.fcode)
      })
      this.illList.forEach(item => {
        this.searchForm.fillegaltypecode.push(item.fcode)
      }),
        this.mediaList.forEach(item => {
          this.searchForm.media.push(item.fid)
        })
      this.areaList.forEach(item => {
        this.searchForm.area.push(item.fid)
      })
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType
    }
  }
}
</script>
