<template>
  <div class="monitoring-data main-bg">
    <div v-loading="$store.state.bloading">
      <el-radio-group v-model="radioSwitch" style="margin-bottom: 16px;" @change="radioChange" v-if="this.$store.state.userInfo.isoutdata == 1">
        <el-radio-button :label="1">监管媒体</el-radio-button>
        <el-radio-button :label="2">广告主</el-radio-button>
      </el-radio-group>
      <!-- 搜索条件 -->
      <el-form class="search-form"
        ref="sform"
        :model="searchForm"
        label-width="86px">
        <el-row :gutter="10">
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="宣传产品名称:" label-width="109px">
              <el-input v-model="searchForm.fadname"
                placeholder="请输入宣传产品名称"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <!-- <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="广告类别：">
              <el-cascader style="width:100%"
                :options="$store.state.adClassOptions"
                change-on-select
                :props="$store.state.propsOptions"
                v-model="fadclasscode"
                clearable>
              </el-cascader>
            </el-form-item>
          </el-col> -->
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="radioSwitch == '2'">
            <el-form-item label="产、销公司:">
              <el-input v-model="searchForm.fadowner"
                placeholder="请输入产、销公司"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="广告类别:">
              <el-select v-model="searchForm.fadclasscode" style="width:100%">
                <el-option label="全部" value="0"></el-option>
                <el-option label="酒类" value="1"></el-option>
                <el-option label="非酒类" value="2"></el-option>
              </el-select>
              <!-- <el-cascader style="width:100%"
                :options="$store.state.adClassOptions"
                change-on-select
                :props="$store.state.propsOptions"
                v-model="fadclasscode"
                clearable>
              </el-cascader> -->
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="searchForm.isout == 0">
            <el-form-item label="公司分类:">
              <el-select v-model="searchForm.isgdowner">
                <el-option label="全部" value="0"></el-option>
                <el-option label="子公司" value="1"></el-option>
                <el-option label="非子公司" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="发布媒介:">
              <el-input
                v-if="radioSwitch == '2'"
                v-model="searchForm.media"
                placeholder="请输入发布媒介"
                clearable></el-input>
              <el-select v-else
                style="width:100%"
                v-model="searchForm.media"
                clearable
                placeholder="请选择">
                <el-option v-for="item in mediaArr"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="发布时间:">
              <el-date-picker :editable="false"
                v-if="searchForm.mclass !== 'net'"
                style="width:100%"
                v-model="searchDate"
                :picker-options="pickerOptions"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
              <el-date-picker :editable="false"
                v-else
                style="width:100%"
                v-model="searchDate"
                :picker-options="pickerOptions2"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="媒体类型:">
              <el-select v-model="searchForm.mclass"
                placeholder="请选择"
                style="width:100%"
                @change="_getMediaList">
                <el-option label="全部"
                  value=""></el-option>
                <el-option v-for="item in Mediatype"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="searchForm.mclass === '13'">
            <el-form-item label="平台类别:">
              <el-select v-model="searchForm.netadtype"
                placeholder="请选择">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in $store.state.netadtype"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="radioSwitch == '2'">
            <el-form-item label="处理状态:">
              <el-select v-model="searchForm.fislook" style="width: 80%">
                <el-option label="全部" value="0"></el-option>
                <el-option label="未处理" value="1"></el-option>
                <el-option label="已处理" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="searchForm.isout == '0'">
            <el-form-item label="违规类型:">
              <el-select v-model="searchForm.fhandlestate"
                style="width: 100%"
                clearable
                multiple
                collapse-tags
                placeholder="请选择">
                <el-option v-for="(item,index) in illtype"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="8"
            v-if="radioSwitch == '1'">
            <el-form-item label="媒体地区:">
              <el-col :span="11">
                <el-cascader :options="$store.state.mediaArea"
                  change-on-select
                  :props="$store.state.areaOptions"
                  v-model="area"
                  @change="_getMediaList">
                </el-cascader>
              </el-col>
              <el-col :span="13">
                <el-switch v-model="searchForm.iscontain"
                  active-value="1"
                  inactive-value="0"
                  active-text="含下属地区"
                  @change="_switchChange">
                </el-switch>
              </el-col>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="searchForm.isout == 0  || searchForm.mclass == '13' ? 8 : 6"
            :xl="searchForm.isout == 0  || searchForm.mclass == '13' ? 8 : 6"
            v-if="radioSwitch == '2'">
            <el-form-item :label="(this.userInfo.isoutdata == 1 || this.userInfo.isoutdata == 2) ? '广告主地区:' : '媒体地区:'">
              <div style="width: 100%; display: flex;align-items: center">
                <el-cascader placeholder="请选择地区"
                  :options="$store.state.GData"
                  change-on-select
                  style="width: 48%"
                  :show-all-levels="false"
                  :props="$store.state.areaOptions"
                  v-model="area"
                  clearable>
                </el-cascader>
                <el-switch v-model="searchForm.iscontain"
                  active-value="1"
                  inactive-value="0"
                  style="padding-left: 6px"
                  active-text="含下属地区">
                </el-switch>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-radio-group v-model="searchForm.isout" @change="_getList(1)">
              <el-radio-button label="0">监测内</el-radio-button>
              <el-radio-button label="1">监测外</el-radio-button>
            </el-radio-group>
            <span style="padding-left: 10px">
              <el-switch v-model="searchForm.issample"
                active-value="1"
                inactive-value="0"
                active-text="过滤重复广告">
              </el-switch>
            </span>
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
            <el-dropdown @command="_outPut"
              class="pull-right right-margin">
              <el-button type="primary"
                :disabled="!Number(countAll)">
                导出<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="xls">XLS</el-dropdown-item>
                <el-dropdown-item command="txt">TXT</el-dropdown-item>
                <el-dropdown-item command="xml">XML</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-col>
        </el-row>
      </el-form>
      <!-- table -->
      <el-table border
        @sort-change="_sortChange"
        :height="$store.state.GTableHeight"
        ref="multipleTable"
        @selection-change="handleSelectionChange"
        :data="tableData">
        <el-table-column type="selection"
          width="40">
        </el-table-column>
        <el-table-column type="index"
          width="55">
          <template slot-scope="scope">
            <span>{{ (searchForm.page - 1) * 20 + scope.$index + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态" width="90">
          <template slot-scope="scope">
            <span :class="scope.row.fislook == 1 ? 'red' : 'green'" >{{ scope.row.fislook == 1 ? '未处理' : '已处理' }}</span>
          </template>
        </el-table-column>
        <el-table-column label="违规类型"
          width="120"
          prop="fhandlestate"
          v-if="searchForm.isout == '0'"
          show-overflow-tooltip>
          <template slot-scope="scope">
            <div :style="{color: illtypeMap[scope.row.fhandlestate]}" class="text-style">{{scope.row.fhandlestate}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="fissuedate"
          label="播出时间"
          width="150"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          sortable="custom"
          width="180"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="flaunchent"
          width="110"
          label="广告主"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="regionname"
          label="发布地"
          width="120"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="广告内容"
          width="80px">
          <template slot-scope="scope">
            <el-button type="text" icon="el-icon-info" @click="_issDetails(scope.row)">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column label="广告时长（秒）"
          width="110"
          prop="flength"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="宣传产品名称"
          width="170"
          prop="fadname"
          show-overflow-tooltip>
          <template slot-scope="scope">
            <div @dblclick="namedbClick(scope.row)" style="cursor: default">
              {{scope.row.fadname}}
            </div>
          </template>
        </el-table-column>
        <el-table-column label="产、销公司"
          width="100"
          prop="fadowner"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="广告覆盖地域"
          prop="affect_region"
          show-overflow-tooltip
          width="100">
        </el-table-column>
        <el-table-column label="管辖行政机关"
          prop="regulatorname"
          show-overflow-tooltip>
        </el-table-column>
      </el-table>
      <el-pagination background
        style="display:inline-block;"
        layout="prev, pager, next, slot"
        :total="countAll2 || countAll"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
      <span v-show="countAll2 && countAll > countAll2" class="pagin-show">仅显示前 {{ countAll2 }} 条</span>
      <span v-show="countAll" class="pagin-show">共 {{ countAll }} 条</span>
    </div>
    <iss-dialog v-if="issDialog"
      :posturl="radioSwitch == '1'? '/Agp/Fmonitoring2/getmonitoringview' : '/Agp/Fmonitoring4/getmonitoringview'"
      :data="detailsData"
      :download="true"
      @getList="_getList(searchForm.page)"
      :area="area[area.length-1]"
      @close="_close">
    </iss-dialog>
    <niss-dialog
      :posturl="radioSwitch == '1'? '/Agp/Fmonitoring2/getmonitoringview' : '/Agp/Fmonitoring4/getmonitoringview'"
      v-if="nissDialog"
      :data="detailsData"
      :area="searchForm.area"
      @getList="_getList(searchForm.page)"
      @close="_close">
    </niss-dialog>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import outFile from '../common/outFile'
import issDialog from './common/issDialog'
import nissDialog from './common/nissDialog'
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
export default {
  components: {
    issDialog,
    nissDialog,
    outFile,
  },
  data() {
    return {
      searchForm: {
        isout: '0',
        iscontain: this.$store.state.FJiscontain || '0',
        issample: '0',
        fadname: '',
        fislook: '0',
        // fadclasscode: [],
        fmedianame: '',
        fissuedatest: '',
        fissuedateed: '',
        mclass: '',
        page: '1',
        area: '',
        pxtype: '',
        pxval: '',
        netadtype: '0',
        media: '',
        fadclasscode: '0',
        isgdowner: '2',
        fhandlestate: [],
      },
      multipleSelection: [],
      mclass: 'tv',
      durl: '',
      showdownload: false,
      // fadclasscode: [],
      searchDate: [],
      tableData: [],
      countAll: 0,
      countAll2: 0,
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      media: '',
      area: [],
      mediaArr: [],
      predata: {},
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
      pickerOptions2: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
      radioSwitch: '1',
      adOwnerData: [],
      illtype: ['待确认','不违规','违规（子公司）','商标侵权（非子公司）','外包装近似（非子公司）','商标侵权兼外包装近似（非子公司）'],
      illtypeMap: {
        '待确认': '',
        '不违规': '#67C23A',
        '违规（子公司）': '#F56C6C',
        '商标侵权（非子公司）': '#F56C6C',
        '外包装近似（非子公司）': '#F56C6C',
        '商标侵权兼外包装近似（非子公司）': '#F56C6C',
        '违规': '#F56C6C',
        '商标侵权': '#F56C6C',
        '外包装近似': '#F56C6C',
        '商标侵权兼外包装近似': '#F56C6C',
      }

    }
  },
  created() {
    if(this.$store.state.userInfo.isoutdata == 2 || this.$store.state.userInfo.isoutdata == 3) {
      this.radioSwitch = '2'
    }
    this.searchDate = this.$store.state.Gisstime.length ? this.$store.state.Gisstime : this.$func.getPreDate('YYYY-MM-DD')
    this._setTime()
    if (this.$route.params.searchDate && this.$route.params.searchDate.length) {
      this.searchDate = this.$route.params.searchDate
      this.area = Array.of(this.$store.state.mediaArea[0]['fid'])
      this.searchForm.mclass = this.$route.params.mclass
      // this.searchForm.fillegaltypecode = this.$route.params.fillegaltypecode
    }
    this.$store.commit('_bloading', true)
    let timer = setInterval(() => {
      const fid = this.$store.state.mediaArea[0] ? this.$store.state.mediaArea[0]['fid'] : ''
      if (!this.$route.params.searchDate) {
        let areaid = this.$store.state.userInfo.fregulatorlevel === 30 ? fid : this.$store.state.userInfo.regionid
        this.area = Array.of(areaid)
      }
      this._getList()
      this._getMediaList()
      clearInterval(timer)
    }, 100)
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 286)
    })
  },
  methods: {
    namedbClick(row) {
      axios.post(this.$_ + '/Agp/Fmonitoring4/updateSampleData', qs.stringify({sid: row.sid}))
      .then(res => {
        if (res.data.code === 0) {
          let data = res.data.data
          if(data) {
            if(data.fadname) row.fadname = data.fadname
            if(data.fadowner) row.fadowner = data.fadowner
          }
        }
      })
      .catch(() => {
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    radioChange() {
      this.searchForm = {}
      // this.fadclasscode = []
      this._getList()
    },
    _issDetails(item) {
      this.detailsData = item
      if (item.mclass !== '13') {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    // adArea(row) {
    //   const data = {
    //     fadname: row.fadname,
    //     mclass: row.mclass
    //   }
    //   axios.post(this.$_ + '/Agp/Fmonitoring4/getAdCover', qs.stringify(data))
    //   .then(res => {
    //     if (res.data.code === 0) {
    //       this.adarea = res.data.data.join(',') || '暂无信息'
    //     } else {

    //     }
    //   })
    //   .catch(() => {
    //     this.$func._error()
    //   })
    // },
    _initdata(page) {
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.fissuedatest = this.searchDate[0]
      data.fissuedateed = this.searchDate[1]
      data.area = this.area[this.area.length - 1]
      // data.fadclasscode = this.fadclasscode[this.fadclasscode.length - 1]
      if (data.mclass !== '13') {
        delete data.netadtype
      }
      if(this.searchForm.isout == 1)  {
        delete data.isgdowner
        delete data.fhandlestate
      } else {
        data.fhandlestate = data.fhandlestate.map(i => {
          return i = i.replace(/\（.*?\）/g,'')
        })
      }
      this.predata = data
    },
    _getList(page) {
      this.$store.commit('_bloading', true)
      this._initdata(page)
      this._setTime()
      if(this.radioSwitch == '1') {
        axios.post(this.$_ + '/Agp/Fmonitoring2/index', qs.stringify(this.predata)).then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list.map(item => {
              if(item.mclass === '3' || item.mclass === '4'){
                item.fissuedate = item.fissuedate.substring(0,10)
                item.flength = '-'
              }
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)

        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
      } else {
        axios.post(this.$_ + '/Agp/Fmonitoring4/index', qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list.map(item => {
              if(item.mclass === '3' || item.mclass === '4'){
                item.fissuedate = item.fissuedate.substring(0,10)
                item.flength = '-'
              }
              return item
            })
            this.countAll = +res.data.data.count
            this.countAll2 = +res.data.data.count2 || 0
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
      }
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _switchChange(val) {
      this.$store.commit('_setFJiscontain', val)
      this._getMediaList()
    },
    _getMediaList() {
      let id = this.area[this.area.length - 1]
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass, iscontain: this.searchForm.iscontain }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '1'
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '2'
          break
        case null:
          this.searchForm.pxtype = ''
          this.searchForm.pxval = '0'
          break
      }
      this._getList(1)
    },
    _outPut(command) {
      this._outData(command)
    },
    _outData(command) {
      this._initdata()
      let data = { ...this.predata, outtype: command }
      this.showdownload = true
      if(this.radioSwitch == '1'){
        axios.post(this.$_ + '/Agp/Fmonitoring2/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('导出出错！')
        })
      } else {
        axios.post(this.$_ + '/Agp/Fmonitoring4/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('导出出错！')
        })
      }
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _setTime() {
      let data = {
        key: 'Gisstime',
        value: this.searchDate
      }
      this.$store.commit('_setisstime', data)
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    },
    ...mapState(['userInfo'])
  }
}
</script>
<style lang="scss" scope>
.pagin-show{
  display: inline-block;
  font-size: 13px;
  min-width: 35.5px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  font-weight: normal;
  color: #606266;
  padding: 2px 5px;
  font-weight: 700;
}
.search-form{
  & /deep/ .el-col{
    height: 46px;
    overflow: hidden;
  }
}
.red{
  color: #F56C6C;
}
.green{
  color: #67C23A;
}
.text-style{
  cursor: pointer;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
</style>
