<template>
  <div class="main-bg monitoring-data">
    <div v-loading="$store.state.bloading">
      <!-- 搜索条件 -->
      <el-form ref="sform"
        class="search-form"
        :model="searchForm"
        label-width="100px">
        <el-radio-group v-model="radioSwitch" style="margin-bottom: 16px;" @change="radioChange" v-if="$store.state.userInfo.isoutdata == 1">
          <el-radio-button :label="1">监管媒体</el-radio-button>
          <el-radio-button :label="2">广告主</el-radio-button>
        </el-radio-group>
        <el-row :gutter="10">
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="广告名称：">
              <el-input v-model="searchForm.fadname"
                placeholder="请输入广告名称"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="广告类别：">
              <el-cascader style="width:100%"
                :options="$store.state.adClassOptions"
                change-on-select
                :props="{...$store.state.propsOptions, checkStrictly: true}"
                v-model="fadclasscode"
                clearable
                @change="_setTag">
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="radioSwitch == '2'">
            <el-form-item label="广告主：">
              <el-input v-model="searchForm.fadowner"
                placeholder="请输入广告主"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="radioSwitch == '2'">
            <el-form-item label="广告联盟：">
              <el-input v-model="searchForm.fracker"
                placeholder="请输入广告联盟"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="违法类型：">
              <el-select style="width:100%"
                v-model="searchForm.fillegaltypecode"
                placeholder="请选择"
                width="99%">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option v-for="item in $store.state.leagalOptions"
                  :key="item.fcode"
                  :label="item.fillegaltype"
                  :value="item.fcode">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="媒体类型：">
              <el-select v-model="searchForm.mclass"
                placeholder="请选择"
                style="width:100%"
                @change="_getMediaList">
                <el-option v-for="item in Mediatype"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="8"
            :xl="8">
            <el-form-item label="发布时间：">
              <el-date-picker :editable="false"
                v-if="searchForm.mclass !== 'net'"
                style="width:100%"
                v-model="searchDate"
                :picker-options="pickerOptions"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
              <el-date-picker :editable="false"
                v-else
                style="width:100%"
                v-model="searchDate"
                :picker-options="pickerOptions2"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="10"
            :xl="10">
            <el-form-item label="媒介地区：" v-if="radioSwitch == '1'">
              <el-cascader :options="$store.state.mediaArea"
                style="width:40%"
                change-on-select
                :props="{...$store.state.areaOptions, checkStrictly: true}"
                v-model="area"
                @change="_getMediaList">
              </el-cascader>
              <el-switch v-model="searchForm.iscontain"
                active-value="1"
                inactive-value="0"
                active-text="包含下属地区"
                @change="_switchChange">
              </el-switch>
            </el-form-item>
            <el-form-item :label="(userInfo.isoutdata == 1 || userInfo.isoutdata == 2) ? '广告主地区：' : '媒体地区：'"  v-if="radioSwitch == '2'">
              <el-col :span="11">
                <el-cascader placeholder="请选择地区"
                  :options="$store.state.GData"
                  change-on-select
                  :props="{...$store.state.areaOptions, checkStrictly: true}"
                  v-model="area"
                  clearable>
                </el-cascader>
              </el-col>
              <el-col :span="13">
                <el-switch v-model="searchForm.iscontain"
                  active-value="1"
                  inactive-value="0"
                  active-text="包含下属地区">
                </el-switch>
              </el-col>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="发布媒介：">
              <el-input
                v-if="radioSwitch == '2'"
                v-model="searchForm.media"
                placeholder="请输入发布媒介"
                clearable></el-input>
              <el-select style="width:100%"
                v-else
                v-model="media"
                clearable
                filterable
                placeholder="请选择"
                width="99%"
                @change="_setmedia">
                <el-option v-for="item in mediaArr"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="searchForm.mclass === 'net'">
            <el-form-item label="平台类别：">
              <el-select v-model="searchForm.netadtype"
                style="width:100%"
                placeholder="请选择">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in $store.state.netadtype"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="radioSwitch == '1' && searchForm.mclass !== 'net'">
            <el-form-item label="版本：">
              <el-input v-model="searchForm.version"
                placeholder="请输入版本"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item>
              <el-tag style="margin-right:10px;margin-bottom:10px;"
                v-for="tag in tagList"
                :key="tag.fcode"
                closable
                @close="_removeTag(tag.fcode,'fcode','tagList')">
                {{tag.fadclass}}
              </el-tag>
              <el-tag style="margin-right:10px;margin-bottom:10px;"
                v-for="tag in mediaList"
                :key="tag.fid"
                closable
                @close="_removeTag(tag.fid,'fid','mediaList')">
                {{tag.fmedianame}}
              </el-tag>
              <el-button type="primary"
                class="pull-right"
                :loading="$store.state.bloading"
                @click="_getList(1)"
                icon="el-icon-search">
                搜 索
              </el-button>
              <out-button :type="['xls','txt','xml','word']"
                :data="predata"
                @initdata="initData"
                url="/Agp/Fmonitoring/index"
                class="pull-right right-margin" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <!-- 列表 -->
      <el-table border class="new-tabel" size="small"
        :height="$store.state.GTableHeight"
        @sort-change="_sortChange"
        @row-click="_issDetails"
        ref="multipleTable"
        :data="tableData">
        <el-table-column type="index"
          label="序号"
          width="55">
        </el-table-column>
        <el-table-column label="媒体类型"
        width="80">
        <template slot-scope="scope">
          <span :class="`${$store.getters.typeMap[scope.row.mclass]}-tag`">{{$store.state.allmediatype[scope.row.mclass]}}</span>
        </template>
      </el-table-column>
        <el-table-column prop="fadname"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          sortable="custom"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="regionname"
          label="媒体地区"
          width="120"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="80px"
          prop="fillegaltype"
          label="违法类型">
          <template slot-scope="scope">
            <span :class="scope.row.fillegaltype === '违法' ? 'text-red' : 'text-green'">{{scope.row.fillegaltype}}</span>
          </template>
        </el-table-column>
        <el-table-column label="发布时间/版面"
          width="160"
          sortable="custom"
          prop="fissuedate_fpage"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="时长/规格"
          width="100"
          prop="flength"
          show-overflow-tooltip>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <iss-dialog v-if="issDialog"
      :posturl="radioSwitch == '1' ? '/Agp/Fmonitoring/getmonitoringview' : '/Agp/Fmonitoring3/getmonitoringview'"
      :data="detailsData"
      :download="true"
      :area="area[area.length-1]"
      @close="_close">
    </iss-dialog>
    <niss-dialog
      v-if="nissDialog"
      :posturl="radioSwitch == '1' ? '/Agp/Fmonitoring/getmonitoringview' : '/Agp/Fmonitoring3/getmonitoringview'"
      :data="detailsData"
      :area="searchForm.area"
      @close="_close">
    </niss-dialog>
  </div>
</template>
<script>
import issDialog from './common/issDialog'
import nissDialog from './common/nissDialog'
import outButton from '../common/outButton'
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
export default {
  components: {
    issDialog,
    nissDialog,
    outButton,
  },
  data() {
    return {
      radioSwitch: '1',
      searchForm: {
        iscontain: this.$store.state.FJiscontain || '0',
        fadname: '',
        fadclasscode: [],
        fmedianame: '',
        media: '',
        fillegaltypecode: '-1',
        fissuedatest: '',
        fissuedateed: '',
        mclass: 'tv',
        page: '1',
        area: '',
        pxtype: '',
        pxval: '',
        netadtype: '0',
        version: '',
      },
      media: '',
      predata: {},
      fadclasscode: [],
      searchDate: [],
      tableData: [],
      countAll: '0',
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      tagList: [],
      mediaArr: [],
      mediaList: [],
      areaArr: [],
      area: [],
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime() || time.getTime() > new Date().getTime()
          } else {
            return time.getTime() > new Date().getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        },
      },
      pickerOptions2: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    if(this.isHZ){
      this.searchForm.mclass = 'net'
    }
    this.searchDate = this.$store.state.Gisstime.length ? this.$store.state.Gisstime : this.$func.getPreDate('YYYY-MM-DD')
    this._setTime()
    if (this.$route.params.searchDate && this.$route.params.searchDate.length) {
      this.searchDate = this.$route.params.searchDate
      this.area = Array.of(this.$store.state.mediaArea[0]['fid'])
      this.searchForm.mclass = this.$route.params.mclass
      this.searchForm.fillegaltypecode = this.$route.params.fillegaltypecode
    }
    this.$store.commit('_bloading', true)
    let timer = setInterval(() => {
      if (this.$store.state.mediaArea[0]['fid']) {
        if (!this.$route.params.searchDate) {
          let areaid = this.$store.state.userInfo.fregulatorlevel === 30 ? this.$store.state.mediaArea[0]['fid'] : this.$store.state.userInfo.regionid
          this.area = Array.of(areaid)
        }
        this._getList()
        this._getMediaList()
        clearInterval(timer)
      }
    }, 100)
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    radioChange(val) {
      this.searchForm = {
        media: ''
      }
      this.fadclasscode = []
      this.mediaArr = []
      this.tagList = []
      this.mediaList = []
      if(val === 2){
        this.searchForm.media = ''
      }
      this._getList()
    },
    _issDetails(item) {
      this.detailsData = item
      let mediaClass = ''
      if(item.mclass == '13' || item.mclass == 'net') {
        mediaClass = false
      } else {
        mediaClass = true
      }
      if (mediaClass) {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    initData(page) {
      let { media, fadclasscode } = this._setArr()
      this.searchForm.page = page || 1
      let data = {
        ...this.searchForm,
        fadclasscode,
      }
      if(this.radioSwitch === '1'){
        data.media = media
      }
      data.fissuedatest = this.searchDate[0]
      data.fissuedateed = this.searchDate[1]
      data.area = this.area[this.area.length - 1]
      if (data.mclass !== 'net') {
        delete data.netadtype
      }else{
        delete data.version
      }
      this._setTime()
      this.predata = data
    },
    _getList(page) {
      this.$store.commit('_bloading', true)
      this.initData(page)
      if(this.radioSwitch == '1') {
        axios.post(this.$_ + '/Agp/Fmonitoring/index', qs.stringify(this.predata)).then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if(item.mclass === 'paper'){
                item.fissuedate_fpage = item.fpage
                item.flength = '--'
              }else if(item.mclass === 'net'){
                item.fissuedate_fpage = item.fissuedate.substring(0,10)
                item.flength = '--'
              }else{
                item.fissuedate_fpage = item.fissuedate
              }
              if(!item.fadclass) item.fadclass = '未分类'
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        }).catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
      }else{
        axios.post(this.$_ + '/Agp/Fmonitoring3/index', qs.stringify(this.predata)).then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list.map(item => {
              if(item.mclass === 'paper'){
                item.fissuedate_fpage = item.fpage
                item.flength = '--'
              }else if(item.mclass === 'net'){
                item.fissuedate_fpage = item.fissuedate.substring(0,10)
                item.flength = '--'
              }else{
                item.fissuedate_fpage = item.fissuedate
              }
              if(!item.fadclass) item.fadclass = '未分类'
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        }).catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
      }
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _setTag(val) {
      let fcode = val[val.length - 1]
      let check = this.$store.state.allAdClass.filter(item => {
        return item.fcode === fcode
      })
      let list = this.tagList.concat(check).filter(item => {
        return item.fcode !== check[0].fpcode
      })
      this.tagList = Array.from(new Set(list))
      let arr = []
      this.tagList.forEach(item => {
        if (item.fpcode !== '') {
          arr.push(item.fpcode)
        }
      })
      arr.forEach(item => {
        this.tagList = this.tagList.filter(obj => {
          return obj.fcode !== item
        })
      })
      this.fadclasscode = []
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _setmedia(val) {
      let check = this.mediaArr.filter(item => {
        return item.fid === val
      })
      this.mediaList = Array.from(new Set(this.mediaList.concat(check)))
      this.media = ''
    },
    _switchChange(val) {
      this.$store.commit('_setFJiscontain', val)
      this._getMediaList()
    },
    _getMediaList() {
      let id = this.area[this.area.length - 1]
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass, iscontain: this.searchForm.iscontain }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },

    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '1'
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '2'
          break
        case null:
          this.searchForm.pxtype = ''
          this.searchForm.pxval = '0'
          break
      }
      this._getList(1)
    },
    _setArr() {
      let obj = {}
      let fadclasscode = this.tagList.map(i => i.fcode)
      let media = []
      if(this.radioSwitch === '1'){
        media = this.mediaList.map(i => i.fid)
      }
      return {
        media,
        fadclasscode
      }
    },
    _setTime() {
      let data = {
        key: 'Gisstime',
        value: this.searchDate
      }
      this.$store.commit('_setisstime', data)
    }
  },
  computed: {
    isHZ(){
      return this.$store.state.userInfo.system_num === 330100
    },
    ...mapState(['userInfo']),
    Mediatype() {
      if(this.isHZ){
        return [...this.$store.state.mediaType].filter(i => i.value)
      }else{
        return this.$store.state.mediaType
      }
    }
  }
}
</script>
<style lang="scss" scope>
.search-form{
  & /deep/ .el-col{
    height: 46px;
    overflow: hidden;
  }
}
</style>
