<template>
  <div class="monitoring-data main-bg"
    v-loading="$store.state.bloading">
    <!-- 搜索条件 -->
    <el-form class="search-form"
      ref="form"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="广告名称：">
            <el-input v-model="searchForm.name"
              placeholder="请输入广告名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="媒体类型：">
            <el-select v-model="searchForm.mclass"
              placeholder="请选择"
              style="width:100%">
              <el-option label="全部"
                value=""></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="广告类别：">
            <el-select v-model="searchForm.fad_class_code"
              placeholder="请选择"
              style="width:100%">
              <el-option label="全部"
                value=""></el-option>
              <el-option v-for="(value,key) in $store.state.Adata.ad_class2"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="发布媒介：">
            <el-autocomplete style="width:100%"
              v-model="searchForm.fmedianame"
              :fetch-suggestions="_getMediaList"
              placeholder="请输入关键字"></el-autocomplete>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="发布时间：">
            <el-date-picker :editable="false"
              v-if="searchForm.mclass !== 'net'"
              style="width:100%"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd"
              @focus="minDate = null">
            </el-date-picker>
            <el-date-picker :editable="false"
              v-else
              style="width:100%"
              v-model="searchDate"
              :picker-options="pickerOptions2"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd"
              @focus="minDate = null">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="24"
          :md="24"
          :lg="24"
          :xl="4">
          <el-button type="primary"
            class="pull-right"
            :loading="$store.state.bloading"
            @click="_getList(1)"
            icon="el-icon-search">
            搜 索
          </el-button>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table :data="tableData" class="new-tabel" size="small"
      :height="$store.state.GTableHeight"
      border
      v-loading="loading">
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column label="媒体类型"
        width="80">
        <template slot-scope="scope">
          <span :class="`${$store.getters.typeMap[scope.row.fmedia_class]}-tag`">{{$store.state.allmediatype[scope.row.fmedia_class]}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类型"
        width="160"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fissue_date_time"
        label="发布日期/版面"
        width="200"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="时长/规格"
        prop="difftime_fsize"
        width="130">
      </el-table-column>
      <el-table-column width="160"
        label="涉嫌违法代码" show-overflow-tooltip>
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span class="text-red"
              slot="reference">{{scope.row.fillegal_code || '--'}}</span>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>
<script>
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      searchForm: {
        name: '',
        fad_class_code: '',
        fmedianame: '',
        mclass: '',
        page: '1',
        pagecount: 20
      },
      searchDate: ['2017-12-01', '2017-12-30'],
      tableData: [],
      countAll: '0',
      loading: false,
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
          } else {
            return time.getTime() > new Date().getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        },
      },
      pickerOptions2: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 244)
    })
  },
  methods: {
    _getList(page) {
      this.$store.commit('_bloading', true)
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.start_date = this.searchDate[0]
      data.end_date = this.searchDate[1]
      axios.post(this.$_ + '/Agp/GjzStatisticalData/zsgl_ill_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(i => {
              i.fissue_date_time = i.fmedia_class !== '3' ? `${i.fissue_date} ${i.fstarttime}` : i.fpage
              i.difftime_fsize = i.fmedia_class === '3' ? i.fsize : `${i.difftime}秒`
              return i
            })
            this.countAll = res.data.data.count
            this.$store.commit('_bloading', false)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getMediaList(keyword, cb) {
      let data = {
        keyword: keyword || ''
      }
      axios.post(this.$_ + '/Agp/GjzStatisticalData/zsgl_media_list', qs.stringify(data))
        .then(res => {
          for (let i of res.data.data) {
            i.value = i.name
          }
          cb(res.data.data)
        })
        .catch(() => {
          this.$func._error()
        })
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>
