<template>
  <div class="publishlist main-bg"
    v-loading="$store.state.bloading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="searchForm.fadname"
              placeholder="请输入广告名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.Option"
              change-on-select
              :props="$store.state.propsOptions"
              v-model="fadclasscode">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="searchForm.media_class"
              placeholder="请选择"
              style="width:100%"
              @change="_getMediaList">
              <el-option label="全部"
                value=""></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="违法类型：">
            <el-select style="width:100%"
              v-model="searchForm.fillegaltypecode"
              placeholder="请选择"
              width="99%">
              <el-option v-for="item in $store.state.leagalOptions"
                :key="item.fcode"
                :label="item.fillegaltype"
                :value="item.fcode">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒介地区：">
            <el-cascader style="width:100%"
              :options="$store.state.allArea2"
              change-on-select
              :props="$store.state.areaOptions"
              v-model="area"
              @change="_getMediaList">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="发布媒介：">
            <el-input v-model="searchForm.fmediaid"
              placeholder="请输入发布媒介"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              value-format="yyyy-MM-dd"
              @focus="minDate = null">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in tagList"
              :key="tag.fcode"
              closable
              @close="_removeTag(tag.fcode,'fcode','tagList')">
              {{tag.fadclass}}
            </el-tag>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in illList"
              :key="tag.fcode"
              closable
              @close="_removeTag(tag.fcode,'fcode','illList')">
              {{tag.fillegaltype}}
            </el-tag>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in mediaList"
              :key="tag.fid"
              closable
              @close="_removeTag(tag.fid,'fid','mediaList')">
              {{tag.fmedianame}}
            </el-tag>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in areaList"
              :key="tag.fid"
              closable
              @close="_removeTag(tag.fid,'fid','areaList',_getMediaList)">
              {{tag.fname}}
            </el-tag>
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
            <el-dropdown @command="_outPut"
              class="pull-right right-margin">
              <el-button type="primary">
                导出<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="EXCEL">XLS</el-dropdown-item>
                <el-dropdown-item command="TXT">TXT</el-dropdown-item>
                <el-dropdown-item command="XML">XML</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border class="new-tabel" size="small"
      @sort-change="_sortChange"
      ref="multipleTable"
      :data="tableData"
      v-loading="$store.state.bloading"
      :height="$store.state.GTableHeight">
      <el-table-column prop="findex"
        label="列表序号"
        align="center"
        width="150">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        align="center"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregion"
        label="媒体地区"
        align="center"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadname"
        label="广告名称"
        align="center"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="广告类别"
        align="center"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fadclass}}
        </template>
      </el-table-column>
      <el-table-column prop="fissuedate"
        label="发布时间"
        width="100px;">
      </el-table-column>
      <el-table-column prop="fillegaltypecode"
        label="违法类型"
        align="center"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span v-if="scope.row.fillegaltypecode=== '0'">不违法</span>
          <span v-if="scope.row.fillegaltypecode === '30'">违法</span>
        </template>
      </el-table-column>
      <el-table-column prop="flength"
        label="发布时长（秒）"
        align="center"
        min-width="100px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="生产批准文号">
        <el-table-column prop="fmanuno"
          label="/"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadmanuno"
          label="广告中标识"
          show-overflow-tooltip
          width="95">
        </el-table-column>
      </el-table-column>
      <el-table-column label="广告批文号">
        <el-table-column prop="fapprno"
          label="/"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadapprno"
          label="广告中标识"
          align="center"
          width="95"
          show-overflow-tooltip>
        </el-table-column>
      </el-table-column>
      <el-table-column label="生产企业名称">
        <el-table-column prop="fent"
          label="/"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadent"
          width="95"
          label="广告中标识"
          align="center"
          show-overflow-tooltip>
        </el-table-column>
      </el-table-column>
      <el-table-column prop="fentzone"
        label="生产企业所在地区"
        min-width="120"
        align="center"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80px">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_issDetails(scope.row.fid)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="10"
      :current-page="Number(searchForm.pageIndex)"
      @current-change="_getList">
    </el-pagination>
    <iss-dialogs v-if="issDialog"
      posturl="/Agp/FoodDrugIssue/detail"
      :data="detailsData"
      :download="true"
      curl="/Agp/FoodDrugIssue/create_ad_part"
      gurl="/Agp/FoodDrugIssue/get_ad_part"
      @close="_close">
    </iss-dialogs>
    <niss-dialogs posturl="/Agp/FoodDrugIssue/detail"
      v-if="nissDialog"
      :data="detailsData"
      @close="_close">
    </niss-dialogs>
  </div>
</template>
<script>
import issDialogs from './common/issDialogs'
import nissDialogs from './common/nissDialogs'
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    issDialogs,
    nissDialogs
  },
  data() {
    return {
      searchForm: {
        fadname: '',
        fversion: '',
        fillegaltypecode: '',
        pageIndex: '1',
        area: '',
        mediapx: '',
        timepx: '',
        fstarttime: '',
        fendtime: '',
        adclass_code: '',
        media_class: "",
      },
      fadclasscode: [],
      fillegaltypecode: '',
      searchDate: [this.$dayjs().startOf('months').format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      tableData: [],
      countAll: '0',
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      tagList: [],
      illList: [],
      mediaArr: [],
      mediaList: [],
      areaList: [],
      areaArr: [],
      media: '',
      area: [],
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        }
      },
      outLoading: false
    }
  },
  created() {
    this._getMediaList()
    this.$store.commit('_bloading', true)
    this.area = Array.of(this.$store.state.userInfo.regionid)
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData.fid = item;
      this.detailsData.fstarttime = this.searchForm.fstarttime;
      this.detailsData.fendtime = this.searchForm.fendtime;
      this.issDialog = true
    },
    _getList(pageIndex) {
      this.$store.commit('_bloading', true)
      this.searchForm.fstarttime = this.searchDate[0]
      this.searchForm.fendtime = this.searchDate[1]
      this.searchForm.region_id = this.area[this.area.length - 1]
      this.searchForm.adclass_code = this.fadclasscode[this.fadclasscode.length - 1]
      this.searchForm.pageIndex = pageIndex ? pageIndex : 1
      axios.post(this.$_ + '/Agp/FoodDrugIssue/index', qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.$store.commit('_bloading', false)
          } else {
            this.$func._error(res.data)
            this.$store.commit('_bloading', false)
            this.tableData = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _setArea(val) {
      let check = this.areaArr.filter(item => {
        return item.fid === val
      })
      this.areaList = Array.from(new Set(this.areaList.concat(check)))
      this.area = ''
      this._getMediaList()
    },
    _setmedia(val) {
      let check = this.mediaArr.filter(item => {
        return item.fid === val
      })
      this.mediaList = Array.from(new Set(this.mediaList.concat(check)))
      this.media = ''
    },
    _getMediaList(val) {
      let id = this.area[this.area.length - 1]
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.mediapx = '0'
          } else {
            this.searchForm.mediapx = '1'
          }
          this.searchForm.timepx = ''
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.timepx = '0'
          } else {
            this.searchForm.timepx = '1'
          }
          this.searchForm.mediapx = ''
          break
        case null:
          this.searchForm.timepx = ''
          this.searchForm.mediapx = ''
          break
      }
      this._getList(1)
    },
    _outPut(command) {
      this.outLoading = true
      let data = { ...this.searchForm, file_type: command }
      axios.post(this.$_ + '/Agp/FoodDrugIssue/export', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            window.open('http://' + res.data.file_url);
          } else {
            this.$func._error(res.data)
          }
          this.outLoading = false
        })
        .catch(() => {
          this.$func._error()
          this.outLoading = false
        })
    },
    _setArr() {
      this.searchForm.fadclasscode = []
      this.searchForm.fillegaltypecode = []
      this.searchForm.media = []
      this.tagList.forEach(item => {
        this.searchForm.fadclasscode.push(item.fcode)
      })
      this.illList.forEach(item => {
        this.searchForm.fillegaltypecode.push(item.fcode)
      }),
        this.mediaList.forEach(item => {
          this.searchForm.media.push(item.fid)
        })
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>
