<template>
  <div class="sampledetails main-bg"
    v-loading="$store.state.bloading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input style="width:100%"
              v-model="searchForm.fadname"
              placeholder="请输入广告名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.adClassOptions"
              change-on-select
              :props="$store.state.propsOptions"
              v-model="fadclasscode"
              clearable
              @change="_setTag">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="searchForm.mclass"
              placeholder="请选择"
              style="width:100%"
              @change="_getMediaList">
              <el-option label="全部"
                value=""></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="违法类型：">
            <el-select style="width:100%"
              v-model="searchForm.fillegaltypecode"
              placeholder="请选择"
              width="99%">
              <el-option label="全部"
                value="-1"></el-option>
              <el-option v-for="item in $store.state.leagalOptions"
                :key="item.fcode"
                :label="item.fillegaltype"
                :value="item.fcode">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="发布媒介：">
            <el-select style="width:100%"
              v-model="media"
              clearable
              placeholder="请选择"
              width="99%"
              @change="_setmedia">
              <el-option v-for="item in mediaArr"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="发布日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒介地区：">
            <el-cascader style="width:100%"
              :options="$store.state.mediaArea"
              change-on-select
              :props="$store.state.areaOptions"
              v-model="area"
              @change="_getMediaList">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-switch v-model="searchForm.iscontain"
          active-value="1"
          inactive-value="0"
          active-text="包含下属地区"
          @change="_switchChange">
        </el-switch>
        <el-col :span="24">
          <el-form-item>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in tagList"
              :key="tag.fcode"
              closable
              @close="_removeTag(tag.fcode,'fcode','tagList')">
              {{tag.fadclass}}
            </el-tag>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in mediaList"
              :key="tag.fid"
              closable
              @close="_removeTag(tag.fid,'fid','mediaList')">
              {{tag.fmedianame}}
            </el-tag>
            <el-tag style="margin-right:10px;margin-bottom:10px;"
              v-for="tag in areaList"
              :key="tag.fid"
              closable
              @close="_removeTag(tag.fid,'fid','areaList',_getMediaList)">
              {{tag.fname}}
            </el-tag>
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
            <el-dropdown @command="_outPut"
              class="pull-right right-margin">
              <el-button type="primary">
                导出<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="xls">XLS</el-dropdown-item>
                <!-- <el-dropdown-item command="txt">TXT</el-dropdown-item> -->
                <!-- <el-dropdown-item command="xml">XML</el-dropdown-item> -->
              </el-dropdown-menu>
            </el-dropdown>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      @sort-change="_sortChange"
      ref="multipleTable"
      :data="tableData"
      :height="$store.state.GTableHeight">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column prop="fadname"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadclass"
        min-width="110"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        min-width="110"
        label="发布媒体"
        sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column min-width="80px"
        label="媒体类型"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span v-if="scope.row.mclass === '01'">电视</span>
          <span v-if="scope.row.mclass === '02'">广播</span>
          <span v-if="scope.row.mclass === '03'">报纸</span>
          <span v-if="scope.row.mclass === '13'">互联网</span>
        </template>
      </el-table-column>
      <el-table-column width="80px"
        prop="fillegaltype"
        label="违法类型">
      </el-table-column>
      <el-table-column label="发布日期"
        min-width="80"
        sortable="custom"
        prop="fissuedate"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span v-if='scope.row.fissuedate'>{{scope.row.fissuedate.substring(0,10)}}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80px">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_issDetails(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <iss-dialog v-if="issDialog"
      :issample="true"
      posturl="/Agp/SampleDetails/details_view"
      :data="detailsData"
      :download="true"
      :area="searchForm.area"
      @close="_close">
    </iss-dialog>
    <niss-dialog posturl="/Agp/SampleDetails/details_view"
      v-if="nissDialog"
      :issample="true"
      :data="detailsData"
      :area="searchForm.area"
      @close="_close">
    </niss-dialog>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import issDialog from './common/issDialog'
import nissDialog from './common/nissDialog'
import outFile from '../common/outFile'
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    issDialog,
    nissDialog,
    outFile
  },
  data() {
    return {
      searchForm: {
        iscontain: this.$store.state.FJiscontain || '0',
        fadname: '',
        fadclasscode: [],
        fmedianame: '',
        media: [],
        fillegaltypecode: '-1',
        fissuedatest: '',
        fissuedateed: '',
        mclass: '',
        page: '1',
        area: '',
        pxtype: '',
        pxval: ''
      },
      mclass: '',
      durl: '',
      showdownload: false,
      fadclasscode: [],
      searchDate: [],
      tableData: [],
      countAll: '0',
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      tagList: [],
      mediaArr: [],
      mediaList: [],
      areaList: [],
      areaArr: [],
      media: '',
      area: [],
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        }
      },
      predata:{}
    }
  },
  created() {
    this.searchDate = this.$store.state.Gisstime.length ? this.$store.state.Gisstime : this.$func.getPreDate('YYYY-MM-DD')
    this._setTime()
    if (this.$route.params.searchDate && this.$route.params.searchDate.length) {
      this.searchDate = this.$route.params.searchDate
      this.area = Array.of(this.$store.state.mediaArea[0]['fid'])
      this.searchForm.mclass = this.$route.params.mclass
      this.searchForm.fillegaltypecode = this.$route.params.fillegaltypecode
    }
    this.$store.commit('_bloading', true)
    let timer = setInterval(() => {
      if (this.$store.state.mediaArea[0]['fid']) {
        if (!this.$route.params.searchDate) {
          let areaid = this.$store.state.userInfo.fregulatorlevel === 30 ? this.$store.state.mediaArea[0]['fid'] : this.$store.state.userInfo.regionid
          this.area = Array.of(areaid)
        }
        this._getList()
        this._getMediaList()
        clearInterval(timer)
      }
    }, 100)
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData = item
      if (item.mclass !== '13') {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    _getList(page) {
      this.$store.commit('_bloading', true)
      this._setArr()
      this.searchForm.fissuedatest = this.searchDate[0]
      this.searchForm.fissuedateed = this.searchDate[1]
      this.searchForm.area = this.area[this.area.length - 1]
      this.searchForm.page = page || 1
      this.predata = this.searchForm
      this._setTime()
      axios.post(this.$_ + '/Agp/SampleDetails/index', qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.$store.commit('_bloading', false)
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _setTag(val) {
      let fcode = val[val.length - 1]
      let check = this.$store.state.allAdClass.filter(item => {
        return item.fcode === fcode
      })
      let list = this.tagList.concat(check).filter(item => {
        return item.fcode !== check[0].fpcode
      })
      this.tagList = Array.from(new Set(list))
      let arr = []
      this.tagList.forEach(item => {
        if (item.fpcode !== '') {
          arr.push(item.fpcode)
        }
      })
      arr.forEach(item => {
        this.tagList = this.tagList.filter(obj => {
          return obj.fcode !== item
        })
      })
      this.fadclasscode = []
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _setArea(val) {
      let check = this.areaArr.filter(item => {
        return item.fid === val
      })
      this.areaList = Array.from(new Set(this.areaList.concat(check)))
      this.area = ''
      this._getMediaList()
    },
    _setmedia(val) {
      let check = this.mediaArr.filter(item => {
        return item.fid === val
      })
      this.mediaList = Array.from(new Set(this.mediaList.concat(check)))
      this.media = ''
    },
    _switchChange(val) {
      this.$store.commit('_setFJiscontain', val)
      this._getMediaList()
    },
    _getMediaList() {
      let id = this.area[this.area.length - 1]
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass, iscontain: this.searchForm.iscontain }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },

    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '1'
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '2'
          break
        case null:
          this.searchForm.pxtype = ''
          this.searchForm.pxval = '0'
          break
      }
      this._getList(1)
    },
    _outPut(command) {
      let data = { ...this.predata, outtype: command }
      this.showdownload = true
      axios.post(this.$_ + '/Agp/SampleDetails/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('导出出错！')
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _setArr() {
      this.searchForm.fadclasscode = []
      this.searchForm.media = []
      this.tagList.forEach(item => {
        this.searchForm.fadclasscode.push(item.fcode)
      })
      this.mediaList.forEach(item => {
        this.searchForm.media.push(item.fid)
      })
    },
    _setTime() {
      let data = {
        key: 'Gisstime',
        value: this.searchDate
      }
      this.$store.commit('_setisstime', data)
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>
