<template>
  <div class="warning main-bg"
    v-loading="$store.state.bloading">
    <el-form ref="sform"
      :model="form">
      <el-row>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              @click="addDialog = true"
              v-if="'20' + $store.state.userInfo.system_num === $store.state.userInfo.fregulatorid"
              icon="el-icon-plus">添 加</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table v-loading="loading"
      border
      :height="$store.state.GTableHeight"
      :data="tableData"
      style="width: 100%">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column property="wtk_title"
        label="预警提示"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="wtk_content"
        label="预警内容"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        width="60"
        label="附件">
        <template slot-scope="scope">
          <a :href="scope.row.wtk_files" target="_blank" v-if="scope.row.wtk_files">
            <el-button type="text">附件</el-button>
          </a>
          <span v-else>无附件</span>
        </template>
      </el-table-column>
      <el-table-column width="130px"
        property="wtk_type"
        label="预警类型">
      </el-table-column>
      <el-table-column property="ffullname"
        label="预警对象"
        width="150"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="130px"
        label="发布日期"
        property="wtk_createtime"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="190px"
        label="操作">
        <template slot-scope="scope">
          <el-button icon="el-icon-view"
            type="text"
            @click="_details(scope.row)">详情</el-button>
          <el-button icon="el-icon-edit"
            type="text"
            v-if="'20' + $store.state.userInfo.system_num === $store.state.userInfo.fregulatorid"
            @click="_edit(scope.row)">编辑</el-button>
          <el-button icon="el-icon-delete"
            type="text"
            v-if="'20' + $store.state.userInfo.system_num === $store.state.userInfo.fregulatorid"
            @click="_delete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog :title="isedit?'编辑预警':'添加预警'"
      :visible.sync="show"
      v-if="addDialog"
      :close-on-click-modal="false"
      center
      :before-close="_close">
      <el-form v-model="submitForm"
        label-width="90px">
        <el-form-item label="预警提示：">
          <el-input v-model="submitForm.wtk_title"></el-input>
        </el-form-item>
        <el-form-item label="预警内容：">
          <el-input v-model="submitForm.wtk_content"
            type="textarea"
            :rows="5"></el-input>
        </el-form-item>
        <el-form-item label="附件：">
          <upload
            :file-list="fileList"
            @uploadSuccess="uploadSuccess" />
        </el-form-item>
        <el-form-item label="预警类型：">
          <el-select v-model="submitForm.wtk_type">
            <el-option v-for="(value,key) in $store.state.yjlx"
              :key="key"
              :label="value"
              :value="value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="预警对象：">
          <el-select v-model="submitForm.wtk_object">
            <el-option label="所有机构"
              value="0"></el-option>
            <el-option v-for="item in lowerTregulator"
              :key="item.fid"
              :label="item.fname"
              :value="item.fid">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_add">提 交</el-button>
      </span>
    </el-dialog>
    <el-dialog title="预警详情"
      :visible.sync="show"
      v-if="showdetails"
      width="600px"
      center
      :before-close="_close">
      <el-form label-width="90px">
        <el-form-item label="预警提示：">
          {{row.wtk_title}}
        </el-form-item>
        <el-form-item label="预警内容：">
          <pre id="pre"
            v-html="row.wtk_content"></pre>
        </el-form-item>
        <el-form-item label="附件：">
          <a :href="row.wtk_files" v-if="row.wtk_files">
            <el-button type="text">下载</el-button>
          </a>
          <span v-else>无附件</span>
        </el-form-item>
        <el-form-item label="预警类型：">
          {{row.wtk_type}}
        </el-form-item>
        <el-form-item label="预警对象：">
          {{row.ffullname}}
        </el-form-item>
        <el-form-item label="预警日期：">
          {{row.wtk_createtime}}
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import upload from '../common/upload'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {upload},
  data() {
    return {
      show: true,
      tableData: [],
      loading: false,
      countAll: '0',
      addDialog: false,
      form: {
        page: 1
      },
      submitForm: {
        wtk_type: '违法预警',
        wtk_object: '0',
        fid: '',
        wtk_files: '',
      },
      row: {},
      lowerTregulator: [],
      isedit: false,
      showdetails: false,
      fileList: [],
    }
  },
  created() {
    this._getList()
    this._getLowRegulator()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.$store.commit('_bloading', true)
      this.form.page = page || 1
      let data = { ...this.form }
      axios.post(this.$_ + '/Agp/Fwarning/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.wtk_createtime = item.wtk_createtime.substring(0, 10)
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    uploadSuccess(result){
      this.submitForm.wtk_files = result.url
    },
    _add() {
      if (!this.submitForm.wtk_content || !this.submitForm.wtk_title) {
        this.$func._error('请填写预警提示或预警内容！')
        return false
      }
      let data = { ...this.submitForm }
      let url = this.isedit ? '/Agp/Fwarning/edit_warning' : '/Agp/Fwarning/add_warning'
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._getList()
            this.$message.success(res.data.msg)
            this._close()
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })

    },
    _edit(obj) {
      this.isedit = true
      this.submitForm.wtk_title = obj.wtk_title
      this.submitForm.wtk_content = obj.wtk_content
      this.submitForm.wtk_type = obj.wtk_type
      this.submitForm.wtk_object = obj.wtk_object
      this.submitForm.fid = obj.wtk_id
      if(obj.wtk_files){
        this.fileList = [
          {
            url: obj.wtk_files,
            name: obj.wtk_files.split('=').pop(),
          }
        ]
      }
      this.addDialog = true
    },
    _details(obj) {
      this.row = obj
      this.showdetails = true
    },
    _delete(obj) {
      this.$confirm('确认删除改预警？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let data = {
          fid: obj.wtk_id
        }
        axios.post(this.$_ + '/Agp/Fwarning/delete_warning', qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._getList()
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });
    },
    _close() {
      this.addDialog = false
      this.showdetails = false
      this.isedit = false
      this.row = {}
      this.fileList = []
      this.submitForm = {
        wtk_type: '违法预警',
        wtk_object: '0',
        fid: '',
        wtk_files: '',
      }
    },
    _getLowRegulator() {
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            if (res.data.data.length) {
              this.lowerTregulator = res.data.data
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
  }
}
</script>
<style lang="scss" scoped>
.warning{
  .el-form /deep/ .el-form-item{
    margin: 5px;
  }
}
#pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
</style>
