﻿
	<foreach name="regionList" item="region" >
	
		<li style="height:25px;">
			<i class="click-expand glyphicon glyphicon-plus ent_region" fid="{$region.fid}"></i>
			<span style="cursor:pointer" class="region_details"  fid="{$region.fid}">{$region.fname} <span class="label label-primary pull-right">{$region.fid}</span></span>
			
			
		</li>
		
		<ul id="{$region.fid}">
			 
		</ul>

	</foreach>
						