<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
	<link rel="stylesheet" href="/Application/Admin/View/Questions/css/index.css">
	<title>常见问题</title>
</head>

<body>
	<div id="app" v-loading="loading">
		<el-row>
			<el-col :span="12">
					<el-input v-model="searchForm.keyword" placeholder="请输入问标题或问题描述关键字"></el-input>
			</el-col>
			<el-col :span="12" class="text-right line-bottom">
				<el-button type="primary" @click="showadd = true">添加</el-button>
				<el-button type="primary" @click="_getList(1)">搜索</el-button>
			</el-col>
		</el-row>
		<el-table :data="tableData" border>
			<el-table-column
				type="index"
				width="50">
			</el-table-column>
			<el-table-column
				prop="cqn_title"
				show-overflow-tooltip
				label="标题">
			</el-table-column>
			<el-table-column
				prop="cqn_content"
				show-overflow-tooltip
				label="问题描述">
			</el-table-column>
			<el-table-column
				prop="cqn_recontent"
				show-overflow-tooltip
				label="问题解答">
			</el-table-column>
			<el-table-column
				prop="cqn_fcustomername"
				label="查看权限">
			</el-table-column>
			<el-table-column
				prop="cqn_createusername"
				label="添加人">
			</el-table-column>
			<el-table-column
				prop="cqn_createtime"
				label="添加时间">
			</el-table-column>
			<el-table-column
				width="180"
				label="操作">
				<template slot-scope="scope">
					<el-button type="primary" @click="_edit(scope.row)">编辑</el-button>
					<el-button type="danger" @click="_dconfirm(scope.row)">删除</el-button>
				</template>
			</el-table-column>
		</el-table>
		<el-pagination
      background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
		<el-dialog
			:title="form.cqn_id ? '编辑问题' : '添加问题'"
			:visible.sync="showadd"
			center
			width="800"
			:before-close="_close">
			<el-form :model="form" ref="form" label-width="120px">
				<el-form-item label="问题标题">
					<el-input v-model="form.cqn_title"></el-input>
				</el-form-item>
				<el-form-item label="问题描述">
					<el-input v-model="form.cqn_content" type="textarea"></el-input>
				</el-form-item>
				<el-form-item label="问题解答">
					<el-input v-model="form.cqn_recontent" type="textarea"></el-input>
				</el-form-item>
				<el-form-item label="客户">
					<el-select v-model="form.cqn_fcustomer" :disabled="unlimited" filterable>
						<el-option v-for="item in clientData"
							:key="item.cr_num"
							:label="item.cr_name"
							:value="item.cr_num">
						</el-option>
					</el-select>
					<el-checkbox v-model="unlimited">无限制</el-checkbox>
				</el-form-item>
				<el-form-item label="下属地区显示">
						<el-switch
							v-model="form.cqn_nextshow"
							active-text="是"
							inactive-text="否"
							active-value="1"
    					inactive-value="0">
						</el-switch>
				</el-form-item>
				<el-form-item label="查看级别">
						<el-checkbox-group v-model="form.cqn_level">
							<el-checkbox-button v-for="(value,key) in level" :label="key" :key="key">{{value}}</el-checkbox-button>
						</el-checkbox-group>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button type="primary" @click="_submit" :loading="bloading">{{form.cqn_id?'保 存':'提 交'}}</el-button>
				<el-button @click="showadd = false">取 消</el-button>
			</span>
		</el-dialog>
	</div>
	<script src="/Application/TaskInput/View/Standardization/js/axios.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
	<script src="/Application/Admin/View/Questions/js/index.js"></script>
</body>

</html>