html{
  height: 100%;
  overflow: auto;
  background-color: #fff;
  body{
    margin: 0;
    height: 100%;
    overflow: auto;
    #app{
      opacity: 0;
      padding: 10px;
      .text-right{
        text-align: right;
      }
      .el-pagination{
        margin-top: 10px;
      }
      .days{
        padding: 4px 8px;
      }
      .green{
        color: #1AB394;
        font-weight: bold;
      }
      .copy{
        color: #1AB394;
        &:hover{
          cursor: pointer;
          font-weight: bold;
          color: rgb(20, 102, 86);
        }
      }
      .content{
        display: flex;
        overflow-y: auto;
        .left{
          width: 350px;
          flex-shrink: 0;
        }
        .right{
          flex-grow: 1;
        }
      }
      .tips{
        display: flex;
        .tip-item{
          margin-left: 10px;
          .color-block{
            width: 14px;
            height: 14px;
            display: inline-block;
            margin-right: 4px;
          }
        }
        .archive0{
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        .archive1{
          background-color: #1AB394!important;
        }
        .archive-1{
          background-color: #E6A23C!important;
        }
        .archive99{
          background-color: #53A7E3!important;
        }
        ._overtime{
          background-color: black!important;
        }
      }
    }
  }
}