.timecontainer {
  overflow: hidden;
}

.timecontainer .swrap {
  overflow: hidden;
}

.timecontainer .mainbox {
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
}

.timecontainer .boxlist {
  overflow: hidden;
  height: 36px;
  box-sizing: border-box;
  border-right: 1px solid #EBEEF5;
  display: flex;
  flex-wrap: nowrap;
}

.timecontainer .boxlist:hover {
  background-color: #F5F7FA;
}

.timecontainer .boxlist .list {
  height: 36px;
  width: 35px;
  cursor: pointer;
  font-size: 12px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #EBEEF5;
  box-sizing: border-box;
  line-height: 36px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.timecontainer .boxlist .list .dayNum {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.timecontainer .boxlist .list .dayNum .source_collect_intact {
  position: absolute;
  bottom: 0px;
  height: 2px;
  left: 0;
  background-color: #000;
  z-index: 3;
}

.timecontainer .boxlist .list:hover {
  background-color: #eee;
  color: #000 !important;
}

.timecontainer .boxlist .list.hover {
  background-color: #F5F7FA;
}

.timecontainer .boxlist .list.selected {
  -webkit-text-stroke: 2px #000;
  font-size: 14px;
}

.timecontainer .boxlist .list.selected .dayNum {
  background-color: rgba(255, 255, 255, 0.7);
}

.timecontainer .boxlist .list.overtime::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: black;
}

.timecontainer ._boxlist {
  overflow: hidden;
  white-space: nowrap;
  height: 37px;
  box-sizing: border-box;
  border-bottom: 1px solid #EBEEF5;
  border-right: 1px solid #EBEEF5;
  border-top: 1px solid #EBEEF5;
  display: flex;
}

.timecontainer ._boxlist ._list {
  height: 36px;
  width: 35px;
  border-right: 1px solid #EBEEF5;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
}

.timecontainer ._boxlist .tips {
  float: right;
  display: flex;
}

.timecontainer ._boxlist .tips .tip-item {
  margin-left: 10px;
}

.timecontainer ._boxlist .tips .tip-item .color-block {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
}

.timecontainer .archive1 {
  background-color: #1AB394 !important;
}

.timecontainer .archive-1 {
  background-color: #E6A23C !important;
}

.timecontainer .archive99 {
  background-color: #53A7E3 !important;
}

.select-box-dashed {
  position: absolute;
  display: none;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border: 1px dashed #0099ff;
  background-color: #c3d5ed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 0px;
  z-index: 99999;
}

.info-dialog .el-dialog__header {
  display: none;
}
