<template>
  <div class="common-report main-bg">
    <div class="operating-line"
      v-if="$route.query.admin==='hzsj' || Number($store.state.userInfo.generate_report)">
      <el-button class="pull-right"
        v-if="$route.query.admin==='hzsj'"
        type="primary"
        @click="dialogFormVisible = true">上传报告</el-button>
      <el-radio-group v-model="activeName"
        ref="create">
        <el-radio-button label="1">报告列表</el-radio-button>
        <el-radio-button label="2">生成报告</el-radio-button>
      </el-radio-group>
    </div>
    <common-report v-if="activeName === '1'"
      ref="list"
      style="padding-top:20px;"
      url="/Agp/GeneralReport/index"
      durl="/Agp/GeneralReport/tpresentation_delete"
      :pntype="pntype">
    </common-report>
    <div v-if="activeName === '2'">
      <p>第一步{{userInfo.use_open_search  === 1 ? '：' : ': '}}选择报告类型</p>
      <el-radio-group v-model="reportForm.pntype"
        @change="_setReportType">
        <el-radio-button :label="key"
          :key="key"
          v-for="(value,key) in pntype">{{value}}</el-radio-button>
      </el-radio-group>
      <p>第二步：选择报告条件</p>
      <el-form label-width="80px">
        <!-- 日报 -->
        <el-form-item label="违法程度"
          v-if="reportForm.pntype === '10'">
          <item-ill v-model="illtype"></item-ill>
        </el-form-item>
        <el-form-item label="媒体类型"
          v-if="reportForm.pntype === '10'">
          <item-mclass v-model="mclass"
            mclass="mediaType5">
            <el-option label="全部"
              value="-1"></el-option>
          </item-mclass>
        </el-form-item>
        <el-form-item label="选择日期">
          <item-date v-if="reportForm.pntype === '10'"
            v-model="daytime"></item-date>
          <!-- 周报 -->
          <item-week v-if="reportForm.pntype === '20'"
            v-model="week"></item-week>
          <!-- 月报 -->
          <item-month v-model="month"
            v-if="reportForm.pntype === '30' || reportForm.pntype === '25' || reportForm.pntype === '61'">
          </item-month>
          <!-- 半月报 -->
          <item-half-month v-model="halfmonth" v-if="reportForm.pntype === '25'"></item-half-month>
          <!-- 互联网报告 -->
          <item-daterange v-if="reportForm.pntype === '40' || reportForm.pntype === '0'"
            v-model="nettime"></item-daterange>
          <!-- 季报年报 -->
          <item-year v-model="year"
            v-if="reportForm.pntype === '70' || reportForm.pntype === '75' || reportForm.pntype === '80'"></item-year>
          <item-quarter v-model="quarter"
            v-if="reportForm.pntype === '70'"></item-quarter>
          <!-- 半年报 -->
          <item-half-year v-model="halfyear"
            v-if="reportForm.pntype === '75'">
          </item-half-year>
        </el-form-item>
      </el-form>
      <!-- <p>第三步：选择生成报告格式</p>
      <el-radio-group v-model="reportForm.pnfiletype">
        <el-radio-button :label="item.value"
          :key="item.value"
          v-for="item in fileType">{{item.label}}</el-radio-button>
      </el-radio-group>
      <br /> -->
      <br />
      <el-button type="primary"
        icon="el-icon-setting"
        :loading="$store.state.bloading"
        @click="_creatReport">生成报告</el-button>
    </div>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
    <upload-report v-if="dialogFormVisible"
      @close="dialogFormVisible = false"
      @reload="$refs.list._getList(1)"
      :pntype="pntype" />
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import commonReport from './common/commonReport'
import uploadReport from './common/uploadReport'
import outFile from '../common/outFile'
import itemIll from './common/itemIll'
import itemMclass from './common/itemMclass'
import itemDate from './common/itemDate'
import itemDaterange from './common/itemDaterange'
import itemWeek from './common/itemWeek'
import itemMonth from './common/itemMonth'
import itemHalfMonth from './common/itemHalfMonth'
import itemYear from './common/itemYear'
import itemQuarter from './common/itemQuarter'
import itemHalfYear from './common/itemHalfYear'
import { mapState } from 'vuex'
export default {
  components: {
    uploadReport,
    itemIll,
    itemMclass,
    commonReport,
    outFile,
    itemDate,
    itemWeek,
    itemHalfMonth,
    itemMonth,
    itemYear,
    itemQuarter,
    itemDaterange,
    itemHalfYear
  },
  data() {
    return {
      pnendtime: [],
      rtype: ['10', '20', '25', '30', '61', '70', '75', '80', '40'],
      reportForm: {
        pnfiletype: '10',
        pntype: '',
      },
      showdownload: false,
      durl: '',
      reportDialog: false,
      activeName: '1',
      illtype: '-1',
      mclass: '-1',
      daytime: this.$dayjs().format('YYYY-MM-DD'),
      week: '',
      quarter: 1,
      halfyear: new Date().getMonth() >= 6 ? '07-01' : '01-01',
      year: new Date().getFullYear().toString(),
      halfmonth: '01',
      month: this.$dayjs().format('YYYY-MM'),
      nettime: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      quarterType: {
        '1': '-01-01',
        '2': '-04-01',
        '3': '-07-01',
        '4': '-10-01',
      },
      dialogFormVisible: false,
    }
  },
  watch: {
    '$route.query.admin': {
      handler(val){
        if(val === 'hzsj'){
          this.reportForm.pntype = '0'
        }else{
          this.reportForm.pntype = Object.keys(this.pntype)[0]
        }
      }
    }
  },
  created(){
    this.reportForm.pntype = Object.keys(this.pntype)[0]
  },
  methods: {
    resetForm(clearAll) {
      this.reportForm = {
        pnfiletype: '10',
        pntype: '',
      }
      if (clearAll) {
        this._setReportType()
      }
    },
    _setReportType() {
      this.daytime = this.$dayjs().format('YYYY-MM-DD')
      this.week = ''
      this.quarter = 1
      this.year = new Date().getFullYear().toString()
      this.halfmonth = '01',
      this.month = this.$dayjs().format('YYYY-MM')
      this.halfyear = new Date().getMonth() >= 6 ? '07-01' : '01-01'
      this.nettime = [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')]
    },
    _creatReport() {
      let url = ''
      let data = null
      switch (this.reportForm.pntype) {
        case '0':
          if (!this.nettime.length) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('40',this.nettime)
          }
          url = '/Agp/GeneralReport/general_report'
          break
        case '10':
          if (!this.daytime) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: this.daytime,
            mclass: this.mclass,
            illtype: this.illtype
          }
          url = '/Agp/GeneralReport/day_report'
          break
        case '20':
          if (!this.week) {
            this.$func._error('请选择周')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('20',this.week)
          }
          url = '/Agp/GeneralReport/general_report'
          break
        case '25':
          if (!this.halfmonth || !this.month) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('25',`${this.month}-${this.halfmonth}`)
          }
          url = '/Agp/GeneralReport/general_report'
          break
        case '30':
          if (!this.month) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('30',this.month)
          }
          url = '/Agp/GeneralReport/general_report'
          break
        case '40':
          if (!this.nettime.length) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('40',this.nettime)
          }
          url = '/Agp/GeneralReport/general_net_report'
          break
        case '61':
          if (!this.month) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: `${this.month}-01`,
          }
          url = '/Agp/Fzbnetmonitoring/genzongpresentation'
          break
        case '70':
          if (!this.year || !this.quarter) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('70',[this.year,this.quarter])
          }
          url = '/Agp/GeneralReport/general_report'
          break
        case '75':
          if (!this.halfyear) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            pntype: this.reportForm.pntype,
            ...this.$func.setDuringTime('75',`${this.year}-${this.halfyear}`),
          }
          url = '/Agp/GeneralReport/general_report'
          break
        case '80':
          if (!this.year) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('80',this.year)
          }
          url = '/Agp/GeneralReport/general_report'
          break
      }
      this.$store.commit('_bloading', true)
      this.showdownload = true
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
            this.$message.success(`${res.data.msg}，请前往报告列表查看`)
            this.resetForm(true)
          } else if (res.data.code === 1) {
            this.$func._error(res.data)
            this.showdownload = false
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  },
  computed: {
    ...mapState(['bloading', 'pnfiletype', 'mediaType', 'leagalOptions', 'userInfo']),
    pntype() {
      let defaultArr = this.$store.state.userInfo.default_report
      const arr = defaultArr.filter((el) => {
        if(this.rtype.indexOf(String(el)) > -1) {
          return el
        }
      })
      const result = this.$func.setRType(arr, this)
      if(this.$route.query.admin === 'hzsj'){
        result['0'] = '自定义'
      }
      return result
    },
    fileType() {
      this.reportForm.pnfiletype = '10'
      return Array.of(this.pnfiletype[0])
    }
  }
}
</script>
