<template>
  <div class="evaluationReport main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="操作类型：">
            <el-select style="width:100%"
              v-model="fillegaltypecode"
              clearable
              placeholder="请选择">
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="操作状态：">
            <el-select style="width:100%"
              v-model="fillegaltypecode"
              clearable
              placeholder="请选择">
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="记录时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              clearable
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              value-format="yyyy-MM-dd"
              @change="_clearDate">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              :loading="loading"
              @click="_getList"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      v-loading="loading"
      ref="multipleTable"
      :data="tableData"
      :height="$store.state.GTableHeight">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column prop="fadname"
        label="操作类型"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="ffullname"
        label="操作状态"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fress"
        label="备注"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fissuedate"
        label="记录时间"
        width="140"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80px"
        prop="fillegaltype"
        label="操作人">
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      searchForm: {
        fadname: '',
        fadclasscode: [],
        fmedianame: '',
        media: [],
        fillegaltypecode: [],
        fissuedatest: '',
        fissuedateed: '',
        mclass: 'tv',
        page: '1',
        area: []
      },
      fadclasscode: [],
      fillegaltypecode: '',
      searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      tableData: [
        {
          fadname: "媒体排名",
          ffullname: "已经完成",
          fress: "2018年6月8日到此一游",
          fissuedate: "2018-6-8",
          fillegaltype: "鹅鹅鹅",
        },
      ],
      loading: false,
      countAll: '0',
      detailsData: {},
      tagList: [],
      illList: [],
      mediaArr: [],
      mediaList: [],
      media: '',
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        }
      }
    }
  },
  created() {
    this._getList()
    this._getMediaList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.page = page || 1
      axios.post(this.$_ + '/Agp/Fmonitoring/index', qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
        })
    },
    _clearDate(val) {
      if (val === null) {
        this.minDate = null
      }
    }
  }
}
</script>


