<template>
  <div class="monitor-report main-bg">
    <div class="operating-line"
      v-if="$route.query.admin==='hzsj' || Number($store.state.userInfo.generate_report)">
      <el-radio-group v-model="activeName"
        ref="create">
        <el-radio-button label="1">报告列表</el-radio-button>
        <el-radio-button label="2">生成报告</el-radio-button>
      </el-radio-group>
    </div>
    <common-report v-if="activeName === '1'"
      url="/Agp/OutWordAH/index"
      durl="/Agp/OutWordHz/tpresentation_delete"
      :pntype="pntype" />
    <div v-if="activeName === '2'">
      <p>第一步{{userInfo.use_open_search  === 1 ? '：' : ': '}}选择报告类型</p>
      <el-radio-group v-model="reportForm.pntype"
        @change="_setReportType">
        <el-radio-button :label="key"
          :key="key"
          v-for="(value,key) in pntype">{{value}}</el-radio-button>
      </el-radio-group>
      <p>第二步：选择报告条件</p>
      <el-form label-width="90px">
        <el-form-item label="选择时间：">
          <!-- 周报 -->
          <item-week v-if="reportForm.pntype === '20'"
            v-model="week"></item-week>
          <!-- 月报 -->
          <item-month v-model="month"
            v-if="reportForm.pntype === '30'">
          </item-month>
          <!-- 季报年报 -->
          <item-year v-model="year"
            v-if="reportForm.pntype === '70' || reportForm.pntype === '80'">
          </item-year>
          <item-quarter v-model="quarter"
            v-if="reportForm.pntype === '70'">
          </item-quarter>
        </el-form-item>
        <el-form-item label="媒体所属：">
          <el-select v-model="reportForm.area" style="max-width:250px;width:100%;">
            <el-option label="全省" value="0"></el-option>
            <el-option label="省属" value="1"></el-option>
            <el-option label="市属" value="2"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <br />
      <el-button type="primary"
        icon="el-icon-setting"
        :loading="$store.state.bloading"
        @click="_creatReport">生成报告</el-button>
    </div>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import outFile from '../common/outFile'
import itemMonth from './common/itemMonth'
import { mapState } from 'vuex'
import commonReport from './common/commonReport'
import itemYear from './common/itemYear'
import itemQuarter from './common/itemQuarter'
import itemWeek from './common/itemWeek'
export default {
  components: { outFile, commonReport, itemMonth, itemYear, itemQuarter, itemWeek },
  data() {
    return {
      rtype: ['20','30','70','80'],
      reportForm: {
        pntype: '30',
        area: '0'
      },
      showdownload: false,
      durl: '',
      activeName: '1',
      month: this.$dayjs().format('YYYY-MM'),
      year: new Date().getFullYear().toString(),
      quarter: 1,
      week: '',
    }
  },
  created() {
    this._setReportType(this.reportForm.pntype)
  },
  methods: {
    _setReportType(val) {
      this.quarter = 1
      this.week = ''
      this.month = this.$dayjs().format('YYYY-MM'),
      this.year = new Date().getFullYear().toString()
    },
    _creatReport() {
      let url = '/Agp/OutWordAH/create_report_anhui'
      let data = null
      switch (this.reportForm.pntype) {
        case '20':
          if (!this.week) {
            this.$func._error('请选择周')
            return false
          }
          data = {
            ...this.$func.setDuringTime('20',this.week),
            ...this.reportForm
          }
          break
        case '30':
          if (!this.month) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            s_time: this.$dayjs(this.month).startOf('month').format("YYYY-MM-DD"),
            e_time: this.$dayjs(this.month).endOf('month').format("YYYY-MM-DD"),
            ...this.reportForm
          }
          break
        case '70':
          if (!this.year || !this.quarter) {
            this.$func._error('请选择时间')
            return false
          }
          let quarter = this.$func.setDuringTime('70',[this.year,this.quarter])
          data = {
            s_time: quarter.s_time,
            e_time: quarter.e_time,
            ...this.reportForm,
          }
          break
        case '80':
          if (!this.year) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            s_time: `${this.year}-01-01`,
            e_time: `${this.year}-12-31`,
          }
          break
      }
      this.$store.commit('_bloading', true)
      this.showdownload = true
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
            this.$message.success(`${res.data.msg}，请前往报告列表查看`)
            this.reportForm = {
              pntype: '30',
              area: '0'
            }
            this._setReportType()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  },
  computed: {
    ...mapState(['bloading', 'pnfiletype', 'mediaType', 'leagalOptions', 'userInfo']),
    pntype() {
      return this.$func.setRType(this.rtype, this)
    },
    fileType() {
      this.reportForm.pnfiletype = '10'
      return Array.of(this.pnfiletype[0])
    }
  }
}
</script>
