<template>
  <div class="monitor-report main-bg">
    <div class="operating-line"
      v-if="$route.query.admin==='hzsj' || Number($store.state.userInfo.generate_report)">
      <el-button class="pull-right"
        type="primary"
        @click="dialogFormVisible = true">上传报告</el-button>
      <el-radio-group v-model="activeName"
        ref="create">
        <el-radio-button label="1">报告列表</el-radio-button>
        <el-radio-button label="2">生成报告</el-radio-button>
      </el-radio-group>
    </div>
    <common-report v-if="activeName === '1'"
      ref="list"
      url="/Agp/OutXlsZB/index"
      durl="/Agp/OutWord/tpresentation_delete"
      :pntype="pntype" />
    <div v-if="activeName === '2'">
      <p>第一步{{userInfo.use_open_search  === 1 ? '：' : ': '}}选择报告类型</p>
      <el-radio-group v-model="reportForm.pntype"
        @change="_setReportType">
        <el-radio-button :label="key"
          :key="key"
          v-for="(value,key) in pntype">{{value}}</el-radio-button>
      </el-radio-group>
      <p>第二步：选择报告条件</p>
      <el-form label-width="90px">
        <!-- 日报 -->
        <el-form-item label="违法程度："
          v-if="reportForm.pntype === '10'">
          <item-ill v-model="reportForm.illtype"></item-ill>
        </el-form-item>
        <el-form-item label="媒体类型："
          v-if="reportForm.pntype === '10'">
          <item-mclass v-model="reportForm.mclass" mclass="mediaType"></item-mclass>
        </el-form-item>
        <el-form-item label="选择时间：">
          <!-- 日报 -->
          <item-date v-if="reportForm.pntype === '10'"
            v-model="daytime"></item-date>
          <!-- 周报 -->
          <item-week v-if="reportForm.pntype === '20'"
            v-model="week"></item-week>
          <!-- 互联网报告 -->
          <item-daterange v-if="reportForm.pntype === '40'"
            v-model="nettime"></item-daterange>
          <!-- 月报 -->
          <item-month v-model="month"
            v-if="reportForm.pntype === '30'">
          </item-month>
          <!-- 季报年报 -->
          <item-year v-model="year"
            v-if="reportForm.pntype === '70' || reportForm.pntype === '75' || reportForm.pntype === '80'">
          </item-year>
          <item-quarter v-model="quarter"
            v-if="reportForm.pntype === '70'">
          </item-quarter>
          <!-- 半年报 -->
          <item-half-year v-model="halfyear"
            v-if="reportForm.pntype === '75'">
          </item-half-year>
        </el-form-item>
      </el-form>
      <p>第三步：选择生成报告格式</p>
      <el-radio-group v-model="reportForm.pnfiletype">
        <el-radio-button :label="item.value"
          :key="item.value"
          v-for="item in fileType">{{item.label}}</el-radio-button>
      </el-radio-group>
      <br />
      <br />
      <el-button type="primary"
        icon="el-icon-setting"
        :loading="bloading"
        @click="_creatReport">生成报告</el-button>
    </div>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
    <upload-report v-if="dialogFormVisible"
      @close="dialogFormVisible = false"
      @reload="$refs.list._getList(1)"
      :pntype="pntype" />
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import illAnnex from "../clue/illAnnex"
import { mapState } from 'vuex'
import commonReport from './common/commonReport'
import uploadReport from './common/uploadReport'
import itemIll from './common/itemIll'
import itemMclass from './common/itemMclass'
import itemDate from './common/itemDate'
import itemWeek from './common/itemWeek'
import itemDaterange from './common/itemDaterange'
import itemMonth from './common/itemMonth'
import itemYear from './common/itemYear'
import itemQuarter from './common/itemQuarter'
import itemHalfYear from './common/itemHalfYear'
import outFile from '../common/outFile'
export default {
  components: {
    commonReport,
    uploadReport,
    outFile,
    illAnnex,
    itemIll,
    itemMclass,
    itemDate,
    itemWeek,
    itemDaterange,
    itemMonth,
    itemYear,
    itemQuarter,
    itemHalfYear,
  },
  data() {
    return {
      reportForm: {
        daytime: '',
        pnfiletype: '10',
        pntype: '10',
        mclass: 'tv',
        illtype: '-1'
      },
      halfyear: new Date().getMonth() >= 6 ? '07-01' : '01-01',
      dialogFormVisible: false,
      showdownload: false,
      durl: '',
      week: '',
      year: new Date().getFullYear().toString(),
      quarter: 1,
      daytime: this.$dayjs().format('YYYY-MM-DD'),
      nettime: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      activeName: '1',
      month: this.$dayjs().format('YYYY-MM'),
    }
  },
  created() {
    this._setReportType(this.reportForm.pntype)
  },
  methods: {
    _setReportType(val) {
      this.daytime = this.$dayjs().format('YYYY-MM-DD')
      this.week = ''
      this.month = this.$dayjs().format('YYYY-MM'),
      this.quarter = 1
      this.nettime = [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')]
      this.halfyear = new Date().getMonth() >= 6 ? '07-01' : '01-01'
      this.year = new Date().getFullYear().toString()
    },
    _creatReport() {
      let url = ''
      let s = new Date(this.week).getTime() - 24 * 60 * 60 * 1000
      let e = new Date(this.week).getTime() + 5 * 24 * 60 * 60 * 1000
      let data = null
      switch (this.reportForm.pntype) {
        case '10':
          if (!this.daytime) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: this.daytime
          }
          url = '/Agp/OutXlsZB/create_zbdaypresentation_zb'
          break
        case '20':
          if (!this.week) {
            this.$func._error('请选择周')
            return false
          }
          data = {
            ...this.reportForm,
            s_time: this.$dayjs(s).format('YYYY-MM-DD'),
            e_time: this.$dayjs(e).format('YYYY-MM-DD')
          }
          url = '/Agp/OutWord/create_week'
          break
        case '30':
          if (!this.month) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: this.month
          }
          url = this.$store.state.userInfo.system_num === 131000 ? '/Agp/OutWordLf/create_month' : '/Agp/OutXlsZB/create_month'
          break
        case '40':
          if (!this.nettime.length) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            s_time: this.nettime[0],
            e_time: this.nettime[1],
          }
          url = '/Agp/OutWord/create_netad'
          break
        case '70':
          if (!this.year || !this.quarter) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            year: this.year,
            quarter: this.quarter,
          }
          url = '/Agp/OutWord/create_quarter'
          break
        case '75':
          if (!this.halfyear) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            pntype: this.reportForm.pntype,
            ...this.$func.setDuringTime('75',`${this.year}-${this.halfyear}`),
          }
          url = '/Agp/GeneralReport/general_report'
          break
        case '80':
          if (!this.year) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            year: this.year,
          }
          url = '/Agp/OutWord/create_year'
          break
      }
      this.$store.commit('_bloading', true)
      this.showdownload = true
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
            this.$message.success(`${res.data.msg}，请前往报告列表查看`)
            this.reportForm = {
              fid: '',
              daytime: '',
              pnfiletype: '10',
              pntype: '10',
              mclass: 'tv',
              illtype: '-1'
            }
            this._setReportType(this.reportForm.pntype)
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    }
  },
  computed: {
    ...mapState(['bloading', 'pnfiletype', 'mediaType', 'leagalOptions', 'userInfo']),
    rtype(){
      let arr = [440000]
      return arr.includes(this.$store.state.userInfo.system_num) ? ['10', '20', '30', '70', '75', '80', '40'] : ['10', '20', '30', '70', '80', '40']
    },
    pntype() {
      return this.$func.setRType(this.rtype, this)
    },
    fileType() {
      if (this.reportForm.pntype === '10' || this.reportForm.pntype === '60') {
        this.reportForm.pnfiletype = '30'
        return Array.of(this.pnfiletype[1])
      } else {
        this.reportForm.pnfiletype = '10'
        return Array.of(this.pnfiletype[0])
      }
    }
  }
}
</script>
