<template>
  <div class="monitor-report main-bg">
    <div class="operating-line"
      v-if="$route.query.admin==='hzsj' || Number($store.state.userInfo.generate_report)">
      <el-radio-group v-model="activeName"
        ref="create">
        <el-radio-button label="1">报告列表</el-radio-button>
        <el-radio-button label="2">生成报告</el-radio-button>
      </el-radio-group>
    </div>
    <common-report v-if="activeName === '1'"
      url="/Agp/OutWordFJ/index"
      durl="/Agp/OutWordHz/tpresentation_delete"
      :pntype="pntype" />
    <div v-if="activeName === '2'">
      <p>第一步{{userInfo.use_open_search  === 1 ? '：' : ': '}}选择报告类型</p>
      <el-radio-group v-model="reportForm.pntype"
        @change="_setReportType">
        <el-radio-button :label="key"
          :key="key"
          v-for="(value,key) in pntype">{{value}}</el-radio-button>
      </el-radio-group>
      <p>第二步：选择报告条件</p>
      <el-form label-width="80px">
        <el-form-item label="选择时间">
          <item-date v-if="reportForm.pntype === '10'"
            v-model="daytime"></item-date>
          <!-- 周报 -->
          <item-week v-if="reportForm.pntype === '20'"
            v-model="week"></item-week>
          <!-- 月报 -->
          <item-month v-model="month"
            v-if="reportForm.pntype === '30'">
          </item-month>
          <!-- 季报年报 -->
          <item-year v-model="year"
            v-if="reportForm.pntype === '70' || reportForm.pntype === '75' || reportForm.pntype === '80'">
          </item-year>
          <item-quarter v-model="quarter"
            v-if="reportForm.pntype === '70'">
          </item-quarter>
          <!-- 半年报 -->
          <item-half-year v-model="halfyear"
            v-if="reportForm.pntype === '75'">
          </item-half-year>
          <!-- 自定义 -->
          <el-date-picker
            v-if="reportForm.pntype === '81'"
            v-model="custom"
            type="daterange"
            range-separator="至"
            value-format="yyyy-MM-dd"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <el-button type="primary"
        icon="el-icon-setting"
        :loading="$store.state.bloading"
        @click="_creatReport">生成报告</el-button>
    </div>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import commonReport from './common/commonReport'
import outFile from '../common/outFile'
import itemDate from './common/itemDate'
import itemWeek from './common/itemWeek'
import itemMonth from './common/itemMonth'
import itemYear from './common/itemYear'
import itemQuarter from './common/itemQuarter'
import itemHalfYear from './common/itemHalfYear'
import { mapState } from 'vuex'
export default {
  components: { commonReport, outFile, itemDate, itemWeek, itemMonth, itemYear, itemQuarter, itemHalfYear },
  data() {
    return {
      rtype: ['10', '20', '30', '70', '75', '80', '81'],
      reportForm: {
        pntype: '10',
      },
      year: new Date().getFullYear().toString(),
      quarter: 1,
      week: '',
      halfyear: new Date().getMonth() >= 6 ? '07-01' : '01-01',
      showdownload: false,
      durl: '',
      daytime: this.$dayjs().format('YYYY-MM-DD'),
      reportDialog: false,
      activeName: '1',
      month: this.$dayjs().format('YYYY-MM'),
      custom: [],
    }
  },
  methods: {
    _setReportType(val) {
      this.daytime = this.$dayjs().format('YYYY-MM-DD')
      this.quarter = 1
      this.week = ''
      this.month = this.$dayjs().format('YYYY-MM'),
      this.halfyear = new Date().getMonth() >= 6 ? '07-01' : '01-01'
      this.year = new Date().getFullYear().toString()
      this.custom = []
    },
    _creatReport() {
      let url = ''
      let data = null
      switch (this.reportForm.pntype) {
        case '10':
          if (!this.daytime) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: this.daytime,
          }
          url = '/Agp/OutWordFJ/create_daypresentation'
          break
        case '20':
          if (!this.week) {
            this.$func._error('请选择周')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('20',this.week)
          }
          url = '/Agp/OutWordFJ/create_weekpresentation'
          break
        case '30':
          if (!this.month) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: this.month
          }
          url = '/Agp/OutWordFJ/create_monthpresentation'
          break
        case '70':
          if (!this.year || !this.quarter) {
            this.$func._error('请选择时间')
            return false
          }
          let quarter = this.$func.setDuringTime('70',[this.year,this.quarter])
          data = {
            ...this.reportForm,
            daytime: quarter.s_time
          }
          url = '/Agp/OutWordFJ/create_seasonpresentation'
          break
        case '75':
          if (!this.halfyear) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: `${this.year}-${this.halfyear}`,
          }
          url = '/Agp/OutWordFJ/create_halfyearpresentation'
          break
        case '80':
          if (!this.year) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: `${this.year}-01-01`
          }
          url = '/Agp/OutWordFJ/create_yearpresentation'
          break
        case '81':
          if (!this.custom.length) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            daytime: this.custom
          }
          url = '/Agp/OutWordFJ/create_custompresentation'
          break
      }
      this.$store.commit('_bloading', true)
      this.showdownload = true
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
            this.$message.success(`${res.data.msg}，请前往报告列表查看`)
            this._setReportType()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  },
  computed: {
    ...mapState(['bloading', 'pnfiletype', 'mediaType', 'leagalOptions', 'userInfo']),
    pntype() {
      return this.$func.setRType(this.rtype, this)
    },
    fileType() {
      this.reportForm.pnfiletype = '10'
      return Array.of(this.pnfiletype[0])
    }
  }
}
</script>
