<template>
  <div class="monitor-report main-bg">
    <div class="operating-line"
      v-if="$route.query.admin==='hzsj' || Number($store.state.userInfo.generate_report)">
      <el-radio-group v-model="activeName"
        ref="create">
        <el-radio-button label="1">报告列表</el-radio-button>
        <el-radio-button label="2">生成报告</el-radio-button>
      </el-radio-group>
    </div>
    <common-report v-if="activeName === '1'"
      ref="list"
      url="/Agp/OutWordNJ/index"
      durl="/Agp/OutWord/tpresentation_delete"
      :pntype="pntype" />
    <div v-if="activeName === '2'">
      <p>第一步{{userInfo.use_open_search  === 1 ? '：' : ': '}}选择报告类型</p>
      <el-radio-group v-model="reportForm.pntype"
        @change="_setReportType"
        >
        <el-radio-button :label="key"
          :key="key"
          v-for="(value,key) in pntype">{{value}}</el-radio-button>
      </el-radio-group>
      <p>第二步：选择报告条件</p>
      <el-form  label-width="90px">
        <el-form-item label="选择时间：">
          <!-- 日报 -->
          <item-date v-if="reportForm.pntype === '10'" v-model="daytime"></item-date>
            <!-- 月报 -->
          <item-month
            v-model="month"
            v-if="reportForm.pntype === '30'">
          </item-month>
          <!-- 互联网报告 -->
          <item-daterange v-if="reportForm.pntype === '40' || reportForm.pntype === '50'" v-model="nettime"></item-daterange>
          <!-- 季报年报 -->
          <item-year v-model="year"
            v-if="reportForm.pntype === '70' || reportForm.pntype === '75' || reportForm.pntype === '80'"></item-year>
          <item-quarter v-model="quarter"
            v-if="reportForm.pntype === '70'"></item-quarter>
          <!-- 半年报 -->
          <item-half-year v-model="halfyear"
            v-if="reportForm.pntype === '75'">
          </item-half-year>
        </el-form-item>
        </el-form-item>
        <el-form-item label="选择媒介机构：" v-if="reportForm.pntype === '10'">
          <item-mediaorg v-model="reportForm.fid" url="/Agp/OutWordNJ/get_njtmedia"></item-mediaorg>
        </el-form-item>
        <el-form-item label="媒介所属：" v-if="reportForm.pntype === '50'">
          <el-select v-model="reportForm.isszs" style="width: 50%" @change="_specalMedia">
            <el-option label="省直属" value="szs"></el-option>
            <el-option label="本市" value="bs"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选择媒介：" v-if="reportForm.pntype === '50'">
          <el-select
            style="width: 50%"
            multiple
            filterable
            collapse-tags
            v-model="fids">
            <el-option-group
              v-for="group in specal_medias"
              :key="group.label"
              :label="group.label">
              <el-option
                v-for="item in group.options"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-option-group>
          </el-select>
        </el-form-item>
        <el-form-item label="选择广告类别：" v-if="reportForm.pntype === '50'">
          <itemAdclass v-model="Adclass" :group="adClass"></itemAdclass>
        </el-form-item>
        <el-form-item label="报告类别：" v-if="reportForm.pntype === '50'">
          <el-select v-model="reportForm.report_type" style="width: 50%">
            <el-option label="广告监测统计情况（表一）" value="1"></el-option>
            <el-option label="涉嫌违法广告监测统计情况（表二）" value="2"></el-option>
            <el-option label="广告监测涉嫌违法线索（表三）" value="3"></el-option>
            <el-option label="涉嫌违法广告分类别情况（表四）" value="4"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <p>第三步：选择生成报告格式</p>
      <el-radio-group v-model="reportForm.pnfiletype"
        >
        <el-radio-button :label="item.value"
          :key="item.value"
          v-for="item in fileType">{{item.label}}</el-radio-button>
      </el-radio-group>
      <br />
      <br />
      <el-button type="primary" icon="el-icon-setting" :loading="$store.state.bloading" @click="_creatReport">生成报告</el-button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import commonReport from './common/commonReport'
import itemDate from './common/itemDate'
import itemDaterange from './common/itemDaterange'
import itemMonth from './common/itemMonth'
import itemAdclass from './common/itemAdclass'
import itemMediaorg from './common/itemMediaorg'
import itemYear from './common/itemYear'
import itemQuarter from './common/itemQuarter'
import itemHalfYear from './common/itemHalfYear'
export default {
  components: {
    commonReport,
    itemDate,
    itemDaterange,
    itemMonth,
    itemMediaorg,
    itemAdclass,
    itemYear,
    itemQuarter,
    itemHalfYear
  },
  data(){
    return {
      rtype: ['10','30','40','50', '70', '75'],
      reportForm: {
        pnfiletype: '10',
        pntype: '10',
        isszs:'szs',
        report_type: '1'
      },
      quarter: 1,
      halfyear: new Date().getMonth() >= 6 ? '07-01' : '01-01',
      year: new Date().getFullYear().toString(),
      Adclass: [],
      adClass: [],
      fids: [],
      daytime: this.$dayjs().format('YYYY-MM-DD'),
      activeName: '1',
      month: '',
      specal_medias: [],
      Medias: [],
      nettime: [this.$dayjs().format('YYYY-MM-DD'),this.$dayjs().format('YYYY-MM-DD')],
    }
  },
  created(){
    this._getData()
    this._setReportType(this.reportForm.pntype)
  },
  methods: {
    _getData(){
      axios.post(this.$_ + '/Agp/OutXlsNJ/special_report_lottery')
      .then(res => {
        if(res.data.code === 0){
          this.Medias = res.data.data.medias
          this._specalMedia('szs')
          let arr2 = []
          res.data.data.adclass.forEach(item => {
            let o = {}
            o.label = item.fadclass
            o.value = item.fcode
            arr2.push(o)
          })
          this.adClass = arr2
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _specalMedia(val){
      this.fids = []
      let arr = []
      for(let keys in this.Medias[val]){
        let o = {}
        if(keys === 'tv'){
          o.label = '电视'
        }else if(keys === 'bc'){
          o.label = '广播'
        }else if(keys === 'paper'){
          o.label = '报纸'
        }
        o.options = this.Medias[val][keys]
        arr.push(o)
      }
      this.specal_medias = arr
    },

    _setReportType(val){
      let d = new Date()
      let y = d.getFullYear()
      let m = d.getMonth()
      switch(val){
        case '10':
        this.daytime = this.$dayjs().format('YYYY-MM-DD')
        break
        case '30':
        this.month = `${y}-${m}`
        break
        case '40':
        this.nettime = [this.$dayjs().format('YYYY-MM-DD'),this.$dayjs().format('YYYY-MM-DD')]
        break
        case '50':
        this.month = `${y}-${m}`
        break
      }
      this.reportForm.daytime = ''
      this.reportForm.pnfiletype = val === '50' ? '30' : '10'
    },
    _creatReport(){
      let url = ''
      let data = null
      switch(this.reportForm.pntype)
      {
        case '10':
          if(!this.daytime){
            this.$func._error('请选择时间')
            return false
          }
          if(!this.reportForm.fid){
             this.$func._error('请选择媒介机构')
             return false
          }
          this.reportForm.daytime = this.daytime
          data = {...this.reportForm}
          url = '/Agp/OutWordNJ/create_daypresentation'
          break
        case '30':
          if(!this.month){
            this.$func._error('请选择时间')
            return false
          }
          this.reportForm.daytime = this.month
          data = {...this.reportForm}
          url = '/Agp/OutWordNJ/create_monthpresentation'
          break
        case '40':
          if(!this.nettime.length){
            this.$func._error('请选择时间')
            return false
          }
          url = '/Agp/OutWord/create_netad'
          this.reportForm.s_time = this.nettime[0]
          this.reportForm.e_time = this.nettime[1]
          data = {...this.reportForm}
          break
        case '50':
          if(!this.nettime.length){
            this.$func._error('请选择时间')
            return false
          }
          this.reportForm.adtypes = this.Adclass
          this.reportForm.medias = this.fids
          this.reportForm.s_time = this.nettime[0]
          this.reportForm.e_time = this.nettime[1]
          data = {...this.reportForm}
          url = '/Agp/OutXlsNJ/create_special_report'
          break
        case '70':
          if (!this.year || !this.quarter) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            ...this.reportForm,
            ...this.$func.setDuringTime('70',[this.year,this.quarter])
          }
          url = '/Agp/GeneralReport/general_report'
          break
        case '75':
          if (!this.halfyear) {
            this.$func._error('请选择时间')
            return false
          }
          data = {
            pntype: this.reportForm.pntype,
            ...this.$func.setDuringTime('75',`${this.year}-${this.halfyear}`),
          }
          url = '/Agp/GeneralReport/general_report'
          break
      }
      this.$store.commit('_bloading',true)
      axios.post(this.$_ + url,qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success(`${res.data.msg}，请前往报告列表查看`)
          this.reportForm =  {
            pnfiletype: '10',
            pntype: '10',
            isszs:'szs',
            report_type: '1'
          }
          this._setReportType(this.reportForm.pntype)
        }else{
          this.$func._error(res.data)
        }
        this.$store.commit('_bloading',false)
      })
      .catch(() => {
        this.$func._error('报告生成出错！')
        this.$store.commit('_bloading',false)
      })
    }
  },
  computed: {
    ...mapState(['bloading', 'pnfiletype', 'mediaType', 'leagalOptions', 'userInfo']),
    pntype() {
      return this.$func.setRType(this.rtype, this)
    },
    fileType() {
      if(this.reportForm.pntype !== '50'){
        this.reportForm.pnfiletype = '10'
        return Array.of(this.pnfiletype[0])
      }else{
        this.reportForm.pnfiletype = '30'
        return Array.of(this.pnfiletype[1])
      }
    }
  }
}
</script>
