<template>
  <div class="monitor-report-gjj main-bg">
    <div class="operating-line"
      v-if="$route.query.admin==='hzsj' || Number($store.state.userInfo.generate_report)">
      <el-radio-group v-model="activeName"
        ref="create">
        <el-radio-button label="1">报告列表</el-radio-button>
        <el-radio-button label="2">生成报告</el-radio-button>
      </el-radio-group>
    </div>
    <common-report v-if="activeName === '1'"
      url="/Agp/GjjOutWord/index"
      durl="/Agp/OutWordHz/tpresentation_delete"
      :pntype="pntype" />
    <div v-if="activeName === '2'">
      <p v-if="false">选择报告类型</p>
      <el-radio-group v-model="reportForm.pntype"
        v-if="false"
        >
        <el-radio-button :label="key"
          :key="key"
          v-for="(value,key) in pntype">{{value}}</el-radio-button>
      </el-radio-group>
      <p>选择报告条件</p>
      <el-form
        label-width="80px">
        <el-form-item label="选择时间">
          <!-- 月报 -->
          <item-month v-model="month"
            v-if="reportForm.pntype === '30'">
          </item-month>
        </el-form-item>
      </el-form>
      <p v-if="false">选择生成报告格式</p>
      <el-radio-group v-model="reportForm.pnfiletype"
        v-if="false"
        >
        <el-radio-button :label="item.value"
          :key="item.value"
          v-for="item in fileType">{{item.label}}</el-radio-button>
      </el-radio-group>
      <br />
      <br />
      <el-button type="primary"
        icon="el-icon-setting"
        :loading="$store.state.bloading"
        @click="_creatReport">生成报告</el-button>
    </div>
    <out-file
      v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import commonReport from './common/commonReport'
import itemMonth from './common/itemMonth'
import outFile from '../common/outFile'
export default {
  components: { outFile,commonReport, itemMonth },
  data() {
    return {
      rtype: ['30'],
      reportForm: {
        daytime: '',
        pnfiletype: '10',
        pntype: '30',
      },
      showdownload: false,
      durl: '',
      activeName: '1',
      month: this.$dayjs().format('YYYY-MM'),
    }
  },
  methods: {
    _cdownload(){
      this.showdownload = false
      this.durl = ''
    },
    _creatReport() {
      let url = ''
      switch (this.reportForm.pntype) {
        case '30':
          this.reportForm.daytime = this.month
          url = '/Agp/GjjOutWord/create_month_report'
          break
      }
      this.$store.commit('_bloading', true)
      this.showdownload = true
      axios.post(this.$_ + url, qs.stringify(this.reportForm))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
            this.$message.success(`${res.data.msg}，请前往报告列表查看`)
            this.reportForm = {
              fid: '',
              daytime: '',
              pnfiletype: '10',
              pntype: '30'
            }
            this.month = ''
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    }
  },
  computed: {
    ...mapState(['bloading', 'pnfiletype', 'mediaType', 'leagalOptions']),
    pntype() {
      return this.$func.setRType(this.rtype, this)
    },
    fileType() {
      this.reportForm.pnfiletype = '30'
      return Array.of(this.pnfiletype[0])
    }
  }
}
</script>
