<template>
  <div class="monitor-report main-bg">
    <div class="operating-line"
      v-if="$route.query.admin==='hzsj' || Number($store.state.userInfo.generate_report)">
      <el-radio-group v-model="activeName"
        ref="create">
        <el-radio-button label="1">报告列表</el-radio-button>
        <el-radio-button label="2">生成报告</el-radio-button>
      </el-radio-group>
    </div>
    <common-report v-if="activeName === '1'"
      url="/Agp/OutWordSjz/index"
      durl="/Agp/OutWordSjz/tpresentation_delete"
      :pntype="pntype" />
    <div v-if="activeName === '2'">
      <p>第一步{{userInfo.use_open_search  === 1 ? '：' : ': '}}选择报告类型</p>
      <el-radio-group v-model="reportForm.pntype"
        @change="_setReportType">
        <el-radio-button :label="key"
          :key="key"
          :disabled="key==='50'"
          v-for="(value,key) in pntype">{{value}}</el-radio-button>
      </el-radio-group>
      <p>第二步：选择报告条件</p>
      <el-form label-width="90px">
        <!-- 日报 -->
        <el-form-item label="违法程度："
          v-if="reportForm.pntype === '10'">
          <item-ill v-model="illtype"></item-ill>
        </el-form-item>
        <el-form-item label="媒体类型："
          v-if="reportForm.pntype === '10'">
          <item-mclass v-model="mclass"
            mclass="mediaType5">
            <el-option label="全部"
              value="-1"></el-option>
          </item-mclass>
        </el-form-item>
        <el-form-item label="选择时间：">
          <item-date v-if="reportForm.pntype === '10'"
            v-model="daytime"></item-date>
          <!-- 周报 -->
          <item-week v-if="reportForm.pntype === '20'"
            v-model="week"></item-week>
          <!-- 互联网报告 -->
          <item-daterange v-if="reportForm.pntype === '40'"
            v-model="nettime"></item-daterange>
          <!-- 月报 -->
          <item-month v-model="month"
            v-if="reportForm.pntype === '30'">
          </item-month>
          <!-- 季报年报 -->
          <item-year v-model="year"
            v-if="reportForm.pntype === '70' || reportForm.pntype === '80'"></item-year>
          <item-quarter v-model="quarter"
            v-if="reportForm.pntype === '70'"></item-quarter>
        </el-form-item>
      </el-form>
      <el-button type="primary"
        icon="el-icon-setting"
        :loading="bloading"
        @click="_creatReport">生成报告</el-button>
    </div>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import commonReport from './common/commonReport'
import itemIll from './common/itemIll'
import itemMclass from './common/itemMclass'
import itemDate from './common/itemDate'
import itemWeek from './common/itemWeek'
import itemDaterange from './common/itemDaterange'
import itemMonth from './common/itemMonth'
import itemYear from './common/itemYear'
import itemQuarter from './common/itemQuarter'
import outFile from '../common/outFile'
export default {
  components: {
    commonReport,
    outFile,
    itemIll,
    itemMclass,
    itemDate,
    itemWeek,
    itemDaterange,
    itemMonth,
    itemYear,
    itemQuarter
  },
  data() {
    return {
      rtype: ['10', '20', '30', '70', '80'],
      reportForm: {
        pntype: '10',
      },
      illtype: '0',
      mclass: '-1',
      showdownload: false,
      durl: '',
      week: '',
      year: new Date().getFullYear().toString(),
      quarter: 1,
      daytime: this.$dayjs().format('YYYY-MM-DD'),
      nettime: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      activeName: '1',
      month: this.$dayjs().format('YYYY-MM'),
    }
  },
  created() {
    this._setReportType()
  },
  methods: {
    _setReportType() {
      this.daytime = this.$dayjs().format('YYYY-MM-DD')
      this.month = this.$dayjs().format('YYYY-MM')
      this.year = new Date().getFullYear().toString()
      this.quarter = 1
    },
    _creatReport() {
      let url = ''
      switch (this.reportForm.pntype) {
        case '10':
          if (!this.daytime) {
            this.$func._error('请选择时间')
            return false
          }
          this.reportForm.daytime = this.daytime
          this.reportForm.illtype = this.illtype
          this.reportForm.mclass = this.mclass
          url = '/Agp/OutWordSjz/create_day'
          break
        case '20':
          if (!this.week) {
            this.$func._error('请选择周')
            return false
          }
          let s = new Date(this.week).getTime() - 24 * 60 * 60 * 1000
          let e = new Date(this.week).getTime() + 5 * 24 * 60 * 60 * 1000
          this.reportForm.s_time = this.$dayjs(s).format('YYYY-MM-DD')
          this.reportForm.e_time = this.$dayjs(e).format('YYYY-MM-DD')
          url = '/Agp/OutWordSjz/create_week'
          break
        case '30':
          if (!this.month) {
            this.$func._error('请选择时间')
            return false
          }
          this.reportForm.daytime = this.month
          url = '/Agp/OutWordSjz/create_month'
          break
        case '70':
          if (!this.year || !this.quarter) {
            this.$func._error('请选择时间')
            return false
          }
          url = '/Agp/OutWordSjz/create_quarter'
          this.reportForm.year = this.year
          this.reportForm.quarter = this.quarter
          break
        case '80':
          if (!this.year) {
            this.$func._error('请选择时间')
            return false
          }
          url = '/Agp/OutWordSjz/create_year'
          this.reportForm.year = this.year
          break
      }
      this.$store.commit('_bloading', true)
      let data = { ...this.reportForm }
      this.showdownload = true
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
            this.$message.success(`${res.data.msg}，请前往报告列表查看`)
            this.reportForm = {
              pntype: '10',
            }
            this._setReportType()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  },
  computed: {
    ...mapState(['bloading', 'mediaType5', 'leagalOptions', 'userInfo']),
    pntype() {
      return this.$func.setRType(this.rtype, this)
    },
  }
}
</script>
