<template>
  <div class="monitor-report main-bg">
    <div class="operating-line"
      v-if="$route.query.admin==='hzsj' || Number($store.state.userInfo.generate_report)">
      <el-button class="pull-right"
        type="primary"
        @click="dialogFormVisible = true">上传报告</el-button>
      <el-radio-group v-model="activeName"
        ref="create">
        <el-radio-button label="1">报告列表</el-radio-button>
        <el-radio-button label="2">生成报告</el-radio-button>
      </el-radio-group>
    </div>
    <common-report v-if="activeName === '1'"
      ref="list"
      url="/Agp/OutWordHz/index"
      durl="/Agp/OutWordHz/tpresentation_delete"
      :pntype="pntype" />
    <div v-if="activeName === '2'">
      <p>第一步{{userInfo.use_open_search  === 1 ? '：' : ': '}}选择报告类型</p>
      <el-radio-group v-model="reportForm.pntype"
        @change="_setReportType">
        <el-radio-button :label="key"
          :key="key"
          v-for="(value,key) in pntype">{{value}}</el-radio-button>
      </el-radio-group>
      <p>第二步：选择报告条件</p>
      <el-form label-width="90px">
        <el-form-item label="选择时间：">
          <!-- 月报 -->
          <item-month v-model="month"
            v-if="reportForm.pntype === '30'">
          </item-month>
          <el-radio-group v-model="reportType"
            v-if="reportForm.pntype === '30'">
            <el-radio-button :label="1">市级报告</el-radio-button>
            <el-radio-button :label="0">县级报告</el-radio-button>
          </el-radio-group>
          <!-- 季报年报 -->
          <item-year v-model="year"
            v-if="reportForm.pntype === '70' || reportForm.pntype === '80'">
          </item-year>
          <item-quarter v-model="quarter"
            v-if="reportForm.pntype === '70'">
          </item-quarter>
        </el-form-item>
        </el-form-item>
      </el-form>
      <p>第三步：选择生成报告格式</p>
      <el-radio-group v-model="reportForm.pnfiletype">
        <el-radio-button :label="item.value"
          :key="item.value"
          v-for="item in fileType">{{item.label}}</el-radio-button>
      </el-radio-group>
      <br />
      <br />
      <el-button type="primary"
        icon="el-icon-setting"
        :loading="$store.state.bloading"
        @click="_creatReport">生成报告</el-button>
    </div>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
    <upload-report v-if="dialogFormVisible"
      @close="dialogFormVisible = false"
      @reload="$refs.list._getList(1)"
      :pntype="pntype" />
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import commonReport from './common/commonReport'
import uploadReport from './common/uploadReport'
import { mapState } from 'vuex'
import itemMonth from './common/itemMonth'
import itemYear from './common/itemYear'
import itemQuarter from './common/itemQuarter'
import outFile from '../common/outFile'
export default {
  components: { commonReport, outFile, itemMonth, itemYear, itemQuarter, uploadReport },
  data() {
    return {
      rtype: ['30', '70', '80'],
      reportForm: {
        daytime: '',
        pnfiletype: '10',
        pntype: '30',
      },
      reportType: 1,
      year: new Date().getFullYear().toString(),
      quarter: 1,
      nettime: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      activeName: '1',
      month: this.$dayjs().format('YYYY-MM'),
      showdownload: false,
      durl: '',
      dialogFormVisible: false,
    }
  },
  created() {
    this._setReportType(this.reportForm.pntype)
  },
  methods: {
    _setReportType(val) {
      this.reportForm.daytime = ''
      this.daytime = this.$dayjs().format('YYYY-MM-DD')
      this.quarter = 1
      this.year = new Date().getFullYear().toString()
      this.month = this.$dayjs().format('YYYY-MM')
    },
    _setFileType(val) {
      this.reportForm.pnfiletype = val
    },
    _creatReport() {
      let url = ''
      switch (this.reportForm.pntype) {
        case '30':
          if (!this.month) {
            this.$func._error('请选择时间')
            return false
          }
          this.reportForm.daytime = this.month
          url = this.reportType ? '/Agp/OutWordHz/create_month_bj' : '/Agp/OutWordHz/create_month_xj'
          break
        case '70':
          if (!this.year || !this.quarter) {
            this.$func._error('请选择时间')
            return false
          }
          url = '/Agp/OutWord/create_quarter'
          this.reportForm.year = this.year
          this.reportForm.quarter = this.quarter
          break
        case '80':
          if (!this.year) {
            this.$func._error('请选择时间')
            return false
          }
          url = '/Agp/OutWord/create_year'
          this.reportForm.year = this.year
          break
      }
      this.$store.commit('_bloading', true)
      let data = { ...this.reportForm }
      this.showdownload = true
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
            this.$message.success(`${res.data.msg}，请前往报告列表查看`)
            this.reportForm = {
              pnfiletype: '10',
              pntype: '30',
            },
              this._setReportType(this.reportForm.pntype)
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  },
  computed: {
    ...mapState(['bloading', 'pnfiletype', 'mediaType', 'leagalOptions', 'userInfo']),
    pntype() {
      return this.$func.setRType(this.rtype, this)
    },
    fileType() {
      this.reportForm.pnfiletype = '10'
      return Array.of(this.pnfiletype[0])
    }
  }
}
</script>
