<template>
  <div class="track-report main-bg">
    <el-form class="search-form"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="报告名称：">
            <el-input v-model="form.pnname"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="文件类型：">
            <el-select style="width:99%"
              v-model="form.pnfiletype">
              <el-option v-for="item in $store.state.pnfiletype"
                :key="item.value"
                :label="item.label"
                :value="item.value"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="报告日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.pnstarttime"
              type="daterange"
              value-format="yyyy-MM-dd"
              placeholder="选择日期"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              clearable>
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            @click="_getList(1)"
            icon="el-icon-search">搜 索</el-button>
        </el-col>
      </el-row>
    </el-form>
    <el-table v-loading="loading"
      border
      :height="$store.state.GTableHeight"
      :data="tableData">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column property="pnname"
        label="报告名称">
      </el-table-column>
      <el-table-column label="报告类型">
        <template slot-scope="scope">
          跟踪报告
        </template>
      </el-table-column>
      <el-table-column label="文件类型">
        <template slot-scope="scope">
          <span v-if="scope.row.pnfiletype === '10'">WORD</span>
        </template>
      </el-table-column>
      <el-table-column property="pnstarttime"
        label="报告日期"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80px"
        label="操作">
        <template slot-scope="scope">
          <a :href="scope.row.pnurl"
            target="_blank">
            <el-button icon="el-icon-download"
              type="text">下载</el-button>
          </a>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import VueQr from 'vue-qr'
export default {
  components: { VueQr },
  data() {
    return {
      form: {
        page: 1,
        pnstarttime: []
      },
      loading: false,
      tableData: [],
      countAll: '0',
      showQrCode: false,
      downloadUrl: ''
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 197)
    })
  },
  methods: {
    _getList(page){
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + '/Agp/OutWordFJ/genzong_baogao',qs.stringify(this.form))
      .then(res => {
        if(res.data.code === 0){
          this.tableData = res.data.data.list.map(item => {
            item.pnstarttime = item.pnstarttime ? item.pnstarttime.substring(0,10) : item.pnstarttime
            return item
          })
          this.countAll = res.data.data.count
        }else{
          this.tableData = []
        }
        this.loading = false
      })
      .catch(() => {
        this.$func._error('报告生成出错！')
        this.loading = false
      })
    },
  }
}
</script>
<style lang="scss" >
.report-list.recheckReport {
  background: #fff;
  padding-top: 20px;
  padding: 20px;
}
</style>