<template>
  <div class="monitoring-material main-bg">
    <!-- 搜索条件 -->
    <el-form class="search-form"
      ref="form"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="标题名称：">
            <el-input v-model="form.title"
              style="width:100%"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="处理状态：">
            <el-select v-model="form.status"
              placeholder="请选择"
              style="width:100%">
              <el-option v-for="item in state"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="提交时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.ctime"
              clearable
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            icon="el-icon-search"
            @click="_getList(1)">搜 索</el-button>
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            @click="showDialog = true"
            icon="el-icon-plus">{{iscz?'发起查证':'添加任务'}}</el-button>
        </el-col>
      </el-row>
    </el-form>
    <el-table border
      :data="tableData"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="50"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="title"
        label="标题"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="type"
        v-if="!iscz"
        label="报告类型"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{type[scope.row.type]}}
        </template>
      </el-table-column>
      <el-table-column property="type"
        :label="iscz?'附件':'报告模板'"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <el-button icon="el-icon-download"
            type="text"
            disabled
            v-if="!scope.row.fileurl">下载</el-button>
          <a :href="scope.row.fileurl"
            target="_blank"
            download
            v-else>
            <el-button icon="el-icon-download"
              type="text">下载</el-button>
          </a>
        </template>
      </el-table-column>
      <el-table-column property="content"
        label="说明"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="ctime"
        label="提交时间"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="dtime"
        label="交付时间"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="处理状态"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <el-tag :type="clcolor[scope.row.status]">{{cltype[scope.row.status]}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column fixed="right"
        width="130"
        label="操作">
        <template slot-scope="scope">
          <el-button icon="el-icon-download"
            type="text"
            disabled
            v-if="!scope.row.dfileurl">下载</el-button>
          <a :href="scope.row.dfileurl"
            target="_blank"
            download
            v-else>
            <el-button icon="el-icon-download"
              type="text">下载</el-button>
          </a>
          <el-button icon="el-icon-delete"
            type="text"
            @click="_delete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog v-if="showDialog"
      :title="iscz?'发起查证':'添加任务'"
      center
      :visible.sync="show"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-form label-width="80px"
        v-model="addForm">
        <el-form-item label="标题名称">
          <el-input placeholder="请输入名称"
            v-model="addForm.title">
          </el-input>
        </el-form-item>
        <el-form-item label="报告类型"
          v-if="!iscz">
          <el-select placeholder="请选择"
            v-model="addForm.type"
            style="width:100%">
            <el-option v-for="value,key in type"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="iscz?'附件':'报告模板'">
          <ill-annex @uploadSuccess="_uploadSuccess"
            @uploadError="_uploadError"></ill-annex>
          <el-button type="text"
            v-for="(ffiles,i) in ffiles"
            :key="i">{{ ffiles.name }}</el-button>
        </el-form-item>
        <el-form-item :label="iscz?'查证内容':'说明'">
          <el-input type="textarea"
            :rows="2"
            placeholder="请输入说明"
            v-model="addForm.content">
          </el-input>
        </el-form-item>
        <el-form-item :label="iscz?'截止日期':'交付日期'">
          <el-date-picker :editable="false"
            v-model="addForm.dtime"
            type="date"
            placeholder="选择日期"
            :picker-options="pickerOptions"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          :loading="$store.state.bloading"
          @click="_create">{{$store.state.bloading?'正在提交':'提 交'}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import illAnnex from "../clue/illAnnex"
export default {
  components: {
    illAnnex
  },
  data() {
    return {
      form: {
        page: 1,
        type: '',
        ctime: '',
        status: ''
      },
      addForm: {
        title: '',
        content: '',
        dtime: this.$dayjs().format('YYYY-MM-DD'),
        type: '3'
      },
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() < new Date().getTime()
        },
      },
      ffiles: [],
      state: [
        {
          label: "全部",
          value: '',
        },
        {
          label: "待处理",
          value: '1',
        },
        {
          label: "处理中",
          value: '2',
        },
        {
          label: "完成",
          value: '3',
        }
      ],
      cltype: {
        '1': '未处理',
        '2': '处理中',
        '3': '已处理',
      },
      clcolor: {
        '1': 'dnager',
        '2': 'info',
        '3': 'success',
      },
      type: {
        '3': '专项报告',
        '5': '季报',
        '6': '年报',
      },
      tableData: [
      ],
      searchDate: [],
      loading: false,
      countAll: '0',
      show: true,
      showDialog: false
    }
  },
  created() {
    this.addForm.type = this.iscz ? '1' : '3'
    this._getList()
    this._getToken()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 197)
    })
  },
  methods: {
    _edit(obj) {
      this.addForm = obj
    },
    _getList(page) {
      this.loading = true;
      this.form.page = page || 1,
        axios.post(this.$_ + '/Agp/FreportTask/index', qs.stringify(this.form))
          .then(res => {
            if (res.data.code === 0) {
              this.tableData = res.data.data.list.map(item => {
                item.dtime = item.dtime.substring(0, 10)
                item.ctime = item.ctime.substring(0, 10)
                return item
              })
              this.loading = false;
              this.countAll = res.data.data.count
            } else {
              this.$func._error(res.data);
              this.loading = false;
            }
          })
          .catch(() => {
            this.$func._error()
          })
    },
    _uploadSuccess(f) {   //文件上传成功
      let filetype = f.raw.name.split('.')[1]
      this.ffiles = []
      let obj = {};
      obj.name = `${f.name}.${filetype}`
      obj.url = this.bucket_url + f.response.key;
      this.ffiles = Array.of(obj);
    },
    _uploadError() {      //文件上传失败
      this.$message.error('上传失败');
    },
    _create() {
      if (!this.addForm.title) {
        this.$func._error('请输入任务名称')
        return false
      }
      this.$store.commit('_bloading', true)
      let data = { ...this.addForm }
      data.ffiles = this.ffiles.length ? this.ffiles[0].url : ''
      axios.post(this.$_ + '/Agp/FreportTask/addReport', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success('添加成功')
            this.showDialog = false
            this.addForm = {
              title: '',
              content: '',
              dtime: this.$dayjs().format('YYYY-MM-DD'),
              type: '3'
            }
            this.ffiles = []
            this._getList();
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    },
    _close() {
      this.form = { page: 1 };
      this.addForm = {};
      this.showDialog = false;
      this._getList()
    },
    _getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _delete(obj) {
      this.$confirm('确认删除该报告任务？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let data = {
          fid: obj.fid
        }
        axios.post(this.$_ + '/Agp/FreportTask/delReport', qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._getList()
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });
    }
  },
  computed: {
    iscz() {
      return this.$route.name === 'chazhengreport'
    }
  }
}
</script>
