<template>
  <div class="zxreport main-bg">
    <el-radio-group v-model="activeName">
      <el-radio-button label="1">报告列表</el-radio-button>
      <el-radio-button label="2">生成报告</el-radio-button>
    </el-radio-group>
    <creport-list v-if="activeName === '1'"
      style="padding-top:20px;"
      url="/Agp/Goutreport/index"
      :rtype="['50']">
    </creport-list>
    <div v-if="activeName === '2'">
      <p>第一步：选择报告类型</p>
      <el-row :gutter="20">
        <el-col :sm="6"
          :md="6"
          :lg="4"
          :xl="4"
          v-for="(value,key) in pntype"
          :key="key">
          <el-card :style="cardStyle"
            @click.native="_setReportType(key)">
            <div :style="checkstyle"
              v-if="reportForm.pntype === key"><i class="el-icon-success"></i></div>
            <img :src="`./static/img/${key}.jpg`"
              class="image"
              :style="imgstyle">
            <div class="text-center">{{value}}</div>
          </el-card>
        </el-col>
      </el-row>
      <p>第二步：选择报告条件</p>
      <el-form label-width="90px">
        <el-form-item label="发布日期：">
          <el-date-picker :editable="false"
            style="width: 50%"
            v-model="issdate"
            :picker-options="pickerOptions"
            value-format="yyyy-MM-dd"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="选择地区：">
          <el-cascader :disabled="Boolean(Number(isall))"
            style="width: 50%"
            :options="$store.state.wfqdarea2"
            change-on-select
            :props="$store.state.areaOptions"
            v-model="area"
            clearable>
          </el-cascader>
          <el-switch v-model="isall"
            active-value="1"
            inactive-value="0"
            active-text="全国"
            v-if="$store.state.userInfo.regionid === '100000'">
          </el-switch>
          <el-switch v-model="reportForm.iscontain"
            active-value="1"
            inactive-value="0"
            active-text="包含下属地区"
            v-if="$store.state.isgj">
          </el-switch>
        </el-form-item>
        <el-form-item label="广告名称：">
          <el-select placeholder="请输入广告名称（不选默认全部广告）"
            style="width: 50%"
            v-model="reportForm.fadnames"
            multiple
            filterable
            remote
            reserve-keyword
            :remote-method="remoteMethod"
            :loading="sloading">
            <el-option v-for="(item,index) in adnameList"
              :key="index"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="媒体类型：">
          <el-select v-model="reportForm.mclass"
            style="width: 50%">
            <el-option label="全部"
              value="0"></el-option>
            <el-option v-for="item in $store.state.mediaType5"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="违法程度：">
          <el-select v-model="reportForm.fillegaltypecode"
            style="width: 50%">
            <el-option label="全部"
              value="-1"></el-option>
            <el-option label="不违法"
              value="0"></el-option>
            <el-option label="违法"
              value="30"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <br>
      <el-button type="primary"
        icon="el-icon-setting"
        :loading="$store.state.bloading"
        @click="_creatReport">{{$store.state.bloading ? '生成中，请等待' : '生成报告'}}</el-button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import creportList from './common/creportList'
export default {
  components: { creportList },
  data() {
    return {
      sloading: false,
      reportForm: {
        pntype: '10',
        fadnames: [],
        iscontain: '1',
        mclass: '0',
        fillegaltypecode: '-1'
      },
      isall: '0',
      area: [],
      activeName: '1',
      issdate: [],
      adnameList: [],
      imgstyle: {
        width: '100%'
      },
      checkstyle: {
        position: 'absolute',
        right: '10px',
        top: '10px',
        color: '#409EFF'
      },
      cardStyle: {
        position: 'relative',
        cursor: 'pointer'
      },
      mediaList: [],
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this.area = Array.of(this.$store.state.wfqdarea2[0].fid)
  },
  methods: {
    remoteMethod(query) {
      if (query !== '') {
        this.sloading = true
        let data = {
          adName: query
        }
        axios.post(this.$_ + '/Api/Ad/searchAdByName', qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.adnameList = res.data.data
            }
          })
      } else {
        this.adnameList = []
      }
      this.sloading = false
    },
    _creatReport() {
      let url = ''
      let data = { ...this.reportForm }
      switch (data.pntype) {
        case '10':
          break
        case '30':
          break
        case '40':
          break
        case '50':
          if (!this.issdate.length) {
            this.$func._error('请选择日期')
            return false
          }
          data.area = Number(this.isall) ? '' : this.area[this.area.length - 1]
          data.issuest = this.issdate[0]
          data.issueed = this.issdate[1]
          url = '/Agp/Goutreport/gzhuanxiang'
          break
      }
      delete data.pntype
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(`${res.data.msg}，请前往报告列表查看`)
            this._reset()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('报告生成出错！')
          this.$store.commit('_bloading', false)
        })
    },
    _reset() {
      this.reportForm = {
        pntype: '10',
        fadnames: [],
        iscontain: '1',
        mclass: '0',
        fillegaltypecode: '-1'
      }
      this.area = Array.of(this.$store.state.wfqdarea2[0].fid)
      this.issdate = []
      this.isall = '0'
    }
  },
  computed: {
    pntype() {
      let type = Array.of('50')
      let robj = this.$func.setRType(type, this)
      this.reportForm.pntype = Object.keys(robj)[0]
      return robj
    }
  }
}
</script>