<template>
  <div class="table-list">
    <el-form ref="sform"
      label-width="100px">
    </el-form>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      v-loading="loading"
      border>
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="mrr_receivetrename"
        v-if="issend"
        label="接收局">
      </el-table-column>
      <el-table-column prop="me_sendtrename"
        v-else
        label="发送局">
      </el-table-column>
      <el-table-column label="消息主题">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showDetails(scope.row)">
            {{scope.row.me_title}}
          </el-button>
        </template>
      </el-table-column>
      <el-table-column prop="me_content"
        label="备注信息"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="me_sendtime"
        label="发送时间">
      </el-table-column>
      <el-table-column width="80"
        label="是否反馈">
        <template slot-scope="scope">
          {{scope.row.mrr_status === '0' ? '否' : '是'}}
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="10"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <details-dialog :data="details"
      v-if="show"
      @close="show = false;_getList(1)"></details-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import detailsDialog from './detailsDialog'
export default {
  components: { detailsDialog },
  props: {
    issend: {
      default: false,
      type: Boolean,
    },
    url: {
      default: '/Agp/Gmonitor/getMonitorList',
      type: String,
    },
    tab: {
      default: '1',
      type: String,
    }
  },
  data() {
    return {
      searchForm: {
        page: 1
      },
      details: {},
      loading: true,
      tableData: [],
      countAll: '0',
      show: false
    }
  },
  created() {
    this._getList(1)
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (218 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      axios.post(this.$_ + this.url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.$store.dispatch('_getDB', `${this.$route.name}|${this.tab || '1'}`)
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _showDetails(obj) {
      this.details = { ...obj,issend: this.issend }
      this.show = true
    },
    _close() {
      this.fkcontent = ''
      this.show = false
    },
  },
}
</script>

<style scoped>
</style>