<!-- jquery文件 -->
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<!-- Bootstrap 核心 JavaScript 文件 -->
<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}echarts/echarts.min.js"></script>
<script src="/Public/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script src="/Public/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="//cdn.bootcss.com/dropzone/4.3.0/dropzone.js"></script>
<script src="/Public/js/layer.js?v=1.0.0"></script>
<script src="/Public/js/common.js"></script>