<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>定时任务管理</title>

  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/Admin/View/TimeTask/css/index.min.css">
</head>

<body>
  <div id="app">
    <div class="wrapper">
      <el-card :body-style="{ padding: '10px' }" shadow="never" v-loading="loading">

        <div class="wrapper-search" style="display: flex; justify-content: space-between;">
          <div>
            <el-form :model="form" ref="sform" inline @submit.native.prevent  @keyup.native.enter="search()">
              <el-form-item>
                <el-input v-model="form.keyword" placeholder="请输入关键字" style="width: 200px;" clearable></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="search">搜 索</el-button>
                <el-button type="primary" plain @click="openWindow(2)">添 加</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div style="margin-right: 18px;">
            <el-popover
              placement="bottom"
              title="问题解答"
              width="400"
              trigger="click">
              <div style="line-height: 24px;">
                <div style="color:burlywood">问：新增加的任务什么时候开始执行？</div>
                <div>答：新增加且状态为开启的任务60秒钟内开始执行。</div>
                <br>
                <div style="color:burlywood">问：关闭任务后什么时候停止？</div>
                <div>答：关闭任务后30秒内停止执行。</div>
                <br>
                <div style="color:burlywood">问：重新打开关闭状态的任务，什么时候开始执行？</div>
                <div>答：60秒钟内开始执行，但如果距离上次关闭任务不足600秒钟，为避免冲突，可能需要等待600秒钟后才会开始执行。</div>
              </div>
              <el-button type="text" icon="el-icon-question" slot="reference">帮 助</el-button>
            </el-popover>
          </div>
        </div>

        <div class="wrapper-table">
          <el-table
            :data="tableData"
            border
            style="width: 100%">
            <el-table-column type="index" width="50" type="selection">
            </el-table-column>
            <el-table-column prop="fname" label="名称" >
              <template slot-scope="scope" v-html='row.fname'>
              {{ scope.row.fname }}
              </template>
            </el-table-column>
            <el-table-column prop="furl" label="执行url" show-overflow-tooltip>
            </el-table-column>
            <el-table-column prop="sleep_time" label="间隔时间（秒）" show-overflow-tooltip>
            </el-table-column>
            <el-table-column prop="on_off" label="开关">
              <template slot-scope="scope">
                <el-tag :type="Number(scope.row.on_off) === 0 ? 'danger' : 'success'" style="padding: 0 10px;">{{ Number(scope.row.on_off) === 0 ?  '关' : '开'}}</el-tag>
              </template>
            </el-table-column>
            <el-table-column prop="create_time" label="创建时间" show-overflow-tooltip>
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button type="warning" plain @click="detail(1, scope.row.fid)">详 情</el-button>
                <el-button type="primary" plain  @click="openWindow(3, scope.row)">编 辑</el-button>
                <el-popover
                    placement="top"
                    width="160"
                    title="提示"
                    v-model="scope.row.visible">
                    <p>确定要删除此条信息吗？</p>
                    <div style="text-align: right; margin: 0">
                      <el-button size="mini" type="text" @click="scope.row.visible = false">取消</el-button>
                      <el-button type="primary" size="mini"  @click="deleted(scope.row)">确定</el-button>
                    </div>
                    <el-button type="danger" plain slot="reference" style="margin-left: 10px;">删 除</el-button>
                  </el-popover>
                <!-- <el-button type="danger" plain  @click="deleted(scope.row)">删 除</el-button> -->
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            style="text-align: right;padding-top: 16px;"
            @current-change="handleCurrentChange"
            @size-change="handleSizeChange"
            :current-page="form.page"
            background
            :page-sizes="[10, 20, 30, 40]"
            :page-size="form.pageSize"
            layout="prev, pager, next, total,sizes"
            :total="total">
          </el-pagination>
        </div>

        <el-drawer
          :title="title"
          size="35%"
          :visible.sync="drawer"
          :before-close="handleClose">
          <div style="padding: 0 16px;">
            <el-form :model="addForm" ref="addForm" label-width="140px">
              <el-form-item label="名称：">
                <span v-if="tag === 1">{{ addForm.fname }}</span>
                <el-input v-else v-model="addForm.fname" placeholder="请输入名称"></el-input>
              </el-form-item>
              <el-form-item label="执行url：">
                <span v-if="tag === 1">{{ addForm.furl }}</span>
                <el-input v-else v-model="addForm.furl" placeholder="请输入执行url"></el-input>
              </el-form-item>
              <el-form-item label="间隔时间(秒)：">
                <span v-if="tag === 1">{{ addForm.sleep_time }}</span>
                <el-input v-else v-model="addForm.sleep_time" placeholder="请输入间隔时间" type="number"></el-input>
              </el-form-item>
              <el-form-item label="开关：">
                <span v-if="tag === 1">{{  Number(addForm.on_off) === 0 ? '关' : '开' }}</span>
                <el-switch v-else v-model="addForm.on_off"></el-switch>
              </el-form-item>
              <el-form-item label="创建时间："  v-if="tag === 1">
                <span>{{ addForm.create_time }}</span>
              </el-form-item>
              <el-form-item label="最后返回内容：" v-if="tag === 1">
                <el-input
                  disabled
                  type="textarea"
                  :autosize="{ minRows: 2, maxRows: 6}"
                  v-model="addForm.last_req">
                </el-input>
              </el-form-item>
              <el-form-item label="最后执行时间："  v-if="tag === 1">
                <span>{{ addForm.last_e_time > 0 ?  time2datetime(addForm.last_e_time*1000) : ''}}</span>
              </el-form-item>
              <el-form-item label="最后返回的状态码："  v-if="tag === 1">
                <span>{{ addForm.last_status_code }}</span>
              </el-form-item>
              <el-form-item  v-if="tag != 1">
                <el-button type="primary" @click="onSubmit">提 交</el-button>
                <el-button @click="handleClose">取消</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-drawer>

      </el-card>
    </div>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
  <script src="/Application/Admin/View/TimeTask/js/index.js"></script>
  <script>
	function time2datetime(shijianchuo){
		var time = new Date(shijianchuo);
		var y = time.getFullYear();
		var m = time.getMonth()+1;
		var d = time.getDate();
		var h = time.getHours();
		var mm = time.getMinutes();
		var s = time.getSeconds();

		if(m < 10) m = '0'+m;
		if(d < 10) d = '0'+d;
		if(h < 10) h = '0'+h;
		if(mm < 10) mm = '0'+mm;
		if(s < 10) s = '0'+s;
		return y+'-'+m+'-'+d+' '+h+':'+mm+':'+s;
	}
	function ks(keyword,value){
		value = value.replace(keyword,'<b>'+keyword+'</b>&nbsp;');
		return value
	}
	
  </script>
  
</body>

</html>