<template>
  <div class="medialist main-bg"
    v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="100px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒体名称：">
            <el-input v-model="form.medianame"
              placeholder="请输入媒体名称">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="机构名称：">
            <el-input v-model="form.ownername"
              placeholder="请输入机构名称"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒介地区：">
            <div style="display: flex;">
              <div>
                <el-cascader placeholder="请选择媒介地区"
                  :options="$store.state.mediaArea"
                  change-on-select
                  :props="$store.state.areaOptions"
                  v-model="area"
                  clearable>
                </el-cascader>
              </div>
              <div>
                <el-checkbox v-model="form.is_include_sub" true-label="1" false-label="0" style="margin-left:10px;">含下级</el-checkbox>
              </div>
            </div>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="form.mclass"
              placeholder="请选择"
              style="width:100%">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="平台类型："
            v-if="form.mclass === '13'">
            <el-select v-model="form.netadtype"
              placeholder="请选择"
              style="width:100%">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value,key) in $store.state.netadtype"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="状态：">
            <el-select v-model="form.status"
              placeholder="请选择"
              style="width:100%">
              <el-option label="有效"
                value="10"></el-option>
              <el-option label="无效"
                value="20"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="ffullname"
        label="所属行政区划"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column :label="form.mclass === '05' ? '媒体名称' : '媒体名称（媒体代码）'"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.fmedianame + (form.mclass === '05' ? '' : ('（'+ scope.row.fmediacode +'）')) }}
        </template>
      </el-table-column>
      <el-table-column prop="fname"
        label="机构名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="媒体类别"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.mclass] + (scope.row.mclass === '13' ? `(${scope.row.mediaclassname})` : '')}}
        </template>
      </el-table-column>
      <el-table-column width="100px"
        label="操作"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <a :href="scope.row.live_m3u8" target="_blank" v-if="scope.row.mediaclassname === 'PC端' && scope.row.live_m3u8">
            <el-button type="text" icon="el-icon-view">查 看</el-button>
          </a>
          <el-button type="text"
            v-else
            @click="_live(scope.row)"
            icon="el-icon-view"
            :disabled="scope.row.mclass === '13' || scope.row.mclass === '05'"> 查 看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <el-dialog center
      width="650px"
      :title="medianame"
      :visible.sync="show"
      :before-close="_close"
      v-if="showIframe">
      <iframe ref='live'
        src=""
        width="600px"
        height="500px"
        frameborder="0"></iframe>
    </el-dialog>
  </div>
</template>

<script>
import axios from "axios"
import qs from "qs"
import { Tree } from '../../../static/js/Tree.js'
export default {
  data() {
    return {
      form: {
        page: 1,
        mclass: "0",
        ownername: '',
        medianame: '',
        netadtype: '0',
        status: '10',
      },
      countAll: '0',
      tableData: [],
      loading: false,
      medianame: '',
      show: true,
      showIframe: false,
      area: [],
    }
  },
  created() {
    if (this.$route.params.mclass) {
      this.form.mclass = this.$route.params.mclass
    }
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      let data = { ...this.form }
      data.regionid = this.area[this.area.length - 1]
      if (data.mclass !== '13') {
        delete data.netadtype
      }
      axios.post(this.$_ + "/Agp/Index/get_medialist", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _live(obj) {
      this.showIframe = true
      this.medianame = obj.fmedianame
      setTimeout(() => {
        switch (obj.mclass) {
          case '01':
            this.$refs.live.src = `/Api/Media/m3u8_live/volume/30/fid/${obj.fid}/fdpid/${obj.fdpid}`
            break
          case '02':
            this.$refs.live.src = `/Api/Media/m3u8_live/volume/30/fid/${obj.fid}`
            break
          case '03':
            this.$refs.live.src = `/Api/Media/get_papersource/media_id/${obj.fid}/fdpid/${obj.fdpid}`
            break
        }
      }, 200)
    },
    _close() {
      this.$refs.live.src = ''
      this.medianame = ''
      this.showIframe = false
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    },
  }
};
</script>