<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>剪辑任务管理</title>

  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

  <link rel="shortcut icon" href="favicon.ico">
  <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskList.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskInfo.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/netAdTask.css">
  <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
  <link rel="stylesheet" href="/Public/videojs/video-js.min.css">
  <style>
    .btnArea button{
      display: none;
    }
    body{
      background-color: #fff;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="wrapper wrapper-content" id="app" v-loading="loading">
    <el-form :inline="true" :model="where" ref="whereForm" @keyup.enter.native="search">
      <el-form-item label="媒体名称" prop="mediaName">
        <el-input v-model="where.mediaName" clearable></el-input>
      </el-form-item>
      <el-form-item label="地区" prop="regionId" style="width:320px;">
        <el-cascader v-model="searchTempWhere.region" :options="regionTree" change-on-select :filterable="true"
          clearable style="width:200px"></el-cascader>
        <el-checkbox v-model="searchTempWhere.onlyThisLevel">仅本级</el-checkbox>
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="where.state" clearable>
          <el-option v-for="item in stateArr" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
	  <el-form-item label="任务ID">
        <el-input v-model="where.cut_task_id"  clearable></el-input>
      </el-form-item>
      <el-form-item label="剪辑人">
        <el-autocomplete v-model="where.user" :fetch-suggestions="searchAlias" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item label="媒体标签">
        <el-autocomplete v-model="where.mediaLabel" :fetch-suggestions="searchMediaLabel" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item prop="timeRangeArr" label="发布日期">
        <el-date-picker v-model="where.issueDate" type="daterange" range-separator="至" start-placeholder="开始发布日期"
          end-placeholder="结束发布日期" value-format="yyyy-MM-dd" format="yyyy-MM-dd" clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item prop="timeRangeArr" label="素材类型">
        <el-radio-group v-model="where.source_class">
          <el-radio-button label="">全部</el-radio-button>
          <el-radio-button label="aac"></el-radio-button>
          <el-radio-button label="mp4"></el-radio-button>
        </el-radio-group>
      </el-form-item>
	  <el-button style="float:right" @click="resetForm()">重置</el-button>
      <el-button style="float:right" type="primary" @click="search">搜索</el-button>
      <!-- <el-form-item label="完成时间">
        <el-date-picker v-model="where.cut_complete_time" type="daterange" range-separator="至" start-placeholder="开始更新时间"
          end-placeholder="结束更新时间" value-format="timestamp" format="yyyy-MM-dd" clearable>
        </el-date-picker>
      </el-form-item> -->
      <el-row>
        <el-col :span="24">
          <!-- <el-button @click="unlockTask">解锁任务</el-button> -->
          <el-button @click="changeState">修改状态</el-button>
          <el-button @click="changePriority">修改优先级</el-button>
          <el-button @click="deleteTask">删除任务</el-button>
		  <el-button type="primary" @click="handleMediaLink">修改快剪媒介人员关联</el-button>
          <!-- <el-button type="primary" @click="showTaskDialog = true">添加任务</el-button> -->
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData" border :row-class-name="tableRowClassName" @selection-change="selectRow" style="width: 100%">
      <el-table-column type="selection" width="40">
      </el-table-column>
	  <el-table-column prop="cut_task_id" label="任务ID" width="80" fixed>
      </el-table-column>
      <el-table-column label="媒体名称" width="200" fixed>
        <template slot-scope="scope">
          <span v-html="scope.row.media_name"></span>
        </template>
      </el-table-column>
      <el-table-column prop="fissuedate" label="发布日期" width="95" fixed>
      </el-table-column>
     <!--  <el-table-column prop="start_time" label="开始时间">
      </el-table-column>
      <el-table-column prop="end_time" label="结束时间">
      </el-table-column> -->
	  <el-table-column prop="time_section" label="时间段" width="120" >
      </el-table-column>
	   <el-table-column prop="start_make_time" label="计划生成时间" width="150" >
      </el-table-column>
	  <el-table-column label="状态" width="150" fixed>
        <template slot-scope="scope">
          <span :title="`${scope.row.cut_complete_time}`">{{scope.row.state}}</span>
        </template>
      </el-table-column>
	  <el-table-column prop="time_list_length" label="实际长度">
      </el-table-column>
      <el-table-column prop="source_class" label="素材类型" width="80">
      </el-table-column>
      <el-table-column prop="user_name" label="剪辑人">
      </el-table-column>
	  <el-table-column prop="inspector_name" label="质检人">
      </el-table-column>


      <!-- <el-table-column prop="cut_complete_time" label="最后操作时间">
      </el-table-column> -->
      <el-table-column prop="priority" label="优先级" width="80">
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="200">
        <template slot-scope="scope">
          <el-button :title= "`生成错误 ${scope.row.make_error_count} 次`" type="text" size="small" @click="checkTaskFlow(scope.row)">日志</el-button>
          <el-button type="text" size="small" :disabled="!scope.row.fsourcefilename" @click="() => {row = scope.row;playDialog = true;}">播放</el-button>
          <el-button type="text" size="small" >
            <a :href="`/Admin/CutTask/m3u8_cache?cut_task_id=${scope.row.cut_task_id}`" target="_blank" style="color:#409EFF;">
              M3U8缓存
            </a>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @size-change="pageSizeChange" @current-change="pageChange" :current-page="page" :page-sizes="[10 ,50, 100, 200, 400]"
      :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>
    <el-dialog
      title="添加任务"
      :visible.sync="showTaskDialog"
      width="600px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      center
      @close="handleClose">
      <el-form label-width="80px">
        <el-form-item label="选择媒体">
          <el-select v-model="mediaId" filterable remote :remote-method="getMediaList" style="width:100%;" @focus="getMediaList('')">
            <el-option v-for="item in mediaList"
              :key="item.fid"
              :label="item.fmedianame"
              :value="item.fid">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选择日期">
          <el-date-picker
            style="width:100%;"
            v-model="Date"
            type="daterange"
            @focus="minDate = null"
            :picker-options="pickerOptions"
            range-separator="至"
            start-placeholder="开始日期"
            value-format="yyyy-MM-dd"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button type="primary" @click="addTask" :disabled="!mediaId || !Date.length">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="快剪媒介人员关联"
      :visible.sync="showChangeDialog"
      width="900px"
      center
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      @close="handleClose">
      <el-form inline label-width="0px">
        <el-row>
          <el-col :span="12">
            <el-form-item>
              <el-input v-model="query" :placeholder="'输入媒介名称或媒介 id，共'+ mediaListLength + '个媒介'" clearable style="width: 250px;"></el-input>
              <el-input v-model="wxid" placeholder="按微信 id 搜索" clearable style="width: 150px;"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item>
              <el-input v-model="addMedia.fmediaid" placeholder="请输入媒介 id" clearable ></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="addMedia.wx_id" placeholder="微信 id" clearable></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="handleAddMedia" :disabled="!addMedia.wx_id || !addMedia.fmediaid">添加</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="mediaList" border height="500">
        <el-table-column type="index" width="70"></el-table-column>
        <el-table-column prop="fmedianame" label="媒介名称"></el-table-column>
        <el-table-column prop="fmediaid" label="媒介 id"></el-table-column>
        <el-table-column prop="wx_id" label="微信 id" width="300">
          <template slot-scope="scope">
            <div v-if="scope.row.edit">
              <el-input v-model="scope.row.wx_id" style="width:80px"></el-input>
              <el-button type="primary" @click="handleConfirm(scope.row)">修 改</el-button>
              <el-button type="text" @click="cancelEdit(scope.row)">取 消</el-button>
            </div>
            <el-button v-else="!scope.row.visible" icon="el-icon-edit" @click="scope.row.edit = true">{{scope.row.wx_id}}</el-button>
			<span>{{scope.row.wx_alias}}</span>
          </template>
        </el-table-column>

		
      </el-table>
    </el-dialog>
    <el-dialog
      :title="row.media_name"
      :visible.sync="playDialog"
      v-if="playDialog"
      width="800px"
      center
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      @close="() => row = null">
      <video :src="`${row.fsourcefilename}?${Math.random()}`" controls autoplay width="100%" style="display: block;margin:0 auto;"></video>
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/layer/3.1.0/layer.js"></script>
  <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
  <script src="/Public/js/wangEditor.min.js"></script>
  <script src="/Public/videojs/video.min.js"></script>
  <script>
    var illegalTypeArr = {$illegalTypeArr};
    var adClassArr = {$adClassArr};
    var adClassTree = {$adClassTree};
    var regionTree = {$regionTree};
    var illegalArr = {$illegalArr};
    var stateArr = {$stateArr};
  </script>
  <script src="/Application/Admin/View/CutTask/js/taskList.js?ff=123342s1"></script>

</body>

</html>