<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/NetAd/css/NetCheck.min.css?v=31">
  <title>互联网数据审核</title>
</head>

<body>
  <div id="app" v-loading="loading">
    <div v-if="activeRow.id">
      <div style=" margin-bottom: 5px;" class="titleCon">
        <el-alert
          :title="taskTitle"
          type="warning"
          style="line-height:20px;font-size: 14px;"
          :closable="false">
          <span style="color:red;" v-if="Number(form.urgentcount) > 0">加急任务余量：{{form.urgentcount}}条</span>
          <span style="font-weight: 700;">任务量：{{taskCount}}</span>
          <span style="color:lightcoral;display:inline-block;">{{suggestInfo}}</span>
        </el-alert>
      </div>
      <div :gutter="8" style="display:flex;">
        <div style="width: 400px;">
          <div class="info-box box" :style="{'height': boxHeight}">
            <el-card :body-style="bodyStyle" shadow="never">
              <div class="check-wrap">
                <div class="form-wrap">
                  <el-form :model="form" ref="form" :rules="rules" label-width="80px">
                    <el-form-item label-width="0">
                      <div v-if="activeRow.type == 'swf'" style="width:100%;height:200px;">
                        <object width="100%" id="" type="application/x-shockwave-flash" :data="activeRow.file_url">
                          <param name="wmode" value="transparent">
                        </object>
                      </div>
                      <div v-if="activeRow.type == 'flv'" style="width:100%;height:200px;">
                        <video :src="activeRow.file_url" controls></video>
                      </div>
                      <div class="imgView" style="width:100%;height:200px;"
                          v-if="activeRow.type == 'image'"
                          v-viewer="{'inline': true,'toolbar': false,'navbar': false}">
                        <img :src="activeRow.file_url">
                      </div>
                    </el-form-item>
                    <el-form-item label="媒体名称">
                      {{activeRow.publisher_na}}（{{form.id}}）
                    </el-form-item>
                    <el-form-item label="发布时间">
                      {{activeRow.created_date}}
                    </el-form-item>
                    <el-form-item label="发布页" class="shut">
                        <a :href="activeRow.shutpage" target="_blank">{{activeRow.original_url}}</a>
                    </el-form-item>
                    <el-form-item label="落地页" class="target">
                        <a :href="activeRow.target_url" target="_blank">{{activeRow.target_url}}</a>
                    </el-form-item>
                    <el-form-item label="广告名称">
                      <el-autocomplete v-model="form.title" :fetch-suggestions="searchAdName" @input="inputAdName" @blur="adNameBlur"></el-autocomplete>
                    </el-form-item>
                    <el-form-item label="广告品牌">
                        <el-input v-model="form.brand" @input="compareData(activeRow, form)"></el-input>
                    </el-form-item>
                    <el-form-item label="广告主">
                      <el-autocomplete v-model="form.advertiser_na" :fetch-suggestions="searchAdOwner"></el-autocomplete>
                    </el-form-item>
                    <el-form-item label="版本说明">
                      <el-input v-model="form.fversion"></el-input>
                    </el-form-item>
                    <el-form-item label="广告类别">
                      <el-cascader :options="adClassArr" v-model="form.adtype" ref="adCateArr" :filterable="true" @change="compareData(activeRow, form)">
                      </el-cascader>
                    </el-form-item>
                    <el-form-item v-if="showClassTip">
                      <span style="color: red;font-size: 12px;line-height: 20px;">检测到“公益”，请确认是否为公益广告并选择正确广告类别</span>
                    </el-form-item>
                    <el-form-item label="违法类型" prop="adilltype">
                      <el-radio-group v-model="form.adilltype" @change="compareData(activeRow, form)">
                        <el-radio :label="item.value" v-for="item in illegalTypeArr" :key="item.value">{{item.text}}</el-radio>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item label="违法表现" prop="adilllaw" v-if="form.adilltype !== '0'" >
                      <el-button @click="showIllegal = true">选择违法表现</el-button>
                      <div>
                        <el-popover v-for="item in selectedList" :key="item.id" placement="top" width="200" trigger="hover"
                          :content="item.label">
                          <el-tag type="danger" slot="reference" size="small" closable @close="alertClose(item)">
                            {{item.fcode}}</el-tag>
                        </el-popover>
                      </div>
                    </el-form-item>
                    <el-form-item label="违法内容" prop="adillcontent" v-if="form.adilltype !== '0'">
                      <el-input v-model="form.adillcontent" type="textarea" :rows="5"></el-input>
                    </el-form-item>
                  </el-form>
                </div>
                <div class="subbutton">
                  <div>
                    <el-button type="primary" @click="submit" :disabled="btnForbidden">{{isEdit ? '保存并提交' : '提 交'}}</el-button>
                  </div>
                  <div>
                    <el-upload
                      style="display: inline-block"
                      auto-upload
                      accept="image/*"
                      :multiple="false"
                      :action="upOptions.up_server"
                      :data="uploadOptions"
                      :before-upload="_setKey"
                      :on-success="_uploadSuccess"
                      :on-progress="_uploadProgress"
                      :show-file-list="false"
                      :on-error="_uploadError">
                      <el-button type="danger" @click="_getToken" :loading="uploading" :disabled="btnForbidden">重新上传截图</el-button>
                    </el-upload>
                    <!-- <el-popover
                      placement="top"
                      width="160"
                      v-model="visible">
                      <p>是否确定不通过？</p>
                      <div style="text-align: right; margin: 0">
                        <el-button size="mini" type="text" @click="visible = false">取消</el-button>
                        <el-button type="primary" size="mini" @click="nopass" >确定</el-button>
                      </div>
                      <el-button slot="reference" type="danger">不通过</el-button>
                    </el-popover> -->
                    <el-button type="success" plain @click="backToTask" v-if="historyEdit">返回</el-button>
                  </div>
                </div>
              </div>
            </el-card>
          </div>
        </div>
        <div style="width: 360px;">
          <div class="img-box box" :style="{'height': boxHeight}" v-loading="uploading" element-loading-text="图片上传中">
            <el-card :body-style="bodyStyle" shadow="never">
              <a :href="activeRow.shutpage" target="_blank">
                <img :src="activeRow.shutpage_thumb" width="100%">
              </a>
            </el-card>
          </div>
        </div>
        <div style="flex-grow:1;" class="searchList">
          <div class="list-box box" :style="{'height': boxHeight}">
            <el-card :body-style="bodyStyle" shadow="never" style="position: relative;">
              <div id="list-wrap" v-scroll="this">
                <div class="searchIf" style="z-index: 99;">
                  <el-row :gutter="4">
                      <el-col :span="12" style="margin-bottom: 10px;">
                          <el-date-picker
                          style="width: 100%;"
                          v-model="timeValue"
                          type="daterange"
                          value-format="yyyy-MM-dd"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期">
                        </el-date-picker>
                      </el-col>
                      <el-col :span="8">
                          <el-input placeholder="任务ID或广告名称" v-model="adValue" clearable></el-input>
                      </el-col>
                      <el-col :span="4">
                          <el-button type="primary" @click="searchAd(1)">搜索</el-button>
                      </el-col>
                  </el-row>
                </div>
                <ul style="padding-top: 30px">
                  <li style="position: relative;" v-for="(item,index) in adList" :key="index" :class="item.active ? 'active' : ''"
                    @click="historyClick(item)">{{item.title}}<span style="position: absolute; right: 15px;">{{item.id}} &nbsp; {{item.submittime}}</span></li>
                  <li v-if="!hadSearch" style="text-align: center;">广告历史列表，点击搜索查看历史</li>
                  <li v-if="!haveMore" style="text-align: center;">无更多数据</li>
                  <li v-if="lLoading" style="text-align: center;">加载中···</li>
                </ul>
              </div>
            </el-card>
          </div>
        </div>
      </div>
    </div>
    <div v-else><img src="/Application/TaskInput/View/NetAd/img/task.jpg" width="200px" style="display: block;margin: 30% auto 0;"></div>
    <el-dialog id="ill-dialog" title="认定依据" :visible.sync="showIllegal" center :close-on-click-modal="false"
      :close-on-press-escape="false" width="1000px">
      <el-input placeholder="关键字搜索" v-model="filterText">
      </el-input>
      <div class="tree-block">
        <el-tree show-checkbox node-key="id" ref="tree" :data="illegalArr" :props="treeProps" @check="nodeCheck"
          :filter-node-method="filterNode">
          <div slot-scope="{ node, data }">
            <el-tooltip v-if="node.label.length > 60" effect="dark" :content="node.label" placement="top-start">
              <div class="tree-node-slot">{{ node.label }}</div>
            </el-tooltip>
            <div v-else class="tree-node-slot">{{ node.label }}</div>
          </div>
        </el-tree>
      </div>
      <span slot="footer">
        <el-button type="primary" @click="showIllegal = false">确 定</el-button>
        <el-button type="danger" @click="reset">清 空</el-button>
      </span>
    </el-dialog>
  </div>
  <script>
    const adClassTree = {$adClassTree};
    const adClassArr = {$adClassArr};
    const illegalTypeArr = {$illegalTypeArr};
    const illegalArr = {$illegalArr};
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/v-viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}momentJs/moment.js"></script>
  <script src="/Application/TaskInput/View/NetAd/js/NetCheck.js?v=3112"></script>
</body>

</html>