<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/NetAd/css/NetPlan.min.css?v=31">
  <title>计划列表</title>
</head>
<body>
  <div id="app" v-loading="loading">
    <el-form ref="sform"
      :model="form"
      inline
      label-width="90px">
      <el-form-item label="媒体分类：">
        <el-select v-model="form.mtype" style="width:100%" filterable clearable>
          <el-option v-for="item in allMediaType"
            :key="item.fid"
            :label="item.fclass"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="媒体：">
        <el-select v-model="form.fmediaid" style="width:100%" filterable clearable>
          <el-option v-for="item in allMediaList"
            :key="item.fid"
            :label="item.fmedianame"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="抽查日期：">
        <el-date-picker
          v-model="form.fissuedate"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="状态：">
        <el-select v-model="form.fdstatus" style="width: 100%">
          <el-option v-for="item in searchStatus"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label-width="0px">
        <el-button type="primary"
          class="pull-right"
          style="margin-left:10px"
          :loading="loading"
          @click="getList(1)"
          icon="el-icon-search">查 询</el-button>
      </el-form-item>
     <!--  <el-form-item>
        <el-dropdown @command="handleCommand">
            <el-button type="success">
              导出<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="a">任务报表</el-dropdown-item>
              <el-dropdown-item command="b">任务退回明细</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
      </el-form-item> -->
      <el-form-item>
        <el-button
          type="danger"
          :loading="loading"
          class="J_menuItem2" title2="优先级管理"
          href="/TaskInput/NetAd/PlanOrder"
          >众包任务优先级</el-button>
      </el-form-item>
      <el-form-item>
        <el-tooltip content="新增计划数据自动使用当前优先级设置" placement="top" effect="dark">
          <el-button type="danger" @click="() => showPriority = true" :disabled="!multipleSelection.length">计划任务优先级</el-button>
        </el-tooltip>
      </el-form-item>
      <el-form-item>
        <el-tooltip content="功能只能应用于1日至15日的任务计划数据的日期调整" placement="top" effect="dark">
          <el-button type="danger" @click="showDialog">更新数据日期</el-button>
        </el-tooltip>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border stripe :height="tableHeight" ref="multipleTable" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="50"></el-table-column>
      <el-table-column label="抽查日期" prop="fissuedate" width="120"></el-table-column>
      <el-table-column label="媒体名称" prop="fmedianame" show-overflow-tooltip></el-table-column>
      <el-table-column label="计划量/平均量">
      <template slot-scope="scope">
        {{scope.row.fthreshold}}/{{scope.row.nevtaskcount}}
      </template>
      </el-table-column>
      <el-table-column label="数据总量" prop="zcount"></el-table-column>
      <el-table-column label="计划外数据量" prop="taskoutcount" width="100"></el-table-column>
      <el-table-column label="截图完成" prop="jtwccount"></el-table-column>
      <el-table-column label="待检查" prop="djccount"></el-table-column>
      <el-table-column label="待补录/补录中" prop="djccount">
        <template slot-scope="scope">
          {{scope.row.dblcount}}/{{scope.row.blzcount}}
        </template>
      </el-table-column>
      <el-table-column label="识别中" prop="sbzcount"></el-table-column>
      <el-table-column label="通过量" prop="tgcount"></el-table-column>
      <el-table-column label="违法量" prop="wfcount"></el-table-column>
      <el-table-column label="交付量" prop="fgetcount"></el-table-column>
      <el-table-column label="互联网任务余量" prop="taskcount" width="120"></el-table-column>
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          <el-tag size="small" :type="fdstatus[scope.row.fdstatus].type">{{fdstatus[scope.row.fdstatus].label}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="创建时间" prop="fcreatetime" width="150"></el-table-column>
      <el-table-column label="操作" width="160" fixed="right">
        <template slot-scope="scope">
          <el-button type="success" plain class="J_menuItem2" :title2="scope.row.fissuedate + ' ' + scope.row.fmedianame" :href="'/TaskInput/NetAd/PlanData?id=' + scope.row.fid + '&fdstatus=' + scope.row.fdstatus">查 看</el-button>
          <el-button type="primary" :disabled="scope.row.fdstatus !== '0' && scope.row.fdstatus !== '1'" @click="finish(scope.row)">完 成</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(allcount)"
      :page-size="20"
      :current-page="Number(form.pageIndex)"
      @current-change="getList">
    </el-pagination>
    <el-dialog
      title="提示"
      :visible.sync="centerDialogVisible"
      width="30%"
      center>
      <div
        v-show="!Boolean(url)"
        style="height:180px;"
        v-loading="true"
        element-loading-text="文件生成中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(255, 255, 255, 1)">
      </div>
      <div
        v-show="Boolean(url)"
        style="text-align: center;">
        <div>
          <i class="el-icon-circle-check-outline" style="font-size: 40px;color: #67C23A;"></i>
        </div>
        <a :href="url" target="_blank">
          <el-button type="text">生成成功，点击下载</el-button>
        </a>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="centerDialogVisible = false">关 闭</el-button>
      </span>
    </el-dialog>
    <el-dialog
        title="任务优先级"
        :visible.sync="showPriority"
        width="400px"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        center>
        <el-form>
        <el-form-item label="优先级">
            <el-select v-model="changePriority" placeholder="请选择">
                <el-option :label="value" :value="key" v-for="(value,key) in priority" :key="key"></el-option>
            </el-select>
        </el-form-item>
        </el-form>
        <span slot="footer">
        <el-button type="primary" @click="submitChangePriority" :disabled="!changePriority">设 置</el-button>
        </span>
    </el-dialog>
    <el-dialog
        title="计划数据日期更新"
        :visible.sync="showDataIssue"
        width="400px"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        center>
        <el-form>
        <el-form-item label="调整月份">
            <el-date-picker
              v-model="changeDataIssueMonth"
              type="month"
              placeholder="选择月" value-format="yyyy-MM-dd">
            </el-date-picker>
        </el-form-item>
        </el-form>
        <span slot="footer">
        <el-button type="primary" @click="submitChangeDataIssueMonth" :disabled="!changeDataIssueMonth">更 新</el-button>
        </span>
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/dayjs/dayjs.min.js"></script>
  <script src="/Application/TaskInput/View/NetAd/js/NetPlan.js?v=3"></script>
</body>
</html>