<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/NetAd/css/PlanData.min.css?v=31">
  <title>查看数据</title>
</head>
<body>
  <div id="app">
    <!-- 搜索栏 -->
    <div class="searchNav">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="广告名称">
                <el-input v-model="formInline.fadname" placeholder="请输入广告名称或任务ID" clearable></el-input>
            </el-form-item>
            <el-form-item label="广告主">
                <el-input v-model="formInline.fadowner" placeholder="请输入广告主" clearable></el-input>
            </el-form-item>
            <el-form-item label="状态">
                <el-select v-model="formInline.fstatus" placeholder="请选择">
                    <el-option label="全部" value="0"></el-option>
                    <el-option
                        :label="item.label"
                        :value="item.value"
                        v-for="item in statusArr2">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="任务优先级">
                <el-select v-model="formInline.priority" placeholder="请选择">
                    <el-option label="全部" value="-1"></el-option>
                    <el-option :label="value" :value="key" v-for="(value,key) in priority" :key="key"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="违法类型" >
                <el-select v-model="formInline.adilltype" placeholder="请选择">
                    <el-option label="全部" value="-1"></el-option>
                    <el-option label="违法" value="30"></el-option>
                    <el-option label="不违法" value="0"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <span class="demonstration">选择时间</span>
                <el-date-picker
                v-model="timeValue"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" plain @click="getList">查 询</el-button>
                <el-tooltip content="补录及识别优先级" placement="top" effect="dark">
                    <el-button type="primary" plain @click="showDialog(true)">任务优先级</el-button>
                </el-tooltip>
                <el-button type="primary" plain @click="showDialog(false)">截图优先级</el-button>
                <!-- <el-button ref="test" type="primary" class="J_menuItem2" title2="添加数据" :href="'/TaskInput/NetAd/PlanDataAdd?id=' + taskid + '&dataType=0'">样本数据(原数据)</el-button> -->
                <el-dropdown style="margin-left: 10px" @command="handleCommand">
                    <el-button type="primary">
                    添加数据<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item command="0">
                        <div style="font-size: 14px;padding: 4px;">样本数据(原数据)</div>
                      </el-dropdown-item>
                      <el-dropdown-item command="1">
                        <div style="font-size: 14px;padding: 4px;">明细数据</div>
                      </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-form-item>
        </el-form>
        <!-- 统计 -->
        <div class="total" style="display: flex;justify-content: flex-end;margin-right: 30px;height: 30px;">
            <el-form :inline="true"  class="demo-form-inline">
                <el-form-item style="width: 110px">
                    <el-select v-model="formInline.timeorder" placeholder="请选择" @change="orderEven" id="select">
                        <el-option label="时间降序" value="1"></el-option>
                        <el-option label="时间升序" value="2"></el-option>
                        <el-option label="广告名排序" value="3"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="总数量">
                    <span style="color: red;">{{ count || '0' }}</span>
                </el-form-item>
                <el-form-item label="截图中">
                    <span style="color: red;">{{ jtzcount || '0' }}</span>
                </el-form-item>
                <el-form-item label="待检查">
                    <span style="color: red;">{{ djccount || '0' }}</span>
                </el-form-item>
                <el-form-item label="待补录">
                    <span style="color: red;">{{ dblcount || '0' }}</span>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <!-- 图片预览 -->
    <div class="wrapper" style="overflow: auto">
        <div class="picture" v-for="(item, index) in planData" style="padding-bottom: 10px;">
            <div class="btn">
                <el-button type="warning" size="mini" @click="submit(item, index, 2)" :disabled="!((item.fstatus == 2 || item.fstatus == 1 || item.fstatus == 8) && (fdstatus == 0 || fdstatus == 1))">转补录</el-button>
                <el-button type="danger" size="mini" @click="submit(item, index, 3)":disabled="!((item.fstatus == 2 || item.fstatus == 1 || item.fstatus == 8) && (fdstatus == 0 || fdstatus == 1))">作 废</el-button>
                <el-button type="success" @click="submit(item, index, 1)" :disabled="!((item.fstatus == 2 || item.fstatus == 8) && (fdstatus == 0 || fdstatus == 1))">通 过</el-button>
            </div>
            <el-popover
                placement="right"
                width="200"
                trigger="hover">
                <el-form>
                    <el-form-item label="任务ID：" v-if="item.id" style="margin-bottom: 0px;">
                        {{ item.id }}&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" v-on:click="doBack(item.id,taskid)" v-if="item.fstatus == 4 || item.fstatus == 6 || item.fstatus == 7 || item.fstatus == 8 || item.fstatus == 14">撤消处理</a>
                    </el-form-item>
                    <el-form-item label="广告名称：" v-if="item.title" style="margin-bottom: 0px;">
                        {{ item.title }}
                    </el-form-item>
                    <el-form-item label="违法代码：" v-if="item.adilllaw" style="margin-bottom: 0px;">
                        <span v-html="item.adilllaw"></span>
                    </el-form-item>
                    <el-form-item label="违法表现：" v-if="item.adillegal" style="margin-bottom: 0px;">
                        <span v-html="item.adillegal"></span>
                    </el-form-item>
                    <el-form-item label="违法内容：" v-if="item.adillcontent" style="margin-bottom: 0px;">
                        <span v-html="item.adillcontent"></span>
                    </el-form-item>
                </el-form>
                <div slot="reference">
                    <div class="ad-show">
                        <a :href="item.file_url || item.thumb_url_true" target="_blank"><img :src="item.thumb_url_true" alt=""></a>
                    </div>
                </div>
            </el-popover>
            <div class="ad-info">
                <div class="ad-name">
                    <a :href="item.target_url" :title="item.title" target="_blank" :class="item.adilllaw !== '' && item.adilllaw !== null ? 'classRed' : ''">{{ item.title }}</a>
                </div>
                <div class="ad-category">
                    {{ item.adclassname }}
                </div>
                <div class="med-name" :title="item.advertiser_na">{{ item.advertiser_na }}</div>
                <div class="time">
                    {{ item.created_date }}
                    <el-popover
                    style="float: right"
                    placement="right"
                    width="300"
                    trigger="hover">
                    <el-table :data="item.log">
                        <el-table-column width="100" property="types" label="类型" show-overflow-tooltip></el-table-column>
                        <el-table-column width="100" property="content" label="理由" show-overflow-tooltip></el-table-column>
                        <el-table-column width="100" property="alias" label="处理人"></el-table-column>
                        <el-table-column width="140" property="createtime" label="时间"></el-table-column>
                    </el-table>
                    <i class="el-icon-tickets" slot="reference"></i>
                  </el-popover>
                </div>
                <div>
                    <div class="status" style="float: left;" :class="findStatus(item.fstatus).class">{{ findStatus(item.fstatus).label }}</div>
                    <div style="float: right; cursor: pointer;" v-if="items.logtype == '2' && index == 0" v-for="(items, index) in item.log">{{ items.alias }}</div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="ad-detailimg">
                <a :href="item.shutpage" target="_blank"><img v-if="item.shutpage_thumb" :src="item.shutpage_thumb" alt="" style="width: 248px;"></a>
                <div class="textTips" v-if="!item.shutpage_thumb">暂无截图</div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div v-if="!haveMore" style="text-align: center;">暂无更多数据</div>
    </div>
    <el-dialog
        :title="title"
        :visible.sync="show"
        width="400px"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        center>
        <el-form>
        <el-form-item label="优先级">
            <el-select v-model="changePriority" placeholder="请选择">
                <el-option :label="value" :value="key" v-for="(value,key) in priority" :key="key"></el-option>
            </el-select>
        </el-form-item>
        </el-form>
        <span slot="footer">
        <el-button type="primary" @click="submitChangePriority" :loading="btnLoading">修 改</el-button>
        </span>
    </el-dialog>

    <el-dialog
        :title="revokeTitle"
        :visible.sync="dialogVisible"
        @close="closeDialog"
        width="40%">
        <div>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" >
                <el-form-item prop="blReason" v-if="revokeTitle == '转补录原因'">
                    <el-checkbox-group v-model="ruleForm.blReason">
                        <el-checkbox
                        size="mini"
                        v-for="item in blArr"
                        :label="item" border
                        style="margin: 0px 8px 10px 0">{{ item }}</el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-radio-group
                    v-if="revokeTitle == '作废原因'"
                    v-for="item in radios"
                    v-model="zfReason" size="mini">
                    <el-radio :label="item.name" border  style="margin: 0px 8px 10px 0">{{item.name}}</el-radio>
                </el-radio-group>
            </el-form>
        </div>
        <el-input
            type="textarea"
            :rows="5"
            v-if="revokeTitle == '转补录原因'"
            placeholder="请输入补充原因【选填】"
            v-model="textarea">
            </el-input>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitReturn">确 定</el-button>
        </span>
    </el-dialog>
    <div ref="buttonContent" style="display: none;">
        <el-button ref="open0" type="primary" class="J_menuItem2" title2="添加样本数据" :href="'/TaskInput/NetAd/PlanDataAdd?id=' + taskid + '&dataType=0'"></el-button>
        <el-button ref="open1" type="primary" class="J_menuItem2" title2="添加明细数据" :href="'/TaskInput/NetAd/PlanDataAdd?id=' + taskid + '&dataType=1'"></el-button>
    </div>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="/Application/TaskInput/View/NetAd/js/PlanData.js?v=3"></script>
</body>
</html>