<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/NetAd/css/NetPlan.min.css?v=31">
  <title>数据优先级</title>
</head>
<body>
  <div id="app" v-loading="loading">
    <el-form inline :model="form">
        <el-form-item label="媒体：">
          <el-select v-model="form.fmediaid" style="width:100%" filterable clearable>
            <el-option v-for="item in allMediaList"
              :key="item.fid"
              :label="item.fmedianame"
              :value="item.fid">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选择时间">
          <el-date-picker
            v-model="date"
            type="daterange"
            value-format="yyyy-MM-dd"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            @change="val => date = (val === null ? [] : val)"
            >
          </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="getList(1)" >搜 索</el-button>
            <el-button type="primary" plain @click="submitChangePriority(true)">修改勾选</el-button>
            <el-button type="primary" plain @click="submitChangePriority(false)">修改所有</el-button>
        </el-form-item>
    </el-form>
    <el-table :data="tableData" border stripe :height="tableHeight" ref="multipleTable" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="50"></el-table-column>
      <el-table-column label="广告名称" prop="fadname" show-overflow-tooltip></el-table-column>
      <el-table-column label="广告主" prop="fadowner" show-overflow-tooltip></el-table-column>
      <el-table-column label="媒体名称" prop="media_name"></el-table-column>
      <el-table-column label="发布时间" prop="net_created_date" width="150"></el-table-column>
      <el-table-column label="广告内容类别" prop="adclassname"></el-table-column>
      <el-table-column label="优先级" prop="priority">
      </el-table-column>
      <el-table-column label="违法类型">
        <template slot-scope="scope">
          {{ fillegaltypecode[scope.row.fillegaltypecode] }}
        </template>
      </el-table-column>
      <el-table-column label="查看" width="160" fixed="right">
          <template slot-scope="scope">
            <a :href="scope.row.net_original_url" target="_blank" v-if="scope.row.net_original_url">
              <el-button type="text">发布页地址</el-button>
            </a>
            <a :href="scope.row.net_target_url" target="_blank" v-if="scope.row.net_target_url">
              <el-button type="text">落地页地址</el-button>
            </a>
          </template>
        </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(allcount)"
      :page-size="20"
      :current-page="Number(page.pageIndex)"
      @current-change="getList">
    </el-pagination>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}momentJs/moment.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="/Application/TaskInput/View/NetAd/js/PlanOrder.js?v=3"></script>
</body>
</html>