<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/NetAd/css/NetPlan.min.css?v=31">
  <title>添加数据</title>
</head>
<body>
  <div id="app" v-loading="loading">
    <el-form :inline="true" :model="form" class="demo-form-inline">
        <el-form-item label="广告类别" >
          <el-cascader
            v-model="adtype"
            :options="AdClassArr"
            @change="handleChange"
            filterable
            clearable
            change-on-select>
          </el-cascader>
        </el-form-item>
      <el-form-item label="广告名称">
        <el-input v-model="form.fadname" placeholder="请输入广告名" clearable></el-input>
      </el-form-item>
      <el-form-item label="广告主">
        <el-input v-model="form.fadowner" placeholder="请输入广告主" clearable></el-input>
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="form.fstatus" placeholder="请选择">
          <el-option label="全部" value="0"></el-option>
          <el-option :label="value.label" :value="key" v-for="(value,key) in fstatus2" :key="key"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="违法类型">
          <el-select v-model="form.adilltype" placeholder="请选择">
              <el-option label="全部" value="-1"></el-option>
              <el-option :label="value" :value="key" v-for="(value,key) in adilltype" :key="key"></el-option>
          </el-select>
      </el-form-item>
      <el-form-item label="选择时间">
        <el-date-picker
          v-model="date"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="限定条数">
        <el-select v-model="form.limit" placeholder="请选择">
          <el-option label="全部" value="-1"></el-option>
          <el-option :label="item.label" :value="item.value" v-for="item in limitNumber" :key="item.value"></el-option>
      </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getList(1)">搜 索</el-button>
        <el-button type="primary" plain @click="changePriority(true)">添加勾选</el-button>
        <el-button type="primary" plain @click="changePriority(false)">添加所有</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border stripe :height="tableHeight" ref="multipleTable" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="50"></el-table-column>
      <el-table-column label="广告名称" prop="title" show-overflow-tooltip></el-table-column>
      <el-table-column label="广告主" prop="advertiser_na"></el-table-column>
      <el-table-column label="媒体名称" prop="publisher_na"></el-table-column>
      <el-table-column label="广告类别" prop="adclassname"></el-table-column>
      <el-table-column label="违法类型" prop="adilltype">
          <template slot-scope="scope">
            {{ adilltype[scope.row.adilltype] }}
          </template>
      </el-table-column>
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          <el-tag size="small" :type="fstatus[scope.row.fstatus].type">{{ fstatus[scope.row.fstatus].label }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="发布日期" prop="created_date" width="150"></el-table-column>
      <el-table-column label="查看" width="160" fixed="right">
        <template slot-scope="scope">
          <a :href="scope.row.file_url" target="_blank" v-if="scope.row.file_url">
            <el-button type="text">素材地址</el-button>
          </a>
          <a :href="scope.row.shutpage" target="_blank" v-if="scope.row.shutpage">
            <el-button type="text">网页快照</el-button>
          </a>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(allcount)"
      :page-size="20"
      :current-page="Number(form.pageIndex)"
      @current-change="getList">
    </el-pagination>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="/Application/TaskInput/View/NetAd/js/PlanDataAdd.js?v=31"></script>
</body>
</html>