<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{:C('PUBLIC_RESOURCE')}Jstree/themes/default/style.min.css">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
  <title>菜单管理</title>
</head>
<body class="gray-bg">
  <div id="app">
    <div class="MENU">
      <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
          <div class="col-sm-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>菜单列表</h5>
                <button class="btn-primary btn-xs pull-right" @click="addBM" style="margin-left: 10px;">添加菜单</button>
              </div>
              <div class="ibox-content">
                <form id="menu_tab" action="{:U()}">
                    <foreach name="menutypelist" item="c">
                      <label><input type="radio" name="menutype" <eq name="Think.get.menutype" value="$c.me_id">checked</eq> value="{$c.me_id}"> {$c.me_name}</label>&nbsp;&nbsp;
                    </foreach>
                </form>
                <div id="jstree"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>菜单类型详情</h5>
                <button class="btn-xs pull-right" :class="disabled?'btn-info':'btn-danger'" @click="disabled = !disabled">{{disabled?'修改':'取消'}}</button>
                <button class="btn-info btn-xs pull-right" @click="addMT" style="margin-right: 10px;">添加菜单类型</button>
              </div>
              <div class="ibox-content">
                <div style="padding: 10px;">
                  <form class="form-horizontal m-t">
                    <div class="form-group">
                      <label>类型名称：</label>
                      <input type="text" class="form-control" :disabled="disabled" v-model="nowTypeData.me_name">
                    </div>
                    <div class="form-group form-inline">
                      <label>状态：</label>
                      <label><input type="radio" value="10" class="form-control" :disabled="disabled" v-model="nowTypeData.me_state"> 有效</label>
                      <label><input type="radio" value="20" class="form-control" :disabled="disabled" v-model="nowTypeData.me_state"> 无效</label>
                    </div>
                    <div class="form-group">
                      <label>备注：</label>
                      <input type="text" class="form-control" :disabled="disabled" v-model="nowTypeData.me_content">
                    </div>
                    <div class="form-group text-center" v-if="!disabled">
                      <button type="button" class="btn-primary btn-sm" @click="subMT">提交</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>菜单详情</h5>
              </div>
              <div class="ibox-content">
                <table class="table table-bordered">
                  <tr>
                    <th style="width: 100px;">菜单ID：</th>
                    <td v-text="selectedNode.menu_id"></td>
                  </tr>
                  <tr>
                    <th style="width: 100px;">菜单名称：</th>
                    <td v-text="selectedNode.menu_name"></td>
                  </tr>
                  <tr v-if="selectedNode.icon">
                    <th>菜单图标：</th>
                    <td v-text="selectedNode.icon"></td>
                  </tr>
                  <tr v-if="selectedNode.menu_url">
                    <th>菜单链接：</th>
                    <td v-text="selectedNode.menu_url"></td>
                  </tr>
                  <tr>
                    <th>菜单排序：</th>
                    <td v-text="selectedNode.menu_sort"></td>
                  </tr>
                  <tr>
                    <th>菜单标识：</th>
                    <td v-text="selectedNode.menu_code"></td>
                  </tr>
                  <tr>
                    <th>菜单备注：</th>
                    <td v-text="selectedNode.menu_content"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 添加/编辑菜单 -->
    <div id="add_edit_modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">{{ isEdit?'编辑菜单':'添加菜单' }}</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal m-t">
              <div class="form-group">
                <label>菜单名称：</label>
                <input type="text" class="form-control" v-model="menuData.menu_name">
              </div>
              <div class="form-group">
                <label>菜单链接：</label>
                <input type="text" class="form-control" v-model="menuData.menu_url">
              </div>
              <div class="form-group">
                <label>菜单图标：</label>
                <input type="text" class="form-control" v-model="menuData.icon">
              </div>
              <div class="form-group form-inline">
                <label>菜单状态：</label>
                <label><input type="radio" value="0" class="form-control" v-model="menuData.menu_state"> 有效</label>&nbsp;&nbsp;
                <label><input type="radio" value="1" class="form-control" v-model="menuData.menu_state"> 无效</label>
              </div>
              <div class="form-group form-inline">
                <label>是否默认：</label>
                <label><input type="radio" value="0" class="form-control" v-model="menuData.menu_default"> 默认</label>&nbsp;&nbsp;
                <label><input type="radio" value="1" class="form-control" v-model="menuData.menu_default"> 其他</label>
              </div>
              <div class="form-group">
                <label>菜单排序：</label>
                <input type="text" class="form-control" v-model="menuData.menu_sort">
              </div>
              <div class="form-group">
                <label>菜单标识：</label>
                <input type="text" class="form-control" v-model="menuData.menu_code">
              </div>
              <div class="form-group">
                <label>菜单备注：</label>
                <input type="text" class="form-control" v-model="menuData.menu_content">
              </div>
              <div class="form-group" v-show="isBM && isEdit">
                <label>所属菜单：</label>
                <select class="form-control" v-model="menuData.menu_type">
                  <foreach name="menutypelist" item="d">
                    <option value="{$d.me_id}">{$d.me_name}</option>
                  </foreach>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="addMenu">提交</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 添加菜单类型 -->
    <div id="add_menutype_modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">菜单类型</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal m-t">
              <div class="form-group">
                <label>类型名称：</label>
                <input type="text" class="form-control" v-model="menuTypeData.me_name">
              </div>
              <div class="form-group form-inline">
                <label>状态：</label>
                <label><input type="radio" value="10" class="form-control" v-model="menuTypeData.me_state"> 有效</label>
                <label><input type="radio" value="20" class="form-control" v-model="menuTypeData.me_state"> 无效</label>
              </div>
              <div class="form-group">
                <label>备注：</label>
                <input type="text" class="form-control" v-model="menuTypeData.me_content">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="addMenuType">提交</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{:C('PUBLIC_RESOURCE')}Vue/vue.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
  <script src="{:C('PUBLIC_RESOURCE')}Jstree/jstree.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data(){
        return {
          menuData: {
            menu_id: '',
            parent_id:'',
            menu_name: '',
            menu_url: '',
            menu_sort: '',
            icon: '',
            menu_code: '',
            menu_content: '',
            menu_state: '0',
            menu_type: '',
            menu_default: '0',
          },
          menuTypeData: {
            me_name: '',
            me_state: '10',
            me_content: ''
          },
          isBM: false,
          isEdit: false,
          menutypelist: [],
          selectedNode: {},
          nowTypeData: {},
          disabled: true,
        }
      },
      created(){
        var nowTypeData = JSON.parse('{:json_encode($menutypeview)}')
        this.nowTypeData = nowTypeData
      },
      mounted(){
        this.closeModal()
        this.treeInit()
        $('input[name=menutype]').change(function(){
          $('#menu_tab').submit()
        })
      },
      methods: {
        customMenu: function(node){
          var _node = node.original
          this.menuData = _node
          var _this = this
          var items = {
            "new":{
              "label":"新建子菜单",
              "icon": "glyphicon glyphicon-plus",
              "action":function(data){
                $('#add_edit_modal').modal('show')
                _this.isEdit = false
                _this.menuData = {menu_state: '0',menu_type: '{$Think.get.menutype}',parent_id: _this.menuData.menu_id,menu_id:'',menu_default:'0'}
              }
            },
            "edit":{
              "label": "编辑菜单",
              "icon": "glyphicon glyphicon-leaf",
              "action": function (data) {
                $('#add_edit_modal').modal('show')
                _this.isEdit = true
              }
            },
            "delete": {
              "label": "删除菜单",
              "icon": "glyphicon glyphicon-remove",
              "action": function (data) {
                Delete('确认删除该菜单？',function(){
                  $.post('{:U("Admin/Menu/delmenu_action")}',{menu_id: _this.menuData.menu_id},function(res){
                    if(res.code === 0){
                      location.reload()
                    }else{
                      $('#deleteModal').modal('hide')
                      alertMSG(res.msg,'danger',3000)
                    }
                  })
                },function(){
                })
              }
            }
          }
          if(node.original.parent_id !== '0'){
            delete items.new
            _this.isBM = false
          }else{
            _this.isBM = true
          }
          return items
        },
        // 显示添加/编辑菜单模态框
        addBM(){
          this.menuData = {menu_state: '0',menu_type: '{$Think.get.menutype}',menu_url: '#',menu_default:'0'}
          $('#add_edit_modal').modal('show')
          this.isBM = false
          this.isEdit = false
        },
        // 显示添加菜单类型模态框
        addMT(){
          this.menuTypeData = {me_state:'10'}
          $('#add_menutype_modal').modal('show')
        },
        // 监听关闭模态框关闭，清空数据
        closeModal(){
          $('#add_edit_modal').on('hidden.bs.modal', function (e) {
            this.menuData = {menu_state: '0',menu_type: '',menu_url: '#',menu_default:'0'}
          })
          $('#add_menutype_modal').on('hidden.bs.modal', function (e) {
            this.menuTypeData = {me_state:'10'}
          })
        },
        // 初始化菜单树
        treeInit(){
          var menu = JSON.parse('{$menulist}')
          if(menu){
            var data = menu.map(function(item){
              item.id = item.menu_id
              item.text = item.menu_content ? item.menu_name + '（'+item.menu_content+'）' : item.menu_name
              if(item.children){
                item.children.map(function(item2){
                  item2.id = item2.menu_id
                  item2.text = item2.menu_content ? item2.menu_name + '（'+item2.menu_content+'）' : item2.menu_name
                  return item2
                })
              }
              return item
            })
          }else{
            var data = []
          }
          var _this = this
          $('#jstree').jstree({
            'core': {
              'data': data,
              "themes": {
                "theme": "default-dark",
                "dots": true,
                "icons": false
              }, 
              'check_callback': true
            },
            "contextmenu":{
              select_node: true,
              show_at_node: true,
              items: this.customMenu
            },
            "plugins" : ['state','wholerow','contextmenu']
          }).on('changed.jstree', function (e, data) {
            if(data.node){
              _this.selectedNode = data.node.original
            }
          })
        },
        // 添加菜单类型
        addMenuType(){
          var _this = this
          $.post('{:U("Admin/Menu/addmenutype_action")}',this.menuTypeData,function(res){
            if(res.code === 0){
              $('#add_menutype_modal').modal('hide')
              $('#add_menutype_modal').on('hidden.bs.modal', function (e) {
                location.reload()
              })
            }
          })
        },
        // 菜单类型修改提交
        subMT(){
          $.post('{:U("Admin/Menu/editmenutype_action")}',this.nowTypeData,function(res){
            if(res.code === 0){
              location.reload()
            }else{
              alertMSG(res.msg,'danger',3000)
            }
          })
        },
        // 添加菜单
        addMenu(){
          var url = this.isEdit ? '{:U("Admin/Menu/editmenu_action")}' : '{:U("Admin/Menu/addmenu_action")}'
          $.post(url,this.menuData,function(res){
            if(res.code === 0){
              location.reload()
            }else{
              alertMSG(res.msg,'danger',3000)
            }
          })
        },
      }
    })
  </script>
</body>

</html>