.laydate_table { 
    height: 0;
    overflow: hidden;
    display: block;
}
#laydate_hms{
    height: 0 !important;
}
.div_list{
    width: 100%;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: default;
    transition: 0.4s;
}
.div_list .video_img{
    height: 180px;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
}
.div_list .media_name{
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}
.video_img .fa-play-circle-o{
    color: #fff;
    font-size: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.video_img .fa-play-circle-o:hover{
    color: #1ab394;
    transition: 0.4s;
}
.div_list:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.play_list_div{
    max-height: 420px;
    overflow-y: auto;
}
.play_list_div table td{
    text-align: center;
}
#clue_random table th,#clue_random table td{
    text-align: center;
}
#material_random table th,#material_random table td{
    text-align: center;
}
#data_random table th,#data_random table td{
    text-align: center;
}
#clue_random table th:first-child{
    width:60px;
}
#clue_random table th:last-child{
    width: 70px;
}
.alert{
    border-radius: 0;
}
#list th,#list td{
    text-align: center;
}