<!doctype html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>数据复审</title>
	<link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}element/2.11.1/theme/index.css" rel="stylesheet">
	<link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/index.css?sdf=f">
	<link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskInfo.css?afsd=f">
	<link rel="stylesheet" href="/Application/TaskInput/View/TbnDataCheck/css/index.min.css">
	<style>
		body{
			background-color: #fff;
		}
		.el-input.is-disabled .el-input__inner,.el-textarea.is-disabled .el-textarea__inner{
			color: #000;
		}
		.el-button+.el-button{
			margin: 0;
		}
		.mediaBtn{
			margin: 5px!important;
		}
	</style>
</head>

<body>
	<div id="app">
		<el-tabs v-model="activeTab" type="card">
			<el-tab-pane name="1">
				<span slot="label">违法广告复审{{Number(data1) ? `（${data1}）` : ''}}</span>
				<ad-recheck v-if="activeTab === '1'" @update="()=>getNum()"></ad-recheck>
			</el-tab-pane>
			<el-tab-pane name="2">
					<span slot="label">样本复审{{Number(data2) ? `（${data2}）` : ''}}</span>
				<sample-recheck v-if="activeTab === '2'" @update="()=>getNum()"></sample-recheck>
			</el-tab-pane>
		</el-tabs>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
	<script src="/Application/TaskInput/View/TbnDataCheck/js/submitCutError.js"></script>
	<script src="/Application/TaskInput/View/TbnDataCheck/js/illegalInfo.js"></script>
	<script src="/Application/TaskInput/View/TbnDataCheck/js/adInfo.js"></script>
	<script src="/Application/TaskInput/View/TbnDataCheck/js/taskInfo2.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
	<script>
		const stateMap = {$stateMap};
		const tableField = {$tableField};
		const regionTree = {$regionTree};
		const adClassTree = {$adClassTree};
		const adClassArr = {$adClassArr};
		const customerArr = {$customerArr};
		const illegalTypeArr = {$illegalTypeArr};
		const illegalArr = {$illegalArr};
		const type = 'input';
	</script>
	<script src="/Application/TaskInput/View/TbnDataCheck/js/adRecheck.js"></script>
	<script src="/Application/TaskInput/View/TbnDataCheck/js/sampleRecheck.js"></script>
	<script src="/Application/TaskInput/View/TbnDataCheck/js/index.js"></script>
</body>

</html>