<template>
  <div class="iss-dialogs">
    <el-dialog :title="adData.fadname"
      center
      :before-close="_colse"
      :visible.sync="show"
      width="600px">
      <el-row>
        <el-col :span="24">
          <div class="imgBlock"
            v-if="adData.fmediaclassid === '03'">
            <vueCropper ref="cropper"
              :img="adData.sam_source_path"
              :outputSize="1"></vueCropper>
          </div>
          <div v-else
            style="width:550px;height:318px;"
            v-loading="!adData.m3u8_url">
            <aliplayer width="550px"
              height="318px"
              :url="videoUrl"
              v-if="videoUrl">
            </aliplayer>
          </div>
          <el-tabs v-model="activeName">
            <el-tab-pane label="基本信息"
              name="1"
              v-if="adData.fmediaclassid === '03'">
              <el-card>
                <el-form label-width="90px" >
                  <el-form-item label="品牌：">
                    {{adData.fbrand || '暂无'}}
                  </el-form-item>
                  <el-form-item label="广告类别：">
                    {{adData.fadclass || '暂无'}}
                  </el-form-item>
                  <el-form-item label="发布媒体：">
                    {{adData.fmedianame || '暂无'}}
                  </el-form-item>
                  <el-form-item label="发布日期：">
                    {{adData.fissuedate || '暂无'}}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="基本信息"
              name="1"
              v-else>
              <el-card>
                <el-form label-width="90px" >
                  <el-form-item label="广告名称：">
                    {{adData.fadname || '暂无'}}
                  </el-form-item>
                  <el-form-item label="品牌：">
                    {{adData.fbrand || '暂无'}}
                  </el-form-item>
                  <el-form-item label="时长：">
                    {{adData.flength || '暂无'}}
                  </el-form-item>
                  <el-form-item label="广告类别：">
                    {{adData.fadclass || '暂无'}}
                  </el-form-item>
                  <el-form-item label="发布媒体：">
                    {{adData.fmedianame || '暂无'}}
                  </el-form-item>
                  <el-form-item label="发布时间：">
                    {{adData.fissuedate || '暂无'}}
                  </el-form-item>
                  <el-form-item label="开始时间：">
                    {{adData.fstarttime || '暂无'}}
                  </el-form-item>
                  <el-form-item label="结束时间：">
                    {{adData.fendtime || '暂无'}}
                  </el-form-item>
                  <el-form-item label="广告片段："
                    v-if="download">
                    <el-button type="primary"
                      v-if="!src_url"
                      @click="_create"
                      :loading="bloading">{{bloading?'生成中':'生成'}}</el-button>
                    <a :href="src_url"
                      v-if="src_url"
                      target="_blank ">
                      <el-button type="primary"
                        >下载样本</el-button>
                    </a>
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="涉嫌违法信息"
              v-if="!hidinfo"
              name="2">
              <el-card>
                <el-form label-width="90px" >
                  <el-form-item label="违法类型：">
                    <span v-if="adData.fillegaltypecode==='0'">不违法</span>
                    <span v-if="adData.fillegaltypecode==='30'">违法</span>
                  </el-form-item>
                  <el-form-item label="认定依据：">
                    {{ adData.fconfirmation || '暂无' }}
                  </el-form-item>
                  <el-form-item label="涉嫌违法表现：">
                    {{ adData.fexpression || '暂无' }}
                  </el-form-item>
                  <el-form-item label="涉嫌违法内容：">
                    {{ adData.fillegalcontent || '暂无' }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="其他信息"
              v-if="!hidinfo"
              name="3">
              <el-card>
                <el-form label-width="300px" >
                  <el-form-item label="生产批准文号：">
                    {{ adData.fmanuno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的生产批准文号：">
                    {{ adData.fadmanuno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告批准文号：">
                    {{ adData.fapprno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的广告批准文号：">
                    {{ adData.fadapprno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="生产企业（证件持有人）名称：">
                    {{ adData.fent || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的生产企业（证件持有人）名称：">
                    {{ adData.fadent || '暂无' }}
                  </el-form-item>
                  <el-form-item label="生产企业（证件持有人）所在地区：">
                    {{ adData.fentzone || '暂无' }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
          </el-tabs>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import aliplayer from '../../common/aliplayer'
import VueCropper from 'vue-cropper'
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    data: {
      default: () => { }
    },
    download: {
      default: true
    },
    posturl: {
      default: ''
    },
    curl: {
      default: ''
    },
    gurl: {
      default: ''
    },
    hidinfo: {
      default: false
    },
  },
  components: {
    VueCropper,
    aliplayer
  },
  data() {
    return {
      adData: {},
      show: true,
      type: "a",
      loading: false,
      src_url: '',
      activeName: '1',
      loading2: true,
      videoUrl: '',
      timer: null,
      bloading: false
    }
  },
  created() {
    this._getDUrl()
    this._getDetails()
  },
  destroyed() {
    clearInterval(this.timer)
  },
  methods: {
    _getDetails() {
      let data = {
        fid: this.data.fid,
        fstarttime: this.data.fstarttime,
        fendtime: this.data.fendtime
      }
      axios.post(this.$_ + this.posturl, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.videoUrl = res.data.data.m3u8_url
            this.adData = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _colse() {
      this.$emit('close')
    },
    _create() {
      let data = {
        fid: this.data.fid,
        fstarttime: this.data.fstarttime,
        fendtime: this.data.fendtime
      }
      this.bloading = true
      axios.post(this.$_ + this.curl, qs.stringify(data))
        .then(res => {
          this.timer = setInterval(() => {
            this._getDUrl(data)
          },2000)
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getDUrl(data) {
      axios.post(this.$_ + this.gurl, qs.stringify(data))
        .then(res => {
          if(res.data.source_url){
            this.bloading = false
            this.src_url = res.data.source_url
            clearInterval(this.timer)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    }
  }
}
</script>
<style lang="scss" scoped>

.iss-dialogs {
  .imgBlock {
    height: 300px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .el-form{
    .el-form-item{
      margin-bottom: 0;
    }
  }
}
</style>
