<template>
  <div class="video-dialog">
    <el-dialog :title="row.title || '无标题'"
      :visible.sync="show"
      center
      width="600px"
      :before-close="() => $emit('close')">
      <div ref="videowarp" style="padding-bottom:10px;">
        <video ref="video"
          controls
          style="width:100%;">
          <source ref="source"
            :src="row.attribute08"
            type="video/mp4">
          </source>
        </video>
          <el-button class="btn pull-right" type="primary"  :data-clipboard-text="row.attribute08" @click="_tips">无法播放？点击这里</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Clipboard from 'clipboard'
export default {
  props: {
    row: {
      default: {}
    }
  },
  data() {
    return {
      show: true
    }
  },
  mounted() {
    const btnCopy = new Clipboard('.btn')
  },
  methods: {
    _tips(){
      this.$confirm('视频链接已复制，请打开新的页面粘贴地址后观看视频', '提醒', {
        confirmButtonText: '确定',
        type: 'success'
      }).then(() => {
      }).catch(() => {
      })
    }
  }
}
</script>

<style scoped>
</style>