<template>
  <div class="glyonghu main-bg"
    v-loading="loading2">
    <el-form v-model="searchForm"
      ref="sform"
      label-width="80px">
      <el-row :gutter="20">
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="用户名: ">
            <el-input v-model="searchForm.username"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="所属地区: ">
            <el-cascader style="width:100%"
              placeholder="请选择账号所属区域"
              :options="SGData"
              change-on-select
              :props="$store.state.areaOptions"
              v-model="sarea">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-switch v-model="searchForm.iscontain"
            active-value="1"
            inactive-value="0"
            active-text="包含下属地区">
          </el-switch>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading2"
              @click="_getAccountList(1)"
              icon="el-icon-search">搜 索</el-button>
            <el-button type="primary"
              class="pull-right"
              @click="_showAddDialog"
              icon="el-icon-plus"
              v-if="Number($store.state.userInfo.role)">添加用户</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="20"
      :style="{'height': $store.state.GTableHeight + 'px','overflow-y': 'scroll'}">
      <el-col
        :sm="12"
        :md="12"
        :lg="8"
        :xl="6"
        v-for="(item,index) in tableData"
        :key="index"
        @click.native="setUser(item)">
        <people-item :data="item"></people-item>
      </el-col>
    </el-row>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getAccountList">
    </el-pagination>
    <!-- 编辑用户 -->
    <el-dialog title="编辑用户"
      :visible.sync="isEdit"
      width="500px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      center
      @close="resetEditForm">
      <el-form :model="editForm"
        ref="editForm"
        label-width="90px">
        <el-form-item label="账号：">
          {{row.user_code}}
        </el-form-item>
        <el-form-item label="用户名：">
          <el-input v-model.trim="editForm.user_fname"
            placeholder="必填"></el-input>
        </el-form-item>
        <el-form-item label="修改密码：">
          <el-input v-model="editForm.fpassword2"
            type="password"
            placeholder="不填即不修改，密码长度不得小于6"></el-input>
        </el-form-item>
        <el-form-item label="确认密码：">
          <el-input v-model="editForm.fpassword3"
            type="password"
            placeholder="再次输入新密码"
            :disabled="!(editForm.fpassword2 && editForm.fpassword2.length > 5)"></el-input>
        </el-form-item>
        <el-form-item label="修改手机：">
          <el-input v-model="editForm.fmobile"
            placeholder="不填即解绑手机号"
            style="width:90%;"></el-input>
          <el-tooltip class="item"
            effect="dark"
            content="不填即解绑手机号"
            placement="top">
            <i class="el-icon-info"></i>
          </el-tooltip>
        </el-form-item>
        <el-form-item label="验证码：">
          <el-input v-model="editForm.verify"
            style="width:50%;float:left;"
            placeholder="请输入验证码(点击刷新)"></el-input>
          <img :src="$_ + '/Agp/Login/verify/' + tstring"
            width="45%"
            height="30px"
            alt="验证码加载失败"
            class="pull-right"
            @click="changeVerify">
        </el-form-item>
      </el-form>

      <span slot="footer">
        <el-button type="primary"
          @click="editSubmit"
          :loading="$store.state.bloading">确 定</el-button>
        <el-button type="danger"
          @click="_delete"
          v-if="Number($store.state.userInfo.role) && !Number(row.fisadmin)"
          :loading="$store.state.bloading">删除</el-button>
      </span>
    </el-dialog>
    <!-- 添加用户 -->
    <el-dialog title="添加用户"
      width="600px"
      center
      :before-close="_resetAdd"
      :visible.sync="addAccount"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <table class="col-table">
        <tr>
          <th>创建账号所属区域</th>
          <td>
            <el-cascader style="width:100%"
              placeholder="请选择账号所属区域"
              :options="$store.state.GData"
              change-on-select
              :props="$store.state.areaOptions"
              v-model="area">
            </el-cascader>
          </td>
        </tr>
        <tr>
          <th>用户名</th>
          <td>
            <el-input v-model="addForm.name"
              placeholder="请输入用户名"></el-input>
          </td>
        </tr>
        <tr>
          <th>密码</th>
          <td>
            <el-input type="password"
              v-model="addForm.password"
              placeholder="请输入新密码"></el-input>
          </td>
        </tr>
        <tr>
          <th>验证密码</th>
          <td>
            <el-input type="password"
              v-model="addForm.rpassword"
              placeholder="请再次输入新密码"></el-input>
          </td>
        </tr>
      </table>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_sendAdd"
          :loading="$store.state.bloading">添加人员</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import peopleItem from './peopleItem'
import axios from "axios";
import qs from "qs";
export default {
  components: { peopleItem },
  data() {
    return {
      tableData: [],
      countAll: "",
      searchForm: {
        page: "1",
        username: '',
        iscontain: '1'
      },
      tstring: '',
      isEdit: false,
      editForm: {
        fid: '',
        fpassword2: '',
        fpassword3: '',
        verify: '',
        user_fname: '',
        fmobile: '',
      },
      row: {},
      area: [],
      sarea: Array.of(this.$store.state.userInfo.regionid),
      addAccount: false,
      addForm: {
        tregionid: "",
        name: "",
        password: ""
      },
      changeAccount: {},
      loading2: false
    };
  },
  created() {
    this._getAccountList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (92 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    editSubmit() {
      let data = { ...this.editForm }
      if (!data.verify) {
        this.$func._error('请输入验证码')
        return false
      }
      if (data.fpassword2 && (data.fpassword2.length < 6 || data.fpassword2 !== data.fpassword3)) {
        this.$func._error('请确保密码长度大于6且两次输入的密码相同')
        return false
      }
      if (data.fmobile && !this.$func._verifyPhone(data.fmobile)) {
        this.$func._error('请输入正确得手机号')
        return false
      }
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + "/Agp/Guser/edituser", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._getAccountList(this.searchForm.page)
            this.resetEditForm()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(e => {
          this.$func._error(res.data)
          this.$store.commit('_bloading', false)
        })
    },
    setUser(row) {
      this.row = row
      this.editForm.user_fname = row.user_fname
      this.editForm.fmobile = row.fmobile
      this.editForm.fid = row.fid
      this.isEdit = true
      this.changeVerify()
    },
    // 刷新验证码
    changeVerify() {
      this.tstring = new Date().getTime()
    },
    resetEditForm() {
      this.isEdit = false
      this.editForm = {
        fid: '',
        fpassword2: '',
        fpassword3: '',
        verify: '',
        user_fname: '',
        fmobile: '',
      }
      setTimeout(() => {
        this.row = {}
      }, 200)
    },
    _getAccountList(page) {
      this.loading2 = true;
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.area = this.sarea[this.sarea.length - 1]
      axios.post(this.$_ + "/Agp/Guser/checkUserList", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list;
            this.countAll = res.data.data.count;
          } else {
            this.$func._error(res.data);
          }
          this.loading2 = false;
        });
    },
    _delete() {
      this.$confirm("此操作将永久删除该人员, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          axios.post(this.$_ + "/Agp/Guser/deleteUser",qs.stringify({ fid: this.row.fid }))
            .then(res => {
              if (res.data.code === 0) {
                this.$message.success("删除成功")
                this._getAccountList()
                this.isEdit = false
              }else{
                this.$func._error(res.data.msg)
              }
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消"
          });
        });
    },
    _showAddDialog() {
      this.addAccount = true;
    },
    _sendAdd() {
      this.addForm.tregionid = this.area[this.area.length - 1]
      if (!this.addForm.tregionid) {
        this.$message.error("请选择账号所属区域！");
        return false;
      }
      if (!this.addForm.name) {
        this.$message.error("输入用户名！");
        return false;
      }
      if (!this.addForm.password) {
        this.$message.error("输入密码！");
        return false;
      }
      if (this.addForm.password.length < 6) {
        this.$message.error("密码长度不能小于 6 位！");
        return false;
      }
      if (this.addForm.password !== this.addForm.rpassword) {
        this.$message.error("两次密码输入不一致！");
        return false;
      }
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + "/Agp/Guser/addUser", qs.stringify(this.addForm))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._resetAdd()
            this._getAccountList()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error();
          this.$store.commit('_bloading', false)
        });
    },
    _resetAdd() {
      this.addAccount = false
      this.addForm = {
        tregionid: "",
        name: "",
        password: ""
      }
      this.area = []
    }
  },
  computed: {
    SGData() {
      if (this.$store.state.userInfo.regionid === '100000') {
        return [{ fid: "100000", fname: "国家", fpid: "-1", ffullname: "国家" }].concat(this.$store.state.GData)
      } else {
        return this.$store.state.GData
      }
    },
  }
};
</script>

<style scoped>
</style>