﻿


<form method="post" action="{:C('QINIU_UP_URL')}" enctype="multipart/form-data">
  

  <input name="token" type="hidden" value="{$qiniu_updload_token}">
  <input name="file" type="file" />

  <input value="上传" type="submit" />
</form>
