<template>
	<el-card :body-style='{padding:0}' style='border: 0;' shadow='hover'>
		<div class="b-title">
			{{name}}
      <el-popover
        placement="top-start"
        width="200"
        trigger="hover"
        content="">
        <i class="el-icon-question" slot="reference"></i>
      </el-popover>
		</div>
	</el-card>
</template>

<script>
	export default {
		name:'b-title',
		props:{
			name:''
		},
		data () {
			return {

			}
		},
		created:function() {

		},
		mounted:function() {

		},
		methods:{

		},
		watch:{

		}
	}
</script>

<style lang="scss">
	.b-title {
		color: #2593FC;
		font-size: 16px;
		font-weight: 600;
		background-color: #FFFFFF;
		padding: 15px 20px;
	}
</style>
