<template>
  <el-card :body-style="{ padding: '0px', ...bStyle }" shadow="never">
    <div slot="header" class="header" v-if="title">
      <span class="title">{{title}}</span>
      <span class="pull-right right-text">{{sTitle}}</span>
    </div>
    <slot/>
  </el-card>
</template>

<script>
export default {
  props: ['title', 'sTitle', 'bStyle']
}
</script>

<style lang="scss" scoped>
.el-card{
  border-radius: 0px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  & /deep/ .el-card__header{
    padding: 16px;
    .header{
      padding-left: 10px;
      border-left: 6px solid #19acf7;
      line-height: 16px;
      .title{
        color: #666;
        font-size: 16px;
      }
      .right-text{
        color: #666;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
</style>