html {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

#app {
  opacity: 0;
}

#app .titleCon {
  font-size: 14px;
  font-weight: 700;
}

#app .titleCon /deep/ .el-alert__title.is-bold {
  font-size: 14px;
}

#app .titleCon span {
  margin-left: 40px;
}

#app .titleCon span:nth-child(1) {
  margin-left: 0;
}

#app .box .el-card {
  height: 100%;
}

#app .box .el-form {
  overflow: hidden;
}

#app .box .el-form .shut a, #app .box .el-form .target a {
  color: #337ab7;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

#app /deep/ .el-tag {
  margin-right: 6px;
}

#app .tree-block {
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
}

#app .tree-block .tree-node-slot {
  width: 60em;
  text-overflow: ellipsis;
  overflow: hidden;
}

#app .tree-block .el-tree > .el-tree-node > .el-tree-node__content > .el-checkbox {
  display: none;
}

#app .imgView img {
  display: none;
}

#app .list-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app .list-box ul li {
  padding: 10px 6px;
  border: 1px solid #eee;
  margin-bottom: 4px;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#app .list-box ul li.active {
  background-color: #f5f5f5;
  color: #409EFF;
}

#app .list-box ul li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

#app .el-autocomplete, #app .el-select, #app .el-cascader {
  display: block;
}

#app .check-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#app .check-wrap .form-wrap {
  height: 100%;
  overflow: auto;
  padding-bottom: 48px;
  box-sizing: border-box;
}

#app .check-wrap .subbutton {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
}

#app #list-wrap {
  height: 100%;
  overflow: auto;
}

#app .searchList .searchIf {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
}
