html {
  height: 100%;
  color: #606266;
  overflow: auto;
}

body {
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.el-popover {
  background-color: #e9edf1;
  border: 1px solid silver;
}

.el-popover--plain {
  padding: 12px;
}

#app {
  opacity: 0;
  height: 100%;
  overflow: hidden;
}

#app .searchNav {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ebeef5;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top: 18px;
  padding-left: 10px;
  margin-bottom: 20px;
}

#app .searchNav #select {
  border: 0px solid #fff;
}

#app .wrapper {
  height: calc(100% - 170px);
  width: 100%;
}

#app .wrapper .picture {
  float: left;
  overflow: hidden;
  width: 250px;
  height: 900px;
  border: 1px solid silver;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  margin-bottom: 15px;
}

#app .wrapper .picture .btn {
  height: 27px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 3px 6px;
  border: 1px solid silver;
  margin-bottom: 4px;
}

#app .wrapper .picture .ad-show {
  width: 250px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app .wrapper .picture .ad-show img {
  max-height: 180px;
  max-width: 250px;
  width: auto;
  height: auto;
}

#app .wrapper .picture .ad-info {
  height: 106px;
  padding: 10px;
}

#app .wrapper .picture .ad-info .ad-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#app .wrapper .picture .ad-info .ad-name a {
  font-weight: 700;
  text-decoration: none;
}

#app .wrapper .picture .ad-info .classBlue {
  color: #337ab7;
}

#app .wrapper .picture .ad-info .classRed {
  color: red;
}

#app .wrapper .picture .ad-info .ad-category {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #606266;
}

#app .wrapper .picture .ad-info .med-name {
  cursor: default;
  color: silver;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#app .wrapper .picture .ad-info .status {
  float: right;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

#app .wrapper .picture .ad-info .textRed {
  color: red;
}

#app .wrapper .picture .ad-info .textGreen {
  color: #67c23a;
}

#app .wrapper .picture .ad-info .textColorgreen {
  color: #67c23a;
}

#app .wrapper .picture .ad-detailimg {
  border-top: 1px solid silver;
  width: 100%;
  height: 600px;
  text-align: center;
  overflow: hidden;
}

#app .wrapper .picture .ad-detailimg .textTips {
  width: 100%;
  height: 100%;
  line-height: 600px;
  text-align: center;
  color: red;
  font-size: 20px;
  background-color: #eee;
}
