html{
    height: 100%;
    color: #606266;
    overflow: auto;
}
body{
    background-color: #fff;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}
.el-popover{
    background-color: #e9edf1;
    border: 1px solid silver;
}
.el-popover--plain{
    padding: 12px;
 }
#app{
    opacity: 0;
    height: 100%;
    overflow: hidden;
    .searchNav{
        background: #fff;
        width: 100%;
        border-bottom: 1px solid #ebeef5;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        padding-top: 18px;
        padding-left: 10px;
        margin-bottom: 20px;
        #select{
            border: 0px solid #fff;
        }
    }
    .wrapper{
        height: calc(100% - 170px);
        width: 100%;
        .picture{
            float: left;
            overflow: hidden;
            width: 250px;
            height: 900px;
            border: 1px solid silver;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            margin-right: 15px;
            margin-bottom: 15px;
            .btn{
                height: 27px;
                display: flex;
                justify-content: space-between;
                text-align: center;
                padding: 3px 6px;
                border: 1px solid silver;
                margin-bottom: 4px;
                // background-color: #eee;
            }
            .ad-show{
                width: 250px;
                height: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-height:180px;
                    max-width: 250px;
                    width: auto;
                    height: auto;
                }
            }
            .ad-info{
                height: 106px;
                padding: 10px;
                .ad-name{
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    overflow:hidden;
                    a{
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
                .classBlue{
                    color: #337ab7;
                }
                .classRed {
                    color: red;
                }
                .ad-category{
                    display:block;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    text-decoration: none;
                    color: #606266;
                }
                .med-name{
                    cursor: default;
                    color: silver;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    overflow:hidden;
                }
                .status{
                    float: right;
                    font-size: 16px;
                    line-height: 21px;
                    text-align: center;
                }
                .textRed{
                    color: red;
                }
                .textGreen{
                    color: rgb(103, 194, 58);
                }
                .textColorgreen{
                    color: rgb(103, 194, 58);
                }
            }
            .ad-detailimg{
                border-top: 1px solid silver;
                width: 100%;
                height: 600px;
                text-align: center;
                overflow: hidden;
                .textTips{
                    width: 100%;
                    height: 100%;
                    line-height: 600px;
                    text-align: center;
                    color: red;
                    font-size: 20px;
                    background-color: #eee;
                }
            }
        }
    }
}