<!--详细信息弹窗-->
<div class="modal inmodal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="container-fluid" style="padding-top:10px;">
                <div class="col-sm-12">
                    <table class="table infoTable">
                        <tbody>
                            <tr>
                                <th class="text-right">样本名称：</th>
                                <td id="fadname"></td>
                                <th class="text-right">版本说明：</th>
                                <td id="fversion"></td>
                            </tr>
                            <tr>
                                <th class="text-right">类别：</th>
                                <td id="ffullname"></td>
                                <th class="text-right">商业类别：</th>
                                <td id="fadclassfullname_v2"></td>
                            </tr>
                            <tr>
                                <th class="text-right">样本长度(s)：</th>
                                <td id="fadlen"></td>
                                <th class="text-right">代言人：</th>
                                <td id="fspokesman"></td>
                            </tr>
                            <tr>
								<th class="text-right">违法类型：</th>
                                <td>
                                    <span id="fillegaltypecode"></span> 
                                </td>
								<th class="text-right">涉嫌违法内容：</th>
                                <td>
                                    <pre id="fillegalcontent"></pre>
                                </td>
                                
                            </tr>
                            <tr>
								<th class="text-right">违法表现：</th>
                                <td>
                                    <pre id="fexpressions"></pre>
                                </td>
                                <th class="text-right">认定依据：</th>
                                <td>
                                    <pre id="fconfirmations"></pre>
                                </td>
                                
                            </tr>
                           
                            <tr>
                                
                                <th class="text-right">创建人：</th>
                                <td id="fcreator"></td>
								<th class="text-right">创建时间：</th>
                                <td id="fcreatetime"></td>
                            </tr>
                            <tr>
                                
                                <th class="text-right">修改人：</th>
                                <td id="fmodifier"></td>
								<th class="text-right">修改时间：</th>
                                <td id="fmodifytime"></td>
                            </tr>
                            <tr>
                                
                                <th class="text-right">首播时间：</th>
                                <td id="sstarttime"></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div>
                    <audio id="sampleAudio" src="" controls style="width: 100%;"></audio>
                </div>
            </div>
            <div class="modal-footer">
               <!--  <button type="button" class="btn btn-primary edit pull-left"><i class="fa fa-edit"></i> 编辑</button> -->
                
                <button type="button" id="bcsample_edit" class="btn btn-primary J_menuItem2 pull-left" title2="编辑样本" href=""><i class="fa fa-edit"></i> 广告信息修改</button>
                <button type="button" id="editIllegalInfo" class="btn btn-warning J_menuItem2 pull-left" title2="修改违法信息" href=""><i class="fa fa-edit"></i> 创建副本并修改信息（慎用！）</button>
				<button type="button" class="btn btn-white" id="close">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--修改信息弹窗-->
<div class="modal inmodal fade" id="changeModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改信息</h4>
            </div>
            <div class="container-fluid">
                <form class="form-horizontal m-t" id="editForm">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告名称：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入样本名称" minlength="2" type="text" class="form-control input-sm fadname" name="fadname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告主：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="adowner_name" class="form-control input-sm" id="adowner_name" placeholder="请输入广告主">
                                    <input type="hidden" name="adowner" id="adowner" value="">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告类别：</label>
                            <div class="col-sm-8">
                                <input type="text" id="adclass" name="adclass" readonly class="form-control input-sm" value="{$Think.get.adclass}" fcode="{$Think.get.adclass_code}" placeholder="请选择广告类别">
                                <input type="hidden" id="adclass_code" name="adclass_code" class="form-control input-sm" value="{$Think.get.adclass_code}">
                                <div id="adclass-select" style="display:none">
                                    <ul class="addr_tab" role="tablist">
                                    </ul>
                                    <ul class="addr_area-list">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">广告品牌：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入品牌" minlength="2" type="text" class="form-control input-sm fbrand" name="fbrand">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">代言人：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入代言人" minlength="2" type="text" class="form-control input-sm fspokesman" name="fspokesman">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">版本说明：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入版本说明" minlength="2" type="text" class="form-control input-sm fversion" name="fversion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">审批号：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入审批号" type="text" class="form-control input-sm fapprovalid" name="fapprovalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">审批单位：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入审批单位" type="text" class="form-control input-sm fapprovalunit" name="fapprovalunit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">播出媒体：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fmedianame2" name="fmedianame" value="{$Think.get.fmedianame}" placeholder="请输入播出媒体" data-id="{$Think.get.fmediaid}">
                                    <input type="hidden" id="fmediaid2" name="fmediaid" value="{$Think.get.fmediaid}">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">发布日期：</label>
                            <div class="col-sm-8">
                                <input id="fissuedate" placeholder="请选择发布日期" name="fissuedate" type="text" class="form-control input-sm laydate-icon" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">样本长度(s)：</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入样本长度" minlength="2" type="text" class="form-control input-sm fadlen" name="fadlen">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">涉嫌违法内容：</label>
                            <div class="col-sm-8">
                                <textarea name="fillegalcontent" class="form-control fillegalcontent" cols="30" rows="3" placeholder="请输入涉嫌违法内容"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">来源：</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label><input id="fsource1" type="radio" name="fsource" value="0"> 监测</label>
                                    <label><input id="fsource2" type="radio" name="fsource" value="1"> 抽查</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">违法表现：</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-primary" id="chooseExpression">选择违法表现</button>
                                <div id="lawTip" style="margin-top:8px;height:280px;overflow-y:auto"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">状态：</label>
                            <div class="col-sm-8">
                                <div class="radio i-checks">
                                    <label><input id="fstate3" type="radio" name="fstate" value="1"> 有效</label>
                                    <label><input id="fstate2" type="radio" name="fstate" value="0"> 无效</label>
                                    <label><input id="fstate1" type="radio" name="fstate" value="-1"> 删除</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">素材：</label>
                            <div class="col-sm-8">
                                <!-- <button class="btn btn-xs btn-primary" type="button" id="uploadFile">上传</button> -->
                                <input type="text" class="form-control input-sm filename" placeholder="请输入素材地址(上传后自动填入)" name="favifilename">
                                <div class="btn-xs btn" id="uploadFile">上传</div>
                                <div class="waitLoadMsg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="backMsg" style="display:none">
                        <label class="col-sm-3 control-label text-danger">提示：</label>
                        <div class="col-sm-5 text-danger msg" style="padding-top:7px;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger cancel">取消</button> -->
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 违法内容选择模态框 -->
<div class="modal inmodal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                <h4 class="modal-title">选择违法表现</h4>
            </div>
            <div class="modal-body" style="position:relative">
                <div class="input-group" id="searchDiv">
                    <input type="text" class="form-control" id="searchInput">
                    <span class="input-group-btn"> <button type="button" class="btn btn-primary" id="searchBtn"><i class="fa fa-search"></i> 搜索</button> </span>
                </div>
                <ul class="list-group" id="lawList">
                    <foreach name="IllegalList" item="illegal">
                        <li>
                            <i class="click-expand glyphicon glyphicon-plus fList" fcode="{$illegal.fcode}"></i>
                            <span style="cursor:pointer" class="illegal_details fTitle" fcode="{$illegal.fcode}">{$illegal.fexpression}</span>
                        </li>
                        <ul id="{$illegal.fcode}" style="display:none;">
                            <foreach name="illegal.list_2" item="list">
                                <li>
                                    <i class="click-expand fa fa-square" fcode="{$list.fcode}" style="float:left;margin-top: 2px;margin-right: 3px;"></i>
                                    <span style="cursor:pointer;display:inline-block;width:95%;" class="illegal_details" fcode="{$list.fcode}">{$list.fexpression} </span>
                                </li>
                            </foreach>
                        </ul>
                    </foreach>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" id="rechooseBtn" style="margin:0">重新选择</button>
                <button type="button" class="btn btn-primary" id="choosetBtn">完成选择</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success text-center" id="to_adclue_success" style="display:none;"></div>
<div class="alert alert-danger text-center" id="to_adclue_fail" style="display:none;"></div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
<script type="text/javascript" src="{:C('PUBLIC_RESOURCE')}webuploader/webuploader.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}adclassSelect/location.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
<script src="/Application/Admin/View/Public/common.js"></script>
<script>
    "use strict";
    // 编辑广告主自动补全
    $(function () {
        $('#changeModal').show();
        var bsSuggest = $("#fmedianame2").bsSuggest({
            url: "/index.php?m=Api&c=Media&a=get_media_list&fmediaclassid=02&media_name=",				//URL请求地址
            getDataMethod: "url",		//URL方式请求
            idField: "fid",           //每组数据的哪个字段作为 data-id，优先级高于 indexId 设置（推荐）
            keyField: "fmedianame",        //每组数据的哪个字段作为输入框内容，优先级高于 indexKey 设置（推荐）
            allowNoKeyword: true,     //是否允许无关键字时请求数据
            showBtn: false,           //是否显示下拉按钮
            effectiveFields: ['fmedianame'],            //有效显示于列表中的字段，非有效字段都会过滤，默认全部，对自定义getData方法无效
            // effectiveFieldsAlias: { fname: "设备名称", fcode: "设备编号" },//有效字段的别名对象，用于 header 的显示
            showHeader: false, //显示 header
        })
        $("#fmedianame2")
            .on('onDataRequestSuccess', function (event, result) {
                //当 AJAX 请求数据成功时触发，并传回结果到第二个参数
                $('.dropdown-menu .table-condensed').find('thead').remove();
            })
            .on('onSetSelectValue', function (e, keyword) {
                //当从下拉菜单选取值时触发，并传回设置的数据到第二个参数
                // console.log('onSetSelectValue: ', keyword);
                $('#fmediaid2').val(keyword.id);
            })
            .on('onUnsetSelectValue', function (e) {
                //当设置了 idField，且自由输入内容时触发（与背景警告色显示同步）
                // console.log('onUnsetSelectValue');
            });
        $('#changeModal').hide();
    })
    // 编辑广告主自动补全
    $(function () {
        $('#changeModal').show();
        var bsSuggest = $("#adowner_name").bsSuggest({
            url: "/index.php?m=Api&c=adowner&a=get_adowner_list&fname=",				//URL请求地址
            getDataMethod: "url",		//URL方式请求
            idField: "fid",           //每组数据的哪个字段作为 data-id，优先级高于 indexId 设置（推荐）
            keyField: "fname",        //每组数据的哪个字段作为输入框内容，优先级高于 indexKey 设置（推荐）
            allowNoKeyword: true,     //是否允许无关键字时请求数据
            showBtn: false,           //是否显示下拉按钮
            effectiveFields: ['fname'],
            allowNoKeyword: false,       //有效显示于列表中的字段，非有效字段都会过滤，默认全部，对自定义getData方法无效
            showHeader: false, //显示 header
            inputWarnColor: "rgba(0,0,0,0)"
        })
        $("#adowner_name")
            .on('onDataRequestSuccess', function (event, result) {
                //当 AJAX 请求数据成功时触发，并传回结果到第二个参数

                // console.log(result);
            })
            .on('onSetSelectValue', function (e, keyword) {
                //当从下拉菜单选取值时触发，并传回设置的数据到第二个参数
                $('#adowner').val(keyword.id);
            })
            .on('onUnsetSelectValue', function (e) {
                //当设置了 idField，且自由输入内容时触发（与背景警告色显示同步）
            });
            $('#changeModal').hide();
    })
    $(function () {
        var fid= "";
        var favifilename;
        var src;
        // 详情
        $('.mediaTr').click(function () {
            src = $(this).find('.viewAudio').attr('src');
            fid = $(this).attr('id');
            $("#bcsample_edit").attr("href","/Admin/Bcsample/bcsample_edit/fid/"+fid);
            $("#editIllegalInfo").attr("href","/Admin/Bcsample/editIllegalInfo/fid/"+fid);
            $.post('{:U("Admin/Bcsample/ajax_bcsample_details")}', { 'fid': fid }, function (req) {
                $('#infoModal').find('.modal-title').text(req.bcsampleDetails.fadname);
                var fstate;
                if(req.bcsampleDetails.fstate == -1){
                    fstate = '删除';
                    $('#fstate1').iCheck('check');
                }else if(req.bcsampleDetails.fstate == 0){
                    fstate = '无效';
                    $('#fstate2').iCheck('check');
                }else if(req.bcsampleDetails.fstate == 1){
                    fstate = '有效';
                    $('#fstate3').iCheck('check');
                }
                $('#to_adclue').attr('fid', req.bcsampleDetails.fid);//修改转入线索的fid
                $('#fadname').text(req.bcsampleDetails.fadname);//广告名称
                $('#bcsample_edit').attr("title2",req.bcsampleDetails.fadname);//新页面标题
                $('#editIllegalInfo').attr("title2",req.bcsampleDetails.fadname);//新页面标题
                $('#fmedia').text(req.bcsampleDetails.fmedianame);//广告名称
                $('#isshis').attr('href','/Admin/Issue/index/media_class/02/sample_id/'+fid);
                $('#fversion').text(req.bcsampleDetails.fversion);//广告版本
                $('#ffullname').text(req.bcsampleDetails.ffullname);//广告类别
                $('#fadclassfullname_v2').text(req.bcsampleDetails.fadclassfullname_v2);//商业类别
                $('#fspokesman').text(req.bcsampleDetails.fspokesman);//代言人
                $('#fadlen').text(req.bcsampleDetails.fadlen);//时长
                $('#fadowner').text(req.bcsampleDetails.adowner_name);//广告主
                $('#fadclass').text(req.bcsampleDetails.ffullname);//广告类别
                $('#fbrand').text(req.bcsampleDetails.fbrand);//广告品牌
                $('#fillegaltypecode').text(req.bcsampleDetails.fillegaltype);//违法类型
                $('#fillegalcontent').text(req.bcsampleDetails.fillegalcontent);//涉嫌违法内容
                $('#fexpressions').text(req.bcsampleDetails.fexpressions);//违法表现
                $('#fconfirmations').text(req.bcsampleDetails.fconfirmations);//认定依据
                $('#fpunishments').text(req.bcsampleDetails.fpunishments);//处罚依据
                $('#fpunishmenttypes').text(req.bcsampleDetails.fpunishmenttypes);//处罚种类及幅度
                $('#sstarttime').text(req.bcsampleDetails.sstarttime);//首播时间
                $('#fstate').text(fstate);//状态
                // 编辑页面
                $('#fcreator').text(req.bcsampleDetails.fcreator);//创建人
                $('#fcreatetime').text(req.bcsampleDetails.fcreatetime);//创建时间
                $('#fmodifier').text(req.bcsampleDetails.fmodifier);//修改人
                $('#fmodifytime').text(req.bcsampleDetails.fmodifytime);//修改时间
                $('#sampleAudio').attr('src', req.bcsampleDetails.favifilename);//修改时间
                $('.fadname').val(req.bcsampleDetails.fadname);//广告名称
                $('#fmedianame2').val(req.bcsampleDetails.fmedianame);//广告媒体
                $('.fversion').val(req.bcsampleDetails.fversion);//广告版本
                $('#adowner_name').val(req.bcsampleDetails.adowner_name);//广告主
                $('#adowner').val(req.bcsampleDetails.fadowner);//广告id
                $('#adclass').val(req.bcsampleDetails.ffullname);//广告类别
                $('.fbrand').val(req.bcsampleDetails.fbrand);//广告品牌
                $('#adclass_code').val(req.bcsampleDetails.fadclasscode);//广告类别
                $('.fspokesman').val(req.bcsampleDetails.fspokesman);//代言人
                $('.fadlen').val(req.bcsampleDetails.fadlen);//时长
                $('.fillegalcontent').val(req.bcsampleDetails.fillegalcontent);//涉嫌违法内容
                $('.fexpressions').val(req.bcsampleDetails.fexpressions);//违法表现
                $('#fmediaid2').val(req.bcsampleDetails.fmediaid);//媒体id
                $('.filename').val(req.bcsampleDetails.favifilename);//素材地址
                $('#fissuedate').val(req.bcsampleDetails.fissuedate);//发布时间
                $('.fapprovalid').val(req.bcsampleDetails.fapprovalid);//审批号
                $('.fapprovalunit').val(req.bcsampleDetails.fapprovalunit);//审批单位
                if(req.bcsampleDetails.fsource == 0){
                    $('#fsource1').iCheck('check');
                }else if(req.bcsampleDetails.fsource == 1){
                    $('#fsource2').iCheck('check');
                }
                for(var i = 0;i<req.bcsampleillegal.length;i++){
                    $('#lawTip').append('<div class="fexpression" title="点击删除" data="' + req.bcsampleillegal[i].fillegalcode + '">' + req.bcsampleillegal[i].fexpression + '</div>')
                }
            })
            $('#infoModal').modal('show');
        })
        // 播放音频
        $('.palyAudio').click(function(){
            var audio = $('#Audio')[0];
            if ($(this).find('i').hasClass('fa-play-circle-o')) {
                $('#Audio').attr('src', src);
                audio.play();
                $('.viewAudio').removeClass('fa-pause-circle-o').addClass('fa-play-circle-o');
                $('.table').find('.inPlay').removeClass('inPlay');
                $(this).find('i').removeClass('fa-play-circle-o').addClass('fa-pause-circle-o');
                event.stopPropagation();
            } else {
                audio.pause();
                $(this).find('i').removeClass('fa-pause-circle-o').addClass('fa-play-circle-o');
                event.stopPropagation();
            }
        })
        // 保存编辑
        $('.save').click(function(){
            var data = new FormData($('#editForm')[0]);
            var arr = [];
            $.each($('.fexpression'),function(){
                arr.push($(this).attr('data'))
            })
            data.append('fid',fid);
            data.append('fexpressioncodes',arr);
            $.ajax({
                url: '{:U("Admin/Bcsample/add_edit_bcsample")}',
                type: 'POST',
                cache: false,
                data: data,
                processData: false,
                contentType: false
            }).done(function(req) {
                if(req.code == 0){
                    location.reload();
                }else{
                    $('#backMsg').show().find('.msg').text(req.msg);
                }
            }).fail(function(res) {});
        })
        // 关闭弹窗停止播放
        $("#close,.close").click(function(){
            $("#Audio").attr("src","");
            $('#sampleAudio').attr('src', '')
            $(".palyAudio").find("i").removeClass("fa-pause-circle-o").addClass("fa-play-circle-o");
        })
        // 编辑按钮点击
        $('.editBtn').click(function(event){
            fid = $(this).attr('fid');
            $.post('{:U("Admin/Bcsample/ajax_bcsample_details")}', { 'fid': fid }, function (req) {
                if(req.code == 0){
                    $('#infoModal').find('.modal-title').text(req.bcsampleDetails.fadname)
                    var fstate;
                    if(req.bcsampleDetails.fstate == -1){
                        $('#fstate1').iCheck('check');
                    }else if(req.bcsampleDetails.fstate == 0){
                        $('#fstate2').iCheck('check');
                    }else if(req.bcsampleDetails.fstate == 1){
                        $('#fstate3').iCheck('check');
                    }
                    // 编辑页面
                    $('#fcreator').text(req.bcsampleDetails.fcreator);//创建人
                    $('#fcreatetime').text(req.bcsampleDetails.fcreatetime);//创建时间
                    $('#fmodifier').text(req.bcsampleDetails.fmodifier);//修改人
                    $('#fmodifytime').text(req.bcsampleDetails.fmodifytime);//修改时间
                    $('.fadname').val(req.bcsampleDetails.fadname);//广告名称
                    $('#fmedianame2').val(req.bcsampleDetails.fmedianame);//广告媒体
                    $('.fversion').val(req.bcsampleDetails.fversion);//广告版本
                    $('#adowner_name').val(req.bcsampleDetails.adowner_name);//广告主
                    $('#adowner').val(req.bcsampleDetails.fadowner);//广告id
                    $('#adclass').val(req.bcsampleDetails.ffullname);//广告类别
                    $('.fbrand').val(req.bcsampleDetails.fbrand);//广告品牌
                    $('#adclass_code').val(req.bcsampleDetails.fadclasscode);//广告类别
                    $('.fspokesman').val(req.bcsampleDetails.fspokesman);//代言人
                    $('.fadlen').val(req.bcsampleDetails.fadlen);//时长
                    $('.fillegalcontent').val(req.bcsampleDetails.fillegalcontent);//涉嫌违法内容
                    $('.fexpressions').val(req.bcsampleDetails.fexpressions);//违法表现
                    $('#fmediaid2').val(req.bcsampleDetails.fmediaid);//媒体id
                    $('.filename').val(req.bcsampleDetails.favifilename);//素材地址
                    $('#fissuedate').val(req.bcsampleDetails.fissuedate);//发布时间
                    $('.fapprovalid').val(req.bcsampleDetails.fapprovalid);//审批号
                    $('.fapprovalunit').val(req.bcsampleDetails.fapprovalunit);//审批单位
                    if(req.bcsampleDetails.fsource == 0){
                        $('#fsource1').iCheck('check');
                    }else if(req.bcsampleDetails.fsource == 1){
                        $('#fsource2').iCheck('check');
                    }
                    for(var i = 0;i<req.bcsampleillegal.length;i++){
                        $('#lawTip').append('<div class="fexpression" title="点击删除" data="' + req.bcsampleillegal[i].fillegalcode + '">' + req.bcsampleillegal[i].fexpression + '</div>')
                    }
                }else{
                    $('#backMsg').show().find('.msg').text(req.msg);
                }
            })
            $('#changeModal').modal('show');
            event.stopPropagation();
        })
        // 选择类别
        $(document).on('click','#adclass-select .click_region_name',function(){
            $('#adclass_code').val($(this).attr('fid'))
        })
        $('.edit').click(function(){
            $('#infoModal').modal('hide');
            $('#changeModal').modal('show');
        })
        // 转入线索
        $('#to_adclue').click(function () {
            var fid = $('#to_adclue').attr('fid');
            $.post('{:U("Admin/Bcsample/to_adclue")}', { 'fid': fid }, function (req) {
                if (req.code == 0) {
                    // $('#to_adclue_success').text(req.msg).show().fadeOut(3000);
                    alertMSG(req.msg,'success',2000)
                } else {
                    // $('#to_adclue_fail').text(req.msg).show().fadeOut(3000);
                    alertMSG(req.msg,'danger',2000)
                }
            })
        })
        // 添加样本
        $('#addSample').click(function(){
            fid='';
            $('#changeModal').modal('show').find('.modal-title').text('添加样本');
            $('#changeModal').find('input[type=text],textarea').val('');
            $('.fexpression').remove();
            $('#fstate3').iCheck('check');
            $('#fsource1').iCheck('check');
        })
        // 移除已选违法表现
        $(document).on('click','.fexpression',function(){
            $(this).remove();
        })
        // 上传视频
        var uploader = WebUploader.create({
            auto: false,
            swf: '{:C('PUBLIC_RESOURCE')}webuploader/Uploader.swf',// swf文件路径
            server: '{$file_up.up_server}',// 文件接收服务端。
            formData: {:json_encode($file_up['val']) },//上传的附加字段
            pick: {
                id:'#uploadFile',
                multiple:false
            },//上传按钮的名字
            fileVal: '{$file_up.file}',//文件上传域的name
            accept: {
                title: 'Images',
                extensions: 'mp4,mp3',
                mimeTypes: '.mp4,.mp3'
            },
            resize: false// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！


        });
        uploader.addButton({

        });


        // 当有文件被添加进队列的时候↓↓↓↓↓↓↓↓
        uploader.on('fileQueued', function (file) {
            uploader.md5File(file)
                .then(function (md5Val) {
                    var ext = file.ext;//文件扩展名
                    uploader.options.formData.{$file_up.key} = md5Val+'.'+ext;//设置文件名为文件的MD5+扩展名,{$file_up.key}为 云服务器接收指定文件名字的字段
                    uploader.upload();//调用开始上传,触发上传
                });
        });
        // 文件上传过程中创建进度条实时显示。↓↓↓↓↓
        uploader.on('uploadProgress', function (file, percentage) {
            $('.waitLoadMsg').html(" ");
            var $li = $('.waitLoadMsg'),
                $percent = $li.find('.progress .progress-bar');
            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<small class="percentage"></small>\
                    <div class="progress progress-mini">\
                    <div style="width: 48%;" class="progress-bar"></div></div>\
                ').appendTo( $li ).find('.progress-bar');
            }

            // $li.text('上传中');
            $percent.css( 'width', percentage * 100 + '%' );
            $('.percentage').text('当前进度：'+(percentage*100).toFixed(2)+'%');

        });
        //上传成功↓↓↓↓↓↓↓
        uploader.on('uploadSuccess', function (file, req) {
            $('.filename').val('{$file_up.bucket_url}'+uploader.options.formData.key);
        });
        //上传失败↓↓↓↓↓↓↓
        uploader.on('uploadError', function (file, req) {
            $('#upFail').text('OSS出错！').show().fadeOut(5000);
        });
        //无论成功与失败↓↓↓↓↓↓↓
        uploader.on('uploadComplete', function (file) {

        });
        // 发布日期
        var fissuedate = {
            elem: '#fissuedate',
            format: 'YYYY-MM-DD',
            min: '1970-01-01 00:00:00',
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
            }
        };
        laydate(fissuedate);
    })
    // 选择违法表现相关
    $(function(){
        $('#chooseExpression').click(function(){
            $('#changeModal').modal('hide');
            setTimeout(function(){
                $('#chooseModal').modal('show');
            },500)
        })
        var IllegalList = {:json_encode($IllegalList)};
        illegalList('',IllegalList);
        $('#searchInput').keyup(function ()  {
            var keyword = $('#searchInput').val(); 
            illegalList(keyword,IllegalList);
        });	
    
        function illegalList(keyword,IllegalList){
            $('#lawList').html('');//清空列表内容
            for(var i=0;i<IllegalList.length;i++){
                var lawList = '';//初始化变量
                lawList += '<li id="IllegalList_'+IllegalList[i].fcode+'">';
                lawList += '	<i class="click-expand glyphicon glyphicon-plus fList" fcode="'+IllegalList[i].fcode+'"></i>';
                lawList += '	<span style="cursor:pointer" class="illegal_details fTitle" fcode="'+IllegalList[i].fcode+'">'+IllegalList[i].fexpression.replace(eval("/"+keyword+"/g"),'<span style="color:#ff0000">'+keyword+'</span>')+'</span>';
                lawList += '</li>';
                lawList += '<ul id="Illegal_'+IllegalList[i].fcode+'" style="display:none;">';
                lawList += '</ul>';
                $('#lawList').append(lawList);//添加一级列表
                
                for(var i2=0;i2<IllegalList[i].list_2.length;i2++){
                    var lawList2 = '';
                    lawList2 += '<li>';
                    lawList2 += '	<i class="click-expand fa fa-square" fcode="'+IllegalList[i].list_2[i2].fcode+'" style="float:left;margin-top: 2px;margin-right: 3px;"></i>';
                    lawList2 += '	<span style="cursor:pointer;display:inline-block;width:95%;" class="illegal_details" fcode="'+IllegalList[i].list_2[i2].fcode+'">'+IllegalList[i].list_2[i2].fexpression.replace(eval("/"+keyword+"/g"),'<span style="color:#ff0000">'+keyword+'</span>')+' </span>';
                    lawList2 += '</li>';
                    if(IllegalList[i].list_2[i2].fexpression.indexOf(keyword) != -1){
                        $('#Illegal_'+IllegalList[i].fcode).append(lawList2);//添加二级列表
                        if(keyword != ''){
                            $('#Illegal_'+IllegalList[i].fcode).show();
                        }
                    }
                }
            }
        }	

        $(document).on('click', '.fList', function () {
            var fcode = $(this).attr("fcode");//
            if ($(this).hasClass('glyphicon-plus')) {
                $('#Illegal_'+fcode).show();
                $(this).removeClass('glyphicon-plus').addClass('glyphicon-minus');//移除加号添加减号
            }else{
                $('#Illegal_'+fcode).hide();
                $(this).removeClass('glyphicon-minus').addClass('glyphicon-plus');//移除减号添加加号
            }
        });
        // 从新选择
        $(document).on('click','#rechooseBtn',function(){
            $('.org_active').removeClass('org_active')
        })
        // 选中/取消选中
        $(document).on('click', '.illegal_details:not(.fTitle)', function () {
            $(this).toggleClass('org_active');
        });
        // 移除已选的也移除模态框中的选中
        $(document).on('click','.fexpression',function(){
            var fcode = $(this).attr('data');
            $.each($('.org_active'),function(){
                if($(this).attr('fcode') == fcode){
                    $(this).removeClass('org_active');
                }
            })
        })
        // 选择完成
        $('#choosetBtn').click(function(){
            var html = "";
            $.each($('.org_active'),function(){
                html += '<div class="fexpression" title="点击删除" data="' + $(this).attr('fcode') + '">' + $(this).text() + '</div>'
            })
            $('#lawTip').empty().append(html);
            $('#chooseModal').modal('hide');
            setTimeout(function(){
                $('#changeModal').modal('show');
            },500)
        })
        $('#changeModal').find('.close').click(function(){
            $('.fexpression').remove();
            $('.waitLoadMsg').html('').hide();
        })
    })
    $(function () {
        laydate.skin('molv');
        var Sstart = {
            elem: '#Sstart',
            format: 'YYYY-MM-DD',
            min: '1970-01-01 00:00:00', //设定最小日期为当前日期
            max: '{:I('fcreatetime_e')}', //最大日期
            istime: false,
            istoday: false,
            choose: function (datas) {
                Send.min = datas; //开始日选好后，重置结束日的最小日期
                Send.start = datas //将结束日的初始值设定为开始日
            }
        };
        var Send = {
            elem: '#Send',
            format: 'YYYY-MM-DD',
            min: '{:I('fcreatetime_s')}',
            max: '2099-06-16 23:59:59',
            istime: false,
            istoday: false,
            choose: function (datas) {
                Sstart.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(Sstart);
        laydate(Send);
        $('.viewAudio').click(function (event) {
            var audio = $('#Audio')[0];
            var src = $(this).attr('src');
            if ($(this).hasClass('fa-play-circle-o')) {
                $('#Audio').attr('src', src);
                audio.play();
                $('.viewAudio').removeClass('fa-pause-circle-o').addClass('fa-play-circle-o');
                $('.table').find('.inPlay').removeClass('inPlay');
                $(this).parent().addClass('inPlay');
                $(this).removeClass('fa-play-circle-o').addClass('fa-pause-circle-o');
                event.stopPropagation();
            } else {
                audio.pause();
                $(this).parent().removeClass('inPlay');
                $(this).removeClass('fa-pause-circle-o').addClass('fa-play-circle-o');
                event.stopPropagation();
            }
        })
        
    })
    closeModal('#close,.close', '#infoModal,#changeModal');
    getAdclass('#adclass', '#adclass-select', "{:U('Api/Adclass/get_adclass_list')}", 'fcode');
</script>