<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>积分统计</title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <style>
    .el-input.is-disabled .el-input__inner,.el-textarea.is-disabled .el-textarea__inner{
      color: #000;
    }
    body{
      padding: 10px;
      margin: 0;
      background-color: white;
    }
    </style>
</head>

<body>
  <div id="app" v-loading="loading">
    <el-form :inline="true">
      <el-form-item label="被加分人">
        <el-autocomplete v-model="where.wx_id" :fetch-suggestions="searchAlias" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item label="被加分人分组">
        <el-select v-model="where.group_id" placeholder="请选择分组" filterable clearable>
          <el-option v-for="item in groupList" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="where.state" placeholder="" filterable clearable>
          <el-option label="未处理" value="0"></el-option>
          <el-option label="通过" value="1"></el-option>
          <el-option label="驳回" value="2"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="标签">
        <el-checkbox-group v-model="where.userTag">
          <el-checkbox :label="item" v-for="item in userTags" :key="item">{{item}}</el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="加分类型">
        <el-select v-model="where.type" filterable clearable>
          <el-option v-for="item in workScoreType.slice(2)" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="申请人">
        <el-autocomplete v-model="where.creator" :fetch-suggestions="searchPersonName" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item label="申请日期">
        <el-date-picker v-model="where.create_time" type="daterange" placeholder="选择日期" format="yyyy 年 MM 月 dd 日"
          value-format="timestamp" clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item label="处理人">
        <el-autocomplete v-model="where.modifier" :fetch-suggestions="searchPersonName" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item label="处理日期">
        <el-date-picker v-model="where.update_time" type="daterange" placeholder="选择日期" format="yyyy 年 MM 月 dd 日"
          value-format="timestamp" clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item label="备注">
        <el-input v-model="where.remark"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getTable">搜索</el-button>
        <el-button @click="resetWhere">重置搜索条件</el-button>
        <el-button @click="addItem" type="success">新增加分申请</el-button>
      </el-form-item>
    </el-form>
    <el-table border stripe height="80vh" @row-click="clickRow" :data="table">
      <el-table-column label="被加分人">
        <template slot-scope="scope">
          <span v-html="scope.row.wx_id"></span>
        </template>
      </el-table-column>
      <el-table-column label="被加分人分组" prop="group_name">
      </el-table-column>
      <el-table-column label="分数" prop="score">
      </el-table-column>
      <el-table-column label="加分类型" prop="type">
      </el-table-column>
      <el-table-column label="状态" prop="state">
      </el-table-column>
      <el-table-column label="申请人">
        <template slot-scope="scope">
          <span v-html="scope.row.creator"></span>
        </template>
      </el-table-column>
      <el-table-column label="申请时间" prop="create_time">
      </el-table-column>
    </el-table>
    <el-pagination @size-change="pageSizeChange" @current-change="pageChange" :current-page="page" :page-sizes="[10 ,50, 100, 200, 400]"
      :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>
    <el-dialog title="详情" :visible.sync="showScoreInfo" width="50%">
      <work-score-item :id="currentId" ref="infoItem" @success="updateSuccess" @error="updateField"></work-score-item>
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="/Application/Admin/View/WorkScore/components/workScoreItem.js"></script>
  <script>
    const userTags = {$userTags};
    const groupList = {$groupList};
    const workScoreType = {$workScoreType};
    Vue.prototype.$ELEMENT = {
      size: 'mini',
      zIndex: 3000
    }
    let vm = new Vue({
      el: '#app',
      components: {
        workScoreItem
      },
      data: function () {
        return {
          userTags,
          groupList,
          workScoreType,
          loading: false,
          table: [],
          page: 1,
          pageSize: 10,
          total: 0,
          where: {
            userTag: [],
          },
          currentId: 0,
          showScoreInfo: false,
        }
      },
      created: function () {
        this.getTable()
      },
      methods: {
        getTable: function () {
          this.loading = true
          $.post('', {
            where: this.where,
            page: this.page,
            pageSize: this.pageSize,
          }).then((res) => {
            this.loading = false
            this.table = res.table
            this.total = +res.total
          })
        },
        resetWhere: function () {
          this.where = {
            userTag: [],
          }
          this.getTable()
        },
        pageSizeChange: function (val) {
          this.pageSize = val
          this.page = 1
          this.getTable()
        },
        pageChange: function (page) {
          this.page = page
          this.getTable()
        },
        clickRow: function (row) {
          this.currentId = row.id
          this.showScoreInfo = true
          this.$nextTick(() => {
            this.$refs.infoItem.dataInit()
          })
        },
        addItem: function () {
          this.currentId = 0
          this.showScoreInfo = true
          this.$nextTick(() => {
            this.$refs.infoItem.dataInit()
          })
        },
        searchAlias: function (queryString, cb) {
          $.post("/Api/User/searchUserByAlias", {
            keyword: queryString
          }, function (res) {
            cb(res.data);
          });
        },
        searchPersonName: function (queryString, cb) {
          $.post("/Api/User/searchPersonName", {
            keyword: queryString
          }, function (res) {
            cb(res.data);
          });
        },
        updateSuccess: function (msg) {
          this.showScoreInfo = false
          this.$message.success(msg)
          this.getTable()
        },
        updateField: function (msg) {
          this.showScoreInfo = false
          this.$message.error(msg)
          this.getTable()
        },
      }
    })
  </script>
</body>

</html>