html {
  height: 100%;
  overflow: auto;
}

html body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

#app{
  opacity: 0;
  height: 100%;
  padding: 10px;
}

.wrapper-search{
  display: flex;
  justify-content: space-between;
}