<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>报纸上传</title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/Application/Gongshang/View/public/common.css">
  <style>
    body{
      background-color: #fff;
      padding: 8px;
    }
  </style>
</head>

<body>
  <div id="app" class="wrapper wrapper-content">
    <el-row :gutter="10">
      <el-col :span="6">
        <el-table :data="successList" border height="253px">
          <el-table-column
            type="index"
            width="50">
          </el-table-column>
          <el-table-column
            label="提交记录">
            <template slot-scope="scope">
              {{scope.row}}
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="18">
        <el-form :model="form" ref="form" :rules="rules" label-width="100px">
          <el-form-item label="媒介名称：" prop="fmediaid">
            <el-select
              v-model="form.fmediaid"
              style="width:50%"
              filterable
              remote
              reserve-keyword
              placeholder="请输入所属媒介"
              :remote-method="getMediaList"
              @focus="getMediaList()"
              @change="handleMediaSelect"
              :loading="loading">
              <el-option
                v-for="item in mediaList"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
                <span style="float: left">{{ item.fmedianame }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{ item.fid }}</span>
              </el-option>
            </el-select>
            <span v-if="lastPage">
              最后上传版面：<el-tag>{{lastIssuedate}}</el-tag> <el-tag type="success">{{lastPage}}</el-tag>
            </span>
            <span v-else-if="lastPage === null">最近一个月未上传</span>
          </el-form-item>
          <el-form-item label="发布日期：" prop="fissuedate">
            <el-date-picker
              style="width:100%"
              v-model="form.fissuedate"
              value-format="yyyy-MM-dd"
              type="date"
              :picker-options="pickerOptions"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="版面：">
            <el-autocomplete
              style="width:100%"
              v-model="form.fpage"
              :fetch-suggestions="(query, cb) => querySearch(query, cb, 'pageList')"
              placeholder="请输入版面"
            ></el-autocomplete>
          </el-form-item>
          <el-form-item label="版面类别：">
            <el-autocomplete
              style="width:100%"
              v-model="form.fpagetype"
              :fetch-suggestions="(query, cb) => querySearch(query, cb, 'pagetypeList')"
              placeholder="请输入版面类型"
            ></el-autocomplete>
          </el-form-item>
          <el-form-item label="有无广告：" prop="noad">
              <el-radio-group v-model="form.noad">
                <el-radio-button label="1">无广告</el-radio-button>
                <el-radio-button label="0">有广告</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="上传文件：" prop="furl">
              <el-col :span="6">
                <el-upload
                  ref="upload"
                  :action="upOptions.up_server"
                  :data="uploadOptions"
                  :before-upload="setKey"
                  accept="image/*"
                  :show-file-list="false"
                  :on-preview="() => dialogVisible = true"
                  :on-success="uploadSuccess"
                  :on-error="uploadError">
                  <el-button type="primary">上传文件</el-button>
                </el-upload>
              </el-col>
              <el-col :span="12">
                <el-button type="primary" @click="submit">提 交</el-button>
              </el-col>
            </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <img :src="form.furl" width="100%" />
  </div>

  <script>
    var UPLOAD_OPTIONS = {:json_encode($file_up)}
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}momentJs/moment.js"></script>
  <script src="/Application/InputPc/View/PaperSource/js/index.js?v=3"></script>
</body>

</html>