<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>报纸上传</title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/InputPc/View/PaperSource/css/index.min.css?v=31">
  <link rel="stylesheet" href="/Application/InputPc/View/PaperCut/cropper/cropper.min.css">
</head>

<body>
  <div id="app" v-loading="loading" ref="app">
    <el-row :gutter="10">
      <el-col :span="12">
        <div class="paperInfo">
          <el-form inline>
            <el-form-item label="版面编号：">
                <span class="paper-info">{{activeRow.fpage || '未选择'}}</span>
            </el-form-item>
            <el-form-item label="版面类别：">
                <span class="paper-info">{{activeRow.fpagetype || '未选择'}}</span>
            </el-form-item>
            <el-form-item label="有无广告：">
                <span class="paper-info">{{haveAd(activeRow.noad)}}</span>
            </el-form-item>
          </el-form>
        </div>
        <div>
          <div class="imgView" id="imgView">
            <img :src="activeRow.furl" id="imageView" >
          </div>
        </div>
      </el-col>
      <el-col :span="12">
        <el-form :model="form" ref="form" inline label-width="80px">
          <el-form-item label="报刊名称">
            <el-select
              v-model="form.fmediaid"
              filterable
              clearable
              remote
              reserve-keyword
              placeholder="请输入所属媒介"
              :remote-method="handleMediaSearch"
              @change="handleMediaSelect"
              @focus="getQuery"
              :loading="loading"
              ref="mediaSelect">
              <el-option
                v-for="item in mediaList"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
                <span style="float: left">{{ item.fmedianame }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{ item.fid }}</span>
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="发行日期">
            <el-date-picker
              :disabled="!form.fmediaid"
              v-model="form.fissuedate"
              value-format="yyyy-MM-dd"
              type="date"
              :picker-options="pickerOptions"
              placeholder="选择日期"
              :clearable="false"
              @change="getList">
            </el-date-picker>
          </el-form-item>
        </el-form>
        <div class="submit-line">
          <div class="error">
            <el-alert
              title="提交超过 20 分钟的记录无法修改，请仔细确认后提交"
              type="error"
              :closable="false">
            </el-alert>
          </div>
          <span class="last-upload">最后上传： {{ last_issuedate || '请先选择媒体与日期' }}</span>
          <el-button type="primary" @click="submit" icon="el-icon-check" class="pull-right">全部提交</el-button>
        </div>
        <el-table :data="tabelData" border stripe :height="tableHeight" @row-click="setActiveRow" highlight-current-row>
          <el-table-column width="50" type="index"></el-table-column>
          <el-table-column label="版面编号">
            <template slot-scope="scope">
              <el-autocomplete
                clearable
                style="width:100%"
                v-model="scope.row.fpage"
                :disabled="scope.row.disabled"
                :fetch-suggestions="(query, cb) => querySearch(query, cb, 'pageList')"
                placeholder="请选择或输入版面编号"
              ></el-autocomplete>
            </template>
          </el-table-column>
          <el-table-column label="报纸图片">
              <template slot-scope="scope">
                <el-button type="success" @click="() => preview = true" v-if="scope.row.furl" icon="el-icon-view">预 览</el-button>
                <el-button type="danger" icon="el-icon-delete" v-if="scope.row.furl && !scope.row.disabled" @click="deleteImage(scope.row)"></el-button>
                <el-upload
                  v-if="!scope.row.furl && !scope.row.disabled"
                  ref="upload"
                  :disabled="scope.row.loading"
                  :action="upOptions.up_server"
                  :data="uploadOptions"
                  :before-upload="file => setKey(file, scope.row)"
                  accept="image/*"
                  :show-file-list="false"
                  :on-success="(response, file, fileList) => uploadSuccess(response, file, fileList, scope.row)"
                  :on-error="uploadError">
                  <el-button type="primary" :loading="scope.row.loading" icon="el-icon-upload2">上传文件</el-button>
                </el-upload>
              </template>
          </el-table-column>
          <el-table-column label="版面类别">
              <template slot-scope="scope">
                <el-autocomplete
                  clearable
                  style="width:100%"
                  :disabled="scope.row.disabled"
                  v-model="scope.row.fpagetype"
                  :fetch-suggestions="(query, cb) => querySearch(query, cb, 'pagetypeList')"
                  placeholder="请选择或输入版面类别"></el-autocomplete>
              </template>
          </el-table-column>
          <el-table-column label="有无广告">
              <template slot-scope="scope">
                  <el-radio-group v-model="scope.row.noad" :disabled="scope.row.disabled">
                    <el-radio-button label="1">无广告</el-radio-button>
                    <el-radio-button label="0">有广告</el-radio-button>
                  </el-radio-group>
              </template>
          </el-table-column>
        </el-table>
        <div class="add-line"><el-button type="primary" @click="addRow" icon="el-icon-plus" :disabled="!form.fissuedate || !form.fmediaid">添加版面</el-button></div>
      </el-col>
    </el-row>
    <el-dialog
      :visible.sync="preview"
      :title="title"
      width="80%"
      center
      :show-close="false">
      <img :src="activeRow.furl" width="100%">
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}momentJs/moment.js"></script>
  <script src="/Application/InputPc/View/PaperCut/cropper/cropper.min.js"></script>
  <script src="/Application/InputPc/View/PaperSource/js/index.js?v=31"></script>
</body>

</html>