<template>
  <div class="gdatasend main-bg"
    v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="searchForm.fadname"
              placeholder="请输入广告名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒介名称：">
            <el-input v-model="searchForm.medianame"
              placeholder="请输入媒介名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布状态：">
            <el-select style="width:100%"
              v-model="searchForm.sendstatus"
              placeholder="请选择">
              <el-option label="待确认"
                value="1"></el-option>
              <el-option label="已确认发布"
                value="2"></el-option>
              <el-option label="已确认不发布"
                value="3"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="检查状态：">
            <el-select v-model="searchForm.fstate"
              placeholder=""
              :disabled="searchForm.sendstatus !== '1'"
              style="width:100%">
              <el-option label="全部"
                value="-1"></el-option>
              <el-option label="未检查"
                value="0"></el-option>
              <el-option label="无异议"
                value="10"></el-option>
              <el-option label="有异议"
                value="20"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒介类型：">
            <el-select style="width:100%"
              v-model="searchForm.mclass"
              placeholder="请选择"
              width="99%">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="地区：">
            <el-cascader clearable
              style="width:100%"
              :options="$store.state.mediaArea"
              change-on-select
              :props="$store.state.areaOptions"
              v-model="area">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-select v-model="searchForm.fadclasscode"
              placeholder="选择广告类别"
              multiple
              style="width:100%">
              <el-option v-for="(item,index)  in $store.state.adClassOptions"
                :key="index"
                :label="item.fadclass"
                :value="item.fcode">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              type="daterange"
              :clearable="false"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              value-format="yyyy-MM-dd"
              @focus="minDate = null">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label-width="0px">
            <el-switch class="right-margin"
              v-model="searchForm.selstatus"
              active-text="全选"
              active-value="1"
              inactive-value="0"
              :disabled="disall"
              @change="_CAchang">
            </el-switch>
            <el-switch class="right-margin"
              v-model="searchForm.selstatus2"
              active-text="排除勾选"
              active-value="1"
              inactive-value="0"
              :disabled="disunall"
              @change="_UAchange">
            </el-switch>
            <el-button type="primary"
              :disabled="tableType === '4'"
              @click="_iss(2)">
              {{ buttonText }}
            </el-button>
            <el-button type="primary"
              :disabled="tableType === '4'"
              @click="_iss(3)">
              不{{ buttonText }}
            </el-button>
            <el-button type="success"
              v-if="Number($store.state.userInfo.isrelease) === 1"
              @click="showcheck = true">
              新建抽查计划
            </el-button>
            <el-button type="primary"
              class="pull-right"
              :loading="loading"
              @click="_search"
              :disabled="tableType === '4'"
              icon="el-icon-search">
              搜 索
            </el-button>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label-width="0px">
            <el-radio-group v-model="tableType"
              @change="_changeTable">
              <el-radio-button label="3">按广告</el-radio-button>
              <el-radio-button label="1">按地区</el-radio-button>
              <el-radio-button label="2">按媒体</el-radio-button>
              <el-radio-button label="4" v-if="Number($store.state.userInfo.isrelease) === 1">抽查计划</el-radio-button>
              <div class="tip-box" v-if="tableType === '4'">
                <div class="item-box item-blue">随机日期</div>
                <div class="item-box item-green">指定日期</div>
                <div class="item-box" style="text-decoration: underline;">带有下划线的为未完成日期</div>
              </div>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <task-list ref="tasklist"
      v-if="tableType === '4'" />
    <div v-else>
      <el-table border class="new-tabel" size="small"
        ref="multipleTable"
        :data="tableData"
        :height="$store.state.GTableHeight"
        @selection-change="_handleSelectionChange">
        <el-table-column type="selection"
          width="55">
        </el-table-column>
        <template>
        </template>
        <el-table-column v-if="item.prop !== 'fillegal_code' && item.prop !== 'adissuecount' && item.prop !== 'fmediaclass'"
          v-for="(item,index) in tablecolum[tableType]"
          :key="index"
          :prop="item.prop"
          :width="item.width"
          :label="item.label"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column v-else-if="item.prop === 'fmediaclass'"
          :width="item.width"
          :label="item.label">
          <template slot-scope="scope">
            <span :class="`${$store.getters.typeMap[scope.row.fmediaclass]}-tag`">{{$store.state.allmediatype[scope.row.fmediaclass]}}</span>
          </template>
        </el-table-column>
        <el-table-column v-else-if="item.prop === 'fillegal_code'"
          :width="item.width"
          :label="item.label">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column v-else-if="item.prop === 'adissuecount'"
          :width="item.width"
          :label="item.label">
          <template slot-scope="scope">
            <el-button type="text"
              @click="_issCount(scope.row)">{{scope.row.adissuecount}}</el-button>
          </template>
        </el-table-column>
        <el-table-column v-if="tableType === '3'"
          width="110px"
          label="检查结果">
          <template slot-scope="scope">
            <div v-if="scope.row.sendstatus === '1'">
              <span v-if="scope.row.dig_status === '0'">未检查</span>
              <span v-if="scope.row.dig_status === '10'">无异议</span>
              <el-popover v-if="scope.row.dig_status === '20'"
                placement="left"
                width="200"
                trigger="hover"
                :content="scope.row.dig_content">
                <span type="text"
                  slot="reference"
                  style="color:red;">有异议</span>
              </el-popover>
            </div>
            <div v-else-if="scope.row.sendstatus === '2'">
              <span>已确认发布</span>
            </div>
            <div v-else-if="scope.row.sendstatus === '3'">
              <span>已确认不发布</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column v-if="tableType === '3'"
          label="操作"
          width="80">
          <template slot-scope="scope">
            <el-button type="text"
              @click="_viewVideo(scope.row)"
              icon="el-icon-view">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination v-if="tableType !== '1'"
        background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <view-video v-if="showVideo"
      :data="details"
      :usedata="true"
      @close="showVideo = false">
    </view-video>
    <view-issue v-if="showiss"
      :data="params"
      @close="showiss = false">
    </view-issue>
    <spot-check v-if="showcheck"
      @close="closeCheck"
      @success="createSuccess"
      :data="editObj"></spot-check>
  </div>
</template>
<script>
import viewVideo from '../Ggsjzx/Investigation/components/viewVideo'
import viewIssue from './components/viewIssue'
import spotCheck from './components/spotCheck'
import taskList from './components/taskList'
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    viewVideo,
    viewIssue,
    spotCheck,
    taskList
  },
  data() {
    return {
      showiss: false,
      searchForm: {
        fadname: '',
        medianame: '',
        mclass: '0',
        page: '1',
        area: '',
        sendstatus: '1',
        selstatus2: '0',
        selstatus: '0',
        fstate: '-1',
        fadclasscode: []
      },
      showcheck: false,
      showVideo: false,
      details: {},
      tablecolum: {
        '1': [
          {
            label: '地区',
            prop: 'fname1'
          }, {
            label: '媒体数',
            prop: 'mediacount',
          }, {
            label: '违法条次',
            prop: 'adissuecount',
          }
        ],
        '2': [
          {
            label: '地区',
            prop: 'fname1'
          }, {
            label: '媒介类型',
            prop: 'fmediaclass',
          }, {
            label: '媒体名称',
            prop: 'fmedianame',
          }, {
            label: '条次',
            prop: 'adissuecount',
          }
        ],
        '3': [
          {
            label: '地区',
            prop: 'fname1',
            width: '100'
          }, {
            label: '媒介类型',
            prop: 'fmediaclass',
            width: '80'
          }, {
            label: '媒体名称',
            prop: 'fmedianame',
          }, {
            label: '广告名称',
            prop: 'fad_name',
          }, {
            label: '广告类别',
            prop: 'fadclass',
          }, {
            label: '涉嫌违法代码',
            prop: 'fillegal_code',
            dis: 'fillegal',
            width: '110'
          }, {
            label: '条次',
            prop: 'adissuecount',
            width: '100'
          }
        ]
      },
      idType: {
        '1': 'fid',
        '2': 'fmedia_id',
        '3': 'fillegal_ad_id'
      },
      multipleSelection: [],
      checkBox: {},
      tableType: '3',
      searchDate: [],
      tableData: [],
      loading: false,
      countAll: '0',
      areaList: [],
      areaArr: [],
      area: [],
      minDate: null,
      disunall: false,
      disall: false,
      params: {},
      editObj: {},
      // pickerOptions: {
      //   disabledDate: (time) => {
      //     if (this.minDate) {
      //       let val = this.minDate
      //       let y = val.getFullYear()
      //       let m = val.getMonth()
      //       let firstDay = new Date(y, m, 1)
      //       let lastDay = new Date(y, m + 1, 0)
      //       return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
      //     }
      //   },
      //   onPick: (val) => {
      //     this.minDate = val.minDate
      //   },
      // },
    }
  },
  created() {
    this.searchDate = this.$func.getNowDate('YYYY-MM-DD')
    if(this.tableType !== '4'){
      this._getList()
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issCount(obj) {
      this.showiss = true
      this.params = {}
      let data = {}
      if (this.tableType === '1') {
        data.area = obj.fid
      } else if (this.tableType === '2') {
        data.area = this.searchForm.area
        data.mediaid = obj.fmedia_id
      } else if (this.tableType === '3') {
        data.area = this.searchForm.area
        data.adid = obj.fillegal_ad_id
      }
      data.mclass = this.searchForm.mclass
      data.medianame = this.searchForm.medianame
      data.sendstatus = this.searchForm.sendstatus
      data.fadname = this.searchForm.fadname
      data.fissuedatest = this.searchForm.fissuedatest
      data.fissuedateed = this.searchForm.fissuedateed
      data.fadclasscode = this.searchForm.fadclasscode
      this.params = data
    },
    _search() {
      this.checkBox = {}
      this.multipleSelection = []
      this._getList(1)
    },
    _viewVideo(obj) {
      let data = {}
      data.mclass = obj.fmedia_class
      data.fid = obj.fillegal_ad_id
      data.timetypes = 30
      data.sendstatus = this.searchForm.sendstatus
      data.fissuedatest = this.searchDate[0]
      data.fissuedateed = this.searchDate[1]
      data.fadclasscode = this.searchForm.fadclasscode
      let date = new Date(this.searchDate[0])
      data.years = 0
      data.timeval = date.getMonth() + 1
      this.details = data;
      this.showVideo = true;
    },
    _iss(type) {
      this.$confirm(`确认${type === 2 ? '' : '不'}${this.buttonText}?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this._getArr(this.idType[this.tableType])
        let arr = []
        for (let key in this.checkBox) {
          arr = arr.concat(this.checkBox[key])
        }
        let sdata = { ...this.searchForm }
        delete sdata.sendstatus
        let fsendstatus = type
        let url = ''
        let o = null
        switch (this.tableType) {
          case '1':
            let selarea = arr
            o = { selarea, fsendstatus }
            url = '/Agp/Gdataconfirm/dq_confirm_action'
            break
          case '2':
            let selmedia = arr
            o = { selmedia, fsendstatus }
            url = '/Agp/Gdataconfirm/mt_confirm_action'
            break
          case '3':
            let selfadid = arr
            o = { selfadid, fsendstatus }
            url = '/Agp/Gdataconfirm/gg_confirm_action'
            break
        }
        let data = { ...sdata, ...o }
        axios.post(this.$_ + url, qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this.checkBox = {}
              this.multipleSelection = []
              this._getList(1)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });
    },
    _getList(page) {
      if (!this.searchDate.length) {
        this.$message.error('请先选择发布时间')
        return false
      }
      this._getArr(this.idType[this.tableType])
      this.loading = true
      this.searchForm.fissuedatest = this.searchDate[0]
      this.searchForm.fissuedateed = this.searchDate[1]
      if (this.area.length) {
        this.searchForm.area = this.area[this.area.length - 1]
      } else {
        this.searchForm.area = 0
      }
      this.searchForm.page = page || 1
      let url = ''
      switch (this.tableType) {
        case '1':
          url = '/Agp/Gdataconfirm/dq_confirm_list'
          break
        case '2':
          url = '/Agp/Gdataconfirm/mt_confirm_list'
          break
        case '3':
          url = '/Agp/Gdataconfirm/gg_confirm_list'
          break
      }
      this.loading = true
      axios.post(this.$_ + url, qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.map(item => {
              if (item.fmedia_class) {
                switch (item.fmedia_class) {
                  case '1':
                    item.fmediaclass = '电视'
                    break
                  case '2':
                    item.fmediaclass = '广播'
                    break
                  case '3':
                    item.fmediaclass = '报纸'
                    break
                }
              }
              return item
            })
            this.countAll = res.data.count
            setTimeout(() => {
              if (Number(this.searchForm.selstatus)) {
                this.multipleSelection = this.tableData
                this._getArr(this.idType[this.tableType])
              }
              this._toggleSelection(this.checkBox[this.searchForm.page])
            })
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _UAchange(val) {
      this.disall = Number(val) ? true : false
    },
    _CAchang(val) {
      this.disunall = Number(val) ? true : false
      if (Number(val)) {
        this.multipleSelection = this.tableData
        this.checkBox = {}
      } else {
        this.multipleSelection = []
        this.checkBox = {}
      }
      this._getArr(this.idType[this.tableType])
      this._toggleSelection(this.checkBox[this.searchForm.page])
    },
    _changeTable(val) {
      if (val === '4') {
        return false
      }
      this.multipleSelection = []
      this.checkBox = {}
      this.searchForm.selstatus = '0'
      this.searchForm.selstatus2 = '0'
      this._getList(1)
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _setArea(val) {
      let check = this.areaArr.filter(item => {
        return item.fid === val
      })
      this.areaList = Array.from(new Set(this.areaList.concat(check)))
      this.area = ''
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _toggleSelection(rows) {
      let Rows = rows || []
      if (Number(this.searchForm.selstatus)) {
        this.$refs.multipleTable.clearSelection()
        Rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(this.tableData.find(d => d[this.idType[this.tableType]] === row))
        })
      } else if (Rows.length && !Number(this.searchForm.selstatus)) {
        Rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(this.tableData.find(d => d[this.idType[this.tableType]] === row))
        })
      } else if (!Rows.length && !Number(this.searchForm.selstatus)) {
        this.$refs.multipleTable.clearSelection()
      }
    },
    _getArr(type) {
      this.checkBox[this.searchForm.page] = []
      this.multipleSelection.forEach(item => {
        this.checkBox[this.searchForm.page].push(item[type])
      })
    },
    createSuccess() {
      this.showcheck = false
      if (this.tableType !== '4') {
        this.tableType = '4'
      } else {
        this.$refs.tasklist.getList()
      }
    },
    closeCheck() {
      this.editObj = {}
      this.showcheck = false
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType3
    },
    buttonText(){
      let arr = this.$store.state.menudata[this.$route.name]
      if(arr && arr.length === 2){
        return arr[1].slice(-2)
      }else{
      }
    },
  }
}
</script>
<style lang="scss" scoped>
.tip-box{
  height: 20px;
  display: inline-block;
  .item-box{
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    &.item-blue::before{
      float: left;
      content: '';
      width: 20px;
      height: 20px;
      margin-right: 4px;
      background-color: #409eff;
    }
    &.item-green::before{
      float: left;
      content: '';
      width: 20px;
      height: 20px;
      margin-right: 4px;
      background-color: #71c7a5;
    }
  }
}
</style>
