<template>
  <div class="shsjjc main-bg">
    <div v-loading="loading">
      <el-form ref="sform"
        :model="form"
        label-width="90px">
        <el-row :gutter="10">
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="媒体：">
              <el-input v-model="form.fmedianame"></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="发布日期：">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="fissuedate"
                type="daterange"
                :clearable="false"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="状态：">
              <el-select v-model="form.fdstatus" style="width: 100%">
                <el-option label="全部" value="-1"></el-option>
                <el-option v-for="item in searchStatus"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label-width="0px">
              <el-button type="primary"
                class="pull-right"
                style="margin-left:10px"
                :loading="loading"
                @click="getList(1)"
                icon="el-icon-search">查 询</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData" border stripe :height="$store.state.GTableHeight">
        <el-table-column type="index" width="50"/>
        <el-table-column label="媒体" prop="fmedianame" show-overflow-tooltip />
        <el-table-column label="日期" prop="fissuedate" width="100" />
        <el-table-column label="状态" width="100">
          <template slot-scope="scope">
            <el-tag size="small" :type="fdstatus[scope.row.fdstatus].type" v-if="scope.row.isopen == 1">{{ fdstatus[scope.row.fdstatus].label }}</el-tag>
            <el-tag size="small" type="info" v-else>未就绪</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="创建时间" prop="fcreatetime" width="150" />
        <el-table-column label="修改时间" prop="fmodifytime" width="150"/>
        <el-table-column label="操作" width="90" fixed="right">
          <template slot-scope="scope">
            <el-button type="primary" :loading="scope.row.disabled" @click="checkEnter(scope.row)">{{scope.row.fdstatus === '4' ? '查看' : '检查'}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        v-if="tableData.length"
        layout="prev, pager, next, total"
        :total="Number(allcount)"
        :page-size="20"
        :current-page="Number(form.pageIndex)"
        @current-change="getList">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    let now = this.$dayjs()
    let s = `${now.format('YYYY-MM-')}01`
    let e = `${now.format('YYYY-MM-DD')}`
    let fissuedate = []
    return {
      form: {
        pageIndex: 1,
        fdstatus: '-1'
      },
      loading: false,
      allcount: 0,
      tableData: [],
      addForm: {
        fmediaid: '',
        fissuedate: '',
      },
      fissuedate: fissuedate,
      searchStatus: [
        {
          label: '未就绪',
          value: '-2'
        },
        {
          label: '待检查',
          value: '2'
        },{
          label: '检查中',
          value: '3'
        },{
          label: '检查完成',
          value: '4'
        },
      ],
      fdstatus: {
        '-2': {
          label: '未就绪',
          type: 'info'
        },
        '2': {
          label: '待检查',
          type: 'warning'
        },
        '3': {
          label: '检查中',
          type: 'primary'
        },
        '4': {
          label: '检查完成',
          type: 'success'
        },
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      let form = JSON.parse(localStorage.getItem(vm.$route.name))
      if(from.name === 'shsjxq'){
        vm.form.pageIndex = form.pageIndex
      }
      vm.getList(vm.form.pageIndex)
    })
  },
  beforeRouteLeave(to, from, next){
    if(to.name !== 'shsjxq'){
      localStorage.removeItem(this.$route.name)
    }
    next()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    getList(page){
      this.loading = true
      if(page) this.form.pageIndex = page
      let [fissuedateS, fissuedateE] = this.fissuedate
      let data = { ...this.form, fissuedateS, fissuedateE, pageSize: 20}
      axios.post(this.$_ + '/Agp/Inspectiontask3/PlanList', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.tableData = res.data.data
          this.allcount = res.data.count
        } else {
          this.$func._error(res.data)
        }
        this.loading = false
      })
    },
    checkEnter(obj){
      obj.disabled = true
      let data = {
        fid: obj.fid
      }
      axios.post(this.$_ + '/Agp/Inspectiontask3/startCheckPlan',JSON.stringify(data))
      .then(res => {
        obj.disabled = false
        if(res.data.code === 0){
          this.details(obj,'1')
        }else if(res.data.code === 1){
          if(obj.fid){
            this.$confirm('该计划当前不可检查，是否继续查看？', '提示', {
              confirmButtonText: '继续查看',
              cancelButtonText: '取消',
              type: 'confirm'
            }).then(() => {
              this.details(obj,'0')
            }).catch(() => {
            })
          }else{
            this.$func._error(res.data)
          }
        }else if(res.data.code === 2){
          this.$confirm('该计划正在检查中，是否继续检查？', '提示', {
            confirmButtonText: '继续检查',
            cancelButtonText: '取消',
            type: 'confirm'
          }).then(() => {
            this.details(obj,'1')
          }).catch(() => {
          })
        }
      })
    },
    details(obj,check) {
      const query = {
        fid: obj.fid,
        fissuedate: obj.fissuedate,
        fmedianame: obj.fmedianame,
        fmediaid: obj.fmediaid,
      }
      if (check) query.check = check
      localStorage.setItem(this.$route.name,JSON.stringify(this.form))
      this.$router.push({ path: '/inspectiontask3', query: query })
    },
  },
}
</script>

<style scoped lang="scss">
.shsjjc{
  & /deep/ .wh_container{
    & /deep/ .wh_want_dayhide{
      color: #f56c6c !important;
    }
    & /deep/ .wh_chose_day{
      border: 1px solid #f56c6c;
    }
  }
  & /deep/ .el-dialog__header{
    padding: 10px 30px !important;
  }
  & /deep/ .el-dialog--center .el-dialog__body{
    padding: 0 30px !important;
  }
  & /deep/ .el-dialog__footer{
    padding: 10px 30px !important;
  }
  .flex-box{
    display: flex;
    .flex-media{
      width: 250px;
      border: 1px solid #dcdfe6;
      padding: 10px;
      margin-right: 10px;
      .media-list-box{
        margin-top: 8px;
        height: 319px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
    .flex-calendar{
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

</style>
<style>
/* 计划内可检查 */
.in_can .wh_item_date_text{
  background-color: #409eff;
  color: #fff !important;
  border-radius: 50%;
}
/* 计划内不可检查 */
.in_cant .wh_item_date_text{
  background-color: #409eff;
  color: #f56c6c !important;
  border-radius: 50%;
}
/* 计划外不可检查 */
.out_cant{
  color: #f56c6c !important;
}
/* 计划外未完成 */
.out_plan_unfinished{
  color: #e6a23c !important;
}
/* 已完成计划 */
.plan_finished .wh_item_date_text{
  text-decoration: underline;
}
</style>
