<template>
  <div class="inspectiontask main-bg">
    <create-task></create-task>
  </div>
</template>

<script>
import createTask from './components/createTaks'
export default {
  components: {
    createTask
  },
  data() {
    return {
    }
  }
}
</script>