<template>
  <div class="inspectiontask2 main-bg">
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12" :md="12" :lg="6" :xl="6">
          <el-form-item label="计划时段：">
            <el-date-picker
              style="width:100%"
              v-model="form.fmonth"
              type="daterange"
              clearable
              value-format="yyyy-MM-dd"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="6" :xl="6">
          <el-form-item label="地区：">
            <el-select style="width:100%"
              clearable
              v-model="form.fregionid"
              @change="_getmediaList($event,'mediaList')">
              <el-option v-for="item in $store.state.ccorgData.list"
                :key="item.fid"
                :label="item.fname1"
                :value="item.fid"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="6" :xl="6">
          <el-form-item label="复核状态：">
            <el-select style="width:100%"
              v-model="form.fstate">
              <el-option label="全部"
                value=""></el-option>
              <el-option :label="value"
                :value="key"
                v-for="(value,key) in checkState"
                :key="key"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="6" :xl="6">
          <el-form-item label="媒介：">
            <el-select style="width:100%"
              placeholder="请先选择地区"
              :disabled="!form.fregionid"
              clearable
              filterable
              v-model="form.fmediaid">
              <el-option-group v-for="group in mediaList"
                :key="group.label"
                :label="group.label">
                <el-option v-for="item in group.list"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid"></el-option>
              </el-option-group>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="6" :xl="6">
          <el-form-item label="复核机关：">
            <el-select style="width:100%"
              clearable
              v-model="form.fcheckorg">
              <el-option label="第三方" value="100000"></el-option>
              <el-option v-for="item in checkOrg"
                :key="item.fid"
                :label="item.fname1"
                :value="item.fid"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label-width="0px">
            <el-button type="primary"
              class="pull-left"
              style="margin-left:10px"
              @click="addplan = true"
              icon="el-icon-circle-plus-outline">添 加</el-button>
            <el-button type="danger"
              class="pull-left"
              style="margin-left:10px"
              @click="_deleteResult()"
              icon="el-icon-delete">删 除</el-button>
               <el-button type="primary"
              class="pull-right"
              style="margin-right:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">查 询</el-button>
            <out-button
              :type="['xls']"
              :data="predata"
              :json="true"
              @initdata="daochu"
              icon="el-icon-download"
              style="margin: -1px 10px 0 0;"
              url="/Agp/Inspectiontask2/Index"
              class="pull-right right-margin" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table border class="new-tabel" size="small"
      v-loading="loading"
      :height="$store.state.GTableHeight"
      :data="tableData"
      @selection-change="_handleSelectionChange">
      <el-table-column type="selection"
        width="55">
      </el-table-column>
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column width="80"
        prop="fregion"
        label="地区">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="100"
        prop="fissuedate"
        label="复核日期">
      </el-table-column>
      <el-table-column width="145"
        prop="fcheckorgname"
        label="复核机关"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="115"
        label="完成期限">
        <template slot-scope="scope">
          {{scope.row.fplandate}}
          <el-tooltip class="item"
            v-if="scope.row.over"
            effect="dark"
            :content="scope.row.fstate === '0'?'计划超期未完成':'计划超期完成'"
            placement="right">
            <i class="el-icon-info text-danger"></i>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column width="70"
        label="状态">
        <template slot-scope="scope">
          <span v-if="scope.row.fstate === '0'">{{checkState[scope.row.fstate]}}</span>
          <el-tooltip class="item"
            effect="dark"
            :content="scope.row.fsummary || '正常'"
            placement="top"
            v-if="scope.row.fstate === '1'">
            <a href="javascript:void(0);"
              :class="scope.row.fsummary?'text-red':'text-green'">{{checkState[scope.row.fstate]}}</a>
          </el-tooltip>
          <span class="text-yellow"
            v-if="scope.row.fstate === '2'">{{checkState[scope.row.fstate]}}</span>
        </template>
      </el-table-column>
      <el-table-column width="95"
        label="完成时间">
        <template slot-scope="scope">
          {{scope.row.ffinishdate || '进行中'}}
        </template>
      </el-table-column>
      <el-table-column width="130"
        fixed="right"
        label="操作">
        <template slot-scope="scope">
          <el-button icon="el-icon-info"
            type="text"
            :disabled="scope.row.fstate !== '1'"
            @click="_details(scope.row)">详情</el-button>
          <el-button icon="el-icon-delete"
            type="text"
            @click="_deleteResult(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(allcount)"
      :page-size="20"
      :current-page="Number(form.pageIndex)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog title="新增复核计划"
      :visible.sync="addplan"
      width="500px"
      center
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="_handleClose">
      <el-form :model="add"
        ref="add"
        label-width="80px">
        <el-form-item label="计划月份">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="add.fmonth"
            type="month"
            :clearable="false"
            value-format="yyyy-MM"
            placeholder="选择月"
            @change="_getdateList">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="地区">
          <el-select style="width:100%"
            :disabled="!add.fmonth"
            v-model="add.fregionid"
            @change="_getmediaList($event,'mediaList2')">
            <el-option v-for="item in $store.state.ccorgData.list"
              :key="item.fid"
              :label="item.fname1"
              :value="item.fid"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="媒介">
          <el-select placeholder="请先选择地区"
            filterable
            collapse-tags
            :disabled="!add.fregionid"
            style="width:100%"
            v-model="add.fmediaid"
            @change="_getdateList">
            <el-option-group v-for="group in mediaList2"
              :key="group.label"
              :label="group.label">
              <el-option v-for="item in group.list"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid"></el-option>
            </el-option-group>
          </el-select>
        </el-form-item>
        <el-form-item label="日期">
          <el-select style="width:100%"
            multiple
            v-model="fissuedate"
            :disabled="!add.fmediaid || !add.fmonth">
            <el-option v-for="item in dateList"
              :key="item"
              :label="item"
              :value="item">{{item}}</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="复核机关">
          <el-select style="width:100%"
            :disabled="!fissuedate.length"
            v-model="add.fcheckorg">
            <el-option label="第三方" value="100000"></el-option>
            <el-option v-for="item in checkOrg"
              :key="item.fid"
              :label="item.fname1"
              :value="item.fid"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="完成期限">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="add.fplandate"
            :disabled="!add.fcheckorg"
            type="date"
            :picker-options="pickerOptions"
            value-format="yyyy-MM-dd"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          :disabled="!add.fplandate"
          :loading="$store.state.bloading"
          @click="_createTask">立即创建</el-button>
      </span>
    </el-dialog>
    <el-dialog title="数据复核结果"
      :visible.sync="dialogVisible"
      width="50%"
      center
      :before-close="_handleClose">
      <p>
        <strong>媒体名称：{{medianame}}</strong><strong class="pull-right">播出日期：{{issdate}}</strong>
      </p>
      <p :class="resultText?'text-red':'text-green'">
        复核结果：<strong>{{resultText || '未发现错误'}}</strong>
      </p>
      <el-table :data="resData"
        border>
        <el-table-column type="index"
          width="55">
        </el-table-column>
        <el-table-column width="80"
          label="类型">
          <template slot-scope="scope">
            {{resultType[scope.row.fresult_type]}}
          </template>
        </el-table-column>
        <el-table-column width="150"
          label="时间段">
          <template slot-scope="scope">
            {{scope.row.fstart.substring(11)}} ～ {{scope.row.fend.substring(11)}}
          </template>
        </el-table-column>
        <el-table-column prop="fresult"
          label="说明"
          show-overflow-tooltip>
        </el-table-column>
      </el-table>
      <span slot="footer"
        class="dialog-footer">
        <el-button @click="dialogVisible = false">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import outButton from '../common/outButton'
export default {
  components: {
    outButton
  },
  data() {
    return {
      dialogVisible: false,
      addplan: false,
      form: {
        pageIndex: 1,
        fmediaid: '',
        fcheckorg: '',
        fregionid: '',
        fstate: '',
        fmonth: '',
      },

      loading: false,
      tableData: [],
      allcount: '0',
      resData: [],
      multipleSelection: [],
      mediaList: [],
      mediaList2: [],
      dateList: [],
      add: {
        fmediaid: '',
        fplandate: '',
        fcheckorg: '',
        fregionid: '',
        fmonth: ''
      },
      fissuedate: [],
      checkState: {
        '0': '待复核',
        '1': '已复核',
        '2': '重新复核',
      },
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() < new Date().getTime()
        },
      },
      resultType: {
        '0': '遗漏',
        '1': '错误',
        '2': '预判'
      },
      medianame: '',
      issdate: '',
      resultText: '',
      predata: {},
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    daochu() {
      let data = { outtype: '',...this.form, pageSize: 20 }
      this.predata = data
    },
    _getList(page) {
      this.loading = true
      this.form.pageIndex = page || 1
      let data = { ...this.form, pageSize: 20 }
      axios.post(this.$_ + '/Agp/Inspectiontask2/Index', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let day = this.$dayjs().format('YYYY-MM-DD')
            let times = new Date(day).getTime() + (60 * 60 * 24 * 1000)
            this.tableData = res.data.data.map(item => {
              if (item.ffinishdate) {
                item.over = (new Date(item.fplandate).getTime() < new Date(item.ffinishdate).getTime())
              } else {
                item.over = (new Date(item.fplandate).getTime() < times)
              }
              return item
            })
            this.allcount = res.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _checkResult(obj) {
      this.medianame = obj.fmedianame
      this.issdate = obj.fissuedate
      this.resultText = obj.fsummary || ""
      let data = { fid: obj.fid }
      axios.post(this.$_ + '/Agp/Inspectiontask2/ViewResult', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.resData = res.data.data
            this.dialogVisible = true
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _details(obj) {
      const query = {
        fid: obj.fid,
        fissuedate: obj.fissuedate,
        fmedianame: obj.fmedianame
      }
      localStorage.setItem('listPage', this.$route.path)
      this.$router.push({ path: '/ginspectcheck', query: query })
    },
    _deleteResult(obj) {
      let msg = ''
      let data = null
      if (obj) {
        data = { fid: obj.fid }
        msg = `确认删除 ${obj.fregion}${obj.fmedianame} 的计划?`
      } else {
        let idarr = this.$func.getIdArr(this.multipleSelection, 'fid').join(',')
        data = { fid: idarr }
        msg = `确认删除所选的 ${this.multipleSelection.length} 条计划?`
      }
      this.$confirm(msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Inspectiontask2/Delete', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._getList(this.form.pageIndex)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });

    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _handleClose() {
      this.resData = []
      this.dialogVisible = false
      this.addplan = false
      this.add = {
        fmediaid: '',
        fplandate: '',
        fcheckorg: '',
        fregionid: '',
        valueTime: '',
      }
      this.fissuedate = []
    },
    _getmediaList(val, list) {
      this.add.fmediaid = ''
      this.form.fmediaid = ''
      this[list] = []
      let arr = []
      let type = {
        'tv': '电视',
        'bc': '广播',
        'paper': '报纸'
      }
      for (let key in type) {
        let data = {
          regionid: val,
          mclass: key,
          iscontain: '1'
        }
        axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this[list].push({
                label: type[key],
                list: res.data.data
              })
            }
          })
      }
    },
    _getdateList() {
      if (!this.add.fmonth || !this.add.fmediaid) {
        return false
      }
      let data = {
        fmonth: this.add.fmonth,
        fmediaid: this.add.fmediaid
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/GetDays', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.dateList = res.data.data
          }
        })
    },
    _createTask() {
      this.$store.commit('_bloading', true)
      let data = { ...this.add }
      data.fissuedate = this.fissuedate.join(',')
      axios.post(this.$_ + '/Agp/Inspectiontask2/Add', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._getList()
            this.addplan = false
            this.add = {}
            this.fissuedate = []
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
        })
    }
  },
  computed: {
    checkOrg() {
      let arr = [].concat(this.$store.state.ccorgData.list)
      return arr.filter(item => {
        if (item) {
          return item.fid !== this.add.fregionid
        }
      })
    }
  }
}
</script>

<style scoped>
</style>