<template>
  <div class="monitoring-data main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="8">
          <el-form-item label="操作类型：">
            <el-input placeholder="请输入操作类型"
              v-model="searchForm.type"
              style="width:100%"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="8">
          <el-form-item label="操作状态：">
            <el-select v-model="searchForm.status"
              placeholder="请选择"
              style="width:100%">
              <el-option v-for="item in state"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="8">
          <el-form-item label="记录时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchForm.record_date"
              clearable
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              value-format="yyyy-MM-dd"
              @change="_clearDate">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          <out-button :type="['xls']"
            :data="predata"
            @initdata="initData"
            url="/Agp/FlogManage/index"
            class="pull-right right-margin" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border class="new-tabel" size="small"
      v-loading="loading"
      :height="$store.state.GTableHeight"
      ref="multipleTable"
      :data="tableData">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column prop="type"
        label="操作类型"
        width="150"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="status"
        label="操作状态"
        width="150"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.status==1?"成功":"失败"}}
        </template>
      </el-table-column>
      <el-table-column width="200"
        prop="remark"
        label="备注"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="record_date"
        label="记录时间"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregulatorname"
        label="部门">
      </el-table-column>
      <el-table-column width="120px"
        fixed="right"
        prop="fusername"
        label="操作人">
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import outButton from '../common/outButton'
export default {
  components: {
    outButton,
  },
  data() {
    return {
      searchForm: {
        status: '',
        record_date: '',
        type: '',
        page: '1',
      },
      fadclasscode: [],
      fillegaltypecode: '',
      searchDate: [],
      tableData: [],
      state: [
        {
          label: "全部",
          value: '',
        },
        {
          label: "成功",
          value: '1',
        },
        {
          label: "失败",
          value: '-1',
        },
      ],
      loading: false,
      countAll: '0',
      detailsData: {},
      tagList: [],
      illList: [],
      mediaArr: [],
      mediaList: [],
      media: '',
      minDate: null,
      predata: {}
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true;
      this.searchForm.page = page || 1
      this.initData(page)
      axios.post(this.$_ + '/Agp/FlogManage/index ', qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _clearDate(val) {
      if (val === null) {
        this.minDate = null
      }
    },
    initData(page) {
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      this.predata = data
    },

  }
}
</script>

