<template>
  <div class="screenlive main-bg">
    <el-row class="operating-line">
      <el-col :span="8">
        <el-select v-model="select"
          @change="_addLive"
          placeholder="请选择频道"
          :style="$store.state.fwidth">
          <el-option v-for="item in mediaList"
            :key="item.fid"
            :label="item.value"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :sm="12" :md="12" :lg="8" :xl="6"
        v-for="item in liveList"
        :key="item.fid">
        <el-card class="box-card">
          <div slot="header"
            class="clearfix">
            {{item.fmedianame}}
            <el-button style="float: right; padding: 3px 0"
              type="text"
              @click="_close(item)">关闭</el-button>
          </div>
          <div class="live-warp">
            <iframe width="100%"
              height="100%"
              :src="`/Api/Media/m3u8_live/fid/${item.fid}/volume/30`"
              frameborder="0"></iframe>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      select: '',
      mediaList: [],
      liveList: []
    }
  },
  created() {
    this._getMediaList(1)
    this._getMediaList(2)
  },
  methods: {
    _getMediaList(mclass) {
      let id = this.$store.state.userInfo.regionid
      axios.post(this.$_ + '/Agp/Core/get_user_media',qs.stringify({mclass}))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaList = [...this.mediaList,...res.data.data]
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _addLive(fid) {
      let i = 0;
      this.liveList.forEach(item => {
        if (item.fid === fid) {
          i++
        }
      });
      if (!i) this.liveList.push(this._filter(fid))
      this.select = ''
    },
    _filter(id) {
      let arr = this.mediaList.filter(item => {
        return item.fid === id
      })
      return arr[0]
    },
    _close(obj) {
      this.liveList = this.liveList.filter(item => {
        return item.fid !== obj.fid
      })
    }
  }
}
</script>

<style>
.screenlive .el-card__body {
  padding: 0px !important;
}
.screenlive .text {
  font-size: 14px;
}

.screenlive .item {
  margin-bottom: 18px;
}

.screenlive .clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.screenlive .clearfix:after {
  clear: both;
}

.screenlive .live-warp {
  width: 100%;
  height: 300px;
}
</style>