﻿
	<foreach name="adclassList" item="adclass" >
	
		<li style="height:25px;">
			<i class="click-expand fa fa-plus ent_adclass" fcode="{$adclass.fcode}"></i>
			<span style="cursor:pointer" class="adclass_details"  fcode="{$adclass.fcode}">{$adclass.fadclass} <span class="label label-primary pull-right">{$adclass.fcode}</span></span>
			
			
		</li>
		
		<ul id="{$adclass.fcode}">
			 
		</ul>

	</foreach>
						