﻿<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>商业类别管理</title>

	<!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

	<link rel="shortcut icon" href="favicon.ico">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/style.min.css-v=4.0.0.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}hPlus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
	<link href="/Application/Admin/View/Public/org.css" rel="stylesheet">
	<link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row animated fadeInRight" id="app">
			<div>
				<div class="h4">已关联的(点击可删除)</div>
				<ul>
					<li v-for="(item, index) in adClassV2List" :key="index" @click="delItem(index)">{{item.ffullname}}</li>
				</ul>
			</div>
			<hr>
			<div style="margin-top: 50px;">
				<div class="h4">选择关联的商业类型, 然后点击添加按钮</div>
				<el-cascader
						:options="adClassTree"
						v-model="adClass"
						:filterable="true"
						ref="adClassSelector"
				></el-cascader>
				<button class="btn btn-info" @click="add">添加</button>
			</div>
			<hr>
			<div class="">
				<button class="btn btn-primary" @click="save">保存</button>
			</div>
		</div>
	</div>
	<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/layer/3.1.0/layer.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
	<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
	<script>
		var adClassTree = {$adClassTree};
		var adClassV2List = {$adClassV2List};
	</script>
	<script src="/Application/Admin/View/Adclass/js/index.js"></script>
</body>

</html>