<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>质检任务</title>
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.css">
  <link rel="stylesheet" href="/Application/TaskInput/View/QualityInspection/css/getTask.min.css?v=31">
</head>
<body>
  <div id="app" v-loading="loading">
    <div :gutter="8" style="display:flex;" v-if="showView">
      <div style="width: 500px;flex-shrink: 0;">
        <div class="info-box box" :style="{'height': boxHeight}">
          <el-card :body-style="bodyStyle" shadow="never">
            <div class="check-wrap">
              <div class="form-wrap">
                <el-form ref="form" label-width="160px">
                  <el-form-item label-width="0">
                    <el-alert
                      :closable="false"
                      :title="taskTitle"
                      type="warning"
                      style="line-height:20px;"
                      show-icon>
                      <span style="color:#F56C6C;padding-left: 60px;font-weight: 700;">任务量: {{uncount}}/{{total}}条</span>
                    </el-alert>
                  </el-form-item>
                  <el-form-item label-width="0" v-if="taskInfo.fmediaclass === '13'">
                    <div class="imgView"
                        style="width:100%;height:200px;"
                        v-viewer="{'inline': true,'toolbar': false,'navbar': false}">
                      <img :src="taskInfo.thumb_url_true">
                    </div>
                  </el-form-item>
                  <!-- <el-form-item label="播出媒体：" v-if="taskInfo.fmediaclass === '13'">
                    {{taskInfo.fmediaclass}}互联网
                    <span v-if="taskInfo.fmediaclass === '13'" style="display: inline-block;width: 50px;">
                      <img :src="taskInfo.tv_logo" alt="" style="width: 50px;vertical-align: top;">
                    </span>
                  </el-form-item> -->
                  <el-form-item label="任务 ID：">{{taskInfo.taskid　|| '无'}}</el-form-item>
                  <el-form-item label="发布媒体：">{{taskInfo.fmedianame　|| '无'}}</el-form-item>
                  <el-form-item label="发布时间：">{{taskInfo.fissue_date　|| '无'}}</el-form-item>
                  <el-form-item label="广告名称：">{{taskInfo.fadname　|| '无'}}</el-form-item>
                  <el-form-item label="发布页：" v-if="taskInfo.fmediaclass === '13'">
                    <a :href="taskInfo.net_original_url" target="_blank" class="page-link" :title="taskInfo.net_original_url">{{taskInfo.net_original_url}}</a>
                  </el-form-item>
                  <el-form-item label="落地页：" v-if="taskInfo.fmediaclass === '13'">
                      <a :href="taskInfo.net_target_url" target="_blank" class="page-link" :title="taskInfo.net_target_url">{{taskInfo.net_target_url}}</a>
                  </el-form-item>
                  <el-form-item  v-if="taskInfo.fmediaclass === '13' && taskInfo.ftype === 'text'">
                    <a :href="taskInfo.net_target_url" target="_blank" class="page-link" :title="taskInfo.net_target_url">{{taskInfo.fadtext}}</a>
                  </el-form-item>
                  <el-form-item label="广告品牌：">{{taskInfo.fbrand　|| '无'}}</el-form-item>
                  <el-form-item label="广告主：">{{taskInfo.fadowner　|| '无'}}</el-form-item>
                  <el-form-item label="广告类别：">{{taskInfo.adCateText1　|| '无'}}</el-form-item>
                  <el-form-item label="商业类别：">{{taskInfo.adCateText2　|| '无'}}</el-form-item>
                  <el-form-item label="是否为栏目广告：">{{taskInfo.is_long_ad === null ? '无' : taskInfo.is_long_ad === '0' ? '否' : '是' }}</el-form-item>
                  <el-form-item label="代言人：">{{taskInfo.fspokeman || '无'}}</el-form-item>
                  <el-form-item label="版本说明：">{{taskInfo.fversion || '无'}}</el-form-item>
                  <el-form-item label="录入人，录入时间：">{{taskInfo.finputman || '无'}}，{{taskInfo.finputtime || '无'}}</el-form-item>
                  <el-form-item label="审核人，审核时间：">{{taskInfo.finspectman || '无'}}，{{taskInfo.finspecttime || '无'}}</el-form-item>
                  <el-form-item label="违法程度：">
                    <el-radio v-model="taskInfo.fillegaltypecode" label="0" disabled>不违法</el-radio>
                    <el-radio v-model="taskInfo.fillegaltypecode" :label="'30' || '20' || '10'" disabled>违法</el-radio>
                  </el-form-item>
                  <div v-if="taskInfo.fillegaltypecode != '0'">
                    <el-form-item label="生产批准文号：">{{taskInfo.fmanuno || '无'}}</el-form-item>
                    <el-form-item label="广告中生产批准文号：">{{taskInfo.fadmanuno || '无'}}</el-form-item>
                    <el-form-item label="广告批准文号：">{{taskInfo.fapprno || '无'}}</el-form-item>
                    <el-form-item label="广告中广告批准文号：">{{taskInfo.fadapprno || '无'}}</el-form-item>
                    <el-form-item label="生产企业名称：">{{taskInfo.fent || '无'}}</el-form-item>
                    <el-form-item label="广告中生产企业名称：">{{taskInfo.fadent || '无'}}</el-form-item>
                    <el-form-item label="生产企业地区：">{{taskInfo.fentzone || '无'}}</el-form-item>
                    <el-form-item label="违法表现代码：">
                      <el-popover
                        placement="top-start"
                        width="200"
                        trigger="hover"
                        :content="taskInfo.fexpressions">
                        <span slot="reference">{{ taskInfo.fexpressioncodes || '无'}}</span>
                      </el-popover>
                    </el-form-item>
                    <el-form-item label="违法内容：">
                      <div v-html="taskInfo.fillegalcontent" class="illCode"></div>
                    </el-form-item>
                </div>
                </el-form>
              </div>
              <div class="subbutton" style="display: flex;justify-content: space-between;">
                <div class="btnleft">
                  <el-popover
                    placement="top"
                    width="300"
                    title="提示"
                    v-model="visibleEntry">
                    <div>
                        <p>确认将任务退回至录入人？请填写退回理由：</p>
                        <el-input style="width: 100%" v-model="entryInfo" placeholder="请填写理由"  @keyup.enter.native="submit(3)"></el-input>
                    </div>
                    <div style="text-align: right;margin-top: 15px;">
                      <el-button size="mini" type="text" @click="visibleEntry = false">取消</el-button>
                      <el-button type="primary" size="mini"  @click.native="submit(3)">确定</el-button>
                    </div>
                    <el-button type="danger"  slot="reference">退回录入</el-button>
                  </el-popover>
                  <el-popover
                    placement="top-start"
                    width="300"
                    title="提示"
                    v-model="visibleReview">
                    <div>
                        <p>确认将任务退回至审核人？请填写退回理由：</p>
                        <el-input style="width: 100%" v-model="reviewInfo" placeholder="请填写理由" @keyup.enter.native="submit(4)"></el-input>
                    </div>
                    <div style="text-align: right;margin-top: 15px;">
                      <el-button size="mini" type="text" @click="visibleReview = false">取消</el-button>
                      <el-button type="primary" size="mini"  @click.native="submit(4)">确定</el-button>
                    </div>
                    <el-button type="warning" slot="reference" style="margin-left: 10px;">退回审核</el-button>
                  </el-popover>
                </div>
                <div class="btnright">
                  <el-popover
                    placement="top"
                    width="160"
                    title="提示"
                    v-model="visiblePass">
                    <p>确认要通过吗？</p>
                    <div style="text-align: right; margin: 0">
                      <el-button size="mini" type="text" @click="visiblePass = false">取消</el-button>
                      <el-button type="primary" ref="bbbbb" size="mini"  @click="submit(2)">确定</el-button>
                    </div>
                    <el-button type="success" slot="reference" @click="show">质检通过</el-button>
                  </el-popover>
                </div>
              </div>
            </div>
          </el-card>
        </div>
      </div>
      <div style="flex-grow: 1;" class="viewContent">
        <div class="img-box box" :style="{'height': boxHeight}" element-loading-text="图片上传中">
          <el-card :body-style="bodyStyle" shadow="never">
            <div class="viewInfo" style="width: 100%;height: 100%;display: flex; justify-content: center; text-align: center;">
              <div v-if="taskInfo.ftype == 'swf'" style="width:100%;height:400px;">
                <object width="100%" id="" type="application/x-shockwave-flash" :data="taskInfo.fsourcepath">
                  <param name="wmode" value="transparent">
                </object>
              </div>
              <div v-if="taskInfo.ftype == 'flv' || taskInfo.ftype == 'mp4' || taskInfo.ftype == 'mp3'" class="video-wrap">
                <video :src="taskInfo.fsourcepath" controls id="video"></video>
                <div style="text-align: left;">播放速度：
                  <el-radio-group v-model="rate" @change="rateChange">
                    <el-radio-button :label="0.75">0.75</el-radio-button>
                    <el-radio-button :label="1">1</el-radio-button>
                    <el-radio-button :label="1.25">1.25</el-radio-button>
                    <el-radio-button :label="1.5">1.5</el-radio-button>
                    <el-radio-button :label="2.0">2.0</el-radio-button>
                  </el-radio-group>
                </div>
              </div>
              <div v-if="taskInfo.ftype == 'img'" v-viewer="{'inline': true,'toolbar': false,'navbar': false}" class="imgView">
                <img :src="taskInfo.fsourcepath">
              </div>
              <div v-if="taskInfo.ftype == 'url' || taskInfo.ftype == 'text'" class="iframe-wrapper">
                <div style="display: flex; justify-content: space-between;align-items: center;">
                  <div style="color:#F56C6C;font-size: 14px;"><i class="el-icon-bell" style="font-size: 18px;font-weight: 700;"></i> 提示：如果页面无法展示请点击新窗口打开</div>
                  <div>
                      <el-button type="text" @click="reloadAdIFrame" style="font-size: 14px;">刷新广告页</el-button>
                      <a :href="taskInfo.net_target_url" target="_blank"><el-button type="text" style="font-size: 14px;">新窗口打开</el-button></a>
                  </div>
                </div>
                <iframe id="iframe" :src="taskInfo.net_target_url" frameborder="0" sandbox="allow-scripts" ref="adIframe"></iframe>
              </div>
            </div>
            <!-- <div v-if="taskInfo.fmediaclass === '13'" class="iframe-wrapper">
              <el-button type="text" @click="reloadAdIFrame">刷新广告页</el-button>
              <a :href="taskInfo.net_target_url" target="_blank"><el-button type="text">新窗口打开</el-button></a>
                <iframe id="iframe" :src="taskInfo.net_target_url" frameborder="0" sandbox="allow-scripts" ref="adIframe"></iframe>
            </div>
            <div v-else>
              <div class="video-wrap" v-if="taskInfo.fmediaclass !== '3'">
                播放速度：<el-radio-group v-model="rate" @change="rateChange">
                  <el-radio-button :label="0.75">0.75</el-radio-button>
                  <el-radio-button :label="1">1</el-radio-button>
                  <el-radio-button :label="1.25">1.25</el-radio-button>
                  <el-radio-button :label="1.5">1.5</el-radio-button>
                  <el-radio-button :label="2.0">2.0</el-radio-button>
                </el-radio-group>
                <video id="video" controls="controls" :src="taskInfo.source_path" autoplay></video>
              </div>
              <template v-else>
                <img :src="taskInfo.paperUrl" alt="" v-if="!taskInfo.paperIsSure">
                <img :src="taskInfo.source_path" alt="" v-else>
              </template> -->
            </div>
          </el-card>
      </div>
    </div>
    <div v-else style="width: 100%; height: 100%;display: flex;justify-content: center;margin-top: 240px;">
      <h3 style="color: #606266;">暂无质检任务 <el-button type="text" @click="getTaskInfo" style="font-size: 14px;" >【请刷新重试】</el-button></h3>
    </div>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/v-viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}momentJs/moment.js"></script>
  <script src="/Application/TaskInput/View/QualityInspection/js/getTask.js?v=312"></script>
</body>
</html>