<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.css">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/TaskInput/View/QualityInspection/css/myTask.min.css?v=31">
  <title>我的质检</title>
</head>
<body>
  <div id="app" v-loading="loading">
    <!-- search start -->
    <el-form
      ref="sform"
      :model="form"
      inline
      @keyup.enter.native="getList(1)"
      label-width="90px">
      <el-form-item label="任务ID" prop="taskid">
        <el-input v-model="form.taskid" clearable></el-input>
      </el-form-item>
      <el-form-item label="广告名称" prop="fadname">
        <el-input v-model="form.fadname" clearable></el-input>
      </el-form-item>
      <el-form-item label="媒体类别">
        <el-select v-model="form.fmediaclass" clearable>
          <el-option v-for="item in mediaClassArr" :key="item.text" :label="item.text" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="媒体名称" prop="fmedianame">
        <el-input v-model="form.fmedianame" clearable></el-input>
      </el-form-item>
      <el-form-item label="广告品牌">
        <el-input v-model="form.fbrand" clearable></el-input>
      </el-form-item>
      <el-form-item label="广告主">
        <el-input v-model="form.fadowner" clearable></el-input>
      </el-form-item>
      <el-form-item label="违法类型">
        <el-select v-model="form.fillegaltypecode" clearable>
          <el-option v-for="item in illegalTypeArr" :key="item.text" :label="item.text" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <!-- <el-form-item label="任务状态" prop="task_state">
        <el-select v-model="form.task_state" clearable>
          <el-option v-for="item in taskStateArr" :key="item.text" :label="item.text" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item> -->
      <el-form-item label="质检状态" >
        <el-cascader
        :options="options"
        change-on-select
        expand-trigger="hover"
        v-model="finspectstateArr"
        clearable></el-cascader>
      </el-form-item>
      <el-form-item label="质检时间" prop="finspecttime">
        <el-date-picker
          v-model="qualityTime"
          style="width: 240px;"
          type="daterange"
          range-separator="至"
          placeholder="选择日期"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd" clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item label="发布时间" prop="fissue_date">
          <el-date-picker
          v-model="createTime"
          style="width: 240px;"
          type="daterange"
          range-separator="至"
          placeholder="选择日期"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd" clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item class="text-right">
        <el-button type="primary" @click="getList(1)">搜索</el-button>
        <el-button type="danger" @click="resetForm()">重置</el-button>
      </el-form-item>
    </el-form>
    <!-- search end -->
    <!-- table start -->
    <el-table
      :data="tableData"
      :height="tableHeight"
      stripe
      border
      ref="multipleTable"
      style="width: 100%;"
      @row-dblclick="openTaskInfo">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="任务ID" width="80" prop="taskid">
      </el-table-column>
      <el-table-column label="广告名称" prop="tadname" show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="广告类别" prop="adCateText1" show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="媒体类别" width="80" prop="fmediaclass" show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="媒体名称" prop="fmedianame" show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="发布时间" width="100" prop="fissue_date" show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="违法类型" width="80" prop="fillegaltypecode" show-overflow-tooltip>
        <template slot-scope="scope">
            <el-tag :type="filterIllegalType(scope.row.fillegaltypecode)[0].type" size="small">{{ filterIllegalType(scope.row.fillegaltypecode)[0].text }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="finputman" width="80" label="录入人" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fjudgeman" width="80" label="审核人" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="finspectman" width="80" label="质检人" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="finspectstate" width="100" label="质检状态" show-overflow-tooltip>
        <template slot-scope="scope">
          <el-popover
            v-if="scope.row.finspectstate == 3 || scope.row.finspectstate == 4"
            placement="top-start"
            width="200"
            trigger="hover"
            :content="scope.row.freason">
            <el-tag slot="reference" type="danger" size="small">{{ filterQuality(scope.row.finspectstate)[0].text }}</el-tag>
          </el-popover>
          <el-tag v-else :type="filterQuality(scope.row.finspectstate)[0].type" size="small">{{ filterQuality(scope.row.finspectstate)[0].text }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="finspecttime" width="100" label="质检时间" show-overflow-tooltip>
      </el-table-column>
    </el-table>
    <!-- table end -->
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(allcount)"
      :page-size="20"
      :current-page="Number(form.pageIndex)"
      @current-change="getList">
    </el-pagination>
    <!-- 详情弹出框 -->
    <el-dialog
      :title="taskInfo.fadname"
      :visible.sync="detailDialogVisible"
      width="950px"
      lock-scroll="false"
      @close="closeDetail"
      top="4vh">
      <div style="display: flex;" id="detailInfo">
        <div style="width: 400px;">
          <el-form label-width="160px">
            <el-form-item label-width="0" v-if="taskInfo.fmediaclass === '13'">
              <div
                class="imgView"
                v-viewer="{'inline': true,'toolbar': false,'navbar': false}">
                <img :src="taskInfo.thumb_url_true" height="100%">
              </div>
            </el-form-item>
            <el-form-item label="任务 ID：" >{{taskInfo.taskid　|| '无'}}</el-form-item>
            <el-form-item label="媒体类别：">{{ filterMediaType(taskInfo.fmediaclass)[0].text　|| '无'}}</el-form-item>
            <el-form-item label="发布媒体：">{{taskInfo.fmedianame　|| '无'}}</el-form-item>
            <el-form-item label="关键字：" v-if="taskInfo.fmediaclass === '13' && taskInfo.ftype === 'text'">
              <a :href="taskInfo.net_target_url" target="_blank" class="page-link" :title="taskInfo.net_target_url">{{taskInfo.fadtext}}</a>
            </el-form-item>
            <el-form-item label="发布时间：">{{taskInfo.fissue_date　|| '无'}}</el-form-item>
            <!-- <el-form-item label="广告名称：">{{taskInfo.fadname　|| '无'}}</el-form-item> -->
            <el-form-item label="广告品牌：">{{taskInfo.fbrand　|| '无'}}</el-form-item>
            <el-form-item label="广告主：">{{taskInfo.fadowner　|| '无'}}</el-form-item>
            <el-form-item label="广告类别：">{{taskInfo.adCateText1 || '无'}}</el-form-item>
            <el-form-item label="商业类别：">{{taskInfo.adCateText2　|| '无'}}</el-form-item>
            <el-form-item label="代言人：">{{taskInfo.fspokeman || '无'}}</el-form-item>
            <el-form-item label="版本说明：">{{taskInfo.fversion || '无'}}</el-form-item>
            <el-form-item label="是否为栏目广告：">{{taskInfo.is_long_ad === null ? '无' : taskInfo.is_long_ad === '0' ? '否' : '是' }}</el-form-item>

            <el-form-item label="录入人,录入时间：">{{taskInfo.finputman || '无'}},{{taskInfo.finputtime || '无'}}</el-form-item>
            <el-form-item label="审核人,审核时间：">{{taskInfo.finspectman || '无'}},{{taskInfo.finspecttime || '无'}}</el-form-item>
            <el-form-item label="违法程度：">
              <el-radio v-model="taskInfo.fillegaltypecode" label="0" disabled>不违法</el-radio>
              <el-radio v-model="taskInfo.fillegaltypecode" :label="'30' || '20' || '10'" disabled>违法</el-radio>
            </el-form-item>
          </el-form>
        </div>
        <div style="width: 500px;margin-left: 10px;">
          <div style="width: 100%;height: 100%;">
              <div v-if="taskInfo.ftype == 'swf'" style="width:100%;height:240px;">
                <object width="100%" type="application/x-shockwave-flash" :data="taskInfo.fsourcepath">
                  <param name="wmode" value="transparent" v-if="swfShow">
                </object>
              </div>
              <div v-if="taskInfo.ftype == 'flv' || taskInfo.ftype == 'mp4' || taskInfo.ftype == 'mp3'" class="video-wrap" style="width:100%;height:240px;">
                <video :src="taskInfo.fsourcepath" controls id="video" v-if="videoShow"></video>
              </div>
              <div v-if="taskInfo.ftype == 'img'"  v-viewer="{'inline': true,'toolbar': false,'navbar': false}" style="width:100%;height:100%;display:none;">
                <img :src="taskInfo.fsourcepath">
              </div>
              <div style="width:100%;height:100%;" v-if="taskInfo.fmediaclass === '13'">
                <iframe id="iframe" style="width: 100%;height: 93%;overflow:hidden;" :src="taskInfo.net_target_url" frameborder="0" sandbox="allow-scripts" ref="adIframe"></iframe>
                <div style="display: flex; justify-content: space-between;align-items: center;">
                  <div style="color:#F56C6C;"><i class="el-icon-bell" style="font-size: 18px;font-weight: 700;"></i>提示:如果页面无法展示请点击新窗口打开</div>
                  <div>
                      <el-button type="primary" @click="reloadAdIFrame" style="margin-right: 15px;" size="mini">刷新广告页</el-button>
                      <a :href="taskInfo.net_target_url" target="_blank"><el-button type="primary" size="mini">新窗口打开</el-button></a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div style="display: flex;border-top: 1px solid #eee;padding-top: 4px;" v-if="taskInfo.fillegaltypecode != '0'">
        <div style="flex:1" id="detailInfo">
            <el-form label-width="160px">
                <el-form-item label="违法表现代码：">
                  <el-popover
                    placement="top-start"
                    width="200"
                    trigger="hover"
                    :content="taskInfo.fexpressions">
                    <span slot="reference">{{ taskInfo.fexpressioncodes || '无'}}</span>
                  </el-popover>
                </el-form-item>
              <el-form-item label="违法内容：">
                <div v-html="taskInfo.fillegalcontent" class="illCode"></div>
              </el-form-item>
            </el-form>
        </div>
        <div style="flex:1;margin-left: 30px;" id="detailInfo">
          <el-form label-width="160px">
            <el-form-item label="生产批准文号：">{{taskInfo.fmanuno || '无'}}</el-form-item>
            <el-form-item label="广告中生产批准文号：">{{taskInfo.fadmanuno || '无'}}</el-form-item>
            <el-form-item label="广告批准文号：">{{taskInfo.fapprno || '无'}}</el-form-item>
            <el-form-item label="广告中广告批准文号：">{{taskInfo.fadapprno || '无'}}</el-form-item>
            <el-form-item label="生产企业名称：">{{taskInfo.fent || '无'}}</el-form-item>
            <el-form-item label="广告中生产企业名称：">{{taskInfo.fadent || '无'}}</el-form-item>
            <el-form-item label="生产企业地区：">{{taskInfo.fentzone || '无'}}</el-form-item>
          </el-form>
        </div>
      </div>
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/viewer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}VueViewer/v-viewer.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="/Application/TaskInput/View/QualityInspection/js/myTask.js?v=31"></script>
</body>
</html>