<template>
  <div class="filladlist main-bg"
    v-loading="loading">
    <el-form ref="sform"
      inline>
      <el-row>
        <el-col :span="24">
          <g-search></g-search>
        </el-col>
        <el-col :span="24">
          <el-form-item label="查询条件："
            label-width="90px">
            <el-cascader :options="$store.state.allArea2"
              change-on-select
              :props="$store.state.areaOptions"
              placeholder="请选择地区"
              v-model="area"
              clearable
              @change="_setArea">
            </el-cascader>
            <el-checkbox v-model="searchForm.iscontain" true-label="1" false-label="0">含下级</el-checkbox>
            <el-select class="right-margin"
              v-model="searchForm.fexamine"
              placeholder="请选择">
              <el-option label="未审批"
                value="0"></el-option>
              <el-option label="通过"
                value="10"></el-option>
              <el-option label="不通过"
                value="20"></el-option>
            </el-select>
            <el-select class="right-margin"
              v-model="searchForm.search_type"
              placeholder="请选择"
              @change="()=>{searchForm.search_val=''}">
              <el-option v-for="item in selectData"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
            <el-select class="right-margin"
              v-model="searchForm.search_val"
              placeholder="请选择"
              v-if="searchForm.search_type === '10'">
              <el-option label="全部"
                value=""></el-option>
              <el-option :label="item.label"
                :value="item.value"
                v-for="item in Mediatype"
                :key="item.value">
              </el-option>
            </el-select>
            <el-input style="width:200px;"
              class="secrch right-margin"
              type="text"
              v-if="searchForm.search_type !== '10'"
              v-model="searchForm.search_val">
            </el-input>
            <el-select v-if="searchForm.search_type === '10' && searchForm.search_val === '13'"
              v-model="searchForm.netadtype"
              placeholder="请选择"
              style="width:200px;">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value,key) in $store.state.netadtype"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label-width="0px"
            class="pull-right">
            <out-button :data="predata"
              class="right-margin"
              @initdata="initData"
              url="/Agp/Gsbchuli/filladlist" />
            <el-button type="primary"
              icon="el-icon-search"
              @click="_getList(1)">
              查询
            </el-button>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary" @click="_shenpi(10)">
              {{ buttonText }}通过
            </el-button>
            <el-button type="danger" @click="_shenpi(20)">
              {{ buttonText }}不通过
            </el-button>
          </el-form-item>
          <!-- <el-form-item>
            <el-radio-group v-model="isPass">
              <el-radio-button label="10">{{ buttonText }}通过</el-radio-button>
              <el-radio-button label="20">{{ buttonText }}不通过</el-radio-button>
            </el-radio-group>
            <el-button type="primary"
              @click="_shenpi"
              icon="el-icon-edit-outline">
              {{ buttonText }}
            </el-button>
          </el-form-item> -->
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight"
      @selection-change="_handleSelectionChange">
      <el-table-column type="selection"
        width="50">
      </el-table-column>
      <el-table-column width="80"
        label="媒体分类">
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.fmedia_class]}}
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadownername"
        width="100"
        label="广告主"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="90"
        prop="fcount"
        show-overflow-tooltip
        label="播出总条次">
      </el-table-column>
      <el-table-column width="80"
        prop="diffweek"
        show-overflow-tooltip
        label="播出周数">
      </el-table-column>
      <el-table-column label="播出时间段"
        show-overflow-tooltip
        width="120">
        <template slot-scope="scope">
          {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
        </template>
      </el-table-column>
      <el-table-column min-width="100"
        label="涉嫌违法代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="70"
        label="状态">
        <template slot-scope="scope">
          <el-tag type="info"
            v-if="scope.row.fexamine === '0'">未审核</el-tag>
          <el-tag type="success"
            v-if="scope.row.fexamine === '10'">通过</el-tag>
          <el-popover
            v-if="$store.state.userInfo.isexamine == 20 || $store.state.userInfo.isexamine == 40 || $store.state.userInfo.isexamine == 50"
            placement="top-start"
            width="200"
            trigger="hover"
            style="cursor: default;">
            <div>
              <div><span style="font-weight: 600;">退回原因：</span>
               <span v-if="scope.row.tshengj_result">{{ scope.row.tshengj_result }}</span>
               <span v-else-if="scope.row.tshij_result">{{ scope.row.tshij_result }}</span>
               <span v-else>{{ scope.row.tquj_result }}</span>
              </div>
              <div><span style="font-weight: 600;">处理状态：</span>{{ scope.row.tcheck_status == '10' ? '处理中' : '已处理' }}</div>
              <div><span style="font-weight: 600;">处理结果：</span><span>{{ scope.row.tcheck_fhreson }}</span></div>
            </div>
            <span slot="reference"><el-tag type="error" v-if="scope.row.fexamine === '20'">不通过</el-tag></span>
          </el-popover>
          <span v-else>
             <el-tag type="error" v-if="scope.row.fexamine === '20'">不通过</el-tag>
          </span>
        </template>
      </el-table-column>
      <el-table-column width="100"
        show-overflow-tooltip
        label="审核时间">
        <template slot-scope="scope">
          {{scope.row.fexaminetime? $dayjs(scope.row.fexaminetime).format('YYYY-MM-DD') : ''}}
        </template>
      </el-table-column>
      <el-table-column width="130"
        fixed="right"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            :style="scope.row.seeColor"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
      <el-table-column width="88"
        v-if="$store.state.userInfo.isexamine == 50 || $store.state.userInfo.isexamine == 40 || $store.state.userInfo.isexamine == 30"
        fixed="right"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" @click="editInfo(scope.row)">修改</el-button>
          <el-button type="text" style="color: #f56c6c;" @click="deleteInfo(scope.row.fid)" v-if="$store.state.userInfo.isexamine == 50 && scope.row.fexamine == '0'">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :data="details"
      @getList="_getList"
      :showEdit="showEdit"
      @close="closeDialog">
    </view-video>
    <el-dialog
      title="原因"
      :visible.sync="showBackDialog"
      center
      width="600px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      @close="() => backReason = ''">
      <el-input v-model="backReason" type="textarea" placeholder="请填写原因" :rows="5"></el-input>
      <span slot="footer">
        <el-button type="primary" @click="sendCheck(backReason)">提 交</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import GSearch from "../common/GSearch"
import viewVideo from "./components/viewVideo"
import outButton from '../../common/outButton'
import axios from "axios"
import qs from "qs"
export default {
  props: {
    isreceive: {
      default: false,
      type: Boolean
    }
  },
  components: {
    viewVideo,
    GSearch,
    outButton,
  },
  data() {
    return {
      showEdit: false,
      tableData: [],
      searchForm: {
        page: 1,
        search_type: "10",
        search_val: "",
        fexamine: '0',
        fregionid: '',
        netadtype: '0',
        iscontain: '1'
      },
      details: {},
      area: [],
      countAll: "0",
      loading: false,
      isPass: '10',
      selectData: [
        {
          value: "10",
          label: "媒体分类"
        },
        {
          value: "20",
          label: "广告类别"
        },
        {
          value: "30",
          label: "广告名称"
        },
        {
          value: "40",
          label: "发布媒体"
        },
        {
          value: "50",
          label: "违法原因"
        }
      ],
      checkboxValue: [],
      multipleSelection: [],
      videoUrl: "",
      backReason: "",
      showVideo: false,
      showPaifa: false,
      showShangbao: false,
      showBackDialog: false,
      bloading: false,
      predata: {},
      shenpi: '',
    };
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    deleteInfo(fid) {
      this.$confirm('确定删除该条广告信息吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Gsbchuli/filladdel', qs.stringify({fid: fid}))
        .then(res => {
          if (res.data.code === 0) {
             this.$notify({
              message: res.data.msg,
              type: 'success',
              duration: 1000,
            })
            this._getList(this.searchForm.page)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    editInfo(row) {
      this.showEdit = true
      this.details = row
      this.showVideo = true
    },
    closeDialog(){
      this.showEdit = false
      this.showVideo = false
      localStorage.removeItem('playCurrentTime')
    },
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    initData(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      if (data.search_val !== '13') {
        delete data.netadtype
      }
      this.predata = data
      return data
    },
    _getList(page) {
      this.loading = true
      this.initData(page)
      axios.post(this.$_ + '/Agp/Gsbchuli/filladlist', qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime
                ? item.fstarttime.substring(0, 10)
                : ""
              item.fendtime = item.fendtime
                ? item.fendtime.substring(0, 10)
                : ""
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _viewVideo(obj) {
      obj.seeColor = {color: '#67C23A'}
      if (obj.fview_status === "0") {
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj;
      this.showVideo = true;
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _shenpi(val) {
      this.shenpi = val
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！")
        return false
      }
      if(val === 20 && (this.$store.state.userInfo.isexamine === 20 || this.$store.state.userInfo.isexamine === 40 || this.$store.state.userInfo.isexamine === 50)){
        this.showBackDialog = true
        return false
      }
      this.sendCheck('', val)
    },
    sendCheck(selnote,val){
      let arr = []
      this.multipleSelection.forEach(item => {
        arr.push(item.fid)
      })
      let str = val == 10 ? '通过' : '不通过'
      this.$confirm(`确认${this.buttonText}${str}?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let data = {
          selfid: arr,
          selfresult: this.shenpi
        }
        if(selnote) data.selnote = selnote
        axios.post(this.$_ + '/Agp/Gsbchuli/filladexamine', qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this._getList(1)
              this.showBackDialog = false
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    _setArea(val) {
      this.searchForm.fregionid = val[val.length - 1]
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    },
    buttonText(){
      let arr = this.$store.state.menudata[this.$route.name]
      if(arr && arr.length === 2){
        return arr[1].slice(-2)
      }else{
      }
    },
  }
};
</script>

<style scoped lang="scss">
.ajlb {
  .secrch {
    width: 200px;
  }
  .checkbox {
    margin-top: 6px;
  }
}
</style>