<template>
  <div class="ginspectresult2 main-bg">
    <el-form :model="form"
      ref="sform"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="计划月份：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.fmonth"
              type="month"
              clearable
              value-format="yyyy-MM"
              placeholder="选择月">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="地区：">
            <el-select style="width:100%"
              clearable
              v-model="form.fregionid">
              <el-option v-for="item in $store.state.ccorgData.list"
                :key="item.fid"
                :label="item.fname1"
                :value="item.fid"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="复核状态：">
            <el-select style="width:100%"
              v-model="form.fstate">
              <el-option label="全部"
                value=""></el-option>
              <el-option :label="value"
                :value="key"
                v-for="(value,key) in checkState"
                :key="key"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              @click="_getList(1)"
              icon="el-icon-search">查 询</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table border
      v-loading="loading"
      :height="$store.state.GTableHeight"
      :data="tableData">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="媒体">
      </el-table-column>
      <el-table-column width="100"
        prop="fissuedate"
        label="复核日期">
      </el-table-column>
      <el-table-column width="100"
        label="状态">
        <template slot-scope="scope">
          <span class="text-yellow"
            v-if="scope.row.fstate === '0'">{{checkState[scope.row.fstate]}}</span>
          <span class="text-green"
            v-if="scope.row.fstate === '1'">{{checkState[scope.row.fstate]}}</span>
          <el-tooltip class="item"
            effect="dark"
            :content="scope.row.freason || '空'"
            placement="top"
            v-if="scope.row.fstate === '2'">
            <a href="javascript:void(0);"
              class="text-red">{{checkState[scope.row.fstate]}}</a>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column width="120"
        label="完成期限">
        <template slot-scope="scope">
          {{scope.row.fplandate}}
          <el-tooltip class="item"
            v-if="scope.row.over"
            effect="dark"
            :content="scope.row.fstate === '0'?'计划超期未完成':'计划超期完成'"
            placement="right">
            <i class="el-icon-info text-danger"></i>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column width="100"
        label="完成时间">
        <template slot-scope="scope">
          {{scope.row.ffinishdate || '未完成'}}
        </template>
      </el-table-column>
      <el-table-column width="80"
        label="操作">
        <template slot-scope="scope">
          <el-button :icon="Number(scope.row.fstate) !== 1?'el-icon-success':'el-icon-info'"
            type="text"
            @click="_check(scope.row)">{{Number(scope.row.fstate) !== 1?'检查':'详情'}}</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(allcount)"
      :page-size="20"
      :current-page="Number(form.pageIndex)"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      form: {
        pageIndex: 1,
        fstate: '',
        fregionid: '',
        pageSize: 20
      },
      mediaList: [],
      tableData: [],
      loading: false,
      allcount: '0',
      checkState: {
        '0': '待复核',
        '1': '已复核',
        '2': '重新复核',
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (from.name === 'ginspectcheck') {
        vm.form = JSON.parse(localStorage.getItem(to.name))
      }
      vm._getList(vm.form.pageIndex)
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.pageIndex = page || 1
      let data = { ...this.form }
      localStorage.setItem(this.$route.name, JSON.stringify(data))
      axios.post(this.$_ + '/Agp/Inspectiontask2/Index', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let day = this.$dayjs().format('YYYY-MM-DD')
            let times = new Date(day).getTime() + (60 * 60 * 24 * 1000)
            this.tableData = res.data.data.map(item => {
              if (item.ffinishdate) {
                item.over = (new Date(item.fplandate).getTime() < new Date(item.ffinishdate).getTime())
              } else {
                item.over = (new Date(item.fplandate).getTime() < times)
              }
              return item
            })
            this.allcount = res.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _check(obj) {
      const query = {
        fid: obj.fid,
        fissuedate: obj.fissuedate,
        fmedianame: obj.fmedianame
      }
      localStorage.setItem('listPage', this.$route.path)
      this.$router.push({ path: '/ginspectcheck', query: query })
    },
  },
}
</script>