<template>
  <div class="historicalstatistics main-bg">
    <div v-loading="loading">
      <el-form ref="sform"
        :model="form"
        label-width="90px">
        <el-row :gutter="10">
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="媒体：">
              <el-select v-model="form.fmediaid"
                style="width:100%"
                filterable
                clearable>
                <el-option v-for="item in allMediaList"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="发布日期：">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="fissuedate"
                type="daterange"
                :clearable="false"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="曾退回：">
              <el-radio-group v-model="form.fisreback">
                <el-radio label="">全部</el-radio>
                <el-radio :label="1">是</el-radio>
                <el-radio :label="0">否</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label-width="0px">
              <el-button type="primary"
                class="pull-right"
                style="margin-left:10px"
                :loading="loading"
                @click="getList(1)"
                icon="el-icon-search">查 询</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData" border stripe :height="$store.state.GTableHeight">
        <el-table-column type="index" width="50"/>
        <el-table-column label="媒体" prop="fmedianame" show-overflow-tooltip />
        <el-table-column label="日期" prop="fissuedate" width="100" />
        <el-table-column label="补充量" prop="fcountadd" width="80" />
        <el-table-column label="曾退回" width="100">
          <template slot-scope="scope">
            <el-tag size="small" :type="fisreback[scope.row.fisreback].type">{{ fisreback[scope.row.fisreback].label }}</el-tag>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(allcount)"
        :page-size="20"
        :current-page="Number(form.pageIndex)"
        @current-change="getList">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      form: {
        pageIndex: 1,
        fmediaid: '',
        fisreback: '2',
      },
      loading: false,
      tableData: [],
      allcount: 0,
      fissuedate: [],
      tvMediaList: [],
      bcMediaList: [],
      sourceTvMediaList: [],
      sourceBcMediaList: [],
      fshowstatus: {
        '0': {
          label: '待检查',
          type: 'danger'
        },
        '1': {
          label: '退回',
          type: 'warning'
        },
      },
      fisreback: {
        '0': {
          label: '否',
          type: 'danger'
        },
        '1': {
          label: '是',
          type: 'warning'
        }
      },
    }
  },
  computed: {
    allMediaList() {
      return [...this.sourceTvMediaList, ...this.sourceBcMediaList]
    }
  },
  created() {
    this.getTvMediaList()
    this.getBcMediaList()
    this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    getList(page) {this.loading = true
      if(page) this.form.pageIndex = page
      let [fissuedateS, fissuedateE] = this.fissuedate
      let data = { ...this.form, fissuedateS, fissuedateE, pageSize: 20, ...this.radio, }
      this.loading = true
      axios.post(this.$_ + '/Agp/Inspectiontask2/summaryPlanList', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {  
          this.tableData = res.data.data
          this.allcount = res.data.count
        } else {
          this.$func._error(res.data)
        }
        this.loading = false
      })
    },
    // 获取媒体列表
    getTvMediaList() {
      let data = {
        regionid: this.$store.state.userInfo.regionid,
        mclass: 'tv',
        iscontain: '1'
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tvMediaList = res.data.data
            this.sourceTvMediaList = res.data.data
          }
        })
    },
    getBcMediaList() {
      let data = {
        regionid: this.$store.state.userInfo.regionid,
        mclass: 'bc',
        iscontain: '1'
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.bcMediaList = res.data.data
            this.sourceBcMediaList = res.data.data
          }
        })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>