<template>
  <div class="jbananjian main-bg">
    <div v-loading="loading">
      <el-form :model="searchForm"
        ref="sform"
        label-width="90px">
        <el-row>
          <el-col :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="媒体名称：">
              <el-input v-model="searchForm.medianame"></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="媒体类型：">
              <el-select v-model="searchForm.mclass"
                placeholder="请选择"
                style="width:100%">
                <el-option label="全部"
                  value=""></el-option>
                <el-option v-for="item in Mediatype"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="接收地域：">
              <el-cascader style="width:100%"
                :options="$store.state.GData"
                change-on-select
                :props="$store.state.areaOptions"
                v-model="area"
                clearable>
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :sm="24"
            :md="24"
            :lg="24"
            :xl="6">
            <el-form-item class="text-right">
              <el-button type="primary"
                @click="()=>{show=true}">交 办</el-button>
              <el-button type="primary"
                icon="el-icon-search"
                @click="_getList(1)">搜 索</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData" class="new-tabel" size="small"
        :height="$store.state.GTableHeight"
        border>
        <el-table-column type="index"
          width="50">
        </el-table-column>
        <el-table-column label="媒体类型" width="100">
          <template slot-scope="scope">
            <span :class="`${$store.getters.typeMap[scope.row.fmedia_class]}-tag`">{{$store.state.allmediatype[scope.row.fmedia_class]}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="fgrant_user"
          label="交办人">
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="媒体名称">
        </el-table-column>
        <el-table-column prop="freg"
          label="接收局">
        </el-table-column>
        <el-table-column prop="fgrant_time"
          label="交办时间">
        </el-table-column>
        <el-table-column width="80px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"
              @click="_cancel(scope.row)"
              icon="el-icon-circle-close">取消</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
      <jbanjian v-if="show"
        @close="() => {show=false;_getList(1)}"></jbanjian>
    </div>
  </div>
</template>
<script>
import axios from "axios"
import qs from "qs"
import jbanjian from './components/jbanjian'
export default {
  components: {
    jbanjian
  },
  data() {
    return {
      tableData: [],
      searchForm: {
        page: 1,
        mclass: '',
        medianame: '',
      },
      countAll: "0",
      loading: false,
      show: false,
      area: [],
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.page = page || 1
      let data = {
        ...this.searchForm,
        area: this.area[this.area.length - 1] || ''
      }
      axios.post(this.$_ + "/Agp/Gjbananjian/jiaoban_list", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _cancel(obj) {
      this.$confirm("确认取消交办授权？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          axios.post(this.$_ + "/Agp/Gjbananjian/cxjiaoban", qs.stringify({ fid: obj.fid }))
            .then(res => {
              if (res.data.code === 0) {
                this._getList()
                this._getMediaList()
              } else {
                this.$func._error(res.data)
              }
            })
            .catch(() => {
              this.$func._error()
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消操作"
          })
        })
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>
