<template>
  <div class="fenzhong main-bg" v-loading="loading">
    <el-form :model="searchForm"
        ref="sform"
        inline>
          <el-form-item label="媒体名称：">
            <el-select v-model="searchForm.fmediaid" placeholder="请选择媒体" filterable @change="getList()">
              <el-option v-for="item in mediaList"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="监测日期：">
            <el-date-picker
              v-model="searchForm.fissuedate"
              @change="getList()"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="类型：">
            <el-select v-model="searchForm.fnumber" @change="getList()">
              <el-option v-for="(value, key) in type"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="text-right">
            <el-button type="primary"
              icon="el-icon-search"
              @click="getList()">查 询</el-button>
            <el-button type="primary" plain
              @click="() => dialogVisible = true"
              :disabled="!canUpload">上 传</el-button>
            <el-button type="danger"
              @click="submit()">提 交</el-button>
            <el-button type="success"
              :disabled="!canUpload"
              @click="getList('excel')"
              >导出 Excel</el-button>
          </el-form-item>
      </el-form>
      <el-table :data="tabelData" border stripe :height="$store.state.GTableHeight">
        <el-table-column
          type="index">
        </el-table-column>
        <el-table-column
          prop="ffilename"
          label="文件名">
        </el-table-column>
        <el-table-column
          prop="ffileurl"
          label="url">
          <template slot-scope="scope">
            <a :href="scope.row.ffileurl + '?attname=' + scope.row.ffilename" target="_blank">
              <el-button type="text">{{scope.row.ffileurl}}</el-button>
            </a>
          </template>
        </el-table-column>
        <el-table-column
          prop="fnumber"
          label="类型">
          <template slot-scope="scope">
            <div v-if="scope.row.fnumber">{{type[scope.row.fnumber]}}</div>
          </template>
        </el-table-column>
        <el-table-column
          label="操 作"
          width="90">
          <template slot-scope="scope">
            <el-button type="danger" @click="deleteSource(scope.row)">删 除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="Number(countAll)">
      </el-pagination>
      <el-dialog
        title="上传文件"
        :visible.sync="dialogVisible"
        width="700"
        center
        :show-close="false"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :before-close="handleClose">
        <div style="display: flex; justify-content: space-between">
          <el-form inline>
            <el-form-item label="媒体名称：">
              {{currentMedia}}
            </el-form-item>
            <el-form-item label="监测日期：">
              {{searchForm.fissuedate}}
            </el-form-item>
            <el-form-item label="类型：">
              {{type[searchForm.fnumber]}}
            </el-form-item>
          </el-form>
          <div>
            <el-button type="primary" @click="startUpload" :loading="uploading">开始上传</el-button>
          </div>
        </div>
        <div style="border: 1px solid #eee;padding: 20px;min-height: 100px;max-height: 300px;overflow-y: auto;">
          <el-upload
            class="_upload"
            ref="upload"
            multiple
            :auto-upload="false"
            :action="upOptions.up_server"
            :data="uploadOptions"
            :before-upload="beforeUpload"
            :on-progress="uploadProgress"
            :on-success="uploadSuccess"
            :on-error="uploadError">
            <el-button size="small" type="primary" :loading="uploading">选择文件</el-button>
            <div slot="tip" class="el-upload__tip text-danger" v-if="uploading">文件正在上传，请勿关闭或刷新网页与弹窗</div>
          </el-upload>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="danger" @click="handleClose">关 闭</el-button>
        </span>
      </el-dialog>
      <out-file v-if="showdownload"
        :durl="durl"
        @close="cancelDownload">
      </out-file>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import outFile from '@/components/common/outFile'
export default {
  components: {
    outFile,
  },
  data(){
    const now = this.$dayjs().format('YYYY-MM-DD')
    return {
      searchForm: {
        fnumber: '1',
        fissuedate: now,
        fmediaid: '',
      },
      tabelData: [],
      mediaList: [],
      countAll: 0,
      loading: false,
      dialogVisible: false,
      uploading: false,
      uploadOptions: {},
      upOptions: {
        up_server: ""
      },
      durl: '',
      showdownload: false,
      type:{
        '1': '一个文件对应一条广告',
        '2': '一个文件包含多条广告',
      }
    }
  },
  computed: {
    currentMedia(){
      const currentMedia = this.mediaList.find(i => i.fid === this.searchForm.fmediaid) || {}
      return currentMedia.fmedianame || ''
    },
    canUpload(){
      const {fnumber, fissuedate, fmediaid} = this.searchForm
      return (fnumber && fissuedate && fmediaid)
    },
  },
  created() {
    this.getToken()
    this.getMediaList().then(() => {
      this.getList()
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    beforeUpload(file){
      this.uploading = true
      const {fnumber, fissuedate, fmediaid} = this.searchForm
      const extArr = file.name.split('.')
      const ext = extArr.length > 1 ? extArr.pop() : ''
      this.uploadOptions.key = `${fmediaid}/${fissuedate}/${fnumber}/${file.uid}.${ext}`
    },
    uploadProgress(){
      this.uploading = true
    },
    uploadSuccess(response, file, fileList){
      const key = response.key
      let url = `${this.bucket_url}${key}`
      let fileData = [{
        ffileurl: url,
        ffilename: file.name
      }]
      this.addSource(fileData)
    },
    uploadError(){
      this.uploading = false
    },
    startUpload(){
      this.$refs.upload.submit()
    },
    getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    handleClose(){
      this.$message.warning('在当天所有文件上传完成后，请点击提交按钮')
      this.getList()
      this.$refs.upload.clearFiles()
      this.dialogVisible = false
    },
    getList(outtype){
      let data = {
        ...this.searchForm,
      }
      if(outtype) {
        this.showdownload = true
        data.outtype = outtype
      }else{
        this.loading = true
      }
      axios.post(this.$_ + '/Agp/FmediaSource/index', qs.stringify(data)).then(res => {
        if (res.data.code === 0) {
          if(outtype){
            this.durl = res.data.data
          }else{
            this.tabelData = res.data.data.list
            this.countAll = +res.data.data.count
            this.loading = false
          }
        }
      }).catch(() => {
        this.loading = false
      })
    },
    submit() {
      this.$confirm(`请确保当天所有文件上传完成后再提交，确认要提交吗？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const data = {
          fissuedate: this.searchForm.fissuedate,
          fmediaid: this.searchForm.fmediaid,
        }
        axios.post(this.$_ + '/Agp/FmediaSource/submitSourceTask', qs.stringify(data)).then(res => {
          if(res.data.code === 0){
            this.$notify.success(res.data.msg)
            this.getList()
          } else {
            this.$func._error(res.data.msg)
          }
        })
      }).catch((err) => {
         this.$func._error(err.data.msg)
      })
    },
    getMediaList(){
      this.loading = true
      let data = {
        regionid: this.$store.state.userInfo.regionid,
        mclass: '01,02,03',
        iscontain: '1'
      }
      return new Promise((resolve, reject) => {
        axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data)).then(res => {
          if (res.data.code === 0) {
            let result = res.data.data
            this.mediaList = result
            if(result.length) {
              const obj = result.find(i => i.fid === '11200000004897')
              if(obj) {
                this.searchForm.fmediaid = obj.fid
              } else {
                this.searchForm.fmediaid = result[0].fid
              }
            }
            resolve()
          }
        })
      })
    },
    addSource(ffiledata){
      let data = {
        ffiledata,
        ...this.searchForm,
      }
      axios.post(this.$_ + '/Agp/FmediaSource/addSource', qs.stringify(data)).then(res => {
        this.uploading = false
      })
    },
    deleteSource(row){
      this.$confirm(`确认删除文件${row.ffilename}？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.post(this.$_ + '/Agp/FmediaSource/delSource', qs.stringify({fid: row.fid})).then(res => {
            if(res.data.code === 0){
              this.$notify.success(res.data.msg)
              this.getList()
            }
          })
        }).catch(() => {
        })
    },
    cancelDownload() {
      this.showdownload = false
      this.durl = ''
    }
  },
}
</script>

<style lang="scss" scoped>
._upload{
  & /deep/ .el-upload-list{
    height: 268px;
    overflow: auto;
  }
}
</style>