<template>
  <div class="sbchuli main-bg">
    <g-search></g-search>
    <el-tabs v-model="activeTab"
      type="card">
      <el-tab-pane name="1">
        <span slot="label">
          {{
          `案件列表 ` + (ActiveTab[$route.name+'1'] ? `(${ActiveTab[$route.name+'1']})` : '')
          }}
        </span>
        <ajlb title="案件列表"
          :activeName="activeTab"
          v-if="activeTab ==='1'"
          @refresh="_refresh" />
      </el-tab-pane>
      <el-tab-pane name="2"
        v-if="userInfo.system_num !== 130100 && userInfo.isdistribute">
        <span slot="label">
          {{
          `案件接收列表 ` + (ActiveTab[$route.name+'2'] ? `(${ActiveTab[$route.name+'2']})` : '')
          }}
        </span>
        <ajlb :isreceive="true"
          title="案件接收列表"
          :activeName="activeTab"
          @refresh="_refresh"
          v-if="activeTab ==='2'" />
      </el-tab-pane>
      <el-tab-pane name="3"
        v-if="userInfo.system_num !== 130100 && userInfo.isdistribute">
        <span slot="label">
          {{
          `案件派发列表 ` + (ActiveTab[$route.name+'3'] ? `(${ActiveTab[$route.name+'3']})` : '')
          }}
        </span>
        <ajpflb v-if="activeTab ==='3'"
          @refresh="_refresh" />
      </el-tab-pane>
      <el-tab-pane name="4" v-if="$store.state.menudata.sjfuhe">
        <span slot="label">
          {{
          `${fregulatorlevel[userInfo.fregulatorlevel]}${$store.state.menudata.sjfuhe[1]}` + (ActiveTab[$route.name+'4'] ? `(${ActiveTab[$route.name+'4']})` : '')
          }}
        </span>
        <sjfh v-if="activeTab ==='4'"
          :isbs="true"
          @refresh="_refresh" />
      </el-tab-pane>
      <el-tab-pane name="5"
        v-if="isgj === 1 && $store.state.menudata.sjfuhe">
        <span slot="label">
          {{
          `跨地域${$store.state.menudata.sjfuhe[1]} ` + (ActiveTab[$route.name+'5'] ? `(${ActiveTab[$route.name+'5']})` : '')
          }}
        </span>
        <sjfh v-if="activeTab ==='5'"
          @refresh="_refresh" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import ajlb from './components/ajlb.vue'
import GSearch from '../common/GSearch'
import ajpflb from './components/ajpflb.vue'
import sjfh from './components/sjfh.vue'
import { mapState } from 'vuex'
export default {
  components: {
    ajlb,
    ajpflb,
    sjfh,
    GSearch
  },
  data() {
    return {
      activeTab: '1',
      tab: {}
    }
  },
  created() {
    this.activeTab = this.$route.params.activeTab || '1'
  },
  methods: {
    _refresh(val) {
      this.$store.dispatch('_getDB', `${this.$route.name}|${this.activeTab || '1'}`)
    }
  },
  computed: {
    ...mapState(['ActiveTab', 'isgj', 'fregulatorlevel', 'userInfo'])
  }
}
</script>