<template>
  <div class="shadsample main-bg">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input style="width:100%"
              v-model="searchForm.fadname"
              placeholder="请输入广告名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告主：">
            <el-input style="width:100%"
              v-model="searchForm.fadownername"
              placeholder="请输入广告主"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="品牌：">
            <el-input style="width:100%"
              v-model="searchForm.fbrand"
              placeholder="请输入品牌"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="代言人：">
            <el-input style="width:100%"
              v-model="searchForm.fspokesman"
              placeholder="请输入代言人"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.adClassOptions"
              change-on-select
              :props="$store.state.propsOptions"
              v-model="fadclasscode"
              clearable>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="发布媒介：">
            <el-select style="width:100%"
              v-model="media"
              clearable
              placeholder="请选择"
              width="99%"
              @change="_setmedia">
              <el-option v-for="item in mediaArr"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="播出日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      @sort-change="_sortChange"
      ref="multipleTable"
      :data="tableData"
      :height="$store.state.GTableHeight">
      <el-table-column type="index"
        width="55">
      </el-table-column>
      <el-table-column prop="fadname"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadclass"
        min-width="110"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        min-width="110"
        label="发布媒体"
        sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column min-width="80px"
        label="媒体类型"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.mclass]}}
        </template>
      </el-table-column>
      <el-table-column width="80px"
        prop="fillegaltype"
        label="违法类型">
      </el-table-column>
      <el-table-column label="建样时间"
        min-width="140"
        sortable="custom"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fcreatetime.substring(0,10)}}
        </template>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80px">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_issDetails(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.pageIndex)"
      @current-change="_getList">
    </el-pagination>
    <iss-dialog v-if="issDialog"
      :issample="true"
      posturl="/Agp/SampleDetails/details_view"
      :data="detailsData"
      :download="true"
      @close="_close">
    </iss-dialog>
  </div>
</template>
<script>
import issDialog from '../../monitoringdata/common/issDialog'
import { Tree } from '../../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    issDialog
  },
  data() {
    return {
      searchForm: {
        fadname: '',
        fmedianame: '',
        pageIndex: '1',
        fadownername: '',
        fbrand: '',
        fspokesman: '',
        pageIndex: ''
      },
      fadclasscode: [],
      searchDate: [],
      tableData: [],
      countAll: '0',
      issDialog: false,
      detailsData: {},
      mediaArr: [],
      media: '',
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        }
      }
    }
  },
  created() {
    this.searchDate = this.$func.getPreDate('YYYY-MM-DD')
    this.$store.commit('_bloading', true)
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData = item
      if (item.mclass !== 'net') {
        this.issDialog = true
      }
    },
    _getList(page) {
      this.$store.commit('_bloading', true)
      this.searchForm.pageIndex = page || 1
      let data = { ...this.searchForm }
      data.fstarttime = this.searchDate[0]
      data.fendtime = this.searchDate[1]
      data.fadclasscode = this.fadclasscode[this.fadclasscode.length - 1]
      axios.post(this.$_ + '/Agp/Inspectiontask2/GetAdSampleList', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _close() {
      this.issDialog = false
    },
    _setTag(val) {
      let fcode = val[val.length - 1]
      let check = this.$store.state.allAdClass.filter(item => {
        return item.fcode === fcode
      })
      let list = this.tagList.concat(check).filter(item => {
        return item.fcode !== check[0].fpcode
      })
      this.tagList = Array.from(new Set(list))
      let arr = []
      this.tagList.forEach(item => {
        if (item.fpcode !== '') {
          arr.push(item.fpcode)
        }
      })
      arr.forEach(item => {
        this.tagList = this.tagList.filter(obj => {
          return obj.fcode !== item
        })
      })
      this.fadclasscode = []
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _setmedia(val) {
      let check = this.mediaArr.filter(item => {
        return item.fid === val
      })
      this.mediaList = Array.from(new Set(this.mediaList.concat(check)))
      this.media = ''
    },
    _switchChange(val) {
      this.$store.commit('_setFJiscontain', val)
      this._getMediaList()
    },
    _getMediaList() {
      let id = this.area[this.area.length - 1]
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass, iscontain: this.searchForm.iscontain }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },

    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '1'
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '2'
          break
        case null:
          this.searchForm.pxtype = ''
          this.searchForm.pxval = '0'
          break
      }
      this._getList(1)
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType
    }
  }
}
</script>