<template>
  <div class="shadcut main-bg">
    <el-row :gutter="20"
      class="rowbox"
      ref="row">
      <el-col :span="12"
        ref="heightcol"
        class="box">
        <div v-loading="!videoUrl"
          class="loadingcover"
          @mouseover="inButton"
          @mouseout="outButton">
          <aliplayer ref="player"
            v-if="videoUrl"
            :url="videoUrl"
            :autoplay="true"
            width="100%"
            @start="_settimer"
            @stop="_cleartimer"
            @error="_cleartimer">
          </aliplayer>
          <timeline ref="timeline"
            :activetime="videoJump"
            :step="step"
            v-if="videoJump&&stepChange"
            @click="_jumpplay"
            @tmouseup="tmouseup"
            @tmousemove='tmousemove'
            @tmousedown="tmousedown">
            <div class="stepBox"
              v-if="showButton">
              <button @click="delStep"
                :class="{ active: isActive }">X1</button>
              <button @click="addStep"
                :class="{ active2: isActive2 }">X2</button>
            </div>
          </timeline>
        </div>
        <br />
        <fieldset>
          <legend>生成片段</legend>
          <el-row>
            <el-form :model="form"
              ref="form"
              label-width="80px">
              <el-row>
                <el-col :span="12">
                  <el-form-item label="视频跳转">
                    <el-time-picker style="width:99%"
                      v-model="videoJump"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      placeholder="任意时间点"
                      :picker-options="{
                        selectableRange: duringtime
                      }"
                      @focus="_cleartimer"
                      @blur="_settimer"
                      @change="_jumpplay">
                    </el-time-picker>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="截取时长">
                    {{flength}} 秒
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="开始时间">
                    <el-input v-model="resultdata.fstarttime"
                      @focus="_focus('fstart')"
                      @dblclick.native="_cutTime('start')"
                      placeholder="双击获取开始时间"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="结束时间"
                    @dblclick="_cutTime('end')">
                    <el-input v-model="resultdata.fendtime"
                      @focus="_focus('fend')"
                      @dblclick.native="_cutTime('end')"
                      placeholder="双击获取结束时间"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-col :span="24"
                class="text-center">
                <el-button type="primary"
                  @click="_createCC">生成</el-button>
              </el-col>
            </el-form>
          </el-row>
        </fieldset>
      </el-col>
      <el-col :span="12"
        class="box">
        <div class="timefieldset"
          ref="heightcol2">
          <el-row>
            <el-col :span="12">
              <el-select style="width:100%"
                v-model="form.fmediaid"
                @change="_change(0)">
                <el-option v-for="item in mediaList"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid"></el-option>
              </el-select>
            </el-col>
            <el-col :span="12">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="sdate"
                type="date"
                :clearable="false"
                value-format="yyyy-MM-dd"
                placeholder="请选择"
                :picker-options="pickerOptions"
                @change="_change(0)">
              </el-date-picker>
            </el-col>
          </el-row>
          <div class="timeChoise">
            <el-radio-group class="radiogroup"
              @change="_change"
              v-model="activeNames"
              size="mini"
              v-for="(item,index) in timeDate"
              :key="index"
              :name="index">
              <el-radio-button :label="index">{{item.start}}-{{item.end}}</el-radio-button>
            </el-radio-group>
          </div>
          <el-table v-loading="loading"
            :data="tableData"
            class="adTable"
            :height="tableHeight"
            border
            :cell-style="{padding:'5'}"
            @row-click="seekVideoTime"
            @cell-mouse-enter="mouseEnter">
            <el-table-column type="index"
              fixed
              width="55">
            </el-table-column>
            <el-table-column label="广告名称"
              fixed
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span :class="Number(scope.row.fis_error) ? 'text-red' : ''">{{scope.row.fadname}}</span>
              </template>
            </el-table-column>
            <el-table-column label="广告类别"
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span v-html="scope.row.fadclass"
                  class="noWrap"></span>
              </template>
            </el-table-column>
            <el-table-column label="开始时间"
              prop="fstarttime"></el-table-column>
            <el-table-column label="结束时间"
              prop="fendtime"></el-table-column>
            <el-table-column label="时长(s)"
              width="80"
              prop="flength"></el-table-column>
            <el-table-column label="制作人"
              width="70"
              show-overflow-tooltip
              prop="fmodifier"></el-table-column>
          </el-table>
          <el-pagination background
            layout="prev, pager, next, total"
            :total="Number(allcount2)"
            :page-size="30"
            :current-page="Number(form.pageIndex)"
            @current-change="_dataInit">
          </el-pagination>
        </div>
      </el-col>
    </el-row>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import timeline from './components/timeline'
import outFile from '../../common/outFile'
import qs from 'qs'
import axios from 'axios'
import aliplayer from '../../common/aliplayer'
export default {
  components: {
    aliplayer,
    timeline,
    outFile
  },
  data() {
    return {
      videoUrl: '',
      form: {
        pageIndex: 1,
        date: '',
        fmediaid: ''
      },
      showdownload: false,
      durl: '',
      row: {},
      tableHeight: '400',
      allcount2: '0',
      tableData: [],
      activeNames: 0,
      activeNames2: 0,
      abtime: -1000,
      loading: true,
      resultdata: {
        fendtime: '',
        fstarttime: '',
      },
      sdate: '',
      timer: null,
      Stime: 0,
      videoJump: '',
      fcousflag: '',
      moveflag: 1,
      mediaList: [],
      fid: '',
      flag: false,
      pickerOptions: {
        disabledDate: time => {
          let date = new Date()
          let month = date.getMonth() - 2
          let year = date.getFullYear()
          return time.getTime() > new Date().getTime() || time.getTime() < new Date(`${year}-${month}-1`).getTime()
        }
      },
      timeDate: [
        {
          starttime: '00:00:00',
          endtime: '03:59:59',
          start: ' 0 ',
          end: ' 4 时'
        },
        {
          starttime: '04:00:00',
          endtime: '07:59:59',
          start: ' 4 ',
          end: ' 8 时'
        },
        {
          starttime: '08:00:00',
          endtime: '11:59:59',
          start: ' 8 ',
          end: '12时'
        },
        {
          starttime: '12:00:00',
          endtime: '15:59:59',
          start: '12',
          end: '16时'
        },
        {
          starttime: '16:00:00',
          endtime: '19:59:59',
          start: '16',
          end: '20时'
        },
        {
          starttime: '20:00:00',
          endtime: '23:59:59',
          start: '20',
          end: '24时'
        },
      ],
      showButton: false,
      step: 1,
      stepChange: true,
      showButton: false,
      isActive: true,
      isActive2: false
    }
  },
  created() {
    this._getmediaList()
  },
  destroyed() {
    this._cleartimer()
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.row.$el.style.height = (document.body.clientHeight - 120) + "px"
      this.tableHeight = this.$refs.heightcol.$el.clientHeight - 140
    })
  },
  methods: {
    tmousedown() {
      this._cleartimer()
      this.$refs.player._stop()
    },
    tmousemove() {
    },
    tmouseup(mw) {
      let current = this._cutTime().substring(11)
      this.$refs.player._seek(this._timeToSecond(current) + mw)
      setTimeout(() => {
        this._settimer()
      }, 200)
    },
    _settimer() {
      this._cleartimer()
      this.$refs.player._play()
      this.timer = setInterval(() => {
        this.videoJump = this._cutTime()
      }, 200)
    },
    _cleartimer() {
      clearInterval(this.timer)
      this.timer = null
    },
    seekVideoTime(row, $event) {
      this.$refs.player._seek(this._timeToSecond(row.fstarttime))
      let startTime = Math.floor(this._timeToSecond(row.fstarttime) * 1000) + this.Stime
      this.resultdata.fstarttime = this.$dayjs(startTime).format('YYYY-MM-DD HH:mm:ss')
      let endTime = Math.floor(this._timeToSecond(row.fendtime) * 1000) + this.Stime
      this.resultdata.fendtime = this.$dayjs(endTime).format('YYYY-MM-DD HH:mm:ss')
      this.videoJump = this.sdate + ' ' + row.fstarttime
    },
    _jumpplay(val) {
      this.videoJump = val
      this.$refs.player._seek(this._timeToSecond(this.videoJump.substring(11)))
      this.$refs.player._play()
    },
    _cutTime(type) {
      let time = Math.floor((this.$refs.player._getCurrentTime()) * 1000) + this.Stime
      if (type === 'start') {
        this.resultdata.fendtime = ''
        this.resultdata.fstarttime = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      } else if (type === 'end') {
        this.resultdata.fendtime = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      } else {
        return this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      }
    },
    _timeToSecond(time) {
      let inputtime = new Date(`${this.sdate} ${time}`).getTime()
      let dstart = new Date(`${this.sdate} ${this.timeDate[this.activeNames2]['starttime']}`).getTime()
      let dend = new Date(`${this.sdate} ${this.timeDate[this.activeNames2]['endtime']}`).getTime()
      inputtime = (inputtime >= dstart) && (inputtime <= dend) ? inputtime : inputtime - 60 * 60 * 24 * 1000
      return (inputtime - this.Stime) / 1000
    },
    _createCC() {
      if (!this.resultdata.fstarttime || !this.resultdata.fendtime) {
        this.$func._error('请选择开始和结束时间！')
        return false
      }
      let data = { ...this.resultdata }
      data.fmediaid = this.form.fmediaid
      if (!this.flag) this.showdownload = true
      axios.post(this.$_ + '/Agp/Inspectiontask2/shAdCut', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (res.data.data.fileurl) {
              this.durl = res.data.data.fileurl
              this.flag = false
            }
          } else if (res.data.code === 1) {
            this.flag = true
            setTimeout(() => {
              if (this.$route.name === 'shadcut') this._createCC()
            }, 1000)
          } else {
            this.$func._error(res.data)
            this.flag = false
          }
        })
        .catch(() => {
          this.$func._error('导出出错！')
          this.flag = false
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _reset() {
      this.resultdata = {
        fendtime: '',
        fstarttime: '',
      },
        this.fid = ''
    },
    _focus(input) {
      this.fcousflag = input
    },
    _dataInit(page) {
      this.loading = true
      if (!this.sdate) {
        this._setDate()
      }
      this.form.pageIndex = page || 1
      let data = { ...this.form }
      data.pageSize = '30'
      data.fstarttime = `${this.sdate} ${this.timeDate[this.activeNames2]['starttime']}`
      data.fendtime = `${this.sdate} ${this.timeDate[this.activeNames2]['endtime']}`
      data.fmediaid = this.form.fmediaid
      axios.post(this.$_ + '/Agp/Inspectiontask2/CheckList', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (this.videoUrl !== res.data.data.live_m3u8_url) {
              this._m3u8TsartTime(res.data.data.live_m3u8_url)
              this.videoUrl = res.data.data.live_m3u8_url
            }
            this.tableData = res.data.data.fad.map(item => {
              item.fstarttime = item.fstarttime.substring(11)
              item.fendtime = item.fendtime.substring(11)
              return item
            })
            this.allcount2 = res.data.count
          }
          this.loading = false
        })
    },
    _change(val) {
      if (typeof (val) === 'number') {
        this.activeNames = val
        this.activeNames2 = val
        this._cleartimer()
        this.videoUrl = ''
        this._dataInit()
        this._reset()
      }
    },
    _setAbTime() {
      let s = new Date(this.sdate + ' ' + '00:00:00').getTime()
      let e = this.Stime
      if (this.abtime === -1000) {
        this.abtime = (s - e) / 1000
      }
    },
    _m3u8TsartTime(url) {
      let matchReg = /http.*?\.ts/gi
      axios.get(url)
        .then(res => {
          if (res.data.length > 91) {
            let a = res.data.match(matchReg)[0]
            let arr = a.split('/')
            this.Stime = Number(arr[arr.length - 1].substring(0, 10)) * 1000
            this._setAbTime()
          }
        })
    },
    _getmediaList() {
      let data = {
        regionid: '310000',
        mclass: 'tv',
        iscontain: '1'
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaList = res.data.data
            this.form.fmediaid = res.data.data[0].fid
            this._dataInit()
          }
        })
    },
    _setDate() {
      let yt = new Date().getTime() - 3600 * 24 * 1000
      this.sdate = this.$dayjs(yt).format('YYYY-MM-DD')
    },
    delStep() {
      this.stepChange = false;
      this.step = 1;
      this.isActive = true;
      this.isActive2 = false;
      setTimeout(() => {
        this.stepChange = true;
      })
    },
    addStep() {
      this.stepChange = false;
      this.isActive = false;
      this.isActive2 = true;
      setTimeout(() => {
        this.step = 2;
        this.stepChange = true;
      })
    },
    inButton() {
      this.showButton = true
    },
    outButton() {
      this.showButton = false
    },
    mouseEnter(row, column, cell, event) {
      cell.style.cursor = 'pointer'
    }
  },
  computed: {
    medianame() {
      if (this.mediaList.length) {
        let a = this.mediaList.filter(item => {
          return item.fid === this.form.fmediaid
        })
        if (a.length) {
          return a[0].fmedianame
        }
      }
    },
    flength() {
      let start = new Date(this.resultdata.fstarttime).getTime()
      let end = new Date(this.resultdata.fendtime).getTime()
      if (start && end) {
        return (end - start) / 1000
      } else {
        return '0'
      }
    },
    duringtime() {
      return this.timeDate[this.activeNames2].starttime + ' - ' + this.timeDate[this.activeNames2].endtime
    }
  }
}
</script>

<style scoped lang="scss">
.loadingcover {
  height: 450px;
}
.timefieldset {
  border: 1px solid #eee;
  padding: 10px;
}
.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rowbox {
  height: 100%;
  overflow: hidden;
}
.box {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.timeChoise {
  margin: 10px 0px;
}
.stepBox {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50px;
  background: red;
}
.stepBox button {
  border: none;
  background: rgb(60, 60, 60);
  height: 50%;
}
.active {
  color: #ffffff;
}
.active2 {
  color: #ffffff;
}
#ens {
  overflow: hidden;
}
.el-radio-button,
.el-radio-button--mini {
  width: 100%;
}
.radiogroup {
  width: 16.6%;
}
</style>
<style>
.radiogroup .el-radio-button__inner {
  width: 100%;
}
</style>