<template>
  <div class="sjfuhejg main-bg"
    v-loading="loading">
    <div>
      <el-form label-width="90px"
        ref="sform"
        :model="searchForm">
        <el-row>
          <el-col :span="24">
            <g-search></g-search>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="8"
            :xl="4">
            <el-form-item label="广告名称：">
              <el-input v-model="searchForm.ad_name"
                placeholder="请输入广告名称关键字"></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="8"
            :xl="4">
            <el-form-item label="地域名称：">
              <el-input v-model="searchForm.re_name"
                placeholder="请输入地域名称关键字"></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="8"
            :xl="4">
            <el-form-item label="复核状态：">
              <el-select v-model="searchForm.fhstatus"
                style="width:100%">
                <el-option v-for="(value,key) in ajstate"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="8"
            :xl="4">
            <el-form-item label="选择地域：">
              <el-cascader placeholder="请选择接收局"
                style="width:100%"
                :options="$store.state.allArea2"
                change-on-select
                :props="$store.state.areaOptions"
                v-model="area"
                clearable
                :disabled="Boolean(Number(searchForm.thisorg))">
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="16"
            :xl="8">
            <el-form-item label-width="10px">
              <el-switch v-model="searchForm.thisorg"
                active-value="1"
                inactive-value="0"
                active-text="仅本级">
              </el-switch>
              <el-button type="primary"
                class="pull-right"
                icon="el-icon-tickets"
                @click="_getList(1)">查询</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column type="selection"
        width="50">
      </el-table-column>
      <el-table-column width="100px"
        label="总局意见"
        v-if="$store.state.userInfo.tregionlevel === 40">
        <template slot-scope="scope">
          <el-popover
            ref="popover"
            placement="right"
            width="200"
            trigger="hover"
            :content="scope.row.tgj_result">
          </el-popover>
          <span slot="reference">
            <span
              class="jg_fresult"
              @click="_showAttach(scope.row,'30')">{{scope.row.tgj_result}}</span>
            <div v-if="scope.row.tgj_result">{{scope.row.tgj_username}}</div>
            <div v-if="scope.row.tgj_result">{{scope.row.tgj_time}}</div>
          </span>
        </template>
      </el-table-column>
      <el-table-column width="100px"
        :label="this.systemNum.indexOf(Number($store.state.userInfo.system_num)) == -1?'省局意见' : '市局意见'" v-if="$store.state.userInfo.tregionlevel >= 30">
        <template slot-scope="scope">
          <el-popover
            ref="popover"
            placement="right"
            width="200"
            trigger="hover"
            :content="scope.row.tshengj_result">
            <span slot="reference">
              <span
                class="jg_fresult"
                @click="_showAttach(scope.row,'20')">{{scope.row.tshengj_result}}</span>
              <div v-if="scope.row.tshengj_result">{{scope.row.tshengj_username}}</div>
              <div v-if="scope.row.tshengj_result">{{scope.row.tshengj_time}}</div>
            </span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="100px"
        label="市局意见" v-if="$store.state.userInfo.tregionlevel >= 20 && this.systemNum.indexOf(Number($store.state.userInfo.system_num)) == -1">
        <template slot-scope="scope">
          <el-popover
            ref="popover"
            placement="right"
            width="200"
            trigger="hover"
            :content="scope.row.tshij_result">
          <span slot="reference">
            <span
              class="jg_fresult"
              @click="_showAttach(scope.row,'10')">{{scope.row.tshij_result}}</span>
            <div v-if="scope.row.tshij_result">{{scope.row.tshij_username}}</div>
            <div v-if="scope.row.tshij_result">{{scope.row.tshij_time}}</div>
          </span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="100px"
        label="县局意见"
        v-if="$store.state.userInfo.system_num !== 340000">
        <template slot-scope="scope">
          <el-popover
            ref="popover"
            placement="right"
            width="200"
            trigger="hover"
            :content="scope.row.tquj_result">
          </el-popover>
          <span slot="reference">
            <span
              class="jg_fresult"
              @click="_showAttach(scope.row,'0')">{{scope.row.tquj_result}}</span>
              <div v-if="scope.row.tquj_result">{{scope.row.tquj_username}}</div>
              <div v-if="scope.row.tquj_result">{{scope.row.tquj_time}}</div>
          </span>
        </template>
      </el-table-column>
      <el-table-column width="80px"
        label="媒体分类">
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.fmedia_class]}}
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别">
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体">
      </el-table-column>
      <el-table-column width="110"
        label="复核结果">
        <template slot-scope="scope">
          <!-- <span v-if="scope.row.fstatus3 !== '40'">{{ajstate[scope.row.fstatus3]}}</span>
          <el-button type="text"
            @click="_recheckResult(scope.row)"
            v-else>{{ajstate[scope.row.fstatus3]}}</el-button> -->
             <span v-if="scope.row.fstatus3 !== '40'">{{ scope.row.fstatus_view }}</span>
          <el-button type="text"
            @click="_recheckResult(scope.row)"
            v-else>{{ scope.row.fstatus_view }}</el-button>
        </template>
      </el-table-column>
      <el-table-column width="110"
        label="涉嫌违法代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="100"
        show-overflow-tooltip
        v-if="$store.state.userInfo.agpDataMerge === 1 || $store.state.userInfo.agpDataMerge === 2"
        prop='customerName'
        label="所属平台">
      </el-table-column>
      <el-table-column width="130"
        fixed="right"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <tz-dialog :data="details"
      v-if="showResult"
      @close="showResult = false"></tz-dialog>
    <attach-dialog v-if="showAttach"
      :zjfjdata="zjfjdata"
      @close="showAttach = false">
    </attach-dialog>
  </div>
</template>

<script>
import GSearch from "../common/GSearch"
import attachDialog from "./components/attachDialog"
import tzDialog from './components/tzDialog'
import axios from 'axios'
import qs from 'qs'
import viewVideo from "./components/viewVideo"
export default {
  components: {
    viewVideo,
    attachDialog,
    GSearch,
    tzDialog
  },
  data() {
    return {
      formInline: {},
      tableData: [],
      searchForm: {
        page: 1,
        thisorg: '1',
        fhstatus: '0'
      },
      showResult: false,
      countAll: "0",
      loading: false,
      videoUrl: "",
      showVideo: false,
      showAttach: false,
      zjfjdata: [],
      area: [],
      details: {},
      ajstate: {
        '0': '全部',
        '10': '复核中',
        '20': '复核未批准',
        '30': '复核通过待调整',
        '40': '复核通过已调整',
        '50': '复核有异议',
      },
      systemNum: [ 110000, 120000, 310000, 500000 ],
    };
  },
  created() {
    let timer = setInterval(() => {
      if (this.$store.state.allArea2[0]['fid']) {
        this.area = Array.of(this.$store.state.allArea2[0]['fid'])
        this._getList()
        clearInterval(timer)
      }
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    _getList(page) {
      this.loading = true;
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = {
        ...this.searchForm,
        area: this.area[this.area.length - 1]
      }
      axios.post(this.$_ + "/Agp/Gckfuhe/fhjieguo_list", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.tgj_time) {
                item.tgj_time = item.tgj_time.substring(0, 10)
              }
              if (item.tshengj_time) {
                item.tshengj_time = item.tshengj_time.substring(0, 10)
              }
              if (item.tshij_time) {
                item.tshij_time = item.tshij_time.substring(0, 10)
              }
              if (item.tquj_time) {
                item.tquj_time = item.tquj_time.substring(0, 10)
              }
              return item
            });
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        });
    },
    _viewVideo(obj) {
      if (obj.fview_status === '0') {
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true
    },
    _recheckResult(obj) {
      this.details = obj
      this.showResult = true
    },
    _showAttach(obj, lv) {
      let data = {
        fupload_trelevel: lv,
        fid: obj.fid
      }
      axios.post(this.$_ + '/Agp/Gfhchuli/fjjieguo', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.zjfjdata = res.data.zjfjdata
            this.showAttach = true
          }
        })
    }
  }
};
</script>

<style scoped>
.jg_fresult{
  color: #2593FC;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.jg_fresult:hover{
  cursor: pointer;
  opacity: 0.8;
}
</style>