<template>
  <div class="sjjcahxq main-bg">
    <div v-loading="gloading">
      <el-row
        class="rowbox" :gutter="8"
        ref="row">
        <el-col :span="11"
          ref="heightcol"
          class="box">
          <div v-loading="!videoUrl"
            class="loadingcover"
            @mouseover="inButton"
            @mouseout="outButton">
            <aliplayer ref="player"
              v-if="videoUrl"
              :url="videoUrl"
              :autoplay="true"
              width="100%"
              height="280px"
              @start="_settimer"
              @stop="_cleartimer"
              @error="_cleartimer">
            </aliplayer>
            <timeline ref="timeline"
              :activetime="videoJump"
              :step="step"
              v-if="videoJump&&stepChange"
              @click="_jumpplay"
              @tmouseup="tmouseup"
              @tmousedown="tmousedown">
              <div class="stepBox"
                v-if="showButton">
                <button @click="delStep"
                  :class="{ active: isActive }">X1</button>
                <button @click="addStep"
                  :class="{ active2: isActive2 }">X2</button>
              </div>
            </timeline>
          </div>
        </el-col>
        <el-col :span="13"
          class="box">
          <div class="title-row">
            <div class="title-row-item title-back">
              <el-button type="primary"
                class="pull-left"
                @click="$router.push({path:'/sjjcah'})">返回</el-button>
            </div>
            <div class="title-row-item title-info" :title="$route.query.fissuedate + $route.query.fmedianame">
              {{$route.query.fissuedate}} {{$route.query.fmedianame}}
            </div>
            <div class="title-row-item title-finished">
              <el-button v-if="Number($route.query.check)" type="primary" @click="checkFinish">完成</el-button>
            </div>
          </div>
          <el-tabs v-model="resultdata.fresult_type" type="card">
            <el-tab-pane label="错误" name="1">
              <div class="timefieldset"
                v-loading="editLoading"
                ref="heightcol2">
                <div v-if="Number($route.query.check)" class="info-fieldset">
                  <el-row>
                    <el-form :model="form"
                      ref="form"
                      label-width="94px">
                      <el-row :gutter="8">
                        <el-col :span="12">
                          <el-form-item label="视频跳转" class="label-right">
                            <el-time-picker style="width:99%"
                              v-model="videoJump"
                              value-format="yyyy-MM-dd HH:mm:ss"
                              placeholder="任意时间点"
                              :picker-options="{selectableRange: duringtime}"
                              @focus="_cleartimer"
                              @blur="_settimer"
                              @change="_jumpplay">
                            </el-time-picker>
                          </el-form-item>
                        </el-col>
                        <el-col :span="12">
                          <el-form-item label="截取时长" class="label-right">
                            {{flength}} 秒
                            <el-button type="primary" v-if="false" :disabled="!resultdata.fstart || !resultdata.fend" class="pull-right" @click="createMaterial">剪辑</el-button>
                          </el-form-item>
                        </el-col>
                      </el-row>
                      <el-row :gutter="8">
                        <el-col :span="12">
                          <el-form-item label="开始时间" class="label-right">
                            <el-input v-model="resultdata.fstart"
                              @focus="_focus('fstart')"
                              @dblclick.native="_cutTime('start')"
                              clearable
                              @change="() => resultdata.fcreateperson = ''"
                              placeholder="双击获取开始时间"></el-input>
                          </el-form-item>
                        </el-col>
                        <el-col :span="12">
                          <el-form-item label="结束时间"
                            class="label-right"
                            @dblclick="_cutTime('end')">
                            <el-input v-model="resultdata.fend"
                              @focus="_focus('fend')"
                              @dblclick.native="_cutTime('end')"
                              @change="() => resultdata.fcreateperson = ''"
                              clearable
                              :disabled="!resultdata.fstart"
                              placeholder="双击获取结束时间"></el-input>
                          </el-form-item>
                        </el-col>
                      </el-row>
                      <el-col :span="havePermission ? 12 : 24">
                        <el-form-item>
                          <span slot="label" >
                            <el-checkbox v-model="Fadname" label="广告名称"></el-checkbox>
                          </span>
                          <el-autocomplete :disabled="disabled"
                            style="width:100%"
                            v-model="resultdata.fadname"
                            :fetch-suggestions="searchadname"
                            clearable
                            placeholder="请输入广告名称"></el-autocomplete>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="制作人" class="label-right">
                            <el-input v-model="resultdata.fcreateperson" disabled></el-input>
                        </el-form-item>
                      </el-col>
                      <el-col :span="24">
                        <el-form-item>
                          <span slot="label">
                            <el-checkbox v-model="Fadclasscode" label="广告类别"></el-checkbox>
                          </span>
                          <el-cascader placeholder="请选择广告类别"
                            :disabled="disabled"
                            style="width:100%"
                            :options="$store.state.adClassOptions"
                            change-on-select
                            clearable
                            :props="$store.state.propsOptions"
                            v-model="fadclasscode">
                          </el-cascader>
                        </el-form-item>
                      </el-col>
                      <el-col :span="24">
                        <el-form-item>
                          <div slot="label">
                            <el-checkbox v-model="Fexpressioncodes" label="涉嫌违法表现"></el-checkbox>
                          </div>
                          <el-button @click="$refs.illDialog.show()">选择违法表现</el-button>
                          <el-popover
                            style="margin-right:8px;"
                            placement="top"
                            width="160"
                            v-for="item in selectedIll"
                            :key="item.fcode"
                            trigger="hover"
                            :content="item.fexpression">
                            <el-tag type="primary" size="small" slot="reference" closable @close="deleteSelected(item)">{{item.fcode}}</el-tag>
                          </el-popover>
                        </el-form-item>
                      </el-col>
                      <el-col :span="24">
                        <el-form-item>
                          <div slot="label">
                            <el-checkbox v-model="Fothers" label="其他"></el-checkbox>
                          </div>
                          <el-input v-model="resultdata.fothers" type="textarea" :rows="2"></el-input>
                        </el-form-item>
                      </el-col>
                      <el-col :span="24"
                        class="text-center">
                        <el-button type="danger"
                          @click="_reset">重 置</el-button>
                        <el-button type="primary"
                          v-if="havePermission"
                          @click="changeResult">修 改</el-button>
                        <el-button type="primary"
                          :disabled="disabled"
                          @click="_addResult">{{havePermission ? '退 回' : '保 存'}}</el-button>
                      </el-col>
                    </el-form>
                  </el-row>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="遗漏" name="0">
              <el-form :model="form" ref="form" label-width="94px">
                <el-row :gutter="8">
                  <el-col :span="12">
                    <el-form-item label="视频跳转" class="label-right">
                      <el-time-picker style="width:99%"
                        v-model="videoJump"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        placeholder="任意时间点"
                        :picker-options="{selectableRange: duringtime}"
                        @focus="_cleartimer"
                        @blur="_settimer"
                        @change="_jumpplay">
                      </el-time-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="截取时长" class="label-right">
                      {{flength}} 秒
                      <el-button type="primary" v-if="false" :disabled="!resultdata.fstart || !resultdata.fend" class="pull-right" @click="createMaterial">剪辑</el-button>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="开始时间" class="label-right">
                      <el-input v-model="resultdata.fstart"
                        @focus="_focus('fstart')"
                        @dblclick.native="_cutTime('start')"
                        placeholder="双击获取开始时间"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="结束时间"
                       class="label-right"
                      @dblclick="_cutTime('end')">
                      <el-input v-model="resultdata.fend"
                        @focus="_focus('fend')"
                        @dblclick.native="_cutTime('end')"
                        :disabled="!resultdata.fstart"
                        placeholder="双击获取结束时间"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24"
                    class="text-center">
                    <el-button type="primary"
                      :disabled="disabled"
                      @click="_addResult">{{havePermission ? '反 馈' : '添 加'}}</el-button>
                  </el-col>
                </el-row>
              </el-form>
            </el-tab-pane>
          </el-tabs>
        </el-col>
        <el-col :span="24">
          <el-col :span="11">
            <div class="timeChoise">
              <el-radio-group class="radiogroup"
                @change="_change"
                v-model="activeNames">
                <el-radio-button :label="index"
                  v-for="(item,index) in timeDate"
                  :key="index">{{item.start}}-{{item.end}}</el-radio-button>
              </el-radio-group>
            </div>
            <el-table v-loading="loading"
              :data="tableData"
              class="adTable"
              border
              :height="tableHeight"
              :cell-style="{padding:'2'}"
              @row-click="seekVideoTime"
              @cell-mouse-enter="mouseEnter">
              <el-table-column type="index"
                fixed
                width="55">
              </el-table-column>
              <el-table-column label="广告名称" fixed
                show-overflow-tooltip>
                <template slot-scope="scope">
                  <span :class="Number(scope.row.fis_error) ? 'text-red' : ''">{{scope.row.fadname}}</span>
                </template>
              </el-table-column>
              <el-table-column label="广告类别"
                show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-html="scope.row.fadclass"
                    class="noWrap"></span>
                </template>
              </el-table-column>
              <el-table-column width="70"
                prop="fillegaltypecode"
                label="违法类型">
              </el-table-column>
              <el-table-column width="80"
                label="涉嫌违法表现">
                <template slot-scope="scope">
                  <el-popover
                    placement="top"
                    width="300"
                    trigger="hover">
                    <div v-html="scope.row.fexpressionstr"></div>
                    <span slot="reference" class="fexpressioncodes">{{scope.row.fexpressioncodes}}</span>
                  </el-popover>
                </template>
              </el-table-column>
              <el-table-column label="开始时间"
                prop="fstarttime"></el-table-column>
              <el-table-column label="结束时间"
                prop="fendtime"></el-table-column>
              <el-table-column label="时长"
                prop="flength" width="80"></el-table-column>
              <el-table-column label="操作"
                fixed="right"
                width="90">
                <template slot-scope="scope">
                  <el-button type="text"
                    v-if="!scope.row.fcreator && scope.row.fid"
                    @click="_mark(scope.row,$event)"
                    size="mini">标记</el-button>
                  <el-button type="text"
                    v-if="scope.row.fcreator && scope.row.fid"
                    @click="_edit(scope.row,$event,false)"
                    size="mini">编辑</el-button>
                  <el-button type="text"
                    v-if="scope.row.fcreator && scope.row.fid"
                    @click="_delete(scope.row,$event)"
                    size="mini">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
          <el-col :span="13">
            <el-table v-loading="loading"
              :data="checkresult"
              border
              :height="tableHeight + 32"
              :cell-style="{padding:'2'}"
              @row-click="seekVideoTime"
              @cell-mouse-enter="mouseEnter">
              <el-table-column type="index"
                width="55">
              </el-table-column>
              <el-table-column width="50"
                label="类型">
                <template slot-scope="scope">
                  {{fresult_type[scope.row.fresult_type]}}
                </template>
              </el-table-column>
              <el-table-column prop="fstart"
                width="80"
                label="开始时间"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column prop="fend"
                width="80"
                label="结束时间"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column width="80"
                label="涉嫌违法表现">
                <template slot-scope="scope">
                  <el-popover
                    placement="top"
                    width="300"
                    trigger="hover">
                    <div v-html="scope.row.fexpressionstr"></div>
                    <span slot="reference" class="fexpressioncodes">{{scope.row.fexpressioncodes}}</span>
                  </el-popover>
                </template>
              </el-table-column>
              <el-table-column
                prop="fresultStr"
                label="复核结果"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                label="处理状态"
                width="100"
                show-overflow-tooltip>
                <template slot-scope="scope">
                  {{fstatus[scope.row.fstatus]}}
                </template>
              </el-table-column>
              <el-table-column width="60"
                label="操作">
                <template slot-scope="scope">
                  <el-button type="text"
                    @click="_deleteResult(scope.row,$event)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-col>
      </el-row>
    </div>
    <el-dialog title="提醒"
      :visible.sync="dialogVisible"
      width="30%">
      <span>将该广告标记为:</span>
      <span slot="footer"
        class="dialog-footer">
        <el-button @click="dialogVisible = false"
          class="pull-left">取 消</el-button>
        <el-button type="danger"
          @click="_sendmark('1',row)">错 误</el-button>
        <el-button type="primary"
          @click="_sendmark('0',row)">正 常</el-button>
      </span>
    </el-dialog>
    <ill-dialog ref="illDialog" @node-check="nodeCheck" />
  </div>
</template>
<script>
import illDialog from './components/illDilaog'
import timeline from './components/timeline'
import qs from 'qs'
import axios from 'axios'
import aliplayer from '../../common/aliplayer'
import { mapState } from 'vuex'
export default {
  components: {
    aliplayer,
    timeline,
    illDialog
  },
  data() {
    return {
      Fadname: false,
      Fadclasscode: false,
      Fexpressioncodes: false,
      Flength: false,
      Fothers: false,
      timedemo: '0-4时',
      videoUrl: '',
      form: {
        pageIndex: 1,
      },
      tableHeight: '200',
      row: {},
      dialogVisible: false,
      editLoading: false,
      tableData: [],
      checkresult: [],
      allcount: 0,
      activeTab: '0',
      activeNames: 0,
      activeNames2: 0,
      abtime: -1000,
      loading: true,
      isFinish: true,
      gloading: false,
      sourceName: '',
      selectedIll: [],
      resultdata: {
        fstart: '',
        fend: '',
        fadowner: '',
        fmediaid: '',
        fadname: '',
        fadclasscode: '',
        fresult_type: '1',
        fcreateperson: ''
      },
      disabled: false,
      fadclasscode: [],
      timer: null,
      Stime: 0,
      videoJump: '',
      fcousflag: '',
      moveflag: 1,
      fid: '',
      timeDate: [
        {
          starttime: '00:00:00',
          endtime: '03:59:59',
          start: ' 0 ',
          end: ' 4 时'
        },
        {
          starttime: '04:00:00',
          endtime: '07:59:59',
          start: ' 4 ',
          end: ' 8 时'
        },
        {
          starttime: '08:00:00',
          endtime: '11:59:59',
          start: ' 8 ',
          end: '12时'
        },
        {
          starttime: '12:00:00',
          endtime: '15:59:59',
          start: '12',
          end: '16时'
        },
        {
          starttime: '16:00:00',
          endtime: '19:59:59',
          start: '16',
          end: '20时'
        },
        {
          starttime: '20:00:00',
          endtime: '23:59:59',
          start: '20',
          end: '24时'
        },
      ],
      step: 1,
      stepChange: true,
      showButton: false,
      isActive: true,
      isActive2: false,
      fresult_type: {
        '0': '遗漏',
        '1': '错误',
        '2': '误判',
      },
      fstatus: {
        0: "未处理",
        1: "处理中",
        2: "已处理",
        3: "处理有异议",
      },
    }
  },
  destroyed() {
    this._cleartimer()
  },
  created() {
    this._dataInit()
    this._checkResult()
  },
  mounted() {
    this.$nextTick(() => {
      this.resize()
    })
    window.onresize = () => {
      this.resize()
    }
  },
  methods: {
    resize(){
      this.$refs.row.$el.style.height = (document.body.clientHeight - 80) + "px"
      this.tableHeight = document.body.clientHeight - 460
    },
    createMaterial(){
      let data = {
        mclass: '1',
        Sstart: this.resultdata.fstart,
        Send: this.resultdata.fend,
        media_id: this.$route.query.fmediaid
      }
      // 设置生成素材文件名
      let s = this.$dayjs(new Date(this.resultdata.fstart)).format('YYYY-MM-DD HH:mm:ss')
      let e = this.$dayjs(new Date(this.resultdata.fend)).format('HH:mm:ss')
      this.sourceName = `${this.$route.query.fmedianame} ${s}-${e}`
      this.$prompt('素材名称', '提示', {
        confirmButtonText: '生 成',
        cancelButtonText: '取 消',
        closeOnClickModal: false,
        closeOnPressEscape: false,
        inputValue: this.sourceName,
        inputPattern: /^[\s\S]*.*[^\s][\s\S]*$/,
        inputErrorMessage: '素材名不能为空'
      }).then(({ value }) => {
        data.source_name = value
        data.source_type = 0
        axios.post(this.$_ + '/Api/M3u8Rec/add_source_make', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success('正在生成，请前往素材下载页面下载')
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
      }).catch(() => {})
    },
    checkFinish(){
      this.$confirm(' 确认提交检查完结果（此操作不可撤销）?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.gloading = true
        axios.post(this.$_ + '/Agp/AdDataCheck/Submit',JSON.stringify({fid: this.$route.query.fid}))
        .then(res => {
          if(res.data.code === 0){
            this.$func.success('提交成功')
            this.$router.push({path:'/sjjcah'})
          }else{
            this.$func._error(res.data)
          }
          this.gloading = false
        })
      }).catch(() => {})
    },
    tmousedown() {
      this._cleartimer()
      this.$refs.player._stop()
    },
    tmouseup(mw) {
      let current = this._cutTime().substring(11)
      this.$refs.player._seek(this._timeToSecond(current) + mw)
      setTimeout(() => {
        this._settimer()
      }, 200)
    },
    _settimer() {
      this._cleartimer()
      this.$refs.player._play()
      this.timer = setInterval(() => {
        this.videoJump = this._cutTime()
      }, 200)
    },
    // 清除定时器
    _cleartimer() {
      clearInterval(this.timer)
      this.timer = null
    },
    seekVideoTime(row, $event) {
      this.row = row
      this.$refs.player._seek(this._timeToSecond(row.fstarttime))
      let startTime = Math.floor(this._timeToSecond(row.fstarttime) * 1000) + this.Stime
      this.resultdata.fstart = this.$dayjs(startTime).format('YYYY-MM-DD HH:mm:ss')
      let endTime = Math.floor(this._timeToSecond(row.fendtime) * 1000) + this.Stime
      this.resultdata.fend = this.$dayjs(endTime).format('YYYY-MM-DD HH:mm:ss')
      this.videoJump = this.sdate + ' ' + row.fstarttime
      if(this.havePermission){
        this._edit(row, $event, true)
      }
    },
    _jumpplay(val) {
      this.videoJump = val
      this.$refs.player._seek(this._timeToSecond(this.videoJump.substring(11)))
      this.$refs.player._play()
    },
    _cutTime(type) {
      // 自选时间清除建样人
      if(type) this.resultdata.fcreateperson = ''
      let time = Math.floor((this.$refs.player._getCurrentTime()) * 1000) + this.Stime
      if (type === 'start') {
        this.resultdata.fend = ''
        this.resultdata.fstart = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      } else if (type === 'end') {
        this.resultdata.fend = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      } else {
        let jumpTime = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
        let endTime = this.$dayjs(time).format('YYYY-MM-DD') + ' ' + this.timeDate[this.activeNames2]['endtime']
        let time1 = Date.parse(jumpTime)
        let time2 = Date.parse(endTime)
        if (time1 === time2) {
          this.$message({
            showClose: true,
            message: '播放结束',
            type: 'success'
          });
          this.$refs.player._stop();
        }

        return this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      }
    },
    _timeToSecond(time) {
      let inputtime = new Date(`${this.sdate} ${time}`).getTime()
      let dstart = new Date(`${this.sdate} ${this.timeDate[this.activeNames2]['starttime']}`).getTime()
      let dend = new Date(`${this.sdate} ${this.timeDate[this.activeNames2]['endtime']}`).getTime()
      inputtime = (inputtime >= dstart) && (inputtime <= dend) ? inputtime : inputtime - 60 * 60 * 24 * 1000
      return (inputtime - this.Stime) / 1000
    },
    _defaultValue(val) {
      if (val === 'fbrand' && !this.disabled) {
        this.resultdata.fbrand = '无突出品牌'
      }
      if (val === 'fadownername' && !this.disabled) {
        this.resultdata.fadownername = '广告主不详';
        this.resultdata.fadowner = '0'
      }
    },
    initData(){
      if (!this.resultdata.fstart) {
          this.$func._error('请截取开始时间！')
          return false
        }
        if (!this.resultdata.fend) {
          this.$func._error('请截取结束时间！')
          return false
        }
      let { fstart,fend } = this.resultdata

      if(this.resultdata.fresult_type === '0'){
        return {
          fid: this.$route.query.fid,
          fresult_type: '0',
          fstart,
          fend,
        }
      }

      if (this.disabled) {
        this.$func._error('该广告无法编辑！')
        return false
      }
      let fresult = {
        flength:[+new Date(fstart)/1000, +new Date(fend)/1000,this.flength].join(','),
        fadname: this.resultdata.fadname || this.Fadname,
        fothers: this.resultdata.fothers || this.Fothers,
        fadclass: [...this.fadclasscode].pop() || this.Fadclasscode,
        fexpressioncodes: [...this.selectedIll].map(i=>i.fcode).join(',') || this.Fexpressioncodes
      }
      return {
        fid: this.$route.query.fid,
        fadname: this.row.fadname || '',
        fresult: JSON.stringify(fresult),
        fresult_type: this.resultdata.fresult_type,
        fstart,
        fend,
      }
    },
    _addResult() {
      let data = this.initData()
      if(!data){
        return false
      }
      let url = this.fid ? '/Agp/AdDataCheck/EditResult' : '/Agp/AdDataCheck/AddResult'
      this.editLoading = true
      axios.post(this.$_ + url, JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._reset()
            this._dataInit()
            this._checkResult()
          } else {
            this.$func._error(res.data)
          }
          this.editLoading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    changeResult() {
      let data = {...this.resultdata}
      data.fadclass = [...this.fadclasscode].pop()
      data.fmediaid = this.$route.query.fmediaid
      data.fexpressioncodes = [...this.selectedIll].map(i=>i.fcode).join(',') || this.Fexpressioncodes
      delete data.fadclasscode
      delete data.fadowner
      delete data.fcreateperson
      delete data.fresult_type
      let url = '/Agp/AdDataCheck/EditResult'
      this.editLoading = true
      axios.post(this.$_ + url, JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._reset()
            this._dataInit()
            this._checkResult()
          } else {
            this.$func._error(res.data)
          }
          this.editLoading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _reset() {
      this.resultdata = {
        fstart: '',
        fend: '',
        fadowner: '',
        fmediaid: '',
        fadname: '',
        fadclasscode: '',
        fresult_type: '1',
        fcreateperson: ''
      }
      this.fadclasscode = []
      this.fid = ''
      this.disabled = false
      this.Fadname = false
      this.Fadclasscode = false
      this.Fexpressioncodes = false
      this.Flength = false
      this.Fothers = false
    },
    _focus(input) {
      this.fcousflag = input
    },
    _dataInit(page) {
      this.loading = true
      this.gloading = true
      let data = {
        fid: this.$route.query.fid,
        pageSize: '5000',
        ...this.form,
      }
      data.fstarttime = `${this.sdate} ${this.timeDate[this.activeNames2]['starttime']}`
      data.fendtime = `${this.sdate} ${this.timeDate[this.activeNames2]['endtime']}`
      axios.post(this.$_ + '/Agp/AdDataCheck/Check', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (this.videoUrl !== res.data.data.live_m3u8_url) {
              this._m3u8TsartTime(res.data.data.live_m3u8_url)
              this.videoUrl = res.data.data.live_m3u8_url
            }
            this.tableData = res.data.data.fad.map(item => {
              if(item.fexpressions){
                let text = item.fexpressions.split(',')
                let code = item.fexpressioncodes.split(',')
                item.fexpressionstr = code.map((i,index) => {
                  return `<p><span class="text-danger">${i}</span>：${text[index]}</p>`
                }).join('')
              }
              item.fstarttime = item.fstarttime.substring(10)
              item.fendtime = item.fendtime.substring(10)
              item.flength = this.dealTime(item.flength)
              return item
            })
          }
          this.loading = false
          this.gloading = false
        })
    },
    _checkResult() {
      let data = {
        ...this.resultform,
        fid: this.$route.query.fid,
        pageSize: '5000',
        pageIndex: 1,
      }
      axios.post(this.$_ + '/Agp/AdDataCheck/ViewResult', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.checkresult = res.data.data.map(item => {
              if(item.fexpressions){
                let text = item.fexpressions.split('|')
                let code = item.fexpressioncodes.split(',')
                item.fexpressionstr = code.map((i,index) => {
                  return `<p><span class="text-danger">${i}</span>：${text[index]}</p>`
                }).join('')
              }
              item.fstarttime = item.fstart.substring(11)
              item.fendtime = item.fend.substring(11)
              item.fstart = item.fstart.substring(11)
              item.fend = item.fend.substring(11)
              item.index = this._getIndex(item.fstarttime)
              return item
            })
            this.allcount = res.data.count
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getIndex(time) {
      let date = new Date(`${this.$route.query.fissuedate} ${time}`)
      let hour = date.getHours()
      let index = 0
      if (hour >= 0 && hour < 4) {
        index = 0
      } else if (hour >= 4 && hour < 8) {
        index = 1
      } else if (hour >= 8 && hour < 12) {
        index = 2
      } else if (hour >= 12 && hour < 16) {
        index = 3
      } else if (hour >= 16 && hour < 20) {
        index = 4
      } else if (hour >= 20 && hour < 24) {
        index = 5
      }
      return index
    },
    _deleteResult(obj, e) {
      let data = { fid: obj.fid }
      let msg = `确认删除该复核结果?`
      this.$confirm(msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/AdDataCheck/DeleteResult', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._checkResult()
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
      e.stopPropagation()
    },
    dealTime(s){
      let time = Number(s)
      if(time <= 60){
        return `${time}''`
      }
      if(time > 60 && time <=3600){
        let m = Math.floor(time/60)
        let s = time % 60
        return `${m}'${s}''`
      }
      if(time > 3600){
        let h = Math.floor(time / 3600)
        let m = Math.floor((time % 3600) / 60)
        let s = (time % 3600) % 60
        return `${h}'${m}'${s}''`
      }
    },
    _change(val) {
      if (typeof (val) === 'number') {
        this.activeNames = val
        this.activeNames2 = val
        this._cleartimer()
        this.videoUrl = ''
        this._dataInit()
        this._reset()
      }
    },
    _setAbTime() {
      let s = new Date(this.sdate + ' ' + '00:00:00').getTime()
      let e = this.Stime
      if (this.abtime === -1000) {
        this.abtime = (s - e) / 1000
      }
    },
    // 获取m3u8开始时间
    _m3u8TsartTime(url) {
      let matchReg = /http.*?\.ts/gi
      axios.get(url)
        .then(res => {
          if (res.data.length > 91) {
            let a = res.data.match(matchReg)[0]
            let arr = a.split('/')
            this.Stime = Number(arr[arr.length - 1].substring(0, 10)) * 1000
            this._setAbTime()
          }
        })
    },
    // 广告名称模糊搜索
    searchadname(queryString, cb) {
      let data = {
        adName: queryString
      }
      axios.post(this.$_ + '/Api/Ad/searchAdByName', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb(res.data.data)
          }
        })
    },
    // 广告主模糊搜索
    searchadowner(queryString, cb) {
      let data = {
        name: queryString
      }
      axios.post(this.$_ + '/Api/Adowner/searchAdOwner', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb(res.data.data)
          }
        })
    },
    _delete(obj, e) {
      let data = {
        fid: obj.fid
      }
      this.$confirm('确认删除该广告记录?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Inspectiontask2/DelAd', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._dataInit()
            } else {
              this.$func._error(res.data)
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });
      e.stopPropagation()
    },
    getAdclass(fcode){
      let f = fcode.substr(0,2)
      let s = fcode.substr(0,4)
      return Array.from(new Set([f, s, fcode]))
    },
    _edit(obj, e, disabled) {
      if(this.havePermission) this.resultdata.fissueid = obj.fissueid
      this.fadclasscode = []
      this.fid = obj.fid
      this.fadclasscode = this.getAdclass(obj.fadclasscode)
      for (let key in this.resultdata) {
        if (key === 'fstart') {
          this.resultdata[key] = `${this.sdate} ${obj['fstarttime']}`
        } else if (key === 'fend') {
          this.resultdata[key] = `${this.sdate} ${obj['fendtime']}`
        } else {
          this.resultdata[key] = obj[key]
        }
      }
      if (obj.fadname !== '--') {
        this.resultdata.fresult_type = '1'
      } else {
        this.resultdata.fresult_type = '0'
      }
      // e.stopPropagation()
    },
    _mark(obj, e) {
      this.dialogVisible = true
      this.row = obj
      e.stopPropagation()
    },
    _sendmark(val, obj) {
      let data = {
        fid: obj.fid,
        fis_error: val
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/MarkErrAd', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._dataInit()
          } else {
            this.$func._error(res.data)
          }
          this.dialogVisible = false
          this.row = {}
        })
    },
    delStep() {
      this.stepChange = false;
      this.step = 1;
      this.isActive = true;
      this.isActive2 = false;
      setTimeout(() => {
        this.stepChange = true;
      })
    },
    addStep() {
      this.stepChange = false;
      this.isActive = false;
      this.isActive2 = true;
      setTimeout(() => {
        this.step = 2;
        this.stepChange = true;
      })
    },
    inButton() {
      this.showButton = true
    },
    outButton() {
      this.showButton = false
    },
    mouseEnter(row, column, cell, event) {
      cell.style.cursor = 'pointer'
    },
    nodeCheck(val){
      this.selectedIll = val
    },
    deleteSelected(item){
      this.selectedIll = this.selectedIll.filter(i => item.fcode !== i.fcode)
      this.$refs.illDialog.setNode(this.selectedIll)
    }
  },
  computed: {
    sdate(){
      return this.$route.query.fissuedate
    },
    flength() {
      let start = new Date(this.resultdata.fstart).getTime()
      let end = new Date(this.resultdata.fend).getTime()
      if (start && end) {
        return (end - start) / 1000
      } else {
        return '0'
      }
    },
    duringtime() {
      return this.timeDate[this.activeNames2].starttime + ' - ' + this.timeDate[this.activeNames2].endtime
    },
    havePermission(){
      return [370300, 371300, 640000, 430000].includes(this.userInfo.system_num)
    },
    ...mapState(['userInfo'])
  }
}
</script>

<style scoped lang="scss">
.sjjcahxq{
  background-color: #fff;
  padding: 5px;
  .loadingcover {
    height: 315px;
    background: #000000;
  }
  .noWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .timeChoise {
    width: 100%;
    margin:2px 0;
  }
  .stepBox {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50px;
    background: red;
  }
  .stepBox button {
    border: none;
    background: rgb(60, 60, 60);
    height: 50%;
  }
  .active {
    color: #ffffff;
  }
  .active2 {
    color: #ffffff;
  }
  #ens {
    overflow: hidden;
  }
  .rowbox {
    overflow: hidden;
  }
  .info-fieldset{
    height: 281px;
    margin: 0;
  }
  .box {
    position: relative;
    height: 340px;
    overflow: auto;
    overflow-x: hidden;
    & /deep/ .el-form-item{
      margin-bottom: 10px;
      & /deep/ .el-form-item__label{
        text-align: left;
      }
    }
  }
  .el-radio-button {
    width: calc(100% / 6);
  }
  .radiogroup {
    width: 100%;
  }
  .radiogroup /deep/ .el-radio-button__inner {
    width: 100%;
  }
  .label-right{
    & /deep/ .el-form-item__label{
      text-align: right !important;
    }
  }
  .fexpressioncodes{
    display: block;
    width: 5em;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.title-row{
  position: absolute;
  top: 4px;
  right: 4px;
  width: calc(100% - 152px);
  z-index: 1;
  display: flex;
  height: 38px;
  .title-back{
    width:56px;
  }
  .title-info{
    padding: 0 5px;
    flex-grow: 1;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: #606266;
    text-align: center;
  }
  .title-finished{
    width:56px;
  }
}
</style>