<template>
  <div class="sjjcah main-bg">
    <div v-loading="loading">
      <el-form ref="sform"
        :model="form"
        label-width="90px">
        <el-row :gutter="10">
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="媒体：">
              <el-select v-model="form.fmediaid" style="width:100%" filterable clearable>
                <el-option v-for="item in allMediaList"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="发布日期：">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="form.fissuedate"
                type="date"
                clearable
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="状态：">
              <el-select v-model="form.fdstatus" style="width: 100%">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="item in searchStatus"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="抽查人：">
              <el-input v-model="form.fchecker"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label-width="0px">
              <el-button type="primary" icon="el-icon-plus" @click="addDialog = true">开始检查</el-button>
              <el-button type="primary"
                class="pull-right"
                style="margin-left:10px"
                :loading="loading"
                @click="getList(1)"
                icon="el-icon-search">查 询</el-button>
                <out-button :type="['xls','txt','xml']"
                  json
                  :data="form"
                  url="/Agp/AdDataCheck/ExportCheckList"
                  class="pull-right right-margin" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData" border stripe :height="$store.state.GTableHeight">
        <el-table-column type="index" width="50"/>
        <el-table-column label="媒体" prop="fmedianame" show-overflow-tooltip />
        <el-table-column label="日期" prop="fissuedate" width="100" />
        <el-table-column label="状态" width="100">
          <template slot-scope="scope">
            <el-tooltip class="item" v-if="scope.row.fshowstatus === 3" effect="dark" :content="scope.row.fsummary" placement="top">
              <el-tag size="small" :type="fshowstatus[scope.row.fshowstatus].type">{{ fshowstatus[scope.row.fshowstatus].label }}</el-tag>
            </el-tooltip>
            <el-tag size="small" v-else :type="fshowstatus[scope.row.fshowstatus].type">{{ fshowstatus[scope.row.fshowstatus].label }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="创建时间" prop="fplantime" width="150" />
        <el-table-column label="抽查人" prop="fchecker" width="100" />
        <el-table-column label="抽查时间" prop="ffinishdate" width="150"/>
        <el-table-column label="操作" width="90" fixed="right">
          <template slot-scope="scope">
            <el-button type="primary" :disabled="!scope.row.fshowstatus" @click="scope.row.fshowstatus && checkEnter(scope.row)">检查</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        v-if="tableData.length"
        layout="prev, pager, next, total"
        :total="Number(allcount)"
        :page-size="20"
        :current-page="Number(form.pageIndex)"
        @current-change="getList">
      </el-pagination>
      <el-dialog
        title="检 查"
        :visible.sync="addDialog"
        width="800px"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        center
        @close="dialogClose">
        <div class="flex-box">
          <div class="flex-media">
            <el-input v-model="query" placeholder="频道搜索"></el-input>
            <div class="media-list-box">
              <div>电视</div>
              <el-radio-group v-model="addForm.fmediaid" @change="getCheckDate">
                <el-radio :label="item.fid" v-for="item in tvMediaList" :key="item.fid" style="width:100%;margin:0 0 8px;">{{item.fmedianame}}</el-radio>
              </el-radio-group>
              <div>广播</div>
              <el-radio-group v-model="addForm.fmediaid" @change="getCheckDate">
                <el-radio :label="item.fid" v-for="item in bcMediaList" :key="item.fid" style="width:100%;margin:0 0 8px;">{{item.fmedianame}}</el-radio>
              </el-radio-group>
            </div>
          </div>
          <div class="flex-calendar" v-loading="cloading">
            <Calendar
              v-if="addDialog"
              ref="Calendar"
              :futureDayHide="disabedTime"
              :markDateMore="markArr"
              :showToday="false"
              @choseDay="(val) => {addForm.fissuedate = val.split('/').join('-')}"/>
            <div style="background-color: #f5f7fa;margin:10px 30px; padding:0px 10px;">灰色背景日期为不可检查日期</div>
          </div>
        </div>
        <span slot="footer">
          <el-button type="primary" :disabled="!addForm.fmediaid || !addForm.fissuedate" @click="checkEnter(addForm)">开始检查</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import outButton from '../../common/outButton'
import Calendar from 'vue-mark-calendar'
export default {
  components: {Calendar,outButton},
  data() {
    return {
      form: {
        pageIndex: 1,
        fdstatus: '',
        fchecker: ''
      },
      loading: false,
      cloading: false,
      addDialog: false,
      allcount: 0,
      tableData: [],
      disabedTime: '',
      markArr: [],
      addForm: {
        fissuedate: '',
        fmediaid: ''
      },
      query: '',
      tvMediaList: [],
      sourceTvMediaList: [],
      bcMediaList: [],
      sourceBcMediaList: [],
      searchStatus: [
        {
          label: '待检查',
          value: '1'
        },{
          label: '正检查',
          value: '2'
        },{
          label: '已检查',
          value: '3'
        }
      ],
      fshowstatus: {
        '0': {
          label: '不可检查',
          type: 'danger'
        },
        '1': {
          label: '待检查',
          type: 'warning'
        },
        '2': {
          label: '正检查',
          type: 'primary'
        },
        '3': {
          label: '已检查',
          type: 'success'
        },
        '4': {
          label: '已传送',
          type: 'primary'
        },
      },
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      let form = JSON.parse(localStorage.getItem(vm.$route.name))
      if(from.name === 'sjjcahxq'){
        vm.form.pageIndex = form.pageIndex
      }
      vm.getList(vm.form.pageIndex)
    })
  },
  beforeRouteLeave(to, from, next){
    if(to.name !== 'sjjcahxq'){
      localStorage.removeItem(this.$route.name)
    }
    next()
  },
  computed: {
    allMediaList(){
      return [...this.sourceTvMediaList,...this.sourceBcMediaList]
    }
  },
  watch: {
    query(val){
     let sourceTvMediaList = [...this.sourceTvMediaList]
     let sourceBcMediaList = [...this.sourceBcMediaList]
     if(val !== ''){
       this.tvMediaList = sourceTvMediaList.filter(i => {
         return i.fmedianame.indexOf(val) !== -1
       })
       this.bcMediaList = sourceBcMediaList.filter(i => {
         return i.fmedianame.indexOf(val) !== -1
       })
     }else{
      this.tvMediaList = sourceTvMediaList
      this.bcMediaList = sourceBcMediaList
     }
    }
  },
  created() {
    this.getTvMediaList()
    this.getBcMediaList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (104 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    getList(page){
      this.loading = true
      if(page) this.form.pageIndex = page
      let data = { ...this.form, pageSize: 20}
      axios.post(this.$_ + '/Agp/AdDataCheck/index', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.tableData = res.data.data
          this.allcount = res.data.count
        } else {
          this.$func._error(res.data)
        }
        this.loading = false
      })
    },
    getCheckDate(fmediaid){
      let data = {
        fmediaid: fmediaid
      }
      axios.post(this.$_ + '/Agp/AdDataCheck/getAvaDateByMedia', JSON.stringify(data))
      .then(res => {
        let result = res.data.data.avatimestamp
        this.disabedTime = (+new Date(result) / 1000).toString()
        this.$refs.Calendar.ChoseMonth(res.data.data.avatimestamp,false)
      })
    },
    getInPlanList(fmediaid){
      this.cloading = true
      let data = {
        fmediaid: fmediaid
      }
      axios.post(this.$_ + '/Agp/AdDataCheck/PlanList', JSON.stringify(data))
      .then(res => {
        let arr = []
        res.data.data.forEach(i => {
          // 计划内
          if(i.fisplan === 0){
            // 不可检查
            if(i.fisavailable === 0){
              arr.push({
                date: i.fissuedate.split('-').join('/'),
                className: 'in_cant'
              })
            }else{
            // 可检查
              // 已完成
              if(i.fshowstatus === 3){
                arr.push({
                  date: i.fissuedate.split('-').join('/'),
                  className: 'plan_finished in_can'
                })
              }else{
                arr.push({
                  date: i.fissuedate.split('-').join('/'),
                  className: 'in_can'
                })
              }
            }
          }else{
          // 计划外
            // 不可检查
            if(i.fisavailable === 0){
              arr.push({
                date: i.fissuedate.split('-').join('/'),
                className: 'out_cant'
              })
            }else{
            // 可检查
              // 已完成
              if(i.fshowstatus === 3){
                arr.push({
                  date: i.fissuedate.split('-').join('/'),
                  className: 'plan_finished'
                })
              }else{
                arr.push({
                  date: i.fissuedate.split('-').join('/'),
                  className: ''
                })
              }
            }
          }
        })
        this.markArr = arr
        this.cloading = false
      })
    },
    checkEnter(obj){
      if(!obj.fmediaid || !obj.fissuedate){
        this.$func._error('请选择媒体和日期')
        return false
      }
      let data = {
        fissuedate: obj.fissuedate,
        fmediaid: obj.fmediaid
      }
      if(obj.fid){
        data.fid = obj.fid
      }
      axios.post(this.$_ + '/Agp/AdDataCheck/startCheckPlan',JSON.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          if(obj.fid){
            this.details(obj,'1')
          }else{
            let fmedianame
            [...this.sourceTvMediaList,...this.sourceBcMediaList].forEach(i => {
              if(i.fid === obj.fmediaid){
                fmedianame = i.fmedianame
              }
            })
            let ddata = {
              fid: res.data.fid,
              fmedianame,
              ...data
            }
            this.details(ddata,'1')
          }
        }else if(res.data.code === 1){
          if(obj.fid){
            this.$confirm('该任务当前不可检查，是否继续查看？', '提示', {
              confirmButtonText: '继续查看',
              cancelButtonText: '取消',
              type: 'confirm'
            }).then(() => {
              this.details(obj,'0')
            }).catch(() => {
            })
          }else{
            this.$func._error(res.data)
          }
        }else if(res.data.code === 2){
          this.$confirm('该任务正在检查中，是否继续检查？', '提示', {
            confirmButtonText: '继续检查',
            cancelButtonText: '取消',
            type: 'confirm'
          }).then(() => {
            this.details(obj,'1')
          }).catch(() => {
          })
        }
      })
    },
    details(obj,check) {
      const query = {
        fid: obj.fid,
        fissuedate: obj.fissuedate,
        fmedianame: obj.fmedianame,
        fmediaid: obj.fmediaid,
      }
      if (check) query.check = check
      localStorage.setItem(this.$route.name,JSON.stringify(this.form))
      this.$router.push({ path: '/sjjcahxq', query: query })
    },
    // 获取媒体列表
    getTvMediaList() {
      let data = {
        regionid: this.$store.state.userInfo.regionid,
        mclass: 'tv',
        iscontain: '1',
        fchecker: ''
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tvMediaList = res.data.data
            this.sourceTvMediaList = res.data.data
          }
        })
    },
    getBcMediaList() {
      let data = {
        regionid: this.$store.state.userInfo.regionid,
        mclass: 'bc',
        iscontain: '1'
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.bcMediaList = res.data.data
            this.sourceBcMediaList = res.data.data
          }
        })
    },
    dialogClose(){
      this.addDialog = false
      this.disabedTime = ''
      this.markArr = []
      this.addForm = {
        fissuedate: '',
        fmediaid: ''
      }
      this.query = ''
      this.getList(1)
    }
  },
}
</script>

<style scoped lang="scss">
.sjjcah{
  .flex-box{
    display: flex;
    .flex-media{
      width: 250px;
      border: 1px solid #dcdfe6;
      padding: 10px;
      margin-right: 10px;
      .media-list-box{
        margin-top: 8px;
        height: 319px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
    .flex-calendar{
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

</style>
<style>
/* 计划内可检查 */
.in_can{
  background-color: #409eff;
  color: #fff !important;
  border-radius: 50%;
}
/* 计划内不可检查 */
.in_cant{
  background-color: #409eff;
  color: #f56c6c !important;
  border-radius: 50%;
}
/* 计划外不可检查 */
.out_cant{
  color: #f56c6c !important;
}
/* 计划外未完成 */
.out_plan_unfinished{
  color: #e6a23c !important;
}
/* 已完成计划 */
.plan_finished{
  text-decoration: underline;
}
</style>
