<template>
  <div class="main-bg shsjjc">
    <div v-loading="loading">
      <el-form ref="sform"
        :model="form"
        label-width="90px">
        <el-row :gutter="10">
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="媒体：">
              <el-select v-model="form.fmediaid" style="width:100%" filterable clearable>
                <el-option v-for="item in allMediaList"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="发布日期：">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="fissuedate"
                type="daterange"
                :clearable="false"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="状态：">
              <el-select v-model="form.fdstatus" style="width: 100%">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="item in searchStatus"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label-width="0px">
              <el-button type="primary" icon="el-icon-plus" @click="addDialog = true">开始检查</el-button>
              <el-button type="primary"
                class="pull-right"
                style="margin-left:10px"
                :loading="loading"
                @click="getList(1)"
                icon="el-icon-search">查 询</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData" border stripe :height="$store.state.GTableHeight">
        <el-table-column type="index" width="50"/>
        <el-table-column label="媒体" prop="fmedianame" show-overflow-tooltip />
        <el-table-column label="日期" prop="fissuedate" width="100" />
        <el-table-column label="计划类型" width="90">
          <template slot-scope="scope">
            <el-tag type="warning" size="small" v-if="Number(scope.row.fisplan)">计划外</el-tag>
            <el-tag type="primary" size="small" v-else>计划内</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="状态" width="100">
          <template slot-scope="scope">
            <el-tag size="small" :type="fshowstatus[scope.row.fshowstatus].type">{{ fshowstatus[scope.row.fshowstatus].label }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="创建时间" prop="fcreatetime" width="95" show-overflow-tooltip/>
        <el-table-column label="修改时间" prop="fmodifytime" width="95" show-overflow-tooltip/>
        <el-table-column label="原因" prop="freason" show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="剪辑" width="170">
          <template slot-scope="scope">
            <el-button type="primary" plain @click="send(scope.row.fid,'剪辑')" :disabled="! (Number(scope.row.fbackstate) === 0  && Number(scope.row.fshowstatus) === 12)">{{ Number(scope.row.fbackstate) === 1 ? '剪辑中' : '发送' }}</el-button>
            <el-button type="danger" plain @click="finish(scope.row.fid,'剪辑')" :disabled="!((Number(scope.row.fbackstate) === 0 || Number(scope.row.fbackstate) === 1) && Number(scope.row.fshowstatus) === 12)">完 成</el-button>
          </template>
        </el-table-column>
        <el-table-column label="录入" width="170">
          <template slot-scope="scope">
            <el-button type="primary" plain @click="send(scope.row.fid,'录入')" :disabled="!((Number(scope.row.fbackstate) === 0 || Number(scope.row.fbackstate) === 1) && Number(scope.row.fshowstatus) === 12)">{{ Number(scope.row.fbackstate) === 3 ? '录入中' : '发送' }}</el-button>
            <el-button type="danger" plain @click="finish(scope.row.fid,'录入')" :disabled="!(Number(scope.row.fbackstate) !== 2 && Number(scope.row.fshowstatus) === 12)">完 成</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="160" fixed="right">
          <template slot-scope="scope">
            <el-button type="danger" size="mini" @click="send(scope.row.fid,'提交')" :disabled="Number(scope.row.fshowstatus) !== 12">提 交</el-button>
            <el-button type="primary" v-if="scope.row.fdstatus === '2'" :disabled="!scope.row.fshowstatus || scope.row.fdstatus === '11' || scope.row.fdstatus === '12' || scope.row.disabled" @click="scope.row.fshowstatus && checkEnter(scope.row)">查 看</el-button>
            <el-button type="primary" v-else @click="scope.row.fshowstatus && checkEnter(scope.row)">检 查</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        v-if="tableData.length"
        layout="prev, pager, next, total"
        :total="Number(allcount)"
        :page-size="20"
        :current-page="Number(form.pageIndex)"
        @current-change="getList">
      </el-pagination>
      <el-dialog
        title="检 查"
        :visible.sync="addDialog"
        width="800px"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        center
        @close="dialogClose">
        <div class="flex-box">
          <div class="flex-media">
            <el-input v-model="query" placeholder="频道搜索"></el-input>
            <div class="media-list-box">
              <div>电视</div>
              <el-radio-group v-model="addForm.fmediaid" @change="(val) => {getInPlanList(val);getCheckDate(val);}">
                <el-radio :label="item.fid" v-for="item in tvMediaList" :key="item.fid" style="width:100%;margin:0 0 8px;">{{item.fmedianame}}</el-radio>
              </el-radio-group>
              <div>广播</div>
              <el-radio-group v-model="addForm.fmediaid" @change="(val) => {getInPlanList(val);getCheckDate(val);}">
                <el-radio :label="item.fid" v-for="item in bcMediaList" :key="item.fid" style="width:100%;margin:0 0 8px;">{{item.fmedianame}}</el-radio>
              </el-radio-group>
            </div>
          </div>
          <div class="flex-calendar" v-loading="cloading">
            <Calendar
              v-if="addDialog"
              ref="Calendar"
              :showToday="false"
              :futureDayHide="disabedTime"
              :markDateMore="markArr"
              @choseDay="(val) => {addForm.fissuedate = val}"/>
            <div style="margin:0 30px;">当前选中日期：{{addForm.fissuedate || '未选择'}}</div>
            <div style="color:#f56c6c;margin:0 30px;">红色字体日期为不可检查的日期</div>
            <div style="background-color:#409eff;color:#fff;margin:0 30px;">蓝色背景日期为计划内的日期</div>
            <div style="text-decoration: underline;margin:0 30px;">带有下划线的日期为已完成检查的日期</div>
          </div>
        </div>
        <span slot="footer">
          <el-button type="primary" :disabled="!addForm.fmediaid || !addForm.fissuedate" @click="checkEnter(addForm)">开始检查</el-button>
        </span>
      </el-dialog>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import Calendar from 'vue-mark-calendar'
export default {
  components: {Calendar},
  data() {
    let now = this.$dayjs()
    let s = `${now.startOf('month').format('YYYY-MM-DD')}`
    let e = `${now.endOf('month').format('YYYY-MM-DD')}`
    let fissuedate = [s, e]
    return {
      form: {
        pageIndex: 1,
        fdstatus: '12'
      },
      loading: false,
      cloading: false,
      addDialog: false,
      allcount: 0,
      tableData: [],
      disabedTime: '',
      markArr: [],
      addForm: {
        fmediaid: '',
        fissuedate: '',
      },
      fissuedate: fissuedate,
      query: '',
      tvMediaList: [],
      sourceTvMediaList: [],
      bcMediaList: [],
      sourceBcMediaList: [],
      searchStatus: [
        {
          label: '待检查、正检查',
          value: '1'
        },{
          label: '剪辑中',
          value: '11'
        },{
          label: '已检查',
          value: '3'
        },
        {
          label: '已传送',
          value: '4'
        },
        {
          label: '已退回',
          value: '12'
        },
      ],
      fshowstatus: {
        '0': {
          label: '不可检查',
          type: 'danger'
        },
        '1': {
          label: '待检查',
          type: 'warning'
        },
        '2': {
          label: '正检查',
          type: 'warning'
        },
        '3': {
          label: '已检查',
          type: 'warning'
        },
        '4': {
          label: '已传送',
          type: 'primary'
        },
        '11': {
          label: '剪辑中',
          type: 'warning'
        },
        '12': {
          label: '已退回',
          type: 'info'
        },
      },
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      let form = JSON.parse(localStorage.getItem(vm.$route.name))
      if(from.name === 'shsjxq'){
        vm.form.pageIndex = form.pageIndex
      }
      vm.getList(vm.form.pageIndex)
    })
  },
  beforeRouteLeave(to, from, next){
    if(to.name !== 'shsjxq'){
      localStorage.removeItem(this.$route.name)
    }
    next()
  },
  computed: {
    allMediaList(){
      return [...this.sourceTvMediaList,...this.sourceBcMediaList]
    }
  },
  watch: {
    query(val){
     let sourceTvMediaList = [...this.sourceTvMediaList]
     let sourceBcMediaList = [...this.sourceBcMediaList]
     if(val !== ''){
       this.tvMediaList = sourceTvMediaList.filter(i => {
         return i.fmedianame.indexOf(val) !== -1
       })
       this.bcMediaList = sourceBcMediaList.filter(i => {
         return i.fmedianame.indexOf(val) !== -1
       })
     }else{
      this.tvMediaList = sourceTvMediaList
      this.bcMediaList = sourceBcMediaList
     }
    }
  },
  created() {
    this.getTvMediaList()
    this.getBcMediaList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    getList(page){
      this.loading = true
      if(page) this.form.pageIndex = page
      let [fissuedateS, fissuedateE] = this.fissuedate
      let data = { ...this.form, fissuedateS, fissuedateE, pageSize: 20}
      axios.post(this.$_ + '/Agp/Inspectiontask2/PlanList', JSON.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.tableData = res.data.data
          this.allcount = res.data.count
        } else {
          this.$func._error(res.data)
        }
        this.loading = false
      })
    },
    getCheckDate(fmediaid){
      let data = {
        fmediaid: fmediaid
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/getAvaDateByMedia', JSON.stringify(data))
      .then(res => {
        let result = res.data.data.avatimestamp
        this.disabedTime = (+new Date(result) / 1000).toString()
      })
    },
    getInPlanList(fmediaid){
      this.cloading = true
      let data = {
        fmediaid: fmediaid
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/PlanList', JSON.stringify(data))
      .then(res => {
        let arr = []
        res.data.data.forEach(i => {
          // 计划内
          if(i.fisplan === 0){
            // 不可检查
            if(i.fisavailable === 0){
              arr.push({
                date: i.fissuedate,
                className: 'in_cant'
              })
            }else{
            // 可检查
              // 已完成
              if(i.fshowstatus === 3){
                arr.push({
                  date: i.fissuedate,
                  className: 'plan_finished in_can'
                })
              }else{
                arr.push({
                  date: i.fissuedate,
                  className: 'in_can'
                })
              }
            }
          }else{
          // 计划外
            // 不可检查
            if(i.fisavailable === 0){
              arr.push({
                date: i.fissuedate,
                className: 'out_cant'
              })
            }else{
            // 可检查
              // 已完成
              if(i.fshowstatus === 3){
                arr.push({
                  date: i.fissuedate,
                  className: 'plan_finished'
                })
              }
            }
          }
        })
        this.markArr = arr
        this.cloading = false
      })
    },
    checkEnter(obj){
      this.$set(obj, 'disabled', true)
      if(!obj.fmediaid || !obj.fissuedate){
        this.$func._error('请选择媒体和日期')
        return false
      }
      let data = {
        fissuedate: obj.fissuedate,
        fmediaid: obj.fmediaid
      }
      if(obj.fid){
        data.fid = obj.fid
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/startCheckPlan',JSON.stringify(data))
      .then(res => {
        this.$set(obj, 'disabled', false)
        if(res.data.code === 0){
          if(obj.fid){
            this.details(obj,'1')
          }else{
            let fmedianame
            [...this.sourceTvMediaList,...this.sourceBcMediaList].forEach(i => {
              if(i.fid === obj.fmediaid){
                fmedianame = i.fmedianame
              }
            })
            let ddata = {
              fmedianame,
              ...data
            }
            this.details(ddata,'1')
          }
        }else if(res.data.code === 1){
          if(obj.fid){
            this.$confirm('该计划当前不可检查，是否继续查看？', '提示', {
              confirmButtonText: '继续查看',
              cancelButtonText: '取消',
              type: 'confirm'
            }).then(() => {
              this.details(obj,'0')
            }).catch(() => {
            })
          }else{
            this.$func._error(res.data)
          }
        }else if(res.data.code === 2){
          this.$confirm('该计划正在检查中，是否继续检查？', '提示', {
            confirmButtonText: '继续检查',
            cancelButtonText: '取消',
            type: 'confirm'
          }).then(() => {
            this.details(obj,'1')
          }).catch(() => {
          })
        }
      })
    },
    details(obj,check) {
      const query = {
        fid: obj.fid,
        fissuedate: obj.fissuedate,
        fmedianame: obj.fmedianame,
        fmediaid: obj.fmediaid,
      }
      if (check) query.check = check
      localStorage.setItem(this.$route.name,JSON.stringify(this.form))
      this.$router.push({ path: '/shsjxq', query: query })
    },
    // 获取媒体列表
    getTvMediaList() {
      let data = {
        regionid: this.$store.state.userInfo.regionid,
        mclass: 'tv',
        iscontain: '1'
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tvMediaList = res.data.data
            this.sourceTvMediaList = res.data.data
          }
        })
    },
    getBcMediaList() {
      let data = {
        regionid: this.$store.state.userInfo.regionid,
        mclass: 'bc',
        iscontain: '1'
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.bcMediaList = res.data.data
            this.sourceBcMediaList = res.data.data
          }
        })
    },
    dialogClose(){
      this.addDialog = false
      this.disabedTime = ''
      this.markArr = []
      this.addForm = {
        fmediaid: '',
        fissuedate: '',
      }
      this.query = ''
    },
    // 发送剪辑录入
    send(id,title) {
      let message = title != '提交' ?  `确认要发送${title}吗？` :  `确认要${title}吗？`
      this.$confirm( message, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let url = title ===  '剪辑' ? '/Agp/Inspectiontask2/sendCut' : title ===  '录入' ? '/Agp/Inspectiontask2/sendInput' : '/Agp/Inspectiontask2/reSubmitPlan'
        axios.post(this.$_ + url, JSON.stringify({ fid: id }))
        .then(res => {
          if (res.data.code === 0) {
            this.$message({
              type: 'success',
              message: res.data.msg
            });
            this.getList()
          } else {
            this.$func._error(res.data.msg)
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消操作'
        })
      })
    },
    finish(id,title) {
      this.$confirm('确认要完成' + title + '吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let url = title ===  '剪辑' ? '/Agp/Inspectiontask2/finishCut' : '/Agp/Inspectiontask2/finishInput'
        axios.post(this.$_ + url, JSON.stringify({ fid: id }))
        .then(res => {
          if (res.data.code === 0) {
            this.$message({
              type: 'success',
              message: res.data.msg
            });
            this.getList()
          } else {
            this.$func._error(res.data.msg)
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消完成'
        })
      })
    },
  },
}
</script>

<style scoped lang="scss">
.shsjjc{
  & /deep/ .wh_container{
    & /deep/ .wh_want_dayhide{
      color: #f56c6c !important;
    }
    & /deep/ .wh_chose_day{
      border: 1px solid #f56c6c;
    }
  }
  & /deep/ .el-dialog__header{
    padding: 10px 30px !important;
  }
  & /deep/ .el-dialog--center .el-dialog__body{
    padding: 0 30px !important;
  }
  & /deep/ .el-dialog__footer{
    padding: 10px 30px !important;
  }
  .flex-box{
    display: flex;
    .flex-media{
      width: 250px;
      border: 1px solid #dcdfe6;
      padding: 10px;
      margin-right: 10px;
      .media-list-box{
        margin-top: 8px;
        height: 319px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
    .flex-calendar{
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

</style>
<style>
/* 计划内可检查 */
.in_can .wh_item_date_text{
  background-color: #409eff;
  color: #fff !important;
  border-radius: 50%;
}
/* 计划内不可检查 */
.in_cant .wh_item_date_text{
  background-color: #409eff;
  color: #f56c6c !important;
  border-radius: 50%;
}
/* 计划外不可检查 */
.out_cant{
  color: #f56c6c !important;
}
/* 计划外未完成 */
.out_plan_unfinished{
  color: #e6a23c !important;
}
/* 已完成计划 */
.plan_finished .wh_item_date_text{
  text-decoration: underline;
}
</style>
