body {
  background-color: #fff;
}

.text-center {
  text-align: center;
}

.loadingcover {
  height: 450px;
}

.timefieldset {
  height: 100%;
  border: 1px solid #eee;
  overflow: auto;
  padding: 10px;
}

.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time-line-warp {
  height: 55px;
  background-color: #21252B;
  position: relative;
  overflow: hidden;
}

.time-line-warp .center-line {
  position: absolute;
  height: 30px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eb4c4c;
  z-index: 9;
}

.time-line-warp .time-line-ul {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  height: 55px;
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
}

.time-line-warp .time-line-ul .time-line-li {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  outline: none;
  border-bottom: 2px solid #ccc;
  background-color: #545b68;
}

.time-line-warp .time-line-ul .time-line-li.active {
  background-color: #eb4c4c;
}

.time-line-warp .time-line-ul .time-line-li:hover {
  cursor: pointer;
  background-color: #ccc;
}

.time-line-warp .time-line-ul .time-line-li::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 6px;
  background-color: #ccc;
}

.time-line-warp .time-line-ul .time-line-li.active .time-item-span {
  position: relative;
}

.time-line-warp .time-line-ul .time-line-li.active .time-item-span::after {
  content: attr(alt);
  position: absolute;
  bottom: 0px;
  color: #ccc;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  z-index: 9999;
}

.time-line-warp .time-line-ul .time-line-li.heightItem .time-item-span {
  position: relative;
}

.time-line-warp .time-line-ul .time-line-li.heightItem .time-item-span::after {
  background-color: rgb(235, 76, 76);
  content: attr(alt);
  position: absolute;
  bottom: 0;
  color: #ccc;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}