<template>
  <div class="common-report">
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="报告名称：">
            <el-input v-model="form.pnname"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="报告类型：">
            <el-select style="width:100%"
              placeholder="全部"
              clearable
              v-model="form.pntype">
              <el-option v-for="(value,key) in listReportType"
                :key="key"
                :label="value"
                :value="key"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <!-- <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="文件类型：">
            <el-select style="width:100%"
              v-model="form.pnfiletype">
              <el-option v-for="item in pnfiletype"
                :key="item.value"
                :label="item.label"
                :value="item.value"></el-option>
            </el-select>
          </el-form-item>
        </el-col> -->
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="报告日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.pnendtime"
              type="daterange"
              value-format="yyyy-MM-dd"
              placeholder="选择日期"
              :picker-options="pickerOptions"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              clearable>
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
            <el-button type="success"
              class="pull-right"
              style="margin-left:10px"
              @click="uploadReportShow = true"
              icon="el-icon-upload2"
              v-if="$store.state.userInfo.isexamine_report == '2' || $store.state.userInfo.isexamine_report == '3'"
              >上传报告</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table v-loading="loading"
      :height="$store.state.GTableHeight"
      border
      :data="tableData"
      style="width: 100%">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column
        label="报告名称"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.pnname }}
          <!-- <el-tag type="primary" size="mini" v-if="scope.row.pnfocus == 0">手动</el-tag>
          <el-tag type="success" size="mini" v-if="scope.row.pnfocus == 1">自动</el-tag> -->
        </template>
      </el-table-column>
      <el-table-column width="130px"
        label="报告类型">
        <template slot-scope="scope">
          {{$store.state.pntype2[scope.row.pntype]}}
        </template>
      </el-table-column>
      <!-- <el-table-column width="130px"
        label="文件类型">
        <template slot-scope="scope">
          {{$store.state.pnfiletype2[scope.row.pnfiletype]['label']}}
        </template>
      </el-table-column> -->
      <el-table-column width="130px"
        label="报告日期"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.pncreatetime  }}
        </template>
      </el-table-column>
      <el-table-column width="160px"
        label="操作">
        <template slot-scope="scope">
          <a :href="scope.row.pnurl"
            target="_blank">
            <el-button icon="el-icon-download"
              type="text">下载</el-button>
          </a>
          <el-button icon="el-icon-edit" type="text"
          @click="edit(scope.row)"
          v-if="$store.state.userInfo.isexamine_report == '1' || $store.state.userInfo.isexamine_report == '3'">修改</el-button>
          <!-- <el-button icon="el-icon-circle-check" type="text"
            style="color: #E6A23C; margin-left:0px;"
            v-if="scope.row.pnstatus == '0'"
            @click="sureReviewed()">审核</el-button> -->
          <el-button icon="el-icon-delete" type="text" style="color: #F56C6C;margin-left:0px;" @click="_deleteReport(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <upload-report-new v-if="uploadReportShow"
      @close="close"
      @_getList="_getList(1)"
      :paramData="paramData"
      :pnid="pnid"
      :pntype="pntype" />
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import uploadReportNew from './uploadReportNew'
export default {
  components: { uploadReportNew },
  props: {
    url: {
      default: '',
      type: String
    },
    durl: {
      default: '',
      type: String
    },
    pntype: {
      default: () => {},
      type: Object
    }
  },
  data() {
    return {
      pnid: '',
      paramData: {},
      form: {
        page: 1,
        pntype: '',
        pnendtime: []
      },
      loading: false,
      tableData: [],
      countAll: '0',
      downloadUrl: '',
      pickerOptions: {
        disabledDate: time => {
          return time.getTime() > new Date().getTime()
        }
      },
      pnfiletype: [
        {
          label: 'WORD',
          value: '10',
          img: './static/img/word.jpg'
        },
        {
          label: 'XLS',
          value: '30',
          img: './static/img/word.jpg'
        },
      ],
      uploadReportShow: false,
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', this.$parent.$refs.create ? (102 + 38 + this.$refs.sform.$el.clientHeight) : (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + this.url, qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.pncreatetime = item.pncreatetime ? item.pncreatetime.substring(0, 10) : item.pncreatetime
              // if (item.pnurl.indexOf('?') === -1) {
              //   item.pnurl = item.pnurl + '?attname=' + item.pnname
              // }
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.tableData = []
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    edit(row) {
      this.pnid = row.pnid
      this.paramData = row
      this.uploadReportShow = true
    },
    _deleteReport(obj) {
      this.$confirm(`确认删除 ${obj.pnname}？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let data = {}
        data.pnid = obj.pnid
        axios.post(this.$_ + this.durl, qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this._getList(1)
              this.$message.success(res.data.msg)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
    },
    close() {
      this.uploadReportShow = false
      this.pnid = ''
    },
    sureReviewed() {
      this.$confirm('是否提交审核?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // axios.post(this.$_ + this.durl, qs.stringify(data))
          // .then(res => {
          //   if (res.data.code === 0) {
          //     this.$message.success(res.data.msg)
          //   } else {
          //     this.$func._error(res.data)
          //   }
          // })
          // .catch(() => {
          //   this.$func._error()
          // })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
    },
  },
  computed:{
    listReportType() {
      let defaultArr = this.$store.state.userInfo.default_report
      return this.$func.setRType(defaultArr, this)
    },
  }
}
</script>
