<template>
  <el-select v-model="v"
    style="width: 100%;max-width: 250px;"
    @change="$emit('change', $event)">
    <el-option label="上半月"
      value="01">
    </el-option>
    <el-option label="下半月"
      value="16">
    </el-option>
  </el-select>
</template>

<script>
export default {
  data() {
    return {
      v: this.value || this.defaultValue,
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: String
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  },
  computed: {
    defaultValue(){
      return '01'
    }
  },
}
</script>

<style scoped>
.item-quarter {
  display: inline-block;
}
</style>