<template>
  <el-select multiple
    style="width: 100%;max-width: 250px;"
    filterable
    collapse-tags
    v-model="v"
    @change="$emit('change', $event)">
    <el-option v-for="item in group"
      :key="item.value"
      :label="item.label"
      :value="item.value"></el-option>
  </el-select>
</template>

<script>
export default {
  data() {
    return {
      v: this.value || '',
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: Array,
    group: Array
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  },
}
</script>

<style scoped>
</style>