<template>
  <el-select v-model="v"
    style="width: 100%;max-width: 250px;"
    @change="$emit('change', $event)">
    <el-option v-for="index in 4"
      :key="index"
      :label="`第 ${index} 季度`"
      :value="index">
    </el-option>
  </el-select>
</template>

<script>
export default {
  data() {
    return {
      v: this.value || 1,
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: Number
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  }
}
</script>

<style scoped>
.item-quarter {
  display: inline-block;
}
</style>