<template>
  <el-select v-model="v"
    placeholder="请选择"
    style="width: 100%;max-width: 250px;"
    @change="$emit('change', $event)">
    <el-option label="全部"
      value="-1"></el-option>
    <el-option v-for="item in leagalOptions"
      :key="item.fcode"
      :label="item.fillegaltype"
      :value="item.fcode">
    </el-option>
  </el-select>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      v: this.value || ''
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: String
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  },
  computed: {
    ...mapState(['leagalOptions']),
  },
}
</script>

<style scoped>
</style>