<template>
  <el-date-picker :editable="false"
    style="width: 100%;max-width: 250px;"
    v-model="v"
    format="yyyy 年 M 月 dd 日"
    :picker-options="pickerOptions"
    value-format="yyyy-MM-dd"
    type="date"
    placeholder="选择日期"
    @change="$emit('change', $event)">
  </el-date-picker>
</template>

<script>
export default {
  data() {
    return {
      v: this.value || '',
      pickerOptions: {
        disabledDate: time => {
          return time.getTime() > new Date().getTime()
        }
      }
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: String
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  }
}
</script>

<style scoped>
</style>