<template>
  <el-select v-model="v"
    style="width: 100%;max-width: 250px;"
    @change="$emit('change', $event)">
    <el-option v-for="item in mediaOrg"
      :key="item.fid"
      :label="item.fname"
      :value="item.fid"></el-option>
  </el-select>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      v: this.value || '',
      mediaOrg: []
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: String,
    url: String
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  },
  created() {
    this._getMediaOrg()
  },
  methods: {
    _getMediaOrg() {
      axios.post(this.$_ + this.url)
        .then(res => {
          if (res.data.code === 0) {
            this.mediaOrg = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
  }
}
</script>

<style scoped>
</style>