<template>
  <el-date-picker :editable="false"
    :picker-options="{firstDayOfWeek: 1}"
    style="width: 100%;max-width: 250px;"
    v-model="v"
    type="week"
    format="yyyy 第 W 周"
    placeholder="选择周"
    @change="$emit('change', $event)">
  </el-date-picker>
</template>

<script>
export default {
  data() {
    return {
      v: this.value || ''
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: ['value'],
  watch: {
    value(n, o) {
      this.v = n
    }
  }
}
</script>