<template>
  <el-date-picker :editable="false"
    style="width: 100%;max-width: 250px;"
    type="month"
    v-model="v"
    :clearable="false"
    format="yyyy 年 M 月"
    :picker-options="pickerOptions"
    value-format="yyyy-MM"
    placeholder="选择月"
    @change="$emit('change', $event)">
  </el-date-picker>
</template>

<script>
export default {
  data() {
    return {
      v: this.value || '',
      pickerOptions: {
        disabledDate: time => {
          return time.getTime() > new Date().getTime()
        }
      }
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: String
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  }
}
</script>

<style scoped>
.item-month {
  display: inline-block;
}
</style>