<template>
  <el-select v-model="v"
    placeholder="请选择"
    style="width: 100%;max-width: 250px;"
    @change="$emit('change', $event)">
    <slot />
    <el-option v-for="item in mediaType"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      v: this.value || ''
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: String,
    mclass: String
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  },
  computed: {
    mediaType() {
      return this.$store.state[this.mclass]
    },
  }
}
</script>

<style scoped>
</style>