<template>
  <div class="upload-report">
    <el-dialog :title="pnid ? '修改报告' : '上传报告'"
      center
      width="700px"
      :before-close="close"
      :visible.sync="show">
      <el-form :model="form"
        label-width="90px">
        <el-form-item label="报告名称：">
          <el-input v-model="form.pnname"
            style="width:50%"></el-input>
        </el-form-item>
        <el-form-item label="上传报告：">
          <ill-annex style="display:inline-block;height:29px;float: left;margin-right:10px;"
            @uploadSuccess="_uploadSuccess"
            @click="_getToken"
            @uploadError="_uploadError"></ill-annex>
          <el-button type="text"
            v-for="(ffiles,i) in form.ffiles"
            :key="i">{{ ffiles.name }}</el-button>
        </el-form-item>
        <el-form-item label="报告类型：" v-if="!pnid">
          <el-select v-model="form.pntype"
            style="width:44.5%" @change="_setReportType">
            <el-option v-for="(value,key) in pntype"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="报告日期：" v-if="!pnid">
          <!-- 日报 -->
          <item-date v-if="form.pntype === '10'"
            v-model="daytime"></item-date>
          <!-- 周报 -->
          <item-week v-if="form.pntype === '20'"
            v-model="week"></item-week>
          <!-- 月报 -->
          <item-month v-model="month"
            v-if="form.pntype === '30' || form.pntype === '25' || form.pntype === '61'">
          </item-month>
          <!-- 半月报 -->
          <item-half-month v-model="halfmonth" v-if="form.pntype === '25'"></item-half-month>
          <!-- 互联网报告/自定义 -->
          <item-daterange v-if="form.pntype === '40' || form.pntype === '50' || form.pntype === '60' || form.pntype === '81' || form.pntype === '90'"
            v-model="nettime"></item-daterange>
          <!-- 季报年报 -->
          <item-year v-model="year"
            v-if="form.pntype === '70' || form.pntype === '75' || form.pntype === '80'"></item-year>
          <item-quarter v-model="quarter"
            v-if="form.pntype === '70'"></item-quarter>
          <!-- 半年报 -->
          <item-half-year v-model="halfyear"
            v-if="form.pntype === '75'">
          </item-half-year>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_submit"
          :loading="$store.state.bloading">提交</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import illAnnex from "../../clue/illAnnex"
import itemDate from './itemDate'
import itemDaterange from './itemDaterange'
import itemWeek from './itemWeek'
import itemMonth from './itemMonth'
import itemHalfMonth from './itemHalfMonth'
import itemYear from './itemYear'
import itemQuarter from './itemQuarter'
import itemHalfYear from './itemHalfYear'
import { mapState } from 'vuex'
export default {
  components: {
    illAnnex,
    itemDate,
    itemWeek,
    itemHalfMonth,
    itemMonth,
    itemYear,
    itemQuarter,
    itemDaterange,
    itemHalfYear
  },
  props: {
    pntype: {
      type: Object,
      default: () => {},
      required: true
    },
    paramData: {
      type: Object,
      default: () => {},
    },
    pnid: {
      type: [String, Number],
      default: '',
    },
  },
  data() {
    return {
      show: true,
      form: {
        pnname: '',
        ffiles: [], //上传的附件，
        pntype: '',
      },
      daytime: this.$dayjs().format('YYYY-MM-DD'),
      week: '',
      quarter: 1,
      year: new Date().getFullYear().toString(),
      halfyear: new Date().getMonth() >= 6 ? '07-01' : '01-01',
      halfmonth: '01',
      month: this.$dayjs().format('YYYY-MM'),
      nettime: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
    }
  },
  created() {
    if(this.pnid){
      this.form.pnname = this.paramData.pnname
      this.form.ffiles = [
        {
          name: this.paramData.pnname,
          url: this.paramData.pnurl,
        }
      ]
    } else {
      this.form.pntype = Object.keys(this.pntype)[0]
    }
  },
  computed: {
  },
  methods: {
    _uploadSuccess(f) {   //文件上传成功
      let arr = f.name.split('.')
      let obj = { name: '', url: '' }
      obj.name = f.name
      obj.url = `${this.bucket_url}${f.response.key}?attname=${f.name}`
      this.form.ffiles = Array.of(obj)
      this.form.pnname = arr[0]
    },
    _uploadError() {      //文件上传失败
      this.$message.error('上传失败');
    },
    _submit() {
      let data = null
      if(!this.pnid){
        switch (this.form.pntype) {
          case '10':
            if (!this.daytime) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              s_time: this.daytime,
              s_time: this.daytime,
            }
            break
          case '20':
            if (!this.week) {
              this.$func._error('请选择周')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('20',this.week)
            }
            break
          case '25':
            if (!this.halfmonth || !this.month) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('25',`${this.month}-${this.halfmonth}`)
            }
            break
          case '30':
            if (!this.month) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('30',this.month)
            }
            break
          case '40':
            if (!this.nettime.length) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('40',this.nettime)
            }
            break
          case '40':
            if (!this.nettime.length) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('40',this.nettime)
            }
            break
          case '50':
            if (!this.nettime.length) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('40',this.nettime)
            }
            break
          case '60':
            if (!this.nettime.length) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('40',this.nettime)
            }
            break
          case '81':
            if (!this.nettime.length) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('40',this.nettime)
            }
            break
          case '90':
            if (!this.nettime.length) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('40',this.nettime)
            }
            break
          case '61':
            if (!this.month) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              daytime: `${this.month}-01`,
            }
            break
          case '70':
            if (!this.year || !this.quarter) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('70',[this.year,this.quarter])
            }
            break
          case '75':
            if (!this.halfyear) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              pntype: this.form.pntype,
              ...this.$func.setDuringTime('75',`${this.year}-${this.halfyear}`),
            }
            break
          case '80':
            if (!this.year) {
              this.$func._error('请选择时间')
              return false
            }
            data = {
              ...this.form,
              ...this.$func.setDuringTime('80',this.year)
            }
            break
        }
      } else {
        data = {
          pnid: this.pnid,
          pnname: this.form.pnname,
          ffiles: this.form.ffiles,
        }
      }
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + '/Agp/GeneralReport/upload_report', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close')
            this.$emit('_getList')
            this.$store.commit('_bloading', false)
          } else {
            this.$store.commit('_bloading', false)
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('上传报告出错！')
          this.$store.commit('_bloading', false)
        })
    },
     _setReportType() {
      this.daytime = this.$dayjs().format('YYYY-MM-DD')
      this.week = ''
      this.quarter = 1
      this.year = new Date().getFullYear().toString()
      this.halfmonth = '01',
      this.month = this.$dayjs().format('YYYY-MM')
      this.halfyear = new Date().getMonth() >= 6 ? '07-01' : '01-01'
      this.nettime = [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')]
    },
    close() {
      this.$emit('close')
      this.show = false
      this.form = {
        nname: '',
        ffiles: [],
        pntype: '',
      }
    },
    _getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    }
  },
}
</script>