
<div class="tab-content clearfix">
    <foreach name="tvsampleList" item="tvsample">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="sampleList video" link="{$tvsample.favifilename}" length="{$tvsample.fadlen}" fid="{$tvsample.fid}">
                <img src="{$tvsample.favifilepng}" onerror="this.src='{:C('PUBLIC_RESOURCE')}badpic/badpic2.png'"
                    alt="图片加载失败">
                <div class="playBtn">
                    <i class="fa fa-play-circle-o"></i>
                </div>
                <div class="adInfo">
                    <span class="adTime">{$tvsample.fadlen} 秒</span>
                    <span class="adName">{$tvsample.fadname} - {$tvsample.fversion}</span><br>
                    <span class="adCompany">{$tvsample.adowner_name}</span>
                </div>
            </div>
        </div>
    </foreach>
    <empty name="tvsampleList">
        <p class="h5 text-center text-primary">没有找到您想要的数据！</p>
    </empty>
    <div id="a">{$a}{$b}</div>
</div>

