<!--详细信息弹窗-->
<div class="modal inmodal" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width:1000px;">
        <div class="modal-content animated bounceIn">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">样本信息</h4>
            </div>
            <div class="container-fluid" style="padding-top:10px;">
                <div class="col-sm-8 vidoeBlock">
                    <video style="height:480px!important;" controls src="">视频已损坏</video>
                </div>
                <div class="col-sm-4" style="height:528px;overflow-y:scroll">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="width:120px;">样本名称：</th>
                                <td id="fadname"></td>
                            </tr>
                            <tr>
                                <th>版本说明：</th>
                                <td id="fversion"></td>
                            </tr>
                            <tr>
                                <th>播出媒体：</th>
                                <td id="fmedia"></td>
                            </tr>
                            <tr>
                                <th>广告主：</th>
                                <td id="fadowner"></td>
                            </tr>
                            <tr>
                                <th>品牌：</th>
                                <td id="fbrand"></td>
                            </tr>
                            <tr>
                                <th>类别：</th>
                                <td id="fadclass"></td>
                            </tr>
                            <tr>
                                <th>代言人：</th>
                                <td id="fspokesman"></td>
                            </tr>
                            <tr>
                                <th>样本长度(s)：</th>
                                <td id="fadlen"></td>
                            </tr>
                            <tr>
                                <th>违法类型：</th>
                                <td><span id="fillegaltypecode"></span></td>
                            </tr>
                            <tr>
                                <th>涉嫌违法内容：</th>
                                <td>
                                    <pre id="fillegalcontent"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th>违法表现：</th>
                                <td>
                                    <pre id="fexpressions"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th>认定依据：</th>
                                <td>
                                    <pre id="fconfirmations"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th>处罚依据：</th>
                                <td>
                                    <pre id="fpunishments"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th>处罚种类及幅度：</th>
                                <td>
                                    <pre id="fpunishmenttypes"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th>媒介邮箱：</th>
                                <td> <input id="fmail"> <button id="toSend" class="btn btn-primary btn-xs">发送</button></td>
                            </tr>
                            <tr>
                                <th>状态：</th>
                                <td>
                                    <pre id="fstate"></pre>
                                </td>
                            </tr>
                            <tr>
                                <th>创建人：</th>
                                <td id="fcreator"></td>
                            </tr>
                            <tr>
                                <th>创建时间：</th>
                                <td id="fcreatetime"></td>
                            </tr>
                            <tr>
                                <th>修改人：</th>
                                <td id="fmodifier"></td>
                            </tr>
                            <tr>
                                <th>修改时间：</th>
                                <td id="fmodifytime"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a fid="" id="to_adclue" class="btn btn-danger"><i class="fa fa-adjust"></i> 转入线索</a>
                <button type="button" class="btn btn-white" id="close">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success text-center" id="to_adclue_success" style="display:none;"></div>
<div class="alert alert-danger text-center" id="to_adclue_fail" style="display:none;"></div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
<script type="text/javascript" src="{:C('PUBLIC_RESOURCE')}webuploader/webuploader.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}adclassSelect/location.js"></script>
<script src="/Application/Gongshang/View/public/common.js"></script>
<script>
    "use strict";
    $(function () {
        var fid= "";
        var favifilename;
        // 详情
        $('.sampleList').click(function () {
            $('#infoModal').find('.modal-title').text($(this).find('.adName').text())
            var src = $(this).attr('link');
            fid = $(this).attr('fid');
            $('#infoModal').find('video').attr('src', src);
            $.post('{:U("Gongshang/Tvsample/ajax_tvsample_details")}', { 'fid': fid }, function (req) {
                if(req.code == 0){
                    var fstate;
                    if(req.tvsampleDetails.fstate == -1){
                        fstate = '删除';
                        $('#fstate1').iCheck('check');
                    }else if(req.tvsampleDetails.fstate == 0){
                        fstate = '无效';
                        $('#fstate2').iCheck('check');
                    }else if(req.tvsampleDetails.fstate == 1){
                        fstate = '有效';
                        $('#fstate3').iCheck('check');
                    }
                    $('#to_adclue').attr('fid', req.tvsampleDetails.fid);//修改转入线索的fid
                    $('#fadname').text(req.tvsampleDetails.fadname);//广告名称
                    $('#fmedia').text(req.tvsampleDetails.fmedianame);//广告名称
                    $('#fversion').text(req.tvsampleDetails.fversion);//广告版本
                    $('#fspokesman').text(req.tvsampleDetails.fspokesman);//代言人
                    $('#fadlen').text(req.tvsampleDetails.fadlen);//时长
                    $('#fadowner').text(req.tvsampleDetails.adowner_name);//广告主
                    $('#fadclass').text(req.tvsampleDetails.ffullname);//广告类别
                    $('#fbrand').text(req.tvsampleDetails.fbrand);//广告品牌
                    $('#fillegaltypecode').text(req.tvsampleDetails.fillegaltype);//违法类型
                    $('#fillegalcontent').text(req.tvsampleDetails.fillegalcontent);//涉嫌违法内容
                    $('#fexpressions').text(req.tvsampleDetails.fexpressions);//违法表现
                    $('#fconfirmations').text(req.tvsampleDetails.fconfirmations);//认定依据
                    $('#fpunishments').text(req.tvsampleDetails.fpunishments);//处罚依据
                    $('#fpunishmenttypes').text(req.tvsampleDetails.fpunishmenttypes);//处罚种类及幅度
                    $('#fmail').val(req.tvsampleDetails.femail);//媒介邮箱
                    $('#fstate').text(fstate);//状态
                    $('#fcreator').text(req.tvsampleDetails.fcreator);//创建人
                    $('#fcreatetime').text(req.tvsampleDetails.fcreatetime);//创建时间
                    $('#fmodifier').text(req.tvsampleDetails.fmodifier);//修改人
                    $('#fmodifytime').text(req.tvsampleDetails.fmodifytime);//修改时间
                }else{
                    $('#backMsg').show().find('.msg').text(req.msg);
                }
            })
            $('#infoModal').modal('show');
        })
        // 转入线索
        $('#to_adclue').click(function () {
            var fid = $('#to_adclue').attr('fid');
            $.post('{:U("Gongshang/Tvsample/to_adclue")}', { 'fid': fid }, function (req) {
                if (req.code == 0) {
                    $('#to_adclue_success').text(req.msg).show().fadeOut(3000);
                } else {
                    $('#to_adclue_fail').text(req.msg).show().fadeOut(3000);
                }
            })
        })
        $('#toSend').click(function(){
            var mail = $('#fmail').val();
            if(!mail){
                alertMSG('请填写邮箱后发送！','danger',2000);
                return false;
            }
            $('#infoModal').modal('hide');
            confirmModal('确认发送邮件？',function(){
                $.post('{:U("Gongshang/Sample/send_to_media")}',{'sample_id':fid,'media_mail':mail},function(req){
                    if(req.code != 0){
                        alertMSG(req.msg,'danger',2000)
                    }else{
                        alertMSG(req.msg,'info',2000,function(){
                            $('#confirmModal').modal('hide');
                            $('#fmail').val('');
                        })
                    }
                })
            },function(){
                $('#infoModal').modal('show');
            })
        })
    })
    $(function () {
        // 样本动画
        var that;
        $('.video').hover(function () {
            that = $(this);
            that.find('.playBtn').css({ 'top': '0', "opacity": '1' });
            that.find('.adInfo').css('bottom', '0');
        }, function () {
            that.find('.playBtn').css({ 'top': '-150px', "opacity": '0' });
            that.find('.adInfo').css('bottom', '-30px');
        })
    })
    $(function () {
        laydate.skin('molv');
        var Sstart = {
            elem: '#Sstart',
            format: 'YYYY-MM-DD',
            min: '1970-01-01 00:00:00', //设定最小日期为当前日期
            max: '{:I('fcreatetime_e')}', //最大日期
            istime: false,
            istoday: false,
            choose: function (datas) {
                Send.min = datas; //开始日选好后，重置结束日的最小日期
                Send.start = datas //将结束日的初始值设定为开始日
            }
        };
        var Send = {
            elem: '#Send',
            format: 'YYYY-MM-DD',
            min: '{:I('fcreatetime_s')}',
            max: '2099-06-16 23:59:59',
            istime: false,
            istoday: false,
            choose: function (datas) {
                Sstart.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        laydate(Sstart);
        laydate(Send);
    })
    closeModal('#close,.close', '#infoModal,#changeModal');
    
    getAdclass('#adclass', '#adclass-select', "{:U('Api/Adclass/get_adclass_list')}", 'fcode');
</script>