<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/Adinput/View/PapUplEdiState/css/PapUplEdiState.min.css?v=31">
  <title>报纸上传情况统计</title>
</head>
<body>
  <div id="app">
    <div style="height: 40px;font-size: 18px; font-weight: 700; line-height: 40px;color:#606266;border-bottom:1px solid #ccc;margin-bottom: 10px;">报纸上传及剪辑情况</div>
    <!-- 搜索栏 -->
    <el-form ref="sform"
      :model="form"
      inline
      @keyup.enter.native="getList(1)"
      label-width="90px">
      <el-form-item label="月份：" label-width="90px">
        <el-date-picker
          v-model="form.month"
          type="month"
          value-format="yyyy-MM"
          clearable
          style="width: 150px"
          placeholder="选择月">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="地区：">
        <el-cascader
          v-model="form.region"
          :options="regionTree"
          change-on-select
          :filterable="true"
          style="width:150px;"
          clearable></el-cascader>
        <el-checkbox v-model="is_include_sub">仅本级</el-checkbox>
      </el-form-item>
      <el-form-item label="媒体名称：">
        <el-input v-model="form.media_name" placeholder="请输入媒体名称" clearable></el-input>
      </el-form-item>
      <el-form-item label="标签：">
        <el-input v-model="form.label" placeholder="请输入标签" clearable></el-input>
      </el-form-item>
      <el-form-item label-width="90px">
        <el-checkbox v-model="printedNum">显示版面数</el-checkbox>
        <el-checkbox v-model="adNum">显示广告数</el-checkbox>
      </el-form-item>

      <el-form-item label-width="90px">
        <el-button type="primary"
          class="pull-right"
          style="margin-left:10px"
          :loading="loading"
          @click="getList(1,1)"
          icon="el-icon-search">查 询</el-button>
        <el-button
          type="success"
          @click="getList(1,2)"
          :disabled="downBtn"
          icon="el-icon-download"
          >导 出</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :data="tableData" border stripe :height="tableHeight" v-loading="loading">
      <el-table-column label="地区" prop="region_name" width="80" fixed header-align="center" show-overflow-tooltip></el-table-column>
      <el-table-column label="媒体名称" prop="fmedianame" width="100" show-overflow-tooltip fixed header-align="center"></el-table-column>
      <el-table-column label="周期" prop="fdescribe" header-align="center" width="60"></el-table-column>
      <el-table-column label="类别" prop="fdescribe" header-align="center" width="30" align="center">
          <template slot-scope="scope">
              <div v-if="printedNum == true">版面</div>
              <div v-if="adNum == true">广告</div>
          </template>
      </el-table-column>
      <el-table-column   v-for="(value, key, index) in tableData[0]" v-if="index<=30" :label="(index+1) +'日'" align="center" width="45">
        <!-- <el-table-column  label="版面/广告"  width="46" align="center"> -->
          <template slot-scope="scope">
            <div v-if="printedNum == true">{{scope.row['d'+(index+1)]}}</div>
             <div v-if="adNum == true">{{scope.row['a'+(index+1)]}}</div>
          </template>
        <!-- </el-table-column> -->
        <!-- <el-table-column  label="广告" v-if="adNum == true" width="46" align="center">
          <template slot-scope="scope">
          {{scope.row['a'+(index+1)]}}
          </template>
        </el-table-column> -->
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(allcount)"
      :page-size="20"
      :current-page="Number(form.page_num)"
      @current-change="getList">
    </el-pagination>
    <!-- 上传弹出框 -->
    <el-dialog
      class="out-file"
      :visible.sync="show"
      width="700px"
      :show-close="false"
      modal-append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      center>
      <div
        v-show="!Boolean(durl)"
        style="height:250px;"
        v-loading="true"
        element-loading-text="文件生成中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(255, 255, 255, 1)">
      </div>
      <div
        v-show="Boolean(durl)"
        style="text-align: center">
        <div>
          <i class="el-icon-circle-check-outline" style="font-size: 18px;color:#67c23a;"></i>
        </div>
        <a :href="durl" target="_blank">
          <el-button type="text">生成成功，点击下载</el-button>
        </a>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button  type="primary" @click="show = false">关闭</el-button>
      </span>
    </el-dialog>
  </div>

  <script>
    var regionTree = {$regionTree};
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}momentJs/moment.js"></script>
  <script src="/Application/Adinput/View/PapUplEdiState/js/PapUplEdiState.js?v=31"></script>
</body>
</html>