<template>
  <div>
    <search-model
      stype="02">
    </search-model>
  </div>
</template>

<script>
  import searchModel from './components/searchModel'
  export default {
    components: {
      searchModel
    }
  }
</script>

<style scoped>

</style>