<template>
  <div>
    <search-model
      :ill="ill">
    </search-model>
  </div>
</template>

<script>
  import searchModel from './components/searchModel'
  export default {
    components: {
      searchModel
    },
    data(){
      return {
        ill: '30'
      }
    }
  }
</script>