<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>广告内容管理</title>

  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
  <![endif]-->

  <link rel="shortcut icon" href="favicon.ico">
  <link href="{:C('PUBLIC_RESOURCE')}element/theme/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/Application/Admin/View/Ad/css/index.min.css">
</head>

<body>
  <div id="app" v-loading="tableLoading">
    <el-card class="search" :body-style="{ padding: '10px' }" shadow="never" style="margin-bottom: 10px;">
      <el-form :model="where" ref="sform" @keyup.enter.native="getList(1)" label-width="80px">
        <el-row>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="广告名称" prop="adName">
              <div style="display: flex;">
                <div style="flex-grow: 1;">
                  <el-input v-model="where.adName" clearable></el-input>
                </div>
                <div style="width: 80px; text-align: right;">
                  <el-checkbox v-model="where.adNameSearchType" true-label="2" false-label="1">精确</el-checkbox>
                </div>
              </div>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="地区">
              <el-cascader style="width: 180px!important;" :options="regionTree" v-model="where.fregionid" :props="props" clearable></el-cascader>
              <el-checkbox v-model="where.fregionid_only" true-label="1" false-label="2">仅本级</el-checkbox>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="媒体类型">
              <el-select v-model="where.fmediaclass">
                <el-option label="全部" value=""></el-option>
                <el-option label="电视" value="01"></el-option>
                <el-option label="广播" value="02"></el-option>
                <el-option label="报纸" value="03"></el-option>
                <el-option label="户外" value="05"></el-option>
                <el-option label="互联网" value="13"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="状态">
              <el-select v-model="where.fstate">
                <el-option label="全部" value=""></el-option>
                <el-option label="已确认" value="1"></el-option>
                <el-option label="待确认" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="媒体名称">
              <el-select
                v-model="fmediaid"
                multiple
                filterable
                clearable
                remote
                reserve-keyword
                collapse-tags
                placeholder="请输入关键词"
                :remote-method="searchMediaName"
                @change="() => where.fmediaid = fmediaid.join(',')"
                @focus="searchMediaName('')">
                <el-option v-for="item in mediaList"
                  :key="item.fid"
                  :label="item.value"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="发布日期">
              <el-date-picker v-model="where.issueDate" type="daterange" placeholder="选择日期" clearable format="yyyy 年 MM 月 dd 日"
                value-format="timestamp">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item label="创建日期">
              <el-date-picker v-model="where.fcreatetime" type="daterange" placeholder="选择日期" clearable format="yyyy 年 MM 月 dd 日"
                value-format="yyyy-MM-dd">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6" v-show="moreParms">
            <el-form-item label="广告主" prop="adOwner">
              <el-input v-model="where.adOwner" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6" v-show="moreParms">
            <el-form-item label="广告品牌" prop="adBrand">
              <el-input v-model="where.adBrand" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6" v-show="moreParms">
            <el-form-item label="广告类别" prop="adClass">
              <el-cascader filterable :options="adClassArr" separator=">" v-model="adClass" change-on-select clearable @change="val => handleAdclassChange(val,'adClass')"></el-cascader>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6" v-show="moreParms">
            <el-form-item label="商业类别">
              <el-cascader filterable :options="adClassTree" separator=">" v-model="adClass2" change-on-select :filterable="true" clearable @change="val => handleAdclassChange(val,'adClass2')"></el-cascader>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6" v-show="moreParms">
            <el-form-item label="广告ID">
              <el-input v-model="where.fadid" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6" v-show="moreParms">
            <el-form-item label="创建人">
              <el-input v-model="where.fcreator" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6" v-show="moreParms">
            <el-form-item label="修改人">
              <el-input v-model="where.fmodifier" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6" v-show="moreParms">
            <el-form-item label="修改日期">
              <el-date-picker v-model="where.fmodifytime" type="daterange" placeholder="选择日期" clearable format="yyyy 年 MM 月 dd 日"
                value-format="yyyy-MM-dd">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12" :md="12" :lg="6" :xl="6">
            <el-form-item class="text-right" label-width="30px">
              <el-button @click="toggleParms" type="text" :icon="moreParms ? 'el-icon-arrow-up' : 'el-icon-arrow-down'">{{moreParms ? '精简条件' : '更多条件'}}</el-button>
              <el-button @click="getList(1)" type="primary">搜索</el-button>
              <el-button @click="resetWhere" type="danger" plain>重置</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
    <el-card class="search" :body-style="{ padding: '10px' }" shadow="never">
      <div class="radioTab">
        <el-radio-group v-model="where.state" @change="getList()">
          <el-radio-button label="">全部</el-radio-button>
          <el-radio-button label="2">标准库</el-radio-button>
        </el-radio-group>
        <el-button @click="addAd" type="primary" plain>新增</el-button>
        <el-button @click="deleteTheme({})" type="danger" :disabled="!multipleSelection.length">删除</el-button>
        <el-button :type="canMerge ? 'primary' : 'warning'" plain @click="() => showMerge = true" :disabled="!canMerge">{{canMerge ? '合 并' : '至少选择两条记录'}}</el-button>
      </div>
      <el-table ref="table" :data="table" border @sort-change="sortChange" :height="tableHeight" @selection-change="handleSelectionChange" @row-click="rowClick" @row-dblclick="openAdInfo" :row-style="{'cursor': 'pointer'}">
        <el-table-column prop="date" width="40" type="selection"></el-table-column>
        <el-table-column sortable="fadname" prop="fadname" label="广告名称" width="200" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-tooltip effect="dark" :content="scope.row.comment" placement="top" v-if="scope.row.fstate == '9'">
              <i class="el-icon-info" style="color: #E6A23C;font-size: 14px;"></i>
            </el-tooltip>
            <search @click="handleSearch('adName',scope.row.fadname)">
              <a v-clipboard="scope.row.fadname" v-html="scope.row._fadname" @click.stop></a>
            </search>
            <span @click.stop>({{scope.row._fadid}})</span>
          </template>
        </el-table-column>
        <el-table-column sortable="fbrand" prop="fbrand" label="品牌" show-overflow-tooltip>
          <template slot-scope="scope">
            <search @click="handleSearch('adBrand',scope.row.fbrand)">
              <a v-clipboard="scope.row.fbrand" v-html="scope.row._fbrand" @click.stop></a>
            </search>
          </template>
        </el-table-column>
        <el-table-column prop="fadclasscode_name" sortable="fadclasscode_name" label="类别" show-overflow-tooltip>
          <template slot-scope="scope">
            <search @click="handleSearch('adClass',scope.row.fadclasscode)">
              <span v-html="scope.row.fadclasscode_name" @click.stop></span>
            </search>
          </template>
        </el-table-column>
        <el-table-column prop="fadclasscode_name_v2" sortable="fadclasscode_name_v2" label="商业类别" show-overflow-tooltip>
          <template slot-scope="scope">
            <search @click="handleSearch('adClass2',scope.row.fadclasscode_v2)">
              <span v-html="scope.row.fadclasscode_name_v2" @click.stop></span>
            </search>
          </template>
        </el-table-column>
        <el-table-column prop="fadowner" sortable="fadowner" label="广告主" show-overflow-tooltip>
          <template slot-scope="scope">
            <search @click="handleSearch('adOwner',scope.row.fname)" v-if="scope.row._fname">
              <a v-clipboard="scope.row.fname" v-html="scope.row._fname" @click.stop></a>
            </search>
          </template>
        </el-table-column>
        <el-table-column prop="isConfirm" label="状态" width="80">
          <template slot-scope="scope">
              {{fstateMap[scope.row.fstate]}}
          </template>
        </el-table-column>
        <el-table-column prop="fcreatetime" sortable="fadowner" label="创建日期" width="170" show-overflow-tooltip>
          <template slot-scope="scope">
            <search @click="handleSearch('fcreatetime',scope.row.fcreatetime)">
              <span v-html="scope.row.fcreatetime" @click.stop></span>
            </search>
          </template>
        </el-table-column>
        <el-table-column prop="fcreator" sortable="fadowner" label="创建人" show-overflow-tooltip>
          <template slot-scope="scope">
            <span v-html="scope.row._fcreator"></span>
          </template>
        </el-table-column>
        <el-table-column prop="fmodifytime" sortable="fadowner" label="修改日期" width="170" show-overflow-tooltip>
          <template slot-scope="scope">
            <search @click="handleSearch('fmodifytime',scope.row.fmodifytime)">
              <span v-html="scope.row.fmodifytime" @click.stop></span>
            </search>
          </template>
        </el-table-column>
        <el-table-column prop="fmodifier" sortable="fadowner" label="修改人" show-overflow-tooltip>
          <template slot-scope="scope">
            <span v-html="scope.row._fmodifier"></span>
          </template>
        </el-table-column>
        <el-table-column width="140" label="操作">
          <template slot-scope="scope">
            <el-button @click.stop="openAdInfo(scope.row)" type="text" size="small">查看</el-button>
            <el-button @click.stop="history(scope.row)" type="text" size="small">历史</el-button>
            <el-button type="text" style="color: #F56C6C;" size="small" @click.stop="deleteTheme(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background @size-change="pageSizeChange" @current-change="getList" :current-page="page" :page-sizes="[20, 50, 100, 200, 500]"
        :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </el-card>
    <el-drawer
      title="广告详情"
      :visible.sync="showAdInfo"
      direction="rtl"
      size="900px"
      @close="closeAdInfo">
      <ad-info ref="info" v-if="showAdInfo" :ad_info="adInfo" @close="closeAdInfo" @save="getList"></ad-info>
    </el-drawer>
    <el-dialog
      title="修改历史"
      center
      :visible.sync="showHistory"
      width="1200px"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <div style="height: 400px;overflow-y: auto;" v-loading="historyLoading">
        <table border cellspacing="0" class="table" width="100%">
          <tr>
            <th width="50px">序号</th>
            <th>姓名</th>
            <th>时间</th>
            <th>操作</th>
            <th>广告名称</th>
            <th>品牌</th>
            <th>广告主</th>
            <th>类别</th>
            <th>商业类别</th>
            <th width="60px">状态</th>
          </tr>
          <template v-for="(item,index) in tableData">
            <tr :key="index" :class="{sprid: (index % 2) === 0}">
              <td rowspan="2">{{index + 1}}</td>
              <td rowspan="2">{{item.user_name}}</td>
              <td rowspan="2">{{item.update_time}}</td>
              <td rowspan="2">{{item.log}}</td>
              <td class="before">{{item.before.fadname || '/'}}</td>
              <td class="before">{{item.before.fbrand || '/'}}</td>
              <td class="before">{{item.before.adowner_name || '/'}}</td>
              <td class="before">{{item.before.adclass_fullname || '/'}}</td>
              <td class="before">{{item.before.adclass_v2_fullname || '/'}}</td>
              <td class="before">{{fstateMap[item.before.fstate] || '/'}}</td>
            </tr>
            <tr :key="index" :class="{sprid: (index % 2) === 0}">
              <td class="after" :class="{'text-danger': item.before.fadname !== item.after.fadname}">{{item.after.fadname || '/'}}</td>
              <td class="after">{{item.after.fbrandv || '/'}}</td>
              <td class="after">{{item.after.adowner_name || '/'}}</td>
              <td class="after">{{item.after.adclass_fullname || '/'}}</td>
              <td class="after">{{item.after.adclass_v2_fullname || '/'}}</td>
              <td class="after">{{fstateMap[item.after.fstate] || '/'}}</td>
            </tr>
          </template>
        </table>
      </div>
    </el-dialog>
    <el-dialog
      title="合并广告内容"
      center
      append-to-body
      :visible.sync="showMerge"
      width="600px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="beforeClose">
      <el-select v-model="mainSample">
        <el-option v-for="item in multipleSelection"
          :key="item.fadid"
          :label="item.fadname + '(' + item._fadid + ')'"
          :value="item.fadid">
          {{item.fadname}}({{item._fadid}})
        </el-option>
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="submitMerge" :disabled="!mainSample">合 并</el-button>
      </span>
    </el-dialog>
  </div>
  <script>
    const adClassArr = {$adClassArr};
    const adClassTree = {$adClassTree};
    const regionTree = {$regionTree};
    const editAdReason = {$editAdReason}
  </script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/fly.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/fly.js/qs.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/vue2.6.10/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}vue-clipboard/vue-clipboard.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/2.11.1/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/hzsj/hzsj.js?v=1"></script>
  <script src="{:C('PUBLIC_RESOURCE')}element/dayjs/dayjs.min.js"></script>
  <script src="/Application/Admin/View/Ad/js/adInfo.js?v=11"></script>
  <script src="/Application/Admin/View/Ad/js/index.js?v=1.1"></script>
</body>

</html>