html,body{
  margin: 0;
  background-color: rgba(245, 245, 245, 1);
  height: 100%;
  overflow: hidden;
}
#app{
  height: 100%;
  color: #555555;
  display: flex;
  overflow: hidden;
  .el-col{
    height: 46px;
    overflow: hidden;
  }
  .text-red{
    color: red;
  }
  .pull-left{
    float: left;
  }
  .pull-right{
    float: right;
  }
  .el-select{
    display: block;
  }
  #iframe{
    flex-grow: 1;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  #wrap{
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    opacity: 0;
    width: 499px;
    background-color: #fff;
    overflow: auto;
    .title{
      padding: 12px 16px;
      font-size: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      .border{
        border-left: 5px solid rgba(25, 172, 247, 1);
        padding-left: 8px;
      }
      .text-red{
        font-size: 13px;
      }
    }
    .content{
      height: calc(100% - 67px);
      padding: 10px;
    }
  }
}