html, body {
  margin: 0;
  background-color: whitesmoke;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  color: #555555;
  display: flex;
  overflow: hidden;
}

#app .el-col {
  height: 46px;
  overflow: hidden;
}

#app .text-red {
  color: red;
}

#app .pull-left {
  float: left;
}

#app .pull-right {
  float: right;
}

#app .el-select {
  display: block;
}

#app #iframe {
  flex-grow: 1;
}

#app #iframe iframe {
  width: 100%;
  height: 100%;
}

#app #wrap {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  opacity: 0;
  width: 499px;
  background-color: #fff;
  overflow: auto;
}

#app #wrap .title {
  padding: 12px 16px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#app #wrap .title .border {
  border-left: 5px solid #19acf7;
  padding-left: 8px;
}

#app #wrap .title .text-red {
  font-size: 13px;
}

#app #wrap .content {
  height: calc(100% - 67px);
  padding: 10px;
}
