<div class="fixed-table-container">
    <table class="table table-hover table-condensed table-striped text-center" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <neq name="Think.get.merge_media" value="true">
                    <th class="text-center">发布媒体</th>
                </neq>
                <th class="text-center adName">广告名称</th>
                <if condition="$Think.get.merge_media == 'true' ">
                    <th class="text-center ">发布数量</th>
                <else />
                    <th class="text-center">版本说明</th>
                    <th class="text-center">发布日期</th>
                    <th class="text-center">发布类型</th>
					<th class="text-center">广告类别</th>
                    <th class="text-center">违法类型</th>
                    <th class="text-center">创建人</th>
                </if>
                <!-- <th class="text-center">操作</th> -->
            </tr>
        </thead>
        <tbody>
            <foreach name="paperissueList" item="paperissue">
                <tr class="mediaTr mediaName" id="{$paperissue.fpaperissueid}">
                    <td class="text-center">{$paperissue.k}</td>
                    <td class="text-center">{$paperissue.fmedianame}</td>
                    <if condition="$Think.get.merge_media == 'true' ">
                        <td class="text-center">{$paperissue.issue_count}</td>
                    <else />
                        <td class="text-center" title="点击查看广告详情">
                            <!-- <i class="fa fa-picture-o viewPaper" src="{$paperissue.fjpgfilename}" aria-hidden="true" title="点击预览视频"></i> -->
                            <span class="">{$paperissue.fadname}</span>
                        </td>
                        <td class="text-center">{$paperissue.fversion}</td>
                        <td class="text-center">{$paperissue.fissuedate}</td>
                        <td class="text-center">{$paperissue.fissuetype}</td>
						<td class="text-center">{$paperissue.fadclassfullname}</td>
                        <td class="text-center">{$paperissue.fillegaltype}</td>
                        <td class="text-center">{$paperissue.fcreator}</td>
                    </if>
                    <!-- <td class="text-center">
                        <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> 编辑</button>
                    </td> -->
                </tr>
            </foreach>
            <empty name="paperissueList">
                <tr class="h5 text-center text-primary">
                    <td colspan="9">没有找到您想要的数据！</td>
                </tr>
            </empty>
        </tbody>
    </table>
</div>
