<div id="Image" style="position:absolute;width:0;height:0;overflow:hidden">
    <img class="image" src="" alt="Picture">
</div>
<!--详细信息弹窗-->
<div class="modal inmodal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="container-fluid">
                <div class="col-sm-6">
                    <form class="form-horizontal m-t">
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 广告名称：</label>
                            <div class="col-sm-6" id="fname"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 版本说明：</label>
                            <div class="col-sm-6" id="fversion"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 发布媒体：</label>
                            <div class="col-sm-6" id="fmediaid"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 发布日期：</label>
                            <div class="col-sm-6" id="fissuedate"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 开始时间：</label>
                            <div class="col-sm-6" id="fstarttime"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 结束时间：</label>
                            <div class="col-sm-6" id="fendtime"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 发布类型：</label>
                            <div class="col-sm-6" id="fissuetype"></div>
                        </div>

                    </form>
                </div>
                <div class="col-sm-6">
                    <form class="form-horizontal m-t">
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 违法类型：</label>
                            <div class="col-sm-6" id="fillegaltype"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 版面：</label>
                            <div class="col-sm-6" id="fpage"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 数量：</label>
                            <div class="col-sm-6" id="fquantity"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 价格：</label>
                            <div class="col-sm-6" id="famounts"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 版面类别：</label>
                            <div class="col-sm-6" id="fpagetype"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 规格：</label>
                            <div class="col-sm-6" id="fsize"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label col-sm-offset-1"> 创建人：</label>
                            <div class="col-sm-6" id="fcreator"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left layoutAd btn-view">广告图片</button>
                <button type="button" class="btn btn-primary pull-left paperAd btn-view">版面图片</button>
                <button type="button" class="btn btn-white" id="close">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--预览弹窗-->
<div class="modal inmodal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">预览</h4>
            </div>
            <div class="container-fluid" style="max-height: 500px;overflow-y: auto;">
                <img src="" width="100%" id="adView" style="transition: 0.5s" alt="图片加载失败">
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-primary rotateleft" onclick="rotateImg(-90)"><i class="fa fa-undo"></i> 90度</button>
                    <button type="button" class="btn btn-primary rotateright" onclick="rotateImg(90)"><i class="fa fa-repeat"></i> 90度</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/bootstrap.min.js-v=3.3.5"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/contabs.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}hPlus/js/plugins/iCheck/icheck.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}bootstrap-3.3.7-dist/suggest/bootstrap-suggest.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
<script src="/Application/Admin/View/Public/common.js"></script>
<script>
    "use strict";
    var rotate = 0;
    function rotateImg(deg){
        rotate += deg;
        $('#adView').css('transform','rotate('+ rotate +'deg)');
        $('#adView').parents('.container-fluid').css('overflowX','scroll')
        console.log($('#adView').parents('.container-fluid'))
    }
    $(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });
    $(function () {
        var bsSuggest = $("#fmedianame").bsSuggest({
            url: "/index.php?m=Api&c=Media&a=get_media_list&fmediaclassid=03&media_name=",				//URL请求地址
            getDataMethod: "url",		//URL方式请求
            idField: "fid",           //每组数据的哪个字段作为 data-id，优先级高于 indexId 设置（推荐）
            keyField: "fmedianame",        //每组数据的哪个字段作为输入框内容，优先级高于 indexKey 设置（推荐）
            allowNoKeyword: true,     //是否允许无关键字时请求数据
            showBtn: false,           //是否显示下拉按钮
            effectiveFields: ['fmedianame'],            //有效显示于列表中的字段，非有效字段都会过滤，默认全部，对自定义getData方法无效
            // effectiveFieldsAlias: { fname: "设备名称", fcode: "设备编号" },//有效字段的别名对象，用于 header 的显示
            showHeader: false, //显示 header
        })
        $("#fmedianame")
            .on('onDataRequestSuccess', function (event, result) {
                //当 AJAX 请求数据成功时触发，并传回结果到第二个参数
                $('.dropdown-menu .table-condensed').find('thead').remove();
            })
            .on('onSetSelectValue', function (e, keyword) {
                //当从下拉菜单选取值时触发，并传回设置的数据到第二个参数
                // console.log('onSetSelectValue: ', keyword);
                $('#fmediaId').val(keyword.id);
            })
            .on('onUnsetSelectValue', function (e) {
                //当设置了 idField，且自由输入内容时触发（与背景警告色显示同步）
                // console.log('onUnsetSelectValue');
            });
    })
    $(function () {
        $('.mediaName').click(function () {
            rotate = 0;
            $('#adView').css('transform','rotate('+ rotate +'deg)');
            var id = $(this).attr('id');
            $.post('{:U("Admin/Paperissue/ajax_paperissue_details")}', { 'fpaperissueid': id }, function (req) {
                if (req.code == 0) {
                    $('#infoModal').find('.modal-title').text(req.paperissueDetails.fadname);
                    $('#fname').text(req.paperissueDetails.fadname);
                    $('#fversion').text(req.paperissueDetails.fversion);
                    $('#fmediaid').text(req.paperissueDetails.fmedianame);
                    $('#fissuedate').text(req.paperissueDetails.fissuedate);
                    $('#fstarttime').text(req.paperissueDetails.fstarttime);
                    $('#fillegaltype').text(req.paperissueDetails.fillegaltype);
                    $('#fendtime').text(req.paperissueDetails.fendtime);
                    $('#fissuetype').text(req.paperissueDetails.fissuetype);
                    $('#fpage').text(req.paperissueDetails.fpage);
                    $('#fquantity').text(req.paperissueDetails.fquantity);
                    $('#famounts').text(req.paperissueDetails.famounts);
                    $('#fpagetype').text(req.paperissueDetails.fpagetype);
                    $('#fsize').text(req.paperissueDetails.fsize);
                    $('#fcreator').text(req.paperissueDetails.fcreator);
                    $('.layoutAd').attr('data',req.paperissueDetails.fjpgfilename);
                    $('.paperAd').attr('data',req.paperissueDetails.furl);
                }
            })
            $('#infoModal').modal('show');
        })
        var viewer = new Viewer(document.getElementById('Image'), {
            title: false,
            navbar: false,
            hidden: function() {
                $('#infoModal').modal('show')
            }
        });
        $('.paperAd,.layoutAd').click(function () {
            $('#infoModal').modal('hide')
            var src = $(this).attr('data');
            $('.image').attr('src', src);
            $('.image').click();
        })
        // $('.btn-view').click(function(){
        //     var text = $(this).text();
        //     var src = $(this).attr('data');
        //     $('#viewModal').find('.modal-title').text(text);
        //     $('#viewModal').find('#adView').attr('src',src);
        //     $('#viewModal').modal('show');
        //     $('#infoModal').modal('hide');
        // })
        $('#viewModal .close').click(function(){
            $('#viewModal').modal('hide');
            $('#infoModal').modal('show');
        })
        $('#Submit').click(function () {
            $('#Form').submit();
        })
        $('#infoModal .close,#infoModal #close').click(function(){
            $('#infoModal').modal('hide');
        })
    })
    $(function () {
        laydate.skin('molv');
        var Sstart = {
            elem: '#Sstart',
            format: 'YYYY-MM-DD',
            min: '1970-01-01 00:00:00', //设定最小日期为当前日期
            max: '{:I('fcreatetime_e')}', //最大日期
            istime: false,
            istoday: false,
            choose: function (datas) {
                Send.min = datas; //开始日选好后，重置结束日的最小日期
                Send.start = datas //将结束日的初始值设定为开始日
            }
        };
        var Send = {
            elem: '#Send',
            format: 'YYYY-MM-DD',
            min: '{:I('fcreatetime_s')}',
            max: '2099-06-16 23:59:59',
            istime: false,
            istoday: false,
            choose: function (datas) {
                Sstart.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(Sstart);
        laydate(Send);
    })
</script>