<template>
  <el-dialog
    title="详情"
    class="iss-dialog"
    center
    top="8vh"
    :before-close="_colse"
    :visible.sync="show"
    width="1000px">
    <el-row v-loading="loading">
      <el-col :span="24">
        <el-col :span="24">
          <div style="margin-bottom: 10px;height: 100%;display: flex;">
            <div style="width: 49.5%" class="border-box">
              <h3>基本信息</h3>
              <el-form label-width="120px">
                <el-form-item label="公证类型：">
                  {{ detailData.ftype == 0 ? '机构' : '个人' }}
                </el-form-item>
                <el-form-item label="公证书份数：">
                  {{ detailData.fnotarials }}份
                </el-form-item>
                <el-form-item label="是否邮寄：">
                  {{ Number(detailData.fispost) === 0 ? '邮寄' : '未邮寄' }}
                </el-form-item>
                <el-form-item label="用途：">
                  {{ detailData.fusage }}
                </el-form-item>
              </el-form>
            </div>
            <div style="width: 1%"></div>
            <div style="width: 49.5%" class="border-box">
              <h3>收件人信息</h3>
              <el-form label-width="120px">
                <el-form-item label="收件人：">
                  {{ detailData.fpostusername }}
                </el-form-item>
                <el-form-item label="收件人手机：">
                  {{ detailData.fpostmobile }}
                </el-form-item>
                <el-form-item label="收件人地址：">
                  {{ detailData.fpostaddress }}
                </el-form-item>
                <el-form-item label="备注：">
                  {{ detailData.fremark }}
                </el-form-item>
              </el-form>
            </div>
          </div>
        </el-col>

        <el-col :span="24"  v-if="Number(detailData.ftype) === 0" style="border:1px solid #ededed;margin-bottom: 10px">
          <h3>机构信息</h3>
          <el-form label-width="160px">
            <el-form-item label="统一社会信用代码：">
              {{ detailData.fcreditid }}
            </el-form-item>
            <el-form-item label="机构名称：">
              {{ detailData.fentname }}
            </el-form-item>
            <el-form-item label="负责人：">
              {{ detailData.fegalperson }}
            </el-form-item>
            <el-form-item label="负责人身份证号码：">
              {{ detailData.fegalidcard }}
            </el-form-item>
            <el-form-item label="负责人身份证正反面：">
              <div class="imgBox">
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fegalidcardurl + '\')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fegalidcardurl2 + '\')'}"></p>
              </div>
            </el-form-item>
            <el-form-item label="营业执照：">
              <div class="imgBox">
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fenturl + '\')'}"></p>
              </div>
            </el-form-item>
          </el-form>
        </el-col>

        <el-col :span="24" v-if="Number(detailData.ftype) === 0" style="border:1px solid #ededed;margin-bottom: 10px">
          <h3>代办人信息</h3>
          <el-form label-width="150px">
            <el-form-item label="代办人姓名：">
              {{ detailData.fusername }}
            </el-form-item>
            <el-form-item label="代办人职务：">
              {{ detailData.fposition }}
            </el-form-item>
            <el-form-item label="手机号码：">
              {{ detailData.fmobile }}
            </el-form-item>
            <el-form-item label="身份证号码：">
              {{ detailData.fidcard }}
            </el-form-item>
            <el-form-item label="代办人身份证：">
              <div class="imgBox">
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fidcardurl + '\')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fidcardurl2 + '\')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fidcardfeelurl + '\')'}"></p>
              </div>
            </el-form-item>
          </el-form>
        </el-col>

        <el-col :span="24" v-if="Number(detailData.ftype) === 1" style="border:1px solid #ededed;margin-bottom: 10px">
          <h3>申办人信息</h3>
          <el-form label-width="150px">
            <el-form-item label="申办人姓名：">
              {{ detailData.fmobile }}
            </el-form-item>
            <el-form-item label="手机号码：">
              {{ detailData.fmobile }}
            </el-form-item>
            <el-form-item label="身份证号码：">
              {{ detailData.fidcard }}
            </el-form-item>
            <el-form-item label="申办人身份证：">
              <div class="imgBox">
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fidcardurl + '\')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fidcardurl2 + '\')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(\'' + detailData.fidcardfeelurl + '\')'}"></p>
              </div>
            </el-form-item>
          </el-form>
        </el-col>

      </el-col>
      <el-col :span="24">
        <div>
          <h3 style="border: 1px solid #ededed;margin-bottom: 0px;">存证信息</h3>
          <el-card :body-style="cardBody"
            shadow="never"
            v-for="(item,index) in tableData"
            :key="index">
            <div class="card-row">
              <div class="card-image card-image-row">
                <img :src="item.screenshot">
              </div>
              <div class="card-info card-info-box">
                <p>名称：{{item.title}}</p>
                <p>存证码：{{item.rid}}</p>
                <p>MD5码：{{item.md5}}</p>
                <p>存证时间：{{item.cdate}}</p>
                <p class="card-url" @click="urlLink(item.url)" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;color: #0000ee;cursor:pointer">
                  {{ item.url }}
                </p>
              </div>
              <div class="card-operating card-operating-box">
                <el-row>
                  <a :href="item.screenshot"
                    target="_blank">
                    <el-button type="text">快照</el-button>
                  </a>
                </el-row>
                <el-row>
                  <el-button type="text" @click="download(item.rid)">下载资源包</el-button>
                </el-row>
                <el-row>
                  <el-button type="text" @click="downloadPdf(item.rid)">下载存管涵</el-button>
                </el-row>
              </div>
            </div>
          </el-card>
        </div>
      </el-col>
      <el-col :span="24" style="border:1px solid #ededed;margin-top: 10px">
        <h3>跟踪信息</h3>
        <div v-if="detailData.flog" style="padding: 0px 0px 10px 20px;">
          <div v-for="(item,index) in splitObj(detailData.flog)" :key="index" style="height: 40px; line-height: 40px">{{item}}</div>
        </div>
        <div v-else style="padding: 0 0 10px 10px">暂无信息</div>
      </el-col>
    </el-row>
  </el-dialog>
</template>

<script>
import axios from 'axios'
import qs from 'qs'

export default {
  props: {
    id: {
      default: '',
      type: String
    },
  },
  data() {
    return {
      loading: false,
      cardBody: {
        'padding-top': '8px',
        'padding-bottom': '8px',
      },
      detailData: {},
      tableData:[],
      show: true,
    }
  },
  created() {
    this._getDetails()
  },
  methods: {
    _getDetails() {
      this.loading = true
      axios.post(this.$_ + '/Agp/Fapplicant/evidenceView',JSON.stringify({fapplicantid : this.id}))
      .then(res => {
        if (res.data.code === 0) {
          this.loading = false
          this.detailData = res.data.data
          this.tableData = res.data.data2
        } else {
          this.$func._error(res.data.msg)
        }
      }).catch(e => {
        this.$func._error()
      })
    },
    splitObj(val) {
      let arr = val ? val.split('；') : ''
      arr = arr.filter(i=> {
       return i != ''
      })
     return arr
    },
    download(data){
      axios.post(this.$_ + '/Api/Fapplicant/downEvidenceObjext',JSON.stringify({ rid: data }))
      .then(res => {
        if(res.data.code === 0){
          const a = document.createElement('a')
          a.href = res.data.data
          a.target='_blank'
          a.click()
        }else{
           this.$func._error(res.data.msg)
        }
      })
    },
    downloadPdf(data){
      axios.post(this.$_ + '/Api/Fapplicant/downEvidenceLetterPDF',JSON.stringify({rid: data}))
      .then(res => {
        if(res.data.code === 0){
          const c = document.createElement('a')
          c.href = res.data.data
          c.target='_blank'
          c.click()
        }else{
          this.$func._error(res.data.msg)
        }
      })
    },
    urlLink(url) {
      const a = document.createElement('a')
      a.href = url
      a.target = '_blank'
      a.click()
    },
    _colse() {
      this.$emit('close')
    },
  },
}
</script>
<style lang="scss" scoped>
.iss-dialog {
  & /deep/.el-form-item--mini.el-form-item {
    margin-bottom: 6px;
  }
  h3{
    color:#666;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;
  }
  .border-box{
    border: 1px solid #ededed;
  }
  .imgBox{
    display: flex;
    .icard-upload {
      font-size: 28px;
      color: #8c939d;
      width: 180px;
      height: 120px;
      margin: 0px 2px;
      text-align: center;
      border: 1px solid #ededed;
      background-size: 100% 100%;
    }
  }
  .card-row {
    font-size: 14px;
    color: #606266;
    font-weight: bold;
    display: flex;
    .card-box {
      width: 70px;
    }
    .card-image {
      flex-shrink:0;
      width: 160px;
      padding: 0px 10px;
      img {
        width: 100%;
      }
    }
    .card-image-row {
      overflow: hidden;
      height: 130px;
      border: 1px solid #ccc;
    }
    .card-info {
      flex-grow: 1;
      padding: 0px 10px;
      p {
        margin: 6px 0;
        font-weight: bold;
      }
      .price{
        margin-left: 20px;
        color: #00C1DE;
      }
    }
    .card-info-box {
      width: 60%;
      color: #666;
      p:nth-child(1) {
        font-size: 16px;
      }
    }
    .card-operating {
      width: 80px;
      text-align: center;
    }
    .card-operating-box {
      padding: 20px 0px;
    }
  }
}
</style>
