<template>
  <el-upload class="upload" :action="upOptions.up_server"
    :show-file-list="false"
    :auto-upload="true"
    :before-upload="beforeUpload"
    :on-success="uploadSuccess"
    :data="uploadOptions[name]">
    <slot />
  </el-upload>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    name: {
      default: 'name',
      type: String
    },
    beforeVerification: {
      default: true,
      type: Boolean
    }
  },
  data() {
    return {
      uploadOptions: {},
      upOptions: {
        up_server: ""
      },
      bucket_url: '',
    }
  },
  created() {
    this.getToken()
  },
  methods: {
    beforeUpload(file) {
      if (this.beforeVerification) {
        this.uploadOptions[this.name].key = `evidence/${file.uid}`
        const isJPG = file.type === 'image/jpeg'
        const isGIF = file.type === 'image/gif'
        const isPNG = file.type === 'image/png'
        const isLt4M = file.size / 1024 / 1024 < 4
        if (!isJPG && !isGIF && !isPNG) {
          this.$func._error('上传图片必须是JPG/GIF/PNG 格式!')
        }
        if (!isLt4M) {
          this.$func._error('上传图片大小不能超过 4MB!')
        }
        return (isJPG || isGIF || isPNG) && isLt4M
      }
    },

    uploadSuccess(response, file, fileList) {
      let data = {
        url: `${this.bucket_url}${response.key}?attname=${file.name}`,
        name: this.name
      }
      this.$emit('uploadSuccess', data)
    },
    getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions[this.name] = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
  }
}
</script>

<style scoped>
.upload{
  display: inline-block;
}
</style>