<template>
  <div class="main">
    <el-dialog
      title="选择机构"
      :visible.sync="show"
      width="50%"
      :before-close="_colse">
      <div v-loading="tloading">
        <div class="text-right">
          <el-button type="primary" @click="addInfo" style="margin-bottom: 4px;">添 加</el-button>
        </div>
        <el-table
          border
          :data="tableData"
          style="width: 100%">
          <el-table-column type="index" width="40"></el-table-column>
          <el-table-column prop="fentname" label="机构名称" width="180"></el-table-column>
          <el-table-column prop="fcreditid" label="统一社会信用代码" width="180"></el-table-column>
          <el-table-column prop="flerep" label="负责人"></el-table-column>
          <el-table-column label="操作" width="190">
            <template slot-scope="scope">
              <el-button type="text" class="colorGreen" @click="useInfo(scope.row)">使 用</el-button>
              <el-button type="text" class="colorOrange" @click="detailInfo(scope.row.fid)">详 情</el-button>
              <el-button type="text" @click="editInfo(scope.row)">编 辑</el-button>
              <el-popover
                placement="top"
                width="160"
                v-model="scope.row.visible">
                <p>确定要删除吗？</p>
                <div style="text-align: right; margin: 0">
                  <el-button size="mini" type="text" @click="scope.row.visible = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="deletedInfo(scope.row)">确定</el-button>
                </div>
                <el-button type="text" class="colorRed" slot="reference">删 除</el-button>
              </el-popover>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>

    <el-dialog
      :title="title"
      top="10vh"
      :visible.sync="detailDialog"
      width="50%"
      :before-close="detailDialogClose">
      <div v-loading="dloading">
        <el-form :model="addForm" :rules="rules" ref="addForm" label-width="150px">
          <el-form-item label="机构名称：" prop="fentname">
            <span v-if="this.title == '详 情'">{{ addForm.fentname }}</span>
            <el-input v-else v-model="addForm.fentname" placeholder="请输入机构名称" clearable></el-input>
          </el-form-item>
          <el-form-item label="负责人：" prop="flerep">
            <span v-if="this.title == '详 情'">{{ addForm.flerep }}</span>
            <el-input v-else v-model="addForm.flerep" placeholder="请输入负责人" clearable></el-input>
          </el-form-item>
          <el-form-item label="统一社会信用代码：" prop="fcreditid">
            <span v-if="this.title == '详 情'">{{ addForm.fcreditid }}</span>
            <el-input  v-else v-model="addForm.fcreditid" placeholder="请输入统一社会信用代码" clearable></el-input>
          </el-form-item>
          <el-form-item label="负责人身份证：" prop="fidcard">
            <span v-if="this.title == '详 情'">{{ addForm.fidcard }}</span>
            <el-input v-else v-model="addForm.fidcard" placeholder="请输入负责人身份证" clearable></el-input>
          </el-form-item>
          <el-form-item label="负责人身份证：" prop="fidcardurl">
            <div v-if="this.title == '详 情'" class="imgBox">
              <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardurl + ')'}"></p>
              <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardurl2 + ')'}"></p>
            </div>
            <div v-else>
              <file-upload name="fidcardurl" @uploadSuccess="val => uploadSuccess(val, 'fidcardurl','add')">
                <p class="icard-upload"  :style="{backgroundImage: 'url(' + addForm.fidcardurl + ')'}"></p>
                <div class="el-upload__tip">身份证正面照</div>
              </file-upload>
              <file-upload name="fidcardurl2" @uploadSuccess="val => uploadSuccess(val, 'fidcardurl2','add')">
                <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardurl2 + ')'}"></p>
                <div class="el-upload__tip">身份证背面照</div>
              </file-upload>
            </div>
          </el-form-item>
          <el-form-item label="营业执照：" prop="fenturl">
            <div v-if="this.title == '详 情'" class="imgBox">
               <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fenturl + ')'}"></p>
            </div>
            <div v-else>
              <file-upload name="fenturl"  @uploadSuccess="val => uploadSuccess(val, 'fenturl','add')">
                <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fenturl + ')'}"></p>
                <div class="el-upload__tip">营业执照扫描件</div>
              </file-upload>
            </div>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="detailDialogClose()" v-if="this.title != '详 情' ">取 消</el-button>
        <el-button type="primary" @click="dialogSubmit('addForm')" v-if="this.title != '详 情' ">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import icard01 from '../../../../static/img/icard01.jpg'
import icard02 from '../../../../static/img/icard02.jpg'
import icard03 from '../../../../static/img/icard03.jpg'
import fileUpload from './fileUpload'
import axios from 'axios'
  export default {
    components: { fileUpload },
    props:{
      // tableData: {
      //   default: [],
      //   type: Array
      // },
      // title: {
      //   default: '广告列表',
      //   type: String
      // }
    },
    data() {
      return {
        show: true,
        tableData: [],
        tloading: false,
        addForm: {
          fcreditid: '',
          fentname: '',
          flerep: '',
          fidcard: '',
          fidcardurl: icard01,
          fidcardurl2: icard02,
          fenturl: icard03,
        },
        rules: {
          fcreditid: [
            { required: true, message: '请输入统一社会信用代码', trigger: 'blur' },
            { min: 15, max: 20, message: '长度在 15 到 20 个字符', trigger: 'blur' }
          ],
          fentname: [
            { required: true, message: '请输入机构名称', trigger: 'blur' },
            { min: 3, max: 250, message: '长度在 3 到 250 个字符', trigger: 'blur' }
          ],
          flerep: [
            { required: true, message: '请输入负责人', trigger: 'blur' },
            { min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur' }
          ],
          fidcard: [
            { required: true, message: '请输入负责人身份证件号码', trigger: 'blur' },
            { validator: this.IdentityCodeValid, trigger: 'blur' }
          ],
          fenturl: [
            { required: true, message: '请上传营业执照' },
            { validator: this.uploadRule,}
          ],
          fidcardurl: [
            { required: true, message: '请上传身份证件' },
            { validator: this.uploadRule2,}
          ],
        },
        title:'',
        isUpload: false,
        dloading: false,
        detailDialog: false,
      }
    },
    created() {
      this.getData()
    },
    methods: {
      getData() {
        this.tloading = true
        axios.post(this.$_ + '/Agp/Fapplicant/enterpriseList')
        .then(res => {
          if (res.data.code === 0) {
            this.tloading = false
            this.tableData = res.data.data
          } else {
            this.$func._error(res.data.msg)
          }
        }).catch(error => {
          this.$func._error()
        })
      },
      uploadSuccess(data,val) {
        this.$set(this.addForm, val, data.url)
      },
      addInfo() {
        this.detailDialog = true
        this.title = '添 加'
      },
      dialogSubmit(addForm) {
        this.$refs.addForm.validate((valid,obj) => {
          if (valid) {
            let data = {}
            if(this.title === '添 加'){
              data = this.addForm
            } else {
              data = {
                fid: this.id,
                ...this.addForm,
              }
            }
            axios.post(this.$_ + '/Agp/Fapplicant/enterpriseModify', JSON.stringify(data))
            .then(res => {
              if (res.data.code === 0) {
                this.$notify({ title: '消息', message: res.data.msg, type: 'success' })
                this.detailDialogClose()
                this.getData()
              } else {
                this.$func._error(res.data.msg)
              }
            }).catch(error => {
              this.$func._error()
            })
          } else {
            this.$func._error('请确认输入信息是否准确')
            return false
          }
        })
      },
      useInfo(row) {
       this.$emit('useOrg', row)
      },
      detailInfo(id) {
        this.title = '详 情'
        this.dloading = true
        this.detailDialog = true
        axios.post(this.$_ + '/Agp/Fapplicant/enterpriseView', JSON.stringify({fid: id}))
        .then(res => {
          if (res.data.code === 0) {
            this.dloading = false
            this.addForm = {...res.data.data}
          } else {
            this.$func._error(res.data.msg)
          }
        }).catch(error => {
          this.$func._error()
        })
      },
      editInfo(row) {
        this.title = "编 辑"
        this.id = row.fid
        this.addForm = {...row}
        this.detailDialog = true
      },
      deletedInfo(row) {
        row.visible = true
        axios.post(this.$_ + '/Agp/Fapplicant/enterpriseDel', JSON.stringify({fid: row.fid}))
        .then(res => {
          if (res.data.code === 0) {
            row.visible = false
            this.$notify({ title: '消息', message: res.data.msg, type: 'success' })
            this.getData()
          } else {
            this.$func._error(res.data.msg)
          }
        }).catch(error => {
          this.$func._error()
        })
      },
      _colse() {
        this.show = false
        this.$emit('close')
      },
      detailDialogClose() {
        this.detailDialog = false
        this.addForm = {
          fidcardurl: icard01,
          fidcardurl2: icard02,
          fenturl: icard03,
        }
        this.$refs.addForm.resetFields()
      },
      /**
       * 校验身份证
       */
      uploadRule(rule, value, callback){
        if(value == '/static/img/icard03.e82624e.jpg') {
          return callback(new Error('请上传营业执照'))
        } else {
          callback()
        }
      },
      uploadRule2(rule, value, callback){
        if (this.addForm.fidcardurl == '/static/img/icard01.3f6576c.jpg' || this.addForm.fidcardurl2 == '/static/img/icard02.22febcb.jpg') {
          return callback(new Error('请上传身份证件'))
        } else {
           callback()
        }
      },
      IdentityCodeValid(rule, value, callback) {
        let city = { 11: "北京", 12: "天津", 13: "河北", 14: "山西", 15: "内蒙古", 21: "辽宁", 22: "吉林", 23: "黑龙江 ", 31: "上海", 32: "江苏", 33: "浙江", 34: "安徽", 35: "福建", 36: "江西", 37: "山东", 41: "河南", 42: "湖北 ", 43: "湖南", 44: "广东", 45: "广西", 46: "海南", 50: "重庆", 51: "四川", 52: "贵州", 53: "云南", 54: "西藏 ", 61: "陕西", 62: "甘肃", 63: "青海", 64: "宁夏", 65: "新疆", 71: "台湾", 81: "香港", 82: "澳门", 91: "国外 " }
        let tip = ""
        let pass = true
        if (!value || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(value)) {
          return callback(new Error('身份证号格式错误'))
        }
        if (!city[value.substr(0, 2)]) {
          return callback(new Error('地址编码错误'))
        }
        //18位身份证需要验证最后一位校验位
        if (value.length == 18) {
          value = value.split('')
          //∑(ai×Wi)(mod 11)
          //加权因子
          let factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2]
          //校验位
          let parity = [1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2]
          let sum = 0
          let ai = 0
          let wi = 0
          for (let i = 0; i < 17; i++) {
            ai = value[i]
            wi = factor[i]
            sum += ai * wi
          }
          let last = parity[sum % 11]
          if (parity[sum % 11] != value[17]) {
            return callback(new Error('校验位错误'))
          } else {
            callback()
          }
        } else {
          return callback(new Error('请输入正确的身份证号码'))
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
.main{
  & /deep/.el-dialog__body{
    padding-top: 0px;
  }
  & /deep/.el-input--mini {
    width: 55%;
  }
  .icard-upload {
    font-size: 28px;
    color: #8c939d;
    width: 200px;
    height: 130px;
    margin: 0px 2px;
    text-align: center;
    border: 1px solid #ededed;
    background-size: 100% 100%;
  }
  .imgBox{
    display: flex;
  }
  .colorRed{
    color: #F56C6C;
    margin-left: 10px;
  }
  .colorOrange{
    color: #E6A23C;
  }
  .colorGreen{
    color: #67C23A;
  }
}
</style>