<template>
  <div class="main">
    <el-dialog
      :title="'选择' + perTitle"
      :visible.sync="show"
      width="50%"
      :before-close="_colse">
      <div v-loading="tloading">
        <div class="text-right">
          <el-button type="primary" @click="addInfo" style="margin-bottom: 4px;">添 加</el-button>
        </div>
        <el-table
          border
          :data="tableData"
          style="width: 100%">
          <el-table-column type="index" width="40"></el-table-column>
          <el-table-column prop="fname" label="姓名"></el-table-column>
          <el-table-column prop="fmobile" label="手机号码"></el-table-column>
          <el-table-column prop="faddress" label="地址" v-if="perType === 3"></el-table-column>
          <el-table-column prop="fidcard" label="身份证号" v-if="perType !== 3"></el-table-column>
          <el-table-column prop="fposition" label="职务" v-if="perType === 2"></el-table-column>
          <el-table-column label="操作" width="190">
            <template slot-scope="scope">
              <el-button type="text" class="colorGreen" @click="useInfo(scope.row)">使 用</el-button>
              <el-button type="text" class="colorOrange" @click="detailInfo(scope.row.fid)">详 情</el-button>
              <el-button type="text" @click="editInfo(scope.row)">编 辑</el-button>
              <el-popover
                placement="top"
                width="160"
                v-model="scope.row.visible">
                <p>确定要删除吗？</p>
                <div style="text-align: right; margin: 0">
                  <el-button size="mini" type="text" @click="scope.row.visible = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="deletedInfo(scope.row)">确定</el-button>
                </div>
                <el-button type="text" class="colorRed" slot="reference">删 除</el-button>
              </el-popover>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>

    <el-dialog
      :title="title"
      top="10vh"
      :visible.sync="detailDialog"
      width="50%"
      :before-close="detailDialogClose">
      <div v-loading="dloading">
        <el-form :model="addForm" :rules="rules" ref="addForm" label-width="140px">
          <div v-if="perType === 3">
            <el-form-item label="收件人：" prop="fname">
              <span v-if="this.title == '详 情'">{{ addForm.fname }}</span>
              <el-input v-else v-model="addForm.fname" placeholder="请输入收件人" clearable></el-input>
            </el-form-item>
            <el-form-item label="收件人手机：" prop="fmobile">
              <span v-if="this.title == '详 情'">{{ addForm.fmobile }}</span>
              <el-input v-else v-model="addForm.fmobile" placeholder="请输入收件人手机号码" clearable></el-input>
            </el-form-item>
            <el-form-item label="收件人地址：" prop="faddress">
               <span v-if="this.title == '详 情'">{{ addForm.faddress }}</span>
              <el-input v-else v-model="addForm.faddress" placeholder="请输入收件人地址" clearable></el-input>
            </el-form-item>
            <el-form-item label="备注：" prop="fnote">
               <span v-if="this.title == '详 情'">{{ addForm.fnote }}</span>
              <el-input v-else v-model="addForm.fnote" placeholder="请输入备注" type="textarea" :autosize="{ minRows: 4, maxRows: 8}"></el-input>
            </el-form-item>
          </div>

          <div v-else>
            <el-form-item
              v-if="perType === 1"
              label="申办人姓名："
              prop="fname">
              <span v-if="this.title == '详 情'">{{ addForm.fname }}</span>
              <el-input v-else v-model="addForm.fname" placeholder="请输入申办人姓名" clearable></el-input>
            </el-form-item>
            <el-form-item
              v-if="perType === 2"
              label="代办人姓名："
              prop="fname">
              <span v-if="this.title == '详 情'">{{ addForm.fname }}</span>
              <el-input v-else v-model="addForm.fname" placeholder="请输入代办人姓名" clearable></el-input>
            </el-form-item>
            <el-form-item v-if="perType === 2" label="代办人职务：" prop="fposition" >
              <span v-if="this.title == '详 情'">{{ addForm.fposition }}</span>
              <el-input v-else v-model="addForm.fposition" placeholder="请输入代办人职务" clearable></el-input>
            </el-form-item>
            <el-form-item label="手机号码：" prop="fmobile">
              <span v-if="this.title == '详 情'">{{ addForm.fmobile }}</span>
              <el-input v-else v-model="addForm.fmobile" placeholder="请输入手机号码" clearable></el-input>
            </el-form-item>
            <el-form-item label="身份证号码：" prop="fidcard">
              <span v-if="this.title == '详 情'">{{ addForm.fidcard }}</span>
              <el-input v-else v-model="addForm.fidcard" placeholder="请输入身份证号码" clearable></el-input>
            </el-form-item>
            <el-form-item
              v-if="perType === 1"
              label="申办人身份证："
              prop="fidcardurl"
              label-width="130px">
              <div v-if="this.title == '详 情'" class="imgBox">
                <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardurl + ')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardurl2 + ')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardfeelurl + ')'}"></p>
              </div>
              <div v-else>
                <file-upload name="fidcardurl"
                  @uploadSuccess="val => uploadSuccess(val, 'fidcardurl')">
                  <p class="icard-upload"
                    :style="{backgroundImage: 'url(' + addForm.fidcardurl + ')'}"></p>
                  <div class="el-upload__tip">身份证正面照</div>
                </file-upload>
                <file-upload name="fidcardurl2"
                  @uploadSuccess="val => uploadSuccess(val, 'fidcardurl2')">
                  <p class="icard-upload"
                    :style="{backgroundImage: 'url(' + addForm.fidcardurl2 + ')'}"></p>
                  <div class="el-upload__tip">身份证背面照</div>
                </file-upload>
                <file-upload name="fidcardfeelurl"
                  @uploadSuccess="val => uploadSuccess(val, 'fidcardfeelurl')">
                  <p class="icard-upload"
                    :style="{backgroundImage: 'url(' + addForm.fidcardfeelurl + ')'}"></p>
                  <div class="el-upload__tip">手持身份证照片</div>
                </file-upload>
              </div>
            </el-form-item>
            <el-form-item v-if="perType === 2"
              prop="fidcardurl"
              label="代办人身份证："
              label-width="130px">
              <div v-if="this.title == '详 情'" class="imgBox">
                <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardurl + ')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardurl2 + ')'}"></p>
                <p class="icard-upload" :style="{backgroundImage: 'url(' + addForm.fidcardfeelurl + ')'}"></p>
              </div>
              <div v-else>
                <file-upload name="fidcardurl"
                  @uploadSuccess="val => uploadSuccess(val, 'fidcardurl')">
                  <p class="icard-upload"
                    :style="{backgroundImage: 'url(' + addForm.fidcardurl + ')'}"></p>
                  <div class="el-upload__tip">身份证正面照</div>
                </file-upload>
                <file-upload name="fidcardurl2"
                  @uploadSuccess="val => uploadSuccess(val, 'fidcardurl2')">
                  <p class="icard-upload"
                    :style="{backgroundImage: 'url(' + addForm.fidcardurl2 + ')'}"></p>
                  <div class="el-upload__tip">身份证背面照</div>
                </file-upload>
                <file-upload name="fidcardfeelurl"
                  @uploadSuccess="val => uploadSuccess(val, 'fidcardfeelurl')">
                  <p class="icard-upload"
                    :style="{backgroundImage: 'url(' + addForm.fidcardfeelurl + ')'}"></p>
                  <div class="el-upload__tip">手持身份证照片</div>
                </file-upload>
              </div>
            </el-form-item>
          </div>

        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="detailDialogClose()" v-if="this.title != '详 情' ">取 消</el-button>
        <el-button type="primary" @click="dialogSubmit('addForm')" v-if="this.title != '详 情' ">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import icard01 from '../../../../static/img/icard01.jpg'
import icard02 from '../../../../static/img/icard02.jpg'
import icard03 from '../../../../static/img/icard03.jpg'
import fileUpload from './fileUpload'
import axios from 'axios'
  export default {
    components: { fileUpload },
    props:{
      // tableData: {
      //   default: [],
      //   type: Array
      // },
      perTitle: {
        default: '',
        type: String
      },
      perType: {
        type: [Number,String]
      },
    },
    data() {
      return {
        show: true,
        tableData: [],
        tloading: false,
        addForm: {
          fname: '',
          fmobile:'',
          fidcard: '',
          fposition: '',
          fidcardurl: icard01,
          fidcardurl2: icard02,
          fidcardfeelurl: icard03,
        },
        rules: {
          fname: [ { required: true, message: '请输入姓名', trigger: 'blur' } ],
          faddress: [ { required: true, message: '请输入地址', trigger: 'blur' } ],
          fnote: [ { required: true, message: '请输入备注', trigger: 'blur' } ],
          fposition: [ { required: true, message: '请输入职务', trigger: 'blur' } ],
          fmobile: [ { required: true, message: '请输入手机号码', trigger: 'blur' }, { validator: this.checkPhone, trigger: 'blur' } ],
          fidcard: [ { required: true, message: '请输入身份证件号码', trigger: 'blur' }, { validator: this.IdentityCodeValid, trigger: 'blur' } ],
          fidcardurl: [ { required: true, message: '请上传证件' },{ validator: this.uploadRule,} ],
        },
        title:'',
        id: '',
        detailDialog: false,
        dloading: false,
      }
    },
    created() {
      this.getData()
    },
    methods: {
      getData() {
        this.tloading = true
        const data = {
          ftype: this.perType
        }
        axios.post(this.$_ + '/Agp/Fapplicant/personList',JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tloading = false
            this.tableData = res.data.data
          } else {
            this.$func._error(res.data.msg)
          }
        }).catch(error => {
          this.$func._error()
        })
      },
      uploadSuccess(data,val) {
        this.$set(this.addForm, val, data.url)
      },
      addInfo() {
        this.detailDialog = true
        this.title = '添 加'
      },
      dialogSubmit(addForm) {
        this.$refs.addForm.validate((valid) => {
          if (valid) {
            let data = {}
            if(this.title === '添 加'){
              const data1 = {
                ftype: this.perType,
                ...this.addForm
              }
              data = { ...data1}
            } else if (this.title === '编 辑'){
              const data2 = {
                fid: this.id,
                ...this.addForm,
              }
              data = { ...data2}
            }
            axios.post(this.$_ + '/Agp/Fapplicant/personModify', JSON.stringify(data))
            .then(res => {
              if (res.data.code === 0) {
                this.$notify({ title: '消息', message: res.data.msg, type: 'success' })
                this.detailDialogClose()
                this.getData()
              } else {
                this.$func._error(res.data.msg)
              }
            }).catch(error => {
              this.$func._error()
            })
          } else {
            this.$func._error('请确认输入信息是否准确')
            return false
          }
        })
      },
      useInfo(row) {
        this.$emit('use', row, this.perType)
      },
      detailInfo(id) {
        this.title = '详 情'
        this.detailDialog = true
        this.dloading = true
        axios.post(this.$_ + '/Agp/Fapplicant/personView', JSON.stringify({fid: id}))
        .then(res => {
          if (res.data.code === 0) {
             this.dloading = false
            this.addForm = {...res.data.data}
          } else {
            this.$func._error(res.data.msg)
          }
        }).catch(error => {
          this.$func._error()
        })
      },
      editInfo(row) {
        this.title = "编 辑"
        this.id = row.fid
        this.addForm = {...row}
        this.detailDialog = true
      },
      deletedInfo(row) {
        row.visible = true
        axios.post(this.$_ + '/Agp/Fapplicant/personDel', JSON.stringify({fid: row.fid}))
        .then(res => {
          if (res.data.code === 0) {
            row.visible = false
            this.$notify({ title: '消息', message: res.data.msg, type: 'success' })
            this.getData()
          } else {
            this.$func._error(res.data.msg)
          }
        }).catch(error => {
          this.$func._error()
        })
      },
      _colse() {
        this.show = false
        this.$emit('close')
      },
      detailDialogClose() {
        this.detailDialog = false
        this.addForm = {
          fidcardurl: icard01,
          fidcardurl2: icard02,
          fidcardfeelurl: icard03,
        }
        this.$refs.addForm.resetFields()
      },
      /**
       * 校验身份证 手机
       */
      uploadRule(rule, value, callback){
        const card1 = this.addForm.fidcardurl === '/static/img/icard01.3f6576c.jpg'
        const card2 = this.addForm.fidcardurl2 === '/static/img/icard02.22febcb.jpg'
        const card3 = this.addForm.fidcardfeelurl === '/static/img/icard03.e82624e.jpg'
        if ( card1 || card2 || card3) {
          return callback(new Error('请上传身份证件'))
        } else {
           callback()
        }
      },
      checkPhone(rule, value, callback) {
        if (!value) {
          return callback(new Error('手机号不能为空'))
        } else {
          const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
          if (reg.test(value)) { callback() } else { return callback(new Error('请输入正确的手机号')) }
        }
      },
      IdentityCodeValid(rule, value, callback) {
        let city = { 11: "北京", 12: "天津", 13: "河北", 14: "山西", 15: "内蒙古", 21: "辽宁", 22: "吉林", 23: "黑龙江 ", 31: "上海", 32: "江苏", 33: "浙江", 34: "安徽", 35: "福建", 36: "江西", 37: "山东", 41: "河南", 42: "湖北 ", 43: "湖南", 44: "广东", 45: "广西", 46: "海南", 50: "重庆", 51: "四川", 52: "贵州", 53: "云南", 54: "西藏 ", 61: "陕西", 62: "甘肃", 63: "青海", 64: "宁夏", 65: "新疆", 71: "台湾", 81: "香港", 82: "澳门", 91: "国外 " }
        let tip = ""
        let pass = true
        if (!value || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(value)) {
          return callback(new Error('身份证号格式错误'))
        }
        if (!city[value.substr(0, 2)]) {
          return callback(new Error('地址编码错误'))
        }
        //18位身份证需要验证最后一位校验位
        if (value.length == 18) {
          value = value.split('')
          //∑(ai×Wi)(mod 11)
          //加权因子
          let factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2]
          //校验位
          let parity = [1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2]
          let sum = 0
          let ai = 0
          let wi = 0
          for (let i = 0; i < 17; i++) {
            ai = value[i]
            wi = factor[i]
            sum += ai * wi
          }
          let last = parity[sum % 11]
          if (parity[sum % 11] != value[17]) {
            return callback(new Error('校验位错误'))
          } else {
            callback()
          }
        } else {
          return callback(new Error('请输入正确的身份证号码'))
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
.main{
  & /deep/.el-dialog__body{
    padding-top: 0px;
  }
  & /deep/.el-input--mini {
    width: 55%;
  }
 .icard-upload {
    font-size: 28px;
    color: #8c939d;
    width: 200px;
    height: 130px;
    margin: 0px 2px;
    text-align: center;
    border: 1px solid #ededed;
    background-size: 100% 100%;
  }
  .imgBox{
   display: flex;
  }
  .colorRed{
    color: #F56C6C;
    margin-left: 10px;
  }
  .colorOrange{
    color: #E6A23C;
  }
  .colorGreen{
    color: #67C23A;
  }
}
</style>