<template>
  <div class="chu-zhi">
    <clue-disposal-table :innerVisible="innerVisible"
      :disposalForm="disposalForm"
      @closePreview="innerVisible = false">
    </clue-disposal-table>
    <clue-Inform-table :innerVisible="innerVisible2"
      :backForm="backForm"
      @closePreview="innerVisible2 = false">
    </clue-Inform-table>
    <el-card>
      <el-tabs v-model="activeName">
        <el-tab-pane label="通知书"
          name="1">
          <h4>涉嫌违法广告线索处置通知书 <el-button type="text"
              @click="_formPreview('innerVisible')">预览</el-button>
          </h4>
          <el-form :model="disposalForm"
            label-width="80px">
            <el-form-item label="文号">
              <el-input v-model="disposalForm.fdnum"
                placeholder="例：[2017] 157"></el-input>
            </el-form-item>
            <el-form-item label="机关名称">
              <el-select v-model="disposalForm.fwaitregulatorid"
                placeholder="请选择"
                style="width:100%"
                @change="_setRegName">
                <el-option v-for="item in lowerTregulator"
                  :key="item.fid"
                  :label="item.fname"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="举报信息">
              <el-input v-model="disposalForm.ffromwho"></el-input>
            </el-form-item>
            <el-form-item label="发布媒体">
              <el-input v-model="disposalForm.fdreportmedianame"></el-input>
            </el-form-item>
            <el-form-item label="附件">
              <el-select clearable
                multiple
                v-model="selectedList"
                placeholder="请选择"
                style="width:100%"
                @change="_setAttach">
                <el-option v-for="item in selectAttach"
                  :key="item"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
              <el-input type="textarea"
                autosize
                style="margin-top:10px"
                v-model="disposalForm.fdfiletext"></el-input>
            </el-form-item>
            <el-form-item label="联系人">
              <el-input v-model="disposalForm.fdpersonname"></el-input>
            </el-form-item>
            <el-form-item label="联系电话">
              <el-input v-model="disposalForm.fdpersonmobile"></el-input>
            </el-form-item>
            <el-form-item label="发文单位">
              <el-input v-model="disposalForm.fdgiveregulatorname"></el-input>
            </el-form-item>
            <el-form-item label="处置日期">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="disposalForm.fdmovetime"
                type="date"
                placeholder="选择日期"
                format="yyyy年MM月dd日"
                value-format="yyyy年MM月dd日"
                @change="val=>backForm.fdreleasetime2=val">
              </el-date-picker>
            </el-form-item>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="处理告知书"
          name="2">
          <h4>处理告知书 <el-button type="text"
              @click="_formPreview('innerVisible2')">预览</el-button>
          </h4>
          <el-form v-model="backForm"
            label-width="100px">
            <el-form-item label="编号">
              <el-input v-model="backForm.fdnum2"></el-input>
            </el-form-item>
            <el-form-item label="收件人/单位">
              <el-input v-model="backForm.fdgetpersonname2"></el-input>
            </el-form-item>
            <el-form-item label="举报日期">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="backForm.fdreporttime2"
                type="date"
                placeholder="选择日期"
                :default-value="new Date()"
                format="yyyy年MM月dd日"
                value-format="yyyy年MM月dd日">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="涉嫌违法媒介">
              <el-input v-model="backForm.fdreportmedianame2"></el-input>
            </el-form-item>
            <el-form-item label="移送单位">
              <el-input v-model="backForm.fdreleasecompany2"></el-input>
            </el-form-item>
            <el-form-item label="告知日期">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="backForm.fdreleasetime2"
                type="date"
                placeholder="选择日期"
                :default-value="new Date()"
                format="yyyy年MM月dd日"
                value-format="yyyy年MM月dd日">
              </el-date-picker>
            </el-form-item>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import clueDisposalTable from './tablePreview/clueDisposalTable'
import clueInformTable from './tablePreview/clueInformTable'
export default {
  props: ['lowerTregulator', 'selectAttach'],
  components: {
    clueDisposalTable,
    clueInformTable
  },
  data() {
    return {
      innerVisible: false,
      innerVisible2: false,
      //涉嫌违法广告线索移交通知书
      disposalForm: {
        fdnum: '',
        fwaitregulatorid: '',
        fdwaitregulatorname: '',
        ffromwho: '',
        fdreportmedianame: '',
        fdpersonmobile: '',
        fdpersonname: '',
        fdfiletext: '',
        fdgiveregulatorname: this.$store.state.userInfo.regulatorpname,
        fdmovetime: this.$dayjs().format('YYYY年MM月DD日')
      },
      backForm: {
        fdnum2: '',
        fdgetpersonname2: '',
        fdreporttime2: '',
        fdreportmedianame2: '',
        fdreleasetime2: '',
        fdreleasecompany2: ''
      },
      selectedList: [],
      activeName: '1'
    }
  },
  methods: {
    _setAttach() {
      this.disposalForm.fdfiletext = this.selectedList.join('\n')
    },
    _setRegName(val) {
      let obj = this.lowerTregulator.filter(item => {
        return item.fid === val
      })
      this.disposalForm.fdwaitregulatorname = obj[0].fname
      this.backForm.fdreleasecompany2 = obj[0].fname
    },
    _formPreview(val) {
      this[val] = true
    },
  }
}
</script>
