<template>
  <div class="cuiban">
    <cuiban-table
      :innerVisible="innerVisible"
      :form="form"
      @closePreview="innerVisible = false">
    </cuiban-table>
    <el-card>
      <h4>涉嫌违法广告线索处置催办通知书 <el-button type="text"  @click="_formPreview('innerVisible')">预览</el-button></h4>
      <el-form v-model="form"  label-width="80px">
        <el-form-item label="文号">
          <el-input v-model="form.fdnum"></el-input>
        </el-form-item>
        <el-form-item label="收文单位">
          <el-input v-model="form.fdwaitregulatorname"></el-input>
        </el-form-item>
        <el-form-item label="转交日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="form.fdmovetime"
            type="date"
            placeholder="选择日期"
            :default-value="new Date()"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="截止日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="form.fdendtime"
            type="date"
            placeholder="选择日期"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="发文单位">
          <el-input v-model="form.fdgiveregulatorname"></el-input>
        </el-form-item>
        <el-form-item label="发文日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="form.fdsendtime"
            type="date"
            placeholder="选择日期"
            :default-value="new Date()"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import cuibanTable from './tablePreview/cuibanTable'
export default {
  components: {
    cuibanTable
  },
  data(){
    return {
      form: {
        fdnum: '',
        fdwaitregulatorname: '',
        fdmovetime: '',
        fdendtime: '',
        fdsendtime: this.$dayjs().format('YYYY年MM月DD日'),
        fdgiveregulatorname: this.$store.state.userInfo.regulatorpname,
      },
      innerVisible: false
    }
  },
  methods: {
    _formPreview(val){
      this[val] = true
    },
  }
}
</script>
