<template>
  <div class="flow-table">
    <el-table
      :data="flowData"
      stripe
      border
      style="width: 100%"
      max-height="300">
      <el-table-column
        prop="fflowname"
        label="环节"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="fcreateregualtorpersonname"
        label="经办人"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="ffinishtime"
        label="办理时间"
        width="150"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="fcreateregualtorpname"
        label="机关"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="fcreateregualtorname"
        label="部门"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="freason"
        label="流程结果"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        prop="fcreateinfo"
        label="办理意见"
        show-overflow-tooltip>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
export default {
  props:['flowData']
}
</script>
