
<template>
  <div class="registration-form">
    <el-dialog title="线索登记"
      :visible.sync="show"
      :center="true"
      :lock-scroll="true"
      width="80%"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :show-close="true"
      :before-close="_close">
      <approval-table
        :registrationForm="registrationForm"
        :innerVisible="innerVisible"
        @closePreview="_closePreview">
      </approval-table>
      <el-row :gutter="20">
        <el-col :span="14">
          <el-form :model="registrationForm"  ref="registrationForm">
            <fieldset>
              <legend>线索基本信息</legend>
              <el-col :span="12">
                <el-form-item
                  label="标题"
                  label-width="80px">
                  <el-input v-model="registrationForm.fname" placeholder="（必填）"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="登记时间" label-width="80px">
                  <el-date-picker :editable="false"
                    style="width:100%"
                    v-model="registrationForm.fcreatetime"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期">
                  </el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  label="文号"
                  label-width="80px">
                  <el-input v-model="registrationForm.fnumber" placeholder="（必填）"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="来源分类" label-width="80px">
                  <el-select v-model="registrationForm.ffromtype" placeholder="请选择" style="width:100%">
                    <el-option
                      v-for="item in clueFrom"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </fieldset>
            <fieldset v-if="registrationForm.ffromtype === '20'">
              <legend>线索提供人信息</legend>
              <div v-if="registrationForm.ffromtype === '20'">
                <h5>投诉举报人 / 单位信息</h5>
                <el-row>
                  <el-form v-model="registrationForm" label-width="80px" >
                    <el-form-item label="举报人">
                      <el-radio-group v-model="registrationForm.fpersontype">
                        <el-radio label="10">个人</el-radio>
                        <el-radio label="20">单位</el-radio>
                      </el-radio-group>
                    </el-form-item>
                    <el-col :span="8">
                      <el-form-item label="个人姓名" v-if="registrationForm.fpersontype === '10'">
                        <el-input v-model="registrationForm.fpersonname"></el-input>
                      </el-form-item>
                      <el-form-item label="单位法人" v-if="registrationForm.fpersontype === '20'">
                        <el-input v-model="registrationForm.fpersonname"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="证件号码" v-if="registrationForm.fpersontype === '10'">
                        <el-input v-model="registrationForm.fpersoncard"></el-input>
                      </el-form-item>
                      <el-form-item label="所在单位" v-if="registrationForm.fpersontype === '20'">
                        <el-input v-model="registrationForm.fpersoncompany"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="联系电话">
                        <el-input v-model="registrationForm.fpersonmobile"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="邮政编码">
                        <el-input v-model="registrationForm.fpersonpostcode"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="联系地址">
                        <el-input v-model="registrationForm.fpersonadress"></el-input>
                      </el-form-item>
                    </el-col>
                  </el-form>
                </el-row>
              </div>
              <div v-if="registrationForm.ffromtype === '30' || registrationForm.ffromtype === '40'">
                <h5>移送、交办机关</h5>
                <el-row>
                  <el-form v-model="registrationForm" label-width="80px" >
                    <el-col :span="8">
                      <el-form-item label="机关名称">
                        <el-input v-model="registrationForm.fpersoncompany"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="邮政编码">
                        <el-input v-model="registrationForm.fpersonpostcode"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="联系人">
                        <el-input v-model="registrationForm.fpersonname"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="联系电话">
                        <el-input v-model="registrationForm.fpersonmobile"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="联系地址">
                        <el-input v-model="registrationForm.fpersonadress"></el-input>
                      </el-form-item>
                    </el-col>
                  </el-form>
                </el-row>
              </div>
            </fieldset>
            <fieldset>
              <legend>线索摘要登记</legend>
              <el-col :span="24">
                <el-form-item label="摘要内容" label-width="80px">
                  <el-input type="textarea" :rows="5" v-model="registrationForm.fregistercontents"></el-input>
                </el-form-item>
              </el-col>
            </fieldset>
            <el-col :span="12">
              <el-form-item
                label="交办部门"
                label-width="80px">
                <el-select
                  v-model="registrationForm.fwaitregulatorid"
                  placeholder="（必选）"
                  @change="_setName"
                  style="width:100%">
                  <el-option v-for="item in orgList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="交办人" label-width="80px">
                <el-select
                  placeholder="（必选）"
                  :disabled="!registrationForm.fwaitregulatorid"
                  v-model="registrationForm.fwaitpersonid"
                  style="width:100%">
                  <el-option v-for="item in orgPeopleList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-form>
          <h3><el-button class="pull-right" type="text" @click="innerVisible = true">预览表格</el-button></h3>
        </el-col>
        <el-col :span="10">
          <flow-table
            v-if="!isregistration"
            :flowData="flowData"
          ></flow-table>
          <h4>附件列表</h4>
          <ill-annex
            :showUpload="true"
            :attachInfo="attachInfo"
            :clueList="clueList"
            :uploading="uploading"
            @showDetails="_getAdDetails"
            @uploadSuccess="_uploadSuccess"
            @uploadProgress="_uploadProgress"
            @uploadError="_uploadError">
          </ill-annex>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_checkDl(2)" v-if="isregistration">提 交</el-button>
        <el-button type="primary" @click="_submit(2)" v-else>提 交</el-button>
        <el-button @click="_checkDl(1)" v-if="isregistration">保 存</el-button>
        <el-button @click="_submit(1)" v-else>保 存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import flowTable from './flowTable'
import approvalTable from './tablePreview/approvalTbale'
import illAnnex from './illAnnex'
import { _getClueList }  from '../../../../static/js/common'
import axios from 'axios'
import qs from 'qs'
export default {
  components:{
    approvalTable,
    illAnnex,
    flowTable
  },
  props:['registrationdata','cluelist','isregistration','mclass'],
  data(){
    return {
      flowData: [],
      registrationForm: {
        fid: '',
        fname: '',
        fillegaladid: [],
        fpersonname: '',
        fpersoncard: '',
        fpersoncompany: '',
        fpersonmobile: '',
        fpersonadress: '',
        fpersonpostcode: '',
        fnumber: '',
        ffromtype: '10',
        fregistercontents: '',
        fpersontype: '10',
        fcreatetime: this.$dayjs().format('YYYY-MM-DD'),
        fwaitpersonid: '',
        fwaitregulatorid: ''
      },
      clueList: [],
      innerVisible: false,
      adDetail: false,
      annexDetails:{
        data: {}
      },
      activeTab: 'adInfo',
      attachInfo: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      show: true,
      orgList:[],
      orgPeopleList: [],
      clueFrom: [],
      dr_name: '',
      dr_dlid: ''
    }
  },
  created(){
    if(this.cluelist){
      if(this.cluelist.length){
        this.clueFrom = this.$store.state.clueFrom.slice(0,1)
      }else{
        this.clueFrom = this.$store.state.clueFrom.slice(1)
        this.registrationForm.ffromtype = this.clueFrom[0]['value']
      }
    }else{
      this.clueFrom = this.$store.state.clueFrom
    }
    if(this.isregistration && this.cluelist){
      _getClueList(this,this.cluelist,this.mclass)
      this.registrationForm.fillegaladid = this.cluelist
    }
    this._getSameOrg()
    if(this.isregistration){
      this._get_dl_list()
    }
  },
  methods: {
    /**
     * 提交登记表
     */
    _submit(type){
      if(!this.registrationForm.fname){
        this.$message.error('请填写标题！')
        return false
      }
      if(!this.registrationForm.fnumber){
        this.$message.error('请填写文号！')
        return false
      }
      if(!this.registrationForm.fwaitregulatorid){
        this.$message.error('请选择交办部门！')
        return false
      }
      if(!this.registrationForm.fwaitpersonid){
        this.$message.error('请选择交办人！')
        return false
      }
      let url  = this.isregistration ? '/Agp/Fxsdengji/create_register' : '/Agp/Fxsdengji/update_register'
      this.registrationForm.submit = type
      this.registrationForm.attachinfo = this.changeAttachInfo
      if(this.registrationForm.ffromtype === '30' || this.registrationForm.ffromtype === '40'){
        this.registrationForm.fpersontype = '30'
      }else if(this.registrationForm.ffromtype === '10'){
        this.registrationForm.fpersontype = '0'
      }
      axios.post(this.$_ + url,qs.stringify(this.registrationForm))
      .then(res => {
        if(res.data.code === 0){
          this.$message({
            message: '操作成功',
            type: 'success'
          })
        }
      })
      .catch(() => {
        this.$message.error('网络错误')
      })
      this.$emit('close')
    },
    /**
     * 关闭 dialog
     */
    _close(){
      this.$emit('close')
    },
    _closePreview(){
      this.innerVisible = false
    },
    /**
     * 获取附件详情
     * @param { id } 附件id
     */
    _getAdDetails(obj){
      axios.post(this.$_ + '/Agp/ClueRegister/get_tillegalad_details',qs.stringify({'fillegaladid':obj.fillegaladid}))
      .then( res => {
        if(res.data.code === 0){
          this.adDetail = true
          this.annexDetails = res.data.data
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _uploadSuccess(Obj){
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      this.attachInfo.unshift(obj)
      this.changeAttachInfo.push(obj)
      this.uploading = false
      this.$message({
        message: '附件上传成功',
        type: 'success'
      })
    },
    _uploadProgress(){
      this.uploading = true
    },
    _uploadError(){
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    _getRegDetails(id){
      axios.post(this.$_ + '/Agp/Fxsdengji/get_registerview',qs.stringify({fid: id}))
      .then(res => {
        if(res.data.code === 0){
          if(res.data.data.data.ffromtype === '10'){
            this.clueFrom = this.$store.state.clueFrom.slice(0,1)
          }else{
            this.clueFrom = this.$store.state.clueFrom.slice(1)
          }
          this.attachInfo = res.data.data.data.refiles
          this.flowData = res.data.data.data.flow
          for(let value in this.registrationForm){
            this.registrationForm[value] = res.data.data.data[value]
            if(value === 'fwaitregulatorid' || value === 'fwaitpersonid'){
              let a = res.data.data.data[value]
              this.registrationForm[value] = Number(a) ? this.registrationForm[value] : ''
            }
          }
          if(res.data.data.data.ffromtype === '10'){
            let fillegaladid = []
            res.data.data.data.fillegaladid.forEach(item => {
              fillegaladid.push(item.fid)
            })
            let mclass = res.data.data.data.fillegaladid[0].fmedia_class
            _getClueList(this,fillegaladid,mclass)
          }
          this._setName(res.data.data.data.fwaitregulatorid)
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _getSameOrg(){
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
      .then(res => {
        if(res.data.code === 0){
          this.orgList = res.data.data
        }
      })
    },
    _setName(val){
      this.orgList.forEach(item => {
        if(item.fid === val){
          this.registrationForm.fwaitregulatorname = item.fname
        }
      })
      axios.post(this.$_ + '/Agp/Core/get_tregulator_person',qs.stringify({treid:val}))
      .then(res => {
        if(res.data.code === 0){
          this.orgPeopleList = res.data.data
        }
      })
    },
    _get_dl_list() {
      let data = {
        ws_type_ids: '9',
        dl_regulatorname: this.$store.state.userInfo.regulatorname
      }
      axios.post(this.$_ + '/Agp/WsTemp/get_ws_number', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let data = res.data.data[0]
            this.registrationForm.fnumber = data.wsh
            this.registrationForm.fname = data.dl_doctitle
            this.dr_dlid = data.dl_id
            this.dr_name = data.wsh
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _checkDl(type) {
      let data = {
        dr_name: this.dr_name,
        dr_dlid: this.dr_dlid
      }
      axios.post(this.$_ + '/Agp/WsTemp/vad_wh', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._submit(type)
          } else {
            this.$func._error(res.data)
          }
        })
    },
  }
}
</script>
