<template>
  <div class="track-form">
    <el-dialog title="线索跟踪"
      :visible.sync="show"
      :before-close="_close"
      center
      width="1000px"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <approval-table
        :innerVisible="innerVisible"
        :registrationForm="registrationForm"
        @closePreview="innerVisible = false">
      </approval-table>
      <el-row :gutter="10">
        <el-col :span="12">
          <h4 style="margin:10px 0;">登记表预览</h4>
          <el-button type="primary"  @click="innerVisible = true">登记表预览</el-button>
          <h4 style="margin:10px 0;">附件信息</h4>
          <ill-annex
            :showUpload="false"
            :attachInfo="attachInfo"
            :clueList="clueList"
            :uploading="uploading"
            @uploadSuccess="_uploadSuccess"
            @uploadProgress="_uploadProgress"
            @uploadError="_uploadError"
            :toServer="true"
            :changeAttachInfo="changeAttachInfo"
            :fillegaladflowid="registrationForm.fillegaladflowid"
            :fregisterid="registrationForm.fregisterid">
          </ill-annex>
          <flow-table :flowData="flowData"></flow-table>
        </el-col>
        <el-col :span="12">
          <el-form label-width="80px">
            <el-form-item label="跟踪类型">
              <el-radio-group v-model="trackType" :disabled="(attachInfo !== null && clueList !== null) ? false : true">
                <el-radio label="cb">催办</el-radio>
                <el-radio label="db">督办</el-radio>
                <el-radio label="jd">监督</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-form>
          <duban ref="db" v-if="trackType === 'db'"></duban>
          <cuiban ref="cb" v-if="trackType === 'cb'"></cuiban>
          <jiandu ref="jd" v-if="trackType === 'jd'"></jiandu>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary"
          @click="_submit"
          :disabled="(attachInfo !== null && clueList !== null) ? false : true">
          提 交
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import approvalTable from './tablePreview/approvalTbale'
import illAnnex from './illAnnex'
import flowTable from './flowTable'
import duban from './duban'
import cuiban from './cuiban'
import jiandu from './jiandu'
import { _getClueList }  from '../../../../static/js/common'
import axios from 'axios'
import qs from 'qs'
export default {
  props:['fid'],
  components: {
    approvalTable,
    illAnnex,
    flowTable,
    duban,
    cuiban,
    jiandu
  },
  data(){
    return {
      show: true,
      innerVisible: false,
      registrationForm: {},
      attachInfo:null,
      clueList: null,
      uploading: false,
      changeAttachInfo: [],
      flowData: [],
      trackType: 'cb'
    }
  },
  created(){
    this._getDetails(this.fid)
  },
  methods: {
    _submit(){
      let obj = {
        fid: this.fid,
      }
      let data = null
      let url = ''
      switch(this.trackType)
      {
        case 'cb': 
          url = "/Agp/Fxsgenzong/reminder_register"
          data = {...obj,...this.$refs.cb.form}
        break
        case 'db': 
          url = "/Agp/Fxsgenzong/supervise_register"
          data = {...obj,...this.$refs.db.form}
        break
        case 'jd': 
          url = "/Agp/Fxsgenzong/enforcement_register"
          data = {...obj,...this.$refs.jd.form}
        break
      }
      axios.post(this.$_ + url,qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success(res.data.msg)
          this.$emit('close')
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _getDetails(fid){
      axios.post(this.$_ + '/Agp/Fxsgenzong/get_registerview',qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          _getClueList(this,res.data.data.data.fillegaladid)
          this.registrationForm = res.data.data.data
          this.flowData = res.data.data.data.flow
          this.attachInfo = res.data.data.data.refiles
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _close(){
      this.$emit('close')
    },
    _uploadSuccess(Obj){
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      this.attachInfo.unshift(obj)
      this.changeAttachInfo.push(obj)
      this.uploading = false
      this.$message({
        message: '附件上传成功',
        type: 'success'
      })
    },
    _uploadProgress(){
      this.uploading = true
    },
    _uploadError(){
      this.$message.error('附件上传失败')
      this.uploading = false
    },
  }
}
</script>
