<template>
  <div class="tui-hui">
    <back-form :innerVisible="innerVisible"
      :backForm="backForm"
      @closePreview="innerVisible = false">
    </back-form>
    <el-card>
      <h4>退回（补正）函 <el-button type="text"
          @click="_formPreview('innerVisible')">预览</el-button>
      </h4>
      <el-form v-model="backForm"
        label-width="110px">
        <el-form-item label="文号：">
          <el-input v-model="backForm.fdnum"></el-input>
        </el-form-item>
        <el-form-item label="涉嫌违法媒介：">
          <el-input v-model="backForm.fdillegalmedianame"></el-input>
        </el-form-item>
        <el-form-item label="转送日期：">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="backForm.fdendtime"
            type="date"
            placeholder="选择日期"
            :default-value="new Date()"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="附件内容：">
          <el-input type="textarea"
            autosize
            v-model="backForm.fdcontent"
            placeholder="1．需要退回（补正）的信息清单2．退回原因/补正要求"></el-input>
        </el-form-item>
        <el-form-item label="联系人：">
          <el-input v-model="backForm.fdpersonname"></el-input>
        </el-form-item>
        <el-form-item label="联系电话：">
          <el-input v-model="backForm.fdpersonmobile"></el-input>
        </el-form-item>
        <el-form-item label="发文单位：">
          <el-input v-model="backForm.fdreleasecompany"></el-input>
        </el-form-item>
        <el-form-item label="退回日期：">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="backForm.fdbacktime"
            type="date"
            placeholder="选择日期"
            :default-value="new Date()"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import backForm from './tablePreview/backForm'
export default {
  components: {
    backForm
  },
  data() {
    return {
      backForm: {
        fdnum: '',
        fdillegalmedianame: '',
        fdendtime: this.$dayjs().format('YYYY年MM月DD日'),
        fdcontent: '',
        fdpersonmobile: '',
        fdpersonname: '',
        fdbacktime: this.$dayjs().format('YYYY年MM月DD日'),
        fdreleasecompany: this.$store.state.userInfo.regulatorpname
      },
      innerVisible: false
    }
  },
  methods: {
    _formPreview() {
      this.innerVisible = true
    },
  }
}
</script>
