<template>
  <div class="yi-jiao">
    <clue-transfer-table
      :innerVisible="innerVisible"
      :transferForm="transferForm"
      @closePreview="innerVisible = false">
    </clue-transfer-table>
    <el-card>
      <h4>涉嫌违法广告线索移交通知书 <el-button type="text"  @click="_formPreview('innerVisible')">预览</el-button></h4>
      <el-form :model="transferForm" label-width="80px" >
        <el-form-item label="文号">
          <el-input v-model="transferForm.fdnum" placeholder="例：[2017] 157"></el-input>
        </el-form-item>
        <el-form-item label="移交机关">
          <el-select
            v-model="transferForm.fwaitregulatorid"
            placeholder="请选择"
            style="width:100%"
            @change="_setRegName">
            <el-option
              v-for="item in sameTregulator"
              :key="item.fid"
              :label="item.fname"
              :value="item.fid">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="线索">
          <el-input type="textarea" v-model="transferForm.fdtillegalad"></el-input>
        </el-form-item>
        <el-form-item label="附件">
          <el-select clearable multiple v-model="selectedList" placeholder="请选择" style="width:100%" @change="_setAttach">
            <el-option
              v-for="item in selectAttach"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
          <el-input type="textarea" autosize style="margin-top:10px" v-model="transferForm.fdfiletext"></el-input>
        </el-form-item>
        <el-form-item label="联系人">
          <el-input v-model="transferForm.fdpersonname"></el-input>
        </el-form-item>
        <el-form-item label="联系电话">
          <el-input v-model="transferForm.fdpersonmobile"></el-input>
        </el-form-item>
        <el-form-item label="反馈日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="transferForm.fdendtime"
            type="date"
            placeholder="选择日期"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="发文单位">
          <el-input v-model="transferForm.fdreleasecompany"></el-input>
        </el-form-item>
        <el-form-item label="移交日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="transferForm.fdmovetime"
            type="date"
            placeholder="选择日期"
            :default-value="new Date()"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import clueTransferTable from './tablePreview/clueTransferTable'
export default {
  components: {
    clueTransferTable
  },
  props: ['selectAttach','sameTregulator'],
  data(){
    return {
      //涉嫌违法广告线索移交通知书预览
      innerVisible: false,
      //涉嫌违法广告线索移交通知书
      transferForm: {
        fwaitregulatorid: '',
        fdnum: '',
        fdwaitregulatorname: '',
        fdendtime: this.$dayjs().format('YYYY年MM月DD日'),
        fdtillegalad: '',
        fdpersonmobile: '',
        fdpersonname: '',
        fdmovetime: this.$dayjs().format('YYYY年MM月DD日'),
        fdfiletext: '',
        fdreleasecompany: this.$store.state.userInfo.regulatorpname
      },
      attachInfos: [],
      selectedList: []
    }
  },
  methods:{
    _formPreview(){
      this.innerVisible = true
    },
    _setRegName(val){
      let obj = this.sameTregulator.filter(item => {
        return item.fid === val
      })
      this.transferForm.fdwaitregulatorname = obj[0].fname
    },
    _setAttach(){
      this.transferForm.fdfiletext = this.selectedList.join('\n')
    }
  }
}
</script>
