<template>
  <div class="zhuan-song">
    <transfer-self-table
      :innerVisible="innerVisible"
      :transferSelfForm="transferSelfForm"
      @closePreview="innerVisible = false">
    </transfer-self-table>
    <el-card>
      <h4>涉嫌违法广告线索转送书 <el-button type="text"  @click="_formPreview('innerVisible')">预览</el-button></h4>
      <el-form :model="transferSelfForm" label-width="80px" >
        <el-form-item label="文号">
          <el-input v-model="transferSelfForm.fdnum" placeholder="例：[2017] 157"></el-input>
        </el-form-item>
        <el-form-item label="转送机关">
          <el-select v-model="transferSelfForm.fwaitregulatorid" placeholder="请选择" style="width:100%">
            <el-option
              v-for="item in sameTregulator"
              :key="item.fid"
              :label="item.fname"
              :value="item.fid">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="违法广告">
          <el-select clearable multiple v-model="selectedAd" placeholder="请选择" style="width:100%" @change="_setArea('fdtillegalad',selectedAd)">
            <el-option
              v-for="item in clueList"
              :key="item.data.fadid"
              :label="item.data.fadname"
              :value="item.data.fadname">
            </el-option>
          </el-select>
          <el-input type="textarea" autosize style="margin-top:10px" v-model="transferSelfForm.fdtillegalad"></el-input>
        </el-form-item>
        <el-form-item label="联系人">
          <el-input v-model="transferSelfForm.fdpersonname"></el-input>
        </el-form-item>
        <el-form-item label="联系电话">
          <el-input v-model="transferSelfForm.fdpersonmobile"></el-input>
        </el-form-item>
        <el-form-item label="附件">
          <el-select clearable multiple v-model="selectedList" placeholder="请选择" style="width:100%" @change="_setArea('fdfiletext',selectedList)">
            <el-option
              v-for="item in selectAttach"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
          <el-input type="textarea" autosize style="margin-top:10px" v-model="transferSelfForm.fdfiletext"></el-input>
        </el-form-item>
        <el-form-item label="发文单位">
          <el-input v-model="transferSelfForm.fdreleasecompany"></el-input>
        </el-form-item>
        <el-form-item label="转送日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="transferSelfForm.fdmovetime"
            type="date"
            placeholder="选择日期"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import transferSelfTable from './tablePreview/transferSelfTable'
export default {
  props: ['selectAttach','clueList','sameTregulator'],
  components: {
    transferSelfTable
  },
  data(){
    return {
      //涉嫌违法广告线索转送书预览
      innerVisible: false,
      //涉嫌违法广告线索转送书
      transferSelfForm:{
        fdnum: '',
        fwaitregulatorid: '',
        fdtillegalad: '',
        fdpersonname: '',
        fdpersonmobile: '',
        fdmovetime: this.$dayjs().format('YYYY年MM月DD日'),
        fdfiletext: '',
        fdreleasecompany: this.$store.state.userInfo.regulatorpname
      },
      selectedList: [],
      selectedAd: []
    }
  },
  methods: {
    _formPreview(){
      this.innerVisible = true
    },
    _setArea(str,arr){
      this.transferSelfForm[str] = arr.join('\n')
    }
  }
}
</script>

