html{
  height: 100%;
  overflow: auto;
}
body{
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
#app{
  opacity: 0;
  .el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: rgba(70, 160,	252, 0.4);
  }
  .el-table__body tr.current-row>td{
    background-color: rgba(70, 160,	252, 0.5);
  }
  .last-upload{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
  }
  .submit-line{
    margin-bottom: 10px;
  }
  .add-line{
    margin-top: 10px;
  }
  .error{
    display: inline-block;
  }
  .pull-right{
    float: right;
  }
  .filename{
    padding-left: 10px;
  }
  .paperInfo /deep/ .el-form-item{
    margin-bottom: 0;
  }
  .imgView{
    height: calc(100vh - 50px);
    overflow: auto;
    border: 1px solid #eee;
    img{
      width: 100%;
    }
  }
  .paper-info{
    color: red;
    font-weight: bold;
  }
}