html {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

#app {
  opacity: 0;
}

#app .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: rgba(70, 160, 252, 0.4);
}

#app .el-table__body tr.current-row > td {
  background-color: rgba(70, 160, 252, 0.5);
}

#app .last-upload {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

#app .submit-line {
  margin-bottom: 10px;
}

#app .add-line {
  margin-top: 10px;
}

#app .error {
  display: inline-block;
}

#app .pull-right {
  float: right;
}

#app .filename {
  padding-left: 10px;
}

#app .paperInfo /deep/ .el-form-item {
  margin-bottom: 0;
}

#app .imgView {
  height: calc(100vh - 50px);
  overflow: auto;
  border: 1px solid #eee;
}

#app .imgView img {
  width: 100%;
}

#app .paper-info {
  color: red;
  font-weight: bold;
}
