<template>
  <div class="clue-list main-bg"
    v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="广告名称：">
            <el-input v-model="form.fadname"
              placeholder="请输入广告名称"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="媒体类型：">
            <el-select v-model="form.fmediaclass"
              placeholder="请选择"
              style="width:100%">
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                {{item.label}}
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.adClassOptions"
              change-on-select
              :props="$store.state.propsOptions"
              v-model="fadclasscode"
              clearable>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="违法类型：">
            <el-select :style="searchStyle"
              v-model="form.fillegaltypecode"
              clearable
              placeholder="请选择">
              <el-option v-for="item in $store.state.leagalOptions"
                :key="item.fcode"
                :label="item.fillegaltype"
                :value="item.fcode">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="2">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList()"
              icon="el-icon-search">搜 索</el-button>
            <el-button class="pull-right"
              type="primary"
              plain
              icon="el-icon-circle-check-outline"
              @click="_batchSame"
              v-if="false">批量一致</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column type="index"
        fixed
        width="50">
      </el-table-column>
      <el-table-column width="100px"
        label="省局意见">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showAttach(scope.row,'20')">{{scope.row.tshengj_result}}</el-button>
          <div v-if="scope.row.tshengj_result">{{scope.row.tshengj_username}}</div>
          <div v-if="scope.row.tshengj_result">{{scope.row.tshengj_time}}</div>
        </template>
      </el-table-column>
      <el-table-column width="100px"
        label="市局意见">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showAttach(scope.row,'10')">{{scope.row.tshij_result}}</el-button>
          <div v-if="scope.row.tshij_result">{{scope.row.tshij_username}}</div>
          <div v-if="scope.row.tshij_result">{{scope.row.tshij_time}}</div>
        </template>
      </el-table-column>
      <el-table-column width="100px"
        label="县局意见">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showAttach(scope.row,'0')">{{scope.row.tquj_result}}</el-button>
          <div v-if="scope.row.tquj_result">{{scope.row.tquj_username}}</div>
          <div v-if="scope.row.tquj_result">{{scope.row.tquj_time}}</div>
        </template>
      </el-table-column>
      <el-table-column label="媒体分类">
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.mclass]}}
        </template>
      </el-table-column>
      <el-table-column prop="ffullname"
        label="广告类别">
      </el-table-column>
      <el-table-column prop="fadname"
        label="广告名称">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体">
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="100">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_recheck(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <review :data="reviewData"
      v-if="showReview"
      from="task"
      @close="_close">
    </review>
    <attach-dialog v-if="showAttach"
      :zjfjdata="zjfjdata"
      @close="showAttach = false">
    </attach-dialog>
  </div>
</template>
<script>
import axios from "axios"
import qs from "qs"
import review from "./common/review"
import upload from "../Ggsjzx/common/upload"
import attachDialog from "../Ggsjzx/Investigation/components/attachDialog"
import { Tree } from '../../../static/js/Tree'
export default {
  components: {
    review,
    upload,
    attachDialog
  },
  data() {
    return {
      searchStyle: { width: "100%" },
      showTask: false,
      form: {
        fadname: "",
        fmediaclass: "",
        page: 1,
        fillegaltypecode: "",
        fadclasscode: '',
        fissuedate: ''
      },
      formLabelWidth: "80px",
      countAll: '0',
      tableData: [],
      loading: true,
      fadclasscode: [],
      selectValue: '同意',
      showReview: false,
      reviewData: {},
      changeAttachInfo: [],
      attachInfo: [],
      bloading: false,
      showUpload: false,
      showAttach: false,
      zjfjdata: [],
      searchDate: []
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (Object.keys(vm.$route.params).length) {
        vm.form = { ...vm.form, ...vm.$route.params }
      }
    })
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      let data = { ...this.form }
      data.fadclasscode = this.fadclasscode.length ? this.fadclasscode[this.fadclasscode.length - 1] : ''
      data.fissuedatest = this.searchDate[0] || ''
      data.fissuedateed = this.searchDate[1] || ''
      axios.post(this.$_ + '/Agp/Ffuhe/getfuhetask', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.tshij_time) {
                item.tshij_time = item.tshij_time.substring(0, 10)
              }
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _recheck(item) {
      this.reviewData = item
      this.showReview = true
    },
    _batchSame() {
      if (!this.multipleSelection.length) {
        this.$message.error('请先勾选复核任务！')
        return false
      }
      this.$confirm('是否要批量通过已勾选的复核任务？', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Ffuhe/selupdatefuhetask', qs.stringify({ selfid: this.multipleSelection }))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._getList(this.form.page)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '操作已取消'
        });
      });
    },
    _selectionChange(val) {
      this.multipleSelection = []
      val.forEach(item => {
        this.multipleSelection.push(item.fid)
      })
    },
    _reCheck() {
      this.showUpload = true;
    },
    _close(val) {
      this.showTask = false
      this.showReview = false
      if (val) {
        this._getList()
      }
      this.$store.dispatch('_getDB', `${this.$route.name}|${val?val:this.activeTab || '1'}`)
    },
    _close2() {
      this.attachInfo = [];
      this.changeAttachInfo = [];
      this.showUpload = false;
    },
    _uploadSuccess(Obj) {
      let file = Obj.file;
      let obj = {};
      obj.fattachname = file.name;
      obj.fattachurl = Obj.url + file.response.key;
      this.attachInfo.unshift(obj);
      this.changeAttachInfo.push(obj);
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
          this.changeAttachInfo = this.changeAttachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    _showAttach(obj, lv) {
      let data = {
        fupload_trelevel: lv,
        fid: obj.fid
      }
      axios.post(this.$_ + '/Agp/Ffuhe/fjjieguo', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.zjfjdata = res.data.zjfjdata
            this.showAttach = true
          }
        })
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType
    }
  }
}
</script>
<style lang="scss" scoped>
.clue-list {
  .el-table {
    margin-bottom: 10px;
  }
}
</style>



