<template>
  <div class="sjfuhe main-bg"
    v-loading="loading">
    <g-search :button="true" ref="gsearch"
      @search="_getList"></g-search>
    <sjfhcl ref="sjfhcl"
      :isbs="true"
      v-if="activeTab === '1'"></sjfhcl>
  </div>
</template>

<script>
import GSearch from "./../Ggsjzx/common/GSearch"
import sjfhcl from '../Ggsjzx/Investigation/components/sjfhcl'
export default {
  components: {
    sjfhcl,
    GSearch
  },
  data() {
    return {
      activeTab: '1',
      loading: false
    }
  },
  methods: {
    _getList() {
      this.$refs.sjfhcl._getList()
    }
  }
}
</script>

<style scoped>
</style>