<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="//publichz.oss-cn-hangzhou.aliyuncs.com/taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="//publichz.oss-cn-hangzhou.aliyuncs.com/VueViewer/viewer.css">
  <title>客户应用数据管理</title>
  <style>
    body{
      background-color: #fff;
    }
    #app{
      display: none;
      padding: 8px;
    }
    .el-dialog .el-form .el-form-item{
      margin-bottom: 0;
    }
    .copied{
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div id="app" v-loading="loading" ref="app">
    <el-form :model="form" ref="form" label-width="80px">
      <el-row :gutter="20">
        <el-col :span="6">
          <el-form-item label="媒介名称:">
            <el-input v-model="form.fmedianame"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="媒介机构:">
            <el-input v-model="form.fmediaownername"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="广告名称:">
            <el-input v-model="form.fadname"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="广告主:">
            <el-input v-model="form.fadowner"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-form-item label="品牌:">
            <el-input v-model="form.fbrand"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="代言人:">
            <el-input v-model="form.fspokesman"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="地区:">
            <el-cascader style="width: 50%" :options="regiontree" v-model="area" change-on-select clearable>
            </el-cascader>
            <el-switch v-model="form.this_region_id" active-text="仅本级" active-value="true" inactive-value="false">
            </el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="发布日期:">
            <el-date-picker v-model="issDate" style="width:100%" type="daterange" range-separator="至" start-placeholder="开始日期"
              value-format="yyyy-MM-dd" :picker-options="pickerOptions" end-placeholder="结束日期" :clearable="false">
            </el-date-picker>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-form-item label="广告类别:">
            <el-cascader style="width: 100%" :options="adclass" v-model="adclasscode" change-on-select clearable>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="发布时长:">
            <el-input-number v-model="form.adlength_min" placeholder="最小值" style="width: 100px"></el-input-number> -
            <el-input-number v-model="form.adlength_max" placeholder="最大值" style="width: 100px"></el-input-number> 秒
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="媒介类型:">
            <el-radio-group v-model="form.mediatype">
              <el-radio-button label="">全部</el-radio-button>
              <el-radio-button :label="key" :key="key" v-for="(value,key) in mjlx">{{value}}</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="违法类型:">
            <el-radio-group v-model="form.fillegaltypecode">
              <el-radio-button label="">全部</el-radio-button>
              <el-radio-button :label="key" :key="key" v-for="(value,key) in wflx">{{value}}</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-form-item label="客户id:">
            <el-input v-model="form.forgid"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="">
          <el-col :span="24">
            <el-button type="primary" @click="getList(1)" icon="el-icon-search" style="float:right">搜索</el-button>
          </el-col>
        </el-form-item>
      </el-row>
    </el-form>
    <el-row>
      <el-table :data="tabelData" border>
        <el-table-column type="index" width="50">
        </el-table-column>
        <el-table-column prop="fmedianame" label="发布媒介">
        </el-table-column>
        <el-table-column prop="fadname" label="广告名称">
        </el-table-column>
        <el-table-column prop="adclasscode" label="广告类别">
        </el-table-column>
        <el-table-column label="违法类型">
          <template slot-scope="scope">
            {{wflx[scope.row.fillegaltypecode]}}
          </template>
        </el-table-column>
        <el-table-column prop="issuedate" label="发布日期">
        </el-table-column>
        <el-table-column prop="starttime" label="发布时间">
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template slot-scope="scope">
            <el-button type="primary" @click="show(scope.row)" icon="el-icon-view">详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background @size-change="sizeChange" @current-change="getList" :current-page="form.page" :page-sizes="[20, 50, 100]"
        :page-size="form.pagesize" layout="total, prev, pager, next,jumper, sizes" :total="allCount">
      </el-pagination>
    </el-row>
    <el-dialog :title="details.fadname" :visible.sync="dialogVisible" width="70%" center :before-close="dialogClose">
      <el-form label-width="140px" size="mini" label-position="right">
        <el-form-item :label="key+':'" :key="key" v-for="(value,key) in details">
          <el-tooltip effect="dark" :content="copy?'已复制!':'点击复制'" placement="right">
            <span class="copied" :data-clipboard-text="value" @click="hide">{{value}}</span>
          </el-tooltip>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/taskInput/element-ui/2.4.0/index.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/axios/axios.min.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/axios/qs.min.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/VueViewer/viewer.js"></script>
  <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/VueViewer/v-viewer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="/Public/js/formatDate.js"></script>
  <script>
    var REGIONTREE = {:json_encode($getRegionTree,true)} || ''
    var ADCLASS = {:json_encode($getAdClassArr,true)} || ''
  </script>
  <script src="/Application/Admin/View/Issue/js/customer_issue.js?v=123"></script>
</body>

</html>