<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>广告发布管理</title>

  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

  <link rel="shortcut icon" href="favicon.ico">


	  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/font-awesome.min.css" rel="stylesheet">
	  <link href="{:C('PUBLIC_RESOURCE')}hPlus/css/animate.min.css" rel="stylesheet">
	  <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
	  <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
	  <link rel="stylesheet" href="/Application/Admin/View/Issue/zongju/zongjuList.css">
	  <link rel="stylesheet" href="/Application/Admin/View/Issue/zongju/adInfo.css">
	  
	


  
  <style>
    .el-card__body{
      display: flex;
      flex-wrap: wrap;
      color: #606266;
    }
    .dateText{
      margin: 10px;
    }
    .wrapper{
      min-height: 95vh;
    }
    .table-wrapper{
      margin-top: 10px;
    }
    .mediaList .el-button{
      margin: 5px;
    }
    body{
      background-color: #fff;
    }
  </style>
</head>

<body>
  <div class="wrapper wrapper-content animated fadeInRight" id="app" v-loading="loading">
    <div>
      <el-button type="primary" @click="openConditionPage">生成抽查任务</el-button>
      <el-button type="primary" class="J_menuItem2" title="抽查计划" href="/Admin/issue/taskList" title2="抽查计划">抽查计划</el-button>
      <el-button type="primary" class="pull-right" @click="spotCheck">地方抽查管理</el-button>
    </div>
    <div class="table-wrapper">
      <el-table :data="tableData" border stripe>
        <el-table-column label="月份">
          <template slot-scope="scope">
            {{ scope.row.fmonth | monthFilter}}
          </template>
        </el-table-column>
        <el-table-column label="状态" prop="dmp_confirm_state_text">
        </el-table-column>
        <el-table-column width="600" label="操作">
          <template slot-scope="scope">
            <el-button type="primary" size="mini" v-if="scope.row.dmp_confirm_state == 0" @click="confirmTask(scope.row.fid)">DMP确认</el-button>
            <el-button @click="editDates(scope.row)" type="primary" icon="el-icon-edit" size="mini" v-if="scope.row.dmp_confirm_state == 0">修改条件</el-button>
            <el-button @click="dmpConfirmLog(scope.row.fid)" type="info" size="mini" plain>DMP确认日志</el-button>
            <el-button @click="dataGather(scope.row.fid)" v-if="scope.row.dmp_confirm_state == 0">开始数据汇总</el-button>
            <span v-if="scope.row.gather_group">汇总进度: {{scope.row.gatherRate}}</span>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination layout="total, prev, pager, next" @current-change="pageChange" :page-size="10" :current-page="page"
        :total="total">
      </el-pagination>
    </div>
    <el-dialog :title="taskType === 'add' ? '新增抽查任务' : '修改抽查任务'" :visible.sync="showAdd" :modal="false" :before-close="closeAdd"
      width="90%">
      <date-manager :task-type="taskType" :fid="editId" @close-condition="closeAdd" ref="conditionPage"></date-manager>
    </el-dialog>
  </div>
  <script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
  <script src="/Application/Admin/View/Public/common.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}hPlus/laydate/laydate.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/layer/3.1.0/layer.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
  <script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
  <script src="/Application/Admin/View/Issue/zongju/dateManager.js"></script>
  <script>
    Vue.prototype.$ELEMENT = {
      size: 'mini',
      zIndex: 3000
    }
    var vm = new Vue({
      el: '#app',
      components: {
        dateManager,
      },
      data: {
        showAdd: false,
        tableData: [],
        page: 1,
        total: 0,
        loading: false,
        taskType: 'add',
        editId: '',
        showDmpConfirmPage: false,
        showZjConfirmPage: false,
        currentTaskId: '',
      },
      created: function () {
        this.getTable()
      },
      methods: {
        getTable: function () {
          this.loading = true
          var vm = this
          $.post('', {
            page: this.page
          }, function (res) {
            if (res.code == 0) {
              vm.tableData = res.data
              vm.total = +res.total
            } else {
              vm.$message.error('网络错误')
            }
            vm.loading = false
          })
        },
        pageChange: function (page) {
          this.page = page
          this.getTable()
        },
        openConditionPage: function () {
          this.showAdd = true
        },
        closeAdd: function () {
          this.showAdd = false
          this.editId = null
          this.taskType = 'add'
          this.$nextTick(() => {
            this.$refs['conditionPage'].dataInit()
          });
          this.getTable()
        },
        dmpConfirmLog: function (id) {
          layer.open({
            title: 'DMP确认记录',
            type: 2,
            content: 'zongjuConfirmLog?id=' + id + '&type=1',
            area: ['500px', '50%']
          });
        },
        editDates: function (row) {
          this.editId = row.fid
          this.taskType = 'edit'
          this.showAdd = true
          this.$nextTick(() => {
            this.$refs['conditionPage'].getInfo()
          });
        },
        closeDmpConfirmPage: function () {
          this.currentTaskId = null
          this.showDmpConfirmPage = false
          this.getTable()
        },
        openDmpConfirmPage: function (id) {
          this.currentTaskId = id
          this.showDmpConfirmPage = true
          this.$nextTick(() => {
            this.$refs['dmpConfirm'].myCreated()
          });
        },
        confirmTask: function (fid) {
          this.$confirm('DMP确认?').then(() => {
            this.loading = true
            $.post('confirmTask', {
              fid
            }).then((res) => {
              this.loading = false
              if (res.code == 0) {
                this.$message.success(res.msg)
              } else {
                this.$message.error(res.msg)
              }
              this.searchReq();
            })
          }).catch(() => {})
        },
        dataGather: function (fid) {
          this.$confirm('确认开始数据汇总?').then(() => {
            this.loading = true
            $.post('startDataGather', {
              fid
            }).then((res) => {
              this.loading = false
              if (res.code == 0) {
                this.$message.success(res.msg)
                this.getTable()
              } else {
                this.$message.error(res.msg)
              }
            })
          }).catch(() => {})
        },
        spotCheck: function () {
          location.assign('/Admin/issue/spotCheck')
        }
      },
      filters: {
        monthFilter: function (value) {
          var arr = value.split('-')
          arr.pop()
          return arr.join('-')
        }
      }
    })
  </script>
</body>

</html>