<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>样本管理</title>

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{:C('PUBLIC_RESOURCE')}viewer-master/viewer.min.css" rel="stylesheet">
    <link href="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/index.css?sdf=f">
    <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskList.css">
    <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/taskInfo.css">
    <link rel="stylesheet" href="/Application/TaskInput/View/TraditionAd/css/netAdTask.css">
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
    <link rel="stylesheet" href="/Public/videojs/video-js.min.css">
    <style>
        .btnArea button{
            display: none;
        }
    </style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content" id="app" v-loading="loading">
    <el-form
    :inline="true"
    :model="where"
    ref="whereForm"
    @keyup.enter.native="search"
    >
        <el-row>
            <el-col :span="6">
                <el-form-item label="广告名称" prop="adName">
                    <el-input v-model="where.adName" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="媒介类型" prop="media_class">
                    <el-select v-model="where.media_class" clearable>
                        <el-option
                            v-for="item in mediaClassArr"
                            :key="item.text"
                            :label="item.text"
                            :value="item.value"
                            >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="违法类型" prop="fillegaltypecode">
                    <el-select v-model="where.fillegaltypecode" clearable>
                        <el-option
                            v-for="item in illegalTypeArr"
                            :key="item.text"
                            :label="item.text"
                            :value="item.value"
                            >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="广告类别" prop="adClass">
                    <el-cascader
                            filterable
                            :options="adClassArr"
                            v-model="searchTempWhere.searchAdClassArr1"
                            change-on-select
                            clearable
                    ></el-cascader>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6">
                <el-form-item label="媒体名称" prop="mediaName">
                    <el-input v-model="where.mediaName" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="地区" prop="regionId" class="regionSearch">
                    <el-cascader
                            v-model="searchTempWhere.region"
                            :options="regionTree"
                            change-on-select
                            :filterable="true"
                            clearable
                    ></el-cascader>
                    <el-checkbox v-model="searchTempWhere.onlyThisLevel">只搜索本级</el-checkbox>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6">
                <el-form-item label="修改人">
                    <el-autocomplete
                            v-model="where.wx_id"
                            :fetch-suggestions="searchAlias"
                            clearable
                    ></el-autocomplete>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="商业类别">
                    <el-cascader
                            filterable
                            :options="adClassTree"
                            v-model="searchTempWhere.searchAdClassArr2"
                            change-on-select
                            :filterable="true"
                            clearable
                    ></el-cascader>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="媒体标签">
                    <el-autocomplete
                            v-model="where.mediaLabel"
                            :fetch-suggestions="searchMediaLabel"
                            clearable
                    ></el-autocomplete>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12">
                <el-form-item prop="timeRangeArr" label="发布日期">
                    <el-date-picker
                            v-model="where.timeRangeArr"
                            type="daterange"
                            range-separator="至"
                            start-placeholder="开始发布日期"
                            end-placeholder="结束发布日期"
                            value-format="yyyy-MM-dd"
                            format="yyyy-MM-dd"
                            clearable
                    >
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="更新时间">
                    <el-date-picker
                            v-model="where.timeRangeArr2"
                            type="daterange"
                            range-separator="至"
                            start-placeholder="开始更新时间"
                            end-placeholder="结束更新时间"
                            value-format="yyyy-MM-dd"
                            format="yyyy-MM-dd"
                            clearable
                    >
                    </el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="广告id">
                    <el-input v-model="where.fadid" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item class="text-right">
                    <el-button type="primary" @click="search">搜索</el-button>
                    <el-button @click="resetForm('whereForm')">重置</el-button>
                    <el-button @click="openModifyPage('ad')">修改广告信息</el-button>
                    <el-button @click="openModifyPage('illegal')">修改违法判定信息</el-button>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <el-table
            :data="tableData"
            border
            :row-class-name="tableRowClassName"
            @selection-change="selectRow"
            style="width: 100%">
        <el-table-column
                type="selection"
                width="40">
        </el-table-column>
        <el-table-column
                label="广告名称"
                width="200"
                fixed
        >
            <template slot-scope="scope">
                <span v-html="scope.row.fadname"></span>
            </template>
        </el-table-column>
        <el-table-column
                width="170"
                label="广告类别"
                prop="ffullname"
        >
        </el-table-column>
        <el-table-column
                width="170"
                label="商业类别"
                prop="adClassV2"
        >
        </el-table-column>
        <el-table-column
                label="广告主"
                prop="adOwnerName"
        >
        </el-table-column>
        <el-table-column
                label="广告品牌"
                prop="fbrand"
        >
        </el-table-column>
        <el-table-column
                width="170"
                label="媒体名称"
        >
            <template slot-scope="scope">
                <span v-html="scope.row.fmedianame"></span>
            </template>
        </el-table-column>
        <el-table-column
                label="违法类型">
            <template slot-scope="scope">
                {{scope.row.fillegaltypecode | illegalTypeFilter}}
            </template>
        </el-table-column>
        <el-table-column label="时长(s)" prop="fadlen" show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="fissuedate"
                width="100"
                label="发布日期">
        </el-table-column>
        <el-table-column
                prop="fissuedate"
                width="100"
                label="更新时间">
        </el-table-column>
        <el-table-column
                prop="fcreator"
                label="创建人">
        </el-table-column>
        <el-table-column
                prop="fmodifier"
                label="修改人">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                width="50">
            <template slot-scope="scope">
                <el-button type="text" size="small" @click="openTaskInfo(scope.row)">详情</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            @size-change="pageSizeChange"
            @current-change="pageChange"
            :current-page="page"
            :page-sizes="[10 ,50, 100, 200, 400]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
    </el-pagination>
    <el-dialog
            title="任务详情"
            :visible="showTaskInfo"
            @close="closeTaskInfo"
            width="90%"
    >
        <task-info :task="taskInfo" ref="task" @next="closeTaskInfo" @back="closeTaskInfo"></task-info>
    </el-dialog>
    <el-dialog
            title="修改任务"
            :visible="showModifyTaskAdInfo"
            @close="closeTaskInfo"
            width="90%"
    >
        <ad-info-input-area @submit="submitAdInfo"></ad-info-input-area>
    </el-dialog>
    <el-dialog
            title="修改任务"
            :visible="showModifyTaskIllegalInfo"
            @close="closeTaskInfo"
            width="90%"
    >
        <illegal-info-input-area @submit="submitIllegalInfo"></illegal-info-input-area>
    </el-dialog>
</div>
<script src="{:C('PUBLIC_RESOURCE')}jquery/jquery-3.1.1.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}viewerjs-master-js/viewer.min.js"></script>
<!--<script src="{:C('PUBLIC_RESOURCE')}taskInput/vue/2.5.16/vue.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/element-ui/2.4.0/index.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/moment.js/2.22.1/moment.min.js"></script>
<script src="{:C('PUBLIC_RESOURCE')}taskInput/layer/3.1.0/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
<script src="/Public/js/wangEditor.min.js"></script>
<script src="/Public/videojs/video.min.js"></script>
<script>
    var illegalTypeArr = {$illegalTypeArr};
    var type = 'review';
    var role = 'admin'
    var adClassArr = {$adClassArr};
    var adClassTree = {$adClassTree};
    var regionTree = {$regionTree};
    var illegalArr  = {$illegalArr};
</script>
<script src="/Application/Admin/View/Sample/js/taskInfo.js"></script>
<script src="/Application/TaskInput/View/TraditionAd/js/taskBatchModify/adInfoInputArea.js"></script>
<script src="/Application/TaskInput/View/TraditionAd/js/taskBatchModify/illegalInfoInputArea.js"></script>
<script src="/Application/Admin/View/Sample/js/taskList.js?ff=1233342s1"></script>

</body>

</html>