html{
  height: 100%;
  overflow: auto;
}
body{
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
#app{
  opacity: 0;
  &/deep/.el-switch__label.is-active {
    color: #606266;
 }
}