<template>
  <div class="select-dates">
    <el-form label-width="90px">
      <el-form-item label="选择日期：">
        <el-date-picker :editable="false" type="dates"
          ref="select"
          v-model="v"
          :disabled="disabled"
          :picker-options="pickerOptions"
          value-format="yyyy-MM-dd"
          :default-value="defaultValue"
          placeholder="选择一个或多个日期"
          @change="change($event)"
          @blur="showtag = true"
          @focus="showtag = false;v.sort().sort()">
        </el-date-picker>
      </el-form-item>
    </el-form>
    <div class="tag-border">
      <el-tag class="date-tag"
        type="primary"
        size="middle"
        closable
        v-if="showtag"
        @close="_delete(item)"
        v-for="(item,index) in v"
        :key="index">{{item}}</el-tag>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      v: this.value || [],
      showtag: true
    }
  },
  mounted() {
    if(!this.value.length){
      this.$nextTick(() => {
        this._focus()
      })
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: Array,
    duringTime: Array,
    defaultValue: String,
    disabled: Boolean,
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  },
  methods: {
    _focus() {
      this.$refs.select.focus()
    },
    _blur() {
      this.$refs.select.blur()
    },
    change($event){
      this.$emit('change', $event)
    },
    _delete(obj) {
      this.$emit('delete',obj)
    },
  },
  computed: {
    pickerOptions() {
      let [start,end] = this.duringTime
      let option = {
        disabledDate: (time) => {
          return time.getTime() < new Date(start).getTime() || time.getTime() > new Date(end).getTime()
        }
      }
      return option
    }
  }
}
</script>

<style scoped>
.tag-border{
  height: 200px;
  padding: 10px 0px 10px 10px;
  border: 1px solid #ccc;
}
</style>