<template>
  <div class="spot-check">
    <el-dialog title="新建抽查计划"
      :visible.sync="show"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      center
      width="90%"
      :before-close="()=>$emit('close')">
        <div class="operating-line">
          <el-row :gutter="10">
            <el-form ref="form"
              label-width="0px">
              <el-col :span="10">
                <el-form-item label="抽查时段：" label-width="100px">
                  <el-date-picker :editable="false"
                    style="width:100%"
                    v-model="cctime"
                    :picker-options="pickerOptions"
                    type="daterange"
                    range-separator="至"
                    @change="setMonth"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    align="right"
                    :clearable="false"
                    value-format="yyyy-MM-dd"
                    @focus="minDate = null">
                  </el-date-picker>
                </el-form-item>
                </el-col>
                <el-col :span="10">
                <el-form-item label="指定日期：" label-width="100px">
                  <el-date-picker :editable="false"
                    v-model="Dates"
                    style="width:100%"
                    :picker-options="pickerOptions2"
                    placeholder="指定日期"
                    type="dates"
                    :default-value="this.cctime[0]"
                    clearable
                    @change="dateSelected"
                    value-format="yyyy-MM-dd">
                  </el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="4">
                <el-form-item>
                  <el-tooltip effect="dark" content="按周及星期均匀分布" placement="top">
                    <el-button type="primary"
                      icon="el-icon-menu"
                      :disabled="!cctime.length"
                      @click="_getDate(randomData)">随机</el-button>
                  </el-tooltip>
                </el-form-item>
              </el-col>
              <el-col :span="10">
                <el-form-item label="任务单号：" label-width="100px">
                  <el-input v-model="taskForm.taskno" placeholder="" style="width:100%;"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="10">
                <el-form-item label="经办人：" label-width="100px">
                  <el-input v-model="taskForm.jingbanren" placeholder="" style="width:100%;"></el-input>
                </el-form-item>
                </el-col>
            </el-form>
          </el-row>
        </div>
        <el-row>
          <el-col :span="8">
            <div></div>
          </el-col>
          <el-col :span="8">
            <div></div>
          </el-col>
          <el-col :span="8">
            <div></div>
          </el-col>
        </el-row>
        <table class="random-table" cellspacing="0">
          <tr>
            <th style="width:30px">类型</th>
            <th class="tabel-th">电视</th>
            <th class="tabel-th">广播</th>
            <th class="tabel-th">报纸</th>
          </tr>
          <tr>
            <th>抽查天数</th>
            <td class="text-center"><el-input-number size="mini" :min="1" :max="28" v-model="randomData.tvRandom" @change="setNumber"></el-input-number></td>
            <td class="text-center"><el-input-number size="mini" :min="1" :max="28" v-model="randomData.bcRandom" @change="setNumber"></el-input-number></td>
            <td class="text-center"><el-input-number size="mini" :min="1" :max="28" v-model="randomData.paperRandom" @change="setNumber"></el-input-number></td>
          </tr>
          <tr>
            <th>抽查日期</th>
            <td>
              <Calendar
                ref="Calendar1"
                :canChoose="false"
                :showToday="false"
                :agoDayHide="agoDayHide"
                :futureDayHide="futureDayHide"
                :markDateMore="tvSelected"
                @choseDay="val => false"/>
            </td>
            <td>
              <Calendar
                ref="Calendar2"
                :canChoose="false"
                :showToday="false"
                :agoDayHide="agoDayHide"
                :futureDayHide="futureDayHide"
                :markDateMore="bcSelected"
                @choseDay="val => false"/>
            </td>
            <td>
              <Calendar
                ref="Calendar3"
                :canChoose="false"
                :showToday="false"
                :agoDayHide="agoDayHide"
                :futureDayHide="futureDayHide"
                :markDateMore="paperSelected"
                @choseDay="val => false"/>
            </td>
          </tr>
        </table>
      <span slot="footer"
        v-if="cctime">
        <div class="tip_box">
          <div>
            <span class="color_block" style="background: #71c7a5;"></span>指定日期
          </div>
          <div>
            <span class="color_block" style="background: #409eff;"></span>随机日期
          </div>
        </div>
        <el-button type="primary"
          @click="createWord">下载任务单</el-button>
        <el-button type="primary"
          @click="submit">保存任务单</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Calendar from 'vue-mark-calendar'
import axios from 'axios'
import qs from 'qs'
export default {
  components:{ Calendar },
  props: {
    data: {
      default: {},
      type: Object
    }
  },
  data() {
    return {
      show: true,
      cctime: [],
      Dates: [],
      taskForm: {
        jingbanren: '',
        taskno: ''
      },
      agoDayHide: '',
      futureDayHide: '',
      randomData: {
        tvRandom: 3,
        bcRandom: 3,
        paperRandom: 3,
        tvDate: '',
        bcDate: '',
        paperDate: '',
      },
      tvSelected:[],
      bcSelected:[],
      paperSelected:[],
      tip:{
        tvTip: false,
        bcTip: false,
        paperTip: false,
        tvTipMsg: '',
        bcTipMsg: '',
        paperTipMsg: '',
      },
      mediaType: ['tv', 'bc', 'paper'],
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        },
      },
      pickerOptions2: {
        disabledDate: (time) => {
            let [start,end] = this.cctime
            return time.getTime() < (+new Date(start) - 3600 * 24 * 1000) || time.getTime() > +new Date(end)
        },
      },
    }
  },
  watch: {
    cctime(val){
      let [fstarttime,fendtime] = val
      this.agoDayHide = String(+new Date(fstarttime)/1000 - 3600 * 24)
      this.futureDayHide = String(+new Date(fendtime)/1000)
    }
  },
  created() {
    this.getDuringDate()
    let randomData = JSON.parse(localStorage.getItem('randomData'))
    if(randomData){
      this.randomData = {...this.randomData,...randomData}
    }
  },
  methods: {
    submit() {
      let [ fstarttime,fendtime ] = this.cctime
      let tvDate = this.tvSelected
      let bcDate = this.bcSelected
      let paperDate = this.paperSelected
      if(!tvDate.length || !bcDate.length || !paperDate.length){
        this.$func._error('每项至少选择一天')
        return false
      }
      let condition = {
        tv: tvDate.map(item => {
          return this.fixDate(item.date,'/','-')
        }),
        bc: bcDate.map(item => {
          return this.fixDate(item.date,'/','-')
        }),
        paper: paperDate.map(item => {
          return this.fixDate(item.date,'/','-')
        })
      }
      let data = {
        fstarttime,
        fendtime,
        condition,
        ...this.taskForm,
        gdtime: [...this.Dates].map(i => this.$dayjs(i).format('DD'))
      }
      axios.post(this.$_ + '/Agp/Gdataconfirm/create_rnplan',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success(res.data.msg)
          this.$emit('success')
        }else{
          this.$func._error(res.data)
        }
      })
    },
    fixDate(date,a='-',b='/'){
      let d = date.split(a).join(b)
      return this.$dayjs(d).format(`YYYY${b}MM${b}DD`)
    },
    selectDay(date,name){
      let arr = [...this[name + 'Selected']]
      let _date = this.fixDate(date)
      // 筛选出日期相同的元素
      let item = arr.filter(i => {
        return this.fixDate(i.date) === _date
      })
      if(item.length){
        this[name + 'Selected'] = arr.filter(i => {
          return this.fixDate(i.date) !== _date
        })
        // 如果相同日期的项不是手动添加的，则将它转换为手动添加的项
        if(item[0].className !== 'selected_date'){
          this[name + 'Selected'].push({
            date: _date,
            className: 'selected_date'
          })
        }
      }else{
        this[name + 'Selected'].push({
          date: _date,
          className: 'selected_date'
        })
      }
    },
    setMonth(){
      let start = this.cctime[0]
      this.$refs.Calendar1.ChoseMonth(start,false)
      this.$refs.Calendar2.ChoseMonth(start,false)
      this.$refs.Calendar3.ChoseMonth(start,false)
      this.tvSelected = []
      this.bcSelected = []
      this.paperSelected = []
      this.Dates = []
    },
    getDuringDate(){
      axios.get(this.$_ + '/Agp/Gdataconfirm/create_rnplan')
      .then(res => {
        let {fstarttime, fendtime} = res.data
        this.cctime = [fstarttime, fendtime]
        this.taskForm.taskno = `广监任${new Date().getFullYear()}年第〔 ${res.data.taskno} 〕号`
        this.taskForm.jingbanren = res.data.jingbanren
        this.setMonth()
      })
    },
    setNumber(){
      let data = {
        tvRandom: this.randomData.tvRandom,
        bcRandom: this.randomData.bcRandom,
        paperRandom: this.randomData.paperRandom
      }
      localStorage.setItem('randomData',JSON.stringify(data))
    },
    _getDate(data) {
      let [sttime, edtime] = this.cctime
      let str = sttime.substring(0,8)
      this.mediaType.forEach(i => {
        let _data = {
          cccount: data[i + 'Random'],
          sttime,
          edtime,
          gdtime: [...this.Dates].map(i => this.$dayjs(i).format('DD'))
        }
        this.getPlan(_data, i+'Selected')
      })
    },
    getPlan(data = {},name){
      axios.post(this.$_ + '/Agp/Gdataconfirm/create_rndday', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if(data.cccount){
              let selected = this[name].filter(i => i.className === 'selected_date').map(i => {
                i.date = this.fixDate(i.date)
                return i
              })
              let mapArr = [...selected].map(i => i.date)
              this[name] = selected
              res.data.data.forEach(i => {
                let date = this.fixDate(i)
                if(!mapArr.includes(date)){
                  this[name].push({
                    className: 'random_selected_date',
                    date,
                  })
                }
              })
            }else{
              let stime = res.data.data.shift()
              let endtime = res.data.data.pop()
              this.cctime = [stime,endtime]
            }
          } else {
            this.$func._error(res.data)
          }
        })
    },
    dateSelected(dates){
      let _dates = dates.map(i => this.fixDate(i))
      new Promise((resolve, reject) => {
        let random = this.tvSelected.length || this.bcSelected.length || this.paperSelected.length
        this.mediaType.forEach(i => {
          this[i + 'Selected'] = this[i + 'Selected'].filter(v => {
            return (!_dates.includes(v.date) && v.className !== 'selected_date')
          })
          _dates.forEach(e => {
            this[i + 'Selected'].push({
              date: e,
              className: 'selected_date'
            })
          })
        })
        random ? resolve() : reject()
      }).then(res => {
        this.$message.info('指定日期有变，重新进行随机')
        this._getDate(this.randomData)
      }).catch(() => {})
    },
    createWord(obj){
      let [ fstarttime,fendtime ] = this.cctime
      let tvDate = this.tvSelected
      let bcDate = this.bcSelected
      let paperDate = this.paperSelected
      if(!tvDate.length || !bcDate.length || !paperDate.length){
        this.$func._error('每项至少选择一天')
        return false
      }
      let data = {
        fstarttime,
        fendtime,
        condition: {
          tv: tvDate.map(i => {
            return Number(i.date.substring(7))
          }).sort((a,b) => a - b).join('、'),
          bc: bcDate.map(i => {
            return Number(i.date.substring(7))
          }).sort((a,b) => a - b).join('、'),
          paper: paperDate.map(i => {
            return Number(i.date.substring(7))
          }).sort((a,b) => a - b).join('、'),
        },
        ...this.taskForm,
      }
      axios.post(this.$_ + '/Agp/Gdataconfirm/create_planword',qs.stringify(data)).then(res => {
        if(res.data.code === 0){
          let a = document.createElement('a')
          a.target = '_blank'
          a.href=res.data.data
          a.click()
        }
      })
    }
  },
}
</script>

<style lang="scss" scoped>
.spot-check {
  .tip{
    font-size: 12px;
    height: 14px;
  }
  .tip_box{
    display: flex;
    float: left;
    vertical-align: middle;
    position: absolute;
    .color_block{
      display: inline-block;
      vertical-align: middle;
      height: 16px;
      width: 20px;
      margin-left: 10px;
      margin-right: 4px;
    }
  }
  .random-table{
    width: 100%;
    border: 1px solid #ebeef5;
    border-bottom: none;
    border-right: none;
    .tabel-th{
      width: 100px;
    }
    th,td{
      border-bottom: 1px solid #ebeef5;
      border-right: 1px solid #ebeef5;
      padding: 10px;
    }
  }
}
</style>
<style>
.random_selected_date .wh_item_date_text{
  background-color: #409eff !important;
  color: #fff !important;
  border-radius: 50%;
}
.selected_date .wh_item_date_text{
  background: #71c7a5 !important;
  color: #fff !important;
  border-radius: 50%;
}
</style>